<% if @rule %>
<div class="modal-head">
  <h2 class="rule-title">
    <%= @rule.name %>
  </h2>
  <% unless @rule.ready? %>
    <div class="rule-status">
      <% if @rule.beta? %>
        <span><%= message('rules.status.beta') %></span>
      <% elsif @rule.deprecated? %>
        <span><%= message('rules.status.deprecated') %></span>
      <% end %>
    </div>
  <% end %>
  <ul class="modal-head-metadata">
    <li><%= @rule.plugin_name -%> : <%= @rule.plugin_rule_key -%></li>
  </ul>
</div>

<div class="modal-body rule_detail">
  <% if @rule.description.strip.start_with?('<p>') %>
    <%= Internal.text.interpretMacros(@rule.description) %>
  <% else %>
    <p><%= Internal.text.interpretMacros(@rule.description) %></p>
  <% end %>

  <% if @rule.note && !@rule.note.text.strip.blank? %>
    <p><%= @rule.note.html_text -%></p>
  <% end %>
</div>

<% else %>
<div class="modal-body">
  <p class="error"><%= message('rules.not_found', :params => @key) %>
</div>
<% end %>

<div class="modal-foot">
  <input type="button" value="<%= h message('close') -%>" onclick="return closeModalWindow()">
</div>

<script type="text/javascript">
  $j(document).ready(function () {
    // As links in rule description will be loaded after open-modal has been processed by jquery, we have to process manually rule-modal classes
    $j('.rule_detail .rule-modal').modal()
  });
</script>
