<div class="rule-desc">
  <h1 class="marginbottom10">{{name}}</h1>
  <div class="marginbottom10">{{{htmlDesc}}}</div>
  {{#if htmlNote}}<div class="marginbottom10">{{{htmlNote}}}</div>{{/if}}
</div>

<ul class="note code-issue-bar">
  <li>{{key}}</li>
  {{#all debtCharName debtSubCharName}}
    <li>{{debtCharName}} > {{debtSubCharName}}</li>
  {{else}}
    <li>{{t 'issue.technical_debt_deleted'}}</li>
  {{/all}}
</ul>
