<tr class="component-viewer-header">
  {{#if settings.coverage}}
    <th class="stat"></th>
    <th class="stat"></th>
  {{/if}}
  {{#if settings.duplications}}
    <th class="stat"></th>
  {{/if}}
  <th>
    <button class="button-clean button-full-size"><i class="icon-list"></i></button>
  </th>
  <th class="component-viewer-header-main">
    <div class="component-viewer-header-measure component-viewer-header-measure-main">
      <span class="component-viewer-header-measure-value">{{component.measures.ncloc.frmt_val}}</span>
      <span class="component-viewer-header-measure-label">{{t 'metric.ncloc.name'}}</span>
    </div>
    <div class="component-viewer-header-measure">
      <span class="component-viewer-header-measure-value">{{component.measures.lines.frmt_val}}</span>
      <span class="component-viewer-header-measure-label">{{t 'metric.lines.name'}}</span>
    </div>
    <div class="component-viewer-header-measure">
      <span class="component-viewer-header-measure-value">{{component.measures.functions.frmt_val}}</span>
      <span class="component-viewer-header-measure-label">{{t 'metric.functions.name'}}</span>
    </div>
    <div class="component-viewer-header-measure">
      <span class="component-viewer-header-measure-value">{{component.measures.accessors.frmt_val}}</span>
      <span class="component-viewer-header-measure-label">{{t 'metric.accessors.name'}}</span>
    </div>
    <div class="component-viewer-header-measure">
      <span class="component-viewer-header-measure-value">{{component.measures.classes.frmt_val}}</span>
      <span class="component-viewer-header-measure-label">{{t 'metric.classes.name'}}</span>
    </div>
    <div class="component-viewer-header-filter">
      <button class="button-clean">
        <i class="icon-period"></i>
        <i class="icon-dropdown"></i>
      </button>
      <span class="component-viewer-header-measure-label">Time changes</span>
    </div>
  </th>
</tr>