{{#if component.measures.fIssues}}
  <div class="component-viewer-header-expanded-bar-section">
    <div class="component-viewer-header-expanded-bar-section-title">
      {{t 'component_viewer.measure_section.severities'}}
    </div>
    <ul class="component-viewer-header-expanded-bar-section-list">
      {{#each component.severities}}
        <li><a class="item js-filter-{{this.[0]}}-issues">
          <span>{{severityIcon this.[0]}} {{t 'severity' this.[0]}}</span>
          <span class="number">{{this.[2]}}</span>
          <i class="icon-chevron-right"></i>
        </a></li>
      {{/each}}
    </ul>
  </div>
{{/if}}

{{#if component.measures.fIssues}}
  <div class="component-viewer-header-expanded-bar-section">
    <div class="component-viewer-header-expanded-bar-section-title">
      {{t 'component_viewer.measure_section.rules'}}
    </div>
    <ul class="component-viewer-header-expanded-bar-section-list">
      {{#each component.rules}}
        <li><a class="item js-filter-rule" data-rule="{{this.[0]}}" title="{{this.[1]}}">
          <span>{{this.[1]}}</span>
          <span class="number">{{this.[2]}}</span>
          <i class="icon-chevron-right"></i>
        </a></li>
      {{/each}}
    </ul>
  </div>
{{/if}}

<div class="component-viewer-header-expanded-bar-section">
  <div class="component-viewer-header-expanded-bar-section-title">
    {{t 'component_viewer.measure_section.issues'}}
  </div>
  <ul class="component-viewer-header-expanded-bar-section-list">
    {{#if currentIssue}}
      <li><a class="item js-filter-current-issue">
        <span>{{t 'component_viewer.issues.current_issue'}}</span>
        <i class="icon-chevron-right"></i>
      </a></li>
    {{/if}}
    {{#if component.measures.fIssues}}
      <li><a class="item js-filter-unresolved-issues">
        <span>{{t 'component_viewer.issues.unresolved_issues'}}</span>
        <span class="number">{{component.measures.fIssues}}</span>
        <i class="icon-chevron-right"></i>
      </a></li>
    {{/if}}
    {{#if component.measures.fIssues}}
      <li><a class="item js-filter-fixed-issues">
        <span>{{t 'component_viewer.issues.fixed_issues'}}</span>
        <i class="icon-chevron-right"></i>
      </a></li>
    {{/if}}
    <li><a class="item js-filter-false-positive-issues">
      <span>{{t 'component_viewer.issues.false_positive_issues'}}</span>
      <span class="number">{{component.msr.false_positive_issues}}</span>
      <i class="icon-chevron-right"></i>
    </a></li>
  </ul>
</div>

{{#if component.canBulkChange}}
  <div class="component-viewer-header-expanded-bar-section component-viewer-header-expanded-bar-section-actions">
    <div class="component-viewer-header-expanded-bar-section-title">&nbsp;</div>
    <ul class="component-viewer-header-expanded-bar-section-list">
      <li><a class="link-action js-issues-bulk-change">
        <span><i class="icon-bulk-change"></i> {{t 'bulk_change'}}</span>
      </a></li>
    </ul>
  </div>
{{/if}}