<div class="component-viewer-header-expanded-bar-section">
  <div class="component-viewer-header-expanded-bar-section-title">Rules</div>
  <ul class="component-viewer-header-expanded-bar-section-list">
    <li><a class="item">
      <span>Array designators "[]" should be located after the type in method signatures</span>
      <span class="number">2</span>
    </a></li>
    <li><a class="item">
      <span>Avoid Array Loops</span>
      <span class="number">1</span>
    </a></li>
    <li><a class="item">
      <span>Useless Operation On Immutable</span>
      <span class="number">4</span>
    </a></li>
  </ul>
</div>
<div class="component-viewer-header-expanded-bar-section">
  <ul class="component-viewer-header-expanded-bar-section-list">
    <li><a class="item">
      <span><i class="icon-severity-blocker"></i> {{t 'severity.BLOCKER'}}</span>
      <span class="number">{{component.measures.blocker_issues}}</span>
    </a></li>
    <li><a class="item">
      <span><i class="icon-severity-critical"></i> {{t 'severity.CRITICAL'}}</span>
      <span class="number">{{component.measures.critical_issues}}</span>
    </a></li>
    <li><a class="item">
      <span><i class="icon-severity-major"></i> {{t 'severity.MAJOR'}}</span>
      <span class="number">{{component.measures.major_issues}}</span>
    </a></li>
    <li><a class="item">
      <span><i class="icon-severity-minor"></i> {{t 'severity.MINOR'}}</span>
      <span class="number">{{component.measures.minor_issues}}</span>
    </a></li>
    <li><a class="item">
      <span><i class="icon-severity-info"></i> {{t 'severity.INFO'}}</span>
      <span class="number">{{component.measures.info_issues}}</span>
    </a></li>
  </ul>
</div>
<div class="component-viewer-header-expanded-bar-section">
  <ul class="component-viewer-header-expanded-bar-section-list">
    <li><a class="item">
      <span>Current issue</span>
    </a></li>
    <li><a class="item">
      <span>False Positive</span>
      <span class="number">3</span>
    </a></li>
  </ul>
</div>