{{#if component.measures.fIssues}}
  <div class="component-viewer-header-expanded-bar-section">
    <div class="component-viewer-header-expanded-bar-section-title">Severities</div>
    <ul class="component-viewer-header-expanded-bar-section-list">
      {{#if component.msr.blocker_violations}}
        <li><a class="item js-filter-blocker-issues">
          <span><i class="icon-severity-blocker"></i> {{t 'severity.BLOCKER'}}</span>
          <span class="number">{{component.msr.blocker_violations}}</span>
          <i class="icon-chevron-right"></i>
        </a></li>
      {{/if}}
      {{#if component.msr.critical_violations}}
        <li><a class="item js-filter-critical-issues">
          <span><i class="icon-severity-critical"></i> {{t 'severity.CRITICAL'}}</span>
          <span class="number">{{component.msr.critical_violations}}</span>
          <i class="icon-chevron-right"></i>
        </a></li>
      {{/if}}
      {{#if component.msr.major_violations}}
        <li><a class="item js-filter-major-issues">
          <span><i class="icon-severity-major"></i> {{t 'severity.MAJOR'}}</span>
          <span class="number">{{component.msr.major_violations}}</span>
          <i class="icon-chevron-right"></i>
        </a></li>
      {{/if}}
      {{#if component.msr.minor_violations}}
        <li><a class="item js-filter-minor-issues">
          <span><i class="icon-severity-minor"></i> {{t 'severity.MINOR'}}</span>
          <span class="number">{{component.msr.minor_violations}}</span>
          <i class="icon-chevron-right"></i>
        </a></li>
      {{/if}}
      {{#if component.msr.info_violations}}
        <li><a class="item js-filter-info-issues">
          <span><i class="icon-severity-info"></i> {{t 'severity.INFO'}}</span>
          <span class="number">{{component.msr.info_violations}}</span>
          <i class="icon-chevron-right"></i>
        </a></li>
      {{/if}}
    </ul>
  </div>
{{/if}}

{{#if component.measures.fIssues}}
  <div class="component-viewer-header-expanded-bar-section">
    <div class="component-viewer-header-expanded-bar-section-title">Rules</div>
    <ul class="component-viewer-header-expanded-bar-section-list">
    </ul>
  </div>
{{/if}}

<div class="component-viewer-header-expanded-bar-section">
  <div class="component-viewer-header-expanded-bar-section-title">Issues</div>
  <ul class="component-viewer-header-expanded-bar-section-list">
    <li><a class="item js-filter-current-issue">
      <span>Current Issue</span>
      <i class="icon-chevron-right"></i>
    </a></li>
    {{#if component.measures.fIssues}}
      <li><a class="item js-filter-unresolved-issues">
        <span>Unresolved Issues</span>
        <span class="number">{{component.measures.fIssues}}</span>
        <i class="icon-chevron-right"></i>
      </a></li>
    {{/if}}
    {{#if component.msr.false_positive_issues}}
      <li><a class="item js-filter-false-positive-issues">
        <span>False Positive</span>
        <span class="number">{{component.msr.false_positive_issues}}</span>
        <i class="icon-chevron-right"></i>
      </a></li>
    {{/if}}
  </ul>
</div>

<a class="component-viewer-header-expanded-bar-bulk-change js-issues-bulk-change">
  <i class="icon-bulk-change"></i> Bulk Change
</a>