{{#with component.measures}}
  <div class="component-viewer-header-expanded-bar-section">
    <div class="component-viewer-header-expanded-bar-section-title">
      {{t 'component_viewer.measure_section.size'}}
    </div>
    <ul class="component-viewer-header-expanded-bar-section-list">
      {{{componentViewerHeaderItem lines 'lines'}}}
      {{{componentViewerHeaderItem ncloc 'ncloc'}}}
    </ul>
  </div>

  <div class="component-viewer-header-expanded-bar-section">
    <div class="component-viewer-header-expanded-bar-section-title">
      {{t 'component_viewer.measure_section.complexity'}}
    </div>
    <ul class="component-viewer-header-expanded-bar-section-list">
      {{{componentViewerHeaderItem complexity 'complexity'}}}
      {{{componentViewerHeaderItem function_complexity 'function_complexity'}}}
    </ul>
  </div>

  <div class="component-viewer-header-expanded-bar-section">
    <div class="component-viewer-header-expanded-bar-section-title">
      {{t 'component_viewer.measure_section.structure'}}
    </div>
    <ul class="component-viewer-header-expanded-bar-section-list">
      {{{componentViewerHeaderItem classes 'classes'}}}
      {{{componentViewerHeaderItem functions 'functions'}}}
      {{{componentViewerHeaderItem accessors 'accessors'}}}
      {{{componentViewerHeaderItem statements 'statements'}}}
    </ul>
  </div>

  <div class="component-viewer-header-expanded-bar-section">
    <div class="component-viewer-header-expanded-bar-section-title">
      {{t 'component_viewer.measure_section.documentation'}}
    </div>
    <ul class="component-viewer-header-expanded-bar-section-list">
      {{{componentViewerHeaderItem comment_lines 'comment_lines'}}}
      {{{componentViewerHeaderItem comment_lines_density 'comment_lines_density'}}}
      {{{componentViewerHeaderItem public_api 'public_api'}}}
      {{{componentViewerHeaderItem public_undocumented_api 'public_undocumented_api'}}}
      {{{componentViewerHeaderItem public_documented_api_density 'public_documented_api_density'}}}
    </ul>
  </div>
{{/with}}