<form id="pass_form_tag" name="pass_form_tag" method="post" action="<%= ApplicationController.root_context -%>/account/change_password">
  <div class="modal-head">
    <h2><%= message('my_profile.password.title') -%></h2>
  </div>

  <div class="modal-body">
    <div class="modal-field">
      <label for="old_password"><%= message('my_profile.password.old') -%>:</label>
      <%= password_field_tag 'old_password', nil, {:autocomplete => 'off', :required => ''} %>
    </div>
    <div class="modal-field">
      <label for="password"><%= message('my_profile.password.new') -%>:</label>
      <%= password_field_tag 'password', nil, {:autocomplete => 'off', :required => ''} %>
    </div>
    <div class="modal-field">
      <label for="password_confirmation"><%= message('my_profile.password.confirm') -%>:</label>
      <%= password_field_tag 'password_confirmation', nil, {:autocomplete => 'off', :required => ''} %>
    </div>
  </div>

  <div class="modal-foot">
    <%= submit_tag message('my_profile.password.submit') %>
    <%= link_to message('cancel'), { :controller => 'account', :action => 'index' } %>
  </div>

</form>
