<form id="update-key-confirmation-form" autocomplete="off">
  <div class="modal-head">
    <h2>{{t 'update_key.page'}}</h2>
  </div>
  <div class="modal-body">
    <div class="js-modal-messages"></div>
    {{tp 'update_key.are_you_sure_to_change_key' component.name}}
    <div class="spacer-top">
      <div class="display-inline-block text-right" style="width: 80px;">
        {{t 'update_key.old_key'}}:
      </div>
      <div class="display-inline-block">
        {{component.key}}
      </div>
    </div>
    <div class="spacer-top">
      <div class="display-inline-block text-right" style="width: 80px;">
        {{t 'update_key.new_key'}}:
      </div>
      <div class="display-inline-block">
        {{newKey}}
      </div>
    </div>
  </div>
  <div class="modal-foot">
    <i class="js-modal-spinner spinner spacer-right hidden"></i>
    <button id="update-key-confirm">{{t 'update_verb'}}</button>
    <a href="#" class="js-modal-close">{{t 'cancel'}}</a>
  </div>
</form>
