<h3 class="marginbottom10"><%= message('server_key_configuration.page') -%></h3>

<% if @server_key %>
  <p>Server Key: <span class="notice"><b><%= @server_key -%></b></span></p>
<% else %>
<% end %>
<p>
  Speech sur l'utilité de la clé....
</p>

<% form_tag :action => :save do %>
  <table class="data marginbottom10">
    <thead>
    <tr>
      <th></th>
    </tr>
    </thead>
    <tfoot>
    <% if @server_key %>
    <tr>
      <td colspan="3">
        <span class="warning">Changing configuration can disable your SonarSource commercial licenses. You'll have to renew them.</span>
      </td>
    </tr>
    <% end %>
    <tr>
      <td colspan="3">
        <%= submit_tag message('server_key_configuration.generate_button'), :disable_with => message('server_key_configuration.generating_button') %>
      </td>
    </tr>
    </tfoot>
    <tbody>
    <tr class="even">
      <td style="padding:  10px">
        <h3>Organization</h3>
        <p class="marginbottom10">The organization is ....</p>
        <p>
          <input type="text" name="organization" value="<%= @organization -%>"/>
        </p>
      </td>
    </tr>
    <tr class="odd">
      <td style="padding:  10px">
        <h3>Fixed IP Address</h3>
        <p class="marginbottom10">The IP address is .... Choose one of the following:</p>
        <ul class="marginbottom10 bullet">
            <% @valid_addresses.each_with_index do |ip_address, index| %>
            <li><span class="address_<%= index -%>"><%= ip_address.getHostAddress() -%></span></li>
            <% end %>
          </ul>
        <p>
          <input type="text" name="address" value="<%= @address -%>"/>
        </p>
      </td>
    </tr>
    </tbody>
  </table>
<% end %>