<div id="coverage_header" class="tab_header">
  <table class="col">
    <tr>
      <td class="big"><%= format_measure('coverage', :default => '-') -%></td>
    </tr>
  </table>

  <table class="col">
    <% if m=measure('line_coverage') %>
      <tr>
        <td class="name">Line coverage:</td>
        <td class="value"><%= format_measure(m) -%></td>
      </tr>
    <% end %>
    <% if m=measure('uncovered_lines') %>
      <tr>
        <td class="name">Uncovered lines:</td>
        <td class="value"><%= format_measure(m) -%> / <%= format_measure('lines_to_cover') -%></td>
      </tr>
    <% end %>
  </table>

  <table class="col">
    <% if m=measure('branch_coverage') %>
      <tr>
        <td class="name">Branch coverage:</td>
        <td class="value"><%= format_measure(m) -%></td>
      </tr>
    <% end %>
    <% if m=measure('uncovered_conditions') %>
      <tr>
        <td class="name">Uncovered conditions:</td>
        <td class="value"><%= format_measure(m) -%> / <%= format_measure('conditions_to_cover') -%></td>
      </tr>
    <% end %>
  </table>

  <div class="clear"></div>
</div>

