<div id="source_header" class="tab_header">
  <table class="col">
    <% if m=measure('lines') %>
      <tr>
        <td class="name">Lines:</td>
        <td class="value"><%= format_measure(m) -%></td>
      </tr>
    <% end %>
    <% if m=measure('ncloc') %>
      <tr>
        <td class="name">Lines of code:</td>
        <td class="value"><%= format_measure(m) -%></td>
      </tr>
    <% end %>
    <% if m=measure('functions') %>
      <tr>
        <td class="name">Methods:</td>
        <td class="value"><%= format_measure(m) -%></td>
      </tr>
    <% end %>
    <% if m=measure('accessors') %>
      <tr>
        <td class="name">Accessors:</td>
        <td class="value"><%= format_measure(m) -%></td>
      </tr>
    <% end %>
    <% if m=measure('paragraphs') %>
      <tr>
        <td class="name">Paragraphs:</td>
        <td class="value"><%= format_measure(m) -%></td>
      </tr>
    <% end %>
  </table>

  <table class="col">
    <% if m=measure('statements') %>
      <tr>
        <td class="name">Statements:</td>
        <td class="value"><%= format_measure(m) -%></td>
      </tr>
    <% end %>
    <% if m=measure('complexity') %>
      <tr>
        <td class="name">Complexity:</td>
        <td class="value"><%= format_measure(m) -%></td>
      </tr>
    <% end %>
    <% if m=measure('function_complexity') %>
      <tr>
        <td class="name">Complexity/method:</td>
        <td class="value"><%= format_measure(m) -%></td>
      </tr>
    <% end %>
    <% if m=measure('paragraph_complexity') %>
      <tr>
        <td class="name">Complexity/paragraph:</td>
        <td class="value"><%= format_measure(m) -%></td>
      </tr>
    <% end %>
  </table>

  <table class="col">
    <% if m=measure('comment_lines_density') %>
      <tr>
        <td class="name">Comments:</td>
        <td class="value"><%= format_measure(m) -%></td>
      </tr>
    <% end %>
    <% if m=measure('comment_lines') %>
      <tr>
        <td class="name">Comment lines:</td>
        <td class="value"><%= format_measure(m) -%></td>
      </tr>
    <% end %>
    <% if m=measure('commented_out_code_lines') %>
      <tr>
        <td class="name">Commented-out LOC:</td>
        <td class="value"><%= format_measure(m) -%></td>
      </tr>
    <% end %>
    <% if m=measure('comment_blank_lines') %>
      <tr>
        <td class="name">Blank comments:</td>
        <td class="value"><%= format_measure(m) -%></td>
      </tr>
    <% end %>
  </table>

  <table class="col">
    <% if m=measure('public_documented_api_density') %>
      <tr>
        <td class="name">Public documented API:</td>
        <td class="value"><%= format_measure(m) -%></td>
      </tr>
    <% end %>
    <% if m=measure('public_undocumented_api') %>
      <tr>
        <td class="name">Public undocumented API:</td>
        <td class="value"><%= format_measure(m) -%></td>
      </tr>
    <% end %>
    <% if m=measure('public_api') %>
      <tr>
        <td class="name">Public API:</td>
        <td class="value"><%= format_measure(m) -%></td>
      </tr>
    <% end %>
  </table>

  <table class="col">
    <% if m=measure('classes') %>
      <tr>
        <td class="name">Classes:</td>
        <td class="value"><%= format_measure(m) -%></td>
      </tr>
    <% end %>
    <% if m=measure('noc') %>
      <tr>
        <td class="name">Number of Children:</td>
        <td class="value"><%= format_measure(m) -%></td>
      </tr>
    <% end %>
    <% if m=measure('dit') %>
      <tr>
        <td class="name">Depth in Tree:</td>
        <td class="value"><%= format_measure(m) -%></td>
      </tr>
    <% end %>
    <% if m=measure('rfc') %>
      <tr>
        <td class="name">Response for Class (RFC):</td>
        <td class="value"><%= format_measure(m) -%></td>
      </tr>
    <% end %>
  </table>

  <%= render :partial => 'options' -%>
</div>

