<%= render :partial => 'tabs' -%>

<% if @extension.isGwt() %>

  <% if request.xhr? %>
    <div id="gwtpage"> </div>
    <script>loadGWT('<%= @extension.getId() -%>',<%= @resource.id -%>,'<%= @resource.key -%>', '<%= @resource.name -%>', '<%= @resource.scope -%>', '<%= @resource.qualifier -%>', '<%= @resource.language -%>');</script>

  <% else %>
    <%= render :partial => 'gwt/base', :locals => {:resource => @resource, :popup => false, :metric => nil} -%>
    <%= render :partial => 'gwt/resource_viewers' -%>

    <div id="gwtpage"> </div>
    <!-- for SmartGWT -->
    <script>var isomorphicDir = "<%= "#{ApplicationController.root_context}/deploy/gwt/#{@extension.getId()}" -%>/sc/";</script>
    <script src="<%= ApplicationController.root_context -%>/deploy/gwt/<%= @extension.getId() -%>/<%= @extension.getId() -%>.nocache.js?<%= sonar_version -%>"></script>
  <% end %>
  
<% else # ruby on rails page %>
  <%= render :inline => @page.getTemplate() %>
<% end %>