<%= render :partial => 'tabs' -%>

<%= render :partial => "browse/header_#{@extension.getId()}" -%>


<% if @display_violations && @global_violations && @global_violations.size>0 -%>
  <table id="global_violations" cellpadding="0" cellspacing="0" border="0">
    <% @global_violations.each do |violation| %>
      <tr>
        <td><%= render :partial => 'violation', :locals => {:violation => violation} -%></td>
      </tr>
    <% end %>
  </table>
<% end %>

<div id="source_options">
  <script>
    applyOptions=function() {
      $('resource-loading').show();
      <% if request.xhr? %>
        var params = Form.serialize($('options-form'));
        new Ajax.Updater('resource_container', '<%= url_for :controller => 'browse', :id => @resource.key -%>', {asynchronous:true, parameters:params});
        return true;
      <% else %>
        $('options-form').submit();
        return false;
      <% end %>
    };
  </script>
  <form method="GET" action="<%= url_for :controller => 'browse', :id => @resource.key -%>" id="options-form">
    <input type="hidden" name="tab" value="<%= params[:tab] -%>"/>
    <input type="hidden" name="metric" value="<%= params[:metric] -%>"/>
    <% if @scm_available %>
      <input type="checkbox" value="true" name="scm" id="scm" <%= 'checked' if @display_scm -%> onclick="applyOptions()"/>
      <label for="scm">Authors</label>
    <% end %>

    <% if @snapshot.project_snapshot.periods? %>
      <select id="period" name="period" class="small" onchange="applyOptions()">
        <option value="">Time changes...</option>
        <%= period_select_options(@snapshot, 1) -%>
        <%= period_select_options(@snapshot, 2) -%>
        <%= period_select_options(@snapshot, 3) -%>
        <%= period_select_options(@snapshot, 4) -%>
        <%= period_select_options(@snapshot, 5) -%>
      </select>
    <% end %>

    <% if @expandable %>
      <input type="checkbox" value="true" name="expand" id="expand" <%= 'checked' if @expanded -%> onclick="applyOptions()"/>
      <label for="expand">Expand</label>
    <% end %>

    <%= render :partial => 'rules_filter' if @display_violations -%>
  </form>
</div>

<% if @lines && @lines.size>0 %>
<table id="sources" class="sources2 code" cellpadding="0" cellspacing="0" border="0">
  <%
    current_revision=nil
    colspan=2
    colspan+=1 if @display_scm
    colspan+=1 if @display_violations
    colspan+=2 if @display_coverage
    previous_hidden=false
    first_section=true
    @lines.each_with_index do |line, index|
      if line.hidden
        previous_hidden=true
        next
      end

      if previous_hidden && !first_section
       current_revision=nil
%>
  <tr>
    <td colspan="<%= colspan -%>" class="new_section"> </td>
  </tr>
<%
      end
      previous_hidden=false
      first_section=false

      status=hits_status=conditions_status=''
      if @display_coverage && line.hits
        hits_status=(line.hits>0 ? 'ok' : 'ko')
        if line.conditions && line.conditions>0 && line.covered_conditions
          if line.covered_conditions==0
            status='ko'
            conditions_status='ko'
          elsif line.covered_conditions==line.conditions
            status=''
            conditions_status='ok'
          else
            conditions_status='warn'
            status='warn'
          end
        elsif line.hits
          status=(line.hits>0 ? '' : 'ko')
        end
      elsif @display_violations
        status="sev#{line.violation_severity}"
      end
  %>
  <tr>
    <% if @display_scm
         if current_revision!=line.revision
           current_revision=line.revision
           title = "Revision #{h(line.revision)} (#{l(line.datetime)})"
    %>
            <td class="scm revision"><span class="date"><a href="#" title="<%= title -%>" alt="<%= title -%>"><%= l(line.date) -%></a></span> <span class="author"><%= h(line.author) -%></span></td>
    <%   else %>
            <td class="scm"></td>
    <%   end
       end %>
    <% if @display_violations %>
      <td class="rule <%= 'violations section' if line.violations? -%>">
        <% if line.violations?
             line.violations.each_with_index do |violation, violation_index| %>
               <%= '<br/>' if violation_index>0 %>
               <%= render :partial => 'violation', :locals => {:violation => violation} -%>
        <%
             end
           end
        %>
      </td>
    <% end %>
    <td class="lid <%= ' section' if line.violations? -%>" id="L<%= index+1 -%>"><a name="L<%= index+1 -%>" href="#L<%= index+1 -%>"><%= index + 1 -%></a></td>

    <% if @display_coverage  %>
      <td class="ind <%= hits_status -%>"><%= line.hits -%></td>
      <td class="ind <%= conditions_status -%>">
        <% if line.deprecated_conditions_label -%>
          <%= line.deprecated_conditions_label -%>
        <% elsif line.conditions && line.conditions>0 -%>
          <%= line.covered_conditions -%>/<%= line.conditions -%>
        <% end %>
      </td>
    <% end %>
    <td class="line <%= status -%>"><%= line.source -%></td>
  </tr>
  <% end %>
</table>
<% end %>