<table class="data width100" id="<%= monitor.name().parameterize -%>">
    <thead>
    <tr>
      <th colspan="2"><h2><%= h monitor.name() -%></h2></th>
    </tr>
    </thead>
    <tbody>
    <% monitor.attributes().to_hash.each do |attribute_key, attribute_value| %>

      <% if attribute_value.respond_to?(:to_hash)
          attribute_value.to_hash.each do |group_key, group_value|
      %>
        <tr class="<%= cycle('even','odd', :name => monitor.name()) -%>">
          <td width="25%" nowrap="nowrap"><%= h "#{attribute_key} - #{group_key}" -%></td>
          <td width="75%">
            <table>
            <% group_value.to_hash.each do |group_attr_key, group_attr_value| %>
              <tr><td style="padding: 2px 10px 2px 0"><%= h group_attr_key -%></td><td><%= h group_attr_value -%></td></tr>
            <% end %>
            </table>
          </td>
        </tr>
         <% end %>

      <% else %>
        <tr class="<%= cycle('even','odd', :name => monitor.name()) -%>">
          <td width="25%" nowrap="nowrap"><%= h attribute_key -%></td>
          <td width="75%"><%= h attribute_value -%></td>
        </tr>
      <% end %>

    <% end %>
    </tbody>
  </table>
  <br/>
