<tr id="createViolationForm<%= @line -%>">
  <% for index in 0...@colspan %>
    <td class="nothing"></td>
  <% end %>
  <td class="violations">
    <% form_remote_tag :url => "#{ApplicationController.root_context}/resource/create_violation", :failure => "$('errorViolationForm#{@line}').update(request.responseText);$('errorViolationForm#{@line}').show()" do -%>
      <input type="hidden" name="resource" value="<%= params[:resource] -%>">
      <input type="hidden" name="line" value="<%= @line -%>">
      <input type="hidden" name="from" value="<%= @from -%>">

      <div class="violation">
        <div class="vtitle">
          <select name="severity" class="withIcons">
            <% Severity::SEVERITIES.each do |severity| %>
              <option class="sev_<%= severity -%>" value="<%= severity -%>" <%= 'selected' if severity==Severity::MAJOR -%>><%= message("severity.#{severity}") -%></option>
            <% end %>
          </select>
          &nbsp;
          <img src="<%= ApplicationController.root_context -%>/images/sep12.png">
          &nbsp;
          <select id="select-rule-<%= @html_id -%>" name="rule" onkeyup="this.blur();this.focus();" onchange="if ($F(this)=='') {$('new_rule_<%= @html_id -%>').show()} else {$('new_rule_<%= @html_id -%>').hide()}">
            <option value=""><%= message('code_viewer.create_violation.new_rule') -%></option>
            <% unless @rules.empty? %>
              <optgroup label="<%= message('code_viewer.create_violation.rules') -%>">
                <% @rules.each do |rule| %>
                  <option value="<%= rule.id -%>"><%= h rule.name -%></option>
                <% end %>
              </optgroup>
            <% end %>
          </select>

          <input type="text" name="new_rule" size="50" id="new_rule_<%= @html_id -%>">
        </div>

        <div class="discussionComment first">
          <table class="width100">
            <tr>
              <td style="vertical-align:top">
                <textarea rows="5" name="message" style="width: 100%"></textarea>
              </td>
              <td class="sep"></td>
              <td style="vertical-align:top;width: 90px">
                <%= render :partial => 'markdown/help' -%>
              </td>
            </tr>
          </table>
          <div class="error" id="errorViolationForm<%= @line -%>" style="display: none"></div>
          <input type="submit" value="<%= message('code_viewer.create_violation.submit') -%>">
          <a href="#" onclick="return hVF(<%= @line -%>)"><%= message('cancel') -%></a>
        </div>
      </div>
    <% end %>
  </td>
</tr>
<script type="text/javascript">
  Form.Element.activate('select-rule-<%= @html_id -%>');
</script>