<div class="<%= 'expanded' if to_line == from_line + lines_count -1 -%>">
  <%
     if external
       parent_project = resource.project
  %>
    <p>
      <%= qualifier_icon(parent_project) -%>
      <%= link_to_resource(parent_project, parent_project.path_name, {:dashboard => true}) -%>
      &nbsp;&nbsp;
      <%= qualifier_icon(resource) -%>
      <%= link_to_resource(resource, resource.name(true), {:line => from_line}) -%>
      <span id="duplLoading-<%= group_index -%>"></span>
    </p>
  <%
     else
  %>
    <p>
      <%= qualifier_icon(resource) -%>
      <% if resource == original_resource %>
        <%= h resource.name(true) -%>
      <% else %>
        <%= link_to_resource(resource, resource.name(true), {:line => from_line}) -%>
      <% end %>
      <span id="duplLoading-<%= group_index -%>"></span>
    </p>
  <% end %>

  <%= snapshot_html_source(resource.last_snapshot, {:line_range => from_line..to_line}) -%>

  <% if lines_count > ResourceHelper::DUPLICATION_SNIPPET_DEFAULT_NB_OF_LINES %>
    <p class="small">
      <%
         if to_line < from_line + lines_count -1
           link_text = message('duplications.expand')
           included_to_line = from_line + lines_count - 1
         else
           link_text = message('duplications.collapse')
           included_to_line = from_line + ResourceHelper::DUPLICATION_SNIPPET_DEFAULT_NB_OF_LINES - 1
         end
      %>
      <%= link_to_remote link_text,
                         :url => {:action => :show_duplication_snippet, :params => {:id => resource.id, :original_resource_id => original_resource.id, :from_line => from_line, :to_line => included_to_line, :lines_count => lines_count, :group_index => group_index}},
                         :update => "source-#{group_index}",
                         :before => "$('expanding-#{group_index}').addClassName('loading')" -%>
      <span id="expanding-<%= group_index -%>"></span>
    </p>
  <% end %>
</div>