<% if @duplication_groups.empty? %>

  <%= message('duplications.no_duplicated_block') -%>

<% else %>

  <table id="duplicationsTable" class="data max-width">
    <thead>
      <tr>
        <th class="thin nowrap"><%= message('duplications.blocks') -%></th>
        <th class="thin nowrap"><%= message('duplications.number_of_lines') -%></th>
        <th class="thin nowrap"><%= message('duplications.from_line') -%></th>
        <th class="thin nowrap"><%= message('duplications.file') -%></th>
        <th><%= message('duplications.details') -%></th>
        <th class="thin nowrap"></th>
      </tr>
    </thead>
    
    <tbody>
    <% 
      @duplication_groups.each_with_index do |group, group_index|
        group_size = group.size()
        row_style = cycle 'even','odd', :name => ('duplications')
    %>
      <tr class="<%= row_style -%>">
        <td rowspan="<%= group_size+2 -%>" class="center">
          <br/><b><%= group_size -%></b>
        </td>
        <td colspan="4" style="height:2px"></td>
        <td rowspan="<%= group_size+2 -%>"></td>
      </tr>
    <%
        group.each_with_index do |dup, index|
          resource = dup[:resource]
          external = resource.root_id != @resource.root_id
          lines_count = dup[:lines_count].to_i
          from_line = dup[:from_line].to_i
          to_line = from_line + (lines_count > 5 ? 5 : lines_count)
          group_class = "group#{group_index}"
          group_row_class = "row#{group_index}-#{index}"
          source_div = "source-#{group_index}"
          update_snippet_script = "updateDuplicationLines('#{url_for :action => :show_duplication_snippet, :params => {:id => resource.id, :original_resource_id => @resource.id, :from_line => from_line, :lines_count => lines_count, :source_div => source_div}}','#{group_class}', '#{group_row_class}', '#{source_div}', #{lines_count}, #{from_line}, #{to_line});"
    %>
      <tr class="hoverable <%= row_style -%>">        
        <td class="center group-item">
          <div class="<%= group_class -%> <%= group_row_class -%> clickable <%= 'selected' if resource==@resource -%>" 
               onclick="<%= update_snippet_script -%>" style="border-right-width: 0px; margin-left: 2px;">
          <%= lines_count -%>
          <div>
        </td>
        <td class="center group-item">
          <div class="<%= group_class -%> <%= group_row_class -%> clickable <%= 'selected' if resource==@resource -%>" 
               onclick="<%= update_snippet_script -%>" style="border-right-width: 0px;border-left-width: 0px;">
            <%= from_line -%>
          </div>
        </td>
        <td class="left group-item">
          <% if resource==@resource
               cell_content = resource.name
             else
               cell_content = link_to_resource(resource, resource.name, {:line => from_line})
             end
          %>
          <div class="<%= group_class -%> <%= group_row_class -%> clickable nowrap <%= 'selected' if resource==@resource -%>" 
               onclick="<%= update_snippet_script -%>" style="padding-right: 20px; border-right-width: 0px;border-left-width: 0px;">
            <%= cell_content -%>
            <% if external %>
              <%= image_tag "links/external.png" -%>
            <% end %>
          </div>
        </td>
        
        <% if index==0 %>
        <td rowspan="<%= group_size+1 -%>" class="source-snippet">
          <div id="<%= source_div -%>">
            <%= render :partial => 'duplications_source_snippet', :locals => {:resource => resource, :original_resource => @resource, :from_line => from_line, :to_line => to_line, :lines_count => lines_count, :source_div => source_div, :external => external} -%>
          </div>
        </td>
        <% end %>
      </tr>
    <% 
        end
    %>
      <tr class="<%= row_style -%>" style="padding-bottom:100px">
        <td colspan="3"></td>
      </tr>
      <tr class="<%= row_style -%>">
        <td colspan="6" style="height:4px"></td>
      </tr>
    <%
      end 
    %>
    </tbody>
  </table>  

<% end %>