<div id="coverage_header" class="tab_header">
  <% new = @period && (measure('new_coverage') || measure('new_it_coverage') || measure('new_system_coverage') || measure('new_overall_coverage')) %>

  <% if new -%>
    <p><%= message('coverage_viewer.on_new_code') -%>:</p>
  <% end -%>

  <table class="coverage">
    <% if @display_overall_coverage -%>
      <tr>
        <td class="right big" style="width: 60px;"><%= format(new, 'overall_', 'coverage', :span => true) -%></td>
        <td></td>
        <td class="name"><%= h Metric.name_for('line_coverage') -%>:</td>
        <td class="value">
          <%= format(new, 'overall_', 'line_coverage') -%>&nbsp;<%= format_ratio(new, 'overall_', 'lines_to_cover', 'uncovered_lines') -%>
        </td>
        <td class="sep"></td>
        <td class="name"><%= h Metric.name_for('branch_coverage') -%>:</td>
        <td class="value">
          <%= format(new, 'overall_', 'branch_coverage') -%>&nbsp;<%= format_ratio(new, 'overall_', 'conditions_to_cover', 'uncovered_conditions') -%>
        </td>
      </tr>
    <% end -%>

    <tr>
      <td class="right value"><%= format(new, '', 'coverage', :span => true) -%></td>
      <td><%= message('coverage_viewer.by') -%></td>
      <% if @display_overall_coverage -%>
        <td colspan="2"></td>
        <td class="sep"></td>
        <td colspan="2"></td>
      <% else -%>
        <td class="name"><%= h Metric.name_for('line_coverage') -%>:</td>
        <td class="value">
          <%= format(new, '', 'line_coverage') -%>&nbsp;<%= format_ratio(new, '', 'lines_to_cover', 'uncovered_lines') -%>
        </td>
        <td class="sep"></td>
        <td class="name"><%= h Metric.name_for('branch_coverage') -%>:</td>
        <td class="value">
          <%= format(new, '', 'branch_coverage') -%>&nbsp;<%= format_ratio(new, '', 'conditions_to_cover', 'uncovered_conditions') -%>
        </td>
      <% end -%>
    </tr>

    <% if @display_it_coverage -%>
      <tr>
        <td class="right value"><%= format(new, 'it_', 'coverage', :span => true) -%></td>
        <td><%= message('it_' + 'coverage_viewer.by') -%></td>
        <% if @display_overall_coverage -%>
          <td colspan="2"></td>
          <td class="sep"></td>
          <td colspan="2"></td>
        <% else -%>
          <td class="name"><%= h Metric.name_for('line_coverage') -%>:</td>
          <td class="value">
            <%= format(new, 'it_', 'line_coverage') -%>&nbsp;<%= format_ratio(new, 'it_', 'lines_to_cover', 'uncovered_lines') -%>
          </td>
          <td class="sep"></td>
          <td class="name"><%= h Metric.name_for('branch_coverage') -%>:</td>
          <td class="value">
            <%= format(new, 'it_', 'branch_coverage') -%>&nbsp;<%= format_ratio(new, 'it_', 'conditions_to_cover', 'uncovered_conditions') -%>
          </td>
        <% end -%>
      </tr>
    <% end -%>


    <% if @display_system_coverage -%>
      <tr>
        <td class="right value"><%= format(new, 'system_', 'coverage', :span => true) -%></td>
        <td><%= message('system_' + 'coverage_viewer.by') -%></td>
        <td class="name"><%= h Metric.name_for('line_coverage') -%>:</td>
        <td class="value">
          <%= format(new, 'system_', 'line_coverage') -%>&nbsp;<%= format_ratio(new, 'system_', 'lines_to_cover', 'uncovered_lines') -%>
        </td>
        <td class="sep"></td>
        <td class="name"><%= h Metric.name_for('branch_coverage') -%>:</td>
        <td class="value">
          <%= format(new, 'system_', 'branch_coverage') -%>&nbsp;<%= format_ratio(new, 'system_', 'conditions_to_cover', 'uncovered_conditions') -%>
        </td>
      </tr>
    <% end -%>

  </table>

  <%= render :partial => 'options' -%>
</div>