<div id="coverage_header" class="tab_header">
    <% if @period && measure('new_coverage') %>
      <p>On new code:</p>
      <table>
        <tr>
          <td class="big" rowspan="2"><%= format_variation('new_coverage', :period => @period, :style => 'none') -%></td>

          <td class="sep"> </td>

          <% if m=measure('new_line_coverage') %>
            <td class="name"><%= message('metric.line_coverage.name') -%>:</td>
            <td class="value"><%= format_variation(m, :period => @period, :style => 'none') -%></td>
          <% else %>
            <td colspan="2"></td>
          <% end %>

          <td class="sep"> </td>
          <% if m=measure('new_branch_coverage') %>
            <td class="name"><%= message('metric.branch_coverage.name') -%>:</td>
            <td class="value"><%= format_variation(m, :period => @period, :style => 'none') -%></td>
          <% else %>
            <td colspan="2"></td>
          <% end %>
        </tr>
        <tr>
          <td class="sep"> </td>
          <% if m=measure('new_uncovered_lines') %>
            <td class="name"><%= message('metric.uncovered_lines.name') -%>:</td>
            <td class="value"><%= format_variation(m, :period => @period, :style => 'none') -%>/<%= format_variation('new_lines_to_cover', :period => @period, :style => 'none') -%></td>
          <% else %>
            <td colspan="2"></td>
          <% end %>

          <td class="sep"> </td>
          <% if m=measure('new_uncovered_conditions') %>
            <td class="name"><%= message('metric.uncovered_conditions.name') -%>: </td>
            <td class="value"><%= format_variation(m, :period => @period, :style => 'none') -%>/<%= format_variation('new_conditions_to_cover', :period => @period, :style => 'none') -%></td>
          <% else %>
            <td colspan="2"></td>
          <% end %>
        </tr>
      </table>
    <% else %>
      <table>
        <tr>
          <td class="big" rowspan="2"><%= format_measure('coverage', :default => '-') -%></td>
          <td class="sep"> </td>
          <%= render :partial => 'measure', :locals => {:measure => measure('line_coverage'), :title => message('metric.line_coverage.name')} -%>

          <td class="sep"> </td>
          <%= render :partial => 'measure', :locals => {:measure => measure('branch_coverage'), :title => message('metric.branch_coverage.name')} -%>
        </tr>
        <tr>
          <td class="sep"> </td>
          <%= render :partial => 'measure', :locals => {:measure => measure('uncovered_lines'), :title => message('metric.uncovered_lines.name'), :ratio => measure('lines_to_cover')} -%>
          <td class="sep"> </td>
          <%= render :partial => 'measure', :locals => {:measure => measure('uncovered_conditions'), :title => message('metric.uncovered_conditions.name'), :ratio => measure('conditions_to_cover')} -%>
        </tr>
      </table>
    <% end %>
  
  <%= render :partial => 'options' -%>
</div>

