<div id="source_header" class="tab_header">
  <table width="100%">
    <tr>
      <td class="col">
      <table class="metrics">
        <% if m=measure('lines') %>
          <tr>
            <td class="name"><%= message('metric.lines.name') -%>:</td>
            <td class="value"><%= format_measure(m) -%></td>
          </tr>
        <% end %>
        <% if m=measure('ncloc') %>
          <tr>
            <td class="name"><%= message('metric.ncloc.name') -%>:</td>
            <td class="value"><%= format_measure(m) -%></td>
          </tr>
        <% end %>
        <% if m=measure('functions') %>
          <tr>
            <td class="name"><%= message('metric.functions.name') -%>:</td>
            <td class="value"><%= format_measure(m) -%></td>
          </tr>
        <% end %>
        <% if m=measure('accessors') %>
          <tr>
            <td class="name"><%= message('metric.accessors.name') -%>:</td>
            <td class="value"><%= format_measure(m) -%></td>
          </tr>
        <% end %>
      </table>
      </td>
      <td class="col">
      <table class="metrics">
        <% if m=measure('statements') %>
          <tr>
            <td class="name"><%= message('metric.statements.name') -%>:</td>
            <td class="value"><%= format_measure(m) -%></td>
          </tr>
        <% end %>
        <% if m=measure('complexity') %>
          <tr>
            <td class="name"><%= message('metric.complexity.name') -%>:</td>
            <td class="value"><%= format_measure(m) -%></td>
          </tr>
        <% end %>
        <% if m=measure('function_complexity') %>
          <tr>
            <td class="name"><%= message('metric.function_complexity.name') -%>:</td>
            <td class="value"><%= format_measure(m) -%></td>
          </tr>
        <% end %>
      </table>
    </td>
      <td class="col">
      <table class="metrics">
        <% if m=measure('comment_lines_density') %>
          <tr>
            <td class="name"><%= message('metric.comment_lines_density.name') -%>:</td>
            <td class="value"><%= format_measure(m) -%></td>
          </tr>
        <% end %>
        <% if m=measure('comment_lines') %>
          <tr>
            <td class="name"><%= message('metric.comment_lines.name') -%>:</td>
            <td class="value"><%= format_measure(m) -%></td>
          </tr>
        <% end %>
        <% if m=measure('commented_out_code_lines') %>
          <tr>
            <td class="name"><%= message('metric.commented_out_code_lines.name') -%>:</td>
            <td class="value"><%= format_measure(m) -%></td>
          </tr>
        <% end %>
        <% if m=measure('comment_blank_lines') %>
          <tr>
            <td class="name"><%= message('metric.comment_blank_lines.name') -%>:</td>
            <td class="value"><%= format_measure(m) -%></td>
          </tr>
        <% end %>
      </table>
    </td>
      <td class="col">
      <table class="metrics">
        <% if m=measure('public_documented_api_density') %>
          <tr>
            <td class="name"><%= message('metric.public_documented_api_density.name') -%>:</td>
            <td class="value"><%= format_measure(m) -%></td>
          </tr>
        <% end %>
        <% if m=measure('public_undocumented_api') %>
          <tr>
            <td class="name"><%= message('metric.public_undocumented_api.name') -%>:</td>
            <td class="value"><%= format_measure(m) -%></td>
          </tr>
        <% end %>
        <% if m=measure('public_api') %>
          <tr>
            <td class="name"><%= message('metric.public_api.name') -%>:</td>
            <td class="value"><%= format_measure(m) -%></td>
          </tr>
        <% end %>
      </table>
    </td>
      <td class="col">
      <table class="metrics">
        <% if m=measure('classes') %>
          <tr>
            <td class="name"><%= message('metric.classes.name') -%>:</td>
            <td class="value"><%= format_measure(m) -%></td>
          </tr>
        <% end %>
        <% if m=measure('noc') %>
          <tr>
            <td class="name"><%= message('metric.noc.name') -%>:</td>
            <td class="value"><%= format_measure(m) -%></td>
          </tr>
        <% end %>
        <% if m=measure('dit') %>
          <tr>
            <td class="name"><%= message('metric.dit.name') -%>:</td>
            <td class="value"><%= format_measure(m) -%></td>
          </tr>
        <% end %>
        <% if m=measure('rfc') %>
          <tr>
            <td class="name"><%= message('metric.rfc.name') -%>:</td>
            <td class="value"><%= format_measure(m) -%></td>
          </tr>
        <% end %>
      </table>
      </td>
    </tr>
  </table>
  <%= render :partial => 'options' -%>
</div>

