<div id="coverage_header" class="tab_header">
  <% new = @period && (measure('new_coverage') || measure('new_it_coverage') || measure('new_overall_coverage')) %>

  <% if new -%>
    <p><%= message('coverage_viewer.on_new_code') -%>:</p>
  <% end -%>

  <table class="coverage">
    <% [('overall_' if @display_overall_coverage), '', ('it_' if @display_it_coverage)].compact.each_with_index do |prefix, index| -%>
      <tr>
        <% if index == 0 -%>
          <td class="right big" style="width: 60px;"><%= format(new, prefix, 'coverage', :span => true) -%></td>
          <td></td>
          <td class="name"><%= h Metric.name_for('line_coverage') -%>:</td>
          <td class="value">
            <%= format(new, prefix, 'line_coverage') -%>&nbsp;<%= format_ratio(new, prefix, 'lines_to_cover', 'uncovered_lines') -%>
          </td>
          <td class="sep"></td>
          <td class="name"><%= h Metric.name_for('branch_coverage') -%>:</td>
          <td class="value">
            <%= format(new, prefix, 'branch_coverage') -%>&nbsp;<%= format_ratio(new, prefix, 'conditions_to_cover', 'uncovered_conditions') -%>
          </td>
        <% else -%>
          <td class="right value"><%= format(new, prefix, 'coverage', :span => true) -%></td>
          <td><%= message(prefix + 'coverage_viewer.by') -%></td>
          <td colspan="2"></td>
          <td class="sep"></td>
          <td colspan="2"></td>
        <% end -%>
      </tr>
    <% end -%>
  </table>

  <%= render :partial => 'options' -%>
</div>