<div class="violations_header tab_header">
  <% if @period && measure('new_issues') %>
    <table>
      <tr>
        <td><span class="big"><%= format_variation('new_violations', :default => 0, :period => @period, :style => 'none') -%></span>&nbsp;<%= message('new_issues').downcase -%></td>

        <td class="sep"> </td>
        <td><%= image_tag 'priority/BLOCKER.png' -%></td>
        <td class="name"><%= message('blocker') -%>:</td>
        <td class="value"><%= format_variation('new_blocker_violations', :default => 0, :period => @period, :style => 'none') -%></td>

        <td class="sep"> </td>
        <td><%= image_tag 'priority/CRITICAL.png' -%></td>
        <td class="name"><%= message('critical') -%>:</td>
        <td class="value"><%= format_variation('new_critical_violations', :default => 0, :period => @period, :style => 'none') -%></td>

        <td class="sep"> </td>
        <td><%= image_tag 'priority/MAJOR.png' -%></td>
        <td class="name"><%= message('major') -%>:</td>
        <td class="value"><%= format_variation('new_major_violations', :default => 0, :period => @period, :style => 'none') -%></td>

        <td class="sep"> </td>
        <td><%= image_tag 'priority/MINOR.png' -%></td>
        <td class="name"><%= message('minor') -%>:</td>
        <td class="value"><%= format_variation('new_minor_violations', :default => 0, :period => @period, :style => 'none') -%></td>

        <td class="sep"> </td>
        <td><%= image_tag 'priority/INFO.png' -%></td>
        <td class="name"><%= message('info') -%>:</td>
        <td class="value"><%= format_variation('new_info_violations', :default => 0, :period => @period, :style => 'none') -%></td>
      </tr>
    </table>

  <% else %>
    <table class="sourceHeader">
      <tr>
        <td nowrap><span class="big"><%= format_measure('violations', :default => 0) -%></span>&nbsp;<%= message('issues').downcase -%></td>

        <td class="sep"> </td>
        <td nowrap><%= image_tag 'priority/BLOCKER.png' -%></td>
        <td class="name"><%= message('blocker') -%>:</td>
        <td class="value"><%= format_measure('blocker_violations', :default => 0) -%></td>

        <td class="sep"> </td>
        <td><%= image_tag 'priority/CRITICAL.png' -%></td>
        <td class="name"><%= message('critical') -%>:</td>
        <td class="value"><%= format_measure('critical_violations', :default => 0) -%></td>

        <td class="sep"> </td>
        <td><%= image_tag 'priority/MAJOR.png' -%></td>
        <td class="name"><%= message('major') -%>:</td>
        <td class="value"><%= format_measure('major_violations', :default => 0) -%></td>

        <td class="sep"> </td>
        <td><%= image_tag 'priority/MINOR.png' -%></td>
        <td class="name"><%= message('minor') -%>:</td>
        <td class="value"><%= format_measure('minor_violations', :default => 0) -%></td>

        <td class="sep"> </td>
        <td><%= image_tag 'priority/INFO.png' -%></td>
        <td class="name"><%= message('info') -%>:</td>
        <td class="value"><%= format_measure('info_violations', :default => 0) -%></td>
      </tr>
    </table>
  <% end %>

  <%= render :partial => 'options' -%>
  
</div>

