<div class="source_header tab_header">
  <table class="metrics">
    <tr>
        <% m=measure('duplicated_lines_density') %>
        <td class="value big"><%= m ? format_measure(m) : "0%" -%></td>
        <td class="sep"> </td>
        <% m=measure('lines') %>
        <td class="name"><%= message('metric.lines.name') -%>:</td>
        <td class="value"><%= m ? format_measure(m) : "0" -%></td>
        <td class="sep"> </td>
        <% m=measure('duplicated_lines') %>
        <td class="name"><%= message('metric.duplicated_lines.name') -%>:</td>
        <td class="value"><%= m ? format_measure(m) : "0" -%></td>
        <td class="sep"> </td>
        <% m=measure('duplicated_blocks') %>
        <td class="name"><%= message('metric.duplicated_blocks.name') -%>:</td>
        <td class="value"><%= m ? format_measure(m) : "0" -%></td>
        <td class="sep"> </td>
    </tr>
  </table>
</div>

