<div id="coverage_header" class="tab_header">
    <% if @period && measure('new_coverage') %>
      <p>On new code:</p>
      <table>
        <tr>
          <td class="big" rowspan="2"><%= format_variation('new_coverage', :period => @period, :style => 'none') -%></td>

          <td class="sep"> </td>

          <% if m=measure('new_line_coverage') %>
            <td class="name"><%= Metric.name_for('line_coverage') -%>:</td>
            <td class="value"><%= format_variation(m, :period => @period, :style => 'none') -%></td>
          <% else %>
            <td colspan="2"></td>
          <% end %>

          <td class="sep"> </td>
          <% if m=measure('new_branch_coverage') %>
            <td class="name"><%= Metric.name_for('branch_coverage') -%>:</td>
            <td class="value"><%= format_variation(m, :period => @period, :style => 'none') -%></td>
          <% else %>
            <td colspan="2"></td>
          <% end %>
        </tr>
        <tr>
          <td class="sep"> </td>
          <% if m=measure('new_uncovered_lines') %>
            <td class="name"><%= Metric.name_for('uncovered_lines') -%>:</td>
            <td class="value"><%= format_variation(m, :period => @period, :style => 'none') -%>/<%= format_variation('new_lines_to_cover', :period => @period, :style => 'none') -%></td>
          <% else %>
            <td colspan="2"></td>
          <% end %>

          <td class="sep"> </td>
          <% if m=measure('new_uncovered_conditions') %>
            <td class="name"><%= Metric.name_for('uncovered_conditions') -%>: </td>
            <td class="value"><%= format_variation(m, :period => @period, :style => 'none') -%>/<%= format_variation('new_conditions_to_cover', :period => @period, :style => 'none') -%></td>
          <% else %>
            <td colspan="2"></td>
          <% end %>
        </tr>
      </table>
    <% else %>
      <table>
        <% if @display_it_coverage %>
          <tr>
            <td colspan="8"><%= message('coverage_tab.unit_tests') -%></td>
            <td colspan="7"><%= message('coverage_tab.integration_tests') -%></td>
          </tr>
        <% end %>
        <tr>
          <td class="big" rowspan="2"><%= format_measure('coverage', :default => '-') -%></td>
          <td class="sep"> </td>
          <%= render :partial => 'measure', :locals => {:measure => measure('line_coverage'), :title => Metric.name_for('line_coverage')} -%>
          <td class="sep"> </td>
          <%= render :partial => 'measure', :locals => {:measure => measure('branch_coverage'), :title => Metric.name_for('branch_coverage')} -%>
          <td class="sep"> </td>

          <% if @display_it_coverage %>
          <td class="big" rowspan="2"><%= format_measure('it_coverage', :default => '-') -%></td>
          <td class="sep"> </td>
          <%= render :partial => 'measure', :locals => {:measure => measure('it_line_coverage'), :title => Metric.name_for('it_line_coverage')} -%>
          <td class="sep"> </td>
          <%= render :partial => 'measure', :locals => {:measure => measure('it_branch_coverage'), :title => Metric.name_for('it_branch_coverage')} -%>
          <% end %>
        </tr>
        <tr>
          <td class="sep"> </td>
          <%= render :partial => 'measure', :locals => {:measure => measure('uncovered_lines'), :title => Metric.name_for('uncovered_lines'), :ratio => measure('lines_to_cover')} -%>
          <td class="sep"> </td>
          <%= render :partial => 'measure', :locals => {:measure => measure('uncovered_conditions'), :title => Metric.name_for('uncovered_conditions'), :ratio => measure('conditions_to_cover')} -%>
          <td class="sep"> </td>
          <% if @display_it_coverage %>
          <td class="sep"> </td>
          <%= render :partial => 'measure', :locals => {:measure => measure('it_uncovered_lines'), :title => Metric.name_for('it_uncovered_lines'), :ratio => measure('it_lines_to_cover')} -%>
          <td class="sep"> </td>
          <%= render :partial => 'measure', :locals => {:measure => measure('it_uncovered_conditions'), :title => Metric.name_for('it_uncovered_conditions'), :ratio => measure('it_conditions_to_cover')} -%>
          <% end %>
        </tr>
      </table>
    <% end %>
  
  <%= render :partial => 'options' -%>
</div>

