<% accordionId = rand(10000) %>
<div id="accordion<%= accordionId -%>">
  <div class="accordion-item-header">
    <%= render :partial => 'tabs' -%>
  </div>
  <div class="accordion-item-body">
    <%= render :partial => "resource/header_#{@extension.getId()}" -%>

    <% if @display_issues && @global_issues && @global_issues.size>0 -%>
      <div class="code-global-issues">
        <% @global_issues.each do |issue| %>
          <%= render :partial => 'issue/issue', :locals => {:issue => issue} -%></td>
        <% end %>
      </div>
    <% end %>

    <% if @lines && @lines.size>0 %>
      <%= render :partial => "shared/source_display", :locals => { :display_manual_violation_form => @display_manual_violation_form, \
                                                                   :scm_available => @scm_available, \
                                                                   :display_coverage => @display_coverage, \
                                                                   :lines => @lines, \
                                                                   :expanded => @expanded, \
                                                                   :display_violations => @display_violations, \
                                                                   :display_issues => @display_issues, \
                                                                   :resource => @resource, \
                                                                   :snapshot => @snapshot, \
                                                                   :review_screens_by_vid => @review_screens_by_vid, \
                                                                   :filtered => @filtered}
      %>
    <% end %>

    <% if @duplication_groups %>
      <%= render :partial => 'duplications' -%>
    <% end %>

  </div>
</div>
<script>
  $j('#accordion<%= accordionId -%> .open-modal').modal();
</script>

