<div>
  <div class="accordion-item-header">
    <%= render :partial => 'tabs' -%>
  </div>
  <div class="accordion-item-body">
    <%= render :partial => "resource/header_#{@extension.getId()}" -%>

    <% if @display_violations && @global_violations && @global_violations.size>0 -%>
      <table class="global_violations" cellpadding="0" cellspacing="0" border="0">
        <% @global_violations.each do |violation| %>
          <tr>
            <td>
                <%= render :partial => 'violation', :locals => {:violation => violation, \
                                                                :review_screens => @review_screens_by_vid ? @review_screens_by_vid.get(violation.id) : []} -%>
            </td>
          </tr>
        <% end %>
      </table>
    <% end %>

    <% if @lines && @lines.size>0 %>

      <%= render :partial => "shared/source_display", :locals => { :display_manual_violation_form => @display_manual_violation_form, \
                                                                   :scm_available => @scm_available, \
                                                                   :display_coverage => @display_coverage, \
                                                                   :lines => @lines, \
                                                                   :expanded => @expanded, \
                                                                   :display_violations => @display_violations, \
                                                                   :resource => @resource, \
                                                                   :snapshot => @snapshot, \
                                                                   :review_screens_by_vid => @review_screens_by_vid, \
                                                                   :filtered => @filtered}
      %>

    <% end %>

    <% if @duplication_groups %>
      <%= render :partial => 'duplications' -%>
    <% end %>

  </div>
</div>


