<div class="accordion-item">
  <div class="accordion-item-header">
    <%= render :partial => 'tabs' -%>
  </div>
  <div class="accordion-item-body">
    <%= render :partial => "resource/header_#{@extension.getId()}" -%>

    <% if @display_violations && @global_violations && @global_violations.size>0 -%>
      <table class="global_violations" cellpadding="0" cellspacing="0" border="0">
        <% @global_violations.each do |violation| %>
          <tr>
            <td><%= render :partial => 'violation', :locals => {:violation => violation, :review_screens => @review_screens_by_vid ? @review_screens_by_vid.get(violation.id) : []} -%></td>
          </tr>
        <% end %>
      </table>
    <% end %>

    <% if @lines && @lines.size>0 %>

      <table id="sources" class="sources2 code" cellpadding="0" cellspacing="0" border="0">
        <%
           colspan=2
           gray_colspan=1
           white_colspan=0
           if @display_manual_violation_form
             colspan+=1
             gray_colspan+=1
           end
           if @scm_available
             colspan+=1
             gray_colspan+=1
           end
           if @display_coverage
             colspan+=2
             white_colspan+=2
           end

           current_revision=nil
           previous_hidden=false
           first_section=true
           has_displayed_lines=false
           @lines.each_with_index do |line, index|
             if line.hidden? && !@expanded
               previous_hidden=true
               next
             end

             if previous_hidden && !first_section
               current_revision=nil
        %>
            <tr>
              <td colspan="<%= colspan -%>" class="new_section"></td>
            </tr>
          <%
             end
             previous_hidden=false
             first_section=false

             status=hits_status=conditions_status=''
             if line.highlighted?
               has_displayed_lines=true
               if @display_coverage && line.hits
                 hits_status=(line.hits>0 ? 'ok' : 'ko')
                 if line.conditions && line.conditions>0 && line.covered_conditions
                   if line.covered_conditions==0
                     status='ko'
                     conditions_status='ko'
                   elsif line.covered_conditions==line.conditions
                     status=''
                     conditions_status='ok'
                   else
                     conditions_status='warn'
                     status='warn'
                   end
                 elsif line.hits
                   status=(line.hits>0 ? '' : 'ko')
                 end
               elsif @display_violations && line.violations?
                 status="ko"
               end
             end
          %>
          <tr class="row pos<%= index+1 -%>">
            <% if @display_manual_violation_form %>
              <td class="plus"><a onclick="return sVF(this, <%= @resource.id -%>,<%= index + 1 -%>,<%= gray_colspan -%>,<%= white_colspan -%>)"></a></td>
            <%
               end
               if @scm_available
                 if current_revision!=line.revision
                   current_revision=line.revision
                   title = "Revision #{h(line.revision)}"
            %>
                <td class="scm revision">
                  <span class="date"><a href="#" title="<%= title -%>" alt="<%= title -%>"><%= Java::OrgSonarApiUtils::DateUtils.formatDate(line.datetime) if line.datetime -%></a></span>
                  <span class="author"><%= h(line.author) -%></span></td>
              <% else %>
                <td class="scm"></td>
              <% end
                 end
              %>
            <td class="lid L<%= index+1 -%>"><a name="L<%= index+1 -%>" href="#L<%= index+1 -%>"><%= index + 1 -%></a>
            </td>

            <% if @display_coverage %>
              <% if line.highlighted? %>
                <td class="ind <%= hits_status -%>" title="<%= message('coverage_viewer.line_covered_by_x_tests', {:params => line.covered_lines.to_s}) if line.covered_lines > 0 -%>">
                  <% if line.covered_lines > 0 %>
                    <a href="<%= ApplicationController.root_context -%>/test/testable/<%= h @snapshot.resource.key -%>?line=<%= index+1 -%>"
                       class="sources-testable-link-<%= index+1 -%>" onclick="openAccordionItem(this.href, this); return false;"><%= line.covered_lines -%></a>
                  <% end %>
                </td>
                <td class="ind <%= conditions_status -%>">
                  <% if line.deprecated_conditions_label -%>
                    <%= line.deprecated_conditions_label -%>
                  <% elsif line.conditions && line.conditions>0 -%>
                    <span title="<%= h message('coverage_viewer.x_covered_branches', {:params => line.covered_conditions.to_s})-%>"><%= line.covered_conditions -%>/<%= line.conditions -%></span>
                  <% end %>
                </td>
              <% else %>
                <td class="ind"></td>
                <td class="ind"></td>
              <% end %>
            <% end %>
            <td class="line <%= status -%>">
              <pre><%= line.source -%></pre>
            </td>
          </tr>
          <% if @display_violations && line.violations? %>
            <tr>
              <% if @display_manual_violation_form %>
                <td class="gray"></td>
              <% end
                 if @scm_available %>
                <td class="scm"></td>
              <% end %>
              <td class="lid"></td>
              <td class="violations">
                <% line.violations.each_with_index do |violation, index| %>
                  <%= render :partial => 'violation', :locals => {:violation => violation, :review_screens => @review_screens_by_vid ? @review_screens_by_vid.get(violation.id) : []} -%>
                  <% if index < line.violations.size-1 %>
                    &nbsp;
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </table>

      <% if @filtered && !has_displayed_lines %>
        <p style="padding: 10px"><%= message('no_lines_match_your_filter_criteria') -%></p>
      <% end %>

    <% end %>

    <% if @duplication_groups %>
      <%= render :partial => 'duplications' -%>
    <% end %>

  </div>
</div>


