<div id="issue-key<%= issue.key -%>">
  <div class="violation">
    <div class="vtitle">
        <div class="review_permalink">
          <span class="review_permalink"><%= link_to image_tag('zoom.png'), :controller => "issue", :action => "view", :id => issue.key -%></span>
        </div>

      <img src="<%= ApplicationController.root_context -%>/images/priority/<%= issue.severity -%>.png">
      &nbsp;
      <span class="rulename">
        <% rule_name = Internal.rules.ruleL10nName(@issue_results.rule(issue)) %>
        <a class="open-modal issue-rule-modal" modal-width="800" href="<%= url_for :controller => 'rules', :action => 'show', :id => issue.rule_key.to_s, :modal => 'true', :layout => 'false' -%>">
            <%= h rule_name -%>
        </a>
      </span>
      &nbsp;
      <%= image_tag 'sep12.png' -%>
      &nbsp;

      <span><%= distance_of_time_in_words_to_now(Api::Utils.to_date(issue.creationDate())) -%></span>
      &nbsp;
      <%
         if issue.resolution == 'FALSE-POSITIVE'
      %>
        <%= image_tag 'sep12.png' -%>
        &nbsp;
        <span class="reviewResolution<%= issue.resolution %>"><%= message("issues.resolution.#{issue.resolution}") -%></span>
        &nbsp;
      <% end %>
      <%
         if issue.status == 'RESOLVED'
      %>
        <%= image_tag 'sep12.png' -%>
        &nbsp;
        <span class="reviewStatus<%= issue.status -%>"><%= message("issues.status.#{issue.status}") -%></span>
        &nbsp;
      <% end %>
      <%
         # TODO display assignee name instead of login
         #if violation.review && violation.review.assignee_id
         if issue.assignee
      %>
        <%= image_tag 'sep12.png' -%>
        &nbsp;
        <%= message('assigned_to') -%> <%= h(issue.assignee) -%>
        &nbsp;
      <% end %>
      <%
         # TODO
         #if violation.review && violation.review.planned?
        if false
      %>
        <%= image_tag 'sep12.png' -%>
        &nbsp;
        <%= message('reviews.planned_for_x', :params => h(violation.review.action_plan.name)) -%>
        &nbsp;
      <% end %>

    </div>

    <div class="discussionComment first">
      <div id="issue-description<%= issue.key -%>">
        <% issue_description = issue.description ? Api::Utils.split_newlines(h(issue.description)).join('<br/>') : '' %>
        <%= issue_description || '&nbsp;' -%>
      </div>
    </div>

    <% if current_user %>
      <div class="vActions" id="issue-actions<%= issue.key -%>">
        <% if defined?(error_message) && error_message %>
          <div id="issue-error-<%= issue.key -%>" class="error"><%= h error_message -%>
            <a href="#" onclick="$('issue-error-<%= issue.key -%>').hide(); return false;"><%= message('issues.hide_this_message') -%></a></div>
        <% end %>

        <% unless issue.status == 'RESOLVED' %>
          <%= link_to_function message('issues.action.assign.button'), "displayIssueAssignForm('#{issue.key}')",
                               :name => message('issues.action.assign.button'), :class => 'link-action spacer-right' -%>
        <% end %>

        <% Internal.issues.listTransitions(issue.key).each do |transition| %>
        <%= link_to_function message("issues.transition.#{transition.key}.button"), "displayIssueTransitionForm('#{issue.key}', '#{transition.key}')",
                             :name => message("issues.transition.#{transition.key}.button"), :class => 'link-action spacer-right' -%>
        <% end %>

        <% unless issue.resolution == 'FALSE-POSITIVE' && issue.status == 'RESOLVED' %>
          <div class="dropdown">
            <a href="#" class="link-action link-more" onclick="showDropdownMenu('more<%= issue.key -%>');return false;"><%= message('more_actions') -%></a>
            <ul style="display: none" class="dropdown-menu" id="more<%= issue.key -%>">
              <li><%= link_to_function message('issues.action.change_severity.button'), "displayIssueChangeSeverityForm('#{issue.key}')",
                                       :name => message('issues.action.change_severity.button') -%></li>
            </ul>
          </div>
        <% end %>
    </div>
    <% end %>
    <div class="discussionComment" id="issue-form<%= issue.key -%>" style="display:none"></div>

  </div>
</div>

<script type="text/javascript">
  $j(document).ready(function () {
    // As rule links will be loaded after open-modal has been processed by jquery, we have to process manually issue-rule-modal classes
    $j('.issue-rule-modal').modal()
  });
</script>