<div class="code-issue" data-issue-key="<%= issue.key -%>">
  <div class="code-issue-name">
    <div class="code-issue-link">
      <%= link_to image_tag('zoom.png'), :controller => "issue", :action => "view", :id => issue.key -%>
    </div>

    <img src="<%= ApplicationController.root_context -%>/images/priority/<%= issue.severity -%>.png">
    &nbsp;
      <span class="rulename">
        <% rule_name = Internal.rules.ruleL10nName(@issue_results.rule(issue)) %>
        <a class="open-modal" modal-width="800" href="<%= url_for :controller => 'rules', :action => 'show', :id => issue.rule_key.to_s, :modal => 'true', :layout => 'false' -%>"><%= h rule_name -%></a>
      </span>
    &nbsp;
    <%= image_tag 'sep12.png' -%>
    &nbsp;

    <span><%= distance_of_time_in_words_to_now(Api::Utils.java_to_ruby_datetime(issue.creationDate())) -%></span>
    &nbsp;
    <%
       if issue.resolution
    %>
      <%= image_tag 'sep12.png' -%>
      &nbsp;
      <span><%= message("issues.resolution.#{issue.resolution}") -%></span>
      &nbsp;
    <% end %>
    <%
       if issue.assignee
    %>
      <%= image_tag 'sep12.png' -%>
      &nbsp;
      <%= message('assigned_to') -%> <%= h(@issue_results.user(issue.assignee).name) -%>
      &nbsp;
    <% end %>
    <%
       if issue.actionPlanKey()
    %>
      <%= image_tag 'sep12.png' -%>
      &nbsp;
      <%= message('issues.planned_for_x', :params => h(@issue_results.actionPlan(issue).name())) if @issue_results.actionPlan(issue) -%>
      &nbsp;
    <% end %>

  </div>

  <% unless issue.message.blank? %>
    <div class="code-issue-msg">
      <%= Api::Utils.split_newlines(h(issue.message)).join('<br/>') -%>
    </div>
  <% end %>

  <% issue.comments.each do |comment| %>
    <div class="code-issue-comment">
      <h4>
        <%= image_tag('reviews/comment.png') -%> &nbsp;<b><%= @issue_results.user(comment.userLogin()).name() -%></b>
        (<%= distance_of_time_in_words_to_now(Api::Utils.java_to_ruby_datetime(comment.createdAt)) -%>)
        <% if current_user && current_user.login==comment.userLogin %>
          &nbsp;
          <%= image_tag 'sep12.png' -%>
          &nbsp;
          <a class="link-action" href="#"><%= message('reviews.edit') -%></a>
          <a class="link-action" href="#"><%= message('reviews.delete') -%></a>
        <% end %>
      </h4>
      <%= Internal.text.markdownToHtml(comment.markdownText) -%>
    </div>
  <% end %>

  <% if current_user %>
    <div class="code-issue-actions">
      <a href='#' onclick="return issueForm('comment', this)" class="link-action spacer-right"><%= message('reviews.comment') -%></a>

      <% unless issue.resolution %>
        <a href='#' onclick="return issueForm('assign', this)" class="link-action spacer-right"><%= message('issues.action.assign.button') -%></a>
      <% end %>

      <% Internal.issues.listTransitions(issue.key).each do |transition| %>
        <%= link_to_function message("issues.transition.#{transition.key}.button"), "displayIssueTransitionForm('#{issue.key}', '#{transition.key}')",
                             :name => message("issues.transition.#{transition.key}.button"), :class => 'link-action spacer-right' -%>
      <% end %>

      <% unless issue.resolution && issue.status == 'RESOLVED' %>
        <div class="dropdown">
          <a href="#" class="link-action link-more" onclick="showDropdownMenu('more<%= issue.key -%>');return false;"><%= message('more_actions') -%></a>
          <ul style="display: none" class="dropdown-menu" id="more<%= issue.key -%>">
            <li><%= link_to_function message('issues.action.change_severity.button'), "displayIssueChangeSeverityForm('#{issue.key}')",
                                     :name => message('issues.action.change_severity.button') -%></li>
            <li><%= link_to_function message('issues.action.plan.button'), "displayIssuePlanForm('#{issue.key}')",
                                     :name => message('issues.action.plan.button') -%></li>
          </ul>
        </div>
      <% end %>
    </div>
    <div class="code-issue-form hidden"></div>
  <% end %>
</div>