<div class="code-issue" data-issue-key="<%= issue.key -%>" data-issue-component="<%= issue.componentKey() -%>">
  <div class="code-issue-name">
    <img src="<%= ApplicationController.root_context -%>/images/priority/<%= issue.severity -%>.png">
    &nbsp;
      <span class="rulename">
        <% rule_name = Internal.rules.ruleL10nName(@issue_results.rule(issue)) %>
        <a class="open-modal" modal-width="800" href="<%= url_for :controller => 'rules', :action => 'show', :id => issue.rule_key.to_s, :modal => 'true', :layout => 'false' -%>"><%= h rule_name -%></a>
      </span>
    &nbsp;
    <%= image_tag 'sep12.png' -%>
    &nbsp;

    <%
       created_at = Api::Utils.java_to_ruby_datetime(issue.creationDate())
       updated_at = Api::Utils.java_to_ruby_datetime(issue.updateDate())
       dates_title = "Created at #{l created_at} and updated at #{l updated_at}"
    %>
    <span title="<%= h dates_title -%>"><%= distance_of_time_in_words_to_now(created_at) -%></span>
    &nbsp;
    <%
       if issue.resolution
    %>
      <%= image_tag 'sep12.png' -%>
      &nbsp;
      <span><%= message("issue.resolution.#{issue.resolution}") -%></span>
      &nbsp;
    <% end %>
    <%
       if issue.assignee
    %>
      <%= image_tag 'sep12.png' -%>
      &nbsp;
      <%= message('assigned_to') -%> <%= h(@issue_results.user(issue.assignee).name) -%>
      &nbsp;
    <% end %>
    <%
       if issue.actionPlanKey()
    %>
      <%= image_tag 'sep12.png' -%>
      &nbsp;
      <%= message('issue.planned_for_x', :params => h(@issue_results.actionPlan(issue).name())) if @issue_results.actionPlan(issue) -%>
      &nbsp;
    <% end %>

  </div>

  <% unless issue.message.blank? %>
    <div class="code-issue-msg">
      <%= Api::Utils.split_newlines(h(issue.message)).join('<br/>') -%>
    </div>
  <% end %>

  <%
     issue.comments.each do |comment|
       comment_html_id = "comment-#{comment.key}-#{rand(100)}"
  %>
    <div class="code-issue-comment" id="<%= comment_html_id -%>">
      <h4>
        <%= image_tag('reviews/comment.png') -%> &nbsp;<b><%= @issue_results.user(comment.userLogin()).name() -%></b>
        (<%= distance_of_time_in_words_to_now(Api::Utils.java_to_ruby_datetime(comment.createdAt)) -%>)
        <% if current_user && current_user.login==comment.userLogin %>
          &nbsp;
          <%= image_tag 'sep12.png' -%>
          &nbsp;
          <a class="link-action" href="<%= ApplicationController.root_context -%>/issue/delete_comment_form?key=<%= comment.key -%>&htmlId=<%=comment_html_id-%>" onclick="$j(this).openModal();return false"><%= message('delete') -%></a>
        <% end %>
      </h4>
      <%= Internal.text.markdownToHtml(comment.markdownText) -%>
    </div>
  <% end %>

  <% if current_user %>
    <div class="code-issue-actions">
      <a href='#' onclick="return issueForm('comment', this)" class="link-action spacer-right"><%= message('issue.comment.formlink') -%></a>
      <% unless issue.resolution %>
        <span class="spacer-right">
        <a href='#' onclick="return issueForm('assign', this)" class="link-action"><%= message('issue.assign.formlink') -%></a>
          <% if issue.assignee!=current_user.login %>
          [<a href="#" onclick="return assignIssueToMe(this)" class="link-action"><%= message('issue.assign.to_me') -%></a>]
        <% end %>
        </span>
      <% end %>

      <% Internal.issues.listTransitions(issue.key).each do |transition| %>
        <a href="#" onclick="return doIssueTransition(this, '<%= transition.key -%>')" class="link-action spacer-right"><%= message("issue.transition.#{transition.key}") -%></a>
      <% end %>

      <% unless issue.resolution %>
        <a href="#" onclick="return issueForm('severity', this)" class="link-action spacer-right"><%= message("issue.set_severity") -%></a>
        <a href="#" onclick="return issueForm('plan', this)" class="link-action spacer-right"><%= message("issue.do_plan") -%></a>
      <% end %>
    </div>
    <div class="code-issue-form hidden"></div>
  <% end %>
</div>