<% display_options = @scm_available || @expandable || @filtered || @display_violations
   if display_options
%>

<div id="source_options">
  <script>
    applyOptions=function() {
      $('resource-loading').show();
      <% if request.xhr? %>
        var params = Form.serialize($('options-form'));
        new Ajax.Updater('resource_container', '<%= url_for :controller => 'resource', :action => 'index', :id => @resource.key -%>', {asynchronous:true, parameters:params});
        return true;
      <% else %>
        $('options-form').submit();
        return false;
      <% end %>
    };
  </script>
  <form method="GET" action="<%= url_for :controller => 'resource', :action => 'index', :id => @resource.key -%>" id="options-form">
    <input type="hidden" name="tab" value="<%= params[:tab] -%>"/>
    <input type="hidden" name="metric" value="<%= params[:metric] -%>"/>
    <input type="hidden" name="period" value="<%= params[:period] -%>"/>

    <table>
      <tr>
      <%
         first=true
         if @expandable %>
        <td class="<%= 'first' if first -%>">
          <input type="checkbox" value="true" name="expand" id="expand" <%= 'checked' if @expanded -%> onclick="applyOptions()"/>
          <label for="expand">Full source</label>
        </td>
      <%   first=false
         end %>
      
      <% if @scm_available && !@display_violations && @snapshot.project_snapshot.periods?  %>
        <td class="<%= 'first' if first -%>">
          <select id="period" name="period" onchange="applyOptions()">
            <option value="">Time changes...</option>
            <%= period_select_options(@snapshot, 1) -%>
            <%= period_select_options(@snapshot, 2) -%>
            <%= period_select_options(@snapshot, 3) -%>
            <%= period_select_options(@snapshot, 4) -%>
            <%= period_select_options(@snapshot, 5) -%>
          </select>
        </td>
      <%
           first=false
         end %>

      <% if @display_violations %>
        <td class="<%= 'first' if first -%>">
          <input type="checkbox" value="true" name="switchedOff" id="switchedOff" <%= 'checked' if @switchedOff -%> onclick="applyOptions()"/>
          <label for="expand">Show only switched-off violations</label>
        </td>
        <td class="<%= 'first' if first -%>">
          <select id="period" name="period" onchange="applyOptions()">
            <option value="">Time changes...</option>
            <%= violation_period_select_options(@snapshot, 1) -%>
            <%= violation_period_select_options(@snapshot, 2) -%>
            <%= violation_period_select_options(@snapshot, 3) -%>
            <%= violation_period_select_options(@snapshot, 4) -%>
            <%= violation_period_select_options(@snapshot, 5) -%>
          </select>
        </td>

        <td class="<%= 'first' if first -%>"><%= render :partial => 'rules_filter' -%></td>
      <%   first=false
         end %>

        <% if @display_coverage %>
        <td class="<%= 'first' if first -%>">
          <select id="coverage_filter" name="coverage_filter" onchange="applyOptions()">
            <option value="lines_to_cover" <%= 'selected' if @coverage_filter=='lines_to_cover' -%>>Lines to cover</option>
            <option value="uncovered_lines" <%= 'selected' if @coverage_filter=='uncovered_lines' -%>>Uncovered lines</option>
            <option value="conditions_to_cover" <%= 'selected' if @coverage_filter=='conditions_to_cover' -%>>Branches to cover</option>
            <option value="uncovered_conditions" <%= 'selected' if @coverage_filter=='uncovered_conditions' -%>>Uncovered branches</option>
          </select>
        </td>
      <%   first=false
         end %>
      </tr>
    </table>
  </form>
</div>
<% end %>