<% display_options = @scm_available || @expandable || @snapshot.project_snapshot.periods? || @display_violations
   if display_options
%>

<div id="source_options">
  <script>
    applyOptions=function() {
      $('resource-loading').show();
      <% if request.xhr? %>
        var params = Form.serialize($('options-form'));
        new Ajax.Updater('resource_container', '<%= url_for :controller => 'resource', :action => 'index', :id => @resource.key -%>', {asynchronous:true, parameters:params});
        return true;
      <% else %>
        $('options-form').submit();
        return false;
      <% end %>
    };
  </script>
  <form method="GET" action="<%= url_for :controller => 'resource', :action => 'index', :id => @resource.key -%>" id="options-form">
    <input type="hidden" name="tab" value="<%= params[:tab] -%>"/>
    <input type="hidden" name="metric" value="<%= params[:metric] -%>"/>
    <input type="hidden" name="period" value="<%= params[:period] -%>"/>

    <table>
      <tr>
        <% first=true %>
      <% if @scm_available %>
        <td class="<%= 'first' if first -%>">
          <input type="checkbox" value="true" name="scm" id="scm" <%= 'checked' if @display_scm -%> onclick="applyOptions()"/>
          <label for="scm">Show commits</label>
        </td>
      <%   first=false
         end %>

      <% if @expandable %>
        <td class="<%= 'first' if first -%>">
          <input type="checkbox" value="true" name="expand" id="expand" <%= 'checked' if @expanded -%> onclick="applyOptions()"/>
          <label for="expand">Show full source</label>
        </td>
      <%   first=false
         end %>
      
      <% if @snapshot.project_snapshot.periods? && !@display_violations %>
        <td class="<%= 'first' if first -%>">
          <select id="period" name="period" onchange="applyOptions()">
            <option value="">Time changes...</option>
            <%= period_select_options(@snapshot, 1) -%>
            <%= period_select_options(@snapshot, 2) -%>
            <%= period_select_options(@snapshot, 3) -%>
            <%= period_select_options(@snapshot, 4) -%>
            <%= period_select_options(@snapshot, 5) -%>
          </select>
        </td>
      <%
           first=false
         end %>

      <% if @display_violations %>
        <td class="<%= 'first' if first -%>">
          <select id="period" name="period" onchange="applyOptions()">
            <option value="">Time changes...</option>
            <%= violation_period_select_options(@snapshot, 1) -%>
            <%= violation_period_select_options(@snapshot, 2) -%>
            <%= violation_period_select_options(@snapshot, 3) -%>
            <%= violation_period_select_options(@snapshot, 4) -%>
            <%= violation_period_select_options(@snapshot, 5) -%>
          </select>
        </td>

        <td class="<%= 'first' if first -%>"><%= render :partial => 'rules_filter' -%></td>
      <% end %>
      </tr>
    </table>
  </form>
</div>
<% end %>