<%
   if @period
     blocker_issues = @snapshot.measure('new_blocker_violations')
     critical_issues = @snapshot.measure('new_critical_violations')
     major_issues = @snapshot.measure('new_major_violations')
     minor_issues = @snapshot.measure('new_minor_violations')
     info_issues = @snapshot.measure('new_info_violations')
     metrics = [
         Metric.by_key('new_blocker_violations'),
         Metric.by_key('new_critical_violations'),
         Metric.by_key('new_major_violations'),
         Metric.by_key('new_minor_violations'),
         Metric.by_key('new_info_violations')
     ]
   else
     blocker_issues = @snapshot.measure('blocker_violations')
     critical_issues = @snapshot.measure('critical_violations')
     major_issues = @snapshot.measure('major_violations')
     minor_issues = @snapshot.measure('minor_violations')
     info_issues = @snapshot.measure('info_violations')
     metrics = [
         Metric.by_key('blocker_violations'),
         Metric.by_key('critical_violations'),
         Metric.by_key('major_violations'),
         Metric.by_key('minor_violations'),
         Metric.by_key('info_violations')
     ]
   end

   rule_counts=Hash.new(0)
   @snapshot.rule_measures(metrics).each do |rule_measure|
     count=(@period ? rule_measure.variation(@period) : rule_measure.value)
     if count && count>0
       rule_counts[rule_measure.rule] += count.to_i
     end
   end

   rule_options=[]
   rule_counts.keys.sort.each do |rule|
     label = "#{rule.name} (#{rule_counts[rule]})"
     rule_options<<[label, rule.id]
   end
%>

<select name="rule" onchange="applyOptions(this)">

  <option value="all"><%= message('all_issues') -%></option>

  <option value="false_positive_issues" <%= 'selected' if params[:rule]=="false_positive_issues" -%>>
    <%= message('issues_viewer.issue_filter.false_positives') -%>
  </option>

  <optgroup label="<%= message('severity') -%>">
    <% if blocker_issues
         value=(@period ? blocker_issues.variation(@period) : blocker_issues.value)
         if value && value>0
    %>
        <option value="<%= Sonar::RulePriority::BLOCKER.to_s -%>" <%= 'selected' if params[:rule]==Sonar::RulePriority::BLOCKER.to_s -%>><%= message('severity.BLOCKER') %>
          (<%= blocker_issues.format_numeric_value(value) -%>)
        </option>
      <% end
         end %>

    <% if critical_issues
         value=(@period ? critical_issues.variation(@period) : critical_issues.value)
         if value && value>0
    %>
        <option value="<%= Sonar::RulePriority::CRITICAL.to_s -%>" <%= 'selected' if params[:rule]==Sonar::RulePriority::CRITICAL.to_s -%>><%= message('severity.CRITICAL') %>
          (<%= critical_issues.format_numeric_value(value) -%>)
        </option>
      <% end
         end
      %>

    <% if major_issues
         value=(@period ? major_issues.variation(@period) : major_issues.value)
         if value && value>0
    %>
        <option value="<%= Sonar::RulePriority::MAJOR.to_s -%>" <%= 'selected' if params[:rule]==Sonar::RulePriority::MAJOR.to_s -%>><%= message('severity.MAJOR') %>
          (<%= major_issues.format_numeric_value(value) -%>)
        </option>
      <% end
         end
      %>

    <% if minor_issues
         value=(@period ? minor_issues.variation(@period) : minor_issues.value)
         if value && value>0
    %>
        <option value="<%= Sonar::RulePriority::MINOR.to_s -%>" <%= 'selected' if params[:rule]==Sonar::RulePriority::MINOR.to_s -%>><%= message('severity.MINOR') %>
          (<%= minor_issues.format_numeric_value(value) -%>)
        </option>
      <% end
         end
      %>

    <% if info_issues
         value=(@period ? info_issues.variation(@period) : info_issues.value)
         if value && value>0
    %>
        <option value="<%= Sonar::RulePriority::INFO.to_s -%>" <%= 'selected' if params[:rule]==Sonar::RulePriority::INFO.to_s -%>><%= message('severity.INFO') %>
          (<%= info_issues.format_numeric_value(value) -%>)
        </option>
      <% end
         end
      %>
  </optgroup>


  <optgroup label="<%= message('rule') -%>">
    <%= options_for_select(rule_options, params[:rule].to_i) -%>
  </optgroup>

</select>