<%
   if @extensions.empty?
%>
  <span class="note"><%= message('code_viewer.no_info_displayed_due_to_security') -%></span>
<%
   else
     display_title=(params[:display_title]=='true')
%>

  <% if display_title %>
    <div class="source_title">
      <% if @resource.project %>
        <div class="subtitle">
          <%= h @resource.ancestor_projects.reverse.map{|p| p.name(true)}.join(' / ') -%>
        </div>
      <% end %>
      <% if logged_in? %><%= link_to_favourite(@resource) -%><% end %>
      <span class="h1"><%= qualifier_icon(@resource) -%> <%= h @resource.name(true) -%></span>
    </div>
  <% end %>

  <div class="source_tabs">
    <ul class="tablinks">
      <%
         first=true
         if @snapshot.has_source && has_role?(:codeviewer, @snapshot)
      %>
        <li class="<%= 'first' if first -%>">
          <a href="<%= ApplicationController.root_context -%>/api/sources?resource=<%= @resource.key -%>&amp;format=txt"><%= message('raw') -%></a>
        </li>
      <% first=false
         end %>
      <% unless @popup_mode %>
      <li class="<%= 'first' if first -%>">
        <a href="<%= url_for :controller => 'resource', :action => 'index', :id => @resource.key, :period => params[:period], :metric => params[:metric], :rule => params[:rule] ? params[:rule] : params[:rule_sev], :display_title => 'true' -%>"
           onclick="window.open(this.href,'resource','height=800,width=900,scrollbars=1,resizable=1');return false;" id="new-window-<%= @resource.key.parameterize -%>"><%= image_tag 'new-window-16.gif', :alt => message('new_window') -%></a>
      </li>
      <% end %>
    </ul>
    <ul class="tabs2">
      <% @extensions.each do |extension| %>
        <li>
          <a href="#" onclick="return loadResourceViewer('<%= @resource.id -%>','<%= extension.getId() -%>',<%= display_title -%>, this)" class="<%= 'selected' if @extension && @extension.getId()==extension.getId() -%>"><%= message(extension.getId() + '.page', :default => extension.getTitle()) %></a>
        </li>
      <% end %>
      <li>
        <img src="<%= ApplicationController.root_context -%>/images/loading.gif" id="resource_loading" class="accordion-loading" style="display:none"/>
      </li>
    </ul>
  </div>


<%  end %>
