<img src="<%= ApplicationController.root_context -%>/images/priority/<%=violation.failure_level-%>.png"/>

<span class="rulename"><a onclick="window.open(this.href,'rule','height=800,width=900,scrollbars=1,resizable=1');return false;" href="<%= url_for :controller => 'rules', :action => 'show', :id => violation.rule.key, :layout => 'false' -%>"><%= h(violation.rule.name) -%></a></span>
 »
<%= h(violation.message) -%>
<%
   if violation.created_at
    duration=Date.today - violation.created_at.to_date

%>
  <span class="violation_date"><%= duration==0 ? 'today' : "#{duration} days ago" -%></span>
<% end %>