<div id="vId<%= violation.id -%>">
  <div class="violation">
    <div class="vtitle">
      <% if violation.review %>
        <div class="review_permalink">
          <span class="review_permalink"><%= link_to "Review #"+violation.review.id.to_s, :controller => "project_reviews", :action => "view", :id => violation.review.id -%></span>
        </div>
      <% end %>

      <% if violation.review && violation.review.manual_severity && violation.review.severity!=violation.severity %>
        <img src="<%= ApplicationController.root_context -%>/images/priority/<%= violation.review.severity -%>.png">
      <% else %>
        <img src="<%= ApplicationController.root_context -%>/images/priority/<%= violation.failure_level -%>.png">
      <% end %>
      &nbsp;
      <span class="rulename">
        <a onclick="window.open(this.href,'rule','height=800,width=900,scrollbars=1,resizable=1');return false;" href="<%= url_for :controller => 'rules', :action => 'show', :id => violation.rule.key, :layout => 'false' -%>"><%= h(violation.rule.name) -%></a>
      </span>
      &nbsp;
      <%= image_tag 'sep12.png' -%>
      &nbsp;

      <% if violation.created_at %>
        <span><%= distance_of_time_in_words_to_now(violation.created_at) -%></span>
        &nbsp;
      <% end %>
      <% if violation.switched_off? %>
        <%= image_tag 'sep12.png' -%>
        &nbsp;
        <span class="falsePositive"><%= message('false_positive') -%></span>
        &nbsp;
      <% end %>
      <% if violation.review && violation.review.resolved? %>
        <%= image_tag 'sep12.png' -%>
        &nbsp;
        <span class="reviewResolved"><%= message('reviews.status.RESOLVED') -%></span>
        &nbsp;
      <% end %>
      <% if violation.review && violation.review.assignee_id %>
        <%= image_tag 'sep12.png' -%>
        &nbsp;
        <%= message('assigned_to') -%> <%= h(violation.review.assignee.name) -%>
        &nbsp;
      <% end %>
      <% if violation.review && violation.review.planned? %>
        <%= image_tag 'sep12.png' -%>
        &nbsp;
        <%= message('reviews.planned_for_x', :params => h(violation.review.action_plan.name)) -%>
        &nbsp;
      <% end %>

    </div>

    <div class="discussionComment first">
      <div id="vMsg<%= violation.id -%>">
        <%= violation.html_message || '&nbsp;' -%>
      </div>
    </div>

    <%
       if violation.review
         violation.review.comments.each_with_index do |review_comment, comment_index|
           is_last_comment=(comment_index==violation.review.comments.size-1)
    %>
        <div class="discussionComment">
          <h4><%= image_tag("reviews/comment.png") -%> &nbsp;<b><%= review_comment.user.name -%></b>
            (<%= distance_of_time_in_words_to_now(review_comment.created_at) -%>)
            <% if is_last_comment && current_user %>
      <span class="actions" id="commentActions<%= violation.id -%>">
        &nbsp;&nbsp;
        <%
           if current_user.id == review_comment.user_id
        %>
          <%= image_tag 'sep12.png' -%>
          &nbsp;
          <%= link_to_remote message('reviews.edit'),
                             :url => {:controller => "reviews", :action => "violation_comment_form", :comment_id => review_comment.id, :id => violation.id},
                             :update => "lastComment" + violation.id.to_s,
                             :complete => "$('vActions#{violation.id}').hide();$('commentActions#{violation.id}').hide();$('commentText#{violation.id}').focus();",
                             :html => {:class => 'link-action'} -%>
          &nbsp;
          <%= link_to_remote message('reviews.delete'),
                             :url => {:controller => "reviews", :action => "violation_delete_comment", :comment_id => review_comment.id, :id => violation.id},
                             :update => "vId" + violation.id.to_s,
                             :confirm => message('reviews.do_you_want_to_delete_comment'),
                             :html => {:class => 'link-action'} -%>
        <%
           end
        %>
      </span>
            <% end %>
          </h4>
          <% if is_last_comment %>
            <div id="lastComment<%= violation.id -%>">
              <%= review_comment.html_text -%>
            </div>
          <% else %>
            <%= review_comment.html_text -%>
          <% end %>
        </div>
      <%
         end
      %>
      <div class="discussionComment" id="replyForm<%= violation.id -%>" style="display:none"></div>
    <%
       end
    %>

    <% if current_user %>
      <div class="vActions" id="vActions<%= violation.id -%>">
        <% if defined?(error_message) && error_message %>
          <div id="review_error_<%= violation.id -%>" class="error"><%= h error_message -%> <a href="#" onclick="$('review_error_<%= violation.id -%>').hide(); return false;"><%= message('reviews.hide_this_message') -%></a></div>
        <% end %>

        <%= link_to_function message('reviews.comment'), "sCF(#{violation.id})", :name => 'bComment', :class => 'link-action spacer-right' -%>

        <% unless violation.review && violation.review.resolved? %>
          <%= link_to_function message('reviews.assign'), "sAF(#{violation.id})", :name => 'bAssign', :class => 'link-action spacer-right' -%>
        <% end %>

        <% if violation.review.nil? || violation.review.can_change_false_positive_flag? %>
          <%= link_to_function message(violation.switched_off? ? 'reviews.unflag_as_false_positive' : 'reviews.flag_as_false_positive'),
                                   "sFPF(#{violation.id})", :name => 'bFalsePositive', :class => 'link-action spacer-right' -%>
        <% end %>

        <% unless violation.switched_off? && violation.review && violation.review.resolved? %>
        <div class="dropdown">
          <a href="#" class="link-action link-more" onclick="showDropdownMenu('more<%= violation.id -%>');return false;"><%= message('more_actions') -%></a>
          <ul style="display: none" class="dropdown-menu" id="more<%= violation.id -%>">
            <% if !violation.switched_off? %>
              <li><%= link_to_function (violation.review && violation.review.resolved? ? message('reviews.reopen') : message('reviews.resolved')),
                                       "sCStF(#{violation.id})", :name => (violation.review && violation.review.resolved? ? 'bReopen' : 'bResolved') -%></li>
            <% end %>
            <% unless violation.review && violation.review.resolved? %>
              <li><%= link_to_function message('reviews.change_severity'), "sCSF(#{violation.id})", :name => 'bChangeSeverity' -%></li>
              <li><%= link_to_function message('reviews.link_to_action_plan'), "sAPF(#{violation.id})", :name => 'bLinkActionPlan' -%></li>
            <% end %>
            <%
               if defined? review_screens
                 review_screens.each do |screen|
            %>
            <li><%= link_to_function message("reviews.command.#{screen.getCommandKey()}.button"), "sS(#{violation.id}, '#{screen.getCommandKey()}')", :name => "bCommand#{screen.getCommandKey()}" -%></li>
            <%
                 end
               end
            %>
          </ul>
        </div>
        <% end %>
      </div>
    <% end %>
    <div class="discussionComment" id="reviewForm<%= violation.id -%>" style="display:none"></div>
  </div>

</div>