<div id="vId<%= violation.permanent_id -%>">
<%
  current_open_review = violation.get_open_review
  false_positive = (current_open_review && current_open_review.review_type == "f-positive")
%>

<div class="violation">

  <div class="vtitle">
    <% if current_open_review %>
    <div style="float: right"><span class="violation_date">#<%= current_open_review.id.to_s -%></span></div>
    <% end %>
    
    <%= image_tag("priority/" + violation.failure_level.to_s + ".png") -%>
    &nbsp;
    <%= image_tag("sep12.png") -%>
    &nbsp;&nbsp;
    <span class="rulename">
      <a onclick="window.open(this.href,'rule','height=800,width=900,scrollbars=1,resizable=1');return false;" href="<%= url_for :controller => 'rules', :action => 'show', :id => violation.rule.key, :layout => 'false' -%>"><%= h(violation.rule.name) -%></a>
    </span>
    &nbsp;&nbsp;
    <%= image_tag("sep12.png") -%>
    &nbsp;&nbsp;
    <%
	  if violation.created_at
		duration=Date.today - violation.created_at.to_date
    %>
	  <span class="violation_date"><%= duration==0 ? 'today' : "#{duration} days ago" -%></span>
      &nbsp;&nbsp;
    <% end %>
    <% if false_positive %>
      <%= image_tag("sep12.png") -%>
      &nbsp;&nbsp;
      False-Positive
      &nbsp;&nbsp;
    <% end %>
    <% if current_open_review && current_open_review.assignee %>
      <%= image_tag("sep12.png") -%>
      &nbsp;&nbsp;
      <%= h(current_open_review.assignee.name) -%>
      &nbsp;&nbsp;
    <% end %>
    
    
    <% if current_user %>
    <span class="actions" id="vActions<%= violation.permanent_id.to_s -%>">
      <%= image_tag("sep12.png") -%>
      &nbsp;&nbsp;
      <% if current_open_review && !false_positive %>
        <%= link_to_remote "Close review",  
        		:url => { :controller => "reviews", :action => "close_review", :review_id => current_open_review.id, :rule_failure_permanent_id => violation.permanent_id },
        		:update => "vId" + violation.permanent_id.to_s -%>
        &nbsp;&nbsp;
        <%= link_to_remote (current_open_review.assignee == nil ? "Assign" : "Reassign"),  
        		:url => { :controller => "reviews", :action => "form_assign", :review_id => current_open_review.id, :rule_failure_permanent_id => violation.permanent_id },
        		:update => "vActions" + violation.permanent_id.to_s,
        		:complete => "$('vActions" + violation.permanent_id.to_s + "').style.visibility='visible';$('assignee_id').focus();" -%>
        &nbsp;&nbsp;
      <% end %>
      <% unless current_open_review %>
        <%= link_to_remote "Review",  
        		:url => { :controller => "reviews", :action => "form", :rule_failure_permanent_id => violation.permanent_id },
        		:update => "reviewForm" + violation.permanent_id.to_s,
        		:complete => "$('reviewForm" + violation.permanent_id.to_s + "').style.display='';$('reviewText').focus();" -%>
        &nbsp;&nbsp;
      <% end %>
      <% if violation.switched_off %>
        <%= link_to_remote "Switch-on",  
        		:url => { :controller => "reviews", :action => "switch_on_violation", :rule_failure_id => violation.id },
        		:update => "vId" + violation.permanent_id.to_s -%>
      <% else %>
        <%= link_to_remote "Switch-off",  
        		:url => { :controller => "reviews", :action => "form", :rule_failure_permanent_id => violation.permanent_id, :switch_off => true },
        		:update => "reviewForm" + violation.permanent_id.to_s,
        		:complete => "$('reviewForm" + violation.permanent_id.to_s + "').style.display='';$('reviewText').focus();" -%>
      <% end %>
      &nbsp;&nbsp;
    </span>
    <% end %>
    
  </div>

  <div class="discussionComment first">
    <%= h(violation.message) -%>
  </div>

  <% 
    if current_open_review
      last_comment = current_open_review.review_comments.last
      current_open_review.review_comments.each do |review_comment|
  %>
  <div class="discussionComment">
    <% duration=Date.today - review_comment.created_at.to_date %>
    <h4><%= image_tag("reviews/comment.png") -%> &nbsp;<b><%= review_comment.user.name -%></b> (<%= duration==0 ? 'today' : "#{duration} days ago" -%>)
    <% if review_comment == last_comment && current_user && current_user.id == review_comment.user.id %>
      <span class="actions">
        &nbsp;&nbsp;
        <%= image_tag("sep12.png") -%>
        &nbsp;&nbsp;
        <%= link_to_remote "Edit", 
      		:url => { :controller => "reviews", :action => "form_comment", :review_id => current_open_review.id, :rule_failure_permanent_id => violation.permanent_id, :review_text => last_comment.review_text, :update_comment => "true" },
      		:update => "lastComment" + violation.permanent_id.to_s,
      		:complete => "$('commentText" + violation.permanent_id.to_s + "').focus()" -%>
      </span>
    <% end %>
    </h4> 
      <% if review_comment == last_comment %>
        <div id="lastComment<%= violation.id -%>">
          <%= h(review_comment.review_text) -%>
        </div>
      <% else %>
        <%= h(review_comment.review_text) -%>
      <% end %>
  </div>
  <% 
      end
    end
  %>

  <div class="comment" id="reviewForm<%= violation.permanent_id.to_s -%>" style="display: none">
  </div>

</div>

<% if current_user && current_open_review %>
<div style="padding: 5px" id="commentAction<%= violation.permanent_id -%>">
  <%= link_to_remote "Add comment", 
      		:url => { :controller => "reviews", :action => "form_comment", :review_id => current_open_review.id, :rule_failure_permanent_id => violation.permanent_id },
      		:update => "reviewForm" + violation.permanent_id.to_s, 
      		:complete => "$('commentAction" + violation.permanent_id.to_s + "').style.display='none';$('reviewForm" + violation.permanent_id.to_s + "').style.display='';$('commentText" + violation.permanent_id.to_s + "').focus()" -%>
</div>
<% end %>

<div>