<div id="vId<%= violation.id -%>">
<div class="violation">
  <div class="vtitle">
    <% if violation.review %>
      <div style="float: right"><span class="violation_date">#<%= violation.review.id -%></span></div>
    <% end %>
    
    <%= image_tag("priority/" + violation.failure_level.to_s + '.png') -%>
    &nbsp;
    <%= image_tag("sep12.png") -%>
    &nbsp;
    <span class="rulename">
      <a onclick="window.open(this.href,'rule','height=800,width=900,scrollbars=1,resizable=1');return false;" href="<%= url_for :controller => 'rules', :action => 'show', :id => violation.rule.key, :layout => 'false' -%>"><%= h(violation.rule.name) -%></a>
    </span>
    &nbsp;
    <%= image_tag("sep12.png") -%>
    &nbsp;
    <% if violation.created_at %>
	  <span class="violation_date"><%= distance_of_time_in_words_to_now(violation.created_at) -%></span>
      &nbsp;
    <% end %>
    <% if violation.false_positive? %>
      <%= image_tag("sep12.png") -%>
      &nbsp;
      <span class="falsePositive">False-Positive</span>
      &nbsp;
    <% end %>
    <% if violation.review && violation.review.assignee_id %>
      <%= image_tag("sep12.png") -%>
      &nbsp;
      Assigned to: <%= h(violation.review.assignee.name) -%>
      &nbsp;
    <% end %>
    
    <% if current_user %>
    <span class="actions" id="vActions<%= violation.id -%>">
      <%= image_tag("sep12.png") -%>
        <% if violation.review %>
        &nbsp;
        <%= link_to_remote (violation.review && violation.review.assignee_id ? "Reassign" : "Assign"),  
        		:url => { :controller => "reviews", :action => "violation_assign_form", :violation_id => violation.id},
        		:update => "vActions" + violation.id.to_s,
        		:complete => "$('vActions" + violation.id.to_s + "').show();$('assignee_id').focus();" -%>
        <% else %>        
        &nbsp;
        <%= link_to_remote "Review",
      		:url => { :controller => "reviews", :action => "violation_comment_form", :id => violation.id },
      		:update => "reviewForm" + violation.id.to_s,
      		:complete => "$('vActions#{violation.id}').hide();$('reviewForm" + violation.id.to_s + "').show();$('commentText" + violation.id.to_s + "').focus()" -%>
        <% end %>
      
        &nbsp;
        <%= link_to_remote (violation.false_positive? ? "Unflag false-positive" : "Flag as false-positive"),
        		:url => { :controller => "reviews", :action => "violation_false_positive_form", :id => violation.id, :false_positive => !violation.false_positive? },
        		:update => "reviewForm" + violation.id.to_s,
        		:complete => "$('vActions" + violation.id.to_s + "').hide();$('reviewForm" + violation.id.to_s + "').show();$('commentText" + violation.id.to_s + "').focus();" -%>
    </span>
    <% end %>
    
  </div>

  <div class="discussionComment first">
    <%= h(violation.message) -%>
  </div>

  <% 
    if violation.review
      violation.review.comments.each_with_index do |review_comment, comment_index|
      is_last_comment=(comment_index==violation.review.comments.size-1)
  %>
  <div class="discussionComment">
    <h4><%= image_tag("reviews/comment.png") -%> &nbsp;<b><%= review_comment.user.name -%></b> (<%= distance_of_time_in_words_to_now(review_comment.created_at) -%>)
    <% if is_last_comment && current_user && current_user.id == review_comment.user_id %>
      <span class="actions">
        &nbsp;&nbsp;
        <%= image_tag("sep12.png") -%>
        &nbsp;&nbsp;
        <%= link_to_remote "Edit", 
      		:url => { :controller => "reviews", :action => "violation_comment_form", :comment_id => review_comment.id, :id => violation.id },
      		:update => "lastComment" + violation.id.to_s,
      		:complete => "$('reviewForm#{violation.id}').hide();$('vActions#{violation.id}').hide();$('commentText#{violation.id}').focus();" -%>

        <%= link_to_remote "Delete",
      		:url => { :controller => "reviews", :action => "violation_delete_comment", :comment_id => review_comment.id, :id => violation.id },
      		:update => "vId" + violation.id.to_s,
          :confirm => "Do you want to delete this comment ?" -%>
      </span>
    <% end %>
    </h4> 
      <% if is_last_comment %>
        <div id="lastComment<%= violation.id -%>">
          <%= markdown_to_html(review_comment.text) -%>
        </div>
      <% else %>
        <%= markdown_to_html(review_comment.text) -%>
      <% end %>
  </div>
  <% 
      end
    end
  %>

  <div class="discussionComment" id="reviewForm<%= violation.id -%>" style="display:none"></div>
</div>



<% if current_user && violation.review %>
<div style="padding: 5px" id="commentAction<%= violation.id -%>">
  <%= link_to_remote "Add comment",
      		:url => { :controller => "reviews", :action => "violation_comment_form", :id => violation.id },
      		:update => "reviewForm" + violation.id.to_s,
      		:complete => "$('vActions#{violation.id}').hide();$('commentAction" + violation.id.to_s + "').hide();$('reviewForm" + violation.id.to_s + "').show();$('commentText" + violation.id.to_s + "').focus()" -%>
</div>
<% end %>

</div>