<% 
  displayReviewFailureDiv = 'block'
  if violation.reviews.blank?
    displayReviewFailureDiv = 'none'
  end
%>
<div class="violation">
  <table style="width:100%">
    <tr>
      <td style="width: 30px; vertical-align: top; text-align: center;">
      	<% if current_user && violation.reviews.blank? %>
          <%= link_to_remote image_tag("reviews/+review.png"),  
        		:url => { :controller => "reviews", :action => "form", :rule_failure_permanent_id => violation.permanent_id },
        		:update => "reviewFailure" + violation.permanent_id.to_s,
        		:html => { :id => "createReviewLink" + violation.permanent_id.to_s, :title => "Add a review" },
        		:complete => "$('reviewFailure" + violation.permanent_id.to_s + "').style.display='';$('reviewText').focus();" -%>
      	<% end %>
      	<% unless violation.reviews.blank? %>
      	  <%= image_tag("reviews/review.png") -%>
      	<% end %>
      </td>
      
      <td>
		<img src="<%= ApplicationController.root_context -%>/images/priority/<%=violation.failure_level-%>.png"/>
		
		<span class="rulename"><a onclick="window.open(this.href,'rule','height=800,width=900,scrollbars=1,resizable=1');return false;" href="<%= url_for :controller => 'rules', :action => 'show', :id => violation.rule.key, :layout => 'false' -%>"><%= h(violation.rule.name) -%></a></span>
		 »
		<%= h(violation.message) -%>
		<%
		   if violation.created_at
		    duration=Date.today - violation.created_at.to_date
		%>
		  <span class="violation_date"><%= duration==0 ? 'today' : "#{duration} days ago" -%></span>
		<% end %>
		
      </td>
    </tr>
    
    <tr>
      <td colspan="2">
		<div id="reviewFailure<%= violation.permanent_id -%>" style="margin-left: 13px; padding: 10px 5px 5px 10px; border-left: 2px solid #EFEFEF; display:<%= displayReviewFailureDiv -%>">
		  <%= render :partial => "reviews/list", :locals => { :reviews => violation.reviews } %>
		</div>
      </td>
    </tr>
    
  </table>
</div>