<form id="copy-filter-form" method="post" action="<%= ApplicationController.root_context -%>/measures/copy">
  <input type="hidden" name="id" value="<%= @filter.id -%>">
  <fieldset>
    <div class="form-head">
      <h2>Copy Filter: <%= h @filter.name -%></h2>
    </div>
    <div class="form-body">
      <% @filter.errors.each do |attr, msg| %>
        <p class="error"><%= h msg -%></p>
      <% end %>
      <div class="form-field">
        <label for="name">Name <em class="mandatory">*</em></label>
        <input id="name" name="name" type="text" size="50" maxlength="100" value="<%= h @filter.name -%>"/>
      </div>
      <div class="form-field">
        <label for="description">Description</label>
        <input id="description" name="description" type="text" size="50" maxlength="4000" value="<%= h @filter.description -%>"/>
      </div>
    </div>
    <div class="form-foot">
      <input type="submit" value="<%= h message('copy') -%>" id="copy-submit"/>
      <a href="#" onclick="return closeModalWindow()" id="copy-cancel"><%= h message('cancel') -%></a>
    </div>
  </fieldset>
</form>
<script>
  $j("#copy-filter-form").modalForm({success:function (data) {
      window.location = baseUrl + '/measures/filter/' + data;
    }});
  $j('#name').select();
</script>