<div>
  <%
     color_options={
       :check_alert_status => false,
       :min_color => Color::RGB.from_html("EE0000"), # red
       :mean_color => Color::RGB.from_html("4D05B1"), # purple
       :max_color => Color::RGB.from_html("2360BF") # blue
     }
     size_measure_values = filter.rows.map do |row|
       size_measure = row.measure(filter.display.size_metric)
       size_measure.value if size_measure
     end.compact

     min_size_value=(size_measure_values.empty? ? 0.0 : size_measure_values.min)
     max_size_value=(size_measure_values.empty? ? 0.0 : size_measure_values.max)

     filter.rows.each do |row|
       size_measure=row.measure(filter.display.size_metric)
       if size_measure && size_measure.value
         color_measure=row.measure(filter.display.color_metric)

         title="#{row.snapshot.resource.long_name} | #{filter.display.size_metric.short_name}: #{size_measure.formatted_value}"
         if color_measure && color_measure.value
           title += " | #{filter.display.color_metric.short_name}: #{color_measure.formatted_value}"
         end
  %>
      <a href="<%= ApplicationController.root_context -%>/dashboard/index/<%= row.snapshot.resource_id -%>" title="<%= title -%>"><span style="font-size: <%= cloud_font_size(size_measure.value, min_size_value, max_size_value) -%>%;color: <%= MeasureColor.color(color_measure, color_options).html -%>"><%= h row.snapshot.resource.name %></span></a>
    <% end
       end %>
</div>