<script>
  var filterCriteria<%= widget_id -%> = <%= filter.criteria.to_json -%>;
</script>
<%
   treemap_id = (defined? widget) ? widget.id : 1
   unless edit_mode
%>
  <table class="spaced">
    <tr>
      <% if filter.display.size_metric %>
        <td class="thin nowrap"><span class="note"><%= message('size') -%>: <b><%= filter.display.size_metric.short_name -%></b></span></td>
      <% end %>
      <% if filter.display.color_metric %>
        <td class="thin nowrap">
          <span class="note"><%= message('color') -%>
            : <b><%= filter.display.color_metric.short_name -%></b> <%= render :partial => 'treemap/gradient', :locals => {:metric => filter.display.color_metric} %></span>
        </td>
      <% end %>
      <td>
        <%= image_tag 'loading-small.gif', :id => "tm-loading-#{treemap_id}", :style => 'display:none' -%>
      </td>
    </tr>
  </table>
<% else %>
  <table class="spaced width100 box">
    <tr>
      <td valign="top" class="thin nowrap">
        <span class="comments"><%= message('size') -%></span>
        <br/>
        <%= metric_select_tag 'tmSize', Metric.all.select { |m| m.treemap_size? },
                              :html_id => 'select-tm-size',
                              :allow_empty => false,
                              :selected_key => filter.display.size_metric.key -%>
      </td>
      <td valign="top" class="thin nowrap">
        <span class="comments"><%= message('color') -%></span>
        <% if filter.display.color_metric %>
        <span id="tm-gradient-<%= treemap_id -%>" class="note">
          <%= render :partial => 'treemap/gradient', :locals => {:metric => filter.display.color_metric} %>
        </span>
        <% end %>
        <br/>
        <%= metric_select_tag 'tmColor', Metric.all.select { |m| m.treemap_color? },
                              :html_id => 'select-tm-color',
                              :allow_empty => false,
                              :selected_key => (filter.display.color_metric ? filter.display.color_metric.key : nil) -%>

        <button id="update-treemap"><%= message 'refresh' -%></button>
      </td>
      <td valign="bottom"><%= image_tag 'loading.gif', :id => "tm-loading-#{treemap_id}", :style => 'display:none' -%></td>
      <td class="right" valign="bottom">
        <a href="#" class="button" id="exit-edit"><%= message 'close' -%></a>
      </td>
    </tr>
  </table>
<% end %>

<% unless defined? widget
     content_for :script do %>
    <script>
      $j(document).ready(function () {
        $j("#update-treemap").on("click", function (e) {
          filterCriteria<%= widget_id -%>['tmSize']=$j('#select-tm-size').val();
          var color = $j('#select-tm-color').val();
          if (color != null && color != '') {
            filterCriteria<%= widget_id -%>['tmColor']=color;
          }
          filterCriteria<%= widget_id -%>['edit']=true;
          window.location = baseUrl + '/measures/search/<%= filter.id -%>?' + $j.param(filterCriteria<%= widget_id -%>);
        });
        $j("#exit-edit").on("click", function (e) {
          delete filterCriteria<%= widget_id -%>['edit'];
          window.location = baseUrl + '/measures/search/<%= filter.id -%>?' + $j.param(filterCriteria<%= widget_id -%>);
        });
      });
    </script>
  <% end
     end %>

<% if filter.rows.empty? %>
  <p><%= message('no_data') -%></p>
<% elsif filter.pagination.pages>1 %>
  <p><%= message('measure_filter.error.TOO_MANY_RESULTS') -%></p>
<% else %>
  <div id="tm-<%= treemap_id -%>" class="treemap width100">
    <%= filter.display.html -%>
  </div>

  <div style="margin: 5px 0 0 0" class="notes">
    <div style="float: right;cursor: help"><%= image_tag 'help.png', :title => h(message('treemap.click_help')) -%></div>
    <div id="tm-bc-<%= treemap_id -%>">/</div>
  </div>

  <script>
    new Treemap(<%= treemap_id -%>, '<%= filter.display.size_metric.key  -%>', '<%= filter.display.color_metric ? filter.display.color_metric.key : '' -%>', <%= filter.display.height_percents -%>);
  </script>

<% end %>