<%
   display_favourites = logged_in?
   colspan = @filter.display.columns.size
   colspan += 1 if display_favourites
%>
<table class="data">
  <thead>
  <tr>
    <% if display_favourites %>
      <th class="thin"></th>
    <% end %>
    <% @filter.display.columns.each do |column| %>
      <%= list_column_html(@filter, column) -%>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% @filter.results.each do |result| %>
    <tr class="<%= cycle 'even', 'odd' -%>">
      <% if display_favourites %>
        <td class="thin"><%= link_to_favourite(result.snapshot.resource) -%></td>
      <% end %>
      <% @filter.display.columns.each do |column| %>
        <td class="<%= column.align -%>" >
          <%= list_cell_html(column, result) -%>
        </td>
      <% end %>
    </tr>
  <% end %>
  <% if @filter.results.empty? %>
    <tr class="even">
      <td colspan="<%= colspan -%>"><%= message 'no_data' -%></td>
    </tr>
  <% end %>
  </tbody>
  <%= render :partial => 'utils/tfoot_pagination', :locals => {:pagination => @filter.pagination, :colspan => colspan} %>
</table>