<ul id="system-filters">
  <%
    system_filters = Api::Utils.insensitive_sort(MeasureFilter.find(:all, :include => :user, :conditions => ['system=?', true])) { |f| f.name }
    system_filters.each do |filter| %>
    <li>
      <a href="<%= ApplicationController.root_context -%>/measures/filter/<%= filter.id -%>"><%= h filter.name -%></a>
    </li>
  <% end %>
</ul>

<% if logged_in? %>
  <br/>
  <div class="h2">My Favourites</div>
  <ul id="fav-filters">
    <% current_user.favourited_measure_filters.each do |filter| %>
      <li>
        <a href="<%= ApplicationController.root_context -%>/measures/filter/<%= filter.id -%>"><%= h filter.name -%></a>
      </li>
    <% end %>
  </ul>
  <br>
  <a href="<%= ApplicationController.root_context -%>/measures/manage" class="link-action">Manage</a>
<% end %>
