<%
   hidden_condition_indexes = []
   for i in 1..3 do
     unless @filter.criteria("c#{i}_metric") && @filter.criteria("c#{i}_val")
       hidden_condition_indexes << i
     end
   end
%>
<% content_for :script do %>
  <script>
    function submitSearch() {
      // remove empty parameters from URL
      var form = $j("#search-form");
      form.find(':input[value=""]').attr('disabled', 'disabled');
      return true;
    }
    function removeUrlAttr(url, attribute_key) {
      var regexp = new RegExp("&?" + attribute_key + "=([^&]$|[^&]*)", "g");
      return url.replace(regexp, '');
    }
    function reloadParameters(params) {
      var url = decodeURI(window.location.href);
      $j.each(params, function (key, value) {
        url = removeUrlAttr(url, key);
        url += '&' + key + '=' + value;
      });
      window.location = url;
    }
    var hiddenConditionIndexes = [<%= hidden_condition_indexes.join(',') -%>];
    $j(document).ready(function () {
      $j('#select-lang').select2({allowClear: true, width: '100%', placeholder: '<%= escape_javascript message 'measure_filter.languages' -%>'});
      $j('#select-qualifiers').select2({allowClear: true, width: '100%', placeholder: '<%= escape_javascript message('measure_filter.criteria.what') -%>'});
      $j('#more-criteria')
        .select2({allowClear: true, width: '100%', placeholder: '<%= message 'measure_filter.more_criteria' -%>'})
        .on("change", function (e) {
          $j("#criteria-" + e.val).insertBefore($j("#more-td")).show();
          if (e.val == 'lang' || e.val == 'project') {
            $j("#select-" + e.val).select2("enable");
            $j("#select-" + e.val).select2("focus");
          } else if (e.val=='fav') {
            $j('#check-fav').attr('checked', 'checked');
          }

          if (e.val == 'metric') {
            if (hiddenConditionIndexes.length > 0) {
              var index = hiddenConditionIndexes.pop();
              $j("#criteria-metric-" + index).insertBefore($j("#more-td")).show();
              $j("#c" + index + "_metric").select2("focus");
              if (hiddenConditionIndexes.length == 0) {
                $j("#more-criteria option[value='metric']").remove();
              }
            }
          } else {
            $j("#more-criteria option[value='" + e.val + "']").remove();
          }
          $j("#more-criteria").select2("val", "");
        });
    });
  </script>
<% end %>
<ul class="sidebar gray-sidebar">
  <%= render :partial => 'measures/favourites' -%>

  <form id="search-form" method="GET" action="<%= ApplicationController.root_context -%>/measures/search" onsubmit="submitSearch()">
    <% if @filter.id %>
      <input type="hidden" name="id" value="<%= @filter.id -%>">
    <% end %>
    <%
       if @filter.display
    %>
      <input type="hidden" name="display" value="<%= @filter.display.key -%>"/>
      <%
         @filter.display.url_params.each do |k_v_array|
           if k_v_array[1].is_a?(String)
      %>
          <%= hidden_field_tag k_v_array[0], k_v_array[1] -%>
        <% else
             k_v_array[1].each do |string_val|
        %>
            <%= hidden_field_tag "#{k_v_array[0]}[]", string_val -%>
          <% end
             end
             end
             end
          %>
    <li class="sidebar-title">
      <%= @filter.name.present? ? h(@filter.name) : message('measure_filter.new_search') -%>
    </li>
    <li class="marginbottom5">
      <%
         qualifiers = Api::Utils.java_facade.getResourceTypesForFilter().map do |resource_type|
           [message("qualifiers.#{resource_type.getQualifier()}"), resource_type.getQualifier()]
         end
      %>
      <%= select_tag 'qualifiers[]', options_for_select(qualifiers, @filter.criteria['qualifiers']||''), :multiple => true, :id => 'select-qualifiers' -%>
    </li>
    <li id="criteria-project" <%= "style='display:none'" unless @filter.base_resource -%> class="marginbottom5">
      <%= message 'measure_filter.criteria.components_of' -%>:
      <%= resource_select_tag 'baseId', :resource_type_property => 'supportsGlobalDashboards', :width => '100%',
                              :selected_resource => @filter.base_resource,
                              :placeholder => message('project'),
                              :html_id => 'select-project',
                              :allow_clear => true
      -%>
    </li>
    <li id="criteria-lang" <%= "style='display:none'" unless @filter.criteria('languages') -%> class="marginbottom5">
      <% languages = [['', '']].concat(Api::Utils.languages.map { |lang| [lang.name, lang.key] }) %>
      <%= select_tag 'languages[]', options_for_select(languages, @filter.criteria['languages']), :multiple => true, :id => 'select-lang' -%>
    </li>
    <li id="criteria-name" <%= "style='display:none'" unless @filter.criteria('nameSearch') -%> class="marginbottom5">
      <%= message('measure_filter.name_contains') -%>:<br>
      <input type="text" name="nameSearch" value="<%= h @filter.criteria['nameSearch'] -%>">
    </li>
    <li id="criteria-key" <%= "style='display:none'" unless @filter.criteria('keyRegexp') -%> class="marginbottom5">
      <%= message('measure_filter.key_like') -%>:<br>
      <input type="text" name="keyRegexp" value="<%= h @filter.criteria['keyRegexp'] -%>"><br>
      <span class="note"><%= message 'measure.filter.criteria.key_note' -%></span>
    </li>
    <li id="criteria-fav" <%= "style='display:none'" unless @filter.criteria('onFavourites') -%> class="marginbottom5">
      <img src="<%= ApplicationController.root_context -%>/images/star.png"> <%= message 'measure_filter.criteria.only_favourites' %>:
      <%= check_box_tag 'onFavourites', 'true', @filter.criteria['onFavourites']=='true', :id => 'check-fav' -%>
    </li>

    <% condition_metrics = Metric.all.select { |m| m.numeric? && !m.hidden } %>
    <% for i in 1..3 %>
      <li id="criteria-metric-<%= i -%>" style="<%= "display: none" if hidden_condition_indexes.include?(i) -%>" class="marginbottom5">
        <%= metric_select_tag "c#{i}_metric", condition_metrics, :allow_empty => true, :selected_key => @filter.criteria("c#{i}_metric"), :width => '100%', :placeholder => message('measure_filter.criteria.metric') -%>
        <%= select_tag "c#{i}_period", options_for_select([[message('value'), ''], [Api::Utils.period_label(1), '1'], [Api::Utils.period_label(2), '2'], [Api::Utils.period_label(3), '3']], @filter.criteria("c#{i}_period")) -%>
        <br>
        <%= select_tag "c#{i}_op", options_for_select([['=', 'eq'], ['<', 'lt'], ['<=', 'lte'], ['>', 'gt'], ['>=', 'gte']], @filter.criteria("c#{i}_op")) -%>
        <input type="text" size="5" name="c<%= i -%>_val" value="<%= h @filter.criteria("c#{i}_val") -%>">
      </li>
    <% end %>
    <li id="criteria-date" <%= "style='display:none'" unless @filter.criteria('fromDate') || @filter.criteria('toDate') -%> class="marginbottom5">
      <%= message('measure_filter.criteria.from_date') -%>:<br>
      <input type="text" name="fromDate" value="<%= @filter.criteria['fromDate'] -%>" size="10" maxlength="10" class="marginbottom5">
      <br>
      <%= message 'measure_filter.criteria.to_date' -%>:<br>
      <input type="text" name="toDate" value="<%= @filter.criteria['toDate'] -%>" size="10" maxlength="10"><br>
      <span class="small gray"><%= message 'measure_filter.criteria.date_format' -%></span>
    </li>
    <li id="criteria-age" <%= "style='display:none'" unless @filter.criteria('ageMinDays') || @filter.criteria('ageMaxDays') -%> class="marginbottom5">
      <%= message 'measure_filter.criteria.age.more_than' -%>:<br>
      <input type="text" name="ageMinDays" value="<%= @filter.criteria['ageMinDays'] -%>" size="3" class="marginbottom5"> <%= message 'measure_filter.criteria.age.days_ago' -%>
      <br>
      <%= message 'measure_filter.criteria.age.within_last' -%>:<br>
      <input type="text" name="ageMaxDays" value="<%= @filter.criteria['ageMaxDays'] -%>" size="3"> <%= message 'measure_filter.criteria.age.days' -%>
    </li>
    <li id="more-td" class="marginbottom5">
      <select id="more-criteria">
        <option value=""></option>
        <% unless @filter.criteria('ageMinDays') || @filter.criteria('ageMaxDays') %>
          <option value="age"><%= message 'measure_filter.criteria.age' -%></option>
        <% end %>
        <% unless @filter.criteria('fromDate') || @filter.criteria('toDate') %>
          <option value="date"><%= message 'measure_filter.criteria.date' -%></option>
        <% end %>
        <% unless @filter.criteria('onFavourites') %>
          <option value="fav"><%= message 'measure_filter.criteria.only_favourites' -%></option>
        <% end %>
        <% unless @filter.criteria('keyRegexp') %>
          <option value="key"><%= message 'measure_filter.criteria.key' -%></option>
        <% end %>
        <% unless @filter.criteria('languages') %>
          <option value="lang"><%= message 'measure_filter.criteria.language' -%></option>
        <% end %>
        <option value="metric"><%= message 'measure_filter.criteria.metric' -%></option>
        <% unless @filter.criteria('nameSearch') %>
          <option value="name"><%= message 'measure_filter.criteria.name' -%></option>
        <% end %>
        <% unless @filter.base_resource %>
          <option value="project"><%= message 'measure_filter.criteria.components_of_project' -%></option>
        <% end %>
      </select>
    </li>
    <li>
      <input type="submit" name="search" value="<%= message('search_verb') -%>" id="search-button">
      <% if @filter.rows %>
        <a href="<%= ApplicationController.root_context -%>/measures" class="link-action"><%= message 'measure_filter.new_search' -%></a>
      <% end %>
    </li>
  </form>
</ul>