<div class="navigator">

  <div class="navigator-filters" style="margin-bottom: 0;"></div>


  <div class="navigator-results">
    <%= render :partial => 'search_body' -%>
  </div>
</div>


<script id="filterBarTemplate" type="text/template">
  <form method="get" action="<%= ApplicationController.root_context -%>/measures/search">
    <% if @filter.id %>
      <input type="hidden" name="id" value="<%= h @filter.id -%>">
    <% end %>
    <% if @filter.display %>
      <input type="hidden" name="display" value="<%= h @filter.display.key -%>"/>
      <%
         @filter.display.url_params.each do |k_v_array|
           if k_v_array[1].is_a?(String)
      %>
          <%= hidden_field_tag k_v_array[0], k_v_array[1] -%>
        <% else
             k_v_array[1].each do |string_val|
        %>
            <%= hidden_field_tag "#{k_v_array[0]}[]", string_val -%>
          <% end
             end
             end
             end
          %>

    <div class="navigator-filters-list"></div>
    <button class="navigator-filter-submit"><%= message('search_verb') -%></button>
    <a class="navigator-filter-new-search link-action" href="<%= ApplicationController.root_context -%>/measures/search"><%= message 'issue_filter.new_search' -%></a>
  </form>
</script>


<%= render :partial => '/navigator/filter_templates' -%>


<script>
  _.templateSettings = {
    interpolate: /\{\{(.+?)\}\}/g,
    evaluate: /\{\[(.+?)\]\}/g
  };


  _.extend(window.SS, {
    languages: <%= render :partial => 'measures/languages' -%>,
    favorites: <%= render :partial => 'measures/favourites2' -%>
  });


  var queryParams = [
    { key: 'qualifiers[]', value: <%= @filter.criteria['qualifiers'].to_json -%> },
    { key: 'alertLevels[]', value: <%= @filter.criteria['alertLevels'].to_json -%> },
    { key: 'fromDate', value: '<%= h @filter.criteria['fromDate'] -%>' },
    { key: 'toDate', value: '<%= h @filter.criteria['toDate'] -%>' },
    { key: 'ageMinDays', value: '<%= h @filter.criteria('ageMinDays') -%>' },
    { key: 'ageMaxDays', value: '<%= h @filter.criteria['ageMaxDays'] -%>' },
    <% if @filter.base_resource %>
    { key: 'base', value: ['<%= h @filter.base_resource.key -%>'], text: ['<%= h @filter.base_resource.name(true) -%>'] },
    <% end %>
    { key: 'onFavourites', value: <%= @filter.criteria['onFavourites']=='true' -%> },
    { key: 'keySearch', value: '<%= h @filter.criteria['keySearch'] -%>' },
    { key: 'languages[]', value: <%= @filter.criteria['languages'].to_json -%> }
  ];

  window.SS.MeasuresNavigatorApp.start();
  window.SS.MeasuresNavigatorApp.filterBarView.restoreFromQuery(queryParams);
</script>
