<% content_for :style do %>
  <style type="text/css">
    #filter-form [type="text"].large-input {
      width: 180px;
    }

    #filter-form select.large-input {
      width: 100%;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
    }

    #filter-form select option {
      padding: 1px 10px 1px 4px;
    }
  </style>
<% end %>
<% content_for :script do %>
  <script>
    function submitSearch() {
      // remove empty parameters from URL
      var form = $j("#filter-form");
      form.find(':input[value=""]').attr('name', '');
      form.submit();
      return false;
    }
    function removeUrlAttr(url, attribute_key) {
      var regexp = new RegExp("&?" + attribute_key + "=([^&]$|[^&]*)", "g");
      return url.replace(regexp, '');
    }
    function reloadParameters(params) {
      var url = decodeURI(window.location.href);
      $j.each(params, function (key, value) {
        url = removeUrlAttr(url, key);
        url += '&'+ key + '=' + value;
      });
      window.location = url;
    }
  </script>
<% end %>
<div id="measure-filters">
  <div class="page-split-left">
    <form id="filter-form" method="GET" action="<%= ApplicationController.root_context -%>/measures/search">
      <% if @filter.id %>
        <input type="hidden" name="id" value="<%= @filter.id -%>">
      <% end %>
      <%
         if @filter.display
           @filter.display.url_params.each do |k_v_array|
             if k_v_array[1].is_a?(String)
      %>
            <%= hidden_field_tag k_v_array[0], k_v_array[1] -%>
          <% else
               k_v_array[1].each do |string_val|
          %>
              <%= hidden_field_tag "#{k_v_array[0]}[]", string_val -%>
            <% end
               end
               end
               end
            %>
      <table class="width100">
        <tbody>
        <tr>
          <td class="width100">
            Base:<br>
            <input type="text" name="base" value="<%= @filter.criteria['base'] -%>" class="large-input">
          </td>
        </tr>
        <tr>
          <td class="width100">
            On components:<br>
            <%= check_box_tag 'onBaseComponents', 'true', @filter.criteria['onBaseComponents'] -%>
          </td>
        </tr>
        <tr>
          <td class="width100">
            Qualifiers:<br>
            <%
               qualifiers = Api::Utils.java_facade.getResourceTypesForFilter().map do |resource_type|
                 [message("qualifiers.#{resource_type.getQualifier()}"), resource_type.getQualifier()]
               end
            %>
            <%= select_tag 'qualifiers[]', options_for_select([[message('any'), '']].concat(qualifiers), @filter.criteria['qualifiers']||''), :size => 5, :multiple => true, :class => 'large-input' -%>
          </td>
        </tr>
        <tr>
          <td>
            Language:<br>
            <% languages = [[message('any'), '']].concat(Api::Utils.languages.map { |lang| [lang.name, lang.key] }) %>
            <%= select_tag 'languages[]', options_for_select(languages, @filter.criteria['languages']||''), :size => 5, :multiple => true, :class => 'large-input' -%>
          </td>
        </tr>
        <tr>
          <td class="width100">
            Name:<br>
            <input type="text" name="nameRegexp" value="<%= h @filter.criteria['nameRegexp'] -%>" class="large-input"></td>
        </tr>
        <tr>
          <td class="width100">
            Key:<br>
            <input type="text" name="keyRegexp" value="<%= h @filter.criteria['keyRegexp'] -%>" class="large-input"></td>
        </tr>
        <tr>
          <td>
            Favourites only:<br>
            <%= check_box_tag 'onFavourites', 'true', @filter.criteria['onFavourites']=='true' -%>
          </td>
        </tr>
        <tr>
          <td>
            From date:<br>
            <input type="text" name="fromDate" value="<%= @filter.criteria['fromDate'] -%>">
          </td>
        </tr>
        <tr>
          <td>
            To date:<br>
            <input type="text" name="toDate" value="<%= @filter.criteria['toDate'] -%>">
          </td>
        </tr>
        <tr>
          <td>
            More than:<br>
            <input type="text" name="beforeDays" value="<%= @filter.criteria['beforeDays'] -%>" size="4"> days ago
          </td>
        </tr>
        <tr>
          <td>Within the last:<br>
            <input type="text" name="afterDays" value="<%= @filter.criteria['afterDays'] -%>" size="4"> days
          </td>
        </tr>
        <tr>
          <td>
            <br/>
            <input type="button" name="search" value="Search" onclick="submitSearch()">
            <a href="<%= ApplicationController.root_context -%>/measures">New search</a>
          </td>
        </tr>
        </tbody>
      </table>
    </form>

    <br/>
    <ul id="system-filters">
      <% MeasureFilter.find(:all, :select => ['id,name'], :conditions => ['system=?', true]).each do |system_filter| %>
        <li>
          <a href="<%= ApplicationController.root_context -%>/measures/filter/<%= system_filter.id -%>"><%= h system_filter.name -%></a>
        </li>
      <% end %>
    </ul>

    <% if logged_in? %>
      <br/>
      <ul id="fav-filters">
        <% current_user.favourited_measure_filters.each do |my_filter| %>
          <li>
            <a href="<%= ApplicationController.root_context -%>/measures/filter/<%= my_filter.id -%>"><%= h my_filter.name -%></a>
          </li>
        <% end %>
      </ul>
      <a href="<%= ApplicationController.root_context -%>/measures/manage" class="link-action">Manage</a>
    <% end %>
  </div>

  <% if @filter.results && @filter.display %>
    <div id="filter-result" class="page-split-right width100">
      <% if @filter.name %>
        <p>
          <span class="h3"><%= h @filter.name -%></span>
          <% if @filter.description.present? %>
            - <span><%= h @filter.description -%></span>
          <% end %>
        </p>

      <% end %>

      <%
         edit_mode = (params[:edit]=='true')
         unless edit_mode %>
        Display as:
        <% MeasureFilterDisplay.keys.each do |display_key| %>
          <%= link_to_if display_key!=@filter.display.key, display_key, params.merge(:action => 'search', :display => display_key, :id => @filter.id) -%>
        <% end %>
        <a id="edit" href="<%= url_for params.merge({:edit => true, :id => @filter.id}) -%>" class="button"><%= message('configure') -%></a>
        <% if logged_in? && (@filter.user_id==nil || @filter.user_id==current_user.id) %>
          <a id="save_as" href="<%= url_for params.merge({:action => 'save_form', :id => @filter.id}) -%>" class="button open-modal"><%= message('save') -%></a>
        <% end %>
      <% end %>
      <%= render :partial => "measures/display_#{@filter.display.class::KEY}", :locals => {:edit_mode => edit_mode} -%>
      <br>

      <% if @filter.security_exclusions %>
        <p class="notes"><%= message('results_not_display_due_to_security') -%></p>
      <% end %>

    </div>
  <% end %>

</div>