<% content_for :style do %>
  <style type="text/css">
    #filter-form {
      float: left;
      width: 240px;
    }

    #filter-form select {
      width: 200px;
      padding: 1px;
    }

    #filter-form select option {
      padding: 1px 10px 1px 4px;
    }

    #filter-result {
      padding-left: 250px;
    }
  </style>
<% end %>

<% url_params = params.reject { |k, v| v.nil? || v=='' || k.starts_with?('_') }.merge({:controller => 'measures', :action => 'search'}) %>

<div id="measure-filter">
  <div id="filter-form">
    <form method="POST" action="<%= ApplicationController.root_context -%>/measures/search">
      <table>
        <tbody>
        <tr>
          <td>
            Base:<br>
            <input type="text" name="base">
          </td>
        </tr>
        <tr>
          <td>
            Direct children:<br>
            <%= check_box_tag 'onBaseChildren', 'true', params['onBaseChildren']=='true' -%>
          </td>
        </tr>
        <tr>
          <td>
            Qualifiers:<br>
            <%= select_tag 'qualifiers[]', options_for_select([['Any', ''], ['Project', 'TRK'], ['Sub-project', 'BRC'], ['Directory/Package', 'DIR']], params['qualifiers']||''), :size => 5, :multiple => true -%>
          </td>
        </tr>
        <tr>
          <td>
            Language:<br>
            <select name="languages[]" multiple size="5">
              <option value="" <%= 'selected' if params['languages[]'].blank? -%>>Any</option>
              <% Api::Utils.languages.each do |language| %>
                <option value="<%= language.key.parameterize -%>"><%= h language.name -%></option>
              <% end %>
            </select>
          </td>
        </tr>
        <tr>
          <td>
            Name:<br>
            <input type="text" name="nameRegexp"></td>
        </tr>
        <tr>
          <td>
            Key:<br>
            <input type="text" name="keyRegexp"></td>
        </tr>
        <tr>
          <td>
            Favourites only:<br>
            <%= check_box_tag 'favourites', 'true', params['favourites']=='true' %>
          </td>
        </tr>
        <tr>
          <td>
            From date:<br>
            <input type="text" name="fromDate" value="<%= params['fromDate'] -%>">
          </td>
        </tr>
        <tr>
          <td>
            To date:<br>
            <input type="text" name="toDate" value="<%= params['toDate'] -%>">
          </td>
        </tr>
        <tr>
          <td>
            Before:<br>
            <input type="text" name="beforeDays" value="<%= params['beforeDays'] -%>" size="4"> days
          </td>
        </tr>
        <tr>
          <td>After:<br>
            <input type="text" name="afterDays" value="<%= params['afterDays'] -%>" size="4"> days
          </td>
        </tr>
        <tr>
          <td>
            <input type="submit" name="_search" value="Search">
            <a href="<%= ApplicationController.root_context -%>/measures">Reset</a>
          </td>
        </tr>
        </tbody>
      </table>
    </form>
  </div>
  <% if @filter %>
    <div id="filter-result">
      Display as:
      <% MeasureFilter::DISPLAYS.each do |display| %>
        <%= link_to_if display.key!=@filter.display.key, display.key, url_params.merge(:display => display.key) -%>
      <% end %>

      <%= render :partial => "measures/display_#{@filter.display.key}", :locals => {:url_params => url_params} -%>
      <p>
        <% permalink = url_for(url_params) %>
        <a href="<%= permalink -%>">Permalink</a>: <input type="text" value="<%= permalink -%>" size="100">
      </p>
      <% if @filter.security_exclusions %>
        <p class="notes"><%= message('results_not_display_due_to_security') -%></p>
      <% end %>

    </div>
  <% end %>

</div>