<div>
  <div class="page-split-left">
    <%= render :partial => 'measures/sidebar' -%>
  </div>

  <% if @filter.results && @filter.display %>
    <div class="page-split-right">
      <div id="content">
        <div class="line-block marginbottom10">
          <ul class="operations">
            <%
               edit_mode = (params[:edit]=='true')
               if @filter.display.key==:list && !edit_mode
            %>
              <li>
                <a id="configure-columns" href="<%= url_for params.merge({:edit => true, :id => @filter.id}) -%>"><%= message('measure_filter.configure_columns') -%></a>
              </li>
            <% end %>
            <li>
              <%= message 'measure_filter.display_as' -%>:
              <% MeasureFilterDisplay.keys.each do |display_key| %>
                <%= link_to_if display_key!=@filter.display.key, message("measure_filter.display.#{display_key}"), params.merge(:action => 'search', :display => display_key, :id => @filter.id), :id => "display_as_#{display_key}" -%>
              <% end %>
            </li>
            <% if logged_in? %>
              <% if @filter.id %>
                <li><a id="copy" href="<%= url_for params.merge({:action => 'copy_form', :id => @filter.id}) -%>" class="link-action open-modal"><%= message('copy') -%></a></li>
              <% end %>
              <% if @filter.owner?(current_user) %>
                <li><a id="save" href="<%= url_for params.merge({:action => 'save_form', :id => @filter.id}) -%>" class="link-action open-modal"><%= message('save') -%></a></li>
              <% end %>
            <% end %>
          </ul>
          <div class="page_title" style="padding-left: 10px">
            <% if @filter.description.present? %>
              <%= h @filter.description -%>
            <% end %>
          </div>
        </div>

        <% if @filter.security_exclusions %>
          <p class="notes"><%= message('results_not_display_due_to_security') -%></p>
        <% end %>

        <%= render :partial => "measures/display_#{@filter.display.class::KEY}", :locals => {:filter => @filter, :edit_mode => edit_mode} -%>
      </div>
    </div>
  <% end %>
</div>