<form method="POST"
      onsubmit="new Ajax.Updater('vId<%= params[:id] -%>', '<%= url_for :action => 'execute' -%>', {asynchronous:true, evalScripts:true, parameters:Form.serialize(this)});return false;">
  <input type="hidden" name="id" value="<%= @violation.id -%>"/>
  <input type="hidden" name="command" value="<%= @screen.getCommandKey() -%>"/>

  <table class="width100">
    <tr>
      <td style="vertical-align:top">
        <textarea id="commentText<%= @violation.id -%>" rows="4" name="text" style="width: 100%"></textarea>
      </td>
      <td class="sep"></td>
      <td style="vertical-align:top;width: 90px">
        <%= render :partial => 'markdown/tips' -%>
      </td>
    </tr>
  </table>


  <div>
    <%= submit_to_remote "submit_btn#{@violation.id}",
                         message("reviews.command.#{@screen.getCommandKey()}.submit"),
                         :url => {:action => 'execute'},
                         :html => {:id => "submit_btn#{@violation.id}"},
                         :before => "$('loading-#{@violation.id}').show();",
                         :update => "vId#{@violation.id}" -%>
    &nbsp;
    <%= link_to_function message('cancel'), "cancelViolationAction(#{@violation.id})" -%>
    &nbsp;
    <span id="loading-<%= @violation.id -%>" style="display: none;"><%= image_tag 'loading.gif' -%></span>
  </div>
</form>
