<tr class="<%= cycle('even', 'odd') -%>">
  <td class="thin nowrap"><%= measure.metric.domain -%></td>
  <td class="thin nowrap"><%= measure.metric.short_name -%></td>
  <td class="thin nowrap" align="right"><%= measure.value -%></td>
  <td id="desc"><%= measure.description -%></td>
  <% unless @edited_measure %>
  <td align="right">
    <%= measure.user.name if measure.user -%>
    <span class="note">(<%= l(measure.updated_at) -%>)</span>
  </td>
  <% end %>
  <td class="thin nowrap">
    <% unless @edited_measure %>
    <a href="<%= url_for :controller => 'manual_measures', :action => 'edit', :metric => measure.metric.key, :resource => @resource.key -%>">Edit</a>
    <%= link_to 'Delete', {:action => 'delete', :metric => measure.metric.key, :resource => @resource.id}, {:method => 'POST', :confirm => "This measure will be deleted during next project analysis", :class => 'action'} -%>
    <% end %>
  </td>
</tr>
