<script type="text/javascript">
  function changeMetric() {
    document.location = '<%= ApplicationController.root_context-%>/manual_measures/new/<%= @resource.id -%>?metric=' + $('metricSelect').getValue();
    return false;
  }
  function saveAndAddNew() {
    $('redirect_to_new').setValue('true');
    return true;
  }
</script>
<h1 class="marginbottom10"><%= message('manual_measures.add_measure_title') -%></h1>

<% if @measure && @measure.errors.on_base
     @measure.errors.on_base.each do |error| %>
  <div class="error"><%= error -%></div>
<%   end
   end
%>

<form action="<%= url_for :action => (@measure ? 'save' : 'new') -%>" method="POST" id="createForm">
  <input type="hidden" name="id" value="<%= @resource.id -%>"/>
  <table class="width100 form">
    <tbody>
    <tr>
      <td class="keyCell">
        <%= message('manual_measures.col.metric') -%>:
      </td>
      <td>
        <select name="metric" onchange="changeMetric();" id="metricSelect">
          <%= options_grouped_by_domain(Metric.all.select { |m| m.user_managed? }, (@metric ? @metric.key : nil), :include_empty => true) -%>
        </select>
        <%= link_to message('manual_measures.manage_metrics_link'), :controller => 'metrics', :action => 'index' if has_role?(:admin)-%>

        <% if @metric && @metric.description %>
          <br/>
          <span class="note"><%= @metric.description -%></span>
        <% end %>
      </td>
    </tr>
    <% if @measure %>
      <tr>
        <td class="keyCell">
          <%= message('manual_measures.col.value') -%>:
        </td>
        <td>
          <input type="text" name="val" id="valueText" value="<%= @measure ? @measure.editable_value : '' -%>"/>
          <%= '%' if @metric && @metric.value_type==Metric::VALUE_TYPE_PERCENT -%>
          <% if @measure.errors.on('value')
               @measure.errors.on('value').each do |error| %>
            <span class="error"><%= error -%></span>
          <%   end
             end %>
        </td>
      </tr>
      <tr>
        <td class="keyCell">
          <%= message('manual_measures.col.description') -%>:
        </td>
        <td>
          <textarea rows="5" cols="80" name="desc" class="width100"><%= @measure.description -%></textarea>
          <% if @measure.errors.on('description')
               @measure.errors.on('description').each do |error| %>
            <span class="error"><%= error -%></span>
          <%   end
             end %>
        </td>
      </tr>
      <% unless @measure.new_record?() %>
        <tr>
          <td class="keyCell">
            <%= message('manual_measures.col.last_change') -%>:
          </td>
          <td>
            <%= message('manual_measures.col.last_change_label', :params => [@measure.username, l(@measure.updated_at)]) -%>
          </td>
        </tr>
      <% end %>
    <% end %>
    <tr>
      <td class="keyCell">
      </td>
      <td>
        <% if @measure %>
          <input type="hidden" name="redirect_to_new" value="false" id="redirect_to_new"/>
          <input type="submit" value="<%= message('manual_measures.save_button') -%>"/>
          <input type="submit" value="<%= message('manual_measures.save_and_add_button') -%>" onclick="saveAndAddNew()"/>
        <% end %>
        <%= link_to message('cancel'), :action => 'index', :id => @resource.id -%>
      </td>
    </tr>
    </tbody>
  </table>
</form>

<% if @metric %>
  <script type="text/javascript">
    $('valueText').focus();
  </script>
<% end %>