<div class="admin_page">
  <ul style="float: right" class="horizontal">
    <li class="marginleft10 add">
      <%= link_to message('create'), {:action => :create_form}, :id => "create-link-provisioning", :class => 'open-modal link-action' %>
    </li>
  </ul>

  <h1 class="marginbottom10"><%= message('provisioning.page') -%></h1>

  <% if  @query_result.empty? %>
    <br/>
    <%= message('no_results') -%>
  <% else %>

  <table class="data" id="provisioned-resources">
    <thead>
      <tr>
        <th><%= message('key') -%></th>
        <th><%= message('name') -%></span></th>
        <th><%= message('created') -%></th>
        <th><%= message('operations') -%></th>
      </tr>
    </thead>
    <tbody>
    <% @query_result.each_with_index do |resource, index| %>

      <tr id="entry-<%= h resource.key -%>" class="<%= cycle 'even', 'odd' -%>">
        <td>
          <%= link_to h(resource.key), {:controller => :project, :action => :settings, :id => resource.id},
              :id => "view-#{u resource.key}" %>
        </td>
        <td><%= resource.name %></td>
        <td><%= format_datetime(resource.created_at) %></td>
        <td>
          <%= link_to message('edit'), {:action => :create_form, :id => resource.id, :key => resource.key, :name => resource.name},
              {:id => "edit-#{u resource.key}", :class => 'open-modal link-action'} %>
        |
          <%= link_to message('delete'), {:action => :delete, :id => resource.id},
              {:id => "delete-#{u resource.key}", :confirm => message('are_you_sure'), :class => 'link-action link-red', :method => 'delete'} %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <% end %>

</div>

