<form id="create-user-form" autocomplete="off">
  <div class="modal-head">
    <h2>{{#if login}}{{t 'users.update_user'}}{{else}}{{t 'users.create_user'}}{{/if}}</h2>
  </div>
  <div class="modal-body">
    <div class="js-modal-messages"></div>
    {{#unless login}}
      <div class="modal-field">
        <label for="create-user-login">{{t 'login'}}<em class="mandatory">*</em></label>
        {{! keep this fake field to hack browser autofill }}
        <input id="create-user-login-fake" name="login-fake" type="text" class="hidden">
        <input id="create-user-login" name="login" type="text" size="50" minlength="3" maxlength="255" required
            value="{{login}}">
        <p class="note">{{tp 'users.minimum_x_characters' 3}}</p>
      </div>
    {{/unless}}
    <div class="modal-field">
      <label for="create-user-name">{{t 'name'}}<em class="mandatory">*</em></label>
      {{! keep this fake field to hack browser autofill }}
      <input id="create-user-name-fake" name="name-fake" type="text" class="hidden">
      <input id="create-user-name" name="name" type="text" size="50" maxlength="200" required value="{{name}}">
    </div>
    <div class="modal-field">
      <label for="create-user-email">{{t 'users.email'}}</label>
      {{! keep this fake field to hack browser autofill }}
      <input id="create-user-email-fake" name="email-fake" type="email" class="hidden">
      <input id="create-user-email" name="email" type="email" size="50" maxlength="100" value="{{email}}">
    </div>
    {{#unless login}}
      <div class="modal-field">
        <label for="create-user-password">{{t 'password'}}<em class="mandatory">*</em></label>
        {{! keep this fake field to hack browser autofill }}
        <input id="create-user-password-fake" name="password-fake" type="password" class="hidden">
        <input id="create-user-password" name="password" type="password" size="50" maxlength="50" required>
      </div>
    {{/unless}}
    <div class="modal-field">
      <label>{{t 'my_profile.scm_accounts'}}</label>
      <span class="js-scm-input hidden">
        <input name="scmAccounts" type="text" size="50" maxlength="255">
        <button class="js-remove-scm button-icon text-top" href="#">
          <svg width="16" height="16" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;">
            <g transform="matrix(0.0392029,0,0,0.0392029,0.878798,-1.19111)">
              <path d="M334.7,138.6L277.5,81.4L181.6,177.3L85.8,81.4L28.6,138.6L124.4,234.4L28.6,330.3L85.8,387.5L181.6,291.6L277.5,387.5L334.7,330.3L238.8,234.4L334.7,138.6Z" style="fill: #d4333f"/>
            </g>
          </svg>
        </button>
      </span>
      {{#each scmAccounts}}
        <span class="js-scm-input">
          <input name="scmAccounts" type="text" size="50" maxlength="255" value="{{this}}">
          <button class="js-remove-scm button-icon text-top" href="#">
            <svg width="16" height="16" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;">
              <g transform="matrix(0.0392029,0,0,0.0392029,0.878798,-1.19111)">
                <path d="M334.7,138.6L277.5,81.4L181.6,177.3L85.8,81.4L28.6,138.6L124.4,234.4L28.6,330.3L85.8,387.5L181.6,291.6L277.5,387.5L334.7,330.3L238.8,234.4L334.7,138.6Z" style="fill: #d4333f"/>
              </g>
          </svg>
          </button>
        </span>
      {{/each}}
      <div class="spacer-bottom">
        <a id="create-user-add-scm-account" class="button" href="#">
          {{t 'add_verb'}}
        </a>
      </div>
      <p class="note">{{t 'user.login_or_email_used_as_scm_account'}}</p>
    </div>
  </div>
  <div class="modal-foot">
    <button id="create-user-submit">{{#if login}}{{t 'update_verb'}}{{else}}{{t 'create'}}{{/if}}</button>
    <a href="#" class="js-modal-close" id="create-user-cancel">{{t 'cancel'}}</a>
  </div>
</form>
