<td class="thin nowrap">
  <div>{{avatarHelper avatar name 36}}</div>
</td>

<td>
  <div>
    <strong class="js-user-name">{{name}}</strong>
    <span class="js-user-login note little-spacer-left">{{login}}</span>
  </div>

  {{#if email}}
    <div class="js-user-email little-spacer-top">{{email}}</div>
  {{/if}}

  {{#unless local}}
    {{#notEq externalProvider 'sonarqube'}}
      <div class="js-user-identity-provider little-spacer-top">
        {{#if identityProvider}}
          <div class="identity-provider" style="background-color: {{identityProvider.backgroundColor}}">
            <img src="{{link identityProvider.iconPath}}" width="14" height="14"/>
            {{externalIdentity}}
          </div>
        {{else}}
          {{externalProvider}}: {{externalIdentity}}
        {{/if}}
      </div>
    {{/notEq}}
  {{/unless}}
</td>

<td>
  <ul>
    {{#each firstScmAccounts}}
      <li class="little-spacer-bottom">{{this}}</li>
    {{/each}}
    {{#gt moreScmAccountsCount 0}}
      <li class="little-spacer-bottom">
        <a class="js-user-more-scm" href="#">{{moreScmAccountsCount}} {{t 'more'}}</a>
      </li>
    {{/gt}}
  </ul>
</td>

{{#unless customOrganizations}}
  <td>
    <ul>
      {{#each firstGroups}}
        <li class="little-spacer-bottom">{{this}}</li>
      {{/each}}
      <li class="little-spacer-bottom">
        {{#gt moreGroupsCount 0}}
          <a class="js-user-more-groups spacer-right" href="#">{{moreGroupsCount}} {{t 'more'}}</a>
        {{/gt}}
        <a class="js-user-groups icon-bullet-list" title="{{t 'users.update_groups'}}" data-toggle="tooltip" href="#"></a>
      </li>
    </ul>
  </td>
{{/unless}}

<td>
  {{tokensCount}}
  <a class="js-user-tokens spacer-left icon-bullet-list" title="{{t 'users.update_tokens'}}" data-toggle="tooltip" href="#"></a>
</td>

<td class="thin nowrap text-right">
  <div class="dropdown">
    <button class="dropdown-toggle" data-toggle="dropdown">
      {{settingsIcon}}<i class="icon-dropdown little-spacer-left" />
    </button>
    <ul class="dropdown-menu dropdown-menu-right">
      <li>
        <a class="js-user-update" href="#">{{t 'update_details'}}</a>
      </li>
      {{#if local}}
        <li>
          <a class="js-user-change-password" href="#">{{t 'my_profile.password.title'}}</a>
        </li>
      {{/if}}
      <li class="divider" />
      <li>
        <a class="js-user-deactivate text-danger" href="#">{{t 'users.deactivate'}}</a>
      </li>
    </ul>
  </div>
</td>
