<div id="treemap_set_default">
  <%= render :partial => 'components/treemap_set_default',
    :locals => {:controller => 'components', :size_metric => @treemap.size_metric.key, :color_metric => @treemap.color_metric.key, :rid => @project.id } %>
</div>
<%
url_params = {:action => action}
if defined?(@snapshot) && @snapshot
  url_params[:sid]= @snapshot.id  
end
remote_form_for :treemap, :url => url_params, :html => { :id => 'tm_form', :method => 'get' },
    :loading => "$('tm_form').disable();$('tm_loading').show();",
    :complete => "$('tm_form').enable();$('tm_loading').hide();" do |form | %>
<%= submit_tag(value = "Update", :id => 'submit_treemap', :style => 'display:none;') %>
<table class="spaced">
<tr>
    <td valign="bottom">
      <span class="comments">Size</span>
      <br/>
      <%= select_tag 'size_metric', options_grouped_by_domain(Sonar::TreemapBuilder.size_metrics, @treemap.size_metric.key),
        :id => 'select_size_metric', :class => 'small',:onchange => "$('submit_treemap').click();" %>
    </td>
  </tr>
  <tr>
    <td>
      <span class="comments">Color</span>&nbsp;&nbsp;
      <span id="treemap_gradient" class="comments little">
        <%= render :partial => 'components/treemap_gradient', :locals => {:color_metric => @treemap.color_metric} %>
      </span>
      <%= image_tag('loading.gif', {:id => "tm_loading", :style => 'display: none;'}) %>
      <br/>
      <%= select_tag 'color_metric', options_grouped_by_domain(Sonar::TreemapBuilder.color_metrics, @treemap.color_metric.key),
          :id => 'select_color_metric', :class => 'small', :onchange => "$('submit_treemap').click();" %>
    </td>
  </tr>

  <% if configuring? && has_role?(:admin) %>
  <tr >
    <td class="admin"><%= button_to 'Set as default', "#", :id => 'set_default_treemap', :onclick => "$('form_set_default').submit()" %></td>
  </tr>
  <% end %>
</table>
<% end %>  



