<div id="treemap_set_default">
  <%= render :partial => 'components/treemap_set_default',
    :locals => {:controller => 'components', :size_metric => @treemap.size_metric.key, :color_metric => @treemap.color_metric.key, :rid => @project.id } %>
</div>
<table class="spaced">
<tr>
    <td valign="bottom">
      <span class="comments"><%= message('size') -%></span>
      <br/>
      <%= select_tag 'size_metric', options_grouped_by_domain(Sonar::Treemap.size_metrics, @treemap.size_metric.key),
        :id => 'select_size_metric', :class => 'small',:onchange => "return treemapById(1).changeSizeMetric(this.value);" %>
    </td>
  </tr>
  <tr>
    <td>
      <span class="comments"><%= message('color') -%></span>&nbsp;&nbsp;
      <span id="tm-gradient-1" class="comments little">
        <%= render :partial => 'treemap/gradient', :locals => {:metric => @treemap.color_metric} %>
      </span>
      <%= image_tag('loading.gif', {:id => "tm-loading-1", :style => 'display: none;'}) %>
      <br/>
      <%= select_tag 'color_metric', options_grouped_by_domain(Sonar::Treemap.color_metrics, @treemap.color_metric.key),
          :id => 'select_color_metric', :class => 'small', :onchange => "return treemapById(1).changeColorMetric(this.value);" %>
    </td>
  </tr>

  <% if configuring? && has_role?(:admin) %>
  <tr >
    <td class="admin"><%= button_to message('set_as_default'), "#", :id => 'set_default_treemap', :onclick => "submitDefaultForm();return false;" %></td>
  </tr>
  <% end %>
</table>
