<form method="POST">
  <input type="hidden" name="issue" value="<%= params[:issue] -%>"/>

  <%= message('reviews.new_severity_label') -%>
  <select name="severity" class="withIcons" id="issue-severity<%= params[:issue] -%>">
    <% Severity::KEYS.each do |severity| %>
      <option class="sev_<%= severity -%>" value="<%= severity -%>" <%= 'selected' if severity==Severity::MAJOR -%>><%= message("severity.#{severity}") -%></option>
    <% end %>
  </select>

  <table class="width100">
    <tr>
      <td style="vertical-align:top">
        <textarea id="issue-comment<%= params[:issue] -%>" rows="4" name="text" style="width: 100%"></textarea>
      </td>
      <td class="sep"></td>
      <td style="vertical-align:top;width: 90px">
        <%= render :partial => 'markdown/tips' -%>
      </td>
    </tr>
  </table>
  <%= submit_to_remote "submit_btn"+params[:issue],
                       message('issues.action.change_severity.button'),
                       :url => {:controller => 'issue', :action => 'issue_change_severity'},
                       :html => {:id => "submit_btn" + params[:issue]},
                       :update => 'issue-key'+params[:issue] -%>

  &nbsp;
  <%= link_to_function message('cancel'), "cancelIssueAction('#{params[:issue]}')" -%>
</form>
