<% if @action_plans.empty? %>

  <span class="error"><%= message('issues.an_action_plan_must_be_created_first') -%></span>

  <%= link_to_function message('issues.hide_this_message'), "cancelIssueAction(#{params[:issue]})" -%>

<% else %>

  <form method="POST">
    <input type="hidden" name="issue" value="<%= params[:issue] -%>"/>

    <%= message('issues.action_plan_label') -%>:
    <select name="plan" id="issue-plan<%= params[:issue] -%>">
      <% @action_plans.each do |plan| %>
        <option value="<%= plan.key() -%>" <%= 'selected' if @issue.actionPlanKey() == plan.key() -%>><%= h(plan.name()) -%></option>
      <% end %>
    </select>

    <table class="width100">
      <tr>
        <td style="vertical-align:top">
          <textarea id="commentText<%= params[:issue] -%>" rows="4" name="text" style="width: 100%"></textarea>
        </td>
        <td class="sep"></td>
        <td style="vertical-align:top;width: 90px">
          <%= render :partial => 'markdown/tips' -%>
        </td>
      </tr>
    </table>

    <%= submit_to_remote "submit_btn"+params[:issue],
                         message('issues.action_plan_submit'),
                         :url => {:action => 'issue_plan'},
                         :html => {:id => "submit_btn"+params[:issue]},
                         :update => 'issue-key'+params[:issue] -%>

    <% if @issue.actionPlanKey() %>
      &nbsp;
      <%= submit_to_remote "submit_btn"+params[:issue],
                           message('issues.unlink_action_plan_submit'),
                           :url => {:action => 'issue_unplan'},
                           :html => {:id => "submit_btn"+params[:issue]},
                           :update => 'issue-key'+params[:issue] -%>
    <% end %>

    &nbsp;
    <%= link_to_function message('cancel'), "cancelIssueAction(#{params[:issue]})" -%>
  </form>

<% end %>