<form method="POST">
  <input type="hidden" name="issue" value="<%= params[:issue] -%>"/>
  <input type="hidden" name="transition" value="<%= params[:transition] -%>"/>

  <table class="width100">
    <tr>
      <td style="vertical-align:top">
        <textarea id="issue-comment<%= params[:issue] -%>" rows="4" name="text" style="width: 100%"></textarea>
      </td>
      <td class="sep"></td>
      <td style="vertical-align:top;width: 90px">
        <%= render :partial => 'markdown/tips' -%>
      </td>
    </tr>
  </table>

  <div>
    <%= submit_to_remote "submit_btn"+params[:issue],
                         message("issues.transition.#{params[:transition]}.button"),
                         :url => {:controller => 'issue', :action => 'issue_transition'},
                         :html => {:id => "submit_btn"+params[:issue]},
                         :update => 'issue-key'+params[:issue] -%>
    &nbsp;
    <%= link_to_function message('cancel'), "cancelIssueAction('#{params[:issue]}')" -%>
  </div>
</form>
