<ol id="crumbs">
  <li><a href="<%= ApplicationController.root_context -%>/">Home</a></li>
  <%
if @snapshot
  resources=[]
  s=@snapshot
  while (s!=nil) do
    resources<<s.project
    s=s.parent
  end

  index=resources.size-1
  while (index>=0) do
    resource=resources[index]
%>
  <li><%= qualifier_icon(resource) -%> <a href="<%= url_for :overwrite_params => { :id => resource.key } -%>"><%= h resource.name -%></a></li>
<%
    index-=1
  end
elsif @project
%>
  <li><%= qualifier_icon(@project) -%> <a href="<%= url_for :overwrite_params => { :id => @project.key } -%>"><%= h @project.name -%></a></li>
<%
end
%>
</ol>