<% if @resource || @project %>
  <div id="crumbs">
    <ul>
      <%
         resource_link = {}
         if @review
           resource_link = {:controller => 'dashboard', :action => 'index'}
         end

         # ======== Path for resources ========
         displayed_resource = @resource || @project
         if displayed_resource && displayed_resource.last_snapshot
           resources=[]
           s=displayed_resource.last_snapshot
           while (s!=nil) do
             resources.insert(0, s.project)
             s=s.parent
           end

           items_count = resources.size
           items_count+=1 if @review
      %>
        <li class="first"><%= message("qualifiers.#{resources[0].qualifier}") -%></li>
      <%
           resources.each_with_index do |resource, index|
           css_class=(index==items_count-1 ? 'selected' : '')
      %>
          <li class="<%= css_class -%>">
            <%= qualifier_icon(resource) -%>
            &nbsp;
            <%= link_to(h(resource.name),
                        {:overwrite_params => {:id => resource.key}.merge(resource_link)}
                ) -%>
          </li>
        <%
           end
           end

           # ======== Path for review ========
           if @review
        %>
        <li class="selected">
          <%= link_to message('review') + ' #' + @review.id.to_s -%>
        </li>
      <%
         end
      %>
      <li class="last">&nbsp;</li>
    </ul>
  </div>
<% end %>