<ol id="crumbs">
  <li><a href="<%= ApplicationController.root_context -%>/"><%= message('layout.home') -%></a></li>   
<%
@resource = @project if @project && !@resource
if @resource && @resource.last_snapshot
  resources=[]
  s=@resource.last_snapshot
  while (s!=nil) do
    resources<<s.project
    s=s.parent
  end

  resources.reverse.each do |resource|
%>
  <li>
    <%= qualifier_icon(resource) -%> <a href="<%= url_for :overwrite_params => { :id => resource.key } -%>"><%= h resource.name -%></a>
    <%= link_to( image_tag('permalink.gif'), {:overwrite_params => { :id => resource.key }}, :title => message('layout.permalink')) if resource==@resource %>
  </li>
<%
  end
end
%>
</ol>