<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="gwt:property" content="locale=<%= I18n.locale.to_s.gsub(/-/, '_') -%>">
<%
  if @page_title
    title="Sonar - #{h(@page_title)}"
  elsif @project
    title="Sonar - #{h(@project.name)}"
  else
    title='Sonar'
  end
%>
<title><%= title %></title>
<% if ENV['RAILS_ENV'] == 'production'
%><%= stylesheet_link_tag 'sonar', :media => 'all' %><%= javascript_include_tag 'sonar'
%><% else %>
<%= stylesheet_link_tag 'yui-2.6.0.css', :media => 'all' %>
<%= stylesheet_link_tag 'calendar', :media => 'all' %>
<%= stylesheet_link_tag 'style', :media => 'all' %>
<%= stylesheet_link_tag 'sonar-colorizer', :media => 'all' %>
<%= javascript_include_tag 'calendar/yahoo-dom-event.js' %>
<%= javascript_include_tag 'calendar/calendar.js' %>
<%= javascript_include_tag 'application' %>
<%= javascript_include_tag 'prototype' %>
<%= javascript_include_tag 'scriptaculous' %>
<%= javascript_include_tag 'tablekit' %>
<%= javascript_include_tag 'prototip' %>
<% end %>
<!--[if lte IE 6]>
<link href="<%= ApplicationController.root_context -%>/ie6/index" media="all" rel="stylesheet" type="text/css" />
<![endif]-->
<link rel="shortcut icon" type="image/x-icon" href="<%= image_path('favicon.ico') -%>" />
<%
if @project %>
<link rel="alternate" title="Sonar Alerts on <%= @project.name -%>" href="<%= ApplicationController.root_context -%>/feeds/project/<%= @project.key -%>?category=<%= EventCategory::KEY_ALERT -%>" type="application/atom+xml">
<% else %>
<link rel="alternate" title="Sonar Alerts" href="<%= ApplicationController.root_context -%>/feeds/projects/<%= EventCategory::KEY_ALERT -%>" type="application/atom+xml">
<% end %>
</head><body>