<li>
  <a href="#" onclick="showDropdownMenu('project-settings-menu'); return false;" class="link-more"><%= message('layout.configuration') -%></a>
  
  <div id="project-settings-menu" class="dropdown-menu" style="display: none">
    <ul>
      <% if (@project.project? || @project.module?) %>
         <li><a href="<%= ApplicationController.root_context -%>/project/settings/<%= @project.id -%>"><%= message('project_settings.page') -%></a></li>
      <% end %>
      <% if (@project.project?) %>
        <li><a href="<%= ApplicationController.root_context -%>/project/profile/<%= @project.id -%>"><%= message('project_quality_profiles.page') -%></a></li>
      <% end %>
      <li><a href="<%= ApplicationController.root_context -%>/manual_measures/index/<%= @project.id -%>"><%= message('manual_measures.page') -%></a></li>
      <% if (@project.project?) %>
        <li><a href="<%= ApplicationController.root_context -%>/action_plans/index/<%= @project.id -%>"><%= message('action_plans.page') -%></a></li>
      <% end %>
      <% if (@project.project?) %>
         <li><a href="<%= ApplicationController.root_context -%>/project/links/<%= @project.id -%>"><%= message('project_links.page') -%></a></li>
      <% end %>
      <%
         # NOTE: we keep "@project.view? || @project.subview?" in the test for backward compatibility with the Views plugin
         if (controller.java_facade.getResourceTypeBooleanProperty(@project.qualifier, 'hasRolePolicy') || @project.view? || @project.subview?)
      %>
      <li><a href="<%= ApplicationController.root_context -%>/project_roles/index/<%= @project.id -%>"><%= message('roles.page') -%></a></li>
      <% end %>
      <%
         # NOTE: we keep "@project.view? || @project.subview?" in the test for backward compatibility with the Views plugin
         if (controller.java_facade.getResourceTypeBooleanProperty(@project.qualifier, 'modifiable_history') || @project.view?)
      %>
        <li><a href="<%= ApplicationController.root_context -%>/project/history/<%= @project.id -%>"><%= message('project_history.page') -%></a></li>
      <% end %>
      <% if controller.java_facade.getResourceTypeBooleanProperty(@project.qualifier, 'updatable_key') %>
        <li><a href="<%= ApplicationController.root_context -%>/project/key/<%= @project.id -%>"><%= message('update_key.page') -%></a></li>
      <% end %>
      <% if controller.java_facade.getResourceTypeBooleanProperty(@project.qualifier, 'deletable') %>
        <li><a href="<%= ApplicationController.root_context -%>/project/deletion/<%= @project.id -%>"><%= message('resource_deletion.page', :params => message('qualifier.' + @project.qualifier)) -%></a></li>
      <% end %>
    </ul>
  </div>
  
</li>