<li>
  <a href="<%= ApplicationController.root_context -%>/coding_rules"
    class="with-icon<%= ' selected' if [ Navigation::SECTION_CODING_RULES, Navigation::SECTION_QUALITY_PROFILES ].include? selected_section -%>"
    onmouseover="showDropdownMenu('coding-rules-menu'); return false;">
    <span><%= message('coding_rules.page') -%></span>
    <i class="icon-dropdown"></i>
  </a>

  <div id="coding-rules-menu" class="dropdown-menu" style="max-width: none; display: none;">
    <div>
      <ul>
        <li><a href="<%= ApplicationController.root_context -%>/profiles"><%= message('quality_profiles.page') -%></a></li>
      </ul>
    </div>
  </div>

</li>
