<script>
  if (supports_html5_storage()) {
    var sonarRecentHistory = new Sonar.RecentHistory();
  }
</script>

<li>
  <a href="#" onclick="if (sonarRecentHistory) { sonarRecentHistory.populateRecentHistoryPanel(); }; showDropdownMenu('projects-menu'); return false;" class="link-more"><%= message('layout.projects') -%></a>

  <div id="projects-menu" class="dropdown-menu" style="max-width: none; display: none;">
    <div id="recent-history" style="border-bottom: 1px solid #ccc; padding-bottom: 10px;">
      <h2><%= message('layout.recent_projects') -%></h2>
      <ul id="recent-history-list">
      </ul>
    </div>

    <div>
      <ul>
        <% Project.root_qualifiers.sort.each do |qualifier| %>
          <li><a href="<%= ApplicationController.root_context -%>/all_projects?qualifier=<%= qualifier -%>"><%= message('qualifiers.all.' + qualifier) -%></a></li>
        <% end %>
      </ul>
    </div>
  </div>

</li>

<script>
  if (sonarRecentHistory == null) {
    $j('#recent-history').detach();
  }

  <%
     if @resource && Project.root_qualifiers.include?(@resource.qualifier)
  %>
  else {
    sonarRecentHistory.add('<%= h @resource.key -%>',
                           '<%= h @resource.name -%>',
                           '<%= Api::Utils.java_facade.getResourceType(@resource.qualifier).getIconPath() -%>');
  }
  <% end %>

</script>