<li>
  <a href="#" class="with-icon" onclick="showDropdownMenu('user-panel'); return false;">
    <span><%= h current_user.name -%></span>
    <i class="icon-dropdown"></i>
  </a>

  
  <div id="user-panel" class="dropdown-menu" style="display: none">
    <ul>
      <li><a href="<%= ApplicationController.root_context -%>/account/index"><%= message('layout.user_panel.my_profile') -%></a></li>
      <li><a href="<%= ApplicationController.root_context -%>/sessions/logout" onclick="if (sonarRecentHistory) { sonarRecentHistory.clear(); }"><%= message('layout.logout') -%></a></li>
    </ul>
  </div>
  
</li>
