<li onmouseover="$j('#tools-menu').show();" onmouseout="$j('#tools-menu').hide();">
  <span class="link-more dropdown"><%= message('layout.tools') -%></span>
  
  <div id="tools-menu" class="dropdown-menu" style="display: none">
    <ul>
      <li><a href="<%= ApplicationController.root_context -%>/dependencies/index"><%= message('dependencies.page') -%></a></li>
      <li><a href="<%= ApplicationController.root_context -%>/reviews/index"><%= message('reviews.page') -%></a></li>
    </ul>
  </div>
</li>