<script>
  if (supports_html5_storage()) {
    var sonarRecentHistory = new Sonar.RecentHistory();
  }
  var shouldUpdateRecentHistory = true;
</script>

<li onmouseover="if (sonarRecentHistory && shouldUpdateRecentHistory) { sonarRecentHistory.populateRecentHistoryPanel(); shouldUpdateRecentHistory = false;}; $j('#user-panel').show();" 
    onmouseout="$j('#user-panel').hide(); shouldUpdateRecentHistory = true;">
  <span class="link-more"><%= current_user ? current_user.name(true) : message('layout.user_panel.me') -%></span>
  
  <div id="user-panel" style="display: none">
    <div id="user-details">
      <% if current_user %>
        <b><%= current_user.name(true) -%></b>
        <% if current_user.email && !current_user.email.blank? %>
          <br/>
          <span class="note"><%= current_user.email -%></span>
        <% end %>
        <br/>
        <a href="<%= ApplicationController.root_context -%>/account/index" class="link-action"><%= message('layout.user_panel.my_profile') -%></a>
        &nbsp;–&nbsp;
        <a href="<%= ApplicationController.root_context -%>/filters/manage" class="link-action"><%= message('default_filters.page') -%></a>
        &nbsp;–&nbsp;
        <a href="<%= ApplicationController.root_context -%>/sessions/logout" class="link-action" onclick="if (sonarRecentHistory) { sonarRecentHistory.clear(); }"><%= message('layout.logout') -%></a>
      <% else %>
        <b><%= message('layout.user_panel.anonymous_user') -%></b>
      <% end %>
    </div>
    
    <div id="recent-history" style="display: none">
      <b><%= message('layout.user_panel.recent_history.title') -%></b>
      <ul id="recent-history-list">
      </ul>    	
    </div>
  </div>
  
</li>

<script>
  if (sonarRecentHistory == null) {
    $j('#recent-history').detach();
  } else {
    sonarRecentHistory.add('<%= @resource ? @resource.key : "" -%>', 
                           '<%= @resource ? @resource.name(true) : "" -%>', 
                           '<%= @resource ? Api::Utils.java_facade.getResourceType(@resource.qualifier).getIconPath() : "" -%>');
  }
</script>