<li>
  <a href="#" onclick="$j('#user-panel').toggle(); return false;" class="link-more"><%= current_user.name(true) -%></a>
  
  <div id="user-panel" style="display: none" onmouseout="$j(this).hide();" onmouseover="$j(this).show();">
    <div id="user-details">
        <b><%= current_user.name(true) -%></b>
        <% if current_user.email && !current_user.email.blank? %>
          <br/>
          <span class="note"><%= current_user.email -%></span>
        <% end %>
        <br/>
        <a href="<%= ApplicationController.root_context -%>/account/index" class="link-action"><%= message('layout.user_panel.my_profile') -%></a>
        &nbsp;–&nbsp;
        <a href="<%= ApplicationController.root_context -%>/sessions/logout" class="link-action" onclick="if (sonarRecentHistory) { sonarRecentHistory.clear(); }"><%= message('layout.logout') -%></a>
    </div>
  
</li>
