<div class="js-rule-meta"></div>
<div class="js-rule-description"></div>
<div class="js-rule-parameters"></div>

{{#if isEditable}}
  <div class="coding-rules-detail-description">
    <div class="button-group">
      {{#if isManual}}
        <button id="coding-rules-detail-manual-rule-change">{{t 'edit'}}</button>
      {{else}}
        <button id="coding-rules-detail-custom-rule-change">{{t 'edit'}}</button>
      {{/if}}
      <button id="coding-rules-detail-rule-delete" class="button-red">{{t 'delete'}}</button>
    </div>
  </div>
{{/if}}

{{#if isTemplate}}
  <div class="coding-rules-detail-custom-rules-section">
    <h3 class="coding-rules-detail-title">{{t 'coding_rules.custom_rules'}}</h3>

    {{#if canWrite}}
      <div class="button-group coding-rules-detail-quality-profiles-activation">
        <button id="coding-rules-custom-rules-create">{{t 'coding_rules.create'}}</button>
      </div>
    {{/if}}
    <div id="coding-rules-detail-custom-rules"></div>
  </div>
{{/if}}

<div class="js-rule-profiles"></div>
