<div class="navigator-facets-list">
  {{#unless items}}
  {{t 'coding_rules.no_results'}}
  {{/unless}}
  {{#each items}}
    <div class="navigator-facets-list-item" data-property="{{property}}">
      <div class="navigator-facets-list-item-name">
        {{#if limitReached}}
          {{tp 'coding_rules.facets.top' property_message}}
        {{else}}
          {{property_message}}
        {{/if}}
      </div>
      <div class="navigator-facets-list-item-options">
        {{#each values}}
          {{#if count}}
          <a class="facet" data-key="{{val}}" data-property="{{../property}}">
            <span class="facet-name">{{text}}</span>
            <span class="facet-stat">{{count}}</span>
          </a>
          {{/if}}
        {{/each}}
      </div>
    </div>
  {{/each}}
</div>
