<div class="coding-rules-parameter-full-description bubble-popup-container">
  <div class="bubble-popup-title">{{t 'widget.rules.technical_debt'}}</div>

  <ul class="bubble-popup-list">
    {{#if debtChar}}
    <li>
      <h3>{{t 'coding_rules.filters.characteristic'}}</h3>
      {{subcharacteristic}}
    </li>
    {{/if}}

    {{#if debtRemFnType}}
    <li>
      <h3>{{t 'coding_rules.remediation_function'}}</h3>
      {{t 'coding_rules.remediation_function' debtRemFnType}}
    </li>
    {{/if}}
    {{#if debtRemFnCoeff}}
    <li>
      <h3>{{t 'coding_rules.remediation_function.coeff'}}</h3>
      {{debtRemFnCoeff}}
    </li>
    {{/if}}
    {{#if debtRemFnOffset}}
    <li>
      <h3>{{t 'coding_rules.remediation_function.offset'}}</h3>
      {{debtRemFnOffset}}
    </li>
    {{/if}}
</div>

<div class="bubble-popup-arrow"></div>
