<div class="bubble-popup-title">{{t 'bulk_change'}}</div>

<ul class="bubble-popup-list">

  {{! activation }}

  <li>
    <a class="js-bulk-change" data-action="activate">
      {{t 'coding_rules.activate_in'}}&#8230;
    </a>
  </li>

  {{#if allowActivateOnProfile}}
    <li>
      <a class="js-bulk-change" data-action="activate" data-param="{{qualityProfile}}">
        {{t 'coding_rules.activate_in'}} <strong>{{qualityProfileName}}</strong>
      </a>
    </li>
  {{/if}}



  {{! deactivation }}

  <li>
    <a class="js-bulk-change" data-action="deactivate">
      {{t 'coding_rules.deactivate_in'}}&#8230;
    </a>
  </li>

  {{#if allowDeactivateOnProfile}}
    <li>
      <a class="js-bulk-change" data-action="deactivate" data-param="{{qualityProfile}}">
        {{tp 'coding_rules.deactivate_in'}} <strong>{{qualityProfileName}}</strong>
      </a>
    </li>
  {{/if}}
</ul>


<div class="bubble-popup-arrow"></div>
