<table class="coding-rule-table">
  <tr>
    {{#if activation}}
      <td class="coding-rule-table-meta-cell coding-rule-activation">
        {{severityIcon activation.severity}}
        {{#eq activation.inherit 'OVERRIDES'}}
          <i class="icon-inheritance"
             title="{{tp 'coding_rules.overrides' activation.profile.name activation.parentProfile.name}}"></i>
        {{/eq}}
        {{#eq activation.inherit 'INHERITED'}}
          <i class="icon-inheritance"
             title="{{tp 'coding_rules.inherits' activation.profile.name activation.parentProfile.name}}"></i>
        {{/eq}}
      </td>
    {{/if}}

    <td>
      <div class="coding-rule-title">
        <a class="js-rule link-no-underline">{{name}}</a>
      </div>
    </td>

    <td class="coding-rule-table-meta-cell">
      <div class="coding-rule-meta">
        {{#notEq status 'READY'}}
          {{status}}
          &nbsp;&nbsp;&nbsp;
        {{/notEq}}
        <a class="js-lang link-no-underline" data-lang="{{lang}}">{{langName}}</a>
        {{#notEmpty tags}}
          &nbsp;&nbsp;&nbsp;
          <i class="icon-tags"></i>
          {{#each tags}}
            <a class="js-tag link-no-underline" data-tag="{{this}}">{{this}}</a>
          {{/each}}
        {{/notEmpty}}
      </div>
    </td>

    {{#any activation selectedProfile}}
      {{#if canWrite}}
        <td class="coding-rule-table-meta-cell coding-rule-activation-actions">
          <div class="button-group">
            {{#if activation}}
              {{#eq activation.inherit 'NONE'}}
                <button class="coding-rules-detail-quality-profile-deactivate button-red">
                  {{t 'coding_rules.deactivate'}}
                </button>
              {{/eq}}
            {{else}}
              {{#unless isTemplate}}
                <button class="coding-rules-detail-quality-profile-activate">{{t 'coding_rules.activate'}}</button>
              {{/unless}}
            {{/if}}
          </div>
        </td>
      {{/if}}
    {{/any}}
  </tr>
</table>
