<div class="coding-rule-inner">
  <div class="coding-rule-title">
    <a class="js-rule link-no-underline">{{name}}</a>
  </div>
  <div class="coding-rule-meta">
    {{#notEq status 'READY'}}
      {{status}}
      &nbsp;&nbsp;&nbsp;
    {{/notEq}}
    <a class="js-lang link-no-underline" data-lang="{{lang}}">{{langName}}</a>
    {{#notEmpty tags}}
      &nbsp;&nbsp;&nbsp;
      <i class="icon-tags"></i>
      {{#each tags}}
        <a class="js-tag link-no-underline" data-tag="{{this}}">{{this}}</a>
      {{/each}}
    {{/notEmpty}}
  </div>
</div>
