<h6>{{t 'coding_rules.filter_similar_rules'}}</h6>

<div class="issue-action-options">
  <a href="#" class="issue-action-option" data-property="languages" data-value="{{lang}}">
    {{langName}}
  </a>

  {{#if severity}}
    <a href="#" class="issue-action-option" data-property="severities" data-value="{{severity}}">
      {{severityHelper severity}}
    </a>
  {{/if}}

  {{#if debtChar}}
    <hr>

    <a href="#" class="issue-action-option" data-property="debt_characteristics" data-value="{{debtChar}}">
      {{debtCharName}}
    </a>

    {{#if debtSubChar}}
      <a href="#" class="issue-action-option" data-property="debt_characteristics" data-value="{{debtSubChar}}">
        {{debtSubCharName}}
      </a>
    {{/if}}
  {{/if}}

  {{#notEmpty tags}}
    <hr>
    {{#each tags}}
      <a href="#" class="issue-action-option" data-property="tags" data-value="{{this}}">
        <i class="icon-tags icon-half-transparent"></i>&nbsp;{{this}}
      </a>
    {{/each}}
  {{/notEmpty}}
</div>

<div class="bubble-popup-arrow"></div>
