<button id="coding-rules-manual-rule-creation-reactivate">
  {{t 'coding_rules.reactivate'}}
</button>
<button id="coding-rules-manual-rule-creation-create">
  {{#if change}}{{t 'save'}}{{else}}{{t 'create'}}{{/if}}
</button>
<a id="coding-rules-manual-rule-creation-cancel" class="action">{{t 'cancel'}}</a>
