<form>
  <div class="modal-head">
    {{#eq action 'activate'}}
      <h2>{{t 'coding_rules.activate_in_quality_profile'}} ({{paging.total}} {{t 'coding_rules._rules'}})</h2>
    {{/eq}}
    {{#eq action 'deactivate'}}
      <h2>{{t 'coding_rules.deactivate_in_quality_profile'}} ({{paging.total}} {{t 'coding_rules._rules'}})</h2>
    {{/eq}}
  </div>

  <div class="modal-body modal-body-select2">
    <div class="modal-error"></div>
    <div class="modal-warning"></div>
    <div class="modal-notice"></div>

    <div class="modal-field">
      <h3><label for="coding-rules-bulk-change-profile">
        {{#eq action 'change-severity'}}{{t 'coding_rules.change_severity_in'}}{{/eq}}
        {{#eq action 'activate'}}{{t 'coding_rules.activate_in'}}{{/eq}}
        {{#eq action 'deactivate'}}{{t 'coding_rules.deactivate_in'}}{{/eq}}
      </label></h3>
      {{#if qualityProfile}}
        <h3 class="readonly-field">{{qualityProfileName}}{{#notEq action 'change-severity'}} —
          {{t 'are_you_sure'}}{{/notEq}}</h3>
      {{else}}
        <select id="coding-rules-bulk-change-profile">
          {{#each availableQualityProfiles}}
            <option value="{{key}}">{{name}} - {{language}}</option>
          {{/each}}
        </select>
      {{/if}}
    </div>
  </div>

  <div class="modal-foot">
    <button id="coding-rules-submit-bulk-change">{{t 'apply'}}</button>
    <a id="coding-rules-cancel-bulk-change" class="action">{{t 'cancel'}}</a>
    <a id="coding-rules-close-bulk-change" class="action" style="display:none" href="#">{{t 'close'}}</a>
  </div>
</form>
