<h6 class="workspace-viewer-name">{{qualifierIcon q}}&nbsp;{{name}}</h6>

<div class="workspace-viewer-actions">
  <a href="#" class="js-minimize icon-minimize spacer-right"
     title="{{t 'workspace.minimize'}}" data-placement="bottom" data-toggle="tooltip"></a>

  <a href="#" class="js-full-screen icon-bigger-size workspace-for-normal-size spacer-right"
     title="{{t 'workspace.full_window'}}" data-placement="bottom" data-toggle="tooltip"></a>

  <a href="#" class="js-normal-size icon-smaller-size workspace-for-full-screen spacer-right"
     title="{{t 'workspace.normal_size'}}" data-placement="bottom" data-toggle="tooltip"></a>

  <a href="#" class="js-close icon-close"
     title="{{t 'workspace.close'}}" data-placement="bottom" data-toggle="tooltip"></a>
</div>
