<h6 class="workspace-viewer-name">{{#if q}}{{qualifierIcon q}}&nbsp;{{/if}}{{#eq type 'rule'}}<i class="icon-workspace-doc"></i>&nbsp;{{/eq}}{{name}}</h6>

<div class="workspace-viewer-resize js-resize"></div>

<div class="workspace-viewer-actions">
  <a href="#" class="js-minimize icon-minimize spacer-right"
     title="{{t 'workspace.minimize'}}" data-placement="bottom" data-toggle="tooltip"></a>

  <a href="#" class="js-full-screen icon-bigger-size spacer-right"
     title="{{t 'workspace.full_window'}}" data-placement="bottom" data-toggle="tooltip"></a>

  <a href="#" class="js-normal-size icon-smaller-size spacer-right"
     title="{{t 'workspace.normal_size'}}" data-placement="bottom" data-toggle="tooltip"></a>

  <a href="#" class="js-close icon-close"
     title="{{t 'workspace.close'}}" data-placement="bottom" data-toggle="tooltip"></a>
</div>
