<td class="nowrap">
  <div>
    <span class="js-custom-measure-metric-name">{{metric.name}}</span>
    {{#if pending}}
      <span class="js-custom-measure-pending badge badge-warning spacer-left"
            title="{{t 'custom_measures.pending_tooltip'}}"
            data-toggle="tooltip" data-placement="bottom">{{t 'custom_measures.pending'}}</span>
    {{/if}}
  </div>
  <span class="js-custom-measure-domain note">{{metric.domain}}</span>
</td>

<td class="nowrap">
  <strong class="js-custom-measure-value">{{formatMeasure value metric.type}}</strong>
</td>

<td class="">
  <span class="js-custom-measure-description">{{description}}</span>
</td>

<td class="">
  {{#if updatedAt }}
    {{t 'updated_on'}} <span class="js-custom-measure-created-at">{{d updatedAt}}</span>
  {{else}}
    {{#if createdAt }}
      {{t 'created_on'}} <span class="js-custom-measure-created-at">{{d createdAt}}</span>
    {{else}}
      {{t 'created'}} 
    {{/if}}
  {{/if}}
  {{t 'by_'}} <span class="js-custom-measure-user">{{user.name}}</span>
</td>

<td class="thin nowrap">
  <div class="dropdown">
    <button class="dropdown-toggle" data-toggle="dropdown">
      {{settingsIcon}}<i class="icon-dropdown little-spacer-left" />
    </button>
    <ul class="dropdown-menu dropdown-menu-right">
      <li>
        <a class="js-custom-measure-update" href="#">{{t 'update_verb'}}</a>
      </li>
      <li class="divider" />
      <li>
        <a class="js-custom-measure-delete text-danger" href="#">{{t 'delete'}}</a>
      </li>
    </ul>
  </div>
</td>
