<% if !panel.empty? %>
<table id="sources" class="sources2 code" cellpadding="0" cellspacing="0" border="0">
  <%
    current_revision=nil
    colspan=2
    colspan+=1 if panel.display_scm
#    colspan+=2 if @display_coverage
    previous_hidden=false
    first_section=true
    has_displayed_lines=false
    panel.html_lines.each do |line|
      if line.hidden? && panel.expanded
        previous_hidden=true
        next
      end

      if previous_hidden && !first_section
       current_revision=nil
%>
  <tr>
    <td colspan="<%= colspan -%>" class="new_section"> </td>
  </tr>
<%
      end
      previous_hidden=false
      first_section=false

      status=hits_status=conditions_status=''
      if line.selected?
        has_displayed_lines=true
        if line.highlighted
          status='ko'
        end
      end
  %>
  <tr>
    <%
      if panel.display_scm
         if current_revision!=line.revision
           current_revision=line.revision
           title = "Revision #{h(line.revision)}"
    %>
            <td class="scm revision"><span class="date"><a href="#" title="<%= title -%>" alt="<%= title -%>"><%= Java::OrgSonarApiUtils::DateUtils.formatDate(line.datetime) if line.datetime -%></a></span> <span class="author"><%= h(line.author) -%></span></td>
    <%   else %>
            <td class="scm"></td>
    <%   end
       end
    %>
    <td class="lid" id="L<%= line.id -%>"><a name="L<%= line.id -%>" href="#L<%= line.id -%>"><%= line.id -%></a></td>


    <td class="line <%= status -%>">
      <pre><%= line.source -%></pre>
    </td>
  </tr>

  <% end %>
</table>

  <% if panel.filtered && !has_displayed_lines %>
    <p style="padding: 10px"><%= message('no_lines_match_your_filter_criteria') -%></p>
  <% end %>
<% end %>