<div class="navigator-filter-details-inner">
  <input class="navigator-filter-range-input" type="text" name="{{propertyFrom}}" placeholder="{{placeholder}}">
  <label>{{t 'to.downcase'}}</label>
  <input class="navigator-filter-range-input" type="text" name="{{propertyTo}}" placeholder="{{placeholder}}">
</div>
