<div class="line-block">
    <% if profiles_administrator? %>
      <ul style="float: right" class="horizontal">
          <li class="marginleft10 add">
              <a id="link-create-group" href="<%=ApplicationController.root_context-%>/groups/create_form" class="open-modal link-action">Add new group</a>
          </li>
      </ul>
    <% end %>
    <h1 class="marginbottom10">Groups</h1>
</div>


<table width="100%">
  <tr>
    <td valign="top">

      <table class="data width100 sortable" id="groups">
        <thead>
          <tr>
            <th class="left sortfirstasc">Name</th>
            <th class="left">Description</th>
            <th class="left">Members</th>
            <th class="operations nosort" nowrap>Operations</th>
          </tr>
        </thead>
        <tbody >
        <% @groups.each do |group|%>
          <tr id="group-<%= u group.name -%>">
            <td class="left"><%= h group.name -%></td>
            <td class="left" style="word-break:break-all"><%= h group.description -%></td>
            <td class="left">
              <span id="count-<%= u group.name -%>"><%= group.users.count -%></span> (<%= link_to "select", { :action => 'select_user', :id => group.id}, {:id => "select-#{u group.name}", :class => 'link-action'} -%>)
            </td>
            <td class="operations">
              <a id='edit-<%= h group.name -%>' method='get' class='open-modal link-action' href="<%= ApplicationController.root_context -%>/groups/edit_form/<%= h group.id -%>">Edit</a>
              &nbsp;
              <%= link_to_action message('delete'), "#{ApplicationController.root_context}/groups/delete/#{group.id}",
                                   :class => 'link-action link-red',
                                   :id => "delete-#{group.name}",
                                   :confirm_button => message('delete'),
                                   :confirm_title => 'Delete group: ' + group.name,
                                   :confirm_msg => 'Are you sure that you want to delete this group? Members will not be deleted.',
                                   :confirm_msg_params => [group.name]
                -%>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
       <script>TableKit.Sortable.init('groups');</script>
    </td>
  </tr>
</table>
