<td>
  <div class="widget_def" id="def_<%= definition.getId().tr('_', '') -%>">
    <p><b><%= h message('widget.' + definition.getId() + '.name', :default => definition.getTitle()) -%></b></p>

    <p><%= h message('widget.' + definition.getId() + '.description', :default => definition.getDescription()) -%></p>
    <%= form_tag :action => 'add_widget', :id => dashboard_id, :widget => definition.getId() %>
    <input type="hidden" name="category" value="<%= category -%>">
    <input type="submit" value="<%= message('dashboard.add_widget') -%>" id="add-widget-<%= u(definition.getId()) -%>">
    </form>
  </div>
</td>
