<table class="admintable" width="100%">
  <form action="<%= url_for :action => 'create', :resource => params[:resource] -%>" id="create-dashboard-form" method="POST">
    <tbody>
    <tr>
      <td colspan="2"><h1><%= message('dashboard.create_dashboard') -%></h1></td>
    </tr>
    <tr>
      <td class="left" valign="top">
        <%= message('name') -%>:<br/><input type="text" name="name" size="30" maxlength="256">
      </td>
    </tr>
    <tr>
      <td class="left" valign="top">
        <%= message('description') -%>:<br/><input type="text" name="description" size="30" maxlength="1000">
      </td>
    </tr>
    <% if is_admin? %>
      <tr>
        <td class="left" valign="top">
          <%= message('shared') -%>:<br/><input type="checkbox" name="shared" value="true">
        </td>
      </tr>
    <% end %>
    <tr>
      <td class="left" valign="top">
        <input type="submit" value="<%= message('dashboard.create_dashboard') -%>" id="submit-create-dashboard"/>
      </td>
    </tr>
    </tbody>
  </form>
</table>
<script>
  $('create-dashboard-form').name.focus();
</script>