<h1><%= message('dashboard.create_dashboard') -%></h1>

<form action="<%= url_for :action => 'create', :resource => params[:resource] -%>" id="create-dashboard-form" method="POST">
  <table class="admintable" width="100%">
    <tbody>
    <tr>
      <td class="left" valign="top" colspan="2">
        <%= message('name') -%>:<br/><input type="text" name="name" size="30" maxlength="256">
      </td>
    </tr>
    <tr>
      <td class="left" valign="top" colspan="2">
        <%= message('description') -%>:<br/><input type="text" name="description" size="30" maxlength="1000">
      </td>
    </tr>
    <% if is_admin? %>
      <tr>
        <td class="left" valign="top" colspan="2">
          <%= message('shared') -%>:<br/><input type="checkbox" name="shared" value="true">
        </td>
      </tr>
    <% end %>
    <tr>
      <td class="left" valign="top" colspan="2">
        <input type="submit" value="<%= message(@global ? 'dashboard.create_global_dashboard' : 'dashboard.create_project_dashboard') -%>" id="submit-create-dashboard"/>
      </td>
    </tr>
    </tbody>
  </table>

  <% if @global %>
    <input type="hidden" name="global" value="true" />
  <% end %>
</form>

<script>
  $('create-dashboard-form').name.focus();
</script>
