<% if @dashboard && ((@dashboard.widgets.size > 0 && @dashboard.column_layout.split("-").size() > 0)||dashboard_edit) %>
    <script type="text/javascript">
        <!--
        var options = {
            <% if dashboard_edit %>
            editorEnabled: true,
            <% else %>
            editorEnabled: false,
            <% end %>
            portal: 'dashboard',
            column: 'dashboard-column',
            columnhandle: 'column-handle',
            block: 'block',
            content: 'content',
            handle: 'none',
            hoverclass: 'block-hover',
            dashboardstate: 'dashboardstate',
            toggle: 'block-toggle',
            blocklist: 'dashboard-block-carousel',
            widgetedit: 'widgetedit',
            highlight_duration: 2,
            highlight_startcolor: '#ffff99',
            highlight_endcolor: '#ffffff',
            <% if dashboard_edit %>
            saveurl: '<%= url_for :action => 'savedashboard', :id => @project.id, :dashboard => @dashboard.id -%>'
            <% else %>
            saveurl: ''
            <% end %>
        };
        var portal;
        function init() {
            portal = new Portal(options);

            if ($("dashboard-block-carousel") && $("dashboard-block-carousel").visible()) {
                new UI.Carousel("dashboard-block-carousel");
            }
        }
        Event.observe(window, 'load', init, false);
        //-->
    </script>

    <div id='dashboard'>
      <% if dashboard_edit %>
          <script type="text/javascript">
              <!--
              function operations_toggle(link_element, editzone) {
                $('dashboard-edit').hide();
                $('dashboard-layout').hide();
                $('dashboard-block-carousel').hide();

                $(link_element).up('ul').childElements().each(
                    function (li_element) {
                      $(li_element).removeClassName('selected');
                });

                var li_element = $(link_element).up('li');
                li_element.addClassName('selected');

                $(editzone).show();

                if ($(editzone)==$("dashboard-block-carousel") && $("dashboard-block-carousel").visible()) {
                    new UI.Carousel("dashboard-block-carousel");
                }
              }

              function toggle_block(link) {
                  if ($(link).innerHTML=="[view]") {
                      $(link).up('.block').down(".widgetedit").fade({duration: 0.2, afterFinish: function() {
                          $(link).up('.block').down(".content").show();
                      }});
                      $(link).update("[edit]");
                  } else {
                    $(link).up('.block').down(".content").fade({duration: 0.2, afterFinish: function() {
                          $(link).up('.block').down(".widgetedit").show();
                      }});
                      if (Prototype.Browser.IE && parseInt(navigator.userAgent.substring(navigator.userAgent.indexOf("MSIE") + 5)) == 6) {
                          $(link).update("");
                      } else {
                          $(link).update("[view]");
                      }
                  }
                  return false;
              }

              function remove_block(link) {
                  $(link).up('.block').remove();
                  portal.saveDashboardsState();
              }

              function hide_block_info(widget_block) {
                  if ($(widget_block).down(".error")) {
                      $(widget_block).down(".error").hide();
                  }
                  if ($(widget_block).down(".notice")) {
                      $(widget_block).down(".notice").hide();
                  }
                  $A($(widget_block).select(".editrow")).each(function (row, row_index) {
                      row.removeClassName('valid-editrow')
                      row.removeClassName('invalid-editrow')
                  });
              }
              //-->
          </script>
          <div id="dashboard-operations">
            <ul class="operations">
              <li><a href="#" onclick="operations_toggle(this, 'dashboard-edit');">Edit dashboard</a></li>
              <li><a href="#" onclick="operations_toggle(this, 'dashboard-layout');">Edit layout</a></li>
              <li class="selected last">
                <a href="#" onclick="operations_toggle(this, 'dashboard-block-carousel');">Add widgets</a></li>
            </ul>
            <div style="clear:both;"></div>
          </div>

          <%= render :partial => 'dashboards/editform' %>

          <%= render :partial => 'dashboards/layouts' %>

          <div id="dashboard-block-carousel" class="admin">

            <p>Drag and drop to arrange widgets the way you like in available columns. If you want delete widget drag
              it back into this area.</p>
            <br/>

            <div class="button-wrapper">
              <div class="previous_button"></div>
            </div>
            <div id="dashboard-block-container" class="container">
              <ul>
                <% @widgets.each_with_index do |widget_view, index|
                    if widget_view %>
                        <li>
                          <div class="block" id="block_<%= widget_view.getId().tr('_', '') -%>">

                            <%= render :partial => 'dashboards/widget',
                                       :locals => {:dashboard_edit => dashboard_edit,
                                                   :widget => nil,
                                                   :widget_view => widget_view,
                                                   :edit_mode => false} %>

                          </div>
                        </li>
                    <% end %>
                <% end %>
              </ul>
            </div>
            <div class="button-wrapper">
              <div class="next_button"></div>
            </div>
            <div style="clear: both;"></div>
          </div>

      <% end %>

      <% columns=Array.new
         if @dashboard && @dashboard.column_layout
             columns=@dashboard.column_layout.split("-")
         end
         for index in 1..columns.size() %>
          <div class="dashboard-column-wrapper" style="width: <%=(columns.size()>0) ? columns[index-1].to_i : 100/columns.size() %>%; clear: right;">
            <div class="dashboard-column" id="dashboard-column-<%= index -%>" style="margin: 0px <%= index<columns.size() ? "5px" : "0px" %> 0px <%= index>1 ? "5px" : "0px" %>;">
              <% if dashboard_edit %>
                  <div style="width: 100%; height:20px; margin: 0; padding: 0;"></div>
                  <div class="column-handle"<%= ' style="display: none;"' if @dashboard.widgets.find(:all, :conditions => {:column_index => index}).size()>0 %>>Drop widgets here</div>
              <% end %>

              <% @dashboard.widgets.find(:all, :conditions => {:column_index => index}, :order => :order_index).each do |widget|
                  widget_view=@widgets.find { |w| w.getId()== widget.widget_key }
                  if widget_view %>
                      <div class="block" id="block_<%= widget.id -%>">

                        <%= render :partial => 'dashboards/widget',
                                   :locals => {:dashboard_edit => dashboard_edit,
                                               :widget => widget,
                                               :widget_view => widget_view,
                                               :edit_mode => false} %>

                      </div>
                  <% end %>
              <% end %>
              
            </div>
          </div>
      <% end %>
      <div style="clear: both;"></div>
    </div>
<% end %>