<div id="dashboard-edit" class="admin" <%= (@dashboard.id ? 'style="display: none;"' : "") %>>
  <form id="dashboard_form" name="dashboard_form" action="<%= url_for :action => (@dashboard.id ? 'update' : 'create'), :id => @project.id, :dashboard => @dashboard.id -%>" method="post">
    <table class="form">
      <tbody>
      <tr>
        <td class="first">Name:</td>
        <td>
          <input type="text" name="name" id="name" size="40" value="<%= @dashboard.name -%>" class="spaced"/>
        </td>
      </tr>
      </tbody>
      <% if is_admin? %>
          <tbody id="simple-form">
          <tr>
            <td class="first">Shared:</td>
            <td>
              <input type="checkbox" name="shared" id="shared" <%= 'checked' if @dashboard.shared? -%>/>
            </td>
          </tr>
          </tbody>
      <% end %>
      <tbody>
      <tr>
        <td class="first">Description:</td>
        <td>
          <textarea name="description" cols="40" rows="4" id="description"><%= @dashboard.description -%></textarea>
        </td>
      </tr>
      </tbody>
      <tbody>
      <tr>
        <td colspan="2">
          <input type="submit" value="Save"/>
          <span class="spacer"> </span>
          <% if @dashboard.id %>
              <%= link_to "Delete", {:action => 'delete', :id => @project.id, :dashboard => @dashboard.id}, :method => :post, :confirm => 'Do you want to delete this dashboard ?' %>
              <span class="spacer"> </span>
              <a href="<%= url_for :action => 'index', :id => @project.id, :dashboard => @dashboard.id -%>">Cancel</a>
          <% else %>
              <a href="<%= url_for :action => 'index', :id => @project.id -%>">Cancel</a>
          <% end %>
        </td>
      </tr>
      </tbody>
    </table>
  </form>
</div>