<h1><%= message('dashboard.edit_dashboard') -%></h1>

<form action="<%= url_for :action => 'update', :id => @dashboard.id, :resource => params[:resource] -%>" method="POST">
  <table class="admintable" width="100%">
    <tbody>
    <tr>
      <td class="left" valign="top" colspan="2">
        <%= message('name') -%>:<br/><input type="text" name="name" size="30" maxlength="256" value="<%= @dashboard.name -%>">
      </td>
    </tr>
    <tr>
      <td class="left" valign="top" colspan="2">
        <%= message('description') -%>:<br/><input type="text" name="description" size="30" maxlength="1000" value="<%= @dashboard.description -%>">
      </td>
    </tr>
    <% if is_admin? %>
      <tr>
        <td class="left" valign="top">
          <%= message('shared') -%>:<br/><input type="checkbox" name="shared" value="true" <%= 'checked' if @dashboard.shared -%>>
        </td>
      </tr>
    <% end %>
    <tr>
      <td class="left" valign="top" colspan="2">
        <input type="submit" value="<%= message('dashboard.update_dashboard') -%>" id="submit-update-dashboard"/>
        <a href="<%= url_for :action => 'index', :resource => params[:resource] -%>"><%= message('cancel') -%></a>
      </td>
    </tr>
    </tbody>
  </table>
  <% if @dashboard.global %>
    <input type="hidden" name="global" value="true" />
  <% end %>
</form>
