<form action="<%= url_for :action => 'update', :id => @dashboard.id, :resource => params[:resource] -%>" method="POST">
<table class="admintable" width="100%">
    <tbody>
      <tr>
        <td colspan="2"><h1>Edit dashboard</h1></td>
      </tr>
      <tr>
        <td class="left" valign="top">
        Name:<br/><input type="text" name="name" size="30" maxlength="256" value="<%= @dashboard.name -%>"></input>
        </td>
      </tr>
      <tr>
        <td class="left" valign="top">
        Description:<br/><input type="text" name="description" size="30" maxlength="1000" value="<%= @dashboard.description -%>"></input>
        </td>
      </tr>
      <% if is_admin? %>
      <tr>
        <td class="left" valign="top">
        Shared:<br/><input type="checkbox" name="shared" value="true" <%= 'checked' if @dashboard.shared -%>></input>
        </td>
      </tr>
      <% end %>
      <tr>
        <td class="left" valign="top">
        <input type="submit" value="Update dashboard"/>
        <a href="<%= url_for :action => 'index', :resource => params[:resource] -%>">Cancel</a>
        </td>
      </tr>
    </tbody>
</table>
</form>