<% if logged_in? %>
<div id="page-operations" style="position:relative;">
  <ul class="operations">
    <li><%= link_to 'Add dashboard', {:action => 'new', :id => @project.id } -%></li>
    <% if selected_tab && @dashboard %>
    <li><%= link_to 'Edit dashboard', {:action => 'edit', :id => @project.id, :dashboard => @dashboard.id } -%></li>
    <% end %>
    <li class="last"><%= link_to 'Manage dashboards', {:action => 'manage', :id => @project.id } -%></li>
  </ul>
</div>
<% end %>

<% if @actives && !@actives.empty? %>
<ul class="tabs" id="dashboard-tabs" style="border-bottom: 1px solid #cdcdcd; margin-bottom:3px;">
<% @actives.each do |active| %>
  <li>
    <a href="<%= url_for :action => 'index', :id => @project.id, :dashboard => active.dashboard.id -%>" class="<%= 'selected' if selected_tab==active.dashboard.id -%>"><%= active.name -%><%= " *" if active.dashboard.shared? %></a>
  </li>
<% end %>
</ul>
<% end %>
