<%
   if has_role?(:user, @project)
     open_action_plans = ActionPlan.find(:all, :conditions => ['status= ? AND project_id=?', ActionPlan::STATUS_OPEN, @project.id], 
                                         :include => 'reviews', :order => 'deadline ASC')
     
     div_id = "action-plan-widget-#{widget.id.to_s}"
%>

<div class="line-block">
  <% if has_role?(:admin, @project) %>
  <div style="float:right">
    <a href="<%= url_for :controller => 'action_plans', :action => 'index', :id => @project.id -%>">
      <%= message('widgets.more') -%>
    </a>
  </div>
  <% end %>
  
  <h3><%= message('widget.action_plans.title') -%></h3>
</div>


<div id="<%= div_id -%>">

<% if open_action_plans.size ==0 %>

  <span class="empty_widget"><%= message('widget.action_plans.no_action_plan') -%></span>

<% 
   else
     show_closed_reviews = widget_properties["showClosedReviews"]
     if show_closed_reviews
       line_class = "top"
     else
       line_class = "middle"
       max_open_reviews = open_action_plans.map {|plan| plan.open_reviews.size}.max
     end 
%>

  <table class="width100 <%= show_closed_reviews ? 'actionPlans' : 'data' -%>">
    <thead>
    <tr>
      <th colspan="<%= show_closed_reviews ? '3' : '4' %>"></th>
    </tr>
    </thead>
    <tbody>
      <%
         open_action_plans.each do |plan|
      %>
      <tr class="<%= show_closed_reviews ? '' : cycle("even", "odd", :name => "action_plan_" + widget.id.to_s) -%>">
        <td class="nowrap <%= line_class -%>"><%= h(plan.name) -%></td>
        <td class="nowrap small <%= line_class -%> <%= 'over-due' if plan.over_due? -%>" style="text-align: right; padding-left:10px"><%= plan.deadline ? plan.deadline.strftime("%d %b %Y") : ' '  -%></td>
        
        <% if show_closed_reviews %>
          <% if plan.progress[:total]==0 %>
            <td class="noprogress nowrap <%= line_class -%>"><%= message('action_plans.no_reviews_linked_to_action_plan') -%></td>
          <% else %>
            <td class="progress <%= line_class -%>">
              <%= render :partial => 'action_plans/progress', :locals => {:action_plan => plan} -%>
            </td>
          <% end %>
        <% 
           else
             open_reviews_size = plan.open_reviews.size
        %>
          <td class="right <%= line_class -%>" style="padding-left:20px">
            <% if open_reviews_size == 0 %>
              <%= open_reviews_size -%>
            <% else %>
              <a href="<%= url_for({:controller => 'project_reviews', :action => 'index', :action_plan_id => plan.id, 
                                    :id => plan.project_id, :statuses => Review::STATUS_OPEN + ',' + Review::STATUS_REOPENED}) -%>" 
                 title="<%= message('widget.action_plans.x_open_reviews', :params => open_reviews_size.to_s) -%>"><%= open_reviews_size -%></a>
            <% end %>
          </td>
          <td class="<%= line_class -%>" style="padding: 0 40px 0 10px; width: 300px;">
            <div class="barchart" style="width: 100%">
              <div style="width: <%= max_open_reviews > 0 ? 100 * open_reviews_size / max_open_reviews : 0 -%>%;background-color:#777;"></div>
            </div>
          </td>
        <% end %>
        
      </tr>
      <% 
         end 
      %>
    </tbody>
  </table>

<% end %>
  
</div>

<% end %>
