<%
   container_id = 'bubble-chart-widget' + widget.id.to_s
   xMetric = widget_properties["xMetric"]
   yMetric = widget_properties["yMetric"]
   sizeMetric = widget_properties["sizeMetric"]
   xLog = !!widget_properties["xLogarithmic"]
   yLog = !!widget_properties["yLogarithmic"]
   chartHeight = widget_properties["chartHeight"]
   chartTitle = widget_properties["chartTitle"]
%>

<div class="bubble-chart-widget" id="<%= container_id %>">
    <!--[if lte IE 8 ]> <h3><%= message('widget.unsupported_browser_warning') -%></h3> <![endif]-->

    <!--[if (gt IE 9)|!(IE)]><!-->
    <% if chartTitle %>
      <h3 style="text-align: center;"><%= h(chartTitle) -%></h3>
    <% end %>
    <!--<![endif]-->
</div>

<!--[if (gt IE 9)|!(IE)]><!-->
<script>

  var bubbleChartData = [
    <%
       filter = MeasureFilter.new
       filter.criteria = {:qualifiers => ['FIL', 'CLA'], :baseId => @project.id}
       filter.metrics = [xMetric.name, yMetric.name, sizeMetric.name]
       filter.execute(self, :user => current_user)
       filter.rows.each  do |row|
         x = row.measure(xMetric)
         y = row.measure(yMetric)
         size = row.measure(sizeMetric)
    %>
    {
      id: <%= row.resource.id -%>,
      key: '<%= row.resource.key -%>',
      name: '<%= row.resource.name -%>',
      longName: '<%= row.resource.long_name -%>',

      xMetric: <%= x ? x.value : 0 -%>,
      xMetricFormatted: <%= x ? x.value : '"-"' -%>,

      yMetric: <%= y ? y.value : 0 -%>,
      yMetricFormatted: <%= y ? y.value : '"-"' -%>,

      sizeMetric: <%= size ? size.value : 0 -%>,
      sizeMetricFormatted: <%= size ? size.value : '"-"' -%>
    },
    <% end %>
  ];

  var bubbleChartMetrics = {
    x: '<%= xMetric.short_name -%>',
    y: '<%= yMetric.short_name -%>',
    size: '<%= sizeMetric.short_name -%>'
  };


  var bubbleChart = new SonarWidgets.BubbleChart();
  bubbleChart
    .data(bubbleChartData)
    .metrics(bubbleChartMetrics)
    .xLog(<%= xLog %>)
    .yLog(<%= yLog %>)
    .height(<%= chartHeight %>)
    .render('#<%= container_id %>');

  autoResize(500, function() {
    bubbleChart.update('#<%= container_id %>');
  });
</script>
<!--<![endif]-->

