<%
  if measure(Metric::LINES) || measure(Metric::NCLOC)
    comment_lines=measure('comment_lines')
    comment_lines_density=measure('comment_lines_density')
    comment_blank_lines=measure('comment_blank_lines')
    public_documented_api_density=measure('public_documented_api_density')
    public_undocumented_api=measure('public_undocumented_api')
    commented_out_lines=measure('commented_out_code_lines')
    duplicated_lines_density=measure('duplicated_lines_density')
    duplicated_lines=measure('duplicated_lines')
    duplicated_blocks=measure('duplicated_blocks')
    duplicated_files=measure('duplicated_files')
%>
<table width="100%">
	<tr>
		<td valign="top" width="50%" nowrap>
			<% if (comment_lines) %>
		    <div class="dashbox">
		      <h3><%= message('widget.comments_duplications.comments') -%></h3>
		      <p>
		        <span class="big"><%= format_measure(comment_lines_density, :suffix => '', :url => url_for_drilldown(comment_lines_density)) %></span>
		        <%= dashboard_configuration.selected_period? ? format_variation(comment_lines_density) : trend_icon(comment_lines_density) -%>
		      </p>
		      <p>
		        <%= format_measure(comment_lines, :suffix => message('widget.comments_duplications.lines.suffix'), :url => url_for_drilldown(comment_lines)) %>
		        <%= dashboard_configuration.selected_period? ? format_variation(comment_lines) : trend_icon(comment_lines) -%>
		      </p>
		      <%
	  	      if comment_blank_lines && comment_blank_lines.value>0
		      %>
		      <p>+<%= format_measure(comment_blank_lines, :suffix => message('widget.comments_duplications.blank.suffix'), :url => url_for_drilldown(comment_blank_lines)) %>
		      <%= dashboard_configuration.selected_period? ? format_variation(comment_blank_lines) : trend_icon(comment_blank_lines) -%>
		      </p>
		      <% end %>
		      <p>
		        <%= format_measure(public_documented_api_density, :suffix => message('widget.comments_duplications.docu_api.suffix'), :url => url_for_drilldown(Metric::PUBLIC_UNDOCUMENTED_API, :highlight => Metric::PUBLIC_DOCUMENTED_API_DENSITY)) %>
		        <%= dashboard_configuration.selected_period? ? format_variation(public_documented_api_density) : trend_icon(public_documented_api_density) -%>
		      </p>
		      <p>
		        <%= format_measure(public_undocumented_api, :suffix => message('widget.comments_duplications.undocu_api.suffix'), :url => url_for_drilldown(public_undocumented_api)) %>
		        <%= dashboard_configuration.selected_period? ? format_variation(public_undocumented_api) : trend_icon(public_undocumented_api) -%>
		      </p>
		      <p>
		        <%= format_measure(commented_out_lines, :suffix => message('widget.comments_duplications.commented_locs.suffix'), :url => url_for_drilldown(commented_out_lines)) %>
		        <%= dashboard_configuration.selected_period? ? format_variation(commented_out_lines) : trend_icon(commented_out_lines) -%>
		      </p>
		    </div>
		    <% end %>
		</td>
		<td valign="top" width="50%" nowrap>
		    <% if duplicated_lines_density %>
		    <div class="dashbox">
		      <h3><%= message('widget.comments_duplications.duplications') -%></h3>
		      <p>
		        <span class="big"><%= format_measure(duplicated_lines_density, :suffix => '', :url => url_for_drilldown(Metric::DUPLICATED_LINES, :highlight =>  'duplicated_lines_density')) %></span>
		        <%= dashboard_configuration.selected_period? ? format_variation(duplicated_lines_density) : trend_icon(duplicated_lines_density) -%>
		      </p>
		      <p>
		        <%= format_measure(duplicated_lines, :suffix => message('widget.comments_duplications.lines.suffix'), :url => url_for_drilldown(duplicated_lines)) %>
		        <%= dashboard_configuration.selected_period? ? format_variation(duplicated_lines) : trend_icon(duplicated_lines) -%>
		      </p>
		      <p>
		        <%= format_measure(duplicated_blocks, :suffix => message('widget.comments_duplications.blocks.suffix'), :url => url_for_drilldown(duplicated_blocks)) %>
		        <%= dashboard_configuration.selected_period? ? format_variation(duplicated_blocks) : trend_icon(duplicated_blocks) -%>
		      </p>
		      <p>
		        <%= format_measure(duplicated_files, :suffix => message('widget.comments_duplications.files.suffix'), :url => url_for_drilldown(duplicated_files)) %>
		        <%= dashboard_configuration.selected_period? ? format_variation(duplicated_files) : trend_icon(duplicated_files) -%>
		      </p>
		    </div>
		    <% end %>
		</td>
	</tr>
</table>
<% end %>