<%
  metric = widget_properties["metric"]
  unless metric
    metric = Metric.find(:first, :conditions => "name = 'ncloc'")
  end
  limit = widget_properties["numberOfLines"]
  unless limit
    limit = 5
  end
  title = widget_properties["title"]
  unless title && !title.blank?
    title = message('widget.hotspot_metric.hotspots_for_x', :params => metric.short_name)
  end
  
  snapshots = nil
  if metric.numeric?
    snapshots_conditions = ["snapshots.scope = 'FIL'", "project_measures.rule_id IS NULL", "project_measures.characteristic_id IS NULL"]
    snapshots_values = {}
    snapshots_conditions << "snapshots.path LIKE :path"
    snapshots_values[:path] = "#{@snapshot.path}#{@snapshot.id}.%"
    snapshots_conditions << "project_measures.metric_id = :m_id"
    snapshots_values[:m_id] = metric.id
    snapshots_conditions << "snapshots.root_project_id = :root_id"
    snapshots_values[:root_id] = @snapshot.root_project_id
  
    snapshots=Snapshot.find(:all, 
                            :conditions => [snapshots_conditions.join(' AND '), snapshots_values], 
                            :include => ['project', 'measures'],
                            :order => "project_measures.value #{'DESC' if metric.direction<0}",
                            :limit => limit)  
  end
%>


<% unless snapshots %>
  <h3><%= title -%></h3>
  <span style="color: #777777; font-size: 93%; font-style:italic"><%= message('widget.hotspot_metric.cannot_display_not_numeric_metric') -%></span>
<% else %>

<div class="line-block">
  <div style="float:right">
    <a href="<%= url_for_drilldown(metric) -%>"><%= message('widget.hotspot_metric.more') -%></a>
  </div>
  <h3><%= title -%></h3>
</div>

<table id="hotspots-<%= metric.name-%>-<%= widget.id -%>" class="data">
  <thead><tr><th colspan="3"/></tr></thead>
  <tbody>
<%
  metric_max_value = snapshots.first.measure(metric).value
  snapshots.each do |s|
    measure = s.measure(metric)
    resource = s.resource
%>
    <tr class="<%= cycle 'even','odd' -%>">
      <td>
        <%= link_to_resource(resource, resource.name) -%>
      </td>
      <td class="right">
        <%= measure.formatted_value -%>
      </td>
      <td class="barchart">
        <div class="barchart" style="width: <%= (measure.value*100/metric_max_value).round.to_i -%>%">
          <div style="width: 100%;background-color:#777;"></div>
        </div>
      </td>    
    </tr>
<%
  end
%>
  </tbody>
</table>

<% end %>
