<%
  violations_metric = Metric.find(:first, :conditions => "name = 'violations'")
  limit = widget_properties["numberOfLines"]
  unless limit
    limit = 5
  end
  defaultSeverity = widget_properties["defaultSeverity"]
  if defaultSeverity
    # we try to figure out if the user has specified a prefered severity, may it be an integer (0->4) or a text value ("blocker", ...)
    defaultSeverityIdFromText = Sonar::RulePriority.id(widget_properties["defaultSeverity"].upcase)
    defaultSeverity = defaultSeverityIdFromText.to_s if defaultSeverityIdFromText
  end
  defaultSeverity = "" unless defaultSeverity=="0" || defaultSeverity=="1" || defaultSeverity=="2" || defaultSeverity=="3" || defaultSeverity=="4"

  measures_conditions = ["rule_id IS NOT NULL", "characteristic_id IS NULL"]
  measures_values = {}
  measures_conditions << "snapshot_id = :s_id"
  measures_values[:s_id] = @snapshot.id
  measures_conditions << "metric_id = :m_id"
  measures_values[:m_id] = violations_metric.id
  measures_conditions << "metric_id = :m_id"
  measures_values[:m_id] = violations_metric.id

  measures_by_priority = {}
  measures_by_priority[""] = ProjectMeasure.find(:all, 
                                 :conditions => [measures_conditions.join(' AND '), measures_values],
                                 :include => 'rule',
                                 :order => 'value DESC',
                                 :limit => limit)
  (0..4).each do |priority|
    measures_by_priority[priority.to_s] = ProjectMeasure.find(:all, 
                                 :conditions => [measures_conditions.join(' AND ') + " AND rule_priority = " + priority.to_s, measures_values],
                                 :include => 'rule',
                                 :order => 'value DESC',
                                 :limit => limit)
  end
%>

<script type="text/javascript">

  function showCorrespondingDiv(severity) {
    divs = $$('#widget-<%= widget.id-%> div.hotspot');
    for (i=0; i<divs.size(); i++) {
      divs[i].hide();
    }
    $('most-violated-rules-<%= widget.id -%>-' + severity).show();
  }

</script>

<div class="line-block">
  <div style="float:right">
    <a href="<%= url_for(:controller => 'drilldown', :action => 'violations', :id => @resource.key) -%>"><%= message('widget.hotspot_metric.more') -%></a>
  </div>
  <h3><%= message('widget.hotspot_most_violated_rules.name') -%>
    <select class="small" style="margin-left: 20px" onchange="showCorrespondingDiv(this.value);">
      <option value="" <%= 'selected' if defaultSeverity=="" -%>><%= message('widget.hotspot_most_violated_rules.any_severity') -%></option>
      <option value="4" <%= 'selected' if defaultSeverity=="4" -%>><%= message('severity.BLOCKER') -%></option>
      <option value="3" <%= 'selected' if defaultSeverity=="3" -%>><%= message('severity.CRITICAL') -%></option>
      <option value="2" <%= 'selected' if defaultSeverity=="2" -%>><%= message('severity.MAJOR') -%></option>
      <option value="1" <%= 'selected' if defaultSeverity=="1" -%>><%= message('severity.MINOR') -%></option>
      <option value="0" <%= 'selected' if defaultSeverity=="0" -%>><%= message('severity.INFO') -%></option>
    </select>
  </h3>
</div>


<div id="widget-<%= widget.id-%>">
<%
  measures_by_priority.keys.each do |priority|
    measures = measures_by_priority[priority]
    if measures.empty?
%>

  <div id="most-violated-rules-<%= widget.id -%>-<%= priority -%>" class="hotspot" style="padding-top:10px">
      <span style="color: #777777; font-size: 93%; font-style:italic"><%= message('widget.hotspot_most_violated_rules.no_violation_for_severity') -%></span>
  </div>

<%
    else
%>

  <div id="most-violated-rules-<%= widget.id -%>-<%= priority -%>" class="hotspot">
    <table class="data">
      <thead><tr><th colspan="3"/></tr></thead>
      <tbody>
    <%
      violations_max_value = measures.first.value
      measures.each do |m|
        rule = m.rule
    %>
        <tr class="<%= cycle 'even','odd' -%>">
          <td>
            <a href="<%= url_for(:controller => 'drilldown', :action => 'violations', :id => @resource.key, :priority => Sonar::RulePriority.to_s(m.rule_priority)) -%>">
              <%= image_tag('priority/' + m.rule_priority.to_s + '.png') -%>
            </a>
          </td>
          <td>
            <a href="<%= url_for(:controller => 'drilldown', :action => 'violations', :id => @resource.key, :rule => rule.key) -%>"><%= rule.name -%></a>
          </td>
          <td class="right">
            <%= m.formatted_value -%>
          </td>
          <td class="barchart">
            <div class="barchart" style="width: <%= (m.value*100/violations_max_value).round.to_i -%>%">
              <div style="width: 100%;background-color:#777;"></div>
            </div>
          </td>    
        </tr>
    <%
      end
    %>
      </tbody>
    </table>
  </div>

<%
    end 
  end
%>
</div>

<script type="text/javascript">
  showCorrespondingDiv("<%= defaultSeverity -%>");
</script>