<a href="<%= widget_properties['link'] %>" title="<%= widget_properties['alt'] %>">
  <img src="<%= widget_properties['imageUrl'] %>" alt="<%= widget_properties['alt'] %>" width="<%= widget_properties['width'] %>" height="<%= widget_properties['height'] %>" />
</a>
