<%
  coverage_measure=measure('merged_coverage')
  if coverage_measure
%>
<table width="100%">
  <tr>
    <td nowrap valign="top">
      <div class="dashbox">
        <p class="title"><%= message('widget.merged-coverage.name') -%></p>
        <p>
          <span class="big"><%= format_measure(coverage_measure, :suffix => '', :url => url_for_drilldown('merged_coverage'), :default => '-') %></span>
          <%= dashboard_configuration.selected_period? ? format_variation(coverage_measure) : trend_icon(coverage_measure) -%>
        </p>
        <% it_line_coverage=measure('merged_line_coverage')
          if it_line_coverage %>
          <p>
            <%= format_measure(it_line_coverage, :suffix => message('widget.merged-coverage.line_coverage.suffix'), :url => url_for_drilldown('merged_uncovered_lines', :highlight =>  'merged_line_coverage')) %>
            <%= dashboard_configuration.selected_period? ? format_variation(it_line_coverage) : trend_icon(it_line_coverage) -%>
          </p>
        <% end %>
        <% it_branch_coverage=measure('merged_branch_coverage')
          if it_branch_coverage %>
          <p>
            <%= format_measure(it_branch_coverage, :suffix => message('widget.merged-coverage.branch_coverage.suffix'), :url => url_for_drilldown('merged_uncovered_conditions', :highlight =>  'merged_branch_coverage')) %>
            <%= dashboard_configuration.selected_period? ? format_variation(it_branch_coverage) : trend_icon(it_branch_coverage) -%>
          </p>
        <% end %>
      </div>
    </td>
    <td nowrap valign="top">
      <div class="dashbox">
    <%
        if dashboard_configuration.selected_period?
          new_lines_to_cover_measure=measure('new_merged_lines_to_cover')
          if new_lines_to_cover_measure
            new_lines=new_lines_to_cover_measure.variation(dashboard_configuration.period_index)
            if new_lines
              new_coverage=measure('new_merged_coverage')
              new_line_coverage=measure('new_merged_line_coverage')
              new_branch_coverage=measure('new_merged_branch_coverage')
        %>
            <h3><%= message('widget.merged-coverage.on_new_code') -%>: </h3>
            <% if new_lines.to_i==0 %>
              <p><%= message('widget.merged-coverage.no_new_lines_to_cover') -%></p>
            <% else %>
              <% if new_coverage %>
                <p>
                  <span class="big">
                    <a href="<%= url_for_drilldown('new_merged_coverage', :period => dashboard_configuration.period_index) -%>"><%= format_variation(new_coverage, :style => 'none', :default => '-') -%></a>
                  </span>
                </p>
              <% end %>
              <p>
                <a href="<%= url_for_drilldown('new_merged_lines_to_cover', :period => dashboard_configuration.period_index) -%>"><%= format_variation(new_lines_to_cover_measure, :style => 'none', :default => '-') -%><%= message('widget.merged-coverage.lines_to_cover.suffix') -%></a>
              </p>
              <% if new_line_coverage %>
                <p>
                  <a href="<%= url_for_drilldown('new_merged_uncovered_lines', :highlight => 'new_merged_line_coverage', :period => dashboard_configuration.period_index) -%>"><%= format_variation(new_line_coverage, :style => 'none', :default => '-') -%><%= message('widget.merged-coverage.line_coverage.suffix') -%></a>
                </p>
              <% end %>
              <% if new_branch_coverage %>
                <p>
                  <a href="<%= url_for_drilldown('new_merged_uncovered_conditions', :highlight => 'new_merged_branch_coverage', :period => dashboard_configuration.period_index) -%>"><%= format_variation(new_branch_coverage, :style => 'none', :default => '-') -%><%= message('widget.merged-coverage.branch_coverage.suffix') -%></a>
                </p>
              <%
                 end
               end
            end
          end
        end
        %>
        </div>
    </td>
</tr>
</table>
<% end %>
