<% m=measure(Metric::QUALITY_GATE_DETAILS)
   if m && !m.measure_data.blank?

     details = JSON.parse m.measure_data.data
     m.alert_status = details['level']

     warn_message = message('measure_filter.criteria.alert.warn')
     error_message = message('measure_filter.criteria.alert.error')

     css_class = "color_#{m.alert_status}"
     if m.alert_status==Metric::TYPE_LEVEL_OK
       label = "<b>#{message('widget.alerts.no_alert')}.</b>"
     elsif m.alert_status==Metric::TYPE_LEVEL_WARN
       label = "<b>#{message('widget.alerts.warnings')}</b>"
     else
       label = "<b>#{message('widget.alerts.errors')}</b>"
     end
-%><div class="widget <%= css_class -%>" id="quality_gate_widget_<%= widget.id -%>">
  <div><%= format_measure(m) -%> <%= label -%></div>
  <table class="data" style="color: black; margin-top: 10px">
    <thead>
      <tr></tr>
    </thead>
    <tbody>
    <% details['conditions'].sort_by {|condition| [ -condition['level'].length, metric(condition['metric']).short_name] }.each do |condition|

      level = condition['level']
      condition_metric = metric(condition['metric'])
      operator = message("quality_gates.operator.#{condition['op']}.short")
      period = condition['period']
      warning_value = condition['warning']
      error_value = condition['error']
      actual_value = condition['actual']

      detail_measure = ProjectMeasure.new :metric => m.metric, :alert_status => level

      drilldown_url = period.blank? ? url_for_drilldown(condition_metric) : url_for_drilldown(condition_metric, :period => period)

      actual_measure = ProjectMeasure.new :metric => condition_metric, :value => actual_value
      warning_measure = ProjectMeasure.new :metric => condition_metric, :value => warning_value
      error_measure = ProjectMeasure.new :metric => condition_metric, :value => error_value


      unless level == 'OK' && !widget_properties['show_ok']
      -%>
      <tr>
        <td><%= format_measure(detail_measure) -%></td>
        <td><%= link_to "#{condition_metric.short_name} #{period_label(@snapshot, period) unless period.blank?}", drilldown_url, {:class => 'nolink'} -%></td>
        <td align="right"><%= link_to format_measure(actual_measure), drilldown_url, {:class => 'nolink'} -%></td>
        <td>
        <% if level == 'WARN' -%><%= operator -%> <%= format_measure(warning_measure) -%><% end -%>
        <% if level == 'ERROR' -%><%= operator -%> <%= format_measure(error_measure) -%><% end -%>
        <% if level == 'OK' -%>
          <% unless warning_value.blank? -%><%= warn_message -%> <%= operator -%> <%= format_measure(warning_measure) -%> <%= '|' unless error_value.blank? -%><% end %>
          <% unless error_value.blank? -%><%= error_message -%> <%= operator -%> <%= format_measure(error_measure) -%><% end %>
        <% end -%>
      </tr>
    <%  end
      end -%>
    </tbody>
  </table>
</div>
<% end %>
