<%
  violations=@snapshot.measure('violations')
  density=@snapshot.measure('violations_density')
  blocker_violations = @snapshot.measure('blocker_violations')
  critical_violations = @snapshot.measure('critical_violations')
  major_violations = @snapshot.measure('major_violations')
  minor_violations = @snapshot.measure('minor_violations')
  info_violations = @snapshot.measure('info_violations')
  new_violations=@snapshot.measure('new_violations')
%>
<table width="100%">
  <tr>
    <td valign="top">
      <div class="dashbox">
        <h3><%= message('widget.rules.violations') -%></h3>
        <div class="marginbottom10">
            <span class="big">
              <%= format_measure(violations, :url => url_for(:controller => 'drilldown', :action => 'violations', :id => @project.key)) -%>
            </span>
            <%= dashboard_configuration.selected_period? ? format_variation(violations) : trend_icon(violations) -%>
            <% 
               if @dashboard_configuration.selected_period?
                 violations_variation = variation_value(violations)
                 new_violations_variation = variation_value(new_violations)
                 estimated_cleared_violations = (new_violations_variation - violations_variation).to_i if violations_variation && new_violations_variation
            %>
              <% if new_violations_variation && new_violations_variation > 0 %>
                <br/>
                <span style="font-weight: bold">
                  <%= message('widget.rules.added') -%>&nbsp;
                  <a href="<%= url_for(:controller => 'drilldown', :action => 'violations', :id => @project.key, :period => dashboard_configuration.period_index) -%>" class="varw"><%= format_variation(new_violations, :style => 'none', :default => '-') -%></a>
                </span>
              <% end %>
              <% if estimated_cleared_violations && estimated_cleared_violations > 0 %>
                <br/>
                <span style="font-weight: bold">
                  <%= message('widget.rules.removed') -%>&nbsp;
                  <span class="varb"><%= estimated_cleared_violations -%></span>
                </span>
              <% end %>
            <% end %>
        </div>
        <% if density %>
        <h3><%= message('widget.rules.rules_compliance') -%></h3>
        <div>
          <span class="big">
            <%= format_measure(density, :url => url_for_drilldown('weighted_violations', {:highlight => 'weighted_violations'})) -%>
          </span>
          <%= dashboard_configuration.selected_period? ? format_variation(density) : trend_icon(density) -%>
        </div>
        <% end %>
      </div>
    </td>
    
		<td valign="top" nowrap>
			<%
        values=[blocker_violations,critical_violations,major_violations,minor_violations,info_violations]
        if dashboard_configuration.selected_period?
          values=values.map{|m| m ? (m.variation(dashboard_configuration.period_index)||0) : 0}
        else
          values=values.map{|m| m ? (m.value||0) : 0}
        end
        max=values.map{|val| val.abs}.max
			%>
			    <table class="clear width100">
			      <tr>
			        <td><%= image_tag 'priority/BLOCKER.png'%></td>
			        <td> &nbsp;<%= link_to message('blocker'), {:controller => 'drilldown', :action => 'violations', :id => @project.key, :severity => 'BLOCKER'} %></td>
			        <td style="padding: 0 5px;" align="right">
			          <%= format_measure(blocker_violations) -%>
			        </td>
			        <td>
			          <%= dashboard_configuration.selected_period? ? format_variation(blocker_violations) : trend_icon(blocker_violations, :empty => true) -%>
			        </td>
			        <td align="left" style="padding-bottom:2px; padding-top:2px;">
			          <% if max > 0 %>
			          <% if dashboard_configuration.selected_period? %>
			            <%= barchart(:width => 35, :percent => (values[0]<0 ? (100 * values[0] / max).to_i : 0), :color => '#078C00') %>
			            <%= barchart(:width => 35, :percent => (values[0]>0 ? (100 * values[0] / max).to_i : 0), :color => '#cc0000') %>
			          <% else %>
			            <%= barchart(:width => 70, :percent => (100 * values[0] / max).to_i) %>
			          <% end %>
			          <% end %>
			        </td>
			      </tr>
			      <tr>
			        <td><%= image_tag 'priority/CRITICAL.png'  %></td>
			        <td> &nbsp;<%= link_to message('critical'), {:controller => 'drilldown', :action => 'violations', :id => @project.key, :severity => 'CRITICAL'} %></td>
			        <td style="padding: 0 5px;" align="right">
			          <%= format_measure(critical_violations) -%>
			        </td>
			        <td>
			          <%= dashboard_configuration.selected_period? ? format_variation(critical_violations) : trend_icon(critical_violations, :empty => true) -%>
			        </td>
			        <td align="left" style="padding-bottom:2px; padding-top:2px;">
			          <% if max > 0 %>
			          <% if dashboard_configuration.selected_period? %>
			            <%= barchart(:width => 35, :percent => (values[1]<0 ? (100 * values[1] / max).to_i : 0), :color => '#078C00') %>
			            <%= barchart(:width => 35, :percent => (values[1]>0 ? (100 * values[1] / max).to_i : 0), :color => '#cc0000') %>
			          <% else %>
			            <%= barchart(:width => 70, :percent => (100 * values[1] / max).to_i) %>
			          <% end %>
			          <% end %>
			        </td>
			      </tr>
			      <tr>
			      <td><%= image_tag 'priority/MAJOR.png'  %></td>
			        <td> &nbsp;<%= link_to message('major'), {:controller => 'drilldown', :action => 'violations', :id => @project.key, :severity => 'MAJOR'} %></td>
			        <td style="padding: 0 5px;" align="right">
			          <%= format_measure(major_violations) -%>
			        </td>
			        <td>
			          <%= dashboard_configuration.selected_period? ? format_variation(major_violations) : trend_icon(major_violations, :empty => true) -%>
			        </td>
			       <td align="left" style="padding-bottom:2px; padding-top:2px;">
			         <% if max > 0 %>
			          <% if dashboard_configuration.selected_period? %>
			            <%= barchart(:width => 35, :percent => (values[2]<0 ? (100 * values[2] / max).to_i : 0), :color => '#078C00') %>
			            <%= barchart(:width => 35, :percent => (values[2]>0 ? (100 * values[2] / max).to_i : 0), :color => '#cc0000') %>
			          <% else %>
			            <%= barchart(:width => 70, :percent => (100 * values[2] / max).to_i) %>
			          <% end %>
			          <% end %>
			        </td>
			      </tr>
			      <tr>
			      <td><%= image_tag 'priority/MINOR.png'  %></td>
			        <td> &nbsp;<%= link_to message('minor'), {:controller => 'drilldown', :action => 'violations', :id => @project.key, :severity => 'MINOR'} %></td>
			        <td style="padding: 0 5px;" align="right">
			          <%= format_measure(minor_violations) -%>
			        </td>
			        <td>
			          <%= dashboard_configuration.selected_period? ? format_variation(minor_violations) : trend_icon(minor_violations, :empty => true) -%>
			        </td>
			       <td align="left" style="padding-bottom:2px; padding-top:2px;">
			          <% if max > 0 %>
			          <% if dashboard_configuration.selected_period? %>
			            <%= barchart(:width => 35, :percent => (values[3]<0 ? (100 * values[3] / max).to_i : 0), :color => '#078C00') %>
			            <%= barchart(:width => 35, :percent => (values[3]>0 ? (100 * values[3] / max).to_i : 0), :color => '#cc0000') %>
			          <% else %>
			            <%= barchart(:width => 70, :percent => (100 * values[3] / max).to_i) %>
			          <% end %>
			          <% end %>
			        </td>
			      </tr>
			      <tr>
			      <td><%= image_tag 'priority/INFO.png'  %></td>
			        <td> &nbsp;<%= link_to message('info'), {:controller => 'drilldown', :action => 'violations', :id => @project.key, :severity => 'INFO'} %></td>
			        <td style="padding: 0 5px;" align="right">
			          <%= format_measure(info_violations) -%>
			        </td>
			        <td>
			          <%= dashboard_configuration.selected_period? ? format_variation(info_violations) : trend_icon(info_violations, :empty => true) -%>
			        </td>
			       <td align="left" style="padding-bottom:2px; padding-top:2px;">
			         <% if max > 0 %>
			          <% if dashboard_configuration.selected_period? %>
			            <%= barchart(:width => 35, :percent => (values[4]<0 ? (100 * values[4] / max).to_i : 0), :color => '#078C00') %>
			            <%= barchart(:width => 35, :percent => (values[4]>0 ? (100 * values[4] / max).to_i : 0), :color => '#cc0000') %>
			          <% else %>
			            <%= barchart(:width => 70, :percent => (100 * values[4] / max).to_i) %>
			          <% end %>
			          <% end %>
			        </td>
			      </tr>
			    </table>
	    </td>
	  </tr>
  </table>
