<%
   index = measure('technical_debt')
   unless index && index.value
%>
    <h3><%= message('widget.technical_debt.name') -%></h3>
    <span style="color: #777777; font-size: 93%; font-style:italic"><%= message('widget.technical_debt.no_info_available') -%></span>
<%
   else
%>
    <div class="dashbox marginright10">
      <h3><%= message('widget.technical_debt.name') -%></h3>
      <p>
        <a href="<%= url_for_drilldown('sqale_index') -%>">
          <span class="big"><%= number_with_precision(index.value, :precision => 1) -%></span>&nbsp;<%= message('widget.technical_debt.days') -%></a>
        <%= dashboard_configuration.selected_period? ? format_variation(index) : trend_icon(index) -%>
      </p>
    </div>
<% end %>
