<h1 class="maintenance-title">{{t 'maintenance.upgrade_database'}}</h1>
<p class="maintenance-text">{{t 'maintenance.upgrade_database.1'}}</p>
<p class="maintenance-text">{{t 'maintenance.upgrade_database.2'}}</p>
<p class="maintenance-text">{{t 'maintenance.upgrade_database.3'}}</p>
<div class="maintenance-spinner">
  <button id="start-migration">{{t 'maintenance.upgrade'}}</button>
</div>
