<div class="pull-right big-spacer-left nowrap">
  <div class="dropdown">
    <button class="dropdown-toggle" data-toggle="dropdown">
      {{settingsIcon}}<i class="icon-dropdown little-spacer-left" />
    </button>
    <ul class="dropdown-menu dropdown-menu-right">
      <li>
        <a class="js-metric-update" href="#">{{t 'update_verb'}}</a>
      </li>
      <li class="divider" />
      <li>
        <a class="js-metric-delete text-danger" href="#">{{t 'delete'}}</a>
      </li>
    </ul>
  </div>
</div>

<div class="display-inline-block text-top width-30">
  <div>
    <strong class="js-metric-name text-limited">{{name}}</strong>
    <span class="js-metric-key note little-spacer-left text-limited">{{key}}</span>
  </div>
</div>

<div class="display-inline-block text-top width-20 text-ellipsis">
  <span class="js-metric-domain">{{this.domain}}</span>
</div>

<div class="display-inline-block text-top width-20 text-ellipsis">
  <span class="js-metric-type">{{t 'metric.type' type}}</span>
</div>

<div class="display-inline-block text-top width-20 text-ellipsis" title="{{description}}">
  <span class="js-metric-description">{{description}}</span>
</div>
