<script id="issues-header-template" type="text/x-handlebars-template">
  <h1 class="navigator-header-title">{{#if name}}{{name}}{{else}}<%= message ('issues') -%>{{/if}}</h1>

    <div class="navigator-header-actions button-group">
      <button id="issues-new-search"><%= message ('issue_filter.new_search') -%></button>

      {{#if appState.canManageFilters}}
        {{#if canModify}}
          {{#if canSave}}<button id="issues-filter-save"><%= message('save') -%></button>{{/if}}
        {{/if}}
        {{#unless id}}<button id="issues-filter-save-as"><%= message('save_as') -%></button>{{/unless}}
        {{#if id}}<button id="issues-filter-copy"><%= message('copy') -%></button>{{/if}}
        {{#if canModify}}
          {{#if id}}<button id="issues-filter-edit"><%= message('edit') -%></button>{{/if}}
        {{/if}}
      {{/if}}
    </div>

  {{#if description}}
    <div class="navigator-header-description">{{description}}</div>
  {{/if}}
</script>
