<script id="issue-detail-template" type="text/x-handlebars-template">
  <div class="code-issue" data-issue-key="{{key}}" data-issue-component="{{component.key}}" data-issue-rule="{{rule.key}}">
    <div class="code-issue-name">
      <div style="float: right">
        <a href="#" onclick="return openIssuePopup(this)" class="issue-permalink">
          <img src="<%= ApplicationController.root_context -%>/images/new-window-16.gif">
        </a>
      </div>

      {{severityIcon severity}}&nbsp;
      <span class="rulename">{{rule.name}}</span>
      &nbsp;<img src="<%= ApplicationController.root_context -%>/images/sep12.png">&nbsp;
      {{statusIcon status}}{{capitalize status}}
      &nbsp;<img src="<%= ApplicationController.root_context -%>/images/sep12.png">&nbsp;
      <%= message('issue.updated') -%>&nbsp;<a href="#" onclick="return toggleIssueChangelog(this)" class="gray issue-changelog-link" id="toggle-issue-changelog">{{fromNow updateDate}}</a>
      {{# if author}}
        &nbsp;<img src="<%= ApplicationController.root_context -%>/images/sep12.png">&nbsp;
        <span><%= message('issue.authorLogin') -%>&nbsp;{{author}}</span>
      {{/if}}
      {{# if technicalDebt}}
        &nbsp;<img src="<%= ApplicationController.root_context -%>/images/sep12.png">&nbsp;
        <%= message('issue.technical_debt') -%>&nbsp;<a href="#" onclick="return toggleTechnicalDebt(this)" class="gray issue-technicaldebt-link" id="toggle-issue-technicaldebt">
          {{#if technicalDebt.days}}{{technicalDebt.days}} days{{/if}}
          {{#if technicalDebt.hours}}{{technicalDebt.hours}} hours{{/if}}
          {{#if technicalDebt.minutes}}{{technicalDebt.minutes}} minutes{{/if}}
        </a>
      {{/if}}
    </div>

    <div class="issue-rule rule-desc" style="display: none"></div>
    <div class="issue-changelog" id="issue-changelog" style="display: none"></div>
    <div class="issue-technicaldebt" id="issue-technicaldebt" style="display: none"></div>

    <div class="code-issue-msg">{{{message}}}</div>

    <div class="code-issue-actions">
      <a href="#" onclick="return issueForm('comment', this)" class="link-action spacer-right" autofocus="">Comment</a>

      <img src="<%= ApplicationController.root_context -%>/images/sep12.png">
      &nbsp;
        <span class="spacer-right">
          <a href="#" onclick="return issueForm('assign', this)" class="link-action">Assign</a>
          [<a href="#" onclick="return assignIssueToMe(this)" class="link-action">to me</a>]
        </span>
      <img src="<%= ApplicationController.root_context -%>/images/sep12.png">
      &nbsp;
        <span class="spacer-right">
            <a href="#" onclick="return issueForm('plan', this)" class="link-action">Plan</a>
        </span>
      <img src="<%= ApplicationController.root_context -%>/images/sep12.png">
      &nbsp;
      <a href="#" onclick="return doIssueTransition(this, 'confirm')" class="link-action spacer-right">Confirm</a>

      <div class="dropdown">
        <a href="#" class="link-action link-more" onclick="showDropdownMenuOnElement($j(this).next('.dropdown-menu')); return false;">More actions</a>
        <ul style="display: none" class="dropdown-menu">
          <li>
            <a href="#" onclick="return issueForm('severity', this)" class="link-action spacer-right">Change severity</a>
          </li>
          <li>
            <a href="#" onclick="return doIssueTransition(this, 'resolve')" class="link-action spacer-right">Resolve</a>
          </li>
          <li>
            <a href="#" onclick="return doIssueTransition(this, 'falsepositive')" class="link-action spacer-right">False positive</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="code-issue-form hidden"></div>
  </div>
</script>
