<script id="issue-detail-template" type="text/x-handlebars-template">
  <div class="source_title">
    <div class="subtitle">{{project.longName}}</div>
    <span class="h1">
      {{#if component.longName}}
        <a href="<%= ApplicationController.root_context -%>{{dashboardUrl component}}">{{component.longName}}</a>
      {{else}}
        {{component}} [<del><%= message('issue.component_deleted') %></del>]
      {{/if}}
    </span>
  </div>

  <div class="code-issue" data-issue-key="{{key}}" data-issue-component="{{component.key}}" data-issue-rule="{{rule.key}}">
    <div class="code-issue-name">
      {{severityIcon severity}}&nbsp;<span class="rulename">{{rule.name}}</span>
    </div>

    <div class="code-issue-msg">{{{message}}}</div>

    <div class="code-issue-details">
      <ul class="tabs">
        <li>
          <a href="#tab-issue-details"><%= message('issue.details') -%></a>
        </li>
        <li>
          <a href="#tab-issue-rule"><%= message('rule') -%></a>
        </li>
        <li>
          <a href="<%= ApplicationController.root_context -%>/issue/changelog/{{key}}"><%= message('changelog') -%></a>
        </li>
      </ul>

      <div id="tab-issue-details">
        <ul class="code-issue-details-list">
          <li>
            <div class="code-issue-details-term"><%= message('severity') -%></div>
            <div class="code-issue-details-value">
              {{severityIcon severity}}{{capitalize severity}}
            </div>
          </li>
          <li>
            <div class="code-issue-details-term"><%= message('status') -%></div>
            <div class="code-issue-details-value">
              {{statusIcon status}}{{capitalize status}}
            </div>
          </li>
          <li>
            <div class="code-issue-details-term"><%= message('resolution') -%></div>
            <div class="code-issue-details-value">
              {{#if resolution}}
                {{resolutionIcon resolution}}{{capitalize resolution}}
              {{else}}
                <%= message('unresolved') -%>
              {{/if}}
            </div>
          </li>
          <li>
            <div class="code-issue-details-term"><%= message('issue_filter.header.action_plan') -%></div>
            <div class="code-issue-details-value"></div>
          </li>
          {{#if technicalDebt}}
            <li>
              <div class="code-issue-details-term"><%= message('issue.technical_debt_clear') -%></div>
              <div class="code-issue-details-value">
                {{#if technicalDebt.days}}{{technicalDebt.days}} days{{/if}}
                {{#if technicalDebt.hours}}{{technicalDebt.hours}} hours{{/if}}
                {{#if technicalDebt.minutes}}{{technicalDebt.minutes}} minutes{{/if}}
              </div>
            </li>
          {{/if}}
          {{# if reporter}}
            <li>
              <div class="code-issue-details-term"><%= message('reporter') -%></div>
              <div class="code-issue-details-value">{{reporter}}</div>
            </li>
          {{/if}}
          {{#if author}}
            <li>
              <div class="code-issue-details-term"><%= message('author') -%></div>
              <div class="code-issue-details-value">{{author}}</div>
            </li>
          {{/if}}
          {{# if assignee}}
            <li>
              <div class="code-issue-details-term"><%= message('assignee') -%></div>
              <div class="code-issue-details-value">{{assignee}}</div>
            </li>
          {{/if}}
          <li>
            <div class="code-issue-details-term"><%= message('created') -%></div>
            <div class="code-issue-details-value">{{creationDate}}</div>
          </li>
          <li>
            <div class="code-issue-details-term"><%= message('updated') -%></div>
            <div class="code-issue-details-value">{{updateDate}}</div>
          </li>
        </ul>
      </div>

      <div id="tab-issue-rule">
        <div class="rule-desc">
          <div class="marginbottom10">{{{rule.desc}}}</div>
          <p class="note">{{rule.key}}</p>
        </div>
      </div>
    </div>

    <div class="code-issue-comments">
      {{#each comments}}
        <div class="code-issue-comment" data-comment-key="{{key}}">
          <h4>
            <%= image_tag('reviews/comment.png') -%>
            <b>{{#if user}}{{user.name}}{{else}}{{login}}{{/if}}</b>
            ({{fromNow createdAt}})
          </h4>
          {{{htmlText}}}
        </div>
      {{/each}}
    </div>

    <div class="code-issue-actions">
      <a href="#" onclick="return issueForm('comment', this)" class="link-action spacer-right" autofocus="">Comment</a>

      <img src="<%= ApplicationController.root_context -%>/images/sep12.png">
      &nbsp;
        <span class="spacer-right">
          <a href="#" onclick="return issueForm('assign', this)" class="link-action">Assign</a>
          [<a href="#" onclick="return assignIssueToMe(this)" class="link-action">to me</a>]
        </span>
      <img src="<%= ApplicationController.root_context -%>/images/sep12.png">
      &nbsp;
        <span class="spacer-right">
            <a href="#" onclick="return issueForm('plan', this)" class="link-action">Plan</a>
        </span>
      <img src="<%= ApplicationController.root_context -%>/images/sep12.png">
      &nbsp;
      <a href="#" onclick="return doIssueTransition(this, 'confirm')" class="link-action spacer-right">Confirm</a>

      <div class="dropdown">
        <a href="#" class="link-action link-more" onclick="showDropdownMenuOnElement($j(this).next('.dropdown-menu')); return false;">More actions</a>
        <ul style="display: none" class="dropdown-menu">
          <li>
            <a href="#" onclick="return issueForm('severity', this)" class="link-action spacer-right">Change severity</a>
          </li>
          <li>
            <a href="#" onclick="return doIssueTransition(this, 'resolve')" class="link-action spacer-right">Resolve</a>
          </li>
          <li>
            <a href="#" onclick="return doIssueTransition(this, 'falsepositive')" class="link-action spacer-right">False positive</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="code-issue-form hidden"></div>
  </div>
</script>
