<script id="issue-detail-template" type="text/x-handlebars-template">
  <div class="source_title">
    <div class="subtitle">{{projectLongName}}</div>
    <span class="h1">
      <a href="<%= ApplicationController.root_context -%>{{dashboardUrl component componentQualifier}}">{{componentLongName}}</a>
    </span>
  </div>

  <div class="code-issue" data-issue-key="{{key}}" data-issue-component="{{component}}" data-issue-rule="{{rule}}">
    <div class="code-issue-name">
      {{severityIcon severity}}&nbsp;<span class="rulename">{{ruleName}}</span>
    </div>

    <div class="code-issue-msg">{{{message}}}</div>

    <div class="code-issue-details">
      <ul class="tabs">
        <li>
          <a href="#tab-issue-details"><%= message('issue.details') -%></a>
        </li>
        <li>
          <a href="#tab-issue-rule"><%= message('rule') -%></a>
        </li>
        <li>
          <a href="#tab-issue-changelog"><%= message('changelog') -%></a>
        </li>
      </ul>

      <div id="tab-issue-details">
        <ul class="code-issue-details-list">
          <li>
            <div class="code-issue-details-term"><%= message('severity') -%></div>
            <div class="code-issue-details-value">
              {{severityIcon severity}}{{capitalize severity}}
            </div>
          </li>
          <li>
            <div class="code-issue-details-term"><%= message('status') -%></div>
            <div class="code-issue-details-value">
              {{statusIcon status}}{{capitalize status}}
            </div>
          </li>
          <li>
            <div class="code-issue-details-term"><%= message('resolution') -%></div>
            <div class="code-issue-details-value">
              {{#if resolution}}
                {{resolutionIcon resolution}}{{capitalize resolution}}
              {{else}}
                <%= message('unresolved') -%>
              {{/if}}
            </div>
          </li>
          {{#if actionPlanName}}
            <li>
              <div class="code-issue-details-term"><%= message('issue_filter.header.action_plan') -%></div>
              <div class="code-issue-details-value">{{actionPlanName}}</div>
            </li>
          {{/if}}
          {{#if technicalDebt}}
            <li>
              <div class="code-issue-details-term"><%= message('issue.technical_debt_clear') -%></div>
              <div class="code-issue-details-value">{{technicalDebt}}</div>
            </li>
          {{/if}}
          {{# if reporter}}
            <li>
              <div class="code-issue-details-term"><%= message('reporter') -%></div>
              <div class="code-issue-details-value">{{reporter}}</div>
            </li>
          {{/if}}
          {{#if author}}
            <li>
              <div class="code-issue-details-term"><%= message('author') -%></div>
              <div class="code-issue-details-value">{{author}}</div>
            </li>
          {{/if}}
          {{# if assigneeName}}
            <li>
              <div class="code-issue-details-term"><%= message('assignee') -%></div>
              <div class="code-issue-details-value">{{assigneeName}}</div>
            </li>
          {{/if}}
          <li>
            <div class="code-issue-details-term"><%= message('created') -%></div>
            <div class="code-issue-details-value">{{fCreationDate}}</div>
          </li>
          <li>
            <div class="code-issue-details-term"><%= message('updated') -%></div>
            <div class="code-issue-details-value">{{fUpdateDate}}</div>
          </li>
        </ul>
      </div>

      <div id="tab-issue-rule">
        <div class="rule-desc">
          <div class="marginbottom10">{{{rule.desc}}}</div>
          <p class="note">{{rule.key}}</p>
        </div>
      </div>

      <div id="tab-issue-changelog">
        <table class="spaced">
          <tbody>
          {{#each changelog}}
            <tr>
              <td class="left top">{{fCreationDate}}</td>
              <td class="thin left top">{{userName}}</td>
              <td class="left top">
                {{#each diffs}}
                  {{this}}<br>
                {{/each}}
              </td>
            </tr>
          {{/each}}
          </tbody>
        </table>
      </div>
    </div>

    <div class="code-issue-comments">
      {{#each comments}}
        <div class="code-issue-comment" data-comment-key="{{key}}">
          <h4>
            <%= image_tag('reviews/comment.png') -%>
            <b>{{userName}}</b>
            ({{fCreationDate}})

            {{#if updatable}}
              &nbsp;<%= image_tag 'sep12.png' -%>&nbsp;
              <a class="link-action issue-comment-edit"><%= message('edit') -%></a>
              <a class="link-action spacer-right issue-comment-delete"
                 data-confirm-msg="<%= h message('issue.comment.delete_confirm_message') -%>"><%= message('delete') -%></a>
            {{/if}}
          </h4>
          {{{html}}}
        </div>
      {{/each}}
    </div>

    <ul class="code-issue-actions">
      {{#inArray actions "comment"}}
        <li>
          <a id="issue-comment" class="link-action"><%= message('issue.comment.formlink') -%></a>
        </li>
      {{/inArray}}

      {{#inArray actions "assign"}}
        <li>
          <a id="issue-assign" class="link-action"><%= message('issue.assign.formlink') -%></a>
          {{#inArray actions "assign_to_me"}}
            [<a id="issue-assign-to-me" class="link-action"><%= message('issue.assign.to_me') -%></a>]
          {{/inArray}}
        </li>
      {{/inArray}}

      {{#inArray actions "plan"}}
        <li>
          <a id="issue-plan" class="link-action"><%= message('issue.do_plan') -%></a>
        </li>
      {{/inArray}}

      <li>
        <div class="dropdown">
          <a class="link-action link-more" onclick="showDropdownMenuOnElement($j(this).next('.dropdown-menu')); return false;">More actions</a>
          <ul style="display: none" class="dropdown-menu">
            {{#inArray actions "set_severity"}}
              <li>
                <a id="issue-change-severity" class="link-action spacer-right">Change severity</a>
              </li>
            {{/inArray}}
            {{#each transitions}}
              <li>
                <a class="link-action spacer-right issue-transition" data-transition="{{this}}">{{this}}</a>
              </li>
            {{/each}}
          </ul>
        </div>
      </li>
    </ul>

    <div class="code-issue-form"></div>
  </div>
</script>
