<%
   selected_section = nil
   selected_section = controller.class::SECTION if defined?(controller.class::SECTION)
   if selected_section == Navigation::SECTION_RESOURCE && !@project && !@resource
     selected_section = Navigation::SECTION_HOME
   end
   component = @project
   component = @resource unless @project || selected_section == Navigation::SECTION_HOME

   space = 'global'
   if selected_section == Navigation::SECTION_RESOURCE
     space = 'component'
   elsif selected_section == Navigation::SECTION_CONFIGURATION
     space = 'settings'
   end
%>

<!DOCTYPE html>
<!--[if IE 9 ]>
<html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html> <!--<![endif]-->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="shortcut icon" type="image/x-icon" href="<%= image_path('favicon.ico') -%>">
  <%
     if @page_title
       title="SonarQube - #{h(@page_title)}"
     elsif @project
       title="SonarQube - #{h(@project.name)}"
     elsif @resource
       title="#{h(@resource.long_name)}"
     else
       title='SonarQube'
     end
  %>
  <title><%= title -%></title>

  <link href="<%= ApplicationController.root_context -%>/css/sonar.css?v=<%= sonar_version -%>" rel="stylesheet" media="all">
  <%= yield :style -%>

  <script>
    window.pageLang = '<%= I18n.locale.to_s.gsub(/-/, '_') -%>';
    window.baseUrl = '<%= ApplicationController.root_context -%>';

    window.sonar = {};
    window.sonar.version = '<%= escape_javascript sonar_version -%>';
    window.sonar.space = '<%= escape_javascript space -%>';
    <% if component -%>
    window.sonar.component = '<%= escape_javascript component.key -%>';
    <% end %>
    window.sonar.properties = {
      'sonar.technicalDebt.hoursInDay': <%= escape_javascript configuration('sonar.technicalDebt.hoursInDay', 8) %>,
      'sonar.lf.enableGravatar': <%= escape_javascript configuration('sonar.lf.enableGravatar', true) %>,
      'sonar.lf.gravatarServerUrl': '<%= escape_javascript configuration('sonar.lf.gravatarServerUrl') %>',
      'sonar.updatecenter.activate': <%= escape_javascript configuration('sonar.updatecenter.activate', true) %>
    };

    window.SS = {
      user: '<%= current_user.login if current_user -%>',
      userName: '<%= current_user.name if current_user -%>',
      userEmail: '<%= current_user.email if current_user -%>',
      isUserAdmin: <%= current_user && is_admin? ? 'true' : 'false' -%>
    };
  </script>

  <script src="<%= ApplicationController.root_context -%>/js/sonar.js?v=<%= sonar_version -%>"></script>

  <script>
    require([window.baseUrl + '/js/main.js']);
  </script>

  <script>
    <%# we should get rid of this $j ASAP %>
    window.$j = window.jQuery;
    $(function () {
      $('.open-modal').modal();
    });
  </script>

  <%= yield :script -%>
</head>
<body>
