<%
   selected_section = controller.class::SECTION if defined?(controller.class::SECTION)
   if selected_section==Navigation::SECTION_RESOURCE && !@project && !@resource
     selected_section = Navigation::SECTION_HOME
   end
   @project=@resource unless @project || selected_section==Navigation::SECTION_HOME
   period_param = "period=#{u(params[:period])}" if params[:period]
%>
<div id="container" class="navbar-sticky">
  <%
     navbar_class = 'navbar-global'
     navbar_class = 'navbar-project' if selected_section==Navigation::SECTION_RESOURCE
     navbar_class = 'navbar-settings' if selected_section==Navigation::SECTION_CONFIGURATION
  %>
  <nav class="navbar <%= navbar_class -%>">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand navbar-logo" href="<%= ApplicationController.root_context -%>/">
          <%= render 'layouts/logo' -%>
        </a>
        <% if selected_section==Navigation::SECTION_RESOURCE %>
          <div class="navbar-brand"><%= @project.root_project().name -%></div>
        <% end %>
      </div>
    </div>
  </nav>

  <%= yield :header -%>

  <%= render 'layouts/breadcrumb' if @breadcrumbs || selected_section==Navigation::SECTION_RESOURCE -%>

  <div id="body">
    <div class="container">
      <div id="content">
        <% if @project %>
          <div class="print"><h2><%= h @project.name() %></h2></div>
        <% end %>
        <div class="error" id="error" style="display:none">
          <span id="errormsg"></span> &nbsp;&nbsp;[<a href="#" onclick="javascript:$j('#error').hide();return false;"><%= message('hide').downcase -%></a>]
        </div>
        <div class="notice" id="info" style="display:none">
          <span id="infomsg"></span> &nbsp;&nbsp;[<a href="#" onclick="javascript:$j('#info').hide();return false;"><%= message('hide').downcase -%></a>]
        </div>
        <div class="warning" id="warning" style="display:none">
          <span id="warningmsg"></span> &nbsp;&nbsp;[<a href="#" onclick="javascript:$j('#warning').hide();return false;"><%= message('hide').downcase -%></a>]
        </div>
        <%= yield %>
      </div>
    </div>
  </div>
</div>

<% unless params[:hd]=='false' %>
  <%= yield :footer %>
  <div id="footer">
    <% controller.java_facade.getWebFooters().each do |footer| %>
      <% if footer.getHtml() %>
        <div><%= footer.getHtml().to_s %></div>
      <% end %>
    <% end %>
    <div id="ftlinks">
      <%= render 'branding/footer' -%>
      <div>
        Version <%= sonar_version -%> -
        <a href="http://www.gnu.org/licenses/lgpl-3.0.txt" target="lgpl_v3">LGPL v3</a> -
        <a href="http://www.sonarqube.org" target="sonar">Community</a> -
        <a href="http://www.sonarqube.org/documentation" target="sonar_doc">Documentation</a> -
        <a href="http://www.sonarqube.org/support" target="support">Get Support</a> -
        <a href="http://sonar-plugins.codehaus.org" target="plugins">Plugins</a> -
        <a href="<%= ApplicationController.root_context -%>/api_documentation">Web Service API</a>
        <% unless DatabaseVersion.production? %>
          <br><br><span class="error big" id="evaluation_warning">Embedded database should be used for evaluation purpose only</span>
          <br><br><span class="error">The embedded database will not scale, it will not support upgrading to newer versions of SonarQube, and there is no support for migrating your data out of it into a different database engine.</span>
        <% end %>
      </div>
      <!--[if lte IE 8 ]><br/><span class="ie-warn">IE 8 is not supported. Some widgets may not be properly displayed. Please switch to a <a
          target="_blank" href="http://redirect.sonarsource.com/doc/requirements.html">supported version or another supported browser</a>.</span><!--<![endif]-->
    </div>
  </div>
<% end %>
