<%= render :partial => 'layouts/head' %>

<nav class="navbar navbar-global page-container" id="global-navigation">
  <div class="navbar-header">
    <a class="navbar-brand" href="<%= ApplicationController.root_context -%>/">
      <img src="<%= ApplicationController.root_context -%>/images/logo.svg" height="30"
           alt="<%= h message('layout.sonar.slogan') -%>"
           title="<%= h message('layout.sonar.slogan') -%>">
    </a>
  </div>
</nav>

<div id="bd" class="page-wrapper page-wrapper-simple">
  <div id="nonav" class="page-simple">
    <div id="content"><%= yield %></div>
  </div>
</div>

<div id="footer" class="page-footer page-container">
  <div>
    Version <%= sonar_version -%> -
    <a href="http://www.gnu.org/licenses/lgpl-3.0.txt" target="lgpl_v3">LGPL v3</a> -
    <a href="http://www.sonarqube.org" target="sonar">Community</a> -
    <a href="http://www.sonarqube.org/documentation" target="sonar_doc">Documentation</a> -
    <a href="http://www.sonarqube.org/support" target="support">Get Support</a> -
    <a href="http://redirect.sonarsource.com/doc/plugin-library.html" target="plugins">Plugins</a> -
    <a href="<%= ApplicationController.root_context -%>/web_api">Web API</a>
  </div>
  <%= render 'branding/footer' -%>
</div>

<script>
  window.sonarqube.bannedNavigation = true;
  (function ($) {
    $('html').addClass('dashboard-page');
  })(window.jQuery);
</script>

<script src="<%= ApplicationController.root_context -%>/js/bundles/main.js?v=<%= sonar_version -%>"></script>
<%= yield :extra_script -%>

</body></html>
