<div class="bubble-popup-container">
  {{#notEq test.status 'ERROR'}}
    {{#notEq test.status 'FAILURE'}}
      <div class="bubble-popup-title">{{t 'component_viewer.transition.covers'}}</div>
      {{#each items}}
        <div class="bubble-popup-section">
          <a class="component-viewer-popup-test-file link-action" data-key="{{key}}" title="{{name}}">{{name}}</a>
          <span class="subtitle">{{tp 'component_viewer.x_lines_are_covered' coveredLines}}</span>
          <br><span class="subtitle" title="{{dir}}">{{dir}}</span>
        </div>
      {{else}}
        {{t 'none'}}
      {{/each}}
    {{/notEq}}
  {{/notEq}}

  {{#notEq test.status 'OK'}}
    <div class="bubble-popup-title">{{t 'component_viewer.details'}}</div>
    {{#if test.message}}
      <pre>{{test.message}}</pre>
    {{/if}}
    <pre>{{test.stackTrace}}</pre>
  {{/notEq}}

</div>

<div class="bubble-popup-arrow"></div>
