<% updates.each do |update|
    release=update.getRelease()
%>
  <tr class="<%= cycle('even','odd', :name => 'system') if !plugin -%>">
    <td width="1%" nowrap><b><%= 'Sonar' if !plugin -%> <%= release.getVersion() -%></b></td>
    <td width="1%" nowrap><%= release_date(release.getDate()) if release.getDate() -%></td>
    <td><%= release.getDescription() -%></td>
    <td>
      <%= link_to 'Release Notes', release.getChangelogUrl(), :class => 'external' if release.getChangelogUrl() %> &nbsp;
      <%= link_to 'Download', release.getDownloadUrl(), :class => 'external' if !plugin && release.getDownloadUrl() %>
    </td>
    <% if plugin %>
    <td>
      <% if update.isIncompatible() %>
        not compatible
      <% elsif update.requiresSonarUpgrade %>
        not compatible, needs Sonar upgrade          
      <% end %>
    </td>
    <% else %>
    <td>
      <% if update.hasWarnings() %>
        <% if update.isIncompatible() %>
          Those plugins not compatible and must be uninstalled before Sonar upgrade:
          <ul>
          <% update.getIncompatiblePlugins().each do |plugin| %>
            <li><%= plugin.getName() -%></li>
          <% end %>
          </ul>
        <% end %>
        <% if update.requiresPluginUpgrades() %>
          Those plugins must be upgraded:
          <ul>
          <% update.getPluginsToUpgrade().each do |plugin| %>
            <li><%= plugin.getArtifact().getName() -%> to <%= plugin.getVersion() -%></li>
          <% end %>
          </ul>
        <% end %>
      <% else %>
        All installed plugins are compatible
      <% end %>
    </td>
    <% end %>
  </tr>
<% end %>
