<style>
  ol.bulletpoints li {
    list-style-type: decimal;
    list-style-position: inside;
  }
</style>
<script>
  function submitForm(elt) {
    elt.submit();
    elt.disable();
    return false;
  }
</script>
<h1 class="marginbottom10"><%= message('update_center.page') -%></h1>
<%= render :partial => 'updatecenter/tabs', :locals => {:tab => 'system_updates'} -%>

<div class="tabs-panel">

  <%= render :partial => 'updatecenter/operations' -%>

  <% if @update_plugin_center %>
    <% if @sonar_updates.empty? %>
      <table class="data width100 marginbottom10">
        <thead>
        <tr>
          <td></td>
        </tr>
        </thead>
        <tbody>
        <tr class="even">
          <td>System is up to date.</td>
        </tr>
        </tbody>
      </table>
    <% else %>

      <% @sonar_updates.to_a.reverse.each do |update|
        release=update.getRelease()
      %>
        <table class="data width100" id="sonar-<%= release.getVersion() -%>">
          <thead>
          <tr>
            <th><h2>Sonar  <%= release.getVersion() -%></h2></th>
          </tr>
          </thead>
          <tbody>
          <tr class="even">
            <td>
              <table class="width100 spaced">
                <tr>
                  <td class="thin nowrap"><b>Date: </b></td>
                  <td class="sep"></td>
                  <td><%= release_date(release.getDate()) if release.getDate() -%></td>
                </tr>
                <tr>
                  <td class="thin nowrap">
                    <b><%= link_to_if release.getChangelogUrl(), 'Release Notes', release.getChangelogUrl(), :class => 'external' %>
                      : </b></td>
                  <td class="sep"></td>
                  <td><%= release.getDescription() -%></td>
                </tr>
                <tr>
                  <td class="thin nowrap" valign="top"><b>How to upgrade: </b></td>
                  <td class="sep"></td>
                  <td>
                    <% if update.hasWarnings() %>
                      Follow those steps to upgrade Sonar from version <%= sonar_version -%> to
                      version <%= release.getVersion() -%> :
                      <ol class="bulletpoints">
                        <% update.getIncompatiblePlugins().each do |incompatible_plugin| %>
                          <li>
                            <form method="post" action="<%= ApplicationController.root_context -%>/updatecenter/uninstall?key=<%= incompatible_plugin.getKey() -%>&amp;from=system_updates" style="display: inline-block">
                              <%= image_tag 'warning.png' -%>
                              <input type="submit" value="Uninstall" class="red-button" onClick="return submitForm(this);"/>
                              the plugin <%= incompatible_plugin.getName() -%> which is not compatible with
                              Sonar <%= release.getVersion() -%>.
                            </form>
                          </li>
                        <% end %>
                        <% update.getPluginsToUpgrade().each do |plugin_to_upgrade| %>
                          <li>
                            <form method="post" id="upgrade-form-<%= plugin_to_upgrade.getArtifact().getKey() -%>" action="<%= ApplicationController.root_context -%>/updatecenter/install?key=<%= plugin_to_upgrade.getArtifact().getKey() -%>&amp;version=<%= plugin_to_upgrade.getVersion() -%>&amp;from=system_updates" style="display: inline-block">
                              <input type="submit" id="upgrade-submit-<%= plugin_to_upgrade.getArtifact().getKey() -%>" value="Upgrade" onClick="return submitForm(this);"/>
                              the plugin <%= plugin_to_upgrade.getArtifact().getName() -%> to
                              version <%= plugin_to_upgrade.getVersion() -%>
                            </form>
                          </li>
                        <% end %>
                        <li>Stop Sonar</li>
                        <li><%= link_to 'Download', release.getDownloadUrl(), :class => 'external' -%> and install
                          Sonar <%= release.getVersion() -%> after having carefully read the upgrade guide.
                        </li>
                        <li>Start Sonar</li>
                      </ol>

                    <% else %>
                      <%= link_to 'Download', release.getDownloadUrl(), :class => 'external' -%> and install
                      Sonar <%= release.getVersion() -%> after having carefully read the upgrade guide.
                    <% end %>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          </tbody>
        </table>
        <div class="break30"></div>
      <% end
         end
         end %>

  <%= render :partial => 'updatecenter/status', :locals => {:action => 'system_updates'} %>
</div>
