<ul class="tabs">
  <li>
    <a href="<%= url_for :action => 'index' -%>">Installed</a>
  </li>
  <li>
    <a href="<%= url_for :action => 'updates' -%>" class="selected">Updates</a>
  </li>
  <li>
    <a href="<%= url_for :action => 'available' -%>">Available</a>
  </li>
</ul>
<div class="tabs-panel">

<%= render :partial => 'updatecenter/operations' -%>

<% if @center %>
  <table class="data width100" id="plugin-updates">
    <thead>
      <tr><th colspan="2"><h2>User-installed plugins</h2></th></tr>
    </thead>
    <tbody>
    <% if @updates_by_plugin.empty? %>
      <tr class="even">
        <td colspan="2">No updates</td>
      </tr>
    <% end %>
    <% @updates_by_plugin.keys.each do |plugin|
       updates=@updates_by_plugin[plugin]
    %>
      <tr class="<%= cycle('even','odd', :name => 'user-plugins') -%>">
        <td  width="1%" nowrap>
          <b><a href="#plugin" onclick="showPlugin('<%= plugin.getKey() -%>')"><%= h(plugin.getName()) -%></a></b>
        </td>
        <td>
          Current version: <b><%= @user_plugins[plugin.getKey()] -%></b>,
          last compatible: <b><%= @last_compatible[plugin.getKey()] -%></b>,
          latest: <b><%= updates.last.getRelease().getVersion() -%></b>
          <div id="detail-<%= plugin.getKey() -%>" style="display:none">
          <table class="spaced">
          <tbody>
            <%= render :partial => 'updatecenter/list', :locals => {:updates => updates, :plugin => true } %>
          </tbody>
          </table>
          <form method="post" action="<%= ApplicationController.root_context -%>/updatecenter/install?from=updates&key=<%= plugin.getKey() -%>&version=<%= @last_compatible[plugin.getKey()] -%>" style="display: inline-block">
            <input type="submit" value="Update to <%= @last_compatible[plugin.getKey()] -%>"></input>
          </form>
          </div>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <div class="break30"> </div>

  <table class="data width100" id="system-updates">
    <thead>
      <tr><th colspan="4"><h2>System</h2></th></tr>
    </thead>
    <tbody>
    <% if @sonar_updates.empty? %>
      <tr class="even">
        <td colspan="4" >No updates</td>
      </tr>
    <% end %>
    <%= render :partial => 'updatecenter/list', :locals => {:updates => @sonar_updates, :plugin => false } %>
    </tbody>
  </table>
  <br/>
<% end %>
<%= render :partial => 'updatecenter/status', :locals => {:action => 'updates' } %>
</div>
