<div class="little-spacer-bottom">
  {{#notEq status 'COMPATIBLE'}}
    <span class="js-plugin-changelog-version badge badge-warning spacer-right" data-toggle="tooltip"
          title="{{t 'update_center.status' status}}">{{release.version}}</span>
  {{else}}
    <span class="js-plugin-changelog-version badge badge-success spacer-right">{{release.version}}</span>
  {{/notEq}}
  <span class="js-plugin-changelog-date note spacer-right">{{d release.date}}</span>
  {{#if release.changeLogUrl}}
    <a class="js-plugin-changelog-link" href="{{release.changeLogUrl}}" target="_blank">Release Notes</a>
  {{/if}}
</div>
<div class="js-plugin-changelog-description">{{{release.description}}}</div>
