<div class="js-actions">
  {{#if version}}

    <div class="button-group">
      {{#each updates}}
        {{#eq status 'COMPATIBLE'}}
          <button class="js-update" data-verion="{{release.version}}">{{tp 'update_center.update_to_x' release.version}}</button>
        {{/eq}}
      {{/each}}
      <button class="js-uninstall button-red">{{t 'update_center.uninstall'}}</button>
    </div>

  {{else}}

    {{#if termsAndConditionsUrl}}
      <p class="little-spacer-bottom">
        <input class="js-terms" type="checkbox" name="plugin-terms" id="plugin-terms-{{key}}">
        <label for="plugin-terms-{{key}}">
          {{t 'update_center.i_accept_the'}}
          <a class="js-plugin-terms nowrap" href="{{termsAndConditionsUrl}}" target="_blank">{{t 'update_center.terms_and_conditions'}}</a>
        </label>
      </p>
      <button class="js-install" disabled>{{t 'update_center.install'}}</button>
    {{else}}
      <button class="js-install">{{t 'update_center.install'}}</button>
    {{/if}}

  {{/if}}
</div>
