<table class="width-100">
  <tr>
    <td class="text-top width-20 big-spacer-right">
      <div>
        <strong class="js-plugin-name">{{name}}</strong>
        {{#if category}}
          <a class="js-plugin-category badge spacer-left" href="#">{{category}}</a>
        {{/if}}
      </div>
      <div class="js-plugin-description little-spacer-top">{{{description}}}</div>
    </td>

    <td class="text-top big-spacer-right">
      <ul>
        {{#if version}}
          <li class="little-spacer-bottom">
            <strong class="js-plugin-installed-version">{{version}}</strong>&nbsp;installed
          </li>
        {{/if}}
        {{#notEmpty updates}}
          <li class="little-spacer-bottom spacer-top">
            <strong>Updates:</strong>
          </li>
          {{#each updates}}
            <li class="little-spacer-bottom">
              <div class="pull-left spacer-right">
                {{#notEq status 'COMPATIBLE'}}
                  <span class="js-update-version badge badge-warning" data-toggle="tooltip"
                        title="{{t 'update_center.status' status}}">{{release.version}}</span>
                {{else}}
                  <span class="js-update-version badge badge-success">{{release.version}}</span>
                {{/notEq}}
              </div>
              <div class="overflow-hidden">
                {{{release.description}}}
                <button class="button-link js-changelog issue-rule icon-ellipsis-h" data-idx="{{@index}}"></button>
              </div>
            </li>
          {{/each}}
        {{/notEmpty}}
        {{#if release}}
          <li class="little-spacer-bottom">
            <div class="pull-left spacer-right">
              <span class="badge badge-success">{{release.version}}</span>
            </div>
            <div class="overflow-hidden">
              {{{release.description}}}
              <button class="button-link js-changelog issue-rule icon-ellipsis-h" data-idx="{{@index}}"></button>
              {{#notEmpty update.requires}}
                <p class="little-spacer-top">
                  <strong>Installing this plugin will also install</strong>: {{#each update.requires}} {{name}}{{/each}}
                </p>
              {{/notEmpty}}
            </div>
          </li>
        {{/if}}
      </ul>
    </td>

    <td class="text-top width-20 big-spacer-right">
      <ul>
        {{#any homepageUrl issueTrackerUrl termsAndConditionsUrl}}
          <li class="little-spacer-bottom">
            <ul class="list-inline">
              {{#if homepageUrl}}
                <li><a class="js-plugin-homepage" href="{{homepageUrl}}" target="_blank">Homepage</a></li>
              {{/if}}
              {{#if issueTrackerUrl}}
                <li><a class="js-plugin-issues" href="{{issueTrackerUrl}}" target="_blank">Issue Tracker</a></li>
              {{/if}}
            </ul>
          </li>
        {{/any}}

        {{#if license}}
          <li class="little-spacer-bottom text-limited" title="{{license}}">
            Licensed under
            <span class="js-plugin-license">{{license}}</span>
          </li>
        {{/if}}

        {{#if organizationName}}
          <li class="little-spacer-bottom">
            Developed by
            {{#if organizationUrl}}
              <a class="js-plugin-organization" href="{{organizationUrl}}" target="_blank">{{organizationName}}</a>
            {{else}}
              <span class="js-plugin-organization">{{organizationName}}</span>
            {{/if}}
          </li>
        {{/if}}
      </ul>
    </td>

    <td class="text-top text-right width-20">
      {{#eq _status 'installing'}}
        <p class="text-success">Install Pending</p>
      {{/eq}}

      {{#eq _status 'updating'}}
        <p class="text-success">Update Pending</p>
      {{/eq}}

      {{#eq _status 'uninstalling'}}
        <p class="text-danger">Uninstall Pending</p>
      {{/eq}}

      {{#eq _status 'failed'}}
        <span class="text-danger">
          {{#each _errors}}
            {{msg}}
          {{/each}}
        </span>
      {{/eq}}

      {{#unless _status}}
        <i class="js-spinner spinner hidden"></i>
        {{> '_update-center-plugin-actions'}}
      {{/unless}}
    </td>
  </tr>
</table>
