<table width="100%">
  <tr>
    <td valign="top">
      <h1 class="marginbottom10"><%= message('manual_rules.page') -%></h1>
      <table class="data width100" id="manual-rules">
        <thead>
        <tr>
          <th>Name</th>
          <th class="right">Operations</th>
        </tr>
        </thead>
        <tbody>
        <% if @rules.empty? %>
          <tr class="even">
            <td colspan="2"><%= message('no_results') -%></td>
          </tr>
        <% end %>
        <% @rules.each do |rule| %>
          <tr class="<%= cycle('even', 'odd') -%>">
            <td class="left" nowrap>
              <%= h rule.name -%>
              &nbsp;&nbsp;
              <span class="note"><%= h rule.description -%></span>
            </td>
            <td class="right thin nowrap">
              <%= link_to 'Edit', {:action => 'edit', :id => rule.id}, {:id => "edit_#{u(rule.key)}", :class => 'link-action'} %>
              &nbsp;
              <%= link_to 'Delete', {:action => 'delete', :id => rule.id}, {:confirm => message('are_you_sure'), :id => "delete_#{u(rule.key)}", :class => 'link-action link-red', :method => 'delete'} %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </td>
    <% if is_admin? %>
      <td class="sep"></td>
      <td valign="top" align="right" width="210">
        <form action="<%= ApplicationController.root_context -%>/manual_rules/create" method="POST">
          <table class="admintable" width="100%">
            <input type="hidden" name="id" value="<%= @rule.id -%>"/>

            <tr>
              <td class="left" valign="top">
                Name:<br/><input type="text" name="name" value="<%= h @rule.name -%>"/>
                <br/>
                <span class="desc">Ex. : Performance</span>
              </td>
            </tr>
            <tr>
              <td class="left" valign="top">
                Description:<br/>
                <textarea rows="5" cols="25" name="description"><%= h(@rule.description) -%></textarea>
                <br/>
              </td>
            </tr>
            <tr>
              <td class="left" valign="top">
                <input type="submit" value="<%= @rule.id.nil? ? 'Create' : 'Update' -%>"/>
              </td>
            </tr>
          </table>
        </form>
      </td>
    <% end %>
  </tr>
</table>
