<div class="line-block">
    <% if profiles_administrator? %>
      <ul style="float: right" class="horizontal">
          <li class="marginleft10 add">
              <a id="link-create-rule" href="<%=ApplicationController.root_context-%>/manual_rules/create_form" class="open-modal link-action">Create Manual Rule</a>
          </li>
      </ul>
    <% end %>
    <h1 class="marginbottom10"><%= message('manual_rules.page') -%></h1>
</div>

<table width="100%">
  <tr>
    <td valign="top">
      <table class="data width100" id="manual-rules">
        <thead>
        <tr>
          <th>Name</th>
          <th class="right">Operations</th>
        </tr>
        </thead>
        <tbody>
        <% if @rules.empty? %>
          <tr class="even">
            <td colspan="2"><%= message('no_results') -%></td>
          </tr>
        <% end %>
        <% @rules.each do |rule| %>
          <tr class="<%= cycle('even', 'odd') -%>">
            <td class="left" nowrap>
              <%= h rule.name -%>
              &nbsp;&nbsp;
              <span class="note"><%= h rule.description -%></span>
            </td>
            <td class="right thin nowrap">
              <a id="edit-<%= u(rule.key) -%>" class="open-modal link-action" href="<%=ApplicationController.root_context-%>/manual_rules/edit_form/<%= h rule.id -%>">Edit</a>
                &nbsp;
              <%= link_to_action message('delete'), "#{ApplicationController.root_context}/manual_rules/delete/#{rule.id}",
                 :class => 'link-action link-red',
                 :id => "delete_#{rule.key.parameterize}",
                 :confirm_button => message('delete'),
                 :confirm_title => 'Delete rule: '+rule.name,
                 :confirm_msg => 'Are you sure that you want to delete the rule '+rule.name+'?',
                 :confirm_msg_params => [rule.name]
              -%>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </td>
  </tr>
</table>
