<a href="{{url}}" title="{{name}}">
  {{#if extra}}
    <span class="navbar-search-extra subtitle">{{extra}}</span>
  {{/if}}
  {{#if q}}{{qualifierIcon q}}{{/if}}
  {{#if subtitle}}
    {{title}}
    <br>
    {{#if extra}}
      <span class="navbar-search-extra subtitle">&nbsp;</span>
    {{/if}}
    <span class="subtitle">{{subtitle}}</span>
  {{else}}
    {{name}}
  {{/if}}
</a>
