{{#notNull extra}}
  {{#gt index 0}}
    <div class="divider"></div>
  {{/gt}}
  {{#if extra}}
    <div class="dropdown-header">{{extra}}</div>
  {{/if}}
{{/notNull}}

<a href="{{url}}" title="{{name}}">
  {{#if icon}}<i class="icon-{{icon}} text-text-bottom"></i>{{/if}}
  {{#if q}}{{qualifierIcon q}}{{/if}}
  {{#eq q 'FIL'}}
    {{collapsedDirFromPath name}}{{fileFromPath name}}
  {{else}}
    {{#eq q 'UTS'}}
      {{collapsedDirFromPath name}}{{fileFromPath name}}
    {{else}}
      {{name}}
    {{/eq}}
  {{/eq}}
</a>
