<div class="modal-head">
  <h2>{{t 'shortcuts.modal_title'}}</h2>
</div>

<div class="modal-body">
  <div class="shortcuts-section">
    <h3 class="shortcuts-section-title">{{t 'shortcuts.section.global'}}</h3>
    <ul class="shortcuts-list">
        <li><span class="shortcut-button">s</span> &nbsp;&nbsp; {{t 'shortcuts.section.global.search'}}</li>
        <li><span class="shortcut-button">?</span> &nbsp;&nbsp; {{t 'shortcuts.section.global.shortcuts'}}</li>
    </ul>
  </div>

  <div class="shortcuts-section">
    <h3 class="shortcuts-section-title">{{t 'shortcuts.section.issues'}}</h3>
    <ul class="shortcuts-list">
      <li><span class="shortcut-button">&uparrow;</span> <span class="shortcut-button">&darr;</span> &nbsp;&nbsp; {{t 'shortcuts.section.issues.navigate_between_issues'}}</li>
      <li><span class="shortcut-button">&rarr;</span> &nbsp;&nbsp; {{t 'shortcuts.section.issues.open_details'}}</li>
      <li><span class="shortcut-button">&larr;</span> &nbsp;&nbsp; {{t 'shortcuts.section.issues.return_to_list'}}</li>
      <li><span class="shortcut-button">f</span> &nbsp;&nbsp; {{t 'shortcuts.section.issue.do_transition'}}</li>
      <li><span class="shortcut-button">a</span> &nbsp;&nbsp; {{t 'shortcuts.section.issue.assign'}}</li>
      <li><span class="shortcut-button">m</span> &nbsp;&nbsp; {{t 'shortcuts.section.issue.assign_to_me'}}</li>
      <li><span class="shortcut-button">p</span> &nbsp;&nbsp; {{t 'shortcuts.section.issue.plan'}}</li>
      <li><span class="shortcut-button">i</span> &nbsp;&nbsp; {{t 'shortcuts.section.issue.change_severity'}}</li>
      <li><span class="shortcut-button">o</span> &nbsp;&nbsp; {{t 'shortcuts.section.issue.comment'}}</li>
      <li><span class="shortcut-button">t</span> &nbsp;&nbsp; {{t 'shortcuts.section.issue.change_tags'}}</li>
    </ul>
  </div>
</div>

<div class="modal-foot">
  <a class="js-modal-close">{{t 'close'}}</a>
</div>
