{{#notNull extra}}
  {{#gt index 0}}
    <div class="divider"></div>
  {{/gt}}
  {{#if extra}}
    <div class="dropdown-header">{{extra}}</div>
  {{/if}}
{{/notNull}}

<a href="{{url}}" title="{{name}}">
  {{#if q}}{{qualifierIcon q}}{{/if}}
  {{#if subtitle}}
    {{title}}
    <span class="subtitle">{{subtitle}}</span>
  {{else}}
    {{name}}
  {{/if}}
</a>
