<div class="container">
  {{# if canFavoriteContext}}
    <div class="navbar-context-favorite">
      <a class="js-favorite {{#if isContextFavorite}}icon-favorite{{else}}icon-not-favorite{{/if}}"></a>
    </div>
  {{/if}}
  <ul class="nav navbar-nav nav-crumbs">
    {{#each contextBreadcrumbs}}
      <li>
        <a href="{{link url}}">
          {{qualifierIcon q}}&nbsp;{{name}}
        </a>
      </li>
    {{/each}}
  </ul>

  <div class="navbar-right navbar-context-meta">
    {{#if contextVersion}}Version {{contextVersion}}{{/if}}
    {{#all contextVersion contextDate}}/{{/all}}
    {{#if contextDate}}{{dt contextDate}}{{/if}}
  </div>

  <ul class="nav navbar-nav nav-tabs">
    <li {{#isActiveLink '/dashboard/'}}class="active"{{/isActiveLink}}>
      <a href="{{dashboardUrl contextKey}}">{{t 'overview.page'}}</a>
    </li>
    <li {{#isActiveLink '/components'}}class="active"{{/isActiveLink}}>
      <a href="{{link '/components/index/' contextId }}">{{t 'components.page'}}</a>
    </li>
    <li {{#isActiveLink '/component_issues'}}class="active"{{/isActiveLink}}>
      <a href="{{link '/component_issues/index?id=' contextKey }}">{{t 'issues.page'}}</a>
    </li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{t 'more'}}&nbsp;<i class="icon-dropdown"></i></a>
      <ul class="dropdown-menu">
        <li class="dropdown-header">{{t 'layout.dashboards'}}</li>
        {{#each contextDashboards}}
          <li>
            <a href="{{link url}}">{{name}}</a>
          </li>
        {{/each}}
        {{#if canManageContextDashboards}}
          <li class="divider"></li>
          <li>
            <a href="{{link '/dashboards?resource=' contextId}}">{{t 'dashboard.manage_dashboards'}}</a>
          </li>
        {{/if}}
        <li class="divider"></li>
        <li class="dropdown-header">Tools</li>
        <li>
          <a href="{{link '/design/index/' contextId }}">{{t 'design.page'}}</a>
        </li>
        <li>
          <a href="{{link '/libraries/index/' contextId }}">{{t 'libraries.page'}}</a>
        </li>
        {{#if contextComparable}}
          <li>
            <a href="{{link '/comparison/index?resource=' contextKey}}">{{t 'comparison.page'}}</a>
          </li>
        {{/if}}
        {{#if contextConfiguration}}
          <li class="divider"></li>
          <li class="dropdown-header">Configuration</li>
          {{#each contextConfiguration}}
            <li>
              <a href="{{link url}}">{{name}}</a>
            </li>
          {{/each}}
        {{/if}}
      </ul>
    </li>
  </ul>
</div>
