<div class="line line-small">
  {{severityIcon severity}}{{translate "severities" severity}}&nbsp;
  {{statusIcon status}}{{translate "statuses" status}}
  {{#if resolution}}({{translate "resolutions" resolution}}){{/if}}

  <div class="line-right">
    {{fUpdateAge}}
  </div>
</div>

<div class="line line-nowrap" title="{{message}}">
  {{message}}
</div>

<div class="line">
  {{#unless singleProject}}
    <div class="subtitle line-nowrap">{{default projectLongName projectName}}</div>
  {{/unless}}
  <div class="subtitle line-nowrap">{{componentLongName}}</div>
</div>
