<h1>Default dashboards</h1>
<p class="marginbottom10">These dashboards are displayed to anonymous users or users who have not customized their dashboards.</p>

<table class="data" id="admin_console">
  <thead>
  <tr>
    <th>Name</th>
    <th>Shared by</th>
    <th>Order</th>
    <th class="right">Operations</th>
  </tr>
  </thead>
  <tbody>
  <% if @actives.empty? %>
    <tr class="even">
      <td colspan="5">No results.</td>
    </tr>
  <% else %>
    <% @actives.each_with_index do |active, index| %>
      <tr id="active-<%= u active.name -%>" class="<%= cycle('even', 'odd', :name => 'actives') -%>">
        <td>
          <%= h(active.name(true)) %>
          <br>
          <span style="font-size: 85%;font-weight: normal;"><%= active.dashboard.description %></span>
        </td>
        <td><%= h(active.dashboard.user.name) if active.dashboard.user %></td>
        <td>
          <% if index>0 %>
            <%= link_to image_tag('blue-up.png'), {:action => :up, :id => active.id}, :method => :post, :id => "up-#{u active.name}" %>
          <% else %>
            <%= image_tag('transparent_16.gif') %>
          <% end %>
          <% if index<@actives.size-1 %>
            <%= link_to image_tag('blue-down.png'), {:action => :down, :id => active.id}, :method => :post, :id => "down-#{u active.name}" %>
          <% end %>
        </td>
        <td class="thin nowrap right">
          <%= link_to 'Remove from defaults', {:action => 'remove', :id => active.id}, {:confirm => 'Are you sure to remove it from default dashboards ?', :method => :post, :id => "remove-#{u active.name}", :class => 'link-action'} %>
        </td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>

<br/><br/>
<h1>Shared dashboards</h1>
<p class="marginbottom10">These dashboards can be added to default dashboards.</p>

<table class="data" id="shared">
  <thead>
  <tr>
    <th>Name</th>
    <th>Shared by</th>
    <th colspan="2" class="right">Operations</th>
  </tr>
  </thead>
  <tbody>
  <% if @default_dashboards.nil? || @default_dashboards.empty? %>
    <tr class="even">
      <td colspan="4">No results.</td>
    </tr>
  <% else %>
    <% @default_dashboards.each do |dashboard| %>
      <tr class="<%= cycle('even', 'odd') -%>">
        <td>
          <%= h(dashboard.name(true)) -%>
          <br>
          <span class="small"><%= dashboard.description %></span>
        </td>
        <td><%= h(dashboard.user.name) if dashboard.user %></td>
        <td class="thin nowrap right">
          <%= link_to 'Add to defaults', {:action => 'add', :id => dashboard.id}, {:method => :post, :id => "add-#{u dashboard.name}", :class => 'link-action'} %>
        </td>
        <td class="thin nowrap right">
          <% if dashboard.provided_programmatically? %>
            <%= link_to 'Delete', {:action => 'delete', :id => dashboard.id}, {:confirm => "Do you want to delete the dashboard #{dashboard.name(true)}?", :method => :post, :id => "delete-#{u dashboard.name}", :class => 'link-action'} %>
          <% end %>
        </td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>

