<h1 class="marginbottom10"><%= message 'global_permissions.page' -%></h1>

<table class="data width100" id="global-roles">
  <thead>
  <tr >
    <th><%= message('global_permissions.permission') -%></th>
    <th width="30%"><%= message('global_permissions.users') -%></th>
    <th width="30%"><%= message('global_permissions.groups') -%></th>
  </tr>
  </thead>
  <tbody>
    <% ['admin', 'profileadmin', 'shareDashboard', 'scan', 'dryRunScan'].each do |global_permission| %>
    <tr class="<%= cycle('even', 'odd', :name => 'global_permission') -%>" >
      <td valign="top">
        <b><%= message('global_permissions.' + global_permission) -%></b><br/>
        <span class="small gray"><%= message('global_permissions.' + global_permission + '.desc') -%></span></td>
      <td valign="top" style="word-break:break-all;width:30%;">
        <span><%= users(global_permission).map(&:name).join(', ') -%></span>
        (<%= link_to "select", {:action => 'edit_users', :role => global_permission, :redirect => 'global'}, :class => 'link-action', :id => "select-users-#{global_permission}" -%>)
      </td>
      <td valign="top" style="word-break:break-all;width:30%;">
        <span><%= groups(global_permission).map{|g| group_name(g)}.join(', ') %></span>
        (<%= link_to "select", {:action => 'edit_groups', :role => global_permission, :redirect => 'global'}, :class => 'link-action', :id => "select-groups-#{global_permission}" -%>)
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
