<h1 class="marginbottom10"><%= message 'global_permissions.page' -%></h1>

<table class="data width100" id="global-roles">
  <thead>
  <tr >
    <th><%= message('global_permissions.permission') -%></th>
    <th width="30%"><%= message('global_permissions.users') -%></th>
    <th width="30%"><%= message('global_permissions.groups') -%></th>
  </tr>
  </thead>
  <tbody>
    <% Java::OrgSonarCorePermission::Permission::allGlobal.keySet.each do |global_permission_key| %>
    <tr class="<%= cycle('even', 'odd', :name => 'global_permission') -%>" >
      <td valign="top">
        <b><%= message("global_permissions.#{global_permission_key}") -%></b><br/>
        <span class="small gray"><%= message("global_permissions.#{global_permission_key}.desc") -%></span></td>
      <td valign="top" style="word-break:break-all;width:30%;">
        <span><%= users(global_permission_key).map(&:name).join(', ') -%></span>
        (<%= link_to_edit_roles_permission_form(message('select'), global_permission_key, nil, "select-users-#{global_permission_key}") %>)<br/>
      </td>
      <td valign="top" style="word-break:break-all;width:30%;">
        <span><%= groups(global_permission_key).map{|g| group_name(g)}.join(', ') %></span>
        (<%= link_to_edit_groups_permission_form(message('select'), global_permission_key, nil, "select-groups-#{global_permission_key}") %>)<br/>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
