<h1 class="marginbottom10">Default roles for new <%= @qualifiers.map { |q| message("qualifiers.#{q}") }.join(', ') -%></h1>

<table class="data width100" id="default-project-roles">
  <thead>
  <tr>
    <th>Role</th>
    <th width="35%">Users</th>
    <th width="35%">Groups</th>
  </tr>
  </thead>
  <tbody>
  <tr class="even">
    <td valign="top"><b>Administrators</b><br/><span class="small gray">Ability to perform administration functions for a project by accessing its settings.</span></td>
    <td valign="top" style="word-break:break-all;width:35%;">
      <div style="vertical-align:top">
        <span><%= users('default-admin').map(&:login).join(', ') %></span>
        (<%= link_to "select", {:action => 'edit_users', :role => 'default-admin', :redirect => 'projects'}, :class => 'link-action' %>)
      </div>
    </td>
    <td valign="top" style="word-break:break-all;width:35%;">
      <span><%= groups('default-admin').map { |g| group_name(g) }.join(', ') %></span>
      (<%= link_to "select", {:action => 'edit_groups', :role => 'default-admin', :redirect => 'projects'}, :class => 'link-action' %>)
    </td>
  </tr>
  <tr class="odd">
    <td valign="top"><b>Users</b><br/><span class="small gray">Ability to navigate through every service of a project, except viewing source code and settings.</span></td>
    <td valign="top" style="word-break:break-all;width:35%;">
      <span><%= users('default-user').map(&:login).join(', ') %></span>
      (<%= link_to "select", {:action => 'edit_users', :role => 'default-user', :redirect => 'projects'}, :class => 'link-action' %>)
    </td>
    <td valign="top" style="word-break:break-all;width:35%;">
      <span><%= groups('default-user').map { |g| group_name(g) }.join(', ') %></span>
      (<%= link_to "select", {:action => 'edit_groups', :role => 'default-user', :redirect => 'projects'}, :class => 'link-action' %>)
    </td>
  </tr>
  <tr class="even">
    <td valign="top"><b>Code viewers</b><br/><span class="small gray">Ability to view source code of a project.</span></td>
    <td valign="top" style="word-break:break-all;width:35%;">
      <span><%= users('default-codeviewer').map(&:login).join(', ') %></span>
      (<%= link_to "select", {:action => 'edit_users', :role => 'default-codeviewer', :redirect => 'projects'}, :class => 'link-action' %>)
    </td>
    <td valign="top" style="word-break:break-all;width:35%;">
      <span><%= groups('default-codeviewer').map { |g| group_name(g) }.join(', ') %></span>
      (<%= link_to "select", {:action => 'edit_groups', :role => 'default-codeviewer', :redirect => 'projects'}, :class => 'link-action' %>)
    </td>
  </tr>
  </tbody>
</table>
<br/><br/>

<% if @qualifiers.size>1 %>

<ul class="tabs" id="qualifier-tabs">
  <% @qualifiers.each do |q|
      css_class = (q==@qualifier ? 'selected' : '')
  %>
    <li>
      <%= link_to message("qualifiers.#{q}"), {:action => 'projects', :qualifier => q}, {:class => css_class} -%>
    </li>
  <% end %>
</ul>
<% else %>
  <h1 class="spacer-bottom"><%= message("qualifiers.#{@qualifiers[0]}") -%></h1>
<% end %>

<div class="<%= @qualifiers.size>1 ? 'tabs-panel' : '' -%>">

  <table class="data width100" id="projects">
    <thead>
    <tr>
      <th>
        <form action="<%= url_for :action => 'projects', :qualifier => @qualifier -%>" method="GET">
          <input type="hidden" name="qualifier" value="<%= @qualifier -%>" />
          <input type="text" name="q" value="<%= params[:q] -%>" id="search_text"/>
          <input type="submit" value="Search" id="search_submit"/>
        </form>
      </th>
      <th>Role: Administrators</th>
      <th>Role: Users</th>
      <th>Role: Code viewers</th>
    </tr>
    </thead>

    <%= render :partial => 'utils/tfoot_pagination', :locals => {:pagination => @pagination, :colspan => 4} %>

    <tbody>
    <% if @projects.empty? %>
      <tr class="even">
        <td colspan="4" align="left"><%= message('no_results') %></td>
      </tr>
    <% end

       @projects.each do |project|
 %>
        <tr class="<%= cycle('even', 'odd') -%>">
          <td valign="top"><b><%= h project.name %></b><br/>
            <span class="small gray"><%= project.key -%></span>
          </td>
          <td valign="top">
            <%
               users=project.user_roles.select { |ur| ur.role=='admin' }.map { |ur| ur.user.login }
               groups=project.group_roles.select { |gr| gr.role=='admin' }.map { |gr| group_name(gr.group) }
            %>
            <%= users.join(', ') %>
            (<a href="<%= ApplicationController.root_context -%>/roles/edit_users?redirect=projects&role=admin&resource=<%= project.id -%>&q=<%= u params[:q] -%>&qualifier=<%= @qualifier -%>&page=<%= params[:page] -%>" class="link-action">select users</a>)<br/>
            <%= groups.join(', ') %>
            (<a href="<%= ApplicationController.root_context -%>/roles/edit_groups?redirect=projects&role=admin&resource=<%= project.id -%>&q=<%= u params[:q] -%>&qualifier=<%= @qualifier -%>&page=<%= params[:page] -%>" class="link-action">select groups</a>)
          </td>
          <td valign="top">
            <%
               users=project.user_roles.select { |ur| ur.role=='user' }.map { |ur| ur.user.login }
               groups=project.group_roles.select { |gr| gr.role=='user' }.map { |gr| group_name(gr.group) }
            %>
            <%= users.join(', ') %>
            (<a href="<%= ApplicationController.root_context -%>/roles/edit_users?redirect=projects&role=user&resource=<%= project.id -%>&q=<%= u params[:q] -%>&qualifier=<%= @qualifier -%>&page=<%= params[:page] -%>" class="link-action">select users</a>)<br/>
            <%= groups.join(', ') %>
            (<a href="<%= ApplicationController.root_context -%>/roles/edit_groups?redirect=projects&role=user&resource=<%= project.id -%>&q=<%= u params[:q] -%>&qualifier=<%= @qualifier -%>&page=<%= params[:page] -%>" class="link-action">select groups</a>)
          </td>
          <td valign="top">
            <%
               users=project.user_roles.select { |ur| ur.role=='codeviewer' }.map { |ur| ur.user.login }
               groups=project.group_roles.select { |gr| gr.role=='codeviewer' }.map { |gr| group_name(gr.group) }
            %>
            <%= users.join(', ') %>
            (<a href="<%= ApplicationController.root_context -%>/roles/edit_users?redirect=projects&role=codeviewer&resource=<%= project.id -%>&q=<%= u params[:q] -%>&qualifier=<%= @qualifier -%>&page=<%= params[:page] -%>" class="link-action">select users</a>)<br/>
            <%= groups.join(', ') %>
            (<a href="<%= ApplicationController.root_context -%>/roles/edit_groups?redirect=projects&role=codeviewer&resource=<%= project.id -%>&q=<%= u params[:q] -%>&qualifier=<%= @qualifier -%>&page=<%= params[:page] -%>" class="link-action">select groups</a>)
          </td>
        </tr>
      <%
         end %>
    </tbody>
  </table>
</div>
<script>
  $('search_text').focus();
</script>