<h1 class="marginbottom10"><%= message('roles.page') -%></h1>

<% if @qualifiers.size>1 %>
  <ul class="tabs" id="qualifier-tabs">
    <% @qualifiers.each do |q|
      css_class = (q==@qualifier ? 'selected' : '')
    %>
      <li>
        <%= link_to message("qualifiers.#{q}"), {:action => 'projects', :qualifier => q}, {:class => css_class, :id => "tab-#{u q}"} -%>
      </li>
    <% end %>
  </ul>
  <div class="tabs-panel">
<% end %>

<table class="data width100" id="default-project-roles">
  <thead>
  <tr>
    <th><%= message('projects_role.role') -%> <%= message("qualifiers.#{@qualifier}") -%></th>
    <th width="35%"><%= message('global_role.users') -%></th>
    <th width="35%"><%= message('global_role.groups') -%></th>
  </tr>
  </thead>
  <tbody>

  <tr class="even">
    <td valign="top"><b><%= message('projects_role.admin') -%></b><br/><span class="small gray"><%= message('projects_role.admin.desc') -%></span>
    </td>
    <td valign="top" style="word-break:break-all;width:35%;">
      <div style="vertical-align:top">
        <span id="u-admin"><%= default_project_users('admin', @qualifier).map{|u| h u.name}.join(', ') -%></span>
        (<%= link_to "select", {:action => 'edit_default_project_users', :role => 'admin', :redirect => 'projects', :qualifier => @qualifier}, :class => 'link-action', :id => 'selectu-admin' -%>)
      </div>
    </td>
    <td valign="top" style="word-break:break-all;width:35%;">
      <span id="g-admin"><%= default_project_group_names('admin', @qualifier).join(', ') -%></span>
      (<%= link_to "select", {:action => 'edit_default_project_groups', :role => 'admin', :redirect => 'projects', :qualifier => @qualifier}, :class => 'link-action', :id => 'selectg-admin' -%>)
    </td>
  </tr>
  <tr class="odd">
    <td valign="top"><b><%= message('projects_role.user') -%></b><br/><span class="small gray"><%= message('projects_role.user.desc') -%></span>
    </td>
    <td valign="top" style="word-break:break-all;width:35%;">
      <span id="u-user"><%= default_project_users('user', @qualifier).map{|u| h u.name}.join(', ') -%></span>
      (<%= link_to "select", {:action => 'edit_default_project_users', :role => 'user', :redirect => 'projects', :qualifier => @qualifier}, :class => 'link-action', :id => 'selectu-user' -%>)
    </td>
    <td valign="top" style="word-break:break-all;width:35%;">
      <span id="g-user"><%= default_project_group_names('user', @qualifier).join(', ') -%></span>
      (<%= link_to "select", {:action => 'edit_default_project_groups', :role => 'user', :redirect => 'projects', :qualifier => @qualifier}, :class => 'link-action', :id => 'selectg-user' -%>)
    </td>
  </tr>
  <tr class="even">
    <td valign="top">
      <b><%= message('projects_role.codeviewer') -%></b><br/><span class="small gray"><%= message('projects_role.codeviewer.desc') -%></span></td>
    <td valign="top" style="word-break:break-all;width:35%;">
      <span id="u-codeviewer"><%= default_project_users('codeviewer', @qualifier).map{|u| h u.name}.join(', ') -%></span>
      (<%= link_to "select", {:action => 'edit_default_project_users', :role => 'codeviewer', :redirect => 'projects', :qualifier => @qualifier}, :class => 'link-action', :id => 'selectu-codeviewer' -%>)
    </td>
    <td valign="top" style="word-break:break-all;width:35%;">
      <span id="g-codeviewer"><%= default_project_group_names('codeviewer', @qualifier).join(', ') -%></span>
      (<%= link_to "select", {:action => 'edit_default_project_groups', :role => 'codeviewer', :redirect => 'projects', :qualifier => @qualifier}, :class => 'link-action', :id => 'selectg-codeviewer' -%>)
    </td>
  </tr>
  </tbody>
</table>


<br/><br/>

<table class="data width100" id="projects">
  <thead>
  <tr>
    <th>
      <form action="<%= url_for :action => 'projects', :qualifier => @qualifier -%>" method="GET">
        <input type="hidden" name="qualifier" value="<%= @qualifier -%>"/>
        <input type="text" name="q" value="<%= params[:q] -%>" id="search_text"/>
        <input type="submit" value="<%= message('search_verb') -%>" id="search_submit"/>
      </form>
    </th>
    <th><%= message('projects_role.admin') -%></th>
    <th><%= message('projects_role.user') -%></th>
    <th><%= message('projects_role.codeviewer') -%></th>
  </tr>
  </thead>

  <%= table_pagination(@pagination, :colspan => 4) { |label, page_id| link_to(label, params.merge({:page => page_id}))} -%>

  <tbody>
  <% if @projects.empty? %>
    <tr class="even">
      <td colspan="4" align="left"><%= message('no_results') %></td>
    </tr>
  <% end

     @projects.each do |project|
  %>
    <tr class="<%= cycle('even', 'odd') -%>">
      <td valign="top"><b><%= h project.name %></b><br/>
        <span class="small gray"><%= h project.key -%></span>
      </td>
      <td valign="top">
        <%
           users=Api::Utils.insensitive_sort(project.user_roles.select { |ur| ur.role=='admin' }.map { |ur| ur.user.name })
           groups=Api::Utils.insensitive_sort(project.group_roles.select { |gr| gr.role=='admin' }.map { |gr| group_name(gr.group) })
        %>
        <span id="u-admin-<%= u project.kee -%>"><%= users.join(', ') %></span>
        (<a href="<%= ApplicationController.root_context -%>/roles/edit_users?redirect=projects&role=admin&resource=<%= project.id -%>&q=<%= u params[:q] -%>&qualifier=<%= @qualifier -%>&page=<%= params[:page] -%>" class="link-action" id="selectu-admin-<%= u project.kee -%>">select users</a>)<br/>
        <span id="g-admin-<%= u project.kee -%>"><%= groups.join(', ') %></span>
        (<a href="<%= ApplicationController.root_context -%>/roles/edit_groups?redirect=projects&role=admin&resource=<%= project.id -%>&q=<%= u params[:q] -%>&qualifier=<%= @qualifier -%>&page=<%= params[:page] -%>" class="link-action" id="selectg-admin-<%= u project.kee -%>">select groups</a>)
      </td>
      <td valign="top">
        <%
           users=Api::Utils.insensitive_sort(project.user_roles.select { |ur| ur.role=='user' }.map { |ur| ur.user.name })
           groups=Api::Utils.insensitive_sort(project.group_roles.select { |gr| gr.role=='user' }.map { |gr| group_name(gr.group) })
        %>
        <span id="u-user-<%= u project.kee -%>"><%= users.join(', ') %></span>
        (<a href="<%= ApplicationController.root_context -%>/roles/edit_users?redirect=projects&role=user&resource=<%= project.id -%>&q=<%= u params[:q] -%>&qualifier=<%= @qualifier -%>&page=<%= params[:page] -%>" class="link-action" id="selectu-user-<%= u project.kee -%>">select users</a>)<br/>
        <span id="g-user-<%= u project.kee -%>"><%= groups.join(', ') %></span>
        (<a href="<%= ApplicationController.root_context -%>/roles/edit_groups?redirect=projects&role=user&resource=<%= project.id -%>&q=<%= u params[:q] -%>&qualifier=<%= @qualifier -%>&page=<%= params[:page] -%>" class="link-action" id="selectg-user-<%= u project.kee -%>">select groups</a>)
      </td>
      <td valign="top">
        <%
           users=Api::Utils.insensitive_sort(project.user_roles.select { |ur| ur.role=='codeviewer' }.map { |ur| ur.user.name })
           groups=Api::Utils.insensitive_sort(project.group_roles.select { |gr| gr.role=='codeviewer' }.map { |gr| group_name(gr.group) })
        %>
        <span id="u-codeviewer-<%= u project.kee -%>"><%= users.join(', ') %></span>
        (<a href="<%= ApplicationController.root_context -%>/roles/edit_users?redirect=projects&role=codeviewer&resource=<%= project.id -%>&q=<%= u params[:q] -%>&qualifier=<%= @qualifier -%>&page=<%= params[:page] -%>" class="link-action" id="selectu-codeviewer-<%= u project.kee -%>">select users</a>)<br/>
        <span id="g-codeviewer-<%= u project.kee -%>"><%= groups.join(', ') %></span>
        (<a href="<%= ApplicationController.root_context -%>/roles/edit_groups?redirect=projects&role=codeviewer&resource=<%= project.id -%>&q=<%= u params[:q] -%>&qualifier=<%= @qualifier -%>&page=<%= params[:page] -%>" class="link-action" id="selectg-codeviewer-<%= u project.kee -%>">select groups</a>)
      </td>
    </tr>
  <%
     end %>
  </tbody>
</table>

<% if @qualifiers.size>1 %></div><% end %>

<script>
  $('search_text').focus();
</script>