<%= render :partial => 'roles/tabs', :locals => {:selected_tab=>'Projects'} %>

<div class="tabs-panel marginbottom10 background-gray">
  <% form_tag({:action => 'projects'}, {:id => 'project-search-form', :method => 'get'}) do %>
    <div class="table">
      <div class="project-search top">
        <span class="note"><%= message('projects_role.criteria.name') -%></span><br/>
        <% selected_name = @query_result.query.names.to_a.first if @query_result.query.names && @query_result.query.names.size == 1 %>
        <%= text_field_tag 'names', selected_name, :id => 'search-text' %>
      </div>
      <div class="project-search top">
        <span class="note"><%= message('projects_role.criteria.key') -%></span><br/>
        <% selected_key = @query_result.query.keys.to_a.first if @query_result.query.keys && @query_result.query.keys.size == 1 %>
        <%= text_field_tag 'keys', selected_key, :id => 'search-text' %>
      </div>
      <div class="project-search top">
        <span class="note"><%= message('type') -%></span><br/>
        <% selected_qualifier = @query_result.query.qualifiers.to_a.first if @query_result.query.qualifiers && @query_result.query.qualifiers.size == 1 %>
        <%= dropdown_tag 'qualifiers', options_for_select(@available_qualifiers, selected_qualifier), {
            :width => '150px'
        }, {:id => 'search-qualifier'} -%>
      </div>
      <div class="project-search">
        <br/>
        <%= submit_tag message('search_verb'), :id => 'submit-search', :onclick => 'submitSearch();' %>
      </div>
    </div>
  <% end %>
</div>

<div id="project-roles-operations" style="float: right;">
  <ul class="operations">
    <li class="last">
      <%= link_to message('projects_role.bulk_change'), {:action => :apply_template_form, :projects => @projects.collect {|proj| proj.id}, :qualifier => @qualifier},
                   :id => 'apply-template-modal', :class => 'open-modal link-action' %>
    </li>
  </ul>
</div>

<table class="data width100" id="projects">
  <thead>
  <tr>
    <th>&nbsp;</th>
    <th><%= message('projects_role.admin') -%></th>
    <th><%= message('projects_role.user') -%></th>
    <th><%= message('projects_role.codeviewer') -%></th>
  </tr>
  </thead>

  <%= paginate_java(@query_result.paging, :colspan => 4, :id => 'project-roles-foot', :include_loading_icon => true) { |label, page_id|
      link_to(label, params.merge({:pageIndex => page_id}))
    }
  %>

  <tbody>
  <% if @projects.empty? %>
    <tr class="even">
      <td colspan="4" align="left"><%= message('no_results') %></td>
    </tr>
  <% end

     @projects.each do |project|
  %>
    <tr class="<%= cycle('even', 'odd') -%>">
      <td valign="top"><b><%= h project.name %></b><br/>
        <span class="small gray"><%= h project.key -%></span>
      </td>
      <td valign="top">
        <%
           users=Api::Utils.insensitive_sort(project.user_roles.select { |ur| ur.role=='admin' }.map { |ur| ur.user.name })
           groups=Api::Utils.insensitive_sort(project.group_roles.select { |gr| gr.role=='admin' }.map { |gr| group_name(gr.group) })
        %>
        <span id="u-admin-<%= u project.kee -%>"><%= users.join(', ') %></span>
        (<%= link_to message('select users'), {:action => :edit_users, :role => 'admin', :resource => project.id},
                     :id => "selectu-admin-#{u project.kee}", :class => 'open-modal link-action', 'modal-width' => '760px' %>)<br/>
        <span id="g-admin-<%= u project.kee -%>"><%= groups.join(', ') %></span>
        (<%= link_to message('select groups'), {:action => :edit_groups, :role => 'admin', :resource => project.id},
                     :id => "selectg-admin-#{u project.kee}", :class => 'open-modal link-action', 'modal-width' => '760px' %>)<br/>
      </td>
      <td valign="top">
        <%
           users=Api::Utils.insensitive_sort(project.user_roles.select { |ur| ur.role=='user' }.map { |ur| ur.user.name })
           groups=Api::Utils.insensitive_sort(project.group_roles.select { |gr| gr.role=='user' }.map { |gr| group_name(gr.group) })
        %>
        <span id="u-user-<%= u project.kee -%>"><%= users.join(', ') %></span>
        (<%= link_to message('select users'), {:action => :edit_users, :role => 'user', :resource => project.id},
                     :id => "selectu-user-#{u project.kee}", :class => 'open-modal link-action', 'modal-width' => '760px' %>)<br/>
        <span id="g-user-<%= u project.kee -%>"><%= groups.join(', ') %></span>
        (<%= link_to message('select groups'), {:action => :edit_groups, :role => 'user', :resource => project.id},
                     :id => "selectg-user-#{u project.kee}", :class => 'open-modal link-action', 'modal-width' => '760px' %>)<br/>
      </td>
      <td valign="top">
        <%
           users=Api::Utils.insensitive_sort(project.user_roles.select { |ur| ur.role=='codeviewer' }.map { |ur| ur.user.name })
           groups=Api::Utils.insensitive_sort(project.group_roles.select { |gr| gr.role=='codeviewer' }.map { |gr| group_name(gr.group) })
        %>
        <span id="u-codeviewer-<%= u project.kee -%>"><%= users.join(', ') %></span>
        (<%= link_to message('select users'), {:action => :edit_users, :role => 'codeviewer', :resource => project.id},
                     :id => "selectu-codeviewer-#{u project.kee}", :class => 'open-modal link-action', 'modal-width' => '760px' %>)<br/>
        <span id="g-codeviewer-<%= u project.kee -%>"><%= groups.join(', ') %></span>
        (<%= link_to message('select groups'), {:action => :edit_groups, :role => 'codeviewer', :resource => project.id},
                     :id => "selectg-codeviewer-#{u project.kee}", :class => 'open-modal link-action', 'modal-width' => '760px' %>)<br/>
      </td>
    </tr>
  <%
     end %>
  </tbody>
</table>


<script>
  function submitSearch() {
    $j("#project-search-form").submit();
  }

  $j('#search-text').focus();
</script>