<style type="text/css">
  table#lcom4blocks {
    width: 100%;
  }

  table#lcom4blocks td {
    vertical-align: top;
  }

  table#lcom4blocks td.lcom4BlockIndex {
    font-size: 130%;
    padding-top: 10px;
    text-align: center;
    width: 2em;
  }

  table.lcom4block {
    background-color: #EFEFEF;
    border: 1px solid #DDD;
    border-right: none;
    width: 100%;
    margin-top: 10px;
  }

  table.lcom4block td {
    height: 22px;
    line-height: 22px;
    vertical-align: middle;
  }

  table.lcom4block td img {
    vertical-align: middle;
  }

  table.lcom4block td.lcom4Qualifier {
    width: 20px;
  }
</style>

<%
   lcom4 = measure('lcom4')
   lcom4_blocks = measure('lcom4_blocks')
%>
<div class="tab_header" id="source_header">
  <p>
    <span><%= Metric.by_key('lcom4').description -%>: </span>
    <span id="m_lcom4" class="big"><%= lcom4 ? number_with_precision(lcom4.value(), :precision => 0) : '-' -%></span>
  </p>
</div>

<%
   if lcom4_blocks && lcom4_blocks.data
%>
  <table id="lcom4blocks">
    <tbody>
    <%
       blocks = JSON(lcom4_blocks.data)
       blocks.each_with_index do |block, index|
    %>
      <tr id="lcom4block_<%= index+1 -%>">
        <td class="lcom4BlockIndex">
          <%= index+1 -%>
        </td>
        <td>
          <table cellspacing="0" cellpadding="0" class="lcom4block">
            <tbody>
            <% block.each do |hash| %>
              <tr id="">
                <td align="left" class="lcom4Qualifier">
                  <%= image_tag "q/#{hash['q']}.png" -%>
                </td>
                <td><%= hash['n'] -%></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </td>
      </tr>
    <%
       end
    %>
    </tbody>
  </table>
<%
   end
%>