<%
  containerId = 'issue-tag-cloud' + widget.id.to_s
  maxItems = widget_properties['maxItems'].to_i

  if has_role?(:user, @project) && !Internal.issues.listTagsForComponent(@project.uuid, maxItems).isEmpty()
    search_options = {
      'resolved' => 'false'
    }
    if @project
      search_options['componentUuids'] = @project.uuid
    end
    if @dashboard_configuration.selected_period?
      search_options['createdAfter'] = @snapshot.period_datetime(@dashboard_configuration.period_index).strftime('%FT%T%z')
    end

    title = message('widget.issue_tag_cloud.title')
%>

<div class="histogram-widget" id="<%= containerId %>">
  <!--[if lte IE 8 ]> <h3><%= message('widget.unsupported_browser_warning') -%></h3> <![endif]-->

  <!--[if (gte IE 9)|!(IE)]><!-->
  <h3 style="margin-bottom: 5px;"><%= title -%></h3>
  <!--<![endif]-->

</div>

<!--[if (gte IE 9)|!(IE)]><!-->
<script>
  (function () {
    var createdAfter = '';
    <% if @dashboard_configuration.selected_period? -%>
    createdAfter = moment('<%= search_options['createdAfter'] -%>').format('YYYY-MM-DD');
    <% end -%>

    var queryParams = [
          'componentUuid=<%= @project.uuid() -%>',
          'ps=<%= maxItems -%>',
          'createdAfter=' + createdAfter
        ],
        query = queryParams.join('&'),
        widget = new SonarWidgets.Widget();

    widget
      .type('TagCloud')
      .source(baseUrl + '/api/issues/component_tags?' + query)
      .options({
        maxItemsReachedMessage: '<%= message("widget.measure_filter_histogram.max_items_reached", :params => [maxItems]) -%>',
        baseUrl: baseUrl + '/component_issues/index?id=<%= @project.key -%>#resolved=false',
        noData: '<%= message('no_data') -%>',
        createdAfter: createdAfter
      })
      .render('#<%= containerId -%>');

    autoResize(500, function() {
      widget.update('#<%= containerId -%>');
    });
  })();
</script>
<!--<![endif]-->
<% end %>
