<%
   issues = @snapshot.measure('violations')
   blocker_issues = @snapshot.measure('blocker_violations')
   critical_issues = @snapshot.measure('critical_violations')
   major_issues = @snapshot.measure('major_violations')
   minor_issues = @snapshot.measure('minor_violations')
   info_issues = @snapshot.measure('info_violations')

   new_issues = @snapshot.measure('new_violations')
   new_blocker_issues = @snapshot.measure('new_blocker_violations')
   new_critical_issues = @snapshot.measure('new_critical_violations')
   new_major_issues = @snapshot.measure('new_major_violations')
   new_minor_issues = @snapshot.measure('new_minor_violations')
   new_info_issues = @snapshot.measure('new_info_violations')

   technical_debt = @snapshot.measure('sqale_index')
   new_technical_debt = @snapshot.measure('new_technical_debt')

   if @dashboard_configuration.selected_period?
     period_date = @snapshot.period_datetime(@dashboard_configuration.period_index).strftime('%FT%T%z')
   end

   tooltip = message('widget.as_calculated_on_x', :params => l(@snapshot.created_at))
%>

<div class="widget-row">

  <% if technical_debt %>
    <div class="widget-span widget-span-3">
      <div class="widget-measure-container">
        <div class="widget-measure widget-measure-main">
          <span class="widget-label"><%= message('metric.sqale_index.short_name') -%></span>
          <a href="<%= url_for_drilldown('sqale_index') -%>" class="widget-link link-<%= widget.key %>-debt"
             title="<%= tooltip -%>" data-toggle="tooltip" data-placement="bottom">
            <%= format_measure(technical_debt) -%>
          </a>
          <%= format_variation(technical_debt) if dashboard_configuration.selected_period? -%>
        </div>
        <div class="widget-measure-delta">
          <%
             if @dashboard_configuration.selected_period?
               technical_debt_variation = variation_value(technical_debt)
               new_technical_debt_variation = variation_value(new_technical_debt)
               estimated_cleared_technical_debt = (new_technical_debt_variation - technical_debt_variation).to_i if technical_debt_variation && new_technical_debt_variation
          %>
            <% if new_technical_debt_variation && new_technical_debt_variation > 0 %>
              <p class="small">
                <%= message('widget.rules.added') %>
                <a href="<%= url_for_drilldown('new_technical_debt', :period => @dashboard_configuration.period_index) -%>"
                   class="varw widget-link widget-link-red link-<%= widget.key %>-new-debt"
                   title="<%= tooltip -%>" data-toggle="tooltip" data-placement="bottom">+<%= format_variation(new_technical_debt, :style => 'none', :default => '-') -%></a>
              </p>
            <% end %>
            <% if estimated_cleared_technical_debt && estimated_cleared_technical_debt > 0 %>
              <p class="small">
                <%= message('widget.rules.removed') %>
                <span class="varb">-<%= Internal.i18n.formatLongDuration(estimated_cleared_technical_debt, 'SHORT') -%></span>
              </p>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="widget-span widget-span-3">
    <div class="widget-measure-container">
      <div class="widget-measure widget-measure-main">
        <span class="widget-label"><%= message('widget.rules.issues') -%></span>
        <span class="nowrap">
          <span class="link-<%= widget.key %>-issues">
            <a href="<%= "#{url_for(:controller => 'component_issues', :action => 'index')}?id=#{url_encode(@project.key)}" -%>" class="widget-link link-<%= widget.key %>-debt"
               title="<%= tooltip -%>" data-toggle="tooltip" data-placement="bottom">
              <%= format_measure(issues) -%>
            </a>
          </span>
          <%= format_variation(issues) if dashboard_configuration.selected_period? -%>
        </span>
      </div>
      <div class="widget-measure-delta">
        <%
           if @dashboard_configuration.selected_period?
             issues_variation = variation_value(issues)
             new_issues_variation = variation_value(new_issues)
             estimated_cleared_issues = (new_issues_variation - issues_variation).to_i if issues_variation && new_issues_variation
        %>
          <% if new_issues_variation && new_issues_variation > 0 %>
            <p class="small">
              <%= message('widget.rules.added') %>
              <a href="<%= url_for(:controller => 'component_issues', :action => 'index') -%>?id=<%= url_encode(@project.key) -%>#resolved=false|createdAfter=<%= period_date -%>"
                 class="varw widget-link widget-link-red link-<%= widget.key %>-new-issues"
                 title="<%= tooltip -%>" data-toggle="tooltip" data-placement="bottom">+<%= format_variation(new_issues, :style => 'none', :default => '-') -%></a>
            </p>
          <% end %>
          <% if estimated_cleared_issues && estimated_cleared_issues > 0 %>
            <p class="small">
              <%= message('widget.rules.removed') %>
              <span class="varb">-<%= number_with_precision(estimated_cleared_issues, :precision => 0) -%></span>
            </p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="widget-span widget-span-4">
    <table class="data widget-barchar">
      <tr>
        <td class="thin nowrap">
          <i class="icon-severity-blocker"></i>
          <%= message('blocker') -%>
        </td>
        <td class="thin right nowrap">
          <a href="<%= url_for(:controller => 'component_issues', :action => 'index') -%>?id=<%= url_encode(@project.key) -%>#resolved=false|severities=BLOCKER"
             class="widget-link drilldown_BLOCKER" title="<%= tooltip -%>" data-toggle="tooltip" data-placement="bottom">
            <%= format_measure(blocker_issues) -%>
          </a>
        </td>
        <td class="thin nowrap">
          <% if @dashboard_configuration.selected_period? %>
            <a href="<%= url_for(:controller => 'component_issues', :action => 'index') -%>?id=<%= url_encode(@project.key) -%>#resolved=false|severities=BLOCKER|createdAfter=<%= url_encode(period_date) -%>"
               class="widget-link <% if variation_value(new_blocker_issues).to_i > 0 %>varw text-danger<% end -%> link-<%= widget.key %>-new-blocker-issues"
               title="<%= tooltip -%>" data-toggle="tooltip" data-placement="bottom">+<%= format_variation(new_blocker_issues, :style => 'none', :default => '-') -%></a>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="thin nowrap">
          <i class="icon-severity-critical"></i>
          <%= message('critical') -%>
        </td>
        <td class="thin right nowrap">
          <a href="<%= url_for(:controller => 'component_issues', :action => 'index') -%>?id=<%= url_encode(@project.key) -%>#resolved=false|severities=CRITICAL"
             class="widget-link drilldown_CRITICAL" title="<%= tooltip -%>" data-toggle="tooltip" data-placement="bottom">
            <%= format_measure(critical_issues) -%>
          </a>
        </td>
        <td class="thin nowrap">
          <% if @dashboard_configuration.selected_period? %>
            <a href="<%= url_for(:controller => 'component_issues', :action => 'index') -%>?id=<%= url_encode(@project.key) -%>#resolved=false|severities=CRITICAL|createdAfter=<%= url_encode(period_date) -%>"
               class="widget-link <% if variation_value(new_critical_issues).to_i > 0 %>varw text-danger<% end -%> link-<%= widget.key %>-new-critical-issues"
               title="<%= tooltip -%>" data-toggle="tooltip" data-placement="bottom">+<%= format_variation(new_critical_issues, :style => 'none', :default => '-') -%></a>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="thin nowrap">
          <i class="icon-severity-major"></i>
          <%= message('major') -%>
        </td>
        <td class="thin right nowrap">
          <a href="<%= url_for(:controller => 'component_issues', :action => 'index') -%>?id=<%= url_encode(@project.key) -%>#resolved=false|severities=MAJOR"
             class="widget-link drilldown_MAJOR" title="<%= tooltip -%>" data-toggle="tooltip" data-placement="bottom">
            <%= format_measure(major_issues) -%>
          </a>
        </td>
        <td class="thin nowrap">
          <% if @dashboard_configuration.selected_period? %>
            <a href="<%= url_for(:controller => 'component_issues', :action => 'index') -%>?id=<%= url_encode(@project.key) -%>#resolved=false|severities=MAJOR|createdAfter=<%= url_encode(period_date) -%>"
               class="widget-link <% if variation_value(new_major_issues).to_i > 0 %>varw text-danger<% end -%> link-<%= widget.key %>-new-major-issues"
               title="<%= tooltip -%>" data-toggle="tooltip" data-placement="bottom">+<%= format_variation(new_major_issues, :style => 'none', :default => '-') -%></a>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="thin nowrap">
          <i class="icon-severity-minor"></i>
          <%= message('minor') -%>
        </td>
        <td class="thin right nowrap">
          <a href="<%= url_for(:controller => 'component_issues', :action => 'index') -%>?id=<%= url_encode(@project.key) -%>#resolved=false|severities=MINOR"
             class="widget-link drilldown_MINOR" title="<%= tooltip -%>" data-toggle="tooltip" data-placement="bottom">
            <%= format_measure(minor_issues) -%>
          </a>
        </td>
        <td class="thin nowrap">
          <% if @dashboard_configuration.selected_period? %>
            <a href="<%= url_for(:controller => 'component_issues', :action => 'index') -%>?id=<%= url_encode(@project.key) -%>#resolved=false|severities=MINOR|createdAfter=<%= url_encode(period_date) -%>"
               class="widget-link <% if variation_value(new_minor_issues).to_i > 0 %>varw text-danger<% end -%> link-<%= widget.key %>-new-minor-issues"
               title="<%= tooltip -%>" data-toggle="tooltip" data-placement="bottom">+<%= format_variation(new_minor_issues, :style => 'none', :default => '-') -%></a>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="thin nowrap">
          <i class="icon-severity-info"></i>
          <%= message('info') -%>
        </td>
        <td class="thin right nowrap">
          <a href="<%= url_for(:controller => 'component_issues', :action => 'index') -%>?id=<%= url_encode(@project.key) -%>#resolved=false|severities=INFO"
             class="widget-link drilldown_INFO" title="<%= tooltip -%>" data-toggle="tooltip" data-placement="bottom">
            <%= format_measure(info_issues) -%>
          </a>
        </td>
        <td class="thin nowrap">
          <% if @dashboard_configuration.selected_period? %>
            <a href="<%= url_for(:controller => 'component_issues', :action => 'index') -%>?id=<%= url_encode(@project.key) -%>#resolved=false|severities=INFO|createdAfter=<%= url_encode(period_date) -%>"
               class="widget-link <% if variation_value(new_info_issues).to_i > 0 %>varw text-danger<% end -%> link-<%= widget.key %>-new-info-issues"
               title="<%= tooltip -%>" data-toggle="tooltip" data-placement="bottom">+<%= format_variation(new_info_issues, :style => 'none', :default => '-') -%></a>
          <% end %>
        </td>
      </tr>
    </table>
  </div>
</div>
