<%
    options = {}
    options['resolved'] = 'false'
    options['componentUuids'] = @project.uuid
    if @dashboard_configuration.selected_period?
      options['createdAfter'] = Api::Utils.format_datetime(@dashboard_configuration.from_datetime)
      options['createdBefore'] = Api::Utils.format_datetime(DateTime.now)
    end
    issues_by_assignee = Internal.issues.findIssueAssignees(options)

    unless issues_by_assignee.empty?
      users = Internal.users_api.find({'logins', issues_by_assignee.keySet(), 'includeDeactivated', true})
      users_by_login = {}
      users.each do |u|
        users_by_login[u.login()] = u
      end

      counter_no_assignee = issues_by_assignee.get(nil)
      counter_max = 0
      counter_max = issues_by_assignee.values().max unless issues_by_assignee.empty?
      counter_max = counter_no_assignee if counter_no_assignee > counter_max

      div_id = "unresolved-issues-per-assignee-widget-#{widget.id.to_s}"
    end
%>

<h3><%= message('widget.reviews_per_developer.name') -%></h3>

<% if issues_by_assignee.size ==0 %>
  <span class="empty_widget"><%= message('issue_filter.no_issues') -%></span>

<% else %>
<div id="<%= div_id -%>">

  <table class="data width100">
    <thead>
      <tr>
        <th coslpan="3">
        </th>
      </tr>
    </thead>
    <tbody>
      <%
         issues_by_assignee.each do |assignee, count|
          if assignee
      %>
        <tr class="<%= cycle 'even', 'odd', :name => (div_id) -%>">
          <td class="max-width">
            <%= link_to users_by_login[assignee].name(), url_for_component_issues(@project, options.merge(:assignees => assignee)) -%>
          </td>
          <td class="nowrap">
            <%= '+' if @dashboard_configuration.selected_period? -%><%= count.to_s -%>
          </td>
          <% if counter_max > 0 %>
            <td>
              <%= barchart(:width => 100, :percent => (100 * count / counter_max).to_i) %>
            </td>
          <% end %>
        </tr>
      <%
         # And now show the unassigned issues counter
         else
      %>
        <tr class="<%= cycle 'even', 'odd', :name => (div_id) -%>">
          <td class="max-width">
            <%= link_to message('widget.reviews_per_developer.not_assigned'), url_for_component_issues(@project, options.merge(:assigned => 'false')) -%>
          </td>
          <td class="nowrap">
            <%= '+' if @dashboard_configuration.selected_period? -%><%= counter_no_assignee.to_s -%>
          </td>
          <% if counter_max > 0 %>
            <td>
              <%= barchart(:width => 100, :percent => (100 * counter_no_assignee / counter_max).to_i) %>
            </td>
          <% end %>
        </tr>
      <% end
        end %>
    </tbody>
  </table>

</div>

<% end %>
