<td class="coding-rules-detail-list-name">
  <a href="{{permalink}}">{{name}}</a>
</td>

<td class="coding-rules-detail-list-severity">
  {{severityIcon severity}}&nbsp;{{t "severity" severity}}
</td>

<td class="coding-rules-detail-list-parameters">
  {{#each params}}
    {{#if defaultValue}}
      <div class="coding-rules-detail-list-parameter">
        <span class="key">{{key}}</span><span class="sep">:&nbsp;</span><span class="value" title="{{value}}">{{defaultValue}}</span>
      </div>
    {{/if}}
  {{/each}}
  &nbsp;
</td>

{{#if canDeleteCustomRule}}
<td class="coding-rules-detail-list-actions">
  <button class="js-delete-custom-rule button-red">
    {{t 'delete'}}
  </button>
</td>
{{/if}}
