<div class="coding-rule-section-separator"></div>

<h3 class="coding-rules-detail-title">
  {{t 'coding_rules.issues'}} ({{total}})
</h3>

{{#notEmpty projects}}
  <table class="coding-rules-detail-list coding-rules-most-violated-projects">
    <tr>
      <td class="coding-rules-detail-list-name" colspan="2">{{t 'coding_rules.most_violating_projects'}}</td>
    </tr>
    {{#each projects}}
      <tr>
        <td class="coding-rules-detail-list-name">{{name}}</td>
        <td class="coding-rules-detail-list-parameters">
          <a href="{{issuesUrl}}" target="_blank">{{count}}</a>
        </td>
      </tr>
    {{/each}}
  </table>
{{/notEmpty}}
