<form>
  <div class="modal-head">
    {{#if change}}
      <h2>{{t 'coding_rules.update_manual_rule'}}</h2>
    {{else}}
      <h2>{{t 'coding_rules.create_manual_rule'}}</h2>
    {{/if}}
  </div>

  <div class="modal-body">
    <div class="alert alert-warning hidden">{{t 'coding_rules.reactivate.help'}}</div>
    <div class="js-modal-messages"></div>

    <table>
      <tr class="property">
        <th class="nowrap"><h3>{{t 'name'}} <em class="mandatory">*</em></h3></th>
        <td>
          <input type="text" name="name" id="coding-rules-manual-rule-creation-name"
            class="coding-rules-name-key" value="{{name}}"/>
        </td>
      </tr>
      <tr class="property">
        <th class="nowrap"><h3>{{t 'key'}}{{#unless change}} <em class="mandatory">*</em>{{/unless}}</h3></th>
        <td>
          {{#if change}}
            {{key}}
          {{else}}
            <input type="text" name="key" id="coding-rules-manual-rule-creation-key"
              class="coding-rules-name-key" value="{{internalKey}}"/>
          {{/if}}
        </td>
      </tr>
      <tr class="property">
        <th class="nowrap"><h3>{{t 'description'}} <em class="mandatory">*</em></h3></th>
        <td>
          <textarea name="markdown_description" id="coding-rules-manual-rule-creation-html-description"
            class="coding-rules-markdown-description" rows="15">{{{mdDesc}}}</textarea>
          <span class="text-right">{{> '../../../../components/common/templates/_markdown-tips' }}</span>
        </td>
      </tr>
    </table>
  </div>

  <div class="modal-foot">
    <button id="coding-rules-manual-rule-creation-create">
      {{#if change}}{{t 'save'}}{{else}}{{t 'create'}}{{/if}}
    </button>
    <button id="coding-rules-manual-rule-creation-reactivate">{{t 'coding_rules.reactivate'}}</button>
    <a id="coding-rules-manual-rule-creation-cancel" class="js-modal-close">{{t 'cancel'}}</a>
  </div>
</form>
