<td class="coding-rules-detail-quality-profile-name">
  <a href="{{profilePath}}">
    {{name}}
  </a>
  {{#if isBuiltIn}}
    <span class="built-in-badge spacer-left" data-toggle="tooltip"  data-placement="bottom"
          title="{{t 'quality_profiles.built_in.description.1'}} {{t 'quality_profiles.built_in.description.2'}}">
      {{t 'quality_profiles.built_in'}}
    </span>
  {{/if}}
  {{#if parent}}
    <div class="coding-rules-detail-quality-profile-inheritance">
      {{#eq inherit 'OVERRIDES'}}
        <i class="icon-inheritance" title="{{tp 'coding_rules.overrides' name parent.name}}"></i>
      {{/eq}}
      {{#eq inherit 'INHERITED'}}
        <i class="icon-inheritance" title="{{tp 'coding_rules.inherits' name parent.name}}"></i>
      {{/eq}}
      <a class="link-base-color" href="{{parentProfilePath}}">
        {{parent.name}}
      </a>
    </div>
  {{/if}}
</td>

{{#if severity}}
  <td class="coding-rules-detail-quality-profile-severity">
    <span data-toggle="tooltip" data-placement="bottom" title="Activation severity">
      {{severityIcon severity}} {{t "severity" severity}}
    </span>
    {{#if parent}}{{#notEq severity parent.severity}}
      <div class="coding-rules-detail-quality-profile-inheritance">
        {{t 'coding_rules.original'}}&nbsp;{{t 'severity' parent.severity}}
      </div>
    {{/notEq}}{{/if}}
  </td>

  {{#unless templateKey}}
    <td class="coding-rules-detail-quality-profile-parameters">
      {{#each parameters}}
        <div class="coding-rules-detail-quality-profile-parameter">
          <span class="key">{{key}}</span><span class="sep">:&nbsp;</span><span class="value"
                                                                                title="{{value}}">{{value}}</span>
          {{#if ../parent}}{{#notEq value original}}
            <div class="coding-rules-detail-quality-profile-inheritance">
              {{t 'coding_rules.original'}}&nbsp;<span class="value">{{original}}</span>
            </div>
          {{/notEq}}{{/if}}
        </div>
      {{/each}}
      &nbsp;
    </td>
  {{/unless}}

  {{#if canWrite}}
    {{#unless isBuiltIn}}
      <td class="coding-rules-detail-quality-profile-actions">
        <div class="button-group">
          {{#unless isTemplate}}
            <button class="coding-rules-detail-quality-profile-change">{{t 'change_verb'}}</button>
          {{/unless}}
          {{#if parent}}
            {{#eq inherit 'OVERRIDES'}}
              <button class="coding-rules-detail-quality-profile-revert button-red">
                {{t 'coding_rules.revert_to_parent_definition'}}
              </button>
            {{/eq}}
          {{else}}
            <button class="coding-rules-detail-quality-profile-deactivate button-red">
              {{t 'coding_rules.deactivate'}}
            </button>
          {{/if}}
        </div>
      </td>
    {{/unless}}
  {{/if}}

{{else}}
  {{#if canWrite}}{{#unless isTemplate}}
    <td class="coding-rules-detail-quality-profile-actions">
      <div class="button-group">
        <button class="coding-rules-detail-quality-profile-activate">{{t 'coding_rules.activate'}}</button>
      </div>
    </td>
  {{/unless}}{{/if}}
{{/if}}
