<%
   title_key = params[:tk] || 'confirm'
   message_key = params[:mk] || 'are_you_sure'
   message_params = params['mp'] || []
   button_key = params[:bk] || title_key
%>
<form id="confirm-form" method="post" action="<%= Api::Utils.absolute_to_relative_url(h(params[:url])) -%>">
  <fieldset>
    <div class="modal-head">
      <h2><%= h message title_key -%></h2>
    </div>
    <div class="modal-body">
      <div class="info">
        <img src="<%= ApplicationController.root_context -%>/images/information.png" style="vertical-align: text-bottom"/>
        <%= h message(message_key, :params => message_params) -%>
      </div>
    </div>
    <div class="modal-foot">
      <input type="submit" value="<%= h message(button_key) -%>" id="confirm-submit"/>
      <a href="#" onclick="return closeModalWindow()" id="confirm-cancel"><%= h message('cancel') -%></a>
    </div>
  </fieldset>
</form>
