<div class="rule-desc">
  <h1 class="marginbottom10">{{name}}</h1>
  <div class="marginbottom10">{{{description}}}</div>
</div>

<ul class="note code-issue-bar">
  <li>{{key}}</li>
  {{#all characteristic subCharacteristic}}
    <li>{{characteristic}} > {{subCharacteristic}}{{else}}{{t 'issue.technical_debt_deleted'}}</li>
  {{/all}}
</ul>