<table class="width100">
  <tr>
    <td style="vertical-align:top">
      <select id="issue-set-severity-select" autofocus>
        <option class="sev_BLOCKER" value="BLOCKER">{{t 'severity.BLOCKER'}}</option>
        <option class="sev_CRITICAL" value="CRITICAL">{{t 'severity.CRITICAL'}}</option>
        <option class="sev_MAJOR" value="MAJOR" selected>{{t 'severity.MAJOR'}}</option>
        <option class="sev_MINOR" value="MINOR">{{t 'severity.MINOR'}}</option>
        <option class="sev_INFO" value="INFO">{{t 'severity.INFO'}}</option>
      </select>

      <input id="issue-set-severity-submit" type="submit" value="{{t 'issue.set_severity.submit'}}">
      <a id="issue-set-severity-cancel" class="action">{{t 'cancel'}}</a>
    </td>
  </tr>
</table>