{{> '_issues-facet-header'}}

<div class="issues-facet-list">
  {{#each values}}
    <a class="facet issues-facet js-issues-facet" data-value="{{val}}" title="{{#if extra}}({{extra}}) {{default label val}}">
      <span class="facet-name">{{/if}}{{default label val}}</span>
      <span class="facet-stat">{{count}}</span>
    </a>
  {{/each}}

  <div class="issues-facet-custom-value">
    <input type="hidden" class="js-issues-custom-value">
  </div>
</div>
