<h1><%= message('permission_templates') -%></h1>
<br/>
<h2>Default templates</h2>
<div class="box">
  <p>
    This section allows you to configure the default permission templates that will be applied by SonarQube while analysing your projects.
  </p>
  <br/>
  <% form_tag(:controller => 'permission_templates', :action => 'set_default_template') do %>

    <% @root_qualifiers.each do |qualifier| %>
      <%= label_tag("default_template_#{qualifier}", "Default permission template for #{message('qualifier.' + qualifier)}:") %>
      <%= select_tag("default_template_#{qualifier}", options_for_select(@default_templates_list, -1)) %>
    <% end %>
    <br/>
    <br/>
    <%= submit_tag "Save" %>
  <% end %>
</div>
<br/>
<div class="line-block">
  <ul style="float: right" class="horizontal">
    <li class="marginleft10 add">
      <a id="create-link-permission-template" href="permission_templates/create_form" class="open-modal link-action"><%= message('create') -%></a>
    </li>
  </ul>
  <h2>Available templates</h2>
</div>
<table class="data width100" id="permission-templates">
  <thead>
  <tr>
    <th class="left" width="20%"><%= message('name') -%></th>
    <th class="left">Administrators</th>
    <th class="left">Users</th>
    <th class="left">Code viewers</th>
    <th class="right" width="5%" colspan="2"><%= message('operations') -%></th>
  </tr>
  </thead>

  <tbody>
  <% if @permission_templates.empty? %>
    <tr class="even">
      <td colspan="6" align="left"><%= message('permission_template.no_results') %></td>
    </tr>
  <% end %>
  <% @permission_templates.each do |permission_template| %>
    <tr class="<%= cycle('even', 'odd') -%>">
      <td valign="top"><b><%= h permission_template.name %></b><br/>
        <span class="small gray"><%= h permission_template.description -%></span>
      </td>
      <td valign="top">
        <%
           users=Api::Utils.insensitive_sort(permission_template.getUsersForPermission('admin').collect {|u| u.userName})
           groups=Api::Utils.insensitive_sort(permission_template.getGroupsForPermission('admin').collect {|g| g.groupName})
        %>
        <span id="u-admin-<%= u permission_template.name -%>"><%= users.join(', ') %></span>
        (<%= link_to message('select users'), {:action => :edit_users, :name => permission_template.name, :permission => 'admin'},
                    :id => "selectu-admin-#{u permission_template.name}", :class => 'open-modal link-action', 'modal-width' => '760px' %>)<br/>
        <span id="g-admin-<%= u permission_template.name -%>"><%= groups.join(', ') %></span>
        (<%= link_to message('select groups'), {:action => :edit_groups, :name => permission_template.name, :permission => 'admin'},
                     :id => "selectg-admin-#{u permission_template.name}", :class => 'open-modal link-action', 'modal-width' => '760px' %>)
      </td>
      <td valign="top">
        <%
           users=Api::Utils.insensitive_sort(permission_template.getUsersForPermission('user').collect {|u| u.userName})
           groups=Api::Utils.insensitive_sort(permission_template.getGroupsForPermission('user').collect {|g| g.groupName})
        %>
        <span id="u-user-<%= u permission_template.name -%>"><%= users.join(', ') %></span>
        (<%= link_to message('select users'), {:action => :edit_users, :name => permission_template.name, :permission => 'user'},
                     :id => "selectu-user-#{u permission_template.name}", :class => 'open-modal link-action', 'modal-width' => '760px' %>)<br/>
        <span id="g-user-<%= u permission_template.name -%>"><%= groups.join(', ') %></span>
        (<%= link_to message('select groups'), {:action => :edit_groups, :name => permission_template.name, :permission => 'user'},
                     :id => "selectg-user-#{u permission_template.name}", :class => 'open-modal link-action', 'modal-width' => '760px' %>)
      </td>
      <td valign="top">
        <%
           users=Api::Utils.insensitive_sort(permission_template.getUsersForPermission('codeviewer').collect {|u| u.userName})
           groups=Api::Utils.insensitive_sort(permission_template.getGroupsForPermission('codeviewer').collect {|g| g.groupName})
        %>
        <span id="u-codeviewer-<%= u permission_template.name -%>"><%= users.join(', ') %></span>
        (<%= link_to message('select users'), {:action => :edit_users, :name => permission_template.name, :permission => 'codeviewer'},
                     :id => "selectu-codeviewer-#{u permission_template.name}", :class => 'open-modal link-action', 'modal-width' => '760px' %>)<br/>
        <span id="g-codeviewer-<%= u permission_template.name -%>"><%= groups.join(', ') %></span>
        (<%= link_to message('select groups'), {:action => :edit_groups, :name => permission_template.name, :permission => 'codeviewer'},
                     :id => "selectg-codeviewer-#{u permission_template.name}", :class => 'open-modal link-action', 'modal-width' => '760px' %>)
      </td>
      <td align="right">
        <%= link_to message('edit'), {:action => :edit_form, :name => permission_template.name},
                    :id => "edit-template-#{u permission_template.name}", :class => 'open-modal link-action' %>
      </td>
      <td align="right">
        <%= link_to message('delete'), {:action => :delete_form, :name => permission_template.name},
                    :id => "delete-template-#{u permission_template.name}", :class => 'open-modal link-action link-red' %>
      </td>
    </tr>
  <%
     end %>
  </tbody>
</table>
