<div class="pull-right big-spacer-left nowrap">
  {{#unless default}}
    <div class="dropdown">
      <button class="dropdown-toggle" data-toggle="dropdown">
        {{settingsIcon}}<i class="icon-dropdown little-spacer-left" />
      </button>
      <ul class="dropdown-menu dropdown-menu-right">
        <li>
          <a class="js-group-update" href="#">{{t 'update_details'}}</a>
        </li>
        <li class="divider" />
        <li>
          <a class="js-group-delete text-danger" href="#">{{t 'delete'}}</a>
        </li>
      </ul>
    </div>
  {{/unless}}
</div>

<div class="display-inline-block text-top width-20">
  <strong class="js-group-name">{{name}}</strong>
  {{#if default}}
    <span class="little-spacer-left">({{t 'default'}})</span>
  {{/if}}
</div>

<div class="display-inline-block text-top big-spacer-left width-25">
  <div class="pull-left spacer-right">
    <strong>{{t 'members'}}</strong>
  </div>
  <div class="overflow-hidden bordered-left">
    <span class="spacer-left spacer-right">{{membersCount}}</span>
    {{#unless default}}
      <a class="js-group-users icon-bullet-list" title="{{t 'users.update'}}" data-toggle="tooltip" href="#"></a>
    {{/unless}}
  </div>
</div>

<div class="display-inline-block text-top big-spacer-left width-40">
  <span class="js-group-description">{{description}}</span>
</div>
