<form id="create-group-form" autocomplete="off">
  <div class="modal-head">
    <h2>{{#if id}}{{t 'groups.update_group'}}{{else}}{{t 'groups.create_group'}}{{/if}}</h2>
  </div>
  <div class="modal-body">
    <div class="js-modal-messages"></div>
    <div class="modal-field">
      <label for="create-group-name">{{t 'name'}}<em class="mandatory">*</em></label>
      {{! keep this fake field to hack browser autofill }}
      <input id="create-group-name-fake" name="name-fake" type="text" class="hidden">
      <input id="create-group-name" name="name" type="text" size="50" maxlength="255" required value="{{name}}">
    </div>
    <div class="modal-field">
      <label for="create-group-description">{{t 'description'}}</label>
      {{! keep this fake field to hack browser autofill }}
      <textarea id="create-group-description-fake" name="description-fake" class="hidden"></textarea>
      <textarea id="create-group-description" name="description">{{description}}</textarea>
    </div>
  </div>
  <div class="modal-foot">
    <button id="create-group-submit">{{#if id}}{{t 'update_verb'}}{{else}}{{t 'create'}}{{/if}}</button>
    <a href="#" class="js-modal-close" id="create-group-cancel">{{t 'cancel'}}</a>
  </div>
</form>
