{{#notNull measures.duplicated_lines_density}}
  <div class="source-viewer-measures-card">
    <div class="measures">
      <div class="measures-chart">
          <span class="js-pie-chart"
                data-value="{{measures.duplicated_lines_density_raw}}"
                data-max="100"
                data-size="50"
                data-color="#797979"></span>
      </div>
      <div class="measure measure-big" data-metric="duplicated_lines_density">
        <span class="measure-value">{{measures.duplicated_lines_density}}</span>
        <span class="measure-name">{{t 'metric.duplicated_lines_density.short_name'}}</span>
      </div>
    </div>

    <div class="measures">
      <div class="measures-list">
        <div class="measure measure-one-line" data-metric="duplicated_blocks">
          <span class="measure-name">{{t 'metric.duplicated_blocks.name'}}</span>
          <span class="measure-value">{{measures.duplicated_blocks}}</span>
        </div>
        <div class="measure measure-one-line" data-metric="duplicated_lines">
          <span class="measure-name">{{t 'metric.duplicated_lines.name'}}</span>
          <span class="measure-value">{{measures.duplicated_lines}}</span>
        </div>
      </div>
    </div>
  </div>
{{/notNull}}
