<div class="measures">
  <div class="measures-list">
    <div class="measure measure-one-line" data-metric="lines">
      <span class="measure-name">{{t 'metric.lines.name'}}</span>
      <span class="measure-value">{{measures.lines}}</span>
    </div>
    <div class="measure measure-one-line" data-metric="ncloc">
      <span class="measure-name">{{t 'metric.ncloc.name'}}</span>
      <span class="measure-value">{{measures.ncloc}}</span>
    </div>
    <div class="measure measure-one-line" data-metric="comment_lines">
      <span class="measure-name">{{t 'metric.comment_lines_density.short_name'}}</span>
      <span class="measure-value">{{measures.comment_lines_density}} / {{measures.comment_lines}}</span>
    </div>
  </div>
</div>

<div class="measures">
  <div class="measures-list">
    <div class="measure measure-one-line" data-metric="complexity">
      <span class="measure-name">{{t 'metric.complexity.name'}}</span>
      <span class="measure-value">{{measures.complexity}}</span>
    </div>
    <div class="measure measure-one-line" data-metric="function_complexity">
      <span class="measure-name">{{t 'metric.function_complexity.name'}}</span>
      <span class="measure-value">{{measures.function_complexity}}</span>
    </div>
  </div>
</div>
