<div class="modal-container source-viewer-measures-modal">
  <div class="source-viewer-header-component source-viewer-measures-component">
    {{#unless removed}}
      {{#if projectName}}
        <div class="source-viewer-header-component-project">
          {{qualifierIcon 'TRK'}}&nbsp;<a href="{{dashboardUrl project}}">{{projectName}}</a>
          {{#if subProjectName}}
            &nbsp;&nbsp;&nbsp;
            {{qualifierIcon 'TRK'}}&nbsp;<a href="{{dashboardUrl subProject}}">{{subProjectName}}</a>
          {{/if}}
        </div>
      {{/if}}

      <div class="source-viewer-header-component-name">
        {{qualifierIcon q}} {{default path longName}}
      </div>
    {{else}}
      <div class="source-viewer-header-component-project removed">{{removedMessage}}</div>
    {{/unless}}
  </div>

  {{#eq q 'UTS'}}
    <div class="source-viewer-measures">
      <div class="source-viewer-measures-section">
        {{> '_source-viewer-measures-tests'}}
      </div>
    </div>
    <div class="source-viewer-measures">
      {{> '_source-viewer-measures-test-cases'}}
    </div>
  {{else}}
    <div class="source-viewer-measures">
      <div class="source-viewer-measures-section">
        <div class="source-viewer-measures-card">
          {{> '_source-viewer-measures-lines'}}
        </div>
      </div>

      <div class="source-viewer-measures-section">
        {{> '_source-viewer-measures-issues'}}
      </div>

      {{#if measures.coverage}}
        <div class="source-viewer-measures-section">
          <div class="source-viewer-measures-card">
            {{> '_source-viewer-measures-coverage'}}
          </div>
        </div>
      {{/if}}

      <div class="source-viewer-measures-section">
        {{> '_source-viewer-measures-duplications'}}
      </div>
    </div>
  {{/eq}}


  <div class="spacer-bottom">&nbsp;</div>
  <a class="js-show-all-measures">{{t 'component_viewer.show_all_measures'}}</a>

  <div class="source-viewer-measures source-viewer-measures-secondary js-all-measures hidden">
    {{> '_source-viewer-measures-all'}}
  </div>
</div>

<div class="modal-foot">
  <a class="js-modal-close" href="#">{{t 'close'}}</a>
</div>
