<div class="quality-gate-section-name">{{t 'quality_gates.projects'}}</div>

{{#if isDefault}}
  <p class="quality-gate-default-message">
  {{#if canEdit}}
    {{t 'quality_gates.projects_for_default.edit'}}
  {{else}}
    {{t 'quality_gates.projects_for_default'}}
  {{/if}}
  </p>
{{else}}
  <div id="select-list-projects"></div>
{{/if}}
