<form id="delete-gate-form">
  <div class="modal-head">
    <h2>{{t 'quality_gates.delete'}}</h2>
  </div>
  <div class="modal-body">
    <div class="js-modal-messages"></div>
    {{#if isDefault}}
      {{tp 'quality_gates.delete.confirm.default' name}}
    {{else}}
      {{tp 'quality_gates.delete.confirm.message' name}}
    {{/if}}
  </div>
  <div class="modal-foot">
    <button id="delete-gate-submit">{{t 'delete'}}</button>
    <a href="#" class="js-modal-close" id="delete-gate-cancel">{{t 'cancel'}}</a>
  </div>
</form>
