<ul>
  <li>
    <%= format_datetime(@issue.creationDate()) -%>
    <% if @issue.reporter %>
    - <%= message('issue.reported_by') -%> <%= @issue_results.user(@issue.reporter).name -%>
    <% end %>
    - <%= message('created') -%>
  </li>

  <% @changes.each do |change| %>
  <li>
    <%= format_datetime(change.createdAt()) -%> - <%= change.userLogin -%> - <%= change.changeData -%>
  </li>
  <% end %>
</ul>