<form method="POST">
  <input type="hidden" name="issue" value="<%= params[:issue] -%>"/>

  <%= message('issue.new_severity_label') -%>
  <select name="severity" class="withIcons" id="severity">
    <% Severity::KEYS.each do |severity| %>
      <option class="sev_<%= severity -%>" value="<%= severity -%>" <%= 'selected' if severity==Severity::MAJOR -%>><%= message("severity.#{severity}") -%></option>
    <% end %>
  </select>

  <textarea id="comment" rows="4" name="text" style="width: 100%"></textarea>
  <%= submit_to_remote "submit_btn", message('issues.action.change_severity.button'), :url => {:action => 'change_severity'}, :html => {:id => "submit_btn"}, :update => 'issue' -%>
  &nbsp;
  <%= link_to_remote message('cancel'), :url => {:controller => 'issue', :action => 'show', :key => params[:issue]}, :update => 'issue' -%>
</form>
