<div id="issue-<%= @issue.key -%>">
  <div class="reviewTitle">
    <h2><%= h(@issue.description) -%></h2>
  </div>

  <% if defined?(error_message) && error_message %>
    <div id="issue-error" class="error"><%= h error_message -%> <a href="#" onclick="$j('#issue-error').hide(); return false;"><%= message('issues.hide_this_message') -%></a></div>
  <% end %>

  <% if current_user %>
    <div class="marginbottom10" id="actionButtons">
      <% unless issue.status == 'RESOLVED' %>
        <%= button_to_remote message('issues.action.assign.button'),
                             :url => {:controller => "issue", :action => "assign_form", :issue => @issue.key},
                             :update => "actionForm",
                             :complete => "$('actionButtons').remove();$('actionForm').show();" -%>
      <% end %>
      <% @transitions.each do |transition| %>
        <%= button_to_remote message("issues.transition.#{transition.key}.button"),
                             :url => {:controller => "issue", :action => "transition_form", :issue => @issue.key, :transition => transition.key},
                             :update => "actionForm",
                             :complete => "$('actionButtons').remove();$('actionForm').show();$('comment').focus();" -%>
      <% end %>

      <% unless issue.status == 'RESOLVED' %>
        <%= button_to_remote message('issues.action.change_severity.button'),
                             :url => {:controller => "issue", :action => "change_severity_form", :issue => @issue.key},
                             :update => "actionForm",
                             :complete => "$('actionButtons').remove();$('actionForm').show();$('severity').focus();" -%>
      <% end %>
    </div>
  <% end %>


  <div class="discussionComment" id="actionForm" style="border: 1px solid #DDD;display:none"></div>

  <table class="reviewDetails marginbottom10">
    <tr>
      <td class="key">
        <%= message('status') -%>:
      </td>
      <td class="val">
        <%= image_tag "status/#{@issue.status}.png" -%> <span class="reviewStatus<%= @issue.status -%>"><%= message("issues.status.#{@issue.status}") -%></span>
        <% if @issue.resolution != 'OPEN' %>
          (<span class="reviewResolution<%= @issue.resolution -%>"><%= message("issues.resolution.#{@issue.resolution}") -%></span>)
        <% end %>
      </td>
      <td class="key">
        <%= message('severity') -%>:
      </td>
      <td class="val">
        <%= image_tag "priority/#{@issue.severity}.png" -%> <%= message("severity.#{@issue.severity}") -%>
      </td>
    </tr>
    <tr>
      <td class="key">
        <%= message('assignee') -%>:
      </td>
      <td class="val">
        <% assignee = @issue.assignee %>
        <%= assignee ? h(assignee) : '-' -%>
      </td>
      <td class="key">
        <%= message('author') -%>:
      </td>
      <td class="val">
        <% author = @issue.user_login %>
        <%= author ? h(author) : '-' -%>
      </td>
    </tr>
    <tr>
      <td class="key">
        <%= message('created') -%>:
      </td>
      <td class="val">
        <%= l(to_date(@issue.created_at)) -%>
      </td>
      <td class="key">
        <%= message('updated') -%>:
      </td>
      <td class="val">
        <%= l(to_date(@issue.updated_at)) if @issue.updated_at -%>
      </td>
    </tr>

    <% # TODO action plan %>


    <% if @issue.rule_key %>
      <% rule_name = Internal.rules.ruleName(I18n.locale, @issue.rule_key) %>
      <tr>
        <td class="key">
          <%= message('rule') -%>:
        </td>
        <td class="val" colspan="3">
          <a class="open-modal" modal-width="800" href="<%= url_for :controller => 'rules', :action => 'show', :id => issue.rule_key.to_s, :modal => 'true', :layout => 'false' -%>">
            <%= h(rule_name) -%></a>
        </td>
      </tr>
    <% end %>
    <tr>
      <td class="key">
        <%= message('file') -%>:
      </td>
      <td class="val" colspan="3">
        <%= qualifier_icon(@component) -%>
        <% if @resource.id != @component.id %>
          <%= @resource.long_name -%> <%= image_tag 'sep12.png' -%>
        <% end %>
        <% if @component.last_snapshot %>
          <%= link_to_resource(@component, @component.long_name, {:tab => :issues, :rule => @issue.resolution == "FALSE-POSITIVE" ? "false_positive_issues" : ""}) %>
        <% else %>
          <%= @component.long_name -%>
        <% end %>
      </td>
    </tr>
  </table>

  <% if @issue.line && has_role?(:codeviewer, @resource) %>
    <div class="marginbottom10">
      <%= snapshot_html_source(@component.last_snapshot, {:line_range => (@issue.line-5)..(@issue.line+5), :highlighted_lines => [@issue.line]}) -%>
    </div>
  <% end %>

  <div class="discussion marginbottom10">
      <div class="discussionComment first">
        <%= h(@issue.description) -%>
      </div>
  </div>

</div>