<div class="code-issue" data-issue-key="<%= issue.key -%>" data-issue-component="<%= issue.componentKey() -%>" data-issue-rule="<%= issue.ruleKey().toString() -%>">
  <div class="code-issue-name">
    <div style="float: right">
      <a href="#" onclick="return openIssuePopup(this)" class="issue-permalink"><img src="<%= ApplicationController.root_context -%>/images/new-window-16.gif"></a>
    </div>

    <img src="<%= ApplicationController.root_context -%>/images/priority/<%= issue.severity -%>.png" title="<%= h message("severity.#{issue.severity}") -%>">
    &nbsp;
    <a href="#" onclick="return toggleIssueRule(this)" class="rulename issue-rule-link"><%= h Internal.rules.ruleL10nName(@issue_results.rule(issue)) -%></a>
    &nbsp;
    <% if issue.resolution %>
      <img src="<%= ApplicationController.root_context -%>/images/sep12.png"/>
      &nbsp;
      <span><%= message("issue.resolution.#{issue.resolution}") -%></span>
      &nbsp;
    <% else %>
      <img src="<%= ApplicationController.root_context -%>/images/sep12.png"/>
      &nbsp;
      <span><%= message("issue.status.#{issue.status}") -%></span>
      &nbsp;
    <% end %>
    <img src="<%= ApplicationController.root_context -%>/images/sep12.png"/>
    &nbsp;
    <a href="#" onclick="return toggleIssueChangelog(this)" class="gray issue-changelog-link"><%= distance_of_time_in_words_to_now(Api::Utils.java_to_ruby_datetime(issue.creationDate())) -%></a>
    &nbsp;
    <% if issue.reporter %>
      <img src="<%= ApplicationController.root_context -%>/images/sep12.png"/>
      &nbsp;
      <span><%= message('issue.reported_by') -%> <%= @issue_results.user(issue.reporter).name -%></span>
      &nbsp;
    <% end %>
  </div>

  <div class="issue-rule rule_detail" style="display: none"></div>
  <div class="issue-changelog" style="display: none"></div>

  <% unless issue.message.blank? %>
    <div class="code-issue-msg">
      <%= Api::Utils.split_newlines(h(issue.message)).join('<br/>') -%>
    </div>
  <% end %>

  <%
     issue.comments.each do |comment|
       comment_html_id = "comment-#{comment.key}-#{rand(100)}"
  %>
    <div class="code-issue-comment" id="<%= comment_html_id -%>" data-comment-key="<%= comment.key -%>">
      <h4>
        <%= image_tag('reviews/comment.png') -%> &nbsp;<b><%= @issue_results.user(comment.userLogin()).name() -%></b>
        (<%= distance_of_time_in_words_to_now(Api::Utils.java_to_ruby_datetime(comment.createdAt)) -%>)
        <% if current_user && current_user.login==comment.userLogin %>
          &nbsp;
          <%= image_tag 'sep12.png' -%>
          &nbsp;
          <a class="link-action" href="#" onclick="return formEditIssueComment(this)"><%= message('edit') -%></a>
          <a class="link-action spacer-right" href="#" onclick="return formDeleteIssueComment(this)"><%= message('delete') -%></a>
        <% end %>
      </h4>
      <%= Internal.text.markdownToHtml(comment.markdownText) -%>
    </div>
  <% end %>

  <% if current_user %>

    <div class="code-issue-actions">
      <a href='#' onclick="return issueForm('comment', this)" class="link-action spacer-right" autofocus><%= message('issue.comment.formlink') -%></a>
      <% unless issue.resolution %>
        <img src="<%= ApplicationController.root_context -%>/images/sep12.png"/>
        &nbsp;
        <span class="spacer-right">
        <% if issue.assignee %>
          <a href='#' onclick="return issueForm('assign', this)" class="link-action"><%= message('assigned_to') -%></a> <%= h @issue_results.user(issue.assignee).name -%>
        <% else %>
          <a href='#' onclick="return issueForm('assign', this)" class="link-action"><%= message('issue.assign.formlink') -%></a>
            <% if issue.assignee!=current_user.login %>
            [<a href="#" onclick="return assignIssueToMe(this)" class="link-action"><%= message('issue.assign.to_me') -%></a>]
            <% end %>
        <% end %>
        </span>
      <% end %>

      <% unless issue.resolution %>
        <img src="<%= ApplicationController.root_context -%>/images/sep12.png"/>
        &nbsp;
        <span class="spacer-right">
          <% if issue.actionPlanKey %>
            <a href="#" onclick="return issueForm('plan', this)" class="link-action"><%= message('issue.planned_for') -%></a> <%= h(@issue_results.actionPlan(issue).name()) -%>
          <% else %>
            <a href="#" onclick="return issueForm('plan', this)" class="link-action"><%= message('issue.do_plan') -%></a>
          <% end %>
        </span>
      <% end %>

      <%
         transitions = Internal.issues.listTransitions(issue)

         # Display only the first transition
         if !transitions.empty? && transitions.first
           transition = transitions.first
      %>
        <img src="<%= ApplicationController.root_context -%>/images/sep12.png"/>
        &nbsp;
        <a href="#" onclick="return doIssueTransition(this, '<%= transition.key -%>')" class="link-action spacer-right"><%= message("issue.transition.#{transition.key}") -%></a>
      <% end %>

      <%
         plugin_actions = Internal.issues.listActions(issue)
         shouldDisplayDropDown = transitions.size > 1 || !issue.resolution || !plugin_actions.empty?
         if shouldDisplayDropDown
           transitions.remove(0)
      %>
        <div class="dropdown">
          <a href="#" class="link-action link-more" onclick="showDropdownMenuOnElement($j(this).next('.dropdown-menu')); return false;"><%= message('more_actions') -%></a>
          <ul style="display: none" class="dropdown-menu">
            <% unless issue.resolution %>
              <li>
                <a href="#" onclick="return issueForm('severity', this)" class="link-action spacer-right"><%= message("issue.set_severity") -%></a>
              </li>
            <% end %>

            <%
               # Display remaining transitions
               transitions.each do |transition| %>
              <li>
                <a href="#" onclick="return doIssueTransition(this, '<%= transition.key -%>')" class="link-action spacer-right"><%= message("issue.transition.#{transition.key}") -%></a>
              </li>
            <% end %>

            <%
               # Display actions defined by plugins
               plugin_actions.each do |action| %>
              <li>
                <a href="#" onclick="return doPluginIssueAction(this, '<%= action.key -%>')" class="link-action spacer-right"><%= message("issue.action.#{action.key}.formlink") -%></a>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
    <div class="code-issue-form hidden"></div>
  <% elsif issue.assignee || issue.actionPlanKey %>
    <div class="code-issue-actions">
      <% if issue.assignee %>
        <span class="gray"><%= message('assigned_to') -%> <%= h @issue_results.user(issue.assignee).name -%></span>
        &nbsp;
      <% end %>
      <% if issue.actionPlanKey %>
        <% if issue.assignee %><img src="<%= ApplicationController.root_context -%>/images/sep12.png"/>&nbsp;<% end %>
        <span class="gray"><%= message('issue.planned_for') -%> <%= h(@issue_results.actionPlan(issue).name()) -%></span>
      <% end %>
    </div>
  <% end %>
</div>