<%
   plans_select_box_id = "plans-#{params[:issue]}"
   plans = Internal.issues.findOpenActionPlansForComponent(@issue.componentKey())


   if plans.empty?
%>
  <span class="error"><%= message('issue.plan_must_be_created_first') -%></span>
  &nbsp;<%= link_to_function message('cancel'), 'closeIssueForm(this)' -%>
<%
   else
     first_plan = plans[0]
     plan_options = options_for_select([[message('issue.unplanned'), '']] + plans.map { |plan|
       if plan.deadLine
         label = "#{h plan.name} (#{format_date(plan.deadLine)})"
       else
         label = h plan.name
       end
       [label, plan.key]
     }, first_plan.key)

%>
  <form method="POST">
    <input type="hidden" name="issue" value="<%= params[:issue] -%>"/>
    <input type="hidden" name="id" value="plan"/>

    <%= dropdown_tag('plan', plan_options, {:show_search_box => false}, {:id => plans_select_box_id}) -%>

    <input type="button" value="<%= message('issue.plan.submit') -%>" onclick="submitIssueForm(this)">
    &nbsp;
    <% if @issue.actionPlanKey %>
      <%= image_tag 'sep12.png' -%>
      &nbsp;
      <input type="button" value="<%= message('issue.unplan.submit') -%>" onclick="$j('#<%= plans_select_box_id -%>').val('');$j('#<%= plans_select_box_id -%>').prop('disabled', false);submitIssueForm(this)">
    <% end %>
    <%= link_to_function message('cancel'), 'closeIssueForm(this)' -%>&nbsp;
    <span class="loading hidden"></span>

  </form>

<% end %>
