<%
  plans = Internal.issues.findOpenActionPlans(params[:issue])

  if plans.empty?
%>
  <span class="error"><%= message('issue.plan_must_be_created_first') -%></span>
  &nbsp;<%= link_to_function message('cancel'), 'closeIssueForm(this)' -%>

<% else %>
<form method="POST">
  <input type="hidden" name="issue" value="<%= params[:issue] -%>"/>
  <input type="hidden" name="id" value="plan"/>

  <select name="plan">
    <option value=""></option>
    <% plans.each do |plan| %>
      <option value="<%= plan.key() -%>"><%= h(plan.name()) -%></option>
    <% end %>
  </select>

  <input type="button" value="<%= message('issue.plan.submit') -%>" onclick="submitIssueForm(this)">
  &nbsp;<%= link_to_function message('cancel'), 'closeIssueForm(this)' -%>&nbsp;
  <span class="hidden"><%= image_tag 'loading.gif' -%></span>

</form>

<% end %>
