<div class="marginbottom10">
  <% if @rule.description.strip.start_with?('<p>') %>
    <%= Internal.text.interpretMacros(@rule.description) %>
  <% else %>
    <p><%= Internal.text.interpretMacros(@rule.description) %></p>
  <% end %>
</div>

<% if @rule.note_data %>
  <div class="marginbottom10">
    <%= Api::Utils.markdown_to_html(@rule.note_data) -%>
  </div>
<% end %>

<div class="note">
  <%= h @rule.plugin_name -%>
  &nbsp;<%= image_tag 'sep12.png' -%>&nbsp;
  <a href="#" onclick="return openIssueRulePopup(this)"><%= h @rule.plugin_rule_key -%></a>
</div>
