<h1 class="marginbottom10"><%= h @rule.name %></h1>

<div class="marginbottom10">
  <% if @rule.description.strip.start_with?('<p>') %>
    <%= Internal.text.interpretMacros(@rule.description) %>
  <% else %>
    <p><%= Internal.text.interpretMacros(@rule.description) %></p>
  <% end %>
</div>

<% if @rule.note_data %>
  <div class="marginbottom10">
    <%= Api::Utils.markdown_to_html(@rule.note_data) -%>
  </div>
<% end %>

<p class="note">
  <%= h @rule.plugin_name -%>:<%= h @rule.plugin_rule_key -%>
  &nbsp;<%= image_tag 'sep12.png' -%>&nbsp;
  <% if @requirement %>
    <%= @root_characteristic.name -%>&nbsp;&gt;&nbsp;<%= @characteristic.name -%>
  <% else %>
    <%= message 'issue.technical_debt_deleted' %>
  <% end %>
</p>
