<div class="line">
  <span class="analysis-reports-project">
    <i class="icon-qualifier-trk"></i>
    <a href="{{dashboardUrl projectKey}}">{{projectName}}</a>
  </span>

  {{#if submittedAt}}
    <span class="analysis-reports-timestamp line-small">
      Submitted: {{dt submittedAt}}
    </span>
  {{/if}}

  {{#if startedAt}}
    <span class="analysis-reports-timestamp line-small">
      Started: {{dt startedAt}}
    </span>
  {{/if}}

  {{#if finishedAt}}
    <span class="analysis-reports-timestamp line-small">
      Finished: {{dt finishedAt}}
    </span>
  {{/if}}
</div>

<div class="analysis-reports-report-id">{{id}} {{status}}</div>
