<div class="line">
  <span class="analysis-reports-project">
    <i class="icon-qualifier-trk"></i>
    <a href="{{dashboardUrl project}}">{{projectName}}</a>
  </span>

  <span class="analysis-reports-timestamp line-small">
    {{#if endDate}}
      Finished: {{dt startDate}}
    {{else}}
      Started: {{dt startDate}}
    {{/if}}

  </span>

  {{#if duration}}
    <span class="analysis-reports-timestamp line-small">
      Duration: {{duration}}
    </span>
  {{/if}}
</div>

<div class="analysis-reports-report-id">{{id}} {{status}}</div>
