{{#if endDate}}
  <div class="line line-small">
    Finished: {{dt endDate}}
  </div>
{{/if}}

<div class="line">
  <span class="analysis-reports-project">
    <i class="icon-qualifier-trk"></i>
    <a href="{{dashboardUrl project}}">{{projectName}}</a>
  </span>

  <span class="analysis-reports-timestamp line-small">
    Started: {{dt startDate}}
  </span>

  {{#eq status 'WORKING'}}
    <span class="analysis-reports-timestamp line-small">
      Duration: {{durationFromNow startDate 'minutes'}} minutes
      <i class="spinner analysis-reports-timestamp-spinner"></i>
    </span>
  {{/eq}}
</div>

<div class="analysis-reports-report-id">{{id}} {{status}}</div>
