{{#if state.active}}
  {{t 'analysis_reports.current_activity'}}
  &nbsp;&nbsp;&nbsp;
  <a class="js-show-past-reports">{{t 'analysis_reports.past_reports'}}</a>
{{else}}
  <a class="js-show-current-activity">{{t 'analysis_reports.current_activity'}}</a>
  &nbsp;&nbsp;&nbsp;
  {{t 'analysis_reports.past_reports'}}
{{/if}}

<span style="float: right;">{{tp 'analysis_reports.x_reports' total}}</span>
