{{#if endDate}}
  <div class="line line-small">
    Finished: {{dt endDate}}
  </div>
{{/if}}

<div class="line">
  <span class="analysis-reports-project">
    <i class="icon-qualifier-trk"></i>
    <a href="{{dashboardUrl project}}">{{projectName}}</a>
  </span>

  <span class="analysis-reports-timestamp line-small">
    Started: {{dt startDate}}
    {{#eq status 'WORKING'}}<i class="spinner analysis-reports-timestamp-spinner"></i> {{/eq}}
  </span>
</div>

<div class="analysis-reports-report-id">{{id}} {{status}}</div>
