{{#if isLoaded}}
  <form id="bulk-change-form">
    <div class="modal-head">
      <h2>{{tp 'issue_bulk_change.form.title' issues.length}}</h2>
    </div>
    <div class="modal-body">
      <div class="js-modal-messages"></div>

      {{#if limitReached}}
        <div class="alert alert-warning">
          {{tp 'issue_bulk_change.max_issues_reached' issues.length}}
        </div>
      {{/if}}

      {{! assign }}
      {{#if canBeAssigned}}
        <div class="modal-field">
          <label for="assignee">{{t 'issue.assign.formlink'}}</label>
          <input id="assign-action" name="actions[]" type="checkbox" value="assign">
          <input id="assignee" type="hidden">
          <div class="pull-right note">
            ({{tp 'issue_bulk_change.x_issues' canBeAssigned}})
          </div>
        </div>
      {{/if}}

      {{! type }}
      {{#if canChangeType}}
        <div class="modal-field">
          <label for="type">{{t 'issue.set_type'}}</label>
          <input id="set-type-action" name="actions[]" type="checkbox" value="set_type">
          <select id="type" name="set_type.type">
            <option value="BUG">{{t 'issue.type.BUG'}}</option>
            <option value="VULNERABILITY">{{t 'issue.type.VULNERABILITY'}}</option>
            <option value="CODE_SMELL">{{t 'issue.type.CODE_SMELL'}}</option>
          </select>
          <div class="pull-right note">
            ({{tp 'issue_bulk_change.x_issues' canChangeType}})
          </div>
        </div>
      {{/if}}

      {{! severity }}
      {{#if canChangeSeverity}}
        <div class="modal-field">
          <label for="severity">{{t 'issue.set_severity'}}</label>
          <input id="set-severity-action" name="actions[]" type="checkbox" value="set_severity">
          <select id="severity" name="set_severity.severity">
            <option value="BLOCKER">{{t 'severity.BLOCKER'}}</option>
            <option value="CRITICAL">{{t 'severity.CRITICAL'}}</option>
            <option value="MAJOR">{{t 'severity.MAJOR'}}</option>
            <option value="MINOR">{{t 'severity.MINOR'}}</option>
            <option value="INFO">{{t 'severity.INFO'}}</option>
          </select>
          <div class="pull-right note">
            ({{tp 'issue_bulk_change.x_issues' canChangeSeverity}})
          </div>
        </div>
      {{/if}}

      {{! add tags }}
      {{#if canChangeTags}}
        <div class="modal-field">
          <label for="add_tags">{{t 'issue.add_tags'}}</label>
          <input id="add-tags-action" name="actions[]" type="checkbox" value="add_tags">
          <input id="add_tags" name="add_tags.tags" type="text">
          <div class="pull-right note">
            ({{tp 'issue_bulk_change.x_issues' canChangeTags}})
          </div>
        </div>
      {{/if}}

      {{! remove tags }}
      {{#if canChangeTags}}
        <div class="modal-field">
          <label for="remove_tags">{{t 'issue.remove_tags'}}</label>
          <input id="remove-tags-action" name="actions[]" type="checkbox" value="remove_tags">
          <input id="remove_tags" name="remove_tags.tags" type="text">
          <div class="pull-right note">
            ({{tp 'issue_bulk_change.x_issues' canChangeTags}})
          </div>
        </div>
      {{/if}}

      {{! transitions }}
      {{#notEmpty availableTransitions}}
        <div class="modal-field">
          <label>{{t 'issue.transition'}}</label>
          {{#each availableTransitions}}
            <input type="radio" id="transition-{{transition}}" name="do_transition.transition"
                   value="{{transition}}">
            <label for="transition-{{transition}}" style="float: none; display: inline; left: 0; cursor: pointer;">
              {{t 'issue.transition' transition}}
            </label>
            <div class="pull-right note">
              ({{tp 'issue_bulk_change.x_issues' count}})
            </div>
            <br>
          {{/each}}
        </div>
      {{/notEmpty}}

      {{! comment }}
      {{#if canBeCommented}}
        <div class="modal-field">
          <label for="comment">
            {{t 'issue.comment.formlink'}}
            <i class="icon-help" title="{{t 'issue_bulk_change.comment.help'}}"></i>
          </label>
          <div>
            <textarea rows="4" name="comment" id="comment" style="width: 100%"></textarea>
          </div>
          <div class="pull-right">
            {{> ../../../components/common/templates/_markdown-tips}}
          </div>
        </div>
      {{/if}}

      {{! notifications }}
      <div class="modal-field">
        <label for="send-notifications">{{t 'issue.send_notifications'}}</label>
        <input id="send-notifications" name="sendNotifications" type="checkbox" value="true">
      </div>

    </div>
    <div class="modal-foot">
      <i class="js-modal-spinner spinner spacer-right hidden"></i>
      <button id="bulk-change-submit">{{t 'apply'}}</button>
      <a id="bulk-change-cancel" href="#" class="js-modal-close">{{t 'cancel'}}</a>
    </div>
  </form>
{{else}}
  <div class="modal-head">
    <h2>{{t 'bulk_change'}}</h2>
  </div>
  <div class="modal-body">
    <div class="js-modal-messages"></div>
    <div class="text-center">
      <i class="spinner spinner-margin"></i>
    </div>
  </div>
  <div class="modal-foot">
    <a id="bulk-change-cancel" href="#" class="js-modal-close">{{t 'cancel'}}</a>
  </div>
{{/if}}
