<div class="component-name issues-workspace-list-component">
  {{#notNull organization}}
    <a class="link-no-underline" href="{{link '/organizations/' organization.key}}">
      {{organization.name}}
    </a>
    <span class="slash-separator"></span>
  {{/notNull}}

  <a class="link-no-underline" href="{{dashboardUrl project}}">
    <span class="little-spacer-right">{{qualifierIcon "TRK"}}</span>{{projectLongName}}
  </a>

  {{#if subProject}}
    <span class="slash-separator"></span>
    <a class="link-no-underline" href="{{dashboardUrl subProject}}">
      <span class="little-spacer-right">{{qualifierIcon "TRK"}}</span>{{subProjectLongName}}
    </a>
  {{/if}}

  <span class="slash-separator"></span>
  <a class="link-no-underline" href="{{dashboardUrl component}}">
    <span class="little-spacer-right">{{qualifierIcon componentQualifier}}</span>{{collapsePath componentLongName}}
  </a>
</div>
