<div class="issues-header-component nowrap">
  <div class="component-name">
    {{#if state.component}}

      <div class="component-name-parent">
        <a class="js-back">{{t "issues.return_to_list"}}</a>&nbsp;&nbsp;&nbsp;
      </div>

      {{#with state.component}}
        <div class="component-name-parent">
          {{qualifierIcon "TRK"}}&nbsp;<a href="{{dashboardUrl project}}" title="{{projectName}}">{{projectName}}</a>
        </div>
        {{#if subProject}}
          <div class="component-name-parent">
            {{qualifierIcon "TRK"}}&nbsp;<a href="{{dashboardUrl subProject}}" title="{{subProjectName}}">{{subProjectName}}</a>
          </div>
        {{/if}}
        <div class="component-name-file">
          {{qualifierIcon qualifier}}&nbsp;<a href="{{dashboardUrl key}}" title="{{name}}">{{fileFromPath name}}</a>
        </div>
      {{/with}}

    {{else}}
      {{#if state.canBulkChange}}
        <a class="js-selection icon-checkbox {{#if allSelected}}icon-checkbox-checked{{/if}} {{#if someSelected}}icon-checkbox-checked icon-checkbox-single{{/if}}"
            data-toggle="tooltip" title="{{t 'issues.toggle_selection_tooltip'}}"></a>
      {{else}}
        &nbsp;
      {{/if}}
    {{/if}}
  </div>
</div>


<div class="search-navigator-header-actions">
  {{#notNull state.total}}
    <div class="search-navigator-header-pagination flash flash-heavy">
      {{#gt state.total 0}}
        <a class="js-prev icon-prev" title="{{t "paging_previous"}}"></a>
        <span class="current">
          {{sum state.selectedIndex 1}}
          /
          <span id="issues-total">{{formatMeasure state.total 'INT'}}</span>
        </span>
        <a class="js-next icon-next" title="{{t "paging_next"}}"></a>
      {{else}}
        <span class="current">0 / <span id="issues-total">0</span></span>
      {{/gt}}
    </div>
  {{/notNull}}


  <div class="search-navigator-header-buttons button-group dropdown">
    <button id="issues-reload" class="js-reload">{{t "reload"}}</button>
    <button class="js-new-search" id="issues-new-search">{{t "issue_filter.new_search"}}</button>
    {{#if state.canBulkChange}}
      <button id="issues-bulk-change" class="dropdown-toggle" data-toggle="dropdown">{{t "bulk_change"}}</button>
      <ul class="dropdown-menu dropdown-menu-right">
        <li>
          <a class="js-bulk-change" href="#">{{tp 'issues.bulk_change' state.total}}</a>
        </li>
        {{#gt selectedCount 0}}
          <li>
            <a class="js-bulk-change-selected" href="#">{{tp 'issues.bulk_change_selected' selectedCount}}</a>
          </li>
        {{/gt}}
      </ul>
    {{/if}}
  </div>
</div>
