<div class="component-name issues-workspace-list-component">
  {{#if organization}}
    <a class="link-no-underline" href="{{link '/organizations/' organization.key}}">
      {{organization.name}}
    </a>
    <span class="slash-separator"></span>
  {{/if}}

  {{#if project}}
    <a class="link-no-underline" href="{{dashboardUrl project}}">
      {{projectLongName}}
    </a>
    <span class="slash-separator"></span>
  {{/if}}

  {{#if subProject}}
    <a class="link-no-underline" href="{{dashboardUrl subProject}}">
      {{subProjectLongName}}
    </a>
    <span class="slash-separator"></span>
  {{/if}}

  <a class="link-no-underline" href="{{dashboardUrl component}}">
    {{collapsePath componentLongName}}
  </a>
</div>
