<div class="component-name issues-workspace-list-component">
  <a class="component-name-parent link-no-underline" href="{{dashboardUrl project}}">
    {{qualifierIcon "TRK"}}&nbsp;{{projectLongName}}
  </a>
  {{#if subProject}}
    <a class="component-name-parent link-no-underline" href="{{dashboardUrl subProject}}">
      {{qualifierIcon "TRK"}}&nbsp;{{subProjectLongName}}
    </a>
  {{/if}}
  <a class="component-name-file link-no-underline" href="{{dashboardUrl component}}">
    {{qualifierIcon componentQualifier}}&nbsp;{{componentLongName}}
  </a>
</div>
