<script id="quality-gate-edit-template" type="text/x-handlebars-template">
  <form>
    <div class="modal-head">
      {{#eq method "rename"}}<h2><%= message('quality_gates.rename') -%></h2>{{/eq}}
      {{#eq method "copy"}}<h2><%= message('quality_gates.copy') -%></h2>{{/eq}}
      {{#eq method "create"}}<h2><%= message('quality_gates.add') -%></h2>{{/eq}}
    </div>

    <div class="modal-body">
      <div class="modal-error"></div>
      <div class="modal-field">
        <label for="quality-gate-edit-name"><%= message('name') -%> <em class="mandatory">*</em></label>
        <input id="quality-gate-edit-name" value="{{name}}" type="text" size="50" maxlength="100">
      </div>
    </div>

    <div class="modal-foot">
      {{#eq method "rename"}}<button><%= message('save') -%></button>{{/eq}}
      {{#eq method "copy"}}<button><%= message('copy') -%></button>{{/eq}}
      {{#eq method "create"}}<button><%= message('create') -%></button>{{/eq}}
      <a id="quality-gate-cancel-create" class="action"><%= message('cancel') -%></a>
    </div>
  </form>
</script>
