<h1><%= message('quality_profiles.new_profile') -%></h1>

<% form_for(@profile) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :active %><br />
    <%= f.check_box :active %>
  </p>
  <p>
    <%= f.submit message('create') %>
  </p>
<% end %>

<%= link_to message('back'), profiles_path %>
