<form method="post"
      onsubmit="if ($('assignee_id').value != '') { new Ajax.Updater('review', '<%= url_for :action => 'assign' -%>', {asynchronous:true, evalScripts:true, parameters:Form.serialize(this)}); };return false;">
  <%= hidden_field_tag :id, params[:review_id] -%>
  <%= user_autocomplete_field "assignee_id", "" -%>
  &nbsp;&nbsp;
  <%= submit_to_remote "submit_btn", "Assign", 
         :url => { :action => 'assign' },
         :update => "review" -%>
  &nbsp;&nbsp;
  <%= link_to_remote 'Cancel', 
         :url => { :action => 'show', :id => params[:review_id] },
         :update => "review" %>
  <script>
  	$('autocompleteText-assignee_id').focus()
  </script>
</form>