<%
  button=(@comment ? 'Update comment' : 'Add comment')
%>
<form method="POST" action="save_comment">
  <input type="hidden" name="id" value="<%= params[:id] -%>"/>
  <% if @comment %>
    <input type="hidden" name="comment_id" value="<%= @comment.id -%>"/>
  <% end %>

  <table class="width100">
    <tr>
      <td style="vertical-align:top">
        <textarea id="commentText" rows="8" name="text" style="width: 100%" onkeyup="if (this.value=='') $('submit_btn').disabled='true'; else $('submit_btn').disabled='';"><%= @comment.text if @comment -%></textarea>
        <br/>
        <%= submit_to_remote "submit_btn", button, :url => { :action => 'save_comment'}, :html => { :id => "submit_btn", :disabled => "true" }, :update => 'review' -%>
        <%= link_to_remote 'Cancel', :url => {:action => 'show', :id => params[:id]}, :update => 'review' -%>
      </td>
      <td class="sep"></td>
      <td style="vertical-align:top;width: 90px">
        <%= render :partial => 'markdown/help' -%>
      </td>
    </tr>
  </table>
</form>
