<h3>Create a new review</h3>
<% form_for :review, @review do |f| %>
      <%= f.hidden_field :rule_failure_id %>
      Review by: <%= @review.user.login -%>
      <br/>
      Review type: <%= f.text_field :review_type %>
      <br/>
      Status: <%= f.text_field :status %>
      <br/>
      Severity: <%= f.text_field :severity %>
      <br/>
      External Link: <%= f.text_field :external_link %>
      <br/>
      Comment:
      <br/>
      <%= text_area :review_comment, :review_text, :id => "reviewText", :rows => 10 %>
      <br/>
      <input type="button" name="create_btn" value="Create review" 
             onclick="new Ajax.Updater({success:'reviewFailure<%= @review.rule_failure_id.to_s -%>'}, '<%= ApplicationController.root_context -%>/reviews/create?rule_failure_id=<%= @review.rule_failure_id.to_s -%>', {asynchronous:true, evalScripts:true, parameters:Form.serialize(this.form), onSuccess:function(request){$('createReviewLink<%= @review.rule_failure_id.to_s -%>').style.display='none';} });">
      <input type="button" name="cancel_btn" value="Cancel" 
             onclick="new Ajax.Updater({success:'reviewFailure<%= @review.rule_failure_id.to_s -%>'}, '<%= ApplicationController.root_context -%>/reviews/list?rule_failure_id=<%= @review.rule_failure_id.to_s -%>', {asynchronous:true, evalScripts:true, parameters:Form.serialize(this.form), }); $('reviewFailure<%= @review.rule_failure_id.to_s -%>').style.display='none';">
<% end %>