<% form_for :review, @review do |f| %>
      <%= f.hidden_field :rule_failure_permanent_id -%>
      <%= f.hidden_field :review_type -%>
      
      <% if @review.review_type == "f-positive" %>
          <b>Reason for flagging this violation as a false-positive:</b>
      <% end %>
      <%= text_area :review_comment, :review_text, 
           :id => "reviewText", :rows => 8, 
           :style => "width:100%", :onKeyUp => "if (this.value=='') $('submit_btn').disabled='true'; else $('submit_btn').disabled='';" -%>
      <br/>
      
      <div>
        <%
          if @review.review_type == "comments"
            button_text = "Post review"
          else
            button_text = "Switch-off violation"
          end
        %>
        <%= submit_to_remote "submit_btn", button_text, :url => { :action => 'create' }, :html => { :id => "submit_btn", :disabled => "true" } -%>
        &nbsp;&nbsp;
        <a onclick="$('reviewForm<%= @review.rule_failure_permanent_id.to_s -%>').style.display='none';" href="#">Cancel</a>
        <% if @review.review_type == "comments" %>
          &nbsp;&nbsp;
          <%= check_box_tag "assign_to_me", "me", true -%> Assign to me
        <% end %>
      </div>
      </div class="clear"></div>      
<% end %>