<h3>Create a new review</h3>
<% form_for :review, @review do |f| %>
      <%= f.hidden_field :rule_failure_id %>
      Review by: <%= @review.user.login -%>
      <br/>
      Review type: <%= f.text_field :review_type %>
      <br/>
      Status: <%= f.text_field :status %>
      <br/>
      Severity: <%= f.text_field :severity %>
      <br/>
      External Link: <%= f.text_field :external_link %>
      <br/>
      Comment:
      <br/>
      <%= text_area :review_comment, :review_text, :rows => 10 %>
      <br/>
      <%= submit_to_remote 'create_btn', 'Create review', 
                     :url => { :action => 'create' },
                     :update => { :success => "reviewFailure" + @review.rule_failure_id.to_s, :failure => "fail" } %>
      <%= submit_to_remote 'cancel_btn', 'Cancel', 
                     :url => { :action => 'list', :rule_failure_id => @review.rule_failure_id.to_s },
                     :update => { :success => "reviewFailure" + @review.rule_failure_id.to_s } %>
<% end %>