  <%
     if @reviews && !@reviews.empty?
  %>
    <table id="reviews-list" class="data width100">
      <thead>
      <tr>
        <th width="1%" nowrap>
          <a href="#" onClick="launchSearch('status')"><%= message('status_abbreviated') -%></a>
          <%= image_tag(@asc ? "asc12.png" : "desc12.png") if @sort == 'status' -%>
        </th>
        <th width="1%" nowrap>
          <a href="#" onClick="launchSearch('id')"><%= message('identifier_abbreviated') -%></a>
          <%= image_tag(@asc ? "asc12.png" : "desc12.png") if @sort == 'id' -%>
        </th>
        <th width="1%" nowrap>
          <a href="#" onClick="launchSearch('severity')"><%= message('severity_abbreviated') -%></a>
          <%= image_tag(@asc ? "asc12.png" : "desc12.png") if @sort == 'severity' -%>
        </th>
        <th>
          <a href="#" onClick="launchSearch('title')"><%= message('title') -%></a>
          <%= image_tag(@asc ? "asc12.png" : "desc12.png") if @sort == 'title' -%>
        </th>
        <th width="1%"><%= message('project') -%></th>
        <th><%= message('assignee') -%></th>
        <th>
          <a href="#" onClick="launchSearch('updated_at')"><%= message('age') -%></a>
          <%= image_tag(@asc ? "asc12.png" : "desc12.png") if @sort == 'updated_at' -%>
        </th>
      </tr>
      </thead>
      <tfoot>
      <tr>
        <td colspan="6">
          <%= paginate(@reviews) -%>
        </td>
      </tr>
      </tfoot>
      <tbody>
      <%
         @reviews.each do |review|
           comment = review.comments.last
      %>
        <tr class="<%= cycle('even', 'odd') -%>">
          <td><img src="<%= ApplicationController.root_context -%>/images/status/<%= review.status -%>.png" title="<%= message(review.status.downcase).capitalize -%>"/></td>
          <td>
            <%= link_to h(review.id), :controller => "project_reviews", :action => "view", :id => review.id -%>
          </td>
          <td><img src="<%= ApplicationController.root_context -%>/images/priority/<%= review.severity -%>.png" title="<%= message(review.severity.downcase).capitalize -%>"/></td>
          <td>
            <%= link_to h(review.title), :controller => "project_reviews", :action => "view", :id => review.id -%>
            <% if comment %>
              <div class="comment-excerpt">
                <img src="<%= ApplicationController.root_context -%>/images/reviews/comment.png"/>
                &nbsp;<b><%= comment.user.name -%> :</b>
                <%= comment.excerpt -%>
            <% end %>
            </div>
          </td>
          <td>
            <span class="nowrap"><%= h review.project.name -%></span>
            <br/>
            <span class="note"><%= h(review.resource.name) if review.resource -%></span></td>
          <td><%= review.assignee ? h(review.assignee.name) : '-' -%></td>
          <td><%= distance_of_time_in_words_to_now(review.updated_at) -%></td>
        </tr>
      <%
         end
      %>
      </tbody>
    </table>
  <%
     elsif @reviews
  %>
    <p><%= message('no_results') -%></p>
  <%
     end
  %>

  <% if @security_exclusions %>
    <br/>

    <p class="notes"><%= message('results_not_display_due_to_security') -%></p>
  <% end %>