<div id="rev_<%= review.id -%>">
  <div class="reportTitle">
    <h2>Review #<%= h(review.id.to_s) -%> - <%= h(review.title) -%></h2>
    
    <% if current_user && review.status != "CLOSED" %>
    <span class="actions" id="rActions">
        &nbsp;
        <%= image_tag("sep12.png") -%>
        &nbsp;
        <%= link_to_remote (review.assignee_id ? "Reassign" : "Assign"),  
        		:url => { :controller => "reviews", :action => "assign_form", :review_id => review.id},
        		:update => "assignForm",
        		:complete => "$('rActions').hide(); $('editActions').hide(); $('assignee_id').focus();" -%>
      
        &nbsp;
        <%= link_to_remote ("Flag as false-positive"),
        		:url => { :controller => "reviews", :action => "false_positive_form", :id => review.id },
        		:update => "reviewForm",
        		:complete => "$('reviewForm').show(); $('rActions').hide(); $('editActions').hide(); $('commentText').focus();" -%>
    </span>
    <% end %>
    
  </div>

  <table class="reportDetails">
	 <tr>
	   <td class="key">
	     Status:	
	   </td>
	   <td  class="val">
		<%= image_tag "status/#{review.status}.png" -%> <%= review.status.capitalize -%>
	   </td>
	   <td class="key">
         Severity:
	   </td>
	   <td  class="val">
          <%= image_tag "priority/#{review.severity}.png" -%> <%= review.severity.capitalize -%>
	   </td>
	 </tr>
	 <tr>
	   <td class="key">
	     Assignee:	
	   </td>
	   <td  class="val">
	     <span id="assignForm">
		 <%= review.assignee ? h(review.assignee.name) : '-'-%>
	     </span>
	   </td>
	   <td class="key">
		  Created by:
	   </td>
	   <td  class="val">
  		  <%= h(review.user.name) -%>, on <%= l(review.created_at, :format => :long) -%>
	   </td>
	 </tr>
	 <tr>
	   <td class="key">&nbsp;</td>
	   <td  class="val">&nbsp;</td>
	   <td class="key">
		  Last updated:
	   </td>
	   <td  class="val">
  		  <%= distance_of_time_in_words_to_now(review.updated_at) -%> (<%= l(review.updated_at, :format => :long) -%>)
	   </td>
	 </tr>
	<% if review.rule %>
   	<tr>
	   <td class="key">
	     Rule:	
	   </td>
	   <td class="val" colspan="3">
		  <a onclick="window.open(this.href,'rule','height=800,width=900,scrollbars=1,resizable=1');return false;" href="<%= url_for :controller => 'rules', :action => 'show', :id => review.rule.key, :layout => 'false' -%>"><%= h(review.rule.name) -%></a>
	   </td>
	</tr>
	<% end %>
	<tr>
	   <td class="key">
	     File:	
	   </td>
	   <td class="val" colspan="3">
		<%= qualifier_icon(@review.resource) -%> 
		<% if !review.on_project? %> <%= @review.project.long_name -%> <%= image_tag 'sep12.png' -%> <% end %>
		<%= link_to_resource(review.resource, review.resource.long_name, { :tab => :violations } ) %>
	   </td>
	 </tr>
  </table>

  <% if review.rule_failure && review.resource_line && review.rule_failure.snapshot %>
    <div class="marginbottom10 marginleft10">
      <%= snapshot_source_to_html(review.rule_failure.snapshot, {:line_range => (review.resource_line-5)..(review.resource_line+5), :highlighted_lines => [review.resource_line]}) -%>
    </div>
  <% end %>

  <div class="discussion">
	 <% if review.rule_failure %>
	   <div class="discussionComment first">
	    <%= h(review.rule_failure.message) -%>
	   </div>
	 <% end %>
	 <% 
	    review.comments.each_with_index do |comment, comment_index| 
	      is_last_comment=(comment_index==review.comments.size-1)
	 %>
	   <div class="discussionComment">
		 <h4>
		   <%= image_tag("reviews/comment.png") -%> &nbsp;<b><%= comment.user.name -%></b> (<%= distance_of_time_in_words_to_now(comment.created_at) -%>)
           <% if is_last_comment && current_user %>
           <span class="actions" id="editActions">
             &nbsp;&nbsp;
             <%= image_tag("sep12.png") -%>
             &nbsp;&nbsp;
             <%= link_to_remote "Add comment",
      		     :url => { :controller => "reviews", :action => "comment_form", :id => review.id },
      		     :update => "reviewForm",
      		     :complete => "$('rActions').hide();$('editActions').hide();$('reviewForm').show();$('commentText').focus();" -%>
             <%
               if current_user.id == comment.user_id
             %>
               &nbsp;
               <%= link_to_remote "Edit", 
                 :url => { :controller => "reviews", :action => "comment_form", :comment_id => comment.id, :id => review.id },
      		     :update => "lastComment",
      		     :complete => "$('rActions').hide();$('editActions').hide();$('commentText').focus();" -%>
      		   <% unless comment_index == 0 %>
               &nbsp;
               <%= link_to_remote "Delete",
      		     :url => { :controller => "reviews", :action => "delete_comment", :comment_id => comment.id, :id => review.id },
      	         :update => "review",
                 :confirm => "Do you want to delete this comment ?" -%>
               <% end %>
             <% 
               end 
             %>
           </span>
           <% end %>
         </h4>
         <% if is_last_comment %>
           <div id="lastComment">
             <%= comment.html_text -%>
           </div>
         <% else %>
           <%= comment.html_text -%>
         <% end %>
	   </div>
	 <% end %>
  </div>
  
  <div class="discussionComment" id="reviewForm" style="display:none"></div>
  
</div>