<div id="rev_<%= review.id -%>">
  <div class="reportTitle">
    <div style="float: right"><span class="violation_date">#<%= review.id.to_s -%></span></div>  
    <h2><%= h(review.title) -%></h2>
    
    <% if current_user && review.status != "CLOSED" %>
    <span class="actions" id="rActions">
        &nbsp;
        <%= image_tag("sep12.png") -%>
        &nbsp;
        <%= link_to_remote (review.assignee_id ? "Reassign" : "Assign"),  
        		:url => { :controller => "reviews", :action => "assign_form", :review_id => review.id},
        		:update => "assignForm",
        		:complete => "$('rActions').hide(); $('commentAction').hide(); $('assignee_id').focus();" -%>
      
        &nbsp;
        <%= link_to_remote ("Flag as false-positive"),
        		:url => { :controller => "reviews", :action => "false_positive_form", :id => review.id },
        		:update => "reviewForm",
        		:complete => "$('rActions').hide(); $('commentAction').hide(); $('reviewForm').show();$('commentText').focus();" -%>
    </span>
    <% end %>
    
  </div>

  <table class="reportDetails">
	 <tr>
	   <td class="key">
	     Status:	
	   </td>
	   <td  class="val">
		<%= image_tag "status/#{review.status}.png" -%> <%= review.status.capitalize -%>
	   </td>
	   <td class="key">
         Severity:
	   </td>
	   <td  class="val">
          <%= image_tag "priority/#{review.severity}.png" -%> <%= review.severity.capitalize -%>
	   </td>
	 </tr>
	 <tr>
	   <td class="key">
	     Assignee:	
	   </td>
	   <td  class="val">
	     <span id="assignForm">
		 <%= review.assignee ? h(review.assignee.name) : '-'-%>
	     </span>
	   </td>
	   <td class="key">
		  Created by:
	   </td>
	   <td  class="val">
  		  <%= h(review.user.name) -%> on <%= l(review.created_at, :format => :long) -%>
	   </td>
	 </tr>
	<% if review.rule %>
   	<tr>
	   <td class="key">
	     Rule:	
	   </td>
	   <td class="val" colspan="3">
		  <a onclick="window.open(this.href,'rule','height=800,width=900,scrollbars=1,resizable=1');return false;" href="<%= url_for :controller => 'rules', :action => 'show', :id => review.rule.key, :layout => 'false' -%>"><%= h(review.rule.name) -%></a>
	   </td>
	</tr>
	<% end %>
	<tr>
	   <td class="key">
	     File:	
	   </td>
	   <td class="val" colspan="3">
		<%= qualifier_icon(@review.resource) -%> 
		<% if !review.on_project? %> <%= @review.project.long_name -%> <%= image_tag 'sep12.png' -%> <% end %>
		<%= link_to_resource(review.resource, review.resource.long_name) %>
	   </td>
	 </tr>
  </table>

  <% if review.rule_failure && review.resource_line && review.rule_failure.snapshot %>
    <div class="marginbottom10">
      <%= snapshot_source_to_html(review.rule_failure.snapshot, {:line_range => (review.resource_line-5)..(review.resource_line+5), :highlighted_lines => [review.resource_line]}) -%>
    </div>
  <% end %>

  <div class="discussion">
	 <% if review.rule_failure %>
	   <div class="discussionComment first">
	    <%= h(review.rule_failure.message) -%>
	   </div>
	 <% end %>
	 <% review.comments.each do |comment| %>
	   <div class="discussionComment">
		 <h4><%= image_tag("reviews/comment.png") -%> &nbsp;<b><%= comment.user.name -%></b> (<%= distance_of_time_in_words_to_now(comment.created_at) -%>)</h4>
	    <%= markdown_to_html(comment.text) -%>
	   </div>
	 <% end %>
  </div>
  
  <% if current_user && review.status != "CLOSED" %>
  <div class="discussionComment" id="reviewForm" style="display:none"></div>
  <div style="padding: 5px" id="commentAction">
    <%= link_to_remote "Add comment",
      		:url => { :controller => "reviews", :action => "comment_form", :id => review.id },
      		:update => "reviewForm",
      		:complete => "$('rActions').hide();$('commentAction').hide();$('reviewForm').show();$('commentText').focus()" -%>
  </div>
  <% end %>
  
</div>