  <div id="review<%= review.id -%>">
	  <div>
      	<b>Review #<%= review.id -%> - <%= h(review.title) -%></b>
      	<br/>
      	<i>Assigned to <%= h(review.assignee.name) -%></i>
      </div>
      
      <div style="margin-top: 10px; margin-left: 20px">
        <% unless review.review_comments.blank?
             last_comment = review.review_comments.last
		     review.review_comments.each do |review_comment|
		%>
        <table style="width:100%; margin-bottom: 3px">
		  <tr style="border: solid 1px grey; background-color: #F7F7F7">
		    <td style="width:180px; vertical-align:top; padding: 2px 2px 2px 10px; font-weight: bold">
				<%= image_tag("user.png") -%> <b><%= h(review_comment.user.name) -%></b>
		    </td>
		    <td style="vertical-align: top; padding: 2px 10px 2px 2px; color: grey; text-align: right; font-style: italic">
		    	<%= l review_comment.created_at -%>
		    </td>
		  </tr>
		  <tr style="border: solid 1px grey;">
		    <td colspan="2" style="padding: 5px;">
		      <% if review_comment == last_comment %>
		        <div id="lastComment<%= review.id -%>">
		          <%= h(review_comment.review_text) -%>
		        </div>
		      <% else %>
		        <%= h(review_comment.review_text) -%>
		      <% end %>
		    </td>
		  </tr>
		</table>
		<% 
		     end
		   end
		%>
      
        <% if current_user %>
           <div style="text-align: right; padding: 5px">
             <% if current_user.id == review.review_comments.last.user_id %>
               <%= image_tag("pencil.png") -%>
               <%= link_to_remote "Edit my last comment", 
                  :url => { :controller => "reviews", :action => "form_comment", 
                            :review_id => review.id, 
                            :rule_failure_permanent_id => review.rule_failure_permanent_id,
                            :review_text => review.review_comments.last.review_text,
                            :update_comment => "true" },
                  :update => "lastComment" + review.id.to_s, 
                  :complete => "$('commentText" + review.id.to_s + "').focus()" -%>
               &nbsp;
             <% end %>
             <%= image_tag("pencil.png") -%>
             <%= link_to_remote "Add a new comment", 
        		:url => { :controller => "reviews", :action => "form_comment", :review_id => review.id, :rule_failure_permanent_id => review.rule_failure_permanent_id },
        		:update => "createComment" + review.id.to_s, 
        		:complete => "$('commentText" + review.id.to_s + "').focus()" -%>
           </div>
           <div id="createComment<%= review.id -%>"></div>
        <% end %>
      </div>

  </div>
