  <div id="review<%= review.id -%>">
	  <div>
      	<b>Review initiated by <%= h(review.user.name) -%></b> - <%= l review.created_at -%>
        <br/>
        Status: <%= h(review.status) -%> / Severity: <%= h(review.severity) -%>      
      </div>
      
      <div style="margin-top: 10px">
        <table style="width:100%">
        <% unless review.review_comments.blank? 
		     review.review_comments.each do |review_comment|
		%>
		  <tr>
		    <td style="width:180px; vertical-align:top; padding: 5px; border:solid 1px grey; background-color: #F7F7F7">
				<%= image_tag("user.png") -%> <b><%= h(review_comment.user.name) -%></b> »
				<br/><%= l review_comment.created_at -%>
		    </td>
		    <td style="vertical-align:top; padding: 5px; border:solid 1px grey; background: white">
		    	<%= h(review_comment.review_text) -%>
		    </td>
		  </tr>
		<% 
		     end
		   end
		%>
		</table>
      
        <% if current_user %>
           <div style="text-align: right; padding: 5px">
             <%= link_to_remote "Add a comment", 
        		:url => { :controller => "reviews", :action => "form_comment", :review_id => review.id, :rule_failure_permanent_id => review.rule_failure_permanent_id },
        		:update => "createComment" + review.id.to_s, 
        		:complete => "$('commentText" + review.id.to_s + "').focus()" -%>
           </div>
           <div id="createComment<%= review.id -%>"></div>
        <% end %>
      </div>

  </div>
