  <div id="review<%= review.id -%>" style="border:solid 1px black; margin:2px">
      User name: <%= h(review.user.name) -%>
      <br/>
      Status: <%= h(review.status) -%>
      <br/>
      Severity: <%= h(review.severity) -%>
      <br/>
      
      <div>
        <% unless review.review_comments.blank? 
		     review.review_comments.each do |review_comment|
		%>
		<div id="commentReview" style="border:solid 1px grey; margin:2px">
		    <%= l review_comment.created_at -%>, by <%= h(review_comment.user.name) -%>
		    » 
		    <%= h(review_comment.review_text) -%>
            <br/>
        </div>
		<% 
		     end
		   end
		%>
      </div>
      
      <%= link_to_remote "Add a comment", 
        		:url => { :controller => "reviews", :action => "form_comment", :review_id => review.id, :rule_failure_id => review.rule_failure_id },
        		:update => "createComment" + review.id.to_s, 
        		:complete => "$('commentText" + review.id.to_s + "').focus()" -%>
      
      <div id="createComment<%= review.id -%>"></div>

  </div>
