<%= image_tag("sep12.png") -%>
&nbsp;&nbsp;
<form method="post"
      onsubmit="if ($('assignee_id').value != '') { new Ajax.Updater('vId<%= params[:violation_id] -%>', '<%= url_for :action => 'violation_assign' -%>', {asynchronous:true, evalScripts:true, parameters:Form.serialize(this)}); };return false;">
  <%= hidden_field_tag :id, params[:violation_id] -%>
  <%= user_autocomplete_field "assignee_id", "" -%>
  &nbsp;&nbsp;
  <%= submit_to_remote "submit_btn", "Assign", 
         :url => { :action => 'violation_assign' },
         :update => "vId" + params[:violation_id],
         :condition => "$('assignee_id').value != ''" -%>
  &nbsp;&nbsp;
  <%= link_to_remote 'Cancel', 
         :url => { :action => 'display_violation', :id => params[:violation_id] },
         :update => "vId" + params[:violation_id] %>
  <script>
  	$('autocompleteText-assignee_id').focus()
  </script>
</form>