<form method="POST"
      onsubmit="new Ajax.Updater('vId<%= params[:id] -%>', '<%= url_for :action => 'violation_change_status' -%>', {asynchronous:true, evalScripts:true, parameters:Form.serialize(this)});return false;">
  <input type="hidden" name="id" value="<%= params[:id] -%>"/>

  <table class="width100">
    <tr>
      <td style="vertical-align:top">
        <textarea id="commentText<%= params[:id] -%>" rows="4" name="text" style="width: 100%"></textarea>
      </td>
      <td class="sep"></td>
      <td style="vertical-align:top;width: 90px">
        <%= render :partial => 'markdown/tips' -%>
      </td>
    </tr>
  </table>

  <div>
    <%= submit_to_remote "submit_btn"+params[:id],
                         @violation.review && @violation.review.resolved? ? message('reviews.reopen_submit') : message('reviews.resolved_submit'),
                         :url => {:action => 'violation_change_status'},
                         :html => {:id => "submit_btn"+params[:id]},
                         :update => 'vId'+params[:id] -%>
    &nbsp;
    <%= link_to_function message('cancel'), "cancelViolationAction(#{params[:id]})" -%>
  </div>
</form>
