<%
   if @violation.switched_off?
     title = message('reviews.why_not_false_positive')
     button = message('reviews.unflag_as_false_positive')
   else
     title = message('reviews.why_false_positive')
     button = message('reviews.flag_as_false_positive')
   end
%>
<form method="POST" action="violation_flag_as_false_positive">
  <input type="hidden" name="id" value="<%= params[:id] -%>"/>
  <input type="hidden" name="false_positive" value="<%= @violation.switched_off? ? 'false' : 'true' -%>"/>

  <h3><%= title -%></h3>
  <table class="width100">
    <tr>
      <td style="vertical-align:top">
        <textarea id="commentText<%= params[:id] -%>" rows="4" name="text" style="width: 100%"></textarea>
      </td>
      <td class="sep"></td>
      <td style="vertical-align:top;width: 90px">
        <%= render :partial => 'markdown/help' -%>
      </td>
    </tr>
  </table>

  <%= submit_to_remote "submit_btn"+params[:id], button, :url => {:action => 'violation_flag_as_false_positive'}, :html => {:id => "submit_btn"+params[:id]}, :update => 'vId'+params[:id] -%>
  &nbsp;
  <%= link_to_function message('cancel'), "cancelViolationAction(#{params[:id]})" -%>
</form>
