<%
  button=(@comment ? message('update_comment') : message('add_comment'))
  
  if @violation.review.nil? || @violation.review.comments.size==0
    # This is the first comment, we must ask for the assignee
    assignee_check_script = "if ($('autocompleteText-assignee_login').value != '' && $('assignee_login').value == '') { alert($('autocompleteText-assignee_login').value + '" + message('reviews.user_does_not_exist') + "'); return false;}"
  end  
%>
<form method="POST"
      onsubmit="<%= assignee_check_script if assignee_check_script -%> new Ajax.Updater('vId<%= params[:id] -%>', '<%= url_for :action => 'violation_save_comment' -%>', {asynchronous:true, evalScripts:true, parameters:Form.serialize(this)});return false;">
  <input type="hidden" name="id" value="<%= params[:id] -%>"/>
  <% if @comment %>
    <input type="hidden" name="comment_id" value="<%= @comment.id -%>"/>
  <% end %>

  <table class="width100">
    <tr>
      <td style="vertical-align:top">
        <textarea id="commentText<%= params[:id] -%>" rows="8" name="text" style="width: 100%" onkeyup="if (this.value=='') $('submit_btn<%= params[:id] -%>').disabled='true'; else $('submit_btn<%= params[:id] -%>').disabled='';"><%= @comment.text if @comment -%></textarea>
        <br/>
        <%= submit_to_remote "submit_btn"+params[:id] , button, 
                  :url => { :action => 'violation_save_comment'}, 
                  :html => { :id => "submit_btn"+params[:id], :disabled => "true" }, 
                  :update => 'vId'+params[:id],
                  :before => assignee_check_script ? assignee_check_script : "" -%>
        &nbsp;
        <%= link_to_remote message('cancel'), :url => {:action => 'display_violation', :id => params[:id]}, :update => 'vId' + params[:id] -%>

        <% if @violation.review.nil? || @violation.review.comments.size==0 %>
          &nbsp;&nbsp;
          <span><%= message('assignee') -%>:</span>
          <%= user_autocomplete_field "assignee_login", current_user.login -%>
        <% end %>
      </td>
      <td class="sep"></td>
      <td style="vertical-align:top;width: 90px">
        <%= render :partial => 'markdown/help' -%>
      </td>
    </tr>
  </table>
</form>
