<form method="POST" action="violation_change_severity">
  <input type="hidden" name="id" value="<%= params[:id] -%>"/>

  <%= message('reviews.new_severity_label') -%>
  <select name="severity" class="withIcons" id="selectSeverity<%= params[:id] -%>">
    <% Severity::KEYS.each do |severity| %>
      <option class="sev_<%= severity -%>" value="<%= severity -%>" <%= 'selected' if severity==Severity::MAJOR -%>><%= message("severity.#{severity}") -%></option>
    <% end %>
  </select>

  <table class="width100">
    <tr>
      <td style="vertical-align:top">
        <textarea id="commentText<%= params[:id] -%>" rows="4" name="text" style="width: 100%"></textarea>
      </td>
      <td class="sep"></td>
      <td style="vertical-align:top;width: 90px">
        <%= render :partial => 'markdown/help' -%>
      </td>
    </tr>
  </table>
  <input type="button" value="<%= h message('reviews.change_severity_submit') -%>" onclick="new Ajax.Updater('vId<%= params[:id] -%>', '<%= ApplicationController.root_context -%>/reviews/violation_change_severity', {asynchronous:true, evalScripts:true, parameters:Form.serialize(this.form)});" name="submit_severity" id="submit_btn<%= params[:id] -%>">
  &nbsp;
  <%= link_to_function message('cancel'), "cancelViolationAction(#{params[:id]})" -%>
</form>
