<%
  assignee_check_script = "if ($('autocompleteText-assignee_login').value != '' && $('assignee_login').value == '') { alert($('autocompleteText-assignee_login').value + '" + message('reviews.user_does_not_exist') + "'); return false;}"
%>

<form method="post"
      onsubmit="<%= assignee_check_script -%> new Ajax.Updater('vId<%= params[:violation_id] -%>', '<%= url_for :action => 'violation_assign' -%>', {asynchronous:true, evalScripts:true, parameters:Form.serialize(this)}); return false;">
  <%= hidden_field_tag :id, params[:violation_id] -%>
  <%= user_autocomplete_field "assignee_login", "" -%>
  &nbsp;&nbsp;
  <%= submit_to_remote "submit_btn", message('assign'), 
         :url => { :action => 'violation_assign' },
         :update => "vId" + params[:violation_id],
         :before => assignee_check_script -%>
  &nbsp;&nbsp;
  <%= link_to_remote message('cancel'), 
         :url => { :action => 'display_violation', :id => params[:violation_id] },
         :update => "vId" + params[:violation_id] %>
  <script>
  	$('autocompleteText-assignee_login').focus()
  </script>
</form>