<% content_for :style do %>
  <style>
    #search-form select {
      width: 100%;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
    }
  </style>
<% end %>
<% content_for :script do %>
  <script>
  
  function reviewIdFieldModified(field) {
    if (field.value != '') {
      $('statuses').value = '';
      $('severities').value = '';
      $('projects').value = '';
      $('author_login').value = '';
      $('autocompleteText-author_login').value = '';
      $('assignee_login').value = '';
      $('autocompleteText-assignee_login').value = '';
      $('false_positives').value = 'with';
    }
  }
  function launchSearch(columnName) {
    $('sort').value = columnName;
    if ($('asc').value == "true") {
      $('asc').value = "false";
    } else {
      $('asc').value = "true";
    }
    document.forms[0].submit();
  }
  
  </script>
<% end %>

<div id="reviews-search">
  <div class="page-split-left">
    <form id="search-form" method="GET" action="<%= ApplicationController.root_context -%>/reviews/index">
      <ul class="sidebar gray-sidebar">
        <li>
          <%= message('identifier_abbreviated') -%>:
          <br/>
          <%= text_field_tag "review_id", @id, :size => 10, :onkeyup => "reviewIdFieldModified(this)" -%>
        </li>
        <li>
          <%= message('status') -%>:
          <br/>
          <select size="5" name="statuses[]" multiple="multiple" id="statuses" class="withIcons">
            <option <%= 'selected' if @statuses.include?('') -%> value=""><%= message('any') -%></option>
            <option value="<%= Review::STATUS_OPEN -%>" class="status_open" <%= 'selected' if @statuses.include?(Review::STATUS_OPEN) -%>><%= message('reviews.status.OPEN') -%></option>
            <option value="<%= Review::STATUS_REOPENED -%>" class="status_reopened" <%= 'selected' if @statuses.include?(Review::STATUS_REOPENED) -%>><%= message('reviews.status.REOPENED') -%></option>
            <option value="<%= Review::STATUS_RESOLVED -%>" class="status_resolved" <%= 'selected' if @statuses.include?(Review::STATUS_RESOLVED) -%>><%= message('reviews.status.RESOLVED') -%></option>
            <option value="<%= Review::STATUS_CLOSED -%>" class="status_closed" <%= 'selected' if @statuses.include?(Review::STATUS_CLOSED) -%>><%= message('reviews.status.CLOSED') -%></option>
          </select>
        </li>
        <li>
          <%= message('severity') -%>:
          <br/>
          <select size="6" name="severities[]" multiple="multiple" id="severities" class="withIcons">
            <option <%= 'selected' if @severities.include?('') -%> value=""><%= message('any') -%></option>
            <option value="<%= Severity::BLOCKER -%>" class="sev_BLOCKER" <%= 'selected' if @severities.include?(Severity::BLOCKER) -%>><%= message('blocker') -%></option>
            <option value="<%= Severity::CRITICAL -%>" class="sev_CRITICAL" <%= 'selected' if @severities.include?(Severity::CRITICAL) -%>><%= message('critical') -%></option>
            <option value="<%= Severity::MAJOR -%>" class="sev_MAJOR" <%= 'selected' if @severities.include?(Severity::MAJOR) -%>><%= message('major') -%></option>
            <option value="<%= Severity::MINOR -%>" class="sev_MINOR" <%= 'selected' if @severities.include?(Severity::MINOR) -%>><%= message('minor') -%></option>
            <option value="<%= Severity::INFO -%>" class="sev_INFO" <%= 'selected' if @severities.include?(Severity::INFO) -%>><%= message('info') -%></option>
          </select>
        </li>
        <li>
          <%= message('project') -%>:
          <br/>
          <select size="6" name="projects[]" multiple="multiple" id="projects">
            <option <%= 'selected' if @projects.include?('') -%> value=""><%= message('any') -%></option>
            <% projects_for_select.each do |project|
              name=project.name(true)
            %>
              <option value="<%= project.id -%>" title="<%= h(name) -%>" <%= 'selected' if @projects.include?(project.id.to_s) -%>><%= h(truncate(name, :length => 20)) -%></option>
            <% end %>
          </select>
        </li>
        <li>
          <%= message('created_by') -%>:
          <br/>
          <%= user_autocomplete_field "author_login", @author_login -%>
        </li>
        <li>
          <%= message('assigned_to') -%>:
          <br/>
          <%= user_autocomplete_field "assignee_login", @assignee_login -%>
        </li>
        <li>
          <select name="false_positives" id="false_positives" onchange="if(this.value=='only' || this.value=='with') {$('assignee_login').value = ''; $('autocompleteText-assignee_login').value = ''; $('statuses').value = '';};">
            <option <%= 'selected' if @false_positives=='without' -%> value="without"><%= message('reviews.without_false_positives') -%></option>
            <option <%= 'selected' if @false_positives=='only' -%> value="only"><%= message('reviews.only_false_positives') -%></option>
          </select>
        </li>
        <li>
          <input type="hidden" name="sort" id="sort" value="<%= @sort -%>"/>
          <input type="hidden" name="asc" id="asc" value="<%= @asc -%>"/>
          <br/>
          <%= submit_tag message('search_verb'), :id => 'submit_search' %>
        </li>
      </ul>
    </form>
  </div>
  <div class="page-split-right">
    <div id="content">
      <% if @false_positives=='only' %>
        <span class="falsePositive"><%= message('reviews.showing_false_positives_only') -%></span>
      <% end %>
      <%= render :partial => "list" -%>
    </div>
  </div>
</div>

<script>
  $j('#review_id').focus();
</script>