<script>
function reviewIdFieldModified(field) {
  if (field.value!='') {
    $('statuses').value = ''
    $('severities').value = ''
    $('projects').value = ''
    $('author_id').value = ''
    $('autocompleteText-author_id').value = ''
    $('assignee_id').value = ''
    $('autocompleteText-assignee_id').value = ''  
    $('false_positives').value = 'with'  
  }
}
function launchSearch(columnName, link) {
  $('sort').value = columnName
  if ($('asc').value == "true") {
    $('asc').value = "false";
  } else {
    $('asc').value = "true";
  }
  document.forms[0].submit()
}
</script>
<div id="reviews-search">
  <h1>Reviews</h1>
  <% form_tag({:action => 'index'}, {:method => 'get'}) do %>
    <table id="reviews-form" class="header1">
      <thead>
      <tr>
        <th colspan="6"></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td width="1%" nowrap>
          <span class="note">Status</span><br/>
          <select size="6" name="statuses[]" multiple="multiple" id="statuses" class="withIcons">
            <option <%= 'selected' if @statuses.include?('') -%> value="">Any</option>
            <option value="<%= Review::STATUS_OPEN -%>" class="status_open" <%= 'selected' if @statuses.include?(Review::STATUS_OPEN) -%>>Open</option>
            <option value="<%= Review::STATUS_CLOSED -%>" class="status_closed" <%= 'selected' if @statuses.include?(Review::STATUS_CLOSED) -%>>Closed</option>
          </select>
        </td>
        <td width="1%" nowrap>
          <span class="note">Severity</span><br/>
          <select size="6" name="severities[]" multiple="multiple" id="severities" class="withIcons">
            <option <%= 'selected' if @severities.include?('') -%> value="">Any</option>
            <option value="<%= Severity::BLOCKER -%>" class="sev_BLOCKER" <%= 'selected' if @severities.include?(Severity::BLOCKER) -%>>Blocker</option>
            <option value="<%= Severity::CRITICAL -%>" class="sev_CRITICAL" <%= 'selected' if @severities.include?(Severity::CRITICAL) -%>>Critical</option>
            <option value="<%= Severity::MAJOR -%>" class="sev_MAJOR" <%= 'selected' if @severities.include?(Severity::MAJOR) -%>>Major</option>
            <option value="<%= Severity::MINOR -%>" class="sev_MINOR" <%= 'selected' if @severities.include?(Severity::MINOR) -%>>Minor</option>
            <option value="<%= Severity::INFO -%>" class="sev_INFO" <%= 'selected' if @severities.include?(Severity::INFO) -%>>Info</option>
           </select>
        </td>
        <td width="1%" nowrap>
          <span class="note">Project</span><br/>
          <select size="6" name="projects[]" multiple="multiple" id="projects">
            <option <%= 'selected' if @projects.include?('') -%> value="">Any</option>
            <% projects_for_select.each do |project|
              name=project.name(true)
            %>
              <option value="<%= project.id -%>" title="<%= h(name) -%>" <%= 'selected' if @projects.include?(project.id.to_s) -%>><%= h(truncate(name, :length => 20)) -%></option>
            <% end %>
          </select>
        </td>
        <td width="1%" nowrap>
          <span class="note">Created by</span><br/>
          <%= user_autocomplete_field "author_id", @author_id, { :class => "max-width" } -%>
          <br/>
          <span class="note">Assigned to</span><br/>
          <%= user_autocomplete_field "assignee_id", @assignee_id, { :class => "max-width" } -%>
          <br/>
          <br/>
          <select name="false_positives" id="false_positives" class="withIcons" onchange="if(this.value=='only' || this.value=='with') {$('assignee_id').value = ''; $('autocompleteText-assignee_id').value = '';};">
            <option <%= 'selected' if @false_positives=='without' -%> value="without" class="sel-without-false-positives">Without false positives</option>
            <option <%= 'selected' if @false_positives=='only' -%> value="only" class="sel-only-false-positives">Only false positives</option>
            <option <%= 'selected' if @false_positives=='with' -%> value="with" class="sel-with-false-positives">With false positives</option>
          </select>
        </td>
        <td width="1%" style="padding-left: 20px" nowrap>
          <span class="note">Id</span><br/>
          <%= text_field_tag "review_id", @id, :size => 10, :onkeyup => "reviewIdFieldModified(this)" -%>
          <br/>
          <br/>
          <br/>
          <br/>
          <div style="width:100%; text-align: right">
          <input type="hidden" name="sort" id="sort" value="<%= @sort -%>"/>
          <input type="hidden" name="asc" id="asc" value="<%= @asc -%>"/>
          <%= submit_tag "Search", :id => 'submit_search' %>
          </div>
        </td>
        <td>
        </td>
      </tr>
      </tbody>
    </table>
  <% end %>


  <%
     if @reviews && !@reviews.empty?
  %>
    <table id="reviews-list" class="data width100">
      <thead>
      <tr>
        <th width="1%" nowrap>
          <a href="#" onClick="launchSearch('status', this)">St.</a>
          <%= image_tag(@asc ? "asc12.png" : "desc12.png") if @sort == 'status' -%>
        </th>
        <th width="1%" nowrap>
          <a href="#" onClick="launchSearch('id', this)">Id</a>
          <%= image_tag(@asc ? "asc12.png" : "desc12.png") if @sort == 'id' -%>
        </th>
        <th width="1%" nowrap>
          <a href="#" onClick="launchSearch('severity', this)">Se.</a>
          <%= image_tag(@asc ? "asc12.png" : "desc12.png") if @sort == 'severity' -%>
        </th>
        <th>
          <a href="#" onClick="launchSearch('title', this)">Title</a>
          <%= image_tag(@asc ? "asc12.png" : "desc12.png") if @sort == 'title' -%>
        </th>
        <th width="1%">Project</th>
        <th>Assignee</th>
        <th>
          <a href="#" onClick="launchSearch('updated_at', this)">Age</a>
          <%= image_tag(@asc ? "asc12.png" : "desc12.png") if @sort == 'updated_at' -%>
        </th>

      </tr>
      </thead>
      <tfoot>
      <tr>
        <td colspan="6"><%= @reviews.size -%> results
      </tr>
      </tfoot>
      <tbody>
      <%
         @reviews.each do |review|
           comment = review.comments.last
      %>
        <tr class="<%= cycle('even', 'odd') -%>">
          <td><img src="<%= ApplicationController.root_context -%>/images/status/<%= review.status -%>.png" title="<%= review.status.capitalize -%>"/></td>
          <td>
            <%= link_to h(review.id), :controller => "reviews", :action => "view", :id => review.id -%>
          </td>
          <td><img src="<%= ApplicationController.root_context -%>/images/priority/<%= review.severity -%>.png" title="<%= review.severity.capitalize -%>"/></td>
          <td>
            <%= link_to h(review.title), :controller => "reviews", :action => "view", :id => review.id -%>
            <div class="comment-excerpt">
              <img src="<%= ApplicationController.root_context -%>/images/reviews/<%= review.false_positive ? "false_positive" : "comment" -%>.png" title="<%= 'False positive' if review.false_positive -%>"/>
              &nbsp;<b><%= comment.user.name -%> :</b> 
              <%= comment.excerpt -%>
	        </div>            
          </td>
          <td><%= review.project.name -%>
            <br/><span class="note"><%= review.resource.long_name -%></span></td>
          <td><%= review.assignee ? h(review.assignee.name) : '-' -%></td>
          <td><%= distance_of_time_in_words_to_now(review.updated_at) -%></td>
        </tr>
      <%
         end
      %>
      </tbody>
    </table>
  <%
     elsif @reviews
  %>
    <p>No results</p>
  <%
     end
  %>
  
  <% if @security_exclusions %>
    <br/>
    <p class="notes">Due to security settings, some results are not being displayed.</p>
  <% end %>
  
</div>

<script>
  $('review_id').focus();
</script>