<h3><%= message('help_tips') -%></h3>
<table>
  <tr>
    <td>*<%= message('bold') -%>*</td>
    <td class="sep"></td>
    <td><b><%= message('bold') -%></b></td>
  </tr>
  <tr>
    <td>``<%= message('code') -%>``</td>
    <td class="sep"></td>
    <td><code><%= message('code') -%></code></td>
  </tr>
  <tr>
    <td colspan="3">* <%= message('bulleted_point') -%></td>
  </tr>
</table>