<div class="note" style="text-align: right; float: right;">
  (<a onclick="window.open(this.href,'markdown','height=800,width=900,scrollbars=1,resizable=1');return false;" 
     href="<%= url_for :controller => 'markdown', :action => 'full_help', :layout => 'false' -%>"><%= message('more') -%></a>)
</div>
<div style="min-width: 100px">
<h3><%= message('help_tips') -%> </h3>
<br/>
<table>
  <tr>
    <td>*<%= message('bold') -%>*</td>
    <td class="sep"></td>
    <td><b><%= message('bold') -%></b></td>
  </tr>
  <tr>
    <td>``<%= message('code') -%>``</td>
    <td class="sep"></td>
    <td><code><%= message('code') -%></code></td>
  </tr>
  <tr>
    <td colspan="3">* <%= message('bulleted_point') -%></td>
  </tr>
</table>
</div>