<div class="markdown-tips">
  <a href="<%= ApplicationController.root_context -%>/markdown/help" onclick="$j(this).openModal();return false;"><%= message('markdown.helplink')-%></a> :
  &nbsp; *<%= message('bold') -%>*  &nbsp;&nbsp; ``<%= message('code') -%>``  &nbsp;&nbsp; * <%= message('bulleted_point') -%>
</div>