<form id="permission-template-form" autocomplete="off">
  <div class="modal-head">
    <h2>{{#if id}}{{t 'permission_template.edit_template'}}{{else}}{{t 'permission_template.new_template'}}{{/if}}</h2>
  </div>
  <div class="modal-body">
    <div class="js-modal-messages"></div>

    <div class="modal-field">
      <label for="permission-template-name">{{t 'name'}}<em class="mandatory">*</em></label>
      <input id="permission-template-name" name="name" type="text" maxlength="256" required value="{{name}}">
      <div class="modal-field-description">
        {{t 'should_be_unique'}}
      </div>
    </div>

    <div class="modal-field">
      <label for="permission-template-description">{{t 'description'}}</label>
      <textarea id="permission-template-description" name="description" maxlength="4000" rows="5">{{description}}</textarea>
    </div>

    <div class="modal-field">
      <label for="permission-template-project-key-pattern">{{t 'permission_template.key_pattern'}}</label>
      <input id="permission-template-project-key-pattern" name="keyPattern" type="text" maxlength="500"
             value="{{projectKeyPattern}}">
      <div class="modal-field-description">
        {{t 'permission_template.key_pattern.description'}}
      </div>
    </div>
  </div>
  <div class="modal-foot">
    <button id="permission-template-submit">{{#if id}}{{t 'update_verb'}}{{else}}{{t 'create'}}{{/if}}</button>
    <a href="#" class="js-modal-close" id="permission-template-cancel">{{t 'cancel'}}</a>
  </div>
</form>
