<li>
  <label title="{{text}}" data-id="{{id}}">
    <span>
      <i class="icon-checkbox {{#if checked}}icon-checkbox-checked{{/if}} {{#unless multiple}}icon-checkbox-single{{/unless}}"></i>
      {{#if icon}}<i class="icon-{{icon}}"></i>{{/if}}
      {{text}}
    </span>
    {{#if category}}
      <br>
      <span>
        <i class="icon-checkbox icon-checkbox-invisible"></i>
        <span class="note">{{category}}</span>
      </span>
    {{/if}}
  </label>
</li>
