<style>
#maintenance {
  padding: 10px;
  border: 2px solid #4B9FD5;
  background-color: #CAE3F2;
}
#maintenancelogo {
  float: right;
  padding-left: 20px;
}
</style>

<div id="maintenance">
<div id="maintenancelogo"><a href="http://www.sonarsource.org"><%= image_tag('sonar.png', :class => 'png') -%></a></div>
<h1><%= message('maintenance.sonar_is_under_maintenance') -%> <a href="<%= ApplicationController.root_context -%>/"><%= message('maintenance.please_check_back_later') -%></a></h1>
<%= message('maintenance.more_information') -%>
</div>