<table class="source-viewer-measures">
<tr>
{{#unless isUnitTest}}
  <td class="source-viewer-measures-section">
    <div class="measures">
      <div class="measures-chart">
        <span class="js-pie-chart"
              data-value="{{measures.ncloc}}"
              data-max="{{measures.lines}}"
              data-size="70"></span>
      </div>
      <div class="measures-list">
        <div class="measure measure-big" data-metric="ncloc">
          <span class="measure-name">{{t 'metric.ncloc.name'}}</span>
          <span class="measure-value">{{measures.ncloc}}</span>
        </div>
        <div class="measure measure-one-line" data-metric="lines">
          <span class="measure-name">{{t 'metric.lines.name'}}</span>
          <span class="measure-value">{{measures.lines}}</span>
        </div>
      </div>
    </div>

    {{#any measures.generated_ncloc measures.generated_lines}}
      <div class="measures">
        <div class="measures-list">
          {{#if measures.generated_ncloc}}
            <div class="measure measure-one-line" data-metric="generated_ncloc">
              <span class="measure-name">{{t 'metric.generated_ncloc.name'}}</span>
              <span class="measure-value">{{measures.generated_ncloc}}</span>
            </div>
          {{/if}}
          {{#if measures.generated_lines}}
            <div class="measure measure-one-line" data-metric="generated_lines">
              <span class="measure-name">{{t 'metric.generated_lines.name'}}</span>
              <span class="measure-value">{{measures.generated_lines}}</span>
            </div>
          {{/if}}
        </div>
      </div>
    {{/any}}

    <div class="measures measures-duplex">
      <div class="measures-list">
        <div class="measure measure-one-line" data-metric="classes">
          <span class="measure-name">{{t 'metric.classes.name'}}</span>
          <span class="measure-value">{{measures.classes}}</span>
        </div>
        <div class="measure measure-one-line" data-metric="functions">
          <span class="measure-name">{{t 'metric.functions.name'}}</span>
          <span class="measure-value">{{measures.functions}}</span>
        </div>
      </div>
      <div class="measures-list">
        <div class="measure measure-one-line" data-metric="accessors">
          <span class="measure-name">{{t 'metric.accessors.name'}}</span>
          <span class="measure-value">{{measures.accessors}}</span>
        </div>
        <div class="measure measure-one-line" data-metric="statements">
          <span class="measure-name">{{t 'metric.statements.name'}}</span>
          <span class="measure-value">{{measures.statements}}</span>
        </div>
      </div>
    </div>

    <div class="measures">
      <div class="measures-chart">
        <span class="js-pie-chart"
              data-value="{{measures.comment_lines_density_raw}}"
              data-max="100"
              data-size="40"></span>
      </div>
      <div class="measures-list">
        <div class="measure-container">
          <div class="measure measure-one-line" data-metric="comment_lines_density">
            <span class="measure-name">Comments</span>
            <span class="measure-value">{{measures.comment_lines_density}}</span>
          </div>
          <div class="measure measure-one-line" data-metric="comment_lines">
            <span class="measure-name">{{t 'metric.comment_lines.name'}}</span>
            <span class="measure-value">{{measures.comment_lines}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="measures">
      <div class="measures-list">
        <div class="measure measure-one-line" data-metric="public_api">
          <span class="measure-name">{{t 'metric.public_api.name'}}</span>
          <span class="measure-value">{{measures.public_api}}</span>
        </div>
        <div class="measure measure-one-line" data-metric="public_documented_api_density">
          <span class="measure-name">{{t 'metric.public_documented_api_density.name'}}</span>
          <span class="measure-value">{{measures.public_documented_api_density}}</span>
        </div>
        <div class="measure measure-one-line" data-metric="public_undocumented_api">
          <span class="measure-name">{{t 'metric.public_undocumented_api.name'}}</span>
          <span class="measure-value">{{measures.public_undocumented_api}}</span>
        </div>
      </div>
    </div>

    <div class="measures">
      <div class="measures-list">
        <div class="measure measure-one-line" data-metric="complexity">
          <span class="measure-name">{{t 'metric.complexity.name'}}</span>
          <span class="measure-value">{{measures.complexity}}</span>
        </div>
        <div class="measure measure-one-line" data-metric="function_complexity">
          <span class="measure-name">{{t 'metric.function_complexity.name'}}</span>
          <span class="measure-value">{{measures.function_complexity}}</span>
        </div>
      </div>
    </div>
  </td>
{{/unless}}

<td class="source-viewer-measures-section">
  {{#notNull measures.fDebt}}
    <div class="measures">
      {{#notNull measures.fSqaleRating}}
        <div class="measures-chart" data-metric="sqale_rating">
          <span class="rating rating-{{measures.sqale_rating}}">{{measures.sqale_rating}}</span>
        </div>
      {{/notNull}}
      <div class="measures-list">
        <div class="measure measure-big" data-metric="sqale_index">
          <span class="measure-name">{{t 'metric.sqale_index.short_name'}}</span>
          <span class="measure-value">{{measures.sqale_index}}</span>
        </div>
      </div>
    </div>
  {{/notNull}}
  <div class="measures measures-duplex">
    <div class="measures-list">
      <div class="measure measure-one-line" data-metric="violations">
        <span class="measure-name">Issues</span>
        <span class="measure-value">{{measures.violations}}</span>
      </div>
    </div>
    {{#notNull measures.fSqaleDebtRatio}}
      <div class="measures-list">
        <div class="measure measure-one-line" data-metric="sqale_debt_ratio">
          <span class="measure-name">{{t 'metric.sqale_debt_ratio.short_name'}}</span>
          <span class="measure-value">{{measures.sqale_debt_ratio}}</span>
        </div>
      </div>
    {{/notNull}}
  </div>
  {{#gt measures.fIssues 0}}
    <div class="measures measures-duplex">
      <div class="measures-list">
        <div class="measure measure-one-line" data-metric="blocker_violations">
          <span class="measure-name">{{severityIcon 'BLOCKER'}}&nbsp;{{t 'severity.BLOCKER'}}</span>
          <span class="measure-value">{{default measures.blocker_violations 0}}</span>
        </div>
        <div class="measure measure-one-line" data-metric="critical_violations">
          <span class="measure-name">{{severityIcon 'CRITICAL'}}&nbsp;{{t 'severity.CRITICAL'}}</span>
          <span class="measure-value">{{default measures.critical_violations 0}}</span>
        </div>
        <div class="measure measure-one-line" data-metric="major_violations">
          <span class="measure-name">{{severityIcon 'MAJOR'}}&nbsp;{{t 'severity.MAJOR'}}</span>
          <span class="measure-value">{{default measures.major_violations 0}}</span>
        </div>
      </div>
      <div class="measures-list">
        <div class="measure measure-one-line" data-metric="minor_violations">
          <span class="measure-name">{{severityIcon 'MINOR'}}&nbsp;{{t 'severity.MINOR'}}</span>
          <span class="measure-value">{{default measures.minor_violations 0}}</span>
        </div>
        <div class="measure measure-one-line" data-metric="info_violations">
          <span class="measure-name">{{severityIcon 'INFO'}}&nbsp;{{t 'severity.INFO'}}</span>
          <span class="measure-value">{{default measures.info_violations 0}}</span>
        </div>
      </div>
    </div>
  {{/gt}}
</td>

{{#unless isUnitTest}}
  <td class="source-viewer-measures-section">
  {{#all measures.coverage measures.it_coverage}}
    <div class="measures">
      <div class="measures-chart">
          <span class="js-pie-chart"
                data-value="{{measures.coverage_raw}}"
                data-max="100"
                data-color="#85bb43"
                data-size="70"></span>
      </div>
      <div class="measures-list">
        <div class="measure" data-metric="coverage">
          <span class="measure-name">{{t 'metric.coverage.name'}}</span>
          <span class="measure-value">{{measures.coverage}}</span>
        </div>
      </div>
    </div>

    <div class="measures">
      <div class="measures-chart">
          <span class="js-pie-chart"
                data-value="{{measures.line_coverage_raw}}"
                data-max="100"
                data-color="#85bb43"
                data-base-color="#d4333f"
                data-size="40"></span>
      </div>
      <div class="measures-list">
        <div class="measure" data-metric="line_coverage">
          <span class="measure-name">{{t 'metric.line_coverage.name'}}</span>
          <span class="measure-value">{{measures.line_coverage}}</span>
        </div>
        <div class="measure" data-metric="lines_to_cover">
          <span class="measure-name">{{t 'metric.lines_to_cover.name'}}</span>
          <span class="measure-value">{{measures.lines_to_cover}}</span>
        </div>
        <div class="measure" data-metric="uncovered_lines">
          <span class="measure-name">{{t 'metric.uncovered_lines.name'}}</span>
          <span class="measure-value">{{measures.uncovered_lines}}</span>
        </div>
      </div>
    </div>

    <div class="measures">
      <div class="measures-chart">
          <span class="js-pie-chart"
                data-value="{{measures.branch_coverage_raw}}"
                data-max="100"
                data-color="#85bb43"
                data-base-color="#d4333f"
                data-size="40"></span>
      </div>
      <div class="measures-list">
        <div class="measure" data-metric="branch_coverage">
          <span class="measure-name">{{t 'metric.branch_coverage.name'}}</span>
          <span class="measure-value">{{measures.branch_coverage}}</span>
        </div>
        <div class="measure" data-metric="conditions_to_cover">
          <span class="measure-name">{{t 'metric.conditions_to_cover.name'}}</span>
          <span class="measure-value">{{measures.conditions_to_cover}}</span>
        </div>
        <div class="measure" data-metric="uncovered_conditions">
          <span class="measure-name">{{t 'metric.uncovered_conditions.name'}}</span>
          <span class="measure-value">{{measures.uncovered_conditions}}</span>
        </div>
      </div>
    </div>
    <div class="measures">
      <div class="measures-chart">
          <span class="js-pie-chart"
                data-value="{{measures.it_coverage_raw}}"
                data-max="100"
                data-color="#85bb43"
                data-size="70"></span>
      </div>
      <div class="measures-list">
        <div class="measure" data-metric="it_coverage">
          <span class="measure-name">{{t 'metric.coverage.name'}}</span>
          <span class="measure-value">{{measures.it_coverage}}</span>
        </div>
      </div>
    </div>

    <div class="measures">
      <div class="measures-chart">
          <span class="js-pie-chart"
                data-value="{{measures.it_line_coverage_raw}}"
                data-max="100"
                data-color="#85bb43"
                data-base-color="#d4333f"
                data-size="40"></span>
      </div>
      <div class="measures-list">
        <div class="measure" data-metric="it_line_coverage">
          <span class="measure-name">{{t 'metric.line_coverage.name'}}</span>
          <span class="measure-value">{{measures.it_line_coverage}}</span>
        </div>
        <div class="measure" data-metric="it_lines_to_cover">
          <span class="measure-name">{{t 'metric.lines_to_cover.name'}}</span>
          <span class="measure-value">{{measures.it_lines_to_cover}}</span>
        </div>
        <div class="measure" data-metric="it_uncovered_lines">
          <span class="measure-name">{{t 'metric.uncovered_lines.name'}}</span>
          <span class="measure-value">{{measures.it_uncovered_lines}}</span>
        </div>
      </div>
    </div>

    <div class="measures">
      <div class="measures-chart">
          <span class="js-pie-chart"
                data-value="{{measures.it_branch_coverage_raw}}"
                data-max="100"
                data-color="#85bb43"
                data-base-color="#d4333f"
                data-size="40"></span>
      </div>
      <div class="measures-list">
        <div class="measure" data-metric="it_branch_coverage">
          <span class="measure-name">{{t 'metric.branch_coverage.name'}}</span>
          <span class="measure-value">{{measures.it_branch_coverage}}</span>
        </div>
        <div class="measure" data-metric="it_conditions_to_cover">
          <span class="measure-name">{{t 'metric.conditions_to_cover.name'}}</span>
          <span class="measure-value">{{measures.it_conditions_to_cover}}</span>
        </div>
        <div class="measure" data-metric="it_uncovered_conditions">
          <span class="measure-name">{{t 'metric.uncovered_conditions.name'}}</span>
          <span class="measure-value">{{measures.it_uncovered_conditions}}</span>
        </div>
      </div>
    </div>
  {{/all}}

  {{#if measures.overall_coverage}}
    <div class="measures">
      <div class="measures-chart">
          <span class="js-pie-chart"
                data-value="{{measures.overall_coverage_raw}}"
                data-max="100"
                data-color="#85bb43"
                data-size="70"></span>
      </div>
      <div class="measures-list">
        <div class="measure measure-big" data-metric="overall_coverage">
          <span class="measure-name">{{t 'metric.coverage.name'}}</span>
          <span class="measure-value">{{measures.overall_coverage}}</span>
        </div>
      </div>
    </div>

    <div class="measures">
      <div class="measures-chart">
          <span class="js-pie-chart"
                data-value="{{measures.overall_line_coverage_raw}}"
                data-max="100"
                data-color="#85bb43"
                data-base-color="#d4333f"
                data-size="40"></span>
      </div>
      <div class="measures-list">
        <div class="measure-container">
          <div class="measure" data-metric="overall_line_coverage">
            <span class="measure-name">{{t 'metric.line_coverage.name'}}</span>
            <span class="measure-value">{{measures.overall_line_coverage}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="measures">
      <div class="measures-list">
        <div class="measure measure-one-line" data-metric="overall_lines_to_cover">
          <span class="measure-name">{{t 'metric.lines_to_cover.name'}}</span>
          <span class="measure-value">{{measures.overall_lines_to_cover}}</span>
        </div>
        <div class="measure measure-one-line" data-metric="overall_uncovered_lines">
          <span class="measure-name">{{t 'metric.uncovered_lines.name'}}</span>
          <span class="measure-value">{{measures.overall_uncovered_lines}}</span>
        </div>
      </div>
    </div>

    <div class="measures">
      <div class="measures-chart">
          <span class="js-pie-chart"
                data-value="{{measures.overall_branch_coverage_raw}}"
                data-max="100"
                data-color="#85bb43"
                data-base-color="#d4333f"
                data-size="40"></span>
      </div>
      <div class="measures-list">
        <div class="measure-container">
          <div class="measure" data-metric="overall_branch_coverage">
            <span class="measure-name">{{t 'metric.branch_coverage.name'}}</span>
            <span class="measure-value">{{measures.overall_branch_coverage}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="measures">
      <div class="measures-list">
        <div class="measure measure-one-line" data-metric="overall_conditions_to_cover">
          <span class="measure-name">{{t 'metric.conditions_to_cover.name'}}</span>
          <span class="measure-value">{{measures.overall_conditions_to_cover}}</span>
        </div>
        <div class="measure measure-one-line" data-metric="overall_uncovered_conditions">
          <span class="measure-name">{{t 'metric.uncovered_conditions.name'}}</span>
          <span class="measure-value">{{measures.overall_uncovered_conditions}}</span>
        </div>
      </div>
    </div>
  {{/if}}
  </td>
{{/unless}}

{{#if isUnitTest}}
  <td class="source-viewer-measures-section">
    <div class="measures">
      <div class="measures-list">
        <div class="measure measure-big" data-metric="tests">
          <span class="measure-name">{{t 'metric.tests.name'}}</span>
          <span class="measure-value">{{measures.tests}}</span>
        </div>
        {{#notNull measures.test_success_density}}
          <div class="measure measure-one-line" data-metric="test_success_density">
            <span class="measure-name">{{t 'metric.test_success_density.name'}}</span>
            <span class="measure-value">{{measures.test_success_density}}</span>
          </div>
        {{/notNull}}
        {{#notNull measures.test_failures}}
          <div class="measure measure-one-line" data-metric="test_failures">
            <span class="measure-name">{{t 'metric.test_failures.name'}}</span>
            <span class="measure-value">{{measures.test_failures}}</span>
          </div>
        {{/notNull}}
        {{#notNull measures.test_errors}}
          <div class="measure measure-one-line" data-metric="test_errors">
            <span class="measure-name">{{t 'metric.test_errors.name'}}</span>
            <span class="measure-value">{{measures.test_errors}}</span>
          </div>
        {{/notNull}}
        {{#notNull measures.skipped_tests}}
          <div class="measure measure-one-line" data-metric="skipped_tests">
            <span class="measure-name">{{t 'metric.skipped_tests.name'}}</span>
            <span class="measure-value">{{measures.skipped_tests}}</span>
          </div>
        {{/notNull}}
        {{#notNull measures.test_execution_time}}
          <div class="measure measure-one-line" data-metric="test_execution_time">
            <span class="measure-name">{{t 'metric.test_execution_time.name'}}</span>
            <span class="measure-value">{{measures.test_execution_time}}</span>
          </div>
        {{/notNull}}
      </div>
    </div>

    <div class="measures">
      <table class="source-viewer-tests-list">
        <tr>
          <td class="source-viewer-test-status subtitle" colspan="3">
            {{t 'component_viewer.measure_section.unit_tests'}}<br>
            {{t 'component_viewer.tests.ordered_by'}}
            <a class="js-sort-tests-by-duration {{#eq testSorting 'duration'}}active-link{{/eq}}">
              {{t 'component_viewer.tests.duration'}}</a>
            /
            <a class="js-sort-tests-by-name {{#eq testSorting 'name'}}active-link{{/eq}}">
              {{t 'component_viewer.tests.test_name'}}</a>
            /
            <a class="js-sort-tests-by-status {{#eq testSorting 'status'}}active-link{{/eq}}">
              {{t 'component_viewer.tests.status'}}</a>
          </td>
          <td class="source-viewer-test-covered-lines subtitle">{{t 'component_viewer.covered_lines'}}</td>
        </tr>
        {{#each tests}}
          <tr>
            {{#eq status 'SKIPPED'}}
              <td class="source-viewer-test-status subtitle">{{testStatusIcon status}}</td>
              <td class="source-viewer-test-duration subtitle"></td>
              <td class="source-viewer-test-name">{{name}}</td>
              <td class="source-viewer-test-covered-lines subtitle"></td>
            {{else}}
              {{#ifTestData this}}
                <td class="source-viewer-test-status subtitle">{{testStatusIcon status}}</td>
                <td class="source-viewer-test-duration subtitle">{{durationInMs}}ms</td>
                <td class="source-viewer-test-name"><a class="js-show-test" data-name="{{name}}">{{name}}</a></td>
                <td class="source-viewer-test-covered-lines subtitle">{{coveredLines}}</td>
              {{else}}
                <td class="source-viewer-test-status subtitle">{{testStatusIcon status}}</td>
                <td class="source-viewer-test-duration subtitle">{{durationInMs}}ms</td>
                <td class="source-viewer-test-name">{{name}}</td>
              {{/ifTestData}}
            {{/eq}}
          </tr>
        {{/each}}
      </table>
    </div>
  </td>

  <td class="source-viewer-measures-section">
    {{#if selectedTest}}
      {{#notEq selectedTest.status 'ERROR'}}
        {{#notEq selectedTest.status 'FAILURE'}}
          <div class="bubble-popup-title">{{t 'component_viewer.transition.covers'}}</div>
          {{#each coveredFiles}}
            <div class="bubble-popup-section">
              <a target="_blank" href="{{dashboardUrl key}}" title="{{longName}}">{{longName}}</a>
              <span class="subtitle">{{tp 'component_viewer.x_lines_are_covered' coveredLines}}</span>
            </div>
          {{else}}
            {{t 'none'}}
          {{/each}}
        {{/notEq}}
      {{/notEq}}

      {{#notEq selectedTest.status 'OK'}}
        <div class="bubble-popup-title">{{t 'component_viewer.details'}}</div>
        {{#if selectedTest.message}}
          <pre>{{selectedTest.message}}</pre>
        {{/if}}
        <pre>{{selectedTest.stackTrace}}</pre>
      {{/notEq}}
    {{/if}}
  </td>
{{/if}}

{{#unless isUnitTest}}
  <td class="source-viewer-measures-section">
    <div class="measures">
      <div class="measures-chart">
          <span class="js-pie-chart"
                data-value="{{measures.duplicated_lines_density_raw}}"
                data-max="100"
                data-size="70"
                data-color="#f3ca8e"></span>
      </div>
      <div class="measures-list">
        <div class="measure measure-big" data-metric="duplicated_lines_density">
          <span class="measure-name">Duplications</span>
          <span class="measure-value">{{measures.duplicated_lines_density}}</span>
        </div>
      </div>
    </div>
    <div class="measures">
      <div class="measures-list">
        <div class="measure measure-one-line" data-metric="duplicated_blocks">
          <span class="measure-name">{{t 'metric.duplicated_blocks.name'}}</span>
          <span class="measure-value">{{measures.duplicated_blocks}}</span>
        </div>
        <div class="measure measure-one-line" data-metric="duplicated_lines">
          <span class="measure-name">{{t 'metric.duplicated_lines.name'}}</span>
          <span class="measure-value">{{measures.duplicated_lines}}</span>
        </div>
      </div>
    </div>
  </td>
{{/unless}}
</tr>
</table>

<div class="modal-foot">
  <a class="overlay-popup-close" title="{{t 'close'}}">{{t 'close'}}</a>
</div>
