<% if SettingsController::SPECIAL_CATEGORIES.include?(@category) -%>
  <%= render 'special', :url => url_for(:controller => "#{@category}_configuration") -%>
<% else -%>
  <% form_remote_tag :url => {:controller => 'settings', :action => 'update', :category => @category, :resource_id => @resource ? @resource.id : nil},
                     :method => :post,
                     :before => "$('submit_settings').hide();$('loading_settings').show();",
                     :update => 'properties',
                     :script => false do -%>

    <table class="data marginbottom10">
      <thead>
      <tr>
        <th><%= h category_name(@category) -%></th>
      </tr>
      </thead>
      <tbody>
      <% @definitions.each do |property| -%>
        <tr class="<%= cycle('even', 'odd', :name => 'properties') -%>">
          <td style="padding: 10px" id="block_<%= property.key -%>">
            <h3>
              <div><%= property_name(property) -%></div>
              <div class="note"><%= property.key -%></div>
            </h3>
            <% desc=property_description(property) -%>
            <% unless desc.blank? %>
              <p class="marginbottom10"><%= desc -%></p>
            <% end -%>

            <% value = property_value(property) -%>
            <% if property.multi_values -%>
              <% value.each_with_index do |sub_value, index| -%>
                <%= render "settings/multi_value", :property => property, :value => sub_value, :delete_link => true -%>
              <% end -%>
              <div class="template" style="display:none;">
                <%= render "settings/multi_value", :property => property, :value => nil, :delete_link => true -%>
              </div>
              <button class="add_value"><%= message('settings.add') -%></button>
              <br/>
            <% else -%>
              <%= render "settings/type_#{property_type(property, value)}", :property => property, :value => value -%>
            <% end -%>

            <% p = @updated_properties[property.key] if @updated_properties -%>
            <% if p && !p.valid? -%>
              <div class="error"><%= p.validation_error_message -%></div>
            <% end -%>

            <% default_prop_value = (@resource ? Property.value(property.key, nil, property.defaultValue) : property.defaultValue) -%>
            <% unless default_prop_value.blank? -%>
              <div class="note">Default: <%= property.type.to_s=='PASSWORD' ? '********' : h(default_prop_value) -%></div>
            <% end -%>

            <% details = property_help(property) -%>
            <% unless details.blank? -%>
              <br/>

              <div class="help"><%= details -%></div>
            <% end -%>
          </td>
        </tr>
      <% end -%>
      </tbody>
    </table>
    <div style="padding-left: 16px;">
      <%= submit_tag(message('settings.save_category', :params => [category_name(@category)]), :id => 'submit_settings') -%>
      <img src="<%= ApplicationController.root_context -%>/images/loading.gif" id="loading_settings" style="display:none;">
    </div>
  <% end -%>
<% end -%>

<script>
  $j('.delete').live('click', function () {
    $j(this).parent('.multi_value').remove();
    return false;
  });

  $j('.add_value').live('click', function () {
    var template = $j(this).siblings('.template');
    template.before(template.html());
    return false;
  });
</script>
