<% errors = [] -%>
<% key_field = key_field(property) -%>

<tr class="top multi_value <%= 'template' unless set_key -%>" style="<%= 'display:none' unless set_key -%>">
  <% if key_field -%>
    <td><%= render "settings/type_#{key_field.type}", :property => key_field, :field => key_field, :value => set_key, :name => "property_sets[#{property.key}][]", :id => "input_#{h key_field.key}", :size => key_field.indicativeSize -%></td>
  <% else -%>
    <%= hidden_field_tag "property_sets[#{property.key}][]", set_key -%>
  <% end -%>

  <% property.fields.reject { |field| field.key == 'key' }.each do |field| -%>
    <% key = "#{property.key}.#{set_key}.#{field.key}" if set_key -%>
    <% value = Property.value(key, resource_id) if set_key -%>

    <td><%= render "settings/type_#{field.type}", :property => field, :field => field, :value => value, :name => "#{property.key}[#{field.key}][]", :id => "input_#{h field.key}", :size => field.indicativeSize -%></td>

    <% errors << (render "settings/error", :key => key) if set_key -%>
  <% end -%>

  <td><a href="#" class="delete link-action"><%= message('delete') -%></a></td>
</tr>

<% unless errors.all?(&:blank?) -%>
  <tr>
    <% if key_field -%>
      <td></td>
    <% end -%>

    <% errors.each do |error| -%>
      <td><%= error -%></td>
    <% end -%>

    <td></td>
  </tr>
<% end -%>
