<style type="text/css">
  #plugins .plugin {
    padding: 5px;
    border: 1px solid #ddd;
    background-color: #fff;
  }

  #plugins .plugin h2 {
    margin-left: 10px;
    font-size: 122%;
    color: #333;
  }

  #plugins .plugin h3 {
    margin-left: 5px;
  }

  #plugins .plugin p {
    padding: 5px 5px;
  }

  #plugins .plugin img {
    padding: 5px 0 0 5px;
  }
</style>
<script type="text/javascript">
  function enlargeTextInput(propertyKey) {
    var eltId = 'input_' + propertyKey;
    var textValue = $F(eltId);
    var textArea = '<textarea class="width100" id="' + propertyKey + '" name="' + propertyKey + '" rows="10" id="input_' + propertyKey + '">' + textValue + '</textarea>';
    $(eltId).parentNode.replace(textArea);
  }
</script>
<div id="plugins">
  <h1 class="marginbottom10"><%= message('settings.page') -%></h1>
  <table width="100%">
    <tr>
      <td width="1%" nowrap class="column first">
        <table class="data selector">
          <thead>
          <tr>
            <th>
              <span>Category</span>
            </th>
          </tr>
          </thead>
          <tbody>
          <%
             @definitions_per_category.keys.sort_by { |category| message("property.category.#{category}", :default => category).upcase }.each do |category|
               if !@definitions_per_category[category].empty? || SettingsController::SPECIAL_CATEGORIES.include?(category)
          %>
              <tr class="select <%= cycle('even', 'odd', :name => 'category') -%> <%= 'selected' if @category==category -%>" id="select_<%= category -%>">
                <td><%= link_to message("property.category.#{category}", :default => category), :overwrite_params => {:category => category} -%></td>
              </tr>
            <% end
               end
            %>
          </tbody>
        </table>
        <br/>
      </td>

      <td class="column">
        <div id="properties">
          <%= render :partial => 'settings/properties' -%>
        </div>
      </td>
    </tr>
  </table>
</div>
