<div class="multi_value">
  <div class="field">
    <label><%= message('key') %>:</label>
    <%= text_field_tag "property_sets[#{property.key}][]", set_key, :size => 50 -%>
    <a href="#" class="delete link-action"><%= message('delete') -%></a>
  </div>

  <% property.fields.each do |field| -%>
    <div class="field">
      <label><%= field_name(property, field) -%>: </label>

      <% value = Property.value("#{property.key}.#{set_key}.#{field.key}", resource_id) if set_key -%>
      <%= render "settings/type_#{field.type}", :property => field, :value => value, :name => "#{property.key}[#{field.key}][]", :id => "input_#{h field.key}" -%>

      <% desc=field_description(property, field) -%>
      <% unless desc.blank? %>
        <p class="note"><%= desc -%></p>
      <% end -%>
    </div>
  <% end -%>
  <br/>
</div>
