<div id="plugins">
  <h1 class="marginbottom10"><%= message(@resource ? 'project_settings.page' : 'settings.page') -%></h1>

  <table width="100%">
    <tr>
      <td width="1%" nowrap class="column first">
        <table class="data">
          <thead>
          <tr>
            <th><%= message('category') -%></th>
          </tr>
          </thead>
          <tbody>
          <% @categories.each do |category| -%>
            <tr id="select_<%= category -%>" class="select <%= cycle('even', 'odd', :name => 'category') -%> <%= 'selected' if @category==category -%>">
              <td><%= link_to category_name(category), :category => category -%></td>
              <%  if @category==category
                (@subcategories_per_categories[category]||[]).each do |subcategory| -%>
                <tr id="select_<%= subcategory -%>" class="select <%= cycle('even', 'odd', :name => 'category') -%> <%= 'selected' if @subcategory==subcategory -%>">
                  <td> - <%= link_to subcategory_name(category, subcategory), :category => category, :subcategory => subcategory -%></td>
                </tr>
              <%   end
                 end -%>
            </tr>
          <% end -%>
          </tbody>
        </table>
        <br/>
      </td>

      <td class="column">
        <div id="properties">
          <%= render 'settings/properties' -%>
        </div>
      </td>
    </tr>
  </table>
</div>
