<% resource_id = @resource.id if @resource -%>

<% Property.values(property.key, resource_id).reject(&:blank?).each do |set_key| -%>
  <div class="multi_value">
    <%= text_field_tag "property_sets[#{property.key}][]", set_key -%>
    <br/>

    <% property.fields.each do |field| -%>
      <label><%= field.key -%>: </label><br/>
      <%= text_field_tag "#{property.key}[#{field.key}][]", Property.value("#{property.key}.#{set_key}.#{field.key}", resource_id) -%>
      <br/>
    <% end -%>

    <a href="#" class="delete link-action"><%= message('delete') -%></a>
    <br/><br/>
  </div>
<% end -%>

<div class="template" style="display:none;">
  <div class="multi_value">
    <%= text_field_tag "property_sets[#{property.key}][]" %>
    <br/>

    <% property.fields.each do |field| -%>
      <label><%= field.key -%>: </label><br/>
      <%= text_field_tag "#{property.key}[#{field.key}][]" -%>
      <br/>
    <% end -%>

    <a href="#" class="delete link-action"><%= message('delete') -%></a>
    <br/><br/>
  </div>
</div>

<button class="add_value"><%= message('settings.add') -%></button>
