<% if Property.value('sonar.test.jira.servers').blank? -%>
  <% Property.set('sonar.test.jira.servers', 'jira1,jira2') -%>
  <% Property.set('sonar.test.jira.servers.jira1.url', 'http://url1') -%>
  <% Property.set('sonar.test.jira.servers.jira1.port', '1234') -%>
  <% Property.set('sonar.test.jira.servers.jira2.url', 'http://url2') -%>
  <% Property.set('sonar.test.jira.servers.jira2.port', '9999') -%>
<% end -%>

<% resource_id = @resource.id if @resource -%>

<% Property.values(property.key, resource_id).reject(&:blank?).each do |set_key| -%>
  <div class="multi_value">
    <label>Key: </label><br/>
    <input name="property_sets[<%= property.key -%>][]" value="<%= set_key -%>"/><br/>

    <% property.fields.each do |field| -%>
      <label><%= field.key -%>: </label><br/>
      <input type="text" name="<%= property.key -%>[<%= field.key -%>][]" value="<%= Property.value("#{property.key}.#{set_key}.#{field.key}", resource_id) -%>"/>
      <br/>
    <% end -%>

    <a href="#" class="delete link-action"><%= message('delete') -%></a>
    <br/><br/>
  </div>
<% end -%>

<div class="template" style="display:none;">
  <div class="multi_value">
    <label>Key: </label><br/>
    <input name="property_sets[<%= property.key -%>][]" value=""/><br/>

    <% property.fields.each do |field| -%>
      <label><%= field.key -%>: </label><br/>
      <input type="text" name="<%= property.key -%>[<%= field.key -%>][]" value=""/>
      <br/>
    <% end -%>

    <a href="#" class="delete link-action"><%= message('delete') -%></a>
    <br/><br/>
  </div>
</div>

<button class="add_value"><%= message('settings.add') -%></button>
