<select name="<%= name -%>" id="<%= id -%>">
  <option value=""><%= message('default') -%></option>

  <% Property.values(property.propertySetKey).reject(&:blank?).each do |set_key| -%>
    <option value="<%= set_key -%>"><%= set_key -%></option>
  <% end -%>
</select>