<select name="<%= input_name(property) -%>" id="input_<%= h property.key -%>">
  <option value=""><%= message('default') -%></option>
  <% property_set_value_names(property).each do |option| %>
    <option value="<%= h option -%>" <%= 'selected' if value && value==option -%>><%= h option -%></option>
  <% end %>
</select>
<a id="edit-set-<%= h property.key -%>" href="property_sets/index" class="open-modal link-action">Edit property set...</a>
