<select name="<%= input_name(property) -%>" id="input_<%= h property.getKey() -%>">
  <option value=""><%= message('default') -%></option>

  <% Property.values(property.propertySetKey).reject(&:blank?).each do |set_key| -%>
    <option value="<%= set_key -%>"><%= set_key -%></option>
  <% end -%>
</select>