<% resource_id = @resource.id if @resource -%>

<table class="data">
  <thead>
  <tr>
    <% if key_field(property) -%>
      <th><%= message('key') -%></th>
    <% else %>
      <%= hidden_field_tag "#{property.key}[auto_generate]", true -%>
    <% end -%>
    <% property.fields.reject { |field| field.key == 'key' }.each do |field| -%>
      <th>
        <%= field_name(property, field) -%>
        <% desc = field_description(property, field) -%>
        <% unless desc.blank? %>
          <p class="note"><%= desc -%></p>
        <% end -%>
      </th>
    <% end -%>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% Property.values(property.key, resource_id).reject(&:blank?).each do |set_key| -%>
    <%= render 'settings/set_instance', :property => property, :set_key => set_key, :resource_id => resource_id %>
  <% end -%>
  <%= render 'settings/set_instance', :property => property, :set_key => nil, :resource_id => resource_id %>
  </tbody>

  <tfoot>
  <tr>
    <td colspan="<%= property.fields.size + 1 -%>">
      <button class="add_value"><%= message('settings.add') -%></button>
    </td>
  </tr>
  </tfoot>
</table>
