<script>
  function reset_criterion(id) {
    Form.Element.clear('metric-' + id);
    Form.Element.clear('op-' + id);
    Form.Element.clear('val-' + id);
    Form.Element.clear('type-' + id);
  }
</script>
<select name="criteria[<%= id -%>][metric_id]" id="metric-<%= id -%>">
  <option value=""><%= message('select_a_metric') -%></option>
  <% Metric.domains.each do |domain| %>
    <optgroup label="<%= h domain -%>">
    <% Metric.by_domain(domain).select{|m| !m.data? && !m.hidden?}.each do |metric| %>
      <option value="<%= metric.id -%>" <%= 'selected' if (criterion && criterion.metric==metric) -%>><%= metric.short_name %></option>
    <% end %>
    </optgroup>
  <% end %>
</select>
<select name="criteria[<%= id -%>][type]" id="type-<%= id -%>">
    <option value="value" <%= 'selected' unless (criterion && criterion.variation) -%>><%= message('value') -%></option>
    <option value="variation" <%= 'selected' if criterion && criterion.variation -%>><%= message('variation') -%></option>
</select>
<select name="criteria[<%= id -%>][operator]" id="op-<%= id -%>">
  <option value=""></option>
  <option value="<" <%= 'selected' if (criterion && criterion.operator=='<') -%>><%= message('less_than') -%></option>
  <option value="<=" <%= 'selected' if (criterion && criterion.operator=='<=') -%>><%= message('less_or_equals') -%></option>
  <option value="=" <%= 'selected' if (criterion && criterion.operator=='=') -%>><%= message('equals') -%></option>
  <option value=">" <%= 'selected' if (criterion && criterion.operator=='>') -%>><%= message('greater_than') -%></option>
  <option value=">=" <%= 'selected' if (criterion && criterion.operator=='>=') -%>><%= message('greater_or_equals') -%></option>
</select>
<input type="text" name="criteria[<%= id -%>][value]" size="5" value="<%= criterion.value if criterion -%>" id="val-<%= id -%>"/>
<a href="#" onClick="reset_criterion(<%= id -%>);return false;"><%= message('reset_verb') -%></a>