<% filter=@filter_context.filter %>
<% @edit_mode=edit_mode %>

<% unless defined? update_id %>
  <% if defined? widget %>
    <% update_id=widget.id %>
  <% else %>
  <% end %>
<% end %>

<div id="filter-<%= update_id -%>">
<table class="data nowrap width100" id="results">
  <thead id="results-head">
    <tr>
      <th width="1%"></th>
      <% filter.columns.each do |column| %>
        <th <%= 'width=1% nowrap' if column.small_width? -%> class="<%= column_align(column) -%>">
          <%= column_title(column, filter, update_id) %>
        </th>
    <% end %>
    </tr>
    <% if edit_mode %>
    <tr class="admin"><th></th>
    <% filter.columns.each do |column| %>
      <th nowrap class="<%= column_align(column) -%>">
        <%= link_to image_tag("controls/resultset_previous.png"), {:action => 'left_column', :id => column.id}, :title => message('move_left'), :method => :post if filter.first_column!=column %>
        <%= link_to image_tag("bin_closed.png"), {:action => 'delete_column', :id => column.id}, :title => message('remove_column'), :method => :post if column.deletable? %>
        <%= link_to image_tag("controls/resultset_next.png"), {:action => 'right_column', :id => column.id}, :title => message('move_right'), :method => :post if filter.last_column!=column %>
      </th>
    <% end %>
    </tr>
    <% end %>
  </thead>

  <tfoot>
    <tr>
      <td colspan="<%= filter.columns.size + 1 -%>">
        <div id="filter-pages-<%= update_id -%>">
        <span id="results_count"><%= pluralize(@filter_context.size, message('result').downcase) %></span>

        <%
          if @filter_context.page_count>1
            max_pages = @filter_context.page_count
            current_page = @filter_context.page_id
            start_page = 1
            end_page = max_pages
            if max_pages > 20
              if current_page < 12
                start_page = 1
                end_page = 20
              elsif current_page > max_pages-10
                start_page = max_pages-20
                end_page = max_pages
              else
                start_page = current_page-10
                end_page = current_page+9
              end
            end
        %>
          |
          <% if max_pages > 20 && start_page > 1 %>
            <%= goto_page message('paging_previous'), filter, update_id, :page_id => 1 %>
          <% end %>

          <% if current_page>start_page %>
            <%= goto_page message('paging_previous'), filter, update_id, :page_id => current_page-1 %>
          <% else %>
            <%= message('paging_previous') -%>
          <% end %>

          <% for index in start_page..end_page %>
            <% if index==current_page %>
              <%= index.to_s -%>
            <% else %>
              <%= goto_page index.to_s, filter, update_id, :page_id => index %>
            <% end %>
          <% end %>

          <% if current_page<end_page %>
            <%= goto_page message('paging_next'), filter, update_id, :page_id => current_page+1 %>
          <% else %>
            <%= message('paging_next') -%>
          <% end %>

          <% if max_pages > 20 && end_page < max_pages %>
            <%= goto_page message('paging_last'), filter, update_id, :page_id => max_pages %>
          <% end %>
        <% end %>

        <% if @filter.projects_homepage? %>
          &nbsp;&nbsp; <a href="<%= url_for :controller => :feeds, :action => 'projects', :id => EventCategory::KEY_ALERT -%>" class="nolink"><%= image_tag 'rss-12x12.png' %></a>
          <a href="<%= url_for :controller => :feeds, :action => 'projects', :id => EventCategory::KEY_ALERT -%>" class="action"><%= message('alerts_feed') -%></a>
        <% end %>
        </div>
        <div id="filter-loading-<%= update_id -%>" style="display: none"><%= image_tag 'loading.gif' %></div>

      </td>
    </tr>
  </tfoot>

  <tbody>
  <% 
     if @filter_context.filter.display_path_data?
       root_snapshot = Snapshot.find(:first, :include => 'project', :conditions => ['projects.id=? and islast=?', @filter_context.filter.resource_id, true])
       root_snapshot=nil if root_snapshot && !(has_role?(:user, root_snapshot))
  %>
    <tr class="highlight">
      <td><% if logged_in? %><%= link_to_favourite(root_snapshot.project) -%><% end %></td>
      <% filter.columns.each do |column| %>
      <td class="<%= column_align(column) -%>">
        <% if column.on_metric?
     	    measure=root_snapshot.measure(column.metric)
        %>
	        <% if column.variation %>
		        <%= format_variation(measure, :index => @filter_context.period_index, :style => 'light') -%>
	        <% else %>
		        <%= format_measure(measure) -%>
		        <% if @filter_context.selected_period? %>
			        <%= format_variation(measure, :index => @filter_context.period_index) -%>
		        <% else %>
			        <%= trend_icon(measure, :empty => true) -%>
		        <% end %>
	        <% end %>
        <% elsif column.on_name? %><%= qualifier_icon(root_snapshot) %> <%= link_to_resource(root_snapshot.project, h(root_snapshot.project.name(true)), {:dashboard => true, :title => root_snapshot.project.key}) %>
        <% elsif column.on_date? %><%= human_short_date(root_snapshot.created_at) %>
        <% end %>
      </td>
      <% end %>
    </tr>
  <% end %>

  <% if @filter_context.empty? %>
    <tr class="even"><td colspan="<%= 1+filter.columns.size -%>"><%= message('no_results') -%></td></tr>
  <% else %>
    <%
        @filter_context.page_sorted_snapshot_ids.each do |snapshot_id|
          snapshot=@filter_context.snapshot(snapshot_id)
    %>
    <tr class="<%= cycle('even','odd') -%>">
      <td><% if logged_in? %><%= link_to_favourite(snapshot.project) -%><% end %></td>
      <% filter.columns.each do |column| %>
      <td class="<%= column_align(column) -%>">
        <% if column.on_metric? && column.metric
             measure = @filter_context.measure(snapshot, column.metric)
        %>
          <% if column.variation || column.metric.on_new_code? %>
            <%= format_variation(measure, :index => @filter_context.period_index, :style => 'light') -%>
          <% else %>
            <%= format_measure(measure) -%>
            <% if @filter_context.selected_period? %>
              <%= format_variation(measure, :index => @filter_context.period_index) -%>
            <% else %>
              <%= trend_icon(measure, :empty => true) -%>
            <% end %>
          <% end %>
        <% elsif column.on_name? %>
          <%= qualifier_icon(snapshot) %> <%= link_to_resource(snapshot.project, snapshot.project.name(true), {:filter => true, :title => snapshot.project.key, :period => @filter_context.period_index}) %>
        <% elsif column.on_version? %><%= h snapshot.version %>
        <% elsif column.on_language? %><%= snapshot.project.language %>
        <% elsif column.on_date? %><%= human_short_date(snapshot.created_at) %>
        <% elsif column.on_key? %><span class="small"><%= snapshot.project.kee -%></span>
        <% elsif column.on_links?
             @filter_context.links(snapshot.project_id).select {|link| link.href.start_with?('http')}.each do |link| %>
          <%= link_to(image_tag(link.icon, :alt => link.name), link.href, :class => 'nolink', :popup => true) unless link.custom? %>
        <%   end
           end %>
      </td>
      <% end %>
    </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
<% if @filter_context.security_exclusions? %>
  <br/>
  <p class="notes"><%= message('results_not_display_due_to_security') -%></p>
<% end %>
</div>
