<div class="line-block">
<% if logged_in? %>
  <ul style="float: right" class="operations">
    <li>
      <a href="<%= url_for :action => 'new' -%>"><%= message('filters.add_filter') -%></a>
    </li>
  </ul>
<% end %>
  <h1 class="marginbottom10"><%= message('default_filters.page') -%></h1>
</div>

<div class="admin_page">
  <table class="data" id="actives">
    <thead>
    <tr>
      <th><%= message('name') -%></th>
      <th><%= message('shared') -%></th>
      <th class="right"><%= message('operations') -%></th>
    </tr>
    </thead>
    <tbody>
    <% if @filters.empty? %>
      <tr class="even">
        <td colspan="3"><%= message('filters.no_filters') -%></td>
      </tr>
    <% else %>
      <% @filters.each do |filter| %>
        <tr id="active-<%= u filter.name -%>" class="<%= cycle('even', 'odd', :name => 'actives') -%>">
          <td>
            <%= filter.name -%>
          </td>
          <td>
            <%= boolean_icon(filter.shared, {:display_false => false}) -%>
          </td>
          <td class="thin nowrap right">
            <% if filter.authorized_to_edit?(self) %>
              <%= link_to message('edit'), {:action => :edit, :id => filter.id}, :id => "edit-#{u filter.name}", :class => 'link-action' %> |
              <%= link_to message('delete'), {:action => :delete, :id => filter.id}, :method => :post, :confirm => message('filters.do_you_want_to_delete'), :id => "delete-#{u filter.name}", :class => 'link-action' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
</div>
