<% unless params[:hide_form]=='true' %>
<form>
<table>
  <tr>
    <td>
      <span class="comments"><%= message('size') -%>:</span><br/>
      <%= select_tag 'size_metric', options_grouped_by_domain(Sonar::Treemap.size_metrics(), @size_metric.key),
        :id => 'size_metric', :class => 'small', :onchange => "load_treemap(this.form.size_metric.value,this.form.color_metric.value, false);return false;" %>
    </td>
    <td class="sep"> </td>
    <td>
      <span class="comments"><%= message('color') -%>: <%= render :partial => 'treemap/gradient', :locals => {:metric => @color_metric} %></span>
      <br/>
      <%= select_tag 'color_metric', options_grouped_by_domain(Sonar::Treemap.color_metrics, @color_metric.key),
        :id => 'color_metric', :class => 'small', :onchange => "load_treemap(this.form.size_metric.value,this.form.color_metric.value, false);return false;" %>
    </td>
  </tr>
</table>
</form>
<br/>
<% end %>

<div>
  <%=  render :partial => 'treemap/treemap', :locals => {:treemap => @treemap} -%>
</div>
<div style="margin: 5px 0 0 0" class="notes">
  <div style="float: right"><span><%= message('treemap.click_help') -%></span></div>
  <div id="tm-bc-<%= @filter.id -%>">/</div>
</div>
