<div class="modal-head">
  <h2>{{t 'help'}}</h2>
</div>

<div class="modal-body modal-container">
  <div class="spacer-bottom">
    <a href="http://www.sonarqube.org" target="sonar">Community</a> -
    <a href="http://www.sonarqube.org/documentation" target="sonar_doc">Documentation</a> -
    <a href="http://www.sonarqube.org/support" target="support">Get Support</a> -
    <a href="http://redirect.sonarsource.com/doc/plugin-library.html" target="plugins">Plugins</a> -
    <a href="{{ link '/about'}}">About</a> -
    <a href="{{link '/web_api'}}">Web API</a>
  </div>

  <h2 class="spacer-top spacer-bottom">{{t 'shortcuts.modal_title'}}</h2>

  <div class="columns">
    <div class="column-half">
      <div class="spacer-bottom">
        <h3 class="shortcuts-section-title">{{t 'shortcuts.section.global'}}</h3>
        <ul class="shortcuts-list">
          <li><span class="shortcut-button">s</span> &nbsp;&nbsp; {{t 'shortcuts.section.global.search'}}</li>
          <li><span class="shortcut-button">?</span> &nbsp;&nbsp; {{t 'shortcuts.section.global.shortcuts'}}</li>
        </ul>
      </div>

      <h3 class="shortcuts-section-title">{{t 'shortcuts.section.rules'}}</h3>
      <ul class="shortcuts-list">
        <li><span class="shortcut-button">&uarr;</span> <span
            class="shortcut-button">&darr;</span> &nbsp;&nbsp; {{t 'shortcuts.section.rules.navigate_between_rules'}}</li>
        <li><span class="shortcut-button">&rarr;</span> &nbsp;&nbsp; {{t 'shortcuts.section.rules.open_details'}}</li>
        <li><span class="shortcut-button">&larr;</span> &nbsp;&nbsp; {{t 'shortcuts.section.rules.return_to_list'}}</li>
        <li><span class="shortcut-button">a</span> &nbsp;&nbsp; {{t 'shortcuts.section.rules.activate'}}</li>
        <li><span class="shortcut-button">d</span> &nbsp;&nbsp; {{t 'shortcuts.section.rules.deactivate'}}</li>
      </ul>
    </div>

    <div class="column-half">
      <h3 class="shortcuts-section-title">{{t 'shortcuts.section.issues'}}</h3>
      <ul class="shortcuts-list">
        <li><span class="shortcut-button">&uarr;</span> <span
            class="shortcut-button">&darr;</span> &nbsp;&nbsp; {{t 'shortcuts.section.issues.navigate_between_issues'}}
        </li>
        <li><span class="shortcut-button">&rarr;</span> &nbsp;&nbsp; {{t 'shortcuts.section.issues.open_details'}}</li>
        <li><span class="shortcut-button">&larr;</span> &nbsp;&nbsp; {{t 'shortcuts.section.issues.return_to_list'}}</li>
        <li><span class="shortcut-button">⎵</span> &nbsp;&nbsp; {{t 'shortcuts.section.issue.select'}}</li>
        <li><span class="shortcut-button">f</span> &nbsp;&nbsp; {{t 'shortcuts.section.issue.do_transition'}}</li>
        <li><span class="shortcut-button">a</span> &nbsp;&nbsp; {{t 'shortcuts.section.issue.assign'}}</li>
        <li><span class="shortcut-button">m</span> &nbsp;&nbsp; {{t 'shortcuts.section.issue.assign_to_me'}}</li>
        <li><span class="shortcut-button">i</span> &nbsp;&nbsp; {{t 'shortcuts.section.issue.change_severity'}}</li>
        <li><span class="shortcut-button">c</span> &nbsp;&nbsp; {{t 'shortcuts.section.issue.comment'}}</li>
        <li><span class="shortcut-button">ctrl</span> + <span class="shortcut-button">enter</span> &nbsp;&nbsp; {{t 'shortcuts.section.issue.submit_comment'}}</li>
        <li><span class="shortcut-button">t</span> &nbsp;&nbsp; {{t 'shortcuts.section.issue.change_tags'}}</li>
      </ul>
    </div>
  </div>
</div>

<div class="modal-foot">
  <a class="js-modal-close" href="#">{{t 'close'}}</a>
</div>
