{{#notNull measures.coverage}}
  <div class="measures">
    <div class="measures-chart">
      <span class="js-pie-chart"
            data-value="{{measures.coverage_raw}}"
            data-max="100"
            data-color="#85bb43"
            data-size="70"></span>
    </div>
    <div class="measures-list">
      <div class="measure measure-big" data-metric="coverage">
        <span class="measure-name">{{t 'metric.coverage.name'}}</span>
        <span class="measure-value">{{measures.coverage}}</span>
      </div>
    </div>
  </div>
{{/notNull}}

{{#notNull measures.line_coverage}}
  <div class="measures">
    <div class="measures-chart">
      <span class="js-pie-chart"
            data-value="{{measures.line_coverage_raw}}"
            data-max="100"
            data-color="#85bb43"
            data-base-color="#d4333f"
            data-size="40"></span>
    </div>
    <div class="measures-list">
      <div class="measure-container">
        <div class="measure" data-metric="line_coverage">
          <span class="measure-name">{{t 'metric.line_coverage.name'}}</span>
          <span class="measure-value">{{measures.line_coverage}}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="measures">
    <div class="measures-list">
      <div class="measure measure-one-line" data-metric="lines_to_cover">
        <span class="measure-name">{{t 'metric.lines_to_cover.name'}}</span>
        <span class="measure-value">{{measures.lines_to_cover}}</span>
      </div>
      <div class="measure measure-one-line" data-metric="uncovered_lines">
        <span class="measure-name">{{t 'metric.uncovered_lines.name'}}</span>
        <span class="measure-value">{{measures.uncovered_lines}}</span>
      </div>
    </div>
  </div>
{{/notNull}}

{{#notNull measures.branch_coverage}}
  <div class="measures">
    <div class="measures-chart">
      <span class="js-pie-chart"
            data-value="{{measures.branch_coverage_raw}}"
            data-max="100"
            data-color="#85bb43"
            data-base-color="#d4333f"
            data-size="40"></span>
    </div>
    <div class="measures-list">
      <div class="measure-container">
        <div class="measure" data-metric="branch_coverage">
          <span class="measure-name">{{t 'metric.branch_coverage.name'}}</span>
          <span class="measure-value">{{measures.branch_coverage}}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="measures">
    <div class="measures-list">
      <div class="measure measure-one-line" data-metric="conditions_to_cover">
        <span class="measure-name">{{t 'metric.conditions_to_cover.name'}}</span>
        <span class="measure-value">{{measures.conditions_to_cover}}</span>
      </div>
      <div class="measure measure-one-line" data-metric="uncovered_conditions">
        <span class="measure-name">{{t 'metric.uncovered_conditions.name'}}</span>
        <span class="measure-value">{{measures.uncovered_conditions}}</span>
      </div>
    </div>
  </div>
{{/notNull}}
