<div class="source-viewer-header"></div>

{{#if canSeeCode}}

  {{#if exist}}

    {{#if hasSourceBefore}}
      <div class="source-viewer-more-code">
        <button class="js-component-viewer-source-before">
          {{t 'source_viewer.load_more_code'}}
        </button>
        <div class="js-component-viewer-loading-before hidden">
          <i class="spinner"></i>
          <span class="note spacer-left">{{t 'source_viewer.loading_more_code'}}</span>
        </div>
      </div>
    {{/if}}

    <table class="source-table">
      {{#eachWithPrevious source}}
        <tr class="source-line {{#eq line 0}}{{#empty issues}}hidden{{/empty}}{{/eq}}" {{#if line}}data-line-number="{{line}}"{{/if}}>
          <td class="source-meta source-line-number" {{#if line}}data-line-number="{{line}}"{{/if}}></td>

          <td class="source-meta source-line-scm" {{#if line}}data-line-number="{{line}}"{{/if}}>
            {{#ifSCMChanged2 this _previous}}
              <div class="source-line-scm-inner" data-author="{{scmAuthor}}"></div>
            {{/ifSCMChanged2}}
          </td>

          {{#if ../hasCoverage}}
            <td class="source-meta source-line-coverage {{#notNull coverageStatus}}source-line-{{coverageStatus}}{{/notNull}}"
                data-line-number="{{line}}" {{#notNull coverageStatus}}title="{{t 'source_viewer.tooltip' coverageStatus}}" data-placement="right" data-toggle="tooltip"{{/notNull}}>
              <div class="source-line-bar"></div>
            </td>
          {{/if}}

          {{#if ../hasDuplications}}
            <td class="source-meta source-line-duplications {{#if duplicated}}source-line-duplicated{{/if}}"
              {{#if duplicated}}title="{{t 'source_viewer.tooltip.duplicated_line'}}" data-placement="right" data-toggle="tooltip"{{/if}}>
              <div class="source-line-bar"></div>
            </td>

            {{#each duplications}}
              <td class="source-meta source-line-duplications-extra {{#if this}}source-line-duplicated{{/if}}"
                  data-index="{{this}}" data-line-number="{{../line}}"
                {{#if this}}title="{{t 'source_viewer.tooltip.duplicated_block'}}" data-placement="right" data-toggle="tooltip"{{/if}}>
                <div class="source-line-bar"></div>
              </td>
            {{/each}}
          {{/if}}

          <td class="source-meta source-line-issues {{#notEmpty issues}}source-line-with-issues{{/notEmpty}}"
              data-line-number="{{line}}">
            {{#withFirst issues}}
              {{severityIcon severity}}
            {{/withFirst}}
            {{#ifLengthGT issues 1}}
              <span class="source-line-issues-counter">{{length issues}}</span>
            {{/ifLengthGT}}
          </td>

          <td class="source-meta source-line-filtered-container" data-line-number="{{line}}">
            <div class="source-line-bar"></div>
          </td>

          <td class="source-line-code code {{#notEmpty issues}}has-issues{{/notEmpty}}" data-line-number="{{line}}">
            <div class="source-line-code-inner">
              {{#notNull code}}
                <pre>{{{codeWithIssueLocations code issueLocations}}}</pre>
              {{/notNull}}

              <div class="source-line-issue-locations"></div>
            </div>

            {{#notEmpty issues}}
              <div class="issue-list">
                {{#each issues}}
                  <div class="issue" id="issue-{{key}}"></div>
                {{/each}}
              </div>
            {{/notEmpty}}
          </td>
        </tr>
      {{/eachWithPrevious}}
    </table>

    {{#if hasSourceAfter}}
      <div class="source-viewer-more-code">
        <button class="js-component-viewer-source-after">
          {{t 'source_viewer.load_more_code'}}
        </button>
        <div class="js-component-viewer-loading-after hidden">
          <i class="spinner"></i>
          <span class="note spacer-left">{{t 'source_viewer.loading_more_code'}}</span>
        </div>
      </div>
    {{/if}}

  {{else}}

    {{! does not exist }}
    <div class="alert alert-warning spacer-top">{{t 'component_viewer.no_component'}}</div>

  {{/if}}

{{else}}

  {{! can't see code }}
  <div class="alert alert-warning spacer-top">{{t 'code_viewer.no_source_code_displayed_due_to_security'}}</div>

{{/if}}
