<form id="create-project-form" autocomplete="off">
  <div class="modal-head">
    <h2>Create Project</h2>
  </div>
  <div class="modal-body">
    <div class="js-modal-messages"></div>
    {{#if createdProject}}
      <div class="alert alert-success">
        Project <a href="{{componentPermalink createdProject.k}}">{{createdProject.nm}}</a> has been successfully
        created.
      </div>
    {{else}}
      <div class="modal-field">
        <label for="create-project-name">Name<em class="mandatory">*</em></label>
        {{! keep this fake field to hack browser autofill }}
        <input id="create-project-name-fake" name="name-fake" type="text" class="hidden">
        <input id="create-project-name" name="name" type="text" maxlength="2000" required>
      </div>
      <div class="modal-field">
        <label for="create-project-branch">Branch</label>
        {{! keep this fake field to hack browser autofill }}
        <input id="create-project-branch-fake" name="branch-fake" type="text" class="hidden">
        <input id="create-project-branch" name="branch" type="text" maxlength="200">
      </div>
      <div class="modal-field">
        <label for="create-project-key">Key<em class="mandatory">*</em></label>
        {{! keep this fake field to hack browser autofill }}
        <input id="create-project-key-fake" name="key-fake" type="text" class="hidden">
        <input id="create-project-key" name="key" type="text" maxlength="400" required>
      </div>
    {{/if}}
  </div>
  <div class="modal-foot">
    {{#if createdProject}}
      <a href="#" class="js-modal-close">{{t 'close'}}</a>
    {{else}}
      <button id="create-project-submit">Create</button>
      <a href="#" class="js-modal-close" id="create-project-cancel">Cancel</a>
    {{/if}}
  </div>
</form>
