<%
   assignee_check_script = "if ($('autocompleteText-assignee_login').value != '' && $('assignee_login').value == '') { alert($('autocompleteText-assignee_login').value + '" + message('reviews.user_does_not_exist') + "'); return false;}"
%>

<form method="post"
      onsubmit="<%= assignee_check_script -%> new Ajax.Updater('review', '<%= url_for :action => 'assign' -%>', {asynchronous:true, evalScripts:true, parameters:Form.serialize(this)}); return false;">
  <%= hidden_field_tag :id, params[:id] -%>

  <table class="width100">
    <tr>
      <td style="vertical-align:top">
        <textarea id="actionText" rows="4" name="text" style="width: 100%"></textarea>
      </td>
      <td class="sep"></td>
      <td style="vertical-align:top;width: 90px">
        <%= render :partial => 'markdown/help' -%>
      </td>
    </tr>
  </table>

  <%= user_autocomplete_field "assignee_login", "" -%>
  <%= submit_to_remote "submit_btn", message('reviews.assign_submit'),
                       :url => {:action => 'assign'},
                       :update => "review",
                       :before => assignee_check_script -%>
  &nbsp;
  <img src="<%= ApplicationController.root_context -%>/images/sep12.png">
  &nbsp;
  <%= button_to_remote message('reviews.assign_to_me_submit'),
                       {
                         :url => {:action => 'assign', :id => params[:id], :me => true},
                         :update => "review"
                       },
                       :disabled => (@review.assignee_id==current_user.id) -%>

  &nbsp;
  <%= link_to_remote message('cancel'),
                     :url => {:action => 'show', :id => params[:id]},
                     :update => "review" %>
  <script>
    $('autocompleteText-assignee_login').focus();
  </script>
</form>