<div id="rev_<%= review.id -%>">
  <div class="reviewTitle">
    <h2><%= message('reviews.review_number', :params => h(review.id.to_s)) -%> - <%= h(review.title) -%></h2>
  </div>

  <% if defined?(error_message) && error_message %>
    <div id="review_error" class="error"><%= h error_message -%> <a href="#" onclick="$('review_error').hide(); return false;"><%= message('reviews.hide_this_message') -%></a></div>
  <% end %>

  <%
     if current_user && !review.closed? && review.rule_failure
       violation_switched_off = review.rule_failure.switched_off?
  %>
    <div class="marginbottom10" id="actionButtons">
      <% unless review.resolved? %>
        <%= button_to_remote message('reviews.assign'),
                             :url => {:controller => "project_reviews", :action => "assign_form", :id => review.id},
                             :update => "actionForm",
                             :complete => "$('actionButtons').remove();$('actionForm').show();" -%>

      <% end %>

      <%
         if !violation_switched_off
      %>
        <%= button_to_remote (review.resolved? ? message('reviews.reopen') : message('reviews.resolved')),
                             :url => {:controller => "project_reviews", :action => "change_status_form", :id => review.id},
                             :update => "actionForm",
                             :complete => "$('actionButtons').remove();$('actionForm').show();$('actionText').focus();" -%>


      <% end %>
      <% if review.can_change_false_positive_flag? %>
        <%= button_to_remote (violation_switched_off ? message('reviews.unflag_as_false_positive') : message('reviews.flag_as_false_positive')),
                             :url => {:controller => "project_reviews", :action => "false_positive_form", :id => review.id, :false_positive => !violation_switched_off},
                             :update => "actionForm",
                             :complete => "$('actionButtons').remove();$('actionForm').show();$('actionText').focus();" -%>
      <% end %>

      <% unless review.resolved? %>
        <%= button_to_remote message('reviews.change_severity'),
                             :url => {:controller => "project_reviews", :action => "change_severity_form", :id => review.id},
                             :update => "actionForm",
                             :complete => "$('actionButtons').remove();$('actionForm').show();$('selectSeverity').focus();" -%>

        <%= button_to_remote message('reviews.link_to_action_plan'),
                             :url => {:controller => "project_reviews", :action => "action_plan_form", :id => review.id},
                             :update => "actionForm",
                             :complete => "$('actionButtons').remove();$('actionForm').show();$('selectSeverity').focus();" -%>
        <%
         end
        %>
        <%
          if review.violation
            screens = review.violation.available_java_screens(current_user)
            screens.each do |screen|
        %>
          <%= button_to_remote message("reviews.command.#{screen.getCommandKey()}.button"),
                 :url => {:controller => "project_reviews", :action => "screen", :id => review.id, :command => screen.getCommandKey()},
                 :update => "actionForm",
                 :complete => "$('actionButtons').remove();$('actionForm').show();$('actionText').focus();" -%>
          <%
             end
          end
          %>
    </div>
  <% end %>

  <div class="discussionComment" id="actionForm" style="border: 1px solid #DDD;display:none"></div>

  <table class="reviewDetails marginbottom10">
    <tr>
      <td class="key">
        <%= message('status') -%>:
      </td>
      <td class="val">
        <%= image_tag "status/#{review.status}.png" -%> <span class="reviewStatus<%= review.status -%>"><%= message("reviews.status.#{review.status}") -%></span>
        <% if review.resolution.present? %>
          (<span class="reviewResolution<%= review.resolution -%>"><%= message("reviews.resolution.#{review.resolution}") -%></span>)
        <% end %>
      </td>
      <td class="key">
        <%= message('severity') -%>:
      </td>
      <td class="val">
        <%= image_tag "priority/#{review.severity}.png" -%> <%= message("severity.#{review.severity}") -%>
      </td>
    </tr>
    <tr>
      <td class="key">
        <%= message('assignee') -%>:
      </td>
      <td class="val">
        <%= review.assignee ? h(review.assignee.name) : '-' -%>
      </td>
      <td class="key">
        <%= message('author') -%>:
      </td>
      <td class="val">
        <%= review.user ? h(review.user.name) : '-' -%>
      </td>
    </tr>
    <tr>
      <td class="key">
        <%= message('created') -%>:
      </td>
      <td class="val">
        <%= l(review.created_at) -%>
      </td>
      <td class="key">
        <%= message('updated') -%>:
      </td>
      <td class="val">
        <%= l(review.updated_at) -%>
      </td>
    </tr>
    <% if review.planned? %>
      <tr>
        <td class="key">
          <%= message('reviews.planned_for_label') -%>:
        </td>
        <td class="val" colspan="3">
          <%= h(review.action_plan.name) -%>
        </td>
      </tr>
    <% end %>
    <% if review.rule %>
      <tr>
        <td class="key">
          <%= message('rule') -%>:
        </td>
        <td class="val" colspan="3">
          <a onclick="window.open(this.href,'rule','height=800,width=900,scrollbars=1,resizable=1');return false;" href="<%= url_for :controller => 'rules', :action => 'show', :id => review.rule.key, :layout => 'false' -%>"><%= h(review.rule.name) -%></a>
        </td>
      </tr>
    <% end %>
    <tr>
      <td class="key">
        <%= message('file') -%>:
      </td>
      <td class="val" colspan="3">
        <%= qualifier_icon(review.resource) -%>
        <% if !review.on_project? %> <%= review.project.long_name -%> <%= image_tag 'sep12.png' -%>
        <% end %>
        <% if review.rule_failure && review.rule_failure.snapshot %>
          <%= link_to_resource(review.resource, review.resource.long_name, {:tab => :violations, :rule => review.false_positive ? "false_positive_reviews" : ""}) %>
        <% else %>
          <%= review.resource.long_name -%>
        <% end %>
      </td>
    </tr>
  </table>

  <% if review.rule_failure && review.resource_line && review.rule_failure.snapshot && has_role?(:codeviewer, review.project) %>
    <div class="marginbottom10">
      <%= snapshot_html_source(review.rule_failure.snapshot, {:line_range => (review.resource_line-5)..(review.resource_line+5), :highlighted_lines => [review.resource_line]}) -%>
    </div>
  <% end %>

  <% if review.rule_failure || !review.comments.empty? %>
  <div class="discussion marginbottom10">
    <% if review.rule_failure %>
      <div class="discussionComment first">
        <%= h(review.rule_failure.message) -%>
      </div>
    <% end %>
    <%
       review.comments.each_with_index do |comment, comment_index|
         is_last_comment=(comment_index==review.comments.size-1)
    %>
      <div class="discussionComment">
        <h4>
          <%= image_tag("reviews/comment.png") -%> &nbsp;<b><%= comment.user.name -%></b> (<%= distance_of_time_in_words_to_now(comment.created_at) -%>)
          <% if is_last_comment && current_user && !review.closed? %>
           <span class="actions" id="editActions">
             &nbsp;&nbsp;
             <%= image_tag("sep12.png") -%>
             &nbsp;
             <%
                if current_user.id == comment.user_id
             %>
               <%= link_to_remote message('edit'),
                                  :url => {:controller => "project_reviews", :action => "comment_form", :comment_id => comment.id, :id => review.id},
                                  :update => "lastComment",
                                  :complete => "$('commentAction').remove();$('editActions').hide();$('commentText').focus();",
                                  :html => {:class => 'link-action'} -%>
               &nbsp;
                 <%= link_to_remote message('delete'),
                                    :url => {:controller => "project_reviews", :action => "delete_comment", :comment_id => comment.id, :id => review.id},
                                    :update => "review",
                                    :confirm => message('reviews.do_you_want_to_delete_comment'),
                                    :html => {:class => 'link-action'} -%>
             <%
                end
             %>
           </span>
          <% end %>
        </h4>
        <% if is_last_comment %>
          <div id="lastComment">
            <%= comment.html_text -%>
          </div>
        <% else %>
          <%= comment.html_text -%>
        <% end %>
      </div>
    <% end %>
  </div>
  <% end %>

  <% if current_user && !review.closed? %>
    <%= button_to_remote message('reviews.comment'),
                         {
                           :url => {:controller => "project_reviews", :action => "comment_form", :id => review.id},
                           :update => "commentForm",
                           :complete => "$('commentAction').remove();$('commentForm').show();$('commentText').focus();"
                         },
                         :id => 'commentAction' -%>

    <div class="discussionComment" id="commentForm" style="border: 1px solid #DDD;display:none"></div>
  <% end %>
</div>