{{! activation }}

{{#notEq activation 'false'}}
  <a class="coding-rules-bulk-change-dropdown-link" data-action="activate">
    {{t 'coding_rules.activate_in'}}
  </a>
{{/notEq}}

{{#eq activation 'false'}}
  <a class="coding-rules-bulk-change-dropdown-link" data-action="activate" data-param="{{qualityProfile}}">
    {{t 'coding_rules.activate_in'}} <strong>{{qualityProfileName}}</strong>
  </a>
{{/eq}}



{{! deactivation }}

{{#notEq activation 'true'}}
  <a class="coding-rules-bulk-change-dropdown-link" data-action="deactivate">
    {{t 'coding_rules.deactivate_in'}}
  </a>
{{/notEq}}

{{#eq activation 'true'}}
  <a class="coding-rules-bulk-change-dropdown-link" data-action="deactivate" data-param="{{qualityProfile}}">
    {{tp 'coding_rules.deactivate_in'}} <strong>{{qualityProfileName}}</strong>
  </a>
{{/eq}}



{{! severity }}

{{#eq activation 'true'}}
  <a class="coding-rules-bulk-change-dropdown-link" data-action="change-severity" data-param="{{qualityProfile}}">
    {{t 'coding_rules.change_severity_in'}} <strong>{{qualityProfileName}}</strong>
  </a>
{{/eq}}
