<form>
  <div class="modal-head">
    {{#eq action 'activate'}}
      <h2>{{t 'coding_rules.activate_in_quality_profile'}} ({{paging.fTotal}} {{t 'coding_rules._rules'}})</h2>
    {{/eq}}
    {{#eq action 'deactivate'}}
      <h2>{{t 'coding_rules.deactivate_in_quality_profile'}} ({{paging.fTotal}} {{t 'coding_rules._rules'}})</h2>
    {{/eq}}
    {{#eq action 'change-severity'}}
      <h2>{{t 'coding_rules.change_severity'}} ({{paging.fTotal}} {{t 'coding_rules._rules'}})</h2>
    {{/eq}}
  </div>

  <div class="modal-body">
    <div class="modal-error"></div>

    {{#eq action 'activate'}}
      <div class="modal-field">
        <label for="coding-rules-bulk-change-activate-on">{{t 'coding_rules.activate_in'}}</label>
        <select id="coding-rules-bulk-change-activate-on" multiple>
          {{#each activateOnQualityProfiles}}
            <option value="{{key}}">{{name}} ({{lang}})</option>
          {{/each}}
        </select>
        <input id="coding-rules-bulk-change-activate-all" type="checkbox">
        <label class="simple-label" for="coding-rules-bulk-change-activate-all">{{t 'all'}}</label>
      </div>
    {{/eq}}

    {{#eq action 'deactivate'}}
      <div class="modal-field">
        <label for="coding-rules-bulk-change-deactivate-on">{{t 'coding_rules.deactivate_in'}}</label>
        <select id="coding-rules-bulk-change-deactivate-on" multiple>
          {{#each deactivateOnQualityProfiles}}
            <option value="{{key}}">{{name}} ({{lang}})</option>
          {{/each}}
        </select>
        <input id="coding-rules-bulk-change-deactivate-all" type="checkbox">
        <label class="simple-label" for="coding-rules-bulk-change-deactivate-all">{{t 'all'}}</label>
      </div>
    {{/eq}}

    {{#eq action 'change-severity'}}
      {{#if qualityProfile}}
        <div class="modal-field">
          <label for="coding-rules-bulk-change-severity">{{t 'coding_rules.change_severity'}}</label>
          <select id="coding-rules-bulk-change-severity">
            {{#each severities}}
              <option value="{{this}}">{{t 'severity' this}}</option>
            {{/each}}
          </select>
        </div>
      {{/if}}
    {{/eq}}
  </div>

  <div class="modal-foot">
    <button>{{t 'apply'}}</button>
    <a id="coding-rules-cancel-bulk-change" class="action">{{t 'cancel'}}</a>
  </div>
</form>