<div class="navigator-facets-list">
  {{#each items}}
    <div class="navigator-facets-list-item" data-property="{{property}}">
      <div class="navigator-facets-list-item-name">{{name}}</div>
      <div class="navigator-facets-list-item-options">
        {{#each values}}
          <a class="navigator-facets-list-item-option" data-key="{{key}}" data-property="{{../name}}">
            <span class="navigator-facets-list-item-option-name">{{val}}</span>
            <span class="navigator-facets-list-item-option-stat">{{count}}</span>
          </a>
        {{/each}}
      </div>
    </div>
  {{/each}}
</div>
