{{! activation }}

{{#notEq activation 'active'}}
  <a class="coding-rules-bulk-change-dropdown-link" data-action="activate">
    {{t 'coding_rules.activate_in'}}
  </a>
{{/notEq}}

{{#eq activation 'active'}}
  <a class="coding-rules-bulk-change-dropdown-link" data-action="activate" data-param="{{qualityProfile}}">
    {{t 'coding_rules.activate_in'}} <strong>{{qualityProfileName}}</strong>
  </a>
{{/eq}}

{{#if singleLanguage}}
  <a class="coding-rules-bulk-change-dropdown-link" data-action="activate" data-param="<all>">
    {{tp 'coding_rules.activate_in_all_quality_profiles' language}}
  </a>
{{/if}}



{{! dectivation }}

{{#notEq activation 'inactive'}}
  <a class="coding-rules-bulk-change-dropdown-link" data-action="deactivate">
    {{t 'coding_rules.deactivate_in'}}
  </a>
{{/notEq}}

{{#if qualityProfile}}{{#eq activation 'inactive'}}
  <a class="coding-rules-bulk-change-dropdown-link" data-action="deactivate" data-param="{{qualityProfile}}">
    {{tp 'coding_rules.deactivate_in'}} <strong>{{qualityProfileName}}</strong>
  </a>
{{/eq}}{{/if}}

{{#if singleLanguage}}
  <a class="coding-rules-bulk-change-dropdown-link" data-action="deactivate" data-param="<all>">
    {{tp 'coding_rules.deactivate_in_all_quality_profiles' language}}
  </a>
{{/if}}



{{! severity }}

{{#eq activation 'active'}}
  <a class="coding-rules-bulk-change-dropdown-link" data-action="change-severity">
    {{t 'coding_rules.change_severity_in'}} <strong>{{qualityProfileName}}</strong>
  </a>
{{/eq}}