{{#each activeProfiles}}
  {{severityIcon severity}}

  {{#eq inherit 'OVERRIDES'}}
    <i class="icon-inheritance" title="{{tp 'coding_rules.overrides' name parent.name}}"></i>
  {{/eq}}
  {{#eq inherit 'INHERITED'}}
    <i class="icon-inheritance" title="{{tp 'coding_rules.inherits' name parent.name}}"></i>
  {{/eq}}

  {{#if ../canWrite}}
    <div class="button-group">
      {{#unless isTemplate}}
        <button class="coding-rules-detail-quality-profile-change">{{t 'change_verb'}}</button>
      {{/unless}}
      {{#if parent}}
        {{#eq inherit 'OVERRIDES'}}
          <button class="coding-rules-detail-quality-profile-revert button-red">
            {{t 'coding_rules.revert_to_parent_definition'}}
          </button>
        {{/eq}}
      {{else}}
        <button class="coding-rules-detail-quality-profile-deactivate button-red">
          {{t 'coding_rules.deactivate'}}
        </button>
      {{/if}}
    </div>
  {{/if}}
{{/each}}
