<div class="pull-left">
  {{#if state.rule}}
    <a class="js-back">{{t 'coding_rules.return_to_list'}}</a>
  {{else}}
    &nbsp;
  {{/if}}
</div>


<div class="pull-right">
  {{#notNull state.total}}
    <div class="search-navigator-header-pagination flash flash-heavy">
      <strong>
        {{#gt state.total 0}}
          <span class="current">
            {{sum state.selectedIndex 1}}
            /
            <span id="coding-rules-total">{{formatMeasure state.total 'INT'}}</span>
          </span>
        {{else}}
          <span class="current">0 / <span id="coding-rules-total">0</span></span>
        {{/gt}}
      </strong>
      {{t 'coding_rules._rules'}}
    </div>
  {{/notNull}}


  <div class="search-navigator-header-buttons button-group">
    <button class="js-reload">{{t 'reload'}}</button>
    <button class="js-new-search" id="coding-rules-new-search">{{t 'coding_rules.new_search'}}</button>
    {{#if canWrite}}
      <button class="js-bulk-change">{{t 'bulk_change'}}</button>
    {{/if}}
  </div>
</div>
