<form>
  <div class="modal-head">
    <h2>{{tp 'licenses.update_license_for_x' productName}}</h2>
  </div>
  <div class="modal-body">
    <div class="js-modal-messages"></div>
    <label for="license-input">{{t 'licenses.license_input_label'}}</label>
    <textarea class="width-100 spacer-top" rows="7" id="license-input">{{value}}</textarea>
    <div class="spacer-top note">{{t 'licenses.license_input_note'}}</div>
  </div>
  <div class="modal-foot">
    <i class="js-modal-spinner spinner spacer-right hidden"></i>
    <button class="js-modal-submit">{{t 'save'}}</button>
    <a href="#" class="js-modal-close">{{t 'cancel'}}</a>
  </div>
</form>
