<% unless @results_by_qualifier.empty? %>
  <ul>
    <%
       Resourceable::QUALIFIERS.each do |qualifier|
         if @results_by_qualifier[qualifier]
           first=true
           @results_by_qualifier[qualifier].each do |resource_index|
             resource=@resources_by_id[resource_index.resource_id]
             if resource
%>
        <li id="<%= resource.id -%>">
          <div class="q"><%= message("qualifiers.#{qualifier}") if first -%></div>
          <%= qualifier_icon resource -%> <%= highlight(truncate(resource.name(true), :length => 65), params[:s]) -%>
        </li>
<%             first=false
             end
           end
         end
       end
%>
  </ul>
<% else %>
  <ul>
    <li><%= message('no_results') -%></li>
  </ul>
<% end %>
<div class="autocompleteNote"><%= @total -%> <%= message('search.results') -%> <%= message('search.duration', :params => [Time.now - @start_time]) -%></div>