<% unless @resource_indexes_by_qualifier.empty? %>
  <ul>
    <%
       controller.java_facade.getResourceTypes().each do |resource_type|
         resource_indexes = @resource_indexes_by_qualifier[resource_type.getQualifier()]
         if resource_indexes
           first=true
           resource_indexes.each do |resource_index|
             resource=@resources_by_id[resource_index.resource_id]
             if resource
%>
        <li id="<%= resource.id -%>">
          <div class="q"><%= message("qualifiers.#{resource.qualifier}") if first -%></div>
          <%
            displayed_resource_name=resource.name(true)
            name_length=displayed_resource_name.mb_chars.length
            if name_length>70
              displayed_resource_name=truncate(displayed_resource_name.reverse, :length => 70).reverse
            end
          %>
          <span><%= qualifier_icon resource -%> <%= highlight(h(displayed_resource_name), params[:s]) -%></span>
        </li>
<%             first=false
             end
           end
         end
       end
%>
  </ul>
<% else %>
  <ul>
    <li><%= message('no_results') -%></li>
  </ul>
<% end %>
<div class="autocompleteNote"><%= @total -%> <%= message('search.results') -%> <%= message('search.duration', :params => [Time.now - @start_time]) -%></div>