<% #locals = active_rule, profile
  note = active_rule.note
  active_note_detail_div_id = "and_" + active_rule.id.to_s
  add_active_note_button_id = "aanb_" + active_rule.id.to_s
  edit_active_note_link_id = "eanl_" + active_rule.id.to_s
  delete_active_note_link_id = "danl_" + active_rule.id.to_s
  active_note_form_div_id = "anf_" + active_rule.id.to_s
  active_note_textarea_id = "ant_" + active_rule.id.to_s
  submit_active_note_update_button_id = "sanub_" + active_rule.id.to_s
%>

<div id="<%= active_note_detail_div_id -%>">
  <% if note %>
    <blockquote class="spacer-bottom">
      <cite>
        <b><%= note.user.name -%></b> (<%= distance_of_time_in_words_to_now(note.updated_at) -%>)&nbsp;
        <% if profiles_administrator? %>
          | &nbsp;
          <a href="#" id="<%= edit_active_note_link_id -%>" class="link-action"
             onclick="$('<%= active_note_detail_div_id -%>').hide();$('<%= active_note_form_div_id -%>').show();$('<%= active_note_textarea_id -%>').focus();return false;"><%= message('edit') %></a>
          &nbsp;
          <%= link_to_remote message('delete'),
                            :url => {:action => 'delete_active_rule_note', :active_rule_id => active_rule.id },
                            :update => "active_rule_note_#{active_rule.id}",
                            :confirm => message('rules_configuration.confirm_delete_note'),
                            :html => {:class => 'link-action'} -%>
        <% end %>
      </cite>
      <p><%= note.html_text -%></p>
    </blockquote>
  <% elsif profiles_administrator? %>
    <a href="#" onclick="$('<%= active_note_form_div_id -%>').show();$('<%= active_note_detail_div_id -%>').hide();$('<%= active_note_textarea_id -%>').focus(); return false;"
       class="link-action spacer-right" id="<%= add_active_note_button_id -%>"><%= message('rules_configuration.add_note') -%></a>
  <% end %>
</div>

<% if profiles_administrator? %>

  <%= form_remote_tag :url => {:action => 'update_active_rule_note', :active_rule_id => active_rule.id},
                      :update => "active_rule_note_#{active_rule.id}" -%>
  <table id="<%= active_note_form_div_id -%>" style="display: none" class="admin table width100">
    <tbody>
      <tr>
        <td class="width100" colspan="2">
          <textarea name="note" id="<%= active_note_textarea_id -%>" rows="10" style="width:100%"
                    onkeyup="if (this.value=='') $('<%= submit_active_note_update_button_id -%>').disabled=true; else $('<%= submit_active_note_update_button_id -%>').disabled=false;"><%= h(note.plain_text) if note -%></textarea>
        </td>
      </tr>
    <tr>
      <td>
        <input type="submit" value="<%= note ? message('update_verb') : message('rules_configuration.add_note') -%>" name="submit-active-note" id="<%= submit_active_note_update_button_id -%>" disabled="disabled"/>
        <a href="#" onclick="$('<%= active_note_detail_div_id -%>').show();$('<%= active_note_form_div_id -%>').hide();return false;"><%= message('cancel') %></a>
      </td>
      <td align="right">
        <%= render :partial => 'markdown/tips' -%>
      </td>
    </tr>
    </tbody>
  </table>
  </form>
<% end %>
