<% param_value = parameter.default_value || ''
   param_value = active_parameter.value if active_parameter
   active_param_id = active_parameter.id if active_parameter
   active_rule_id = active_rule.id if active_rule
   read_only = !active_rule || !profiles_administrator?
%>

<td class="form-key-cell"><%= parameter.name -%></td>

<td class="form-val-cell">
    <form onsubmit="$j.ajax({  url: '<%= ApplicationController.root_context -%>/rules_configuration/update_param/<%=active_param_id-%>?active_rule_id=<%=active_rule_id-%>&param_id=<%=parameter.id-%>&profile_id=<%=profile.id-%>',
                                type:'post',beforeSend: function(request){$j('#param_loading_<%=parameter.id-%>').show();$j('#error_<%=parameter.id-%>').hide();},
                                data: $j(this).serialize(),
                                success: function(htmlSuccess){$j('#rule_<%=rule.id-%>').replaceWith(htmlSuccess);},
                                complete: function(request){$j('#desc_<%=rule.id-%>').show();$j('#param_loading_<%=parameter.id-%>').hide();},
                                error: 	function(request){$j('#error_<%=parameter.id-%>').text(request.responseText);$j('#error_<%=parameter.id-%>').show();}
                            }); return false;"
           name="form-<%=u parameter.name-%>" method="post"
           action="<%= ApplicationController.root_context -%>/rules_configuration/update_param/<%=active_param_id-%>?active_rule_id=<%=active_rule_id-%>&param_id=<%=parameter.id-%>&profile_id=<%=profile.id-%>">

  <div id="error_<%= parameter.id -%>" class="error" style="display: none"></div>

  <span id="text_<%= parameter.id -%>"><%= param_value_input(parameter, param_value, :disabled => read_only) -%></span>

  <% unless read_only %>
    <%= submit_tag(message('update_verb'), :id => 'submit_' + parameter.id.to_s) %>
    <img src="<%= ApplicationController.root_context -%>/images/loading.gif" style="display:none;" id="param_loading_<%= parameter.id -%>">
    <% if active_parameter and active_parameter.errors.size>0 %>
      <span class="error"><%= active_parameter.errors.on 'value' %></span>
    <% end %>
  <% end %>

  <% if active_rule && active_rule.overrides? && ancestor_active_rule
       ancestor_param = ancestor_active_rule.active_param_by_param_id(parameter.id)
       ancestor_value = ancestor_param && ancestor_param.value ? ancestor_param.value : ''
  %>
    <% if ancestor_value != param_value %>
      <img src="<%= ApplicationController.root_context -%>/images/overrides.png" alt="Overrides parent definition" title="<%= message('rules_configuration.overrides_parent_definition') -%>" style="vertical-align: middle"/>
      <span class="form-val-note" style="font-weight: bold; vertical-align: middle;">
        <%= message('rules_configuration.original_value') -%>
        : <%= ancestor_value.blank? ? '(' + message('rules_configuration.parent_parameter.empty') + ')' : ancestor_value -%>
      </span>
    <% end %>
  <% end %>

  <div class="form-val-note"><%= h(parameter.description || "") -%> <%= ('(' + readable_type(parameter.param_type) + ')') if !readable_type(parameter.param_type).empty? -%></div>

  </form>
</td>
