<td nowrap valign="top" class="left" x="<%= active_rule.failure_level if active_rule -%>" width="1%">
  <form id="levels_<%= rule.id -%>" action="">
    <% enable_modification = profiles_administrator?
       select_box_id = "levels_select_#{rule.id}"
       check_box_id = "levels_check_#{rule.id}"
       rule_select_box = "$('#{select_box_id}')"
       rule_check_box = "$('#{check_box_id}')"
       changel_level = remote_function(
           :url => {:action => 'activate_rule', :rule_id => rule.id, :id => profile.id},
           :loading => "$('levels_#{rule.id}').replace('<img src=\"#{ApplicationController.root_context}/images/loading.gif\"/>');",
           :with => "'level=' + #{rule_select_box}.value", :condition => "#{rule_check_box}.checked")
       activate_rule = remote_function(
           :url => {:action => 'activate_rule', :rule_id => rule.id, :id => profile.id},
           :loading => "$('levels_#{rule.id}').replace('<img src=\"#{ApplicationController.root_context}/images/loading.gif\"/>');",
           :with => "'level=' + get_level_for_rule(#{rule_select_box},#{rule_check_box})")
    %>
    <%= check_box_tag(check_box_id, 'yes', (!active_rule.nil?), :onclick => activate_rule, :disabled => !enable_modification || (active_rule && (active_rule.inherited? || active_rule.overrides?))) %>
    <%= select_tag(select_box_id, options_for_select(RulesConfigurationController::RULE_PRIORITIES, (active_rule.nil? ? rule.priority_text : active_rule.priority_text)),
                   {:onchange => changel_level, :disabled => (!(enable_modification) || active_rule.nil?)}) %>

    <% if active_rule %>
      <% if active_rule.inherited? %>
        <img src="<%= ApplicationController.root_context -%>/images/inherited.png" alt="Inherited from parent" title="<%= message('rules_configuration.inherited_from_parent') -%>"/>
      <% elsif active_rule.overrides? %>
        <img src="<%= ApplicationController.root_context -%>/images/overrides.png" alt="Overrides parent definition" title="<%= message('rules_configuration.overrides_parent_definition') -%>"/>
      <% end %>
    <% end %>
  </form>
</td>

<td class="left" colspan="2">
  <% unless rule.ready? %>
    <div class="rule-status">
      <% if rule.beta? %>
        <span><%= message('rules.status.beta') %></span>
      <% elsif rule.deprecated? %>
        <span><%= message('rules.status.deprecated') %></span>
      <% end %>
    </div>
  <% end %>

  <div class="h3 rule-title"><%= link_to_function("#{h rule.name}", nil, :class => "") do |page|
    page.toggle "desc_#{rule.id}"
  end
  %></div>

  <div id="desc_<%= rule.id -%>" class="rule_detail" style="<%= 'display:none' -%>">
    <a name="rule<%= rule.id -%>"></a>

    <div class="spacer-top spacer-bottom" id="rule_note_<%= rule.id -%>">
      <%= render :partial => 'rule_note', :locals => {:rule => rule} %>
    </div>

    <%
       ancestor_profile = profile.parent
       ancestor_active_rule = ancestor_profile.active_by_rule_id(rule.id) if ancestor_profile && active_rule && (active_rule.inherited? || active_rule.overrides?)
       if ancestor_active_rule || !rule.parameters.empty?
    %>
      <table width="100%" class="table spacer-bottom bordered background-gray">
        <%
           if ancestor_active_rule
             ancestor_active_rule_link = link_to ancestor_profile.name, :controller => 'rules_configuration', :action => 'index',
                                                 :id => ancestor_profile.id, :rule_id => rule.id, :anchor => 'rule' + rule.id.to_s
        %>
          <tr>
            <td colspan="2">
              <%= message(active_rule.inherited? ? 'rules_configuration.rule_inherited_from_profile_x' : 'rules_configuration.rule_overriding_from_profile_x',
                          :params => ancestor_active_rule_link) -%>
              <% if ancestor_active_rule.priority != active_rule.priority %>
                <img src="<%= ApplicationController.root_context -%>/images/overrides.png" alt="Overrides parent definition" title="<%= message('rules_configuration.overrides_parent_definition') -%>" style="vertical-align: middle"/>
                <span class="form-val-note" style="font-weight: bold"> <%= message('rules_configuration.original_severity') -%>
                  : <%= ancestor_active_rule.priority_text -%></span>
              <% end %>
              <% if profiles_administrator? && active_rule.overrides? %>
                <form action="<%= url_for :overwrite_params => {:action => 'revert_rule', :id => profile.id, :active_rule_id => active_rule.id} -%>" method="post" style="display: inline">
                  <input type="submit" value="<%= message('rules_configuration.revert_to_parent_definition') -%>">
                </form>
              <% end %>
            </td>
          </tr>
        <% end %>
        <% rule.parameters.sort.each do |parameter|
          active_parameter = active_rule.active_param_by_param_id(parameter.id) if active_rule
        %>
          <tr id="param_<%= parameter.id -%>">
            <%= render :partial => 'rule_param', :object => nil,
                       :locals => {:parameter => parameter, :active_parameter => active_parameter, :profile => profile, :rule => rule,
                                   :active_rule => active_rule, :ancestor_active_rule => ancestor_active_rule} %>
          </tr>
        <%
           end
        %>
      </table>
    <% end %>

    <% if active_rule %>
      <div id="active_rule_note_<%= active_rule.id -%>">
        <%= render :partial => 'active_rule_note', :locals => {:active_rule => active_rule, :profile => profile} %>
      </div>
    <% end %>

    <% if profiles_administrator? %>
      <% if rule.template? %>
        <%= link_to message('rules_configuration.copy_rule'), {:action => 'new', :id => profile.id, :rule_id => rule.id}, :id => "copy-#{u rule.key}", :class => 'link-action spacer-right' %>
      <% end %>
      <% if rule.editable? %>
        <%= link_to message('rules_configuration.edit_rule'), {:action => 'edit', :id => profile.id, :rule_id => rule.id}, :class => 'link-action spacer-right' %>
      <% end %>
    <% end %>

    <div class="note">
      <span id="rule_repository_<%= rule.id -%>"><%= message('rules_configuration.repository') %>: <%= rule.repository_key %></span>
      &nbsp;<%= image_tag 'sep12.png' -%>&nbsp;
      <span id="rule_key_<%= rule.id -%>"><%= message('key') %>: <%= rule.plugin_rule_key %></span>
      &nbsp;<%= image_tag 'sep12.png' -%>&nbsp;
      <% if rule.removed? %>
        <span id="rule_available_since_<%= rule.id -%>"><%= message('rules_configuration.removed_since') %>: <%= human_short_date(rule.updated_at) %></span>
      <% else %>
        <span id="rule_available_since_<%= rule.id -%>"><%= message('rules_configuration.available_since') %> <%= human_short_date(rule.created_at) %></span>
      <% end %>
    </div>
  </div>
</td>

<script type="text/javascript">
  Form.reset($('levels_<%= rule.id -%>'));
</script>
