<% #locals = rule
  note = rule.ruleNote
  note_detail_div_id = "nd_" + rule.id.to_s
  note_extend_link_id = "nel_" + rule.id.to_s
  note_form_div_id = "nf_" + rule.id.to_s
  note_textarea_id = "nt_" + rule.id.to_s
  submit_note_update_button_id = "snub_" + rule.id.to_s
%>

<div id="<%= note_detail_div_id -%>">
  <div class="marginbottom10">
  <% unless rule.description.nil? %>
    <% if rule.description.strip.start_with?('<p>') %>
      <%= Internal.text.interpretMacros(rule.description) %>
    <% else %>
      <p><%= Internal.text.interpretMacros(rule.description) %></p>
    <% end %>
  <% end %>
  </div>

  <% if rule.ruleNote && !rule.ruleNote.data.strip.blank? %>
    <p><%= html_text(rule.ruleNote.data) -%></p>
  <% end %>

  <% if profiles_administrator? %>
    <div>
        <a href="#" id="<%= note_extend_link_id -%>" class="link-action spacer-right"
           onclick="$j('#<%= note_detail_div_id -%>').hide();$j('#<%= note_form_div_id -%>').show();$j('#<%= note_textarea_id -%>').focus();return false;"><%= message('rules_configuration.extend_description') %></a>
    </div>
  <% end %>

</div>

<% if profiles_administrator? %>
<div id="<%= note_form_div_id -%>" style="display: none" class="admin">

  <form onsubmit="$j.ajax({
                        url:'<%=ApplicationController.root_context-%>/rules_configuration/update_rule_note?rule_id=<%=rule.id-%>&active_rule_id=<%=rule.activeRuleId-%>',
                        success:function(response){;$j('#rule_note_<%=rule.id-%>').html(response);},
                        data: $j(this).serialize(),
                        type:'post'});
                  return false;"
        method="post"
        action="<%=ApplicationController.root_context-%>/rules_configuration/update_rule_note?rule_id=<%=rule.id-%>">
  <table class="width100 table">
    <tbody>
      <tr>
        <td colspan="2"><%= rule.description %></td>
      </tr>
      <tr>
        <td class="width100" colspan="2">
          <textarea name="text" id="<%= note_textarea_id -%>" rows="10" style="width:100%"><%= h(plain_text(note.data)) if note -%></textarea>
        </td>
      </tr>
    <tr>
      <td>
        <input type="submit" value="<%= message('rules_configuration.extend_description') -%>" name="commit" id="<%= submit_note_update_button_id -%>"/>
        <a href="#" onclick="$j('#<%= note_detail_div_id -%>').show();$j('#<%= note_form_div_id -%>').hide();return false;"><%= message('cancel') %></a>
      </td>
      <td align="right">
        <%= render :partial => 'markdown/tips' -%>
      </td>
    </tr>
    </tbody>
  </table>
  </form>
</div>
<% end %>
