<% # locals = rule, profile, parameter, parent_active_rule
   param_id = "#{rule.id}#{parameter.key}"
   # Display default value only for inactive rules
   param_value = parameter.default_value if !rule.activeRuleId
   param_value = parameter.value if !param_value
   active_rule_id = rule.activeRuleId
   read_only = rule.activeRuleId.nil? || !profiles_administrator?
%>

<td class="form-key-cell"><%= parameter.key -%></td>

<td class="form-val-cell">
    <form onsubmit="$j.ajax({  url: '<%= ApplicationController.root_context -%>/rules_configuration/update_param/?active_rule_id=<%=active_rule_id-%>&param_id=<%=parameter.key-%>&profile_id=<%=profile.id-%>',
                               type:'post',beforeSend: function(request){$j('#param_loading_<%=param_id-%>').show();$j('#error_<%=param_id-%>').hide();},
                               data: $j(this).serialize(),
                               success: function(response){$j('#rule_<%=rule.id-%>').html(response);},
                               complete: function(request){$j('#desc_<%=rule.id-%>').show();$j('#param_loading_<%=param_id-%>').hide();},
                               error: function(request){$j('#error_<%=param_id-%>').text(request.responseText);$j('#error_<%=param_id-%>').show();}
                            }); return false;"
           name="form-<%=u parameter.key-%>" method="post"
           action="<%= ApplicationController.root_context -%>/rules_configuration/update_param/?active_rule_id=<%=active_rule_id-%>&param_id=<%=parameter.key-%>&profile_id=<%=profile.id-%>">

  <div id="error_<%= param_id -%>" class="error" style="display: none"></div>

  <span id="text_<%= param_id -%>"><%= param_value_input(rule, parameter, param_value, :disabled => read_only) -%></span>

  <% unless read_only %>
    <%= submit_tag(message('update_verb'), :id => 'submit_' + param_id.to_s) %>
    <img src="<%= ApplicationController.root_context -%>/images/loading.gif" style="display:none;" id="param_loading_<%= param_id -%>" class="rule-param-loading">
  <% end %>

  <% if !rule.nil? && rule.overrides? && parent_active_rule
       ancestor_param = parent_active_rule.params.to_a.find {|param| param.key() == parameter.key}
       ancestor_value = ancestor_param && ancestor_param.value ? ancestor_param.value : ''
  %>
    <% if ancestor_value != param_value %>
      <img src="<%= ApplicationController.root_context -%>/images/overrides.png" alt="Overrides parent definition" title="<%= message('rules_configuration.overrides_parent_definition') -%>" style="vertical-align: middle"/>
      <span class="form-val-note" style="font-weight: bold; vertical-align: middle;">
        <%= message('rules_configuration.original_value') -%>
        : <%= ancestor_value.blank? ? '(' + message('rules_configuration.parent_parameter.empty') + ')' : ancestor_value -%>
      </span>
    <% end %>
  <% end %>

  <div class="form-val-note"><%= h(parameter.description || "") -%> <%= ('(' + readable_type(parameter.type) + ')') if !readable_type(parameter.type).empty? -%></div>

  </form>
</td>
