<% param_value = parameter.default_value || ''
   param_value = active_parameter.value if active_parameter
   active_param_id = active_parameter.id if active_parameter
   active_rule_id = active_rule.id if active_rule
   read_only = !active_rule || !profiles_administrator?
%>

<td class="form-key-cell"><%= parameter.name -%></td>

<td class="form-val-cell">
  <%= form_remote_tag :url => {:action => :update_param, :id => active_param_id, :profile_id => profile.id, :param_id => parameter.id, :active_rule_id => active_rule_id},
                      :update => {:success => "rule_#{rule.id}", :failure => "error_#{parameter.id}"},
                      :loading => "$('param_loading_#{parameter.id}').show();",
                      :complete => "$('desc_#{rule.id}').show();",
                      :failure => "$('error_#{parameter.id}').show();$('param_loading_#{parameter.id}').hide();",
                      :html => {:name => "form-#{u parameter.name}"} %>

  <div id="error_<%= parameter.id -%>" class="error" style="display: none"></div>

  <span id="text_<%= parameter.id -%>"><%= param_value_input(parameter, param_value, :disabled => read_only) -%></span>

  <% unless read_only %>
    <%= submit_tag message('update_verb') %>
    <img src="<%= ApplicationController.root_context -%>/images/loading.gif" style="display:none;" id="param_loading_<%= parameter.id -%>">
    <% if active_parameter and active_parameter.errors.size>0 %>
      <span class="error"><%= active_parameter.errors.on 'value' %></span>
    <% end %>
  <% end %>

  <% if active_rule && active_rule.overrides? && ancestor_active_rule
       ancestor_param = ancestor_active_rule.active_param_by_param_id(parameter.id)
       ancestor_value = ancestor_param && ancestor_param.value ? ancestor_param.value : ''
  %>
    <% if ancestor_value != param_value %>
      <img src="<%= ApplicationController.root_context -%>/images/overrides.png" alt="Overrides parent definition" title="<%= message('rules_configuration.overrides_parent_definition') -%>" style="vertical-align: middle"/>
      <span class="form-val-note" style="font-weight: bold; vertical-align: middle;">
        <%= message('rules_configuration.original_value') -%>
        : <%= ancestor_value.blank? ? '(' + message('rules_configuration.parent_parameter.empty') + ')' : ancestor_value -%>
      </span>
    <% end %>
  <% end %>

  <div class="form-val-note"><%= h(parameter.description || "") -%> <%= ('(' + readable_type(parameter.param_type) + ')') if !readable_type(parameter.param_type).empty? -%></div>

  </form>
</td>
