<script type="text/javascript">
  var localModifications=false;

  function get_level_for_rule(rule_select_box,rule_check_box) {
    return rule_check_box.checked ? rule_select_box.value : '';
  }

  function submitBulkForm() {
    if (localModifications) {
      alert("Please refresh the search results before.");
      $('bulk-form').reset();
    } else {
      $('bulk-form').submit();
    }
    return !localModifications;
  }

  function downloadCsv() {
    if (localModifications) {
      alert("Please refresh the search results before.");
    }
    return !localModifications;
  }

  function expand_rules(){
    $$('.rule_detail').each(function(element) {
        element.show();
    });
  }
  function collapse_rules(){
    $$('.rule_detail').each(function(element) {
      element.hide();
    });
  }

  function replaceTextField(span_id, key) {
    var text_field_value = $F(key);
    var text_area = '<textarea cols="100" id="' + key + '" name="value" rows="10">' + text_field_value + '</textarea><br/>';
    $(span_id).replace(text_area);
  }

  function submitSearch() {
    $j("#rules-search-form").submit();
  }

  function submitSortBy(){
    $j('#sort_by').val($j('#select-rules-sort-by').val());
    $j("#rules-search-form").submit();
  }
</script>
<%= render :partial => 'profiles/tabs', :locals => {:selected_tab=>'Coding rules'} %>

<% enable_modification = profiles_administrator? %>
<div class="tabs-panel marginbottom10 background-gray">

<% form_tag({:action => 'index'}, {:id => 'rules-search-form', :method => 'get'}) do %>
    <%= hidden_field_tag "sort_by", @sort_by, :id => 'sort_by' %>

    <div class="table" id="search_table">
      <div class="rule-search top">
        <span class="note"><%= message('name') -%>/<%= message('key') -%></span><br/>
        <%= text_field_tag "searchtext", @searchtext, :id => 'searchtext' %>
      </div>
      <div class="rule-search top">
        <span class="note"><%= message('rules_configuration.repository') -%></span><br/>
        <%= dropdown_tag "repositories", options_for_select(@select_repositories, @repositories), {
            :show_search_box => true,
            :width => '120px',
            :placeholder => message('any')
        }, {:id => 'search_repository', :multiple => true} -%>
      </div>
      <div class="rule-search top">
        <span class="note"><%= message('severity') -%></span><br/>
        <%= dropdown_tag "priorities", options_for_select(@select_priority, @priorities), {
            :show_search_box => true,
            :width => '90px',
            :placeholder => message('any')
        }, {:id => 'search_priority', :multiple => true} -%>
      </div>
      <div class="rule-search top">
        <span class="note"><%= message('activation') -%></span><br/>
        <%= dropdown_tag "rule_activation", options_for_select(@select_activation, @activation), {
            :width => '100px'
        }, {:id => 'search_activation'} -%>
      </div>
      <div class="rule-search top">
        <span class="note"><%= message('rules_configuration.status_filters') -%></span><br/>
        <%= dropdown_tag "status", options_for_select(@select_status, @status), {
            :show_search_box => true,
            :width => '120px',
            :placeholder => message('any')
        }, {:id => 'search_status', :multiple => true} -%>
      </div>
      <% if @profile.inherited? %>
        <div class="rule-search top">
          <span class="note"><%= message('inheritance') -%></span><br/>
          <%= dropdown_tag "inheritance", options_for_select(@select_inheritance, @inheritance), {
              :width => '120px'
          }, {:id => 'search_inheritance'} -%>
        </div>
      <% end %>
      <div class="rule-search">
        <br/>
        <%= submit_tag message('search_verb'), :id => 'submit_search', :onclick => 'submitSearch();' %>
      </div>
    </div>

<% end %>
</div>
<div class="line-block marginbottom10">
  <ul style="float: right" class="horizontal">
    <li class="marginleft10">
      <div class="csv">
      <a href="<%= url_for(:controller => 'api/rules', :action => 'index', :language => @profile.language, :profile => @profile.name, :plugins => @repositories.join(','),
                           :status => @activation, :inheritance => @inheritance, :searchtext => @searchtext, :priorities => @priorities.join(','), :format => 'csv') -%>"
         onClick="return downloadCsv()" id="download-link" class=""><%= message('download_verb') -%></a>
      </div>
    </li>
    <% if enable_modification %>
      <li class="marginleft10">
        <div class="bulk-edit"><%= message('bulk_change') -%>:
        <form action="<%= ApplicationController.root_context -%>/rules_configuration/bulk_edit" method="POST" id="bulk-form"
              style="display: inline; vertical-align: middle; padding-right:5px">
          <input type="hidden" name="id" value="<%= @profile.id -%>"/>
          <input type="hidden" name="bulk_rule_ids" value="<%= @rules.map{|r| r.id}.join(',') -%>"/>
          <%= dropdown_tag "bulk_action", options_for_select([ ["", ""], [message('activate_all'), "activate"], [message('deactivate_all'), "deactivate"] ], ''), {
              :width => '110px'
          }, {:onChange => 'submitBulkForm()'} -%>
        </form>
        </div>
      </li>
    <% end %>
  </ul>
  <h2>
     <% if @hidden_actives && @hidden_actives>0 %>
      <span class="small"><a href="<%= url_for params.merge({:rule_activation => ''}) -%>"
        id="active-rules-link">+<%= message('rules_configuration.x_found_in_active_rules', :params => @hidden_actives) -%></a></span><% end %>
     <% if @hidden_inactives && @hidden_inactives>0 %>
      <span class="small"><a href="<%= url_for params.merge({:rule_activation => ''}) -%>"
        id="inactive-rules-link">+<%= message('rules_configuration.x_found_in_inactive_rules', :params => @hidden_inactives) -%></a></span><% end %>
  </h2>
</div>
<table class="table table-bordered width100 spacer-bottom" id="result_table">
  <thead>
    <tr>
      <th class="left" nowrap><%= message('active') -%>/<%= message('severity') -%></th>
      <th class="left"><%= message('name') -%> <span style="font-weight: normal">
        [<%= link_to_function(message('rules_configuration.expand'), "expand_rules()") %> / <%= link_to_function(message('rules_configuration.collapse'), "collapse_rules()") %>]</span></th>
      <th class="right" nowrap>
        <span class="middle"><%= message('rules_configuration.sort_by') -%></span>
        <% form_tag({:action => 'index'}, :class=> 'middle', :style => 'display:inline-block') do %>
          <%= dropdown_tag "sort_by", options_for_select(@select_sort_by, @sort_by), {
              :width => '120px'
          }, {:id => 'select-rules-sort-by', :onChange => 'submitSortBy()'} -%>
        <% end %>
      </th>
    </tr>
</thead>

<%= table_pagination(@pagination, :colspan => 2) { |label, page_id| link_to(label, params.merge({:page => page_id}))} -%>

<tbody>
<% if @current_rules.empty? %>
<tr><td colspan="3" class="even"><%= message('no_results') -%>.</td></tr>
<% end %>
<%
  @current_rules.each do |rule|
    active_rule = @profile.active_by_rule_id(rule.id)
%>
  <tr id="rule_<%= rule.id -%>">
    <%= render :partial => 'rule', :object => rule, :locals => {:profile => @profile, :rule => rule, :active_rule => active_rule} %>
  </tr>
<% end %>
</tbody>
</table>
