<h1 class="marginbottom10"><%= link_to message('quality_profiles.quality_profiles'), :controller => 'profiles', :action => 'index' -%> / <%= h @profile.language -%> / <%= h @profile.name %></h1>

<%= render :partial => 'profiles/tabs', :locals => {:new_tab => message('rules_configuration.tab.new_rule')} %>

<div class="tabs-panel marginbottom10 background-gray">

<form method="POST" action="<%= url_for :action => 'create', :id => @profile.id, :rule_id => @rule.id -%>">
<table width="100%" class="spaced">
  <tr>
    <td width="1%" nowrap><%= message('template') -%>:</td>
    <td class="sep"> </td>
    <td><%= h @rule.name -%></td>
  </tr>
  <tr>
    <td width="1%" nowrap><%= message('name') -%>:</td>
    <td class="sep"> </td>
    <td><input type="text" name="rule[name]" size="80"/></td>
  </tr>
  <tr>
    <td width="1%" nowrap><%= message('default_severity') -%>:</td>
    <td class="sep"> </td>
    <td>
      <select name="rule[priority]">
        <%= options_for_select(Sonar::RulePriority.as_options) %>
      </select>
    </td>
  </tr>
  <% @rule.parameters.sort{|x,y| x.name <=> y.name}.each do |parameter| %>
    <tr>
      <td width="1%" nowrap><%= parameter.name %>:</td>
      <td class="sep"> </td>
      <td>
        <%= param_value_input(parameter, "", {:name => "rule_param[#{h parameter.name}]", :size => '80x10'}) -%>
        <span class="small"><%= h parameter.description %></span>
      </td>
    </tr>
  <% end %>
  <tr>
    <td width="1%" nowrap style="vertical-align: top"><%= message('description') -%>:</td>
    <td class="sep"> </td>
    <td valign="top">
      <textarea name="rule[description]" cols="80" rows="10" style="vertical-align: baseline"></textarea>
      <span class="small"><%= message('rules_configuration.html_allowed') -%></span>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <input type="submit" value="<%= message('create') -%>"/> <a href="<%= url_for :action => 'index', :id => @profile.id -%>"><%= message('cancel') -%></a>
    </td>
  </tr>
</table>
</form>
</div>