<h3>{{t 'coding_rules'}}</h3>
<p class="spacer-top">Total: <a href="{{link rulesSearchUrl}}">{{formatMeasure activeRuleCount 'INT'}}</a></p>
{{#notEmpty rulesSeverities}}
  <ul class="spacer-top list-inline">
    {{#each rulesSeverities}}
      <li>
        {{severity val}}
        <a href="{{link ../rulesSearchUrl '|severities=' val}}">{{formatMeasure count 'INT'}}</a>
      </li>
    {{/each}}
  </ul>
{{/notEmpty}}

<hr class="spacer-top spacer-bottom">

<h3>{{t 'projects'}}</h3>
{{#if isDefault}}
  <p class="alert alert-info">{{t 'quality_profiles.projects_for_default.edit'}}</p>
{{else}}
  <div id="quality-profile-projects"></div>
{{/if}}

<hr class="spacer-top spacer-bottom">

<h3>{{t 'permalinks'}}</h3>
<p class="alert alert-warning">Coming soon...</p>

<hr class="spacer-top spacer-bottom">

<div id="quality-profile-inheritance">
  <header class="page-header">
    <h3 class="page-title">{{t 'quality_profiles.profile_inheritance'}}</h3>
    <div class="page-actions">
      <div class="button-group">
        <button id="quality-profile-change-parent">{{t 'quality_profiles.change_parent'}}</button>
      </div>
    </div>
  </header>
  <div class="text-center">
    {{#notEmpty ancestors}}
      <ul id="quality-profile-ancestors">
        {{#eachReverse ancestors}}
          <li>
            <div class="alert alert-inline alert-info">
              <h6><a class="js-profile" data-key="{{key}}" href="{{profileUrl key}}">{{name}}</a></h6>
              <p class="note">{{tp 'quality_profile.x_active_rules' activeRuleCount}}</p>
              {{#if overridingRuleCount}}
                <p class="note">{{tp 'quality_profiles.x_overridden_rules' overridingRuleCount}}</p>
              {{/if}}
            </div>
            <div class="spacer-top spacer-bottom">
              <i class="icon-move-down"></i>
            </div>
          </li>
        {{/eachReverse}}
      </ul>
    {{/notEmpty}}

    <div id="quality-profile-inheritance-current" class="alert alert-inline alert-success">
      <h6>{{name}}</h6>
      <p class="note">{{tp 'quality_profile.x_active_rules' activeRuleCount}}</p>
      {{#if overridingRuleCount}}
        <p class="note">{{tp 'quality_profiles.x_overridden_rules' overridingRuleCount}}</p>
      {{/if}}
    </div>

    {{#notEmpty children}}
      <div class="spacer-top spacer-bottom">
        <i class="icon-move-down"></i>
      </div>
      <ul id="quality-profile-children" class="list-inline">
        {{#eachReverse children}}
          <li>
            <div class="alert alert-inline alert-info">
              <h6><a class="js-profile" data-key="{{key}}" href="{{profileUrl key}}">{{name}}</a></h6>
              <p class="note">{{tp 'quality_profile.x_active_rules' activeRuleCount}}</p>
              {{#if overridingRuleCount}}
                <p class="note">{{tp 'quality_profiles.x_overridden_rules' overridingRuleCount}}</p>
              {{/if}}
            </div>
          </li>
        {{/eachReverse}}
      </ul>
    {{/notEmpty}}
  </div>
</div>

<hr class="spacer-top spacer-bottom">

<h3>{{t 'changelog'}}</h3>
<p class="alert alert-warning">Coming soon...</p>
