<h1 class="page-title">{{t 'quality_profiles.page'}}</h1>

<div class="page-actions">
  <div class="button-group dropdown">
    <button id="quality-profiles-create">{{t 'create'}}</button>
    <a class="button dropdown-toggle" href="#" data-toggle="dropdown"><i class="icon-dropdown"></i></a>
    <ul class="dropdown-menu dropdown-menu-right">
      <li>
        <a href="#">{{t 'quality_profiles.compare_profiles'}}</a>
      </li>
      <li>
        <a id="quality-profiles-restore" href="#">{{t 'quality_profiles.restore_profile'}}</a>
      </li>
      <li>
        <a id="quality-profiles-restore-built-in" href="#">{{t 'quality_profiles.restore_built_in_profiles'}}</a>
      </li>
    </ul>
  </div>
</div>
