<div id="plugins">
  <header class="page-header">
    <h1 class="page-title"><%= message(@resource ? 'project_settings.page' : 'settings.page') -%></h1>
    <p class="page-description"><%= message(@resource ? 'project_settings.page.description' : 'settings.page.description') -%> </p>
  </header>

  <table width="100%">
    <tr>
      <td width="1%" nowrap class="column first">
        <table class="data">
          <thead>
          <tr>
            <th><%= message('category') -%></th>
          </tr>
          </thead>
          <tbody>
          <% @categories.each do |category| -%>
            <tr id="select_<%= category.key -%>" class="select <%= cycle('even', 'odd', :name => 'category') -%> <%= 'selected' if @category.key==category.key -%>">
              <td class="category">
                <% if @resource %>
                  <a href="<%= url_for(:controller => 'project', :action => 'settings') -%>?id=<%= url_encode(@resource.key) -%>&category=<%= url_encode(category.key) -%>"><%= h category_name(category) -%></a>
                <% else %>
                  <%= link_to category_name(category), :category => category.key -%>
                <% end %>
              </td>
            </tr>
          <% end -%>
          </tbody>
        </table>
        <br/>
      </td>

      <td class="column">
        <div id="properties">
          <%= render 'settings/properties' -%>
        </div>
      </td>
    </tr>
  </table>
</div>
