<%
   options = {:id => id}
   options[:size] = (defined? size) ? size : nil
%>

<% if value.blank? %>
  <%= property_input_field(name, PropertyType::TYPE_PASSWORD, value, PropertiesHelper::SCREEN_SETTINGS, options) %>
<% else %>
  <% key = (defined? property_key) ? property_key : property.key %>
  <span class="marginright10">**********</span>
  <a id="update-password-<%= u id %>" href="<%=ApplicationController.root_context-%>/settings/update_password_form?key=<%= u key %>&component_id=<%= u @resource && @resource.id %>"
     class="open-modal link-action">Edit</a>
  <input type="hidden" name="<%= name %>">
<% end %>
