<form id="edit_password" method="post" action="<%= ApplicationController.root_context -%>/settings/update_password">
  <fieldset>
    <div class="modal-head">
      <h2>Update Password '<%= @key %>'</h2>
    </div>
    <div class="modal-body">
      <div class="modal-error"></div>
      <div class="modal-field">
        <input type="hidden" value="<%= @key %>" name="key" id="key"/>
        <input type="hidden" value="<%= @component_id %>" name="component_id" id="component_id"/>
      </div>
      <div class="modal-field">
        <label for="password">Password</label>
        <input type="password" size="50" name="password" id="password" autocomplete="off">
      </div>
    </div>
    <div class="modal-foot">
      <input type="submit" value="Save" name="commit">
      <a class="action" href="#" onclick="return closeModalWindow()"><%= h message('cancel') -%></a>
    </div>
  </fieldset>
</form>

<script>
  $j("#edit_password").modalForm();
</script>
