<%
   file_complexity=measure('file_complexity')
   function_complexity=measure('function_complexity')
   class_complexity=measure('class_complexity')

   if file_complexity || function_complexity || class_complexity
     complexity=measure('complexity')
%>

  <div class="widget-row">
    <div class="widget-span widget-span-5">
      <div class="widget-measure-container">
        <% if complexity %>
          <p class="widget-measure widget-measure-main">
            <span class="widget-label"><%= message('metric.complexity.name') %></span>
            <span class="nowrap">
              <%= format_measure(complexity, :url => url_for_drilldown(complexity)) %>
              <%= format_variation(complexity) if dashboard_configuration.selected_period? -%>
            </span>
          </p>
        <% end %>
        <% if function_complexity %>
          <p class="widget-measure">
            <span class="widget-label"><%= message('widget.complexity.per_method.suffix') %></span>
            <span class="nowrap">
              <%= format_measure(function_complexity, :url => url_for_drilldown(function_complexity)) %>
              <%= format_variation(function_complexity) if dashboard_configuration.selected_period? -%>
            </span>
          </p>
        <% end %>
        <% if class_complexity %>
          <p class="widget-measure">
            <span class="widget-label"><%= message('widget.complexity.per_class.suffix') %></span>
            <span class="nowrap">
              <%= format_measure(class_complexity, :url => url_for_drilldown(class_complexity)) %>
                <%= format_variation(class_complexity) if dashboard_configuration.selected_period? -%>
            </span>
          </p>
        <% end %>
        <% if file_complexity %>
          <p class="widget-measure">
            <span class="widget-label"><%= message('widget.complexity.per_file.suffix') %></span>
            <span class="nowrap">
              <%= format_measure(file_complexity, :url => url_for_drilldown(file_complexity)) %>
                <%= format_variation(file_complexity) if dashboard_configuration.selected_period? -%>
            </span>
          </p>
        <% end %>
      </div>
    </div>

    <div class="widget-span widget-span-7">
      <%
         function_distribution = measure('function_complexity_distribution')
         if function_distribution
      %>
        <div id="complexity-widget-<%= widget.id.to_s -%>-function-distribution"></div>
        <script>
          (function () {
            window.ComplexityDistribution({
              el: '#complexity-widget-<%= widget.id.to_s -%>-function-distribution',
              value: '<%= function_distribution.data -%>',
              of: 'function'
            });
            })();
        </script>
      <% end %>
      <%
         file_distribution = measure('file_complexity_distribution')
         if file_distribution
      %>
      <div id="complexity-widget-<%= widget.id.to_s -%>-file-distribution"></div>
      <script>
        (function () {
          window.ComplexityDistribution({
            el: '#complexity-widget-<%= widget.id.to_s -%>-file-distribution',
            value: '<%= file_distribution.data -%>',
            of: 'file'
          });
          })();
      </script>
      <% end %>
    </div>
  </div>
<% end %>
