<%
  if measure(Metric::LINES) || measure(Metric::NCLOC)
    public_api=measure('public_api')
    public_documented_api_density=measure('public_documented_api_density')
    public_undocumented_api=measure('public_undocumented_api')
    comment_lines=measure('comment_lines')
    comment_lines_density=measure('comment_lines_density')
%>
<div class="widget-row">
  <div class="widget-span widget-span-6">
    <% if public_documented_api_density || public_api || public_undocumented_api %>
    <div class="widget-measure-container">
      <%
        if public_documented_api_density
      %>
      <div class="widget-measure widget-measure-main">
        <span class="widget-label"><%= message('widget.documentation_comments.documentation') -%></span>
        <span class="nowrap">
          <%= format_measure(public_documented_api_density, :url => url_for_drilldown(Metric::PUBLIC_UNDOCUMENTED_API, :highlight => Metric::PUBLIC_DOCUMENTED_API_DENSITY)) %>
          <%= format_variation('public_documented_api_density') if dashboard_configuration.selected_period? -%>
        </span>
      </div>
      <% end %>
      <div class="widget-measure">
        <span class="widget-label"><%= message('metric.public_api.name') -%></span>
        <span class="nowrap">
          <%= format_measure(public_api,:url => url_for_drilldown(public_api)) %>
          <%= format_variation(public_api) if dashboard_configuration.selected_period? -%>
        </span>
      </div>
      <div class="widget-measure">
        <span class="widget-label"><%= message('metric.public_undocumented_api.abbreviation') -%></span>
        <span class="nowrap">
          <%= format_measure(public_undocumented_api,:url => url_for_drilldown(public_undocumented_api)) %>
          <%= format_variation(public_undocumented_api) if dashboard_configuration.selected_period? -%>
        </span>
      </div>
    </div>
    <% end %>
  </div>

  <div class="widget-span widget-span-6">
    <div class="widget-measure-container">
      <div class="widget-measure widget-measure-main">
        <span class="widget-label"><%= message('widget.documentation_comments.comments') -%></span>
        <span class="nowrap">
          <%= format_measure(comment_lines_density,:url => url_for_drilldown(comment_lines_density))%>
          <%= format_variation(comment_lines_density) if dashboard_configuration.selected_period? -%>
        </span>
      </div>
      <div class="widget-measure">
        <span class="widget-label"><%= message('metric.comment_lines.name') -%></span>
        <span class="nowrap">
          <%= format_measure(comment_lines,:url => url_for_drilldown(comment_lines)) %>
          <%= format_variation(comment_lines) if dashboard_configuration.selected_period? -%>
        </span>
      </div>
    </div>
  </div>
</div>
<%
  end
%>
