<%
  duplicated_lines_density=measure('duplicated_lines_density')
  if duplicated_lines_density
%>
<div class="widget-row">
  <div class="widget-span widget-span-12">
    <div class="widget-measure widget-measure-main">
      <span class="widget-label"><%= message('widget.duplications.duplications') -%></span>
      <span class="nowrap">
        <%= format_measure(duplicated_lines_density, :url => url_for_drilldown('duplicated_lines', :highlight =>  'duplicated_lines_density')) %>
        <%= format_variation('duplicated_lines_density') if dashboard_configuration.selected_period? -%>
      </span>
    </div>

    <div class="widget-measure">
      <span class="widget-label"><%= message('widget.duplications.lines.suffix') -%></span>
      <span class="nowrap">
        <%= format_measure(measure('duplicated_lines'), :url => url_for_drilldown('duplicated_lines'))%>
        <%= format_variation('duplicated_lines') if dashboard_configuration.selected_period? -%>
      </span>
    </div>

    <div class="widget-measure">
      <span class="widget-label"><%= message('widget.duplications.blocks.suffix') -%></span>
      <span class="nowrap">
        <%= format_measure(measure('duplicated_blocks'), :url => url_for_drilldown('duplicated_blocks'))%>
        <%= format_variation('duplicated_blocks') if dashboard_configuration.selected_period? -%>
      </span>
    </div>

    <div class="widget-measure">
      <span class="widget-label"><%= message('widget.duplications.files.suffix') -%></span>
      <span class="nowrap">
        <%= format_measure(measure('duplicated_files'), :url => url_for_drilldown('duplicated_files'))%>
        <%= format_variation('duplicated_files') if dashboard_configuration.selected_period? -%>
      </span>
    </div>

  </div>
</div>
<% end %>
