<%
   metric = widget_properties["metric"] || Metric.by_key('ncloc')

   if measure(metric)

     limit = widget_properties["numberOfLines"]
     title = widget_properties["title"]
     title = message('widget.hotspot_metric.hotspots_by_x', :params => metric.short_name) if title.blank?

     if metric.numeric? && !@resource.leaves_qualifiers.empty?

       conditions = [
         "projects.qualifier in (:qualifiers)",
         "projects.uuid_path like :uuid_path_like",
         "projects.project_uuid = :project_uuid",
         "snapshots.islast = :islast",
         "project_measures.person_id is null",
          "project_measures.metric_id = :metric_id"
       ]
       condition_values = {
         :qualifiers => @resource.leaves_qualifiers,
         :project_uuid => @resource.project_uuid,
         :uuid_path_like => "#{@resource.uuid_path}#{@resource.uuid}.%",
         :islast => true,
         :metric_id => metric.id
       }

       measures = ProjectMeasure.find(:all,
                                    :joins => [:analysis, :project],
                                    :conditions => [ conditions.join(' AND '), condition_values ],
                                    :order => "project_measures.value #{'DESC' if metric.direction<0}",
                                    :limit => limit)

       components_by_uuid = Project.all( :conditions => ['uuid in (?)', measures.map { |m| m.component_uuid } ] ).inject({}) do |hash, component|
         hash[component.uuid] = component
         hash
       end
     end

     unless components_by_uuid && !components_by_uuid.empty? %>
    <h3><%= title -%></h3>
    <span class="empty_widget"><%= message('no_results') -%></span>
  <% else %>

    <div class="line-block">
      <div style="float:right">
        <a class="underlined-link" href="<%= url_for_drilldown(metric) -%>"><%= message('widget.hotspot_metric.more') -%></a>
      </div>
      <h3><%= title -%></h3>
    </div>

    <table id="hotspots-<%= metric.name -%>-<%= widget.id -%>" class="data">
      <thead>
      <tr>
        <th colspan="3"/>
      </tr>
      </thead>
      <tbody>
      <%
         if metric.direction > 0
           metric_max_value = measures.last.value
         else
           metric_max_value = measures.first.value
         end
         measures.each do |measure|
           component = components_by_uuid[measure.component_uuid]
      %>
        <tr class="<%= cycle 'even', 'odd', :name => ('hotspot_metric' + widget.id.to_s) -%>">
          <td>
            <%= link_to_resource(component, h(component.name), {:metric => metric.name, :class => 'underlined-link'}) -%>
          </td>
          <td class="right nowrap">
            <%= format_measure(measure) -%>
          </td>
          <td class="barchart">
            <div class="barchart" style="width: <%= (measure.value*100/metric_max_value).round.to_i -%>%">
              <div style="width: 100%;"></div>
            </div>
          </td>
        </tr>
      <%
         end
      %>
      </tbody>
    </table>

  <% end %>

<% end %>
