<%
   container_id = 'widget-issue-filter-' + widget.id.to_s
   filter_id = widget_properties['filter']
   filter = Internal.issues.findIssueFilterById(filter_id.to_i)
   distribution_axis = widget_properties['distributionAxis']
   display_mode = widget_properties['displayMode']
   is_enough_permissions = filter.shared || (current_user && filter.userLogin == current_user.login)
%>

<% if filter %>

  <% if is_enough_permissions %>

    <% @widget_title = "<a href=\"#{url_for({:controller => 'issues', :action => 'index'})}#id=#{filter.id}|#{filter.data}|facetMode=#{display_mode}\">#{h(filter.name)}</a>" %>
    <% if widget_properties['displayFilterDescription'] && !filter.description.blank? %>
      <p class="note spacer-bottom"><%= h filter.description -%></p>
    <% end %>

    <div id="<%= container_id -%>"></div>
    <script>
      jQuery(function () {
        var query = '<%= filter.data -%>';

        // do not show widget if the filter contains "my" criterion,
        // and a user is not authenticated
        if (query && query.indexOf('__me__') !== -1 && !window.SS.user) {
          jQuery('#<%= container_id -%>').closest('.block').addClass('hidden');
          return;
        }

        var IssueFilterWidget = window.IssueFilterWidget;
        window.requestMessages().done(function () {
          new IssueFilterWidget({
            el: '#<%= container_id -%>',
            query: query,
            distributionAxis: '<%= distribution_axis -%>',
            displayMode: '<%= display_mode -%>'
          });
        });
      });
    </script>

  <% else %>

    <p class="alert alert-warning"><%= message 'widget.issue_filter.insufficient_privileges_warning' -%></p>

  <% end %>

<% else %>

  <p class="alert alert-warning"><%= message 'widget.issue_filter.unknown_filter_warning' -%></p>

<% end %>
