<div class="bubble-popup-container">
  <div class="bubble-popup-title">
    {{t 'source_viewer.covered'}}
    {{#if row.conditions}}
      ({{default row.coveredConditions 0}} of {{row.conditions}} {{t 'source_viewer.conditions'}})
    {{/if}}
  </div>
  {{#each testFiles}}
    <div class="bubble-popup-section">
      <a class="component-viewer-popup-test-file link-action" data-key="{{file.key}}" title="{{file.longName}}">
        <span>{{collapsePath file.longName}}</span>
      </a>
      <ul class="bubble-popup-list">
        {{#each tests}}
          <li class="component-viewer-popup-test" title="{{name}}">
            <i class="component-viewer-popup-test-status {{testStatusIconClass status}}"></i>
            <span class="component-viewer-popup-test-name">
              <a class="component-viewer-popup-test-file link-action" title="{{name}}"
                data-key="{{../file.key}}" data-method="{{name}}">
                {{name}}
              </a>
            </span>
            <span class="component-viewer-popup-test-duration">{{durationInMs}}ms</span>
          </li>
        {{/each}}
      </ul>
    </div>
  {{else}}
    {{t 'source_viewer.tooltip.no_information_about_tests'}}
  {{/each}}
</div>

<div class="bubble-popup-arrow"></div>
