<form action="<%= ApplicationController.root_context -%>/manual_rules/edit" method="POST" id="manual-rules-form">
  <fieldset>
    <div class="modal-head">
        <h2>Edit Manual Rule: <%= h @rule.name() -%></h2>
    </div>

    <div class="modal-body">
      <div class="modal-error"/>
      <input type="hidden" name="key" value="<%= @rule.key().to_s -%>"/>
      <div class="modal-field">
        <label for="manual_rules[]">Name <em class="mandatory">*</em></label>
        <input type="text" name="name" value="<%= h @rule.name() -%>"/>
      </div>
      <div class="modal-field">
        <label for="manual_rules[]">Description <em class="mandatory">*</em></label>
        <textarea rows="5" cols="50" name="description"><%= h @rule.markdownDescription() -%></textarea>
        <br/>
      </div>
    </div>

    <div class="modal-foot">
      <input type="submit" value="<%= message('save') -%>">
      <%= link_to 'Cancel', { :controller => 'manual_rules', :action => 'index'}, { :class => 'action' } %><br/>
    </div>
  </fieldset>
</form>

<script>
  $j("#manual-rules-form").modalForm();
</script>
