<div id="tm-container-<%= treemap_id -%>">
  <table width="100%" class="spacer-bottom">
    <tr>
      <td valign="top" class="thin nowrap">
        <span class="comments"><%= message('size') -%></span>
        <br/>
        <%= select_tag "size", options_grouped_by_domain(Sonar::Treemap.size_metrics, (size_metric ? size_metric.key : nil), :include_empty => true),
                       :id => "tm-size-#{treemap_id}", :class => 'small medium-width spacer-right', :onchange => "return treemapById(#{treemap_id}).changeSizeMetric(this.value)"
        %>
      </td>
      <td valign="top" class="thin nowrap">
        <span class="comments"><%= message('color') -%></span>
        <span id="tm-gradient-<%= treemap_id -%>" class="note"></span>
        <br/>
        <%= select_tag 'color', options_grouped_by_domain(Sonar::Treemap.color_metrics, (color_metric ? color_metric.key : nil), :include_empty => true),
                         :id => "tm-color-#{treemap_id}", :class => 'small medium-width', :onchange => "return treemapById(#{treemap_id}).changeColorMetric(this.value)" %>
        <%= image_tag 'loading.gif', :id => "tm-loading-#{treemap_id}", :style => 'vertical-align: top;display: none' -%>
      </td>
      <td></td>
    </tr>
  </table>
  <input type="hidden" id="tm-h-<%= treemap_id -%>" value="<%= height_in_percents -%>"/>
</div>
<div id="tm-<%= treemap_id -%>" class="spacer-bottom"></div>

<div style="margin: 5px 0 0 0" class="notes">
  <div style="float: right;cursor: help"><%= image_tag 'help.png', :title => h(message('treemap.click_help')) -%></div>
  <div id="tm-bc-<%= treemap_id -%>">/</div>
</div>

<script>
  var treemap = new Treemap(<%= treemap_id -%>, '<%= size_metric ? size_metric.key : '' -%>', '<%= color_metric ? color_metric.key : '' -%>',
      <%= height_in_percents -%>);
  treemap.init('<%= context_type -%>', <%= context_id -%>).load();

</script>
