<form id="deactivate-user-form" autocomplete="off">
  <div class="modal-head">
    <h2>{{t 'background_tasks.scanner_context'}}: {{task.componentName}} [{{t 'background_task.type' task.type}}]</h2>
  </div>
  <div class="modal-body modal-container">
    <div class="js-modal-messages"></div>

    {{#if scannerContext}}
      <pre class="js-task-scanner-context">{{scannerContext}}</pre>
    {{else}}
      <i class="spinner"></i>
    {{/if}}
  </div>
  <div class="modal-foot">
    <a href="#" class="js-modal-close">{{t 'close'}}</a>
  </div>
</form>
