<form id="deactivate-user-form" autocomplete="off">
  <div class="modal-head">
    <h2>{{t 'background_tasks.error_stacktrace'}}: {{task.componentName}} [{{t 'background_task.type' task.type}}]</h2>
  </div>
  <div class="modal-body modal-container">
    <div class="js-modal-messages"></div>

    {{#if loaded}}
      {{#if stacktrace}}
        <h4 class="spacer-bottom">{{t 'background_tasks.error_stacktrace'}}</h4>
        <pre class="js-task-stacktrace">{{stacktrace}}</pre>
      {{else}}
        <h4 class="spacer-bottom">{{t 'background_tasks.error_message'}}</h4>
        <pre class="js-task-error-message">{{task.errorMessage}}</pre>
      {{/if}}
    {{else}}
      <i class="spinner"></i>
    {{/if}}
  </div>
  <div class="modal-foot">
    <a href="#" class="js-modal-close">{{t 'close'}}</a>
  </div>
</form>
