<h1>Default filters</h1>
<p>These filters are displayed on the homepage.</p>
<br/>
<table class="data width100" id="admin_console">
  <thead>
    <tr>
      <th>Name</th>
      <th>Author</th>
      <th>Order</th>
      <th>Operations</th>
    </tr>
  </thead>
  <tbody>
  <% if @actives.empty? %>
    <tr class="even"><td colspan="4">No results.</td></tr>
  <% else %>
    <% @actives.each_with_index do |active,index| %>
      <tr id="active-<%= u active.name -%>" class="<%= cycle('even','odd', :name => 'actives') -%>">
        <td><%= active.name %></td>
        <td>
          <%= h(active.author_name) %>
        </td>
        <td>
          <% if index>0 %>
            <%= link_to image_tag('blue-up.png'), {:action => :up, :id => active.id}, :method => :post, :id => "up-#{u active.name}" %>
          <% else %>
            <%= image_tag('transparent_16.gif') %>
          <% end %>
          <% if index<@actives.size-1 %>
            <%= link_to image_tag('blue-down.png'), {:action => :down, :id => active.id}, :method => :post, :id => "down-#{u active.name}" %>
          <% end %>
        </td>
        <td>
          <%= link_to 'Remove', {:action => 'remove', :id => active.id}, :confirm => 'Are you sure to remove it from default filters ?', :method => :post, :id => "remove-#{u active.name}" %>
        </td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>

<br/><br/>
<h1>Shared filters</h1>
<p>These filters are shared by administrators and can be added to default filters.</p>
<br/>
<table class="data width100" id="shared">
  <thead>
    <tr>
      <th>Name</th>
      <th>Author</th>
      <th>Operations</th>
    </tr>
  </thead>
  <tfoot>
    <tr><td colspan="3"><%= link_to 'Go to my filters', {:controller => :filters, :action => 'index'} %></td></tr>
  </tfoot>
  <tbody>
  <% if @shared_filters.nil? || @shared_filters.empty? %>
    <tr class="even"><td colspan="3">No results.</td></tr>
  <% else %>
    <% @shared_filters.each do |filter| %>
      <tr class="<%= cycle('even', 'odd') -%>">
        <td><%= h(filter.name) -%></td>
        <td><%= h(filter.user.name) if filter.user -%></td>
        <td><%= link_to 'Add to defaults', {:action => 'add', :id => filter.id}, :method => :post, :id => "add-#{u filter.name}" %></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>

