<% form_for(@event, :url => "#{ApplicationController.root_context}/project/#{@event.id ? 'update_event' : 'create_event'}") do |f| %>
    <%= f.hidden_field :id %>
    <%= f.hidden_field :resource_id %>
    <%= f.hidden_field :snapshot_id %>
    <table class="admin spaced">
        <tr>
            <td colspan="2"><div id="event_form_errors" class="error" style="display:none"> </div></td>
        </tr>
        <tr>
            <td class="left" nowrap="nowrap" valign="top" width="1%">
                <span class="comments"><%= message('events.name_required') -%></span><br>
                <%= f.text_field :name, :onkeyup => "if (this.value=='') $('event_#{@event.id}_submit').disabled='true'; else $('event_#{@event.id}_submit').disabled='';" -%>
            </td>
            <td class="left" nowrap="nowrap" valign="top">
                <span class="comments"><%= message('category') -%> (<%= link_to message('configure').downcase, {:controller=> 'event_categories', :action => 'index'}, :class => 'action' %>)</span><br>
                <%= f.select(:category, @categories.collect {|c| [ message('event.category.' + c.name, :default => c.name), c.name ] }, {:include_blank => true}) %>
            </td>
        </tr>
        <tr>
            <td class="left" nowrap="nowrap" valign="top" colspan="2">
              <input id="event_<%= @event.id -%>_submit" type="submit" value="<%= message(@event.id ? 'update_verb' : 'create') -%>" name="save" <%= 'disabled' if @event.name.blank? -%>>
              <a href="#" onclick="node=$('event_<%= @event.snapshot.id -%>_form'); node.removeChild(node.childNodes[0]);" class="action"><%= message('cancel') -%></a>
            </td>
        </tr>
    </table>
<% end %>
