    <tr class="<%= cycle 'even', 'odd', :name => 'modules_tree' -%>">
      <td class="thin nowrap" style="padding-left: <%= 3+ module_depth*15 -%>px">
        <%= h(current_module.key) -%>
      </td>
      <td class="thin nowrap">
        <% form_tag( {:action => 'update_key', :id => current_module.id }, :onsubmit => "update_launched();$j('#loading_#{id_prefix}').show();") do -%>
          <input type="text" value="<%= h(current_module.key) -%>" name="new_key" id="key_<%= id_prefix -%>" size="80">
          <%= submit_tag message('update_key.rename'), :id => 'update_key_' + id_prefix, :class => 'action',
                         :confirm => message('update_key.are_you_sure_to_rename_x', :params => current_module.key) %>                         
          <a href="#" onclick="$j('#key_<%= id_prefix -%>').val('<%= h(current_module.key) -%>');"><%= message('update_key.reset') -%></a>
          <span class="loading" id="loading_<%= id_prefix -%>" style="display: none; padding: 3px 10px;"></span>
        <% end %>
      </td>
    </tr>
    <% current_module.modules.each_with_index do |sub_module, index| %>
      <%= render :partial => 'key_modules', :locals => {:current_module => sub_module, :module_depth => module_depth+1, 
                                                        :id_prefix => id_prefix + (index+1).to_s} -%>
    <% end %>