<h3><%= message('events') -%> &nbsp;&nbsp;
<select class="small" id="select_category" onchange="<%= remote_function(:update => 'events_portlet', :url => { :controller => :project, :action => :events, :id => @snapshot.id },
  :with => "'category=' + $F('select_category')", :method => 'get') -%>">
<option value=""><%= message('all') -%></option>
<% @categories.each do |categ| %>
<option value="<%= h categ.name -%>" <%= 'selected' if @category==categ.name -%>><%= h message('event.category.' + categ.name, :default => categ.name) %></option>
<% end %>
</select></h3>

<table id="events" class="spaced data">
<thead>
<tr>
  <th colspan="4">
  </th>
</tr>
</thead>
<%
   max_rows=10
   index=0
   @events.each do |event|
     if index==max_rows
%><tbody style="display:none" id="all_events"><%
     end
%>
<tr class="<%= cycle 'even','odd' -%>">
    <td x="<%= event.event_date -%>"><%= l(event.event_date.to_date) %></td>
    <td><%= h message('event.category.' + event.category, :default => event.category) %></td>
    <td><%= event.name %></td>
    <td>
        <% unless event.description.blank? %>
<a href="#" class="nolink" title="<%= h event.description -%>" alt="<%= h event.description -%>"><img src="<%= ApplicationController.root_context -%>/images/information.png" /></a>
        <% end %>
    </td>
</tr>
<%   index+=1
   end
   if index>=max_rows
%></tbody><%
   end
%>

</table>

<% if index>=max_rows %>
      <a href="#" onclick="$('all_events').show();$('show_more_events').hide()" id="show_more_events" class="action"><%= message('show_more') -%></a>
<% end %>

