<h1><%= message('project_quality_profile.page') -%></h1>
<br/>
<% 
   form_tag( {:action => 'update_quality_profile', :id => @project.id }) do
     project_profile = @project.profile 
%>

  <span style= "padding-right: 10px"><%= message('project_quality_profile.current_profile_for_x', :params => @project.name) -%></span>

  <select name="quality_profile" id="quality_profile">
    <% @profiles.each do |profile| %>
      <option <%= 'selected' if (project_profile && project_profile==profile) || (!project_profile && profile.default_profile) -%> 
              value="<%= profile.id -%>"><%= profile.name -%></option>
    <% end %>
  </select>
  
  <%= submit_tag message('update_verb'), :id => 'update_profile' %>
  
<% end %>
