<div class="issues-workspace-component-viewer-code code-source" style="min-height: 100vh;">
  {{#if hasSourceBefore}}
    <i class="spinner js-component-viewer-source-before"></i>
  {{/if}}

  <table class="code">
    <tr class="row hidden" data-line-number="0">
      <td class="stat">&nbsp;</td>
      {{#if hasSCM}}
          <td class="stat scm">&nbsp;</td>
      {{/if}}
      <td class="line"></td>
    </tr>
    {{#each source}}
      <tr class="row" data-line-number="{{line}}">
        <td class="stat">{{line}}</td>
        {{#if ../hasSCM}}
          <td class="stat scm">
            {{#ifSCMChanged2 ../source line}}
              <span class="scm-author" title="{{dt scmDate}}&#013;{{scmAuthor}}">{{scmAuthor}}</span>
            {{/ifSCMChanged2}}
          </td>
        {{/if}}
        <td class="line"><pre>{{{code}}}</pre></td>
      </tr>
    {{/each}}
  </table>

  {{#if hasSourceAfter}}
    <i class="spinner js-component-viewer-source-after"></i>
  {{/if}}
</div>
