<div class="issues-header-component">
  {{#if state.component}}
    <a class="js-back">{{t 'issues.return_to_list'}}</a>&nbsp;&nbsp;&nbsp;

    {{#with state.component}}
      {{qualifierIcon 'TRK'}}&nbsp;<a href="{{dashboardUrl project}}" title="{{projectName}}">{{projectName}}</a>
      &nbsp;&nbsp;
      {{qualifierIcon qualifier}}&nbsp;<a href="{{dashboardUrl key}}" title="{{name}}">{{name}}</a>
    {{/with}}
  {{else}}
    &nbsp;
  {{/if}}
</div>


<div class="search-navigator-header-actions">
  {{#notNull state.total}}
    <div class="search-navigator-header-pagination">
      {{#gt state.total 0}}
        <a class="js-prev icon-prev" title="{{t 'paging_previous'}}"></a>
        <span class="current">{{sum state.selectedIndex 1}} / <span id="issues-total">{{state.total}}</span></span>
        <a class="js-next icon-next" title="{{t 'paging_next'}}"></a>
      {{else}}
        <span class="current">0 / <span id="issues-total">0</span></span>
      {{/gt}}
    </div>
  {{/notNull}}


  <div class="search-navigator-header-buttons button-group">
    <button id="issues-reload" class="js-reload">{{t 'reload'}}</button>
    {{#if state.canBulkChange}}
      <button id="issues-bulk-change" class="js-bulk-change">{{t 'bulk_change'}}</button>
    {{/if}}
  </div>
</div>
