<div class="issue-comment-form-text">
  <textarea rows="2" {{#if options.fromTransition}}placeholder="Please tell why?"{{/if}}>{{show raw markdown}}</textarea>
</div>

<div class="issue-comment-form-footer">
  <div class="issue-comment-form-actions">
    <div class="button-group">
      <button class="js-issue-comment-submit" disabled>
        {{#if id}}{{t 'save'}}{{else}}{{t 'issue.comment.submit'}}{{/if}}
      </button>
    </div>
    <a class="js-issue-comment-cancel">{{t 'cancel'}}</a>
  </div>

  <div class="issue-comment-form-tips">{{> ../../common/templates/_markdown-tips }}</div>
</div>

<div class="bubble-popup-arrow"></div>
