<div class="issue-changelog">
  <table class="spaced">
    <tbody>

    <tr>
      <td class="thin text-left text-top" nowrap>{{dt issue.creationDate}}</td>
      <td class="thin text-left text-top" nowrap></td>
      <td class="text-left text-top">
        {{#if issue.author}}
          {{t 'created_by'}} {{issue.author}}
        {{else}}
          {{t 'created'}}
        {{/if}}
      </td>
    </tr>

    {{#each items}}
      <tr>
        <td class="thin text-left text-top" nowrap>{{dt creationDate}}</td>
        <td class="thin text-left text-top" nowrap>
          {{#if userName}}
            {{#ifShowAvatars}}{{avatarHelperNew avatar 16}}{{/ifShowAvatars}}
          {{/if}}
          {{userName}}
        </td>
        <td class="text-left text-top">
          {{#each diffs}}
            {{changelog this}}<br>
          {{/each}}
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>

<div class="bubble-popup-arrow"></div>
