<div class="issue-inner">

  <table class="issue-table">
    <tr>
      <td>
        <div class="issue-message">
          {{message}}&nbsp;
          <button class="button-link js-issue-rule issue-rule icon-ellipsis-h"></button>
        </div>
      </td>

      <td class="issue-table-meta-cell issue-table-meta-cell-first">
        <ul class="list-inline issue-meta-list">
          <li class="issue-meta">
            <button class="button-link issue-action issue-action-with-options js-issue-show-changelog" title="{{dt creationDate}}">
              <span class="issue-meta-label">{{fromNow creationDate}}</span>&nbsp;<i class="icon-dropdown"></i>
            </button>
          </li>

          {{#if line}}
            <li class="issue-meta">
              <span class="issue-meta-label" title="{{t 'line_number'}}">L{{line}}</span>
            </li>
          {{/if}}

          {{#if hasSecondaryLocations}}
            <li class="issue-meta issue-meta-locations">
              <button class="button-link issue-action js-issue-locations">
                <i class="icon-issue-flow"></i>
              </button>
            </li>
          {{/if}}

          <li class="issue-meta">
            <a class="js-issue-permalink icon-link" href="{{permalink}}" target="_blank"></a>
          </li>
        </ul>
      </td>
    </tr>
  </table>

  <table class="issue-table">
    <tr>
      <td>
        <ul class="list-inline issue-meta-list">
          <li class="issue-meta">
            {{#inArray actions "set_severity"}}
              <button class="button-link issue-action issue-action-with-options js-issue-set-severity">
                <span class="issue-meta-label">{{severityHelper severity}}</span>&nbsp;<i class="icon-dropdown"></i>
              </button>
            {{else}}
              {{severityHelper severity}}
            {{/inArray}}
          </li>

          <li class="issue-meta">
            {{#notEmpty transitions}}
              <button class="button-link issue-action issue-action-with-options js-issue-transition">
                <span class="issue-meta-label">{{statusHelper status resolution}}</span>&nbsp;<i
                  class="icon-dropdown"></i>
              </button>
            {{else}}
              {{statusHelper status resolution}}
            {{/notEmpty}}
          </li>

          <li class="issue-meta">
            {{#inArray actions "assign"}}
              <button class="button-link issue-action issue-action-with-options js-issue-assign">
                {{#if assignee}}
                  {{#ifShowAvatars}}
                    <span class="text-top">{{avatarHelper assigneeEmail 16}}</span>
                  {{/ifShowAvatars}}
                {{/if}}
                <span class="issue-meta-label">{{#if assignee}}{{assigneeName}}{{else}}{{t 'unassigned'}}{{/if}}</span>&nbsp;<i class="icon-dropdown"></i>
              </button>
            {{else}}
              {{#if assignee}}
                {{#ifShowAvatars}}
                  <span class="text-top">{{avatarHelper assigneeEmail 16}}</span>
                {{/ifShowAvatars}}
              {{/if}}
              <span class="issue-meta-label">{{#if assignee}}{{assigneeName}}{{else}}{{t 'unassigned'}}{{/if}}</span>
            {{/inArray}}
          </li>

          <li class="issue-meta">
            {{#inArray actions "plan"}}
              <button class="button-link issue-action issue-action-with-options js-issue-plan">
          <span
              class="issue-meta-label">{{#if actionPlan}}{{default actionPlanName actionPlan}}{{else}}{{t 'issue.unplanned'}}{{/if}}</span>&nbsp;<i
                  class="icon-dropdown"></i>
              </button>
            {{else}}
              <span
                  class="issue-meta-label">{{#if actionPlan}}{{default actionPlanName actionPlan}}{{else}}{{t 'issue.unplanned'}}{{/if}}</span>
            {{/inArray}}
          </li>

          {{#if debt}}
            <li class="issue-meta">
              <span class="issue-meta-label">
                {{tp 'issue.x_debt' debt}}
              </span>
            </li>
          {{/if}}

          {{#inArray actions "comment"}}
            <li class="issue-meta">
              <button class="button-link issue-action js-issue-comment"><span
                  class="issue-meta-label">{{t 'issue.comment.formlink' }}</span></button>
            </li>
          {{/inArray}}

          {{#ifHasExtraActions actions}}
            <li class="issue-meta">
              <button class="button-link issue-action issue-action-with-options js-issue-more">
                <span class="issue-meta-label">{{t 'more'}}</span>&nbsp;<i class="icon-dropdown"></i>
              </button>
            </li>
          {{/ifHasExtraActions}}
        </ul>

        {{#inArray actions "assign_to_me"}}
          <button class="button-link hidden js-issue-assign-to-me"></button>
        {{/inArray}}
      </td>

      <td class="issue-table-meta-cell">
        <ul class="list-inline">
          <li class="issue-meta js-issue-tags">
            {{#inArray actions "set_tags"}}
              <button class="button-link issue-action issue-action-with-options js-issue-edit-tags">
              <span>
                <i class="icon-tags icon-half-transparent"></i>&nbsp;<span>{{#if tags}}{{join tags ', '}}{{else}}{{t 'issue.no_tag'}}{{/if}}</span>
              </span>&nbsp;<i class="icon-dropdown"></i>
              </button>
            {{else}}
              <span>
              <i class="icon-tags icon-half-transparent"></i>&nbsp;<span>{{#if tags}}{{join tags ', '}}{{else}}{{t 'issue.no_tag'}}{{/if}}</span>
            </span>
            {{/inArray}}
          </li>
        </ul>
      </td>
    </tr>
  </table>

  {{#notEmpty comments}}
    <div class="issue-comments">
      {{#each comments}}
        <div class="issue-comment" data-comment-key="{{key}}">
          <div class="issue-comment-author" title="{{authorName}}">
            {{#ifShowAvatars}}{{avatarHelper authorEmail 16}}{{else}}
              <i class="icon-comment icon-half-transparent"></i>{{/ifShowAvatars}}&nbsp;{{authorName}}
          </div>
          <div class="issue-comment-text markdown">{{{show html htmlText}}}</div>
          <div class="issue-comment-age">({{fromNow createdAt}})</div>
          <div class="issue-comment-actions">
            {{#if updatable}}
              <button class="js-issue-comment-edit button-link icon-edit icon-half-transparent"></button>
              <button class="js-issue-comment-delete button-link icon-delete icon-half-transparent"
                      data-confirm-msg="{{t 'issue.comment.delete_confirm_message'}}"></button>
            {{/if}}
          </div>
        </div>
      {{/each}}
    </div>
  {{/notEmpty}}

</div>

<a class="issue-navigate js-issue-navigate">
  <i class="issue-navigate-to-left icon-chevron-left"></i>
  <i class="issue-navigate-to-right icon-chevron-right"></i>
</a>
