<div class="source-viewer-measures-card">
  <div class="measures">
    <div class="measure measure-big" data-metric="violations">
      <span class="measure-value">{{default issuesCount 0}}</span>
      <span class="measure-name">{{t 'metric.violations.name'}}</span>
    </div>
    <div class="measure measure-big" data-metric="sqale_index">
      <span class="measure-value">{{formatMeasure measures.issuesRemediationEffort 'SHORT_WORK_DUR'}}</span>
      <span class="measure-name">{{t 'metric.sqale_index.short_name'}}</span>
    </div>
  </div>

  {{#if issuesCount}}
    <div class="measures">
      <div class="measures-list">
        {{#each typesFacet}}
          <div class="measure measure-one-line">
            <span class="measure-name">{{issueTypeIcon val}} {{issueType val}}</span>
            <span class="measure-value">{{formatMeasure count 'SHORT_INT'}}</span>
          </div>
        {{/each}}
      </div>
    </div>

    <div class="measures">
      <div class="measures-list">
        {{#each severitiesFacet}}
          <div class="measure measure-one-line">
            <span class="measure-name">{{severityHelper val}}</span>
            <span class="measure-value">{{formatMeasure count 'SHORT_INT'}}</span>
          </div>
        {{/each}}
      </div>
    </div>

    <div class="measures">
      <div class="measures-list">
        {{#each tagsFacet}}
          <div class="measure measure-one-line">
            <span class="measure-name"><i class="icon-tags"></i>&nbsp;{{val}}</span>
            <span class="measure-value">{{formatMeasure count 'SHORT_INT'}}</span>
          </div>
        {{/each}}
      </div>
    </div>
  {{/if}}
</div>
