{{#if measures.coverage}}
  <div class="measures">
    <div class="measures-chart">
      <span class="js-pie-chart"
            data-value="{{measures.coverage_raw}}"
            data-max="100"
            data-color="#00aa00"
            data-base-color="#d4333f"
            data-size="47"></span>
    </div>
    <div class="measure measure-big" data-metric="coverage">
      <span class="measure-value">{{measures.coverage}}</span>
      <span class="measure-name">{{t 'metric.coverage.name'}}</span>
    </div>
  </div>

  {{#any measures.covered_lines measures.lines_to_cover measures.covered_conditions measures.conditions_to_cover}}
    <div class="measures">
      <div class="measures-list">
        <div class="measure measure-one-line">
          <span class="measure-name">Covered by Tests</span>
        </div>
        <div class="measure measure-one-line" data-metric="lines_to_cover">
          <span class="measure-name">Lines</span>
          <span class="measure-value">{{formatMeasure measures.covered_lines 'INT'}}/{{measures.lines_to_cover}}</span>
        </div>
        {{#if measures.conditions_to_cover}}
          <div class="measure measure-one-line" data-metric="conditions_to_cover">
            <span class="measure-name">Conditions</span>
            <span class="measure-value">{{default measures.covered_conditions 0}}/{{measures.conditions_to_cover}}</span>
          </div>
        {{/if}}
      </div>
    </div>
  {{/any}}
{{/if}}
