<div class="source-viewer-measures-card">
  <div class="measures">
    <div class="measures-list">
      <div class="measure measure-big" data-metric="tests">
        <span class="measure-name">{{t 'metric.tests.name'}}</span>
        <span class="measure-value">{{measures.tests}}</span>
      </div>
      {{#notNull measures.test_success_density}}
        <div class="measure measure-one-line" data-metric="test_success_density">
          <span class="measure-name">{{t 'metric.test_success_density.name'}}</span>
          <span class="measure-value">{{measures.test_success_density}}</span>
        </div>
      {{/notNull}}
      {{#notNull measures.test_failures}}
        <div class="measure measure-one-line" data-metric="test_failures">
          <span class="measure-name">{{t 'metric.test_failures.name'}}</span>
          <span class="measure-value">{{measures.test_failures}}</span>
        </div>
      {{/notNull}}
      {{#notNull measures.test_errors}}
        <div class="measure measure-one-line" data-metric="test_errors">
          <span class="measure-name">{{t 'metric.test_errors.name'}}</span>
          <span class="measure-value">{{measures.test_errors}}</span>
        </div>
      {{/notNull}}
      {{#notNull measures.skipped_tests}}
        <div class="measure measure-one-line" data-metric="skipped_tests">
          <span class="measure-name">{{t 'metric.skipped_tests.name'}}</span>
          <span class="measure-value">{{measures.skipped_tests}}</span>
        </div>
      {{/notNull}}
      {{#notNull measures.test_execution_time}}
        <div class="measure measure-one-line" data-metric="test_execution_time">
          <span class="measure-name">{{t 'metric.test_execution_time.name'}}</span>
          <span class="measure-value">{{measures.test_execution_time}}</span>
        </div>
      {{/notNull}}
    </div>
  </div>
</div>
