{{#notEmpty measuresToDisplay}}
  <div class="source-viewer-measures-section source-viewer-measures-section-big">
    {{#eachEven measuresToDisplay}}
      <div class="source-viewer-measures-card">
        <div class="measures">
          <div class="measures-list">
            <div class="measure measure-one-line measure-big">
              <span class="measure-name">{{name}}</span>
            </div>
            {{#each metrics}}
                <div class="measure measure-one-line" data-metric="{{key}}">
                  <span class="measure-name">{{#eq key 'bugs'}}{{issueTypeIcon 'BUG'}} {{/eq}}{{#eq key 'vulnerabilities'}}{{issueTypeIcon 'VULNERABILITY'}} {{/eq}}{{#eq key 'code_smells'}}{{issueTypeIcon 'CODE_SMELL'}} {{/eq}}{{name}}</span>
                  <span class="measure-value">&nbsp;{{value}}</span>
                </div>
            {{/each}}
          </div>
        </div>
      </div>
    {{/eachEven}}
  </div>

  <div class="source-viewer-measures-section source-viewer-measures-section-big">
    {{#eachOdd measuresToDisplay}}
      <div class="source-viewer-measures-card">
        <div class="measures">
          <div class="measures-list">
            <div class="measure measure-one-line measure-big">
              <span class="measure-name">{{name}}</span>
            </div>
            {{#each metrics}}
              <div class="measure measure-one-line" data-metric="{{key}}">
                <span class="measure-name">{{#eq key 'bugs'}}{{issueTypeIcon 'BUG'}} {{/eq}}{{#eq key 'vulnerabilities'}}{{issueTypeIcon 'VULNERABILITY'}} {{/eq}}{{#eq key 'code_smells'}}{{issueTypeIcon 'CODE_SMELL'}} {{/eq}}{{name}}</span>
                <span class="measure-value">&nbsp;{{value}}</span>
              </div>
            {{/each}}
          </div>
        </div>
      </div>
    {{/eachOdd}}
  </div>
{{/notEmpty}}

