<form>
  <div class="modal-head">
    <h2>{{t 'project_links.create_new_project_link'}}</h2>
  </div>
  <div class="modal-body">
    <div class="js-modal-messages"></div>

    <div class="modal-field">
      <label for="create-link-name">{{t 'project_links.name'}}<em class="mandatory">*</em></label>
      <input id="create-link-name" name="name" type="text" maxlength="128" required>
    </div>

    <div class="modal-field">
      <label for="create-link-url">{{t 'project_links.url'}}<em class="mandatory">*</em></label>
      <input id="create-link-url" name="url" type="text" maxlength="2048" required>
    </div>
  </div>
  <div class="modal-foot">
    <button id="create-link-confirm">{{t 'create'}}</button>
    <a href="#" class="js-modal-close">{{t 'cancel'}}</a>
  </div>
</form>
