<style>
  #cloud a {
    text-decoration: none;
  }
</style>
<script type="text/javascript">
  // open view
  function ov(id) {
    window.location.href = '<%=ApplicationController.root_context-%>/cloud/index/' + id + '?size=<%= @size_metric.key -%>&color=<%= @color_metric.key -%>';
    return false;
  }

  // open file
  function of(id) {
    window.open('<%=ApplicationController.root_context-%>/resource/index/' + id + '?metric=<%= @color_metric.key -%>', 'resource', 'height=800,width=900,scrollbars=1,resizable=1');
    return false;
  }
</script>

<div>
  <form id="cloudform" action="<%= ApplicationController.root_context -%>/cloud/index/<%= @resource.id -%>" method="GET">
    <ul class="headerLine">
      <li>
        <span><%= message('color') -%>:</span>
        <select name="color" onchange="document.forms['cloudform'].submit()">
          <% if @snapshot.measure('coverage') %>
            <option value="coverage" <%= 'selected' if @color_metric.key=='coverage' -%>><%= message('metric.coverage.name') -%></option>
          <% end %>
          <option value="violations_density" <%= 'selected' if @color_metric.key=='violations_density' -%>><%= message('metric.violations_density.name') -%></option>
        </select>
      </li>
      <li class="sep"></li>
      <li>
        <input type="radio" name="size" value="ncloc" <%= 'checked' if @size_metric.key=='ncloc' -%> onclick="document.forms['cloudform'].submit()" id="radio-quick">
        <label for="radio-quick"><%= message('cloud.quick_wins') -%></label></option>
        &nbsp;
        <input type="radio" name="size" value="function_complexity" <%= 'checked' if @size_metric.key=='function_complexity' -%> onclick="document.forms['cloudform'].submit()" id="radio-top">
        <label for="radio-top"><%= message('cloud.top_risk') -%></label></input>
      </li>
    </ul>
  </form>
</div>

<div id="cloud">
  <%
     color_options={
       :check_alert_status => false,
       :min_color => Color::RGB.from_html("EE0000"), # red
       :mean_color => Color::RGB.from_html("4D05B1"), # purple
       :max_color => Color::RGB.from_html("2360BF") # blue
     }
     @snapshots.each do |s|
       size_measure=@size_measure_by_sid[s.id]
       if size_measure && size_measure.value
         color_measure=@color_measure_by_sid[s.id]
         if s.source_code?
          link="of(#{s.project_id})"
         else
           link="ov(#{s.project_id})"
         end

         title="#{s.resource.long_name} | #{@size_metric.short_name}: #{size_measure.formatted_value}"
         if color_measure && color_measure.value
           title += " | #{@color_metric.short_name}: #{color_measure.formatted_value}"
         end
  %>
      <a href="#" onclick="<%= link -%>" title="<%= title -%>"><span style="font-size: <%= font_size(size_measure.value) -%>%;color: <%= MeasureColor.color(color_measure, color_options).html -%>"><%= h s.resource.name %></span></a>
    <% end
       end %>
</div>