<h1 class="marginbottom10">Roles</h1>
<table class="data width100">
  <thead>
  <tr>
    <th>Role</th>
    <th width="35%">Users</th>
    <th width="35%">Groups</th>
  </tr>
  </thead>
  <tbody>
  <tr class="even" >
    <td valign="top"><b>Administrators</b><br/><span class="small gray">Ability to perform administration functions for a project by accessing its settings.</span></td>
    <td valign="top" style="word-break:break-all;width:35%;">
      <span id="admin-role-users"><%= users('admin', @project.id).map(&:name).join(', ') %></span>
      (<%= link_to "select", {:action => 'edit_users', :id => @project.id, :role => 'admin'}, {:id => 'select-admin-edit-users', :class => 'link-action'} %>)
    </td>
    <td valign="top" style="word-break:break-all;width:35%;">
      <span id="admin-role-groups"><%= groups('admin', @project.id).map{|g| group_name(g)}.join(', ') %></span>
      (<%= link_to "select", {:action => 'edit_groups', :id => @project.id, :role => 'admin'}, {:id => 'select-admin-edit-groups', :class => 'link-action'} %>)
    </td>
  </tr>
  <tr class="odd">
    <td valign="top"><b>Users</b><br/><span class="small gray">Ability to navigate through every service of a project, except viewing source code and settings.</span></td>
    <td valign="top" style="word-break:break-all;width:35%;">
      <span id="user-role-users"><%= users('user', @project.id).map(&:name).join(', ') %></span>
      (<%= link_to "select", {:action => 'edit_users', :id => @project.id, :role => 'user'}, {:id => 'select-user-edit-users', :class => 'link-action'} %>)
    </td>
    <td valign="top" style="word-break:break-all;width:35%;">
      <span id="user-role-groups"><%= groups('user', @project.id).map{|g| group_name(g)}.join(', ') %></span>
      (<%= link_to "select", {:action => 'edit_groups', :id => @project.id, :role => 'user'}, {:id => 'select-user-edit-groups', :class => 'link-action'} %>)
    </td>
  </tr>
  <tr class="even" >
    <td valign="top"><b>Code viewers</b><br/><span class="small gray">Ability to view source code of a project.</span></td>
    <td valign="top" style="word-break:break-all;width:35%;">
      <span id="codeviewer-role-users"><%= users('codeviewer', @project.id).map(&:name).join(', ') %></span>
      (<%= link_to "select", {:action => 'edit_users', :id => @project.id, :role => 'codeviewer'}, {:id => 'select-codeviewer-edit-users', :class => 'link-action'} %>)
    </td>
    <td valign="top" style="word-break:break-all;width:35%;">
      <span id="codeviewer-role-groups"><%= groups('codeviewer', @project.id).map{|g| group_name(g)}.join(', ') %></span>
      (<%= link_to "select", {:action => 'edit_groups', :id => @project.id, :role => 'codeviewer'}, {:id => 'select-codeviewer-edit-groups', :class => 'link-action'} %>)
    </td>
  </tr>
  </tbody>
</table>