<h1 class="marginbottom10">Project permissions</h1>
<table class="data width100">
  <thead>
  <tr>
    <th>&nbsp;</th>
    <th><%= message('projects_role.admin') -%></th>
    <th><%= message('projects_role.user') -%></th>
    <th><%= message('projects_role.codeviewer') -%></th>
  </tr>
  </thead>
  <tbody>
  <tr class="even">
    <td valign="top"><b>Users</b></td>

    <% ['admin', 'user', 'codeviewer'].each do |permission| -%>
      <td valign="top">
        <span class="nowrap" id="<%= permission -%>-role-users"><%= users(permission, @project.id).map(&:name).join(', ') %></span>
        (<%= link_to_edit_roles_permission_form(message('select'), permission, @project.id, "select-#{permission}-edit-users") %>)<br/>
      </td>
    <% end %>
  </tr>
  <tr class="odd">
    <td valign="top"><b>Groups</b></td>
    <% ['admin', 'user', 'codeviewer'].each do |permission| -%>
      <td valign="top">
        <span class="nowrap" id="<%= permission -%>-role-groups"><%= groups(permission, @project.id).map{|g| group_name(g)}.join(', ') %></span>
        (<%= link_to_edit_groups_permission_form(message('select'), permission, @project.id, "select-#{permission}-edit-groups") %>)<br/>
      </td>
    <% end %>
  </tr>
  </tbody>
</table>