<form action="<%= ApplicationController.root_context -%>/users/destroy/<%= @user.id -%>" method="POST" id="user_form">
  <fieldset>
      <div class="modal-head">
          <h2>Delete user &nbsp;<%= @user.login %></h2>
      </div>
      <div class="modal-body">
          <% if @errors
               @errors.each do |error|
          %>
              <p class="error"><%= h error -%></p>
            <% end
               end
            %>
          <div class="modal-field">
              <input type="hidden" name="id" value="<%= @user.id -%>"/>
          </div>
          <div class="modal-field">
              Warning : are you sure to delete this user?
          </div>
      </div>
      <div class="modal-foot">
          <%= submit_tag 'Delete' %>
          <%= link_to 'Cancel', { :controller => 'users', :action => 'index'}, { :class => 'action' } %><br/>
      </div>
  </fieldset>
</form>
<script>
  $j("#user_form").modalForm();
</script>