<table width="100%">
  <tr>
    <td valign="top">
      <h1 class="marginbottom10">Users</h1>
      <table class="data width100 sortable" id="users">
        <thead>
          <tr>
            <th class="left">Login</th>
            <th class="left sortfirstasc">Name</th>
            <th class="left">Email</th>
            <th class="left nosort">Groups</th>
            <th class="left nosort" nowrap>Operations</th>
          </tr>
        </thead>
        <tbody >
          <% @users.each do |user|%>
            <tr id="user-<%= u user.login -%>">
              <td class="left" valign="top"><%=user.login %></td>
              <td class="left" valign="top"><%=user.name %></td>
              <td class="left" valign="top"><%=user.email %></td>
              <td class="left" valign="top">
                <%= user.groups.sort.map(&:name).join(', ') %> (<%= link_to "select", {:action => 'select_group', :id => user.id}, {:id => "select-#{u user.login}", :class => 'link-action'} %>)
              </td>
              <td class="left" valign="top">
                <%= link_to "Edit", { :id => user.id, :action => 'edit'}, {:id => "edit-#{u user.login}", :class => 'link-action'} %>
                &nbsp;
                <%= link_to "Change password", { :id => user.id, :action => 'change_password'}, {:id => "change-password-#{u user.login}", :class => 'link-action'} %>
                &nbsp;
                <%= link_to "Delete", {:action => 'destroy', :id => user.id}, {:confirm => "Warning : are you sure to delete this user?", :method => 'delete',
                                                                               :id => "delete-#{u user.login}", :class => 'link-action link-red'} %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <script>TableKit.Sortable.init('users');</script>
    </td>
    <td class="sep"> </td>
    <td valign="top" align="right" width="210">
      <%
      action_name = 'create'
      title = 'Add new user'
      submit_button_label = 'Create'
      if @user.id
        if @user.active
          action_name = 'update'
          title = 'Edit user'
          submit_button_label = 'Update'
          if params[:action] == 'change_password'
            action_name = 'update_password'
            title = 'Change password'
          end
        else
          action_name = 'reactivate'
          title = 'Reactivate user?'
          submit_button_label = 'Reactivate user'
        end
      end
      %>
      <% form_for :user, @user, :url => { :id => @user.id, :action => action_name}, :html => { :method => @user.id.nil?? :post : :put } do |f| %>
      <table class="admintable" width="100%">
        <tr>
          <td class="left" valign="top"><h1><%= title %></h1></td>
        </tr>
        
      <% if @user && !@user.active %>
        <%= f.hidden_field :login %>
        <tr>
          <td>
            <p class="error">
              A user with login "<%= @user.login -%>" already exists in the database but is deactivated.<br/>
              <br/>
              Do you really want to reactivate this user?
            </p>
          </td>
        <tr>
      <% else %>
        <tr>
          <td class="left" valign="top">Login:
            <% if @user.id %>
              <%= @user.login %>
              <%= f.hidden_field :login %>
            <% else %>
              <br/><%= f.text_field :login, :size => 30, :maxLength => 40 %>
            <% end %>
          </td>
        </tr>
        <% if params[:action] != 'change_password' %>
        <tr>
          <td class="left" valign="top">Name:<br/><%= f.text_field :name, :size => 30, :maxLength => 200 %></td>
        </tr>
        <tr>
          <td class="left" valign="top">Email:<br/><%= f.text_field :email, :size => 30, :maxLength => 100 %></td>
        </tr>
        <% end %>
        <% if !@user.id %>
        <tr>
          <td class="left" valign="top">Password:<br/><%= f.password_field :password, :size => 30, :maxLength => 50 %></td>
        </tr>
        <tr>
          <td class="left" valign="top">Confirm password:<br/><%= f.password_field :password_confirmation, :size => 30, :maxLength => 50 %></td>
        </tr>
        <% elsif params[:action] == 'change_password' %>
        <tr>
          <td class="left" valign="top">New password:<br/><%= f.password_field :password, :size => 30, :maxLength => 50 %></td>
        </tr>
        <tr>
          <td class="left" valign="top">Confirm new password:<br/><%= f.password_field :password_confirmation, :size => 30, :maxLength => 50 %></td>
        </tr>
        <% end %>
      <% end %>
        
        <tr>
          <td class="left"  nowrap="nowrap" valign="top" colspan="2">
            <%= submit_tag submit_button_label %>
            <%= link_to 'Cancel', { :controller => 'users', :action => 'index'}, { :class => 'action' } %><br/>
          </td>
        </tr>
      </table>
      <% end %>
    </td>
  </tr>
</table>
