<div class="line-block">
    <% if profiles_administrator? %>
      <ul style="float: right" class="horizontal">
          <li class="marginleft10 add">
              <a id="create-link-user" href="<%=ApplicationController.root_context-%>/users/create_form" id="create-link-user" class="open-modal link-action">Add new user</a>
          </li>
      </ul>
    <% end %>
    <h1 class="marginbottom10">Users</h1>
</div>

<table width="100%">
  <tr>
    <td valign="top">
      <table class="data width100 sortable" id="users">
        <thead>
          <tr>
            <th class="left">Login</th>
            <th class="left sortfirstasc">Name</th>
            <th class="left">Email</th>
            <th class="left nosort">Groups</th>
            <th class="left nosort" nowrap>Operations</th>
          </tr>
        </thead>
        <tbody >
          <% @users.each do |user|%>
            <tr id="user-<%= u user.login -%>">
              <td class="left" valign="top"><%=user.login %></td>
              <td class="left" valign="top"><%=user.name %></td>
              <td class="left" valign="top"><%=user.email %></td>
              <td class="left" valign="top">
                <%= user.groups.sort.map(&:name).join(', ') %> (<%= link_to "select", {:action => 'select_group', :id => user.id}, {:id => "select-#{u user.login}", :class => 'link-action'} %>)
              </td>
              <td class="left" valign="top">
                <a id="edit-<%= user.login -%>" class="open-modal link-action" href="<%=ApplicationController.root_context-%>/users/edit_form/<%= user.id -%>">Edit</a>
                &nbsp;
                <%= link_to "Change password", { :id => user.id, :action => 'change_password_form'}, {:id => "change-password-#{u user.login}", :class => 'open-modal link-action'} %>
                <%= link_to_action message('delete'), "#{ApplicationController.root_context}/users/delete/#{user.id}",
                                   :class => 'link-action link-red',
                                   :id => "delete-#{user.login}",
                                   :confirm_button => message('delete'),
                                   :confirm_title => 'Delete user: '+user.login,
                                   :confirm_msg => 'Warning : are you sure to delete the user "' + user.name+'"?' ,
                                   :confirm_msg_params => [user.name]
                -%>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <script>TableKit.Sortable.init('users');</script>
    </td>
  </tr>
</table>
