<table class="spaced">
  <tr>
    <td align="center">
      <div id="login_form">
        <form action="<%= url_for :controller => 'users', :action => 'signup' -%>" method="post">
          <h3><%= label_tag 'user_login', message('login') %></h3>
          <p>
            <input id="user_login" name="user[login]" size="30" type="text"/>
            <br/><span class="desc"><%= message('sessions.old_account', :params => [url_for(:controller => 'sessions', :action => 'new')]) -%></span>
          </p>

          <h3><%= label_tag 'user_name', message('name') %></h3>
          <p>
            <input id="user_name" name="user[name]" size="30" type="text"/>
          </p>
          <h3><%= label_tag 'user_password', message('password') %></h3>
          <p><input id="user_password" maxLength="50" name="user[password]" size="30" type="password" autocomplete="off"/></p>

          <h3><%= label_tag 'user_password_confirmation', message('sessions.confirm_password') %></h3>
          <p>
            <input id="user_password_confirmation" maxLength="50" name="user[password_confirmation]" size="30" type="password" autocomplete="off"/>
          </p>
          <p>
            <%= submit_tag message('sessions.sign_up') %> <a href="<%= home_path -%>" class="action"><%= message('cancel') -%></a>
          </p>
        </form>
        <%= error_messages_for :user, :class => 'error', :header_message => nil, :message => nil %>
      </div>
    </td>
  </tr>
</table>
<script type="text/javascript">
//<![CDATA[
  $j('#user_login').focus();
//]]>
</script>
