<div class="navigator-actions-order">
  {{#if sorting}}
    {{t 'coding_rules.ordered_by'}} <strong>{{sorting.sortText}}</strong> {{#if sorting.asc}}<i class="icon-sort-asc"></i>{{else}}<i class="icon-sort-desc"></i>{{/if}}
  {{else}}
    {{t 'coding_rules.order'}}
  {{/if}}
</div>
<ul class="navigator-actions-order-choices">
  <li data-sort="" data-asc="">{{t 'coding_rules.sort.relevance'}}</li>
  <li data-sort="createdAt" data-asc="true">{{t 'coding_rules.sort.creation_date'}} <i class="icon-sort-asc"></i></li>
  <li data-sort="createdAt" data-asc="false">{{t 'coding_rules.sort.creation_date'}} <i class="icon-sort-desc"></i></li>
  <li data-sort="name" data-asc="true">{{t 'coding_rules.sort.name'}} <i class="icon-sort-asc"></i></li>
  <li data-sort="name" data-asc="false">{{t 'coding_rules.sort.name'}} <i class="icon-sort-desc"></i></li>
</ul>
<div class="navigator-actions-total">
  {{t 'coding_rules.found'}}: <strong>{{paging.total}}</strong>
  {{#if canWrite}}<a class="navigator-actions-bulk icon-bulk-change" title="{{t 'bulk_change'}}"></a>{{/if}}
</div>
