<div class="accordion-item">
  <div class="accordion-header">
    <h3>Tests covering <%= @testable.component.longName %> on line <%= @line %></h3>
  </div>
  <br/>
  <div class="accordion-body">
    <% @test_case_by_test_plan.sort_by{|test_plan, test_cases| test_plan.component.longName}.each do |test_plan, test_cases| %>
      <% resource_key = test_plan.component.key %>
      <table class="data">
        <thead>
        <tr>
          <th colspan="3">
            <a href="<%= ApplicationController.root_context -%>/resource/index/<%= resource_key -%>?display_title=true&tab=source"
               onclick="openAccordionItem(this.href, this); return false;"><%= test_plan.component.longName %>
            </a>
          </th>
        </tr>
        </thead>
        <tbody>
        <% test_cases.sort_by{|test_case| test_case.name}.each do |test_case| %>
        <tr class="<%= cycle("even", "odd") -%>">
          <%
             status = test_case.status
             case status
               when 'ok'
                 icon_url = ApplicationController.root_context + "/images/levels/ok.png"
               when 'failure'
                 icon_url = ApplicationController.root_context + "/images/warning.png"
               when 'error'
                 icon_url = ApplicationController.root_context + "/images/levels/error.png"
               when 'skipped'
                 icon_url = ApplicationController.root_context + "/images/levels/none.png"
               else
                 icon_url = ApplicationController.root_context + "/images/levels/" + status + ".png"
             end
          %>
          <td class="thin" nowrap>
            <img src="<%= icon_url -%>"/>
          </td>
          <td class="thin right" nowrap><%= test_case.durationInMs -%> ms</td>
          <td>
            <%= test_case.name -%>
          </td>
        </tr>
        <% end %>
        </tbody>
      </table>
      <br/>
    <% end %>
  </div>
</div>
