<div>
  <div class="accordion-item-header">
    <div class="source_title">
      <div class="subtitle"><%= message('test_viewer.tests_covering', :params => [@testable.component.longName, @line]) %></div>
    </div>
  </div>
  <div class="accordion-item-body">
    <% @test_case_by_test_plan.sort_by { |test_plan, test_cases| test_plan.component.longName }.each do |test_plan, test_cases| %>
      <p style="padding: 0 0 2px 5px">
        <% resource_key = test_plan.component.key %>
        <a href="<%= ApplicationController.root_context -%>/resource/index/<%= h resource_key -%>?display_title=true&tab=source"
           class="testable-testplan-link" onclick="openAccordionItem(this.href, this); return false;"><%= h test_plan.component.longName %>
        </a>
      </p>
      <table class="data marginbottom10">
        <thead>
        <tr>
          <td colspan="3"></td>
        </tr>
        </thead>
        <tbody class="testable-body">
        <% reset_cycle %>
        <% test_cases.sort_by { |test_case| test_case.name }.each do |test_case| %>
          <tr class="<%= cycle('even', 'odd') -%>">
            <td class="thin" nowrap>
              <img src="<%= ApplicationController.root_context + "/images/test/" + test_case.status.name + ".png" -%>"/>
            </td>
            <td class="thin right" nowrap><%= test_case.durationInMs -%> ms</td>
            <td>
              <a href="<%= ApplicationController.root_context -%>/test/testcase/<%= h resource_key -%>?test=<%= test_case.name -%>"
                 class="testable-testcase-link" onclick="openAccordionItem(this.href, this); return false;"><%= h test_case.name -%>
              </a>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
