<div>
  <div class="accordion-item-header">
    <div class="source_title">
      <div class="subtitle">
        <%= message('test_viewer.files_covered_by', :params => [@test, @test_plan.component.longName]) %>
      </div>
    </div>
  </div>
  <div class="accordion-item-body">
    <table class="data">
      <thead class="testcase-head">
      <tr>
        <th class="thin" nowrap><%= message('test_viewer.covered_lines') %></th>
        <th><%= message('file') %></th>
      </tr>
      </thead>
      <tbody class="testcase-body">
      <% @test_case.coverageBlocks.sort_by { |cover| cover.testable.component.longName }.each do |cover|
      %>
        <tr class="<%= cycle("even", "odd") -%>">
          <td class="right"><%= cover.lines.size -%></td>
          <td>
            <a href="<%= ApplicationController.root_context -%>/resource/index/<%= h cover.testable.component.key -%>?display_title=true&tab=coverage&coverage_filter=lines_covered_per_test&test_case_filter=<%= @test -%>"
               class="testcase-testable-link" onclick="openAccordionItem(this.href, this); return false;"><%= h cover.testable.component.longName -%>
            </a>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>