<div class="line-block">
  <div class="operations noprint button-group">
    {{#unless state.configure}}
      <button class="js-configure-widgets">{{t 'dashboard.configure_widgets'}}</button>
    {{else}}
      <button class="js-back-to-dashboard">{{t 'dashboard.back_to_dashboard'}}</button>
    {{/unless}}
    <a class="button" href="{{manageDashboardsUrl}}">{{t 'dashboard.manage_dashboards'}}</a>
  </div>
</div>

{{#eq dashboard.layout '50%-50%'}}
  <div class="dashboard-column-wrapper" style="width: 50%;margin: 0 -1px 0 0;">
    <div class="dashboard-column" style="margin: 0 5px 0 0;">

    </div>
  </div>
  <div class="dashboard-column-wrapper" style="width: 50%;margin: 0 -1px 0 0;">
    <div class="dashboard-column" style="margin: 0 0 0 5px;">

    </div>
  </div>
{{/eq}}
