<table width="100%">
  <tr>
    <td valign="top">
      <table class="sortable data width100" id="event_categories">
        <thead>
          <tr>
            <th class="left">Name</th>
            <th class="left">Description</th>
            <th class="left nosort" colspan="2">Operations</th>
          </tr>
        </thead>
        <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td class="left" nowrap><%= category.name %></td>
          <td class="left"><%= category.description %></td>
          <td class="left" width="1%" nowrap>
            <% if category.editable? %>
            <form method="get" action="<%= ApplicationController.root_context -%>/event_categories/index" class="button-to"><div><input type="hidden" name="name" value="<%= category.name -%>" /><input class="action" id="edit_<%=category.name-%>" value="Edit" type="submit"></div></form>
            <% end %>
          </td>
          <td class="left">
          <% if category.editable? %>
              <form method="post" action="<%= ApplicationController.root_context -%>/event_categories/delete" class="button-to"><div><input type="hidden" name="name" value="<%= category.name -%>"/> <input class="action" id="delete_<%= category.name -%>" onclick="return confirm('Info : events with this category will not be deleted.');" value="Delete" type="submit"></div></form>
          <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <script>TableKit.Sortable.init('event_categories');</script>
  </td>
  <td class="sep"> </td>
    <td valign="top" align="right" width="210">
      <table class="admintable"  width="100%">
        <form action="<%= ApplicationController.root_context -%>/event_categories/save" method="post">
          <tbody>
            <tr>
              <td class="left" valign="top">
                Name:<br/>
                <input id="name" name="name" size="50" type="text" value="<%= @category.name if @category -%>" /><br/>
                <span class="desc">Ex. : UAT</span>
              </td>
            </tr>
            <tr>
              <td class="left" valign="top">
                Description:<br/>
                <input id="description" name="description" size="50" type="text" value="<%= @category.description if @category -%>" /><br/>
                <span class="desc">Ex. : Start of User Acceptance Tests phase</span>
              </td>
            </tr>
            <tr>
              <td class="left" valign="top">
                 <% if @category.nil? or @category.name.blank? %>
                      <%= submit_tag 'Create' %>
                 <% else %>
                      <input type="hidden" name="previous_name" value="<%= @category.name -%>" />
                      <%= submit_tag "Update #{@category.name}" %>
                      <a href="<%= ApplicationController.root_context -%>/event_categories/index" class="action">cancel</a>
                 <% end %>
              </td>
            </tr>
          </tbody>
        </form>
      </table>
    </td>
</tr>
</table>