<div class="overview-highlight">
  <h6 class="note">{{t 'overview.duplications'}}</h6>
  <div class="overview-main-measure">
    <a href="{{urlForDrilldown componentKey 'duplicated_lines_density'}}">
      {{formatMeasure duplications 'PERCENT'}}
    </a>
  </div>
  {{#notNull duplications3}}
    <div class="spacer-top">
      <a class="overview-measure {{#gt duplications3 0}}text-danger{{/gt}}{{#lt duplications3 0}}text-success{{/lt}}"
         href="{{urlForDrilldown componentKey 'duplicated_lines_density' 3}}">{{formatMeasureVariation duplications3 'PERCENT'}}</a>
      <span class="note">{{period3Name}}</span>
    </div>
  {{/notNull}}
</div>

<div class="overview-trend">
  <div class="overview-sparkline" id="overview-duplications-trend" data-width="300" data-height="50" data-color="#f3ca8e" data-type="PERCENT"></div>
</div>
