<table class="width100">
  <tr>
    <td class="width-55">
      <div style="display: inline-block; vertical-align: middle;">
        <p class="note">Debt</p>
        <p style="font-size: 36px; font-weight: 300;">{{formatMeasure debt 'WORK_DUR'}}</p>
      </div>
      <div style="display: inline-block; vertical-align: middle; margin-left: 15px;">
        <div id="overview-debt-trend" data-width="100" data-height="30" data-color="#4b9fd5"></div>
      </div>
    </td>
    <td class="width-15">
      <div style="display: inline-block; vertical-align: middle;">
        <p>
          <span class="{{#gt deb1 0}}text-danger{{/gt}}{{#lt debt1 0}}text-success{{/lt}}" style="font-size: 16px;">{{formatMeasureVariation debt1 'WORK_DUR'}}</span>
        </p>
        <p style="color: #777; font-size: 12px; font-weight: 300;">{{period1Name}}</p>
      </div>
    </td>
    <td class="width-15">
      <div style="display: inline-block; vertical-align: middle;">
        <p>
          <span class="{{#gt debt2 0}}text-danger{{/gt}}{{#lt debt2 0}}text-success{{/lt}}" style="font-size: 16px;">{{formatMeasureVariation debt2 'WORK_DUR'}}</span>
        </p>
        <p style="color: #777; font-size: 12px; font-weight: 300;">{{period2Name}}</p>
      </div>
    </td>
    <td class="width-15">
      <div style="display: inline-block; vertical-align: middle;">
        <p>
          <span class="{{#gt debt3 0}}text-danger{{/gt}}{{#lt debt3 0}}text-success{{/lt}}" style="font-size: 16px;">{{formatMeasureVariation debt3 'WORK_DUR'}}</span>
        </p>
        <p style="color: #777; font-size: 12px; font-weight: 300;">{{period3Name}}</p>
      </div>
    </td>
  </tr>
</table>
