<div class="text-center">
  {{#notEmpty gateConditions}}
    <ul class="list-inline spacer-top" style="display: inline-block;">
      {{#each gateConditions}}
        <li>
          {{#canHaveDrilldownUrl metric period}}
            <a href="{{urlForDrilldown ../../componentKey metric period periodDate}}"
               class="overview-status overview-status-{{level}}"
               title="{{#notEq level 'OK'}}{{t 'quality_gates.operator' op 'short'}} {{/notEq}}{{#eq level 'ERROR'}}{{formatMeasure error type}}{{/eq}}{{#eq level 'WARN'}}{{formatMeasure warning type}}{{/eq}}"
               data-toggle="tooltip" data-placement="bottom">{{formatMeasure actual type}}</a>
          {{else}}
            <span class="overview-status overview-status-{{level}}"
               title="{{#notEq level 'OK'}}{{t 'quality_gates.operator' op 'short'}} {{/notEq}}{{#eq level 'ERROR'}}{{formatMeasure error type}}{{/eq}}{{#eq level 'WARN'}}{{formatMeasure warning type}}{{/eq}}"
               data-toggle="tooltip" data-placement="bottom">{{formatMeasure actual type}}</span>
          {{/canHaveDrilldownUrl}}
          <p class="note text-lowercase" style="padding-top: 4px;">{{t 'metric' metric 'name'}}</p>
          <p class="note">{{default periodName period}}</p>
        </li>
      {{/each}}
    </ul>
  {{/notEmpty}}
</div>
