<div class="overview-card-header page-header">
  <h2 class="page-title">Duplications</h2>

  <div class="page-actions">
    <a class="badge" href="#">Overall</a>
    <a class="badge badge-muted" href="#">What To Do</a>
  </div>
</div>

<table class="width100">
  <tr>
    <td>
      <span class="js-pie-chart"
            data-value="{{default duplicationsRaw}}"
            data-max="100"
            data-color="#f3ca8e"
            data-size="47"></span>
      <div style="display: inline-block; vertical-align: middle; margin-left: 10px;">
        <p style="font-size: 36px; font-weight: 300;">{{duplications}}</p>
      </div>
    </td>
    <td>
      <div style="display: inline-block; vertical-align: middle;">
        <p>
          <span style="font-size: 16px;">{{duplications1}}</span>
        </p>
        <p style="color: #777; font-size: 12px; font-weight: 300;">{{period3Name}}</p>
      </div>
    </td>
    <td>
      <div style="display: inline-block; vertical-align: middle;">
        <p>
          <span style="font-size: 16px;">{{duplications2}}</span>
        </p>
        <p style="color: #777; font-size: 12px; font-weight: 300;">{{period1Name}}</p>
      </div>
    </td>
  </tr>
  <tr>
    <td style="padding-top: 15px;">
      <div id="overview-duplications-trend" data-height="50" style="width: 300px;" data-color="#4b9fd5"></div>
    </td>
    <td></td>
    <td></td>
  </tr>
</table>
