<p class="note">Issues</p>

<table class="width100">
  <tr>
    <td class="width-55">
      <div style="display: inline-block; vertical-align: middle;">
        <p style="font-size: 36px; font-weight: 300;">{{formatMeasure issues 'INT'}}</p>
      </div>
      <div style="display: inline-block; vertical-align: middle; margin-left: 15px;">
        <div id="overview-issues-trend" data-width="100" data-height="30" data-color="#4b9fd5"></div>
      </div>
    </td>
    <td class="width-15">
      <div style="display: inline-block; vertical-align: middle;">
        <p>
          <span class="{{#gt issues1 0}}text-danger{{else}}text-success{{/gt}}" style="font-size: 16px;">{{formatMeasureVariation issues1 'INT'}} <span class="note">new</span></span>
        </p>
        <p style="color: #777; font-size: 12px; font-weight: 300;">{{period1Name}}</p>
      </div>
    </td>
    <td class="width-15">
      <div style="display: inline-block; vertical-align: middle;">
        <p>
          <span class="{{#gt issues2 0}}text-danger{{else}}text-success{{/gt}}" style="font-size: 16px;">{{formatMeasureVariation issues2 'INT'}} <span class="note">new</span></span>
        </p>
        <p style="color: #777; font-size: 12px; font-weight: 300;">{{period2Name}}</p>
      </div>
    </td>
    <td class="width-15">
      <div style="display: inline-block; vertical-align: middle;">
        <p>
          <span class="{{#gt issues3 0}}text-danger{{else}}text-success{{/gt}}" style="font-size: 16px;">{{formatMeasureVariation issues3 'INT'}} <span class="note">new</span></span>
        </p>
        <p style="color: #777; font-size: 12px; font-weight: 300;">{{period3Name}}</p>
      </div>
    </td>
  </tr>
</table>
