<header class="overview-card-header page-header">
  <h2 class="page-title">{{t 'overview.issues'}}</h2>
</header>

<div class="overview-highlight">
  <h6 class="note">{{t 'overview.issues'}}</h6>
  <div class="overview-main-measure">
    <a href="{{urlForIssuesOverview componentKey}}">{{formatMeasure issues 'SHORT_INT'}}</a>
  </div>
  {{#notNull issues3}}
    <h6 class="note">{{period3Name}}</h6>
    <a href="{{urlForIssuesOverview componentKey period3Date}}"
       class="overview-measure {{#gt issues3 0}}text-danger{{else}}text-success{{/gt}}">{{formatMeasure issues3 'INT'}}</a>
    <span class="note">{{t 'overview.new'}}</span>
  {{/notNull}}
</div>

<div class="overview-trend">
  <div class="overview-sparkline" id="overview-issues-trend" data-height="120" data-color="#f3ca8e"
       data-type="SHORT_INT"></div>
</div>
