<div class="overview-card-header page-header">
  <h2 class="page-title">Coverage</h2>

  <div class="page-actions">
    <span class="badge">Overall</span>
    <span class="badge badge-muted">Unit</span>
    <span class="badge badge-muted">Integration</span>
    <span class="badge badge-muted">What To Do</span>
  </div>
</div>

<table class="width100">
  <tr>
    <td>
      <span class="js-pie-chart"
            data-value="{{default coverageRaw}}"
            data-max="100"
            data-color="#85bb43"
            data-base-color="#d4333f"
            data-size="47"></span>
      <div style="display: inline-block; vertical-align: middle; margin-left: 10px;">
        <p style="font-size: 36px; font-weight: 300;">{{coverage}}</p>
      </div>
    </td>
    <td>
      <div style="display: inline-block; vertical-align: middle;">
        <p>
          <span style="font-size: 16px;">{{withSign coverage1}}</span>
        </p>
        <p style="color: #777; font-size: 12px; font-weight: 300;">{{period3Name}}</p>
      </div>
    </td>
    <td>
      <div style="display: inline-block; vertical-align: middle;">
        <p>
          <span style="font-size: 16px;">{{withSign coverage2}}</span>
        </p>
        <p style="color: #777; font-size: 12px; font-weight: 300;">{{period1Name}}</p>
      </div>
    </td>
  </tr>
  <tr>
    <td style="padding-top: 15px;">
      <div id="overview-coverage-trend" data-height="50" style="width: 300px;" data-color="#4b9fd5"></div>
    </td>
    <td>
      <p>
        <span style="font-size: 16px;">{{withSign newCoverage1}}</span>
      </p>
      <p style="color: #777; font-size: 12px; font-weight: 300;">on new code</p>
    </td>
    <td>
      <p>
        <span style="font-size: 16px;">{{withSign newCoverage2}}</span>
      </p>
      <p style="color: #777; font-size: 12px; font-weight: 300;">on new code</p>
    </td>
  </tr>
</table>
