<header class="overview-card-header page-header">
  <h2 class="page-title">{{t 'overview.size'}}</h2>
</header>

<div class="overview-highlight">
  <h6 class="note">{{t 'metric.ncloc.name'}}</h6>
  <div class="overview-main-measure">
    <a href="{{urlForDrilldown componentKey 'ncloc'}}">{{formatMeasure ncloc 'SHORT_INT'}}</a>
  </div>

  {{#notNull ncloc3}}
    <div class="spacer-top">
      <h6 class="note">{{period3Name}}</h6>
      <span class="overview-measure">{{formatMeasureVariation ncloc3 'SHORT_INT'}}</span>
    </div>
  {{/notNull}}
</div>

<div class="overview-trend">
  <div class="overview-sparkline" id="overview-size-trend" data-height="120" data-color="#f3ca8e"
       data-type="SHORT_INT"></div>
</div>


