<div class="overview-card-header page-header">
  <h2 class="page-title">Issues & Technical Debt</h2>

  <div class="page-actions">
    <a class="badge js-issues" href="#">Issues</a>
    <a class="badge badge-muted js-debt" href="#">Debt</a>
    <a class="badge badge-muted js-guide" href="#">What To Do</a>
  </div>
</div>

<table class="width100">
  <tr>
    <td>
      <div style="display: inline-block; vertical-align: middle;">
        <p style="font-size: 36px; font-weight: 300;">{{numberShort issues}}</p>
      </div>
      <ul class="list-inline" style="display: inline-block; vertical-align: middle; margin-left: 10px;">
        <li>{{severityIcon 'BLOCKER'}}&nbsp;{{numberShort blockerIssues}}</li>
        <li>{{severityIcon 'CRITICAL'}}&nbsp;{{numberShort criticalIssues}}</li>
      </ul>
    </td>
    <td>
      <div style="display: inline-block; vertical-align: middle;">
        <p>
          <span class="text-danger" style="font-size: 16px;">+{{numberShort issues1}}</span>
        </p>
        <p style="color: #777; font-size: 12px; font-weight: 300;">{{period3Name}}</p>
      </div>
    </td>
    <td>
      <div style="display: inline-block; vertical-align: middle;">
        <p>
          <span class="text-danger" style="font-size: 16px;">+{{numberShort issues2}}</span>
        </p>
        <p style="color: #777; font-size: 12px; font-weight: 300;">{{period1Name}}</p>
      </div>
    </td>
  </tr>
  <tr>
    <td class="text-top" style="padding: 15px 10px 0 10px;">
      <div id="overview-issues-trend" data-height="50" style="width: 300px;" data-color="#4b9fd5"></div>
    </td>
    <td class="text-top" style="padding-top: 15px;">
      <ul class="list-inline">
        {{#gt blockerIssues1 0}}
          <li class="text-danger">{{severityIcon 'BLOCKER'}}&nbsp;+{{numberShort blockerIssues1}}</li>
        {{/gt}}
        {{#gt criticalIssues1 0}}
          <li class="text-danger">{{severityIcon 'CRITICAL'}}&nbsp;+{{numberShort criticalIssues1}}</li>
        {{/gt}}
      </ul>
      {{#gt openIssues1 0}}
        <ul class="list-inline spacer-top">
          <li>{{statusIcon 'OPEN'}}&nbsp;{{numberShort openIssues1}}&nbsp;<span class="note">open</span></li>
        </ul>
      {{/gt}}
    </td>
    <td class="text-top" style="padding-top: 15px;">
      <ul class="list-inline">
        {{#gt blockerIssues2 0}}
          <li class="text-danger">{{severityIcon 'BLOCKER'}}&nbsp;+{{numberShort blockerIssues2}}</li>
        {{/gt}}
        {{#gt criticalIssues2 0}}
          <li class="text-danger">{{severityIcon 'CRITICAL'}}&nbsp;+{{numberShort criticalIssues2}}</li>
        {{/gt}}
      </ul>
      {{#gt openIssues2 0}}
        <ul class="list-inline spacer-top">
          <li>{{statusIcon 'OPEN'}}&nbsp;{{numberShort openIssues2}}&nbsp;<span class="note">open</span></li>
        </ul>
      {{/gt}}
    </td>
  </tr>
</table>

<div style="margin: 20px 0;">

</div>

<div style="margin: 20px 0;">
  <div class="sonar-d3 cloud-widget">
    <div>
      {{#each issuesTags}}
        <a class="cloud-word" href="#" title="{{numberShort count}}" data-toggle="tooltip"
           style="font-size: {{size}}px;">{{val}}</a>
      {{/each}}
    </div>
  </div>
</div>
