<header class="overview-card-header page-header">
  <h2 class="page-title">{{t 'overview.testing'}}</h2>
</header>

<div class="overview-highlight">
  <h6 class="note">{{t 'metric.coverage.name'}}</h6>
  <div class="overview-main-measure">
    {{#notNull coverage}}
      <a href="{{urlForDrilldown componentKey 'coverage'}}">{{formatMeasure coverage 'PERCENT'}}</a>
    {{else}}
      –
    {{/notNull}}
  </div>
  {{#notNull newCoverage3}}
    <h6 class="note">{{period3Name}}</h6>
    <a class="overview-measure spacer-top"
       href="{{urlForDrilldown componentKey 'new_coverage' 3}}">{{formatMeasure newCoverage3 'PERCENT'}}</a>
    <span class="note">{{t 'overview.on_new_code'}}</span>
  {{/notNull}}
</div>

<div class="overview-trend">
  <div class="overview-sparkline" id="overview-coverage-trend" data-height="120" data-color="#f3ca8e"
       data-type="PERCENT"></div>
</div>
