<div class="overview-card-header page-header">
  <h2 class="page-title">Size</h2>
</div>

<table class="width100">
  <tr>
    <td>
      <div>
        <div style="display: inline-block; vertical-align: middle;">
          <p style="font-size: 36px; font-weight: 300;">{{ncloc}}</p>
        </div>
        {{#notEmpty nclocLang}}
          <div style="display: inline-block; vertical-align: middle; margin-left: 10px;">
            {{#each nclocLang}}
              <p>{{value}} <span class="note">{{key}}</span></p>
            {{/each}}
          </div>
        {{/notEmpty}}
      </div>
      <p class="note">Lines of Code</p>
    </td>
    <td>
      <div style="display: inline-block; vertical-align: middle;">
        <p>
          <span style="font-size: 16px;">{{withSign ncloc1}}</span>
        </p>
        <p style="color: #777; font-size: 12px; font-weight: 300;">period 3</p>
      </div>
    </td>
    <td>
      <div style="display: inline-block; vertical-align: middle;">
        <p>
          <span style="font-size: 16px;">{{withSign ncloc2}}</span>
        </p>
        <p style="color: #777; font-size: 12px; font-weight: 300;">period 1</p>
      </div>
    </td>
  </tr>
  <tr>
    <td style="padding-top: 15px;">
      <div id="overview-size-trend" data-height="50" style="width: 300px;" data-color="#4b9fd5"></div>
    </td>
  </tr>
</table>

<div id="overview-size-treemap" style="padding-top: 15px;"></div>
