<h6 class="note">{{t 'overview.lines_of_code'}}</h6>

<table class="width100">
  <tr>
    <td class="width-55">
      <div>
        <div class="overview-main-measure">
          <a href="{{urlForDrilldown componentKey 'ncloc'}}">{{formatMeasure ncloc 'INT'}}</a>
        </div>
        <div class="overview-trend">
          <div id="overview-size-trend" data-width="100" data-height="30" data-color="#4b9fd5"></div>
        </div>
      </div>
    </td>
    <td class="width-15">
      <span class="overview-measure">{{formatMeasureVariation ncloc1 'INT'}}</span>
      <p class="note">{{period1Name}}</p>
    </td>
    <td class="width-15">
      <span class="overview-measure">{{formatMeasureVariation ncloc2 'INT'}}</span>
      <p class="note">{{period2Name}}</p>
    </td>
    <td class="width-15">
      <span class="overview-measure">{{formatMeasureVariation ncloc3 'INT'}}</span>
      <p class="note">{{period3Name}}</p>
    </td>
  </tr>
</table>
