<p class="note">Lines of Code</p>

<table class="width100">
  <tr>
    <td class="width-55">
      <div>
        <div style="display: inline-block; vertical-align: middle;">
          <p style="font-size: 36px; font-weight: 300;">{{formatMeasure ncloc 'INT'}}</p>
        </div>
        <div style="display: inline-block; vertical-align: middle; margin-left: 15px;">
          <div id="overview-size-trend" data-width="100" data-height="30" data-color="#4b9fd5"></div>
        </div>
      </div>
    </td>
    <td class="width-15">
      <div style="display: inline-block; vertical-align: middle;">
        <p>
          <span style="font-size: 16px;">{{formatMeasureVariation ncloc1 'INT'}}</span>
        </p>
        <p style="color: #777; font-size: 12px; font-weight: 300;">{{period1Name}}</p>
      </div>
    </td>
    <td class="width-15">
      <div style="display: inline-block; vertical-align: middle;">
        <p>
          <span style="font-size: 16px;">{{formatMeasureVariation ncloc2 'INT'}}</span>
        </p>
        <p style="color: #777; font-size: 12px; font-weight: 300;">{{period2Name}}</p>
      </div>
    </td>
    <td class="width-15">
      <div style="display: inline-block; vertical-align: middle;">
        <p>
          <span style="font-size: 16px;">{{formatMeasureVariation ncloc3 'INT'}}</span>
        </p>
        <p style="color: #777; font-size: 12px; font-weight: 300;">{{period3Name}}</p>
      </div>
    </td>
  </tr>
</table>
