<div class="overview-highlight">
  <h6 class="note">{{t 'overview.lines_of_code'}}</h6>
  <div class="overview-main-measure">
    <a href="{{urlForDrilldown componentKey 'ncloc'}}">{{formatMeasure ncloc 'INT'}}</a>
  </div>
  {{#notNull ncloc3}}
    <div class="spacer-top">
      <span class="overview-measure">{{formatMeasureVariation ncloc3 'INT'}}</span>
      <span class="note">{{period3Name}}</span>
    </div>
  {{/notNull}}
</div>

<div class="overview-trend">
  <div class="overview-sparkline" id="overview-size-trend" data-width="300" data-height="50" data-color="#f3ca8e" data-type="INT"></div>
</div>
