<form id="pass_form_tag" name="pass_form_tag">
  <div class="modal-head">
    <h2>{{t 'my_profile.password.title'}}</h2>
  </div>

  <div class="modal-body">
    <div class="js-modal-messages"></div>
    <div class="modal-field">
      <label for="old_password">{{t 'my_profile.password.old'}}<em class="mandatory">*</em></label>
      <input autocomplete="off" id="old_password" name="old_password" required type="password">
    </div>
    <div class="modal-field">
      <label for="password">{{t 'my_profile.password.new'}}<em class="mandatory">*</em></label>
      <input autocomplete="off" id="password" name="password" required type="password">
    </div>
    <div class="modal-field">
      <label for="password_confirmation">{{t 'my_profile.password.confirm'}}<em class="mandatory">*</em></label>
      <input autocomplete="off" id="password_confirmation" name="password_confirmation" required type="password">
    </div>
  </div>

  <div class="modal-foot">
    <input name="commit" type="submit" value="{{t 'my_profile.password.submit'}}">
    <a class="js-modal-close" href="#">{{t 'cancel'}}</a>
  </div>
</form>
