<h2 class="spacer-bottom">{{t 'users.tokens'}}</h2>

<div class="big-spacer-bottom big-spacer-right markdown">
  <p>{{t 'my_account.tokens_description'}}</p>
</div>

{{#notNull tokens}}
  <table class="data">
    <thead>
    <tr>
      <th>{{t 'name'}}</th>
      <th class="text-right">{{t 'created'}}</th>
      <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    {{#each tokens}}
      <tr>
        <td>
          <div title="{{name}}">
            {{limitString name}}
          </div>
        </td>
        <td class="thin nowrap text-right">
          {{d createdAt}}
        </td>
        <td class="thin nowrap text-right">
          <div class="big-spacer-left">
            <form class="js-revoke-token-form" data-token="{{name}}">
              {{#if deleting}}
                <button class="button-red active input-small">{{t 'users.tokens.sure'}}</button>
              {{else}}
                <button class="button-red input-small">{{t 'users.tokens.revoke'}}</button>
              {{/if}}
            </form>
          </div>
        </td>
      </tr>
    {{else}}
      <tr>
        <td colspan="3">
          <span class="note">{{t 'users.no_tokens'}}</span>
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>
{{/notNull}}

{{#each errors}}
  <div class="alert alert-danger">{{msg}}</div>
{{/each}}

<form class="js-generate-token-form spacer-top panel bg-muted">
  <label>{{t 'users.generate_new_token'}}:</label>
  <input type="text" required maxlength="100" placeholder="{{t 'users.enter_token_name'}}">
  <button>{{t 'users.generate'}}</button>
</form>

{{#if newToken}}
  <div class="panel panel-white big-spacer-top">
    <div class="alert alert-warning">
      {{tp 'users.tokens.new_token_created' newToken.name}}
    </div>

    <table class="data">
      <tr>
        <td class="thin">
          <button class="js-copy-to-clipboard" data-clipboard-text="{{newToken.token}}">{{t 'copy'}}</button>
        </td>
        <td class="nowrap">
          <div class="monospaced text-success">{{newToken.token}}</div>
        </td>
      </tr>
    </table>
  </div>
{{/if}}
