<div class="workspace-viewer-header"></div>

<div class="workspace-viewer-container">

  {{#if exist}}

    <ul class="coding-rules-detail-properties">
      {{#if severity}}
        <li class="coding-rules-detail-property"
            data-toggle="tooltip" data-placement="bottom" title="{{t 'coding_rules.type.tooltip' this.type}}">
          <span class="little-spacer-right">{{issueTypeIcon this.type}}</span>{{issueType this.type}}
        </li>

        <li class="coding-rules-detail-property"
            data-toggle="tooltip" data-placement="bottom" title="Default rule severity">
          {{severityIcon severity}}&nbsp;{{t "severity" severity}}
        </li>
      {{/if}}

      {{#notEq status 'READY'}}
        <li class="coding-rules-detail-property"
            data-toggle="tooltip" data-placement="bottom" title="Rule status">{{status}}</li>
      {{/notEq}}

      <li class="coding-rules-detail-property coding-rules-detail-tag-list {{#if canWrite}}coding-rules-detail-tags-change{{/if}}"
          data-toggle="tooltip" data-placement="bottom" title="Rule tags">
        <i class="icon-tags"></i>
        <span>{{#if allTags}}{{join allTags ', '}}{{else}}{{t 'coding_rules.no_tags'}}{{/if}}</span>
      </li>

      <li class="coding-rules-detail-property">{{t 'coding_rules.available_since'}} {{d createdAt}}</li>

      {{#if debtRemFnType}}
        <li class="coding-rules-detail-property"
            data-toggle="tooltip" data-placement="bottom" title="{{t 'coding_rules.remediation_function'}}">
          {{t 'coding_rules.remediation_function' debtRemFnType}}:

          {{#if debtRemFnOffset}}{{debtRemFnOffset}}{{/if}}
          {{#if debtRemFnCoeff}}{{#if debtRemFnOffset}}+{{/if}}{{debtRemFnCoeff}}{{/if}}
          {{#if effortToFixDescription}}{{effortToFixDescription}}{{/if}}
        </li>
      {{/if}}

      <li class="pull-right spacer-left">
        <a class="link-no-underline" target="_blank" href="{{permalink}}">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height=14
            width=14
            viewBox="0 0 16 16">
            <path
              fill="currentColor"
              d="M13.501 11.429q0-0.357-0.25-0.607l-1.857-1.857q-0.25-0.25-0.607-0.25-0.375 0-0.643 0.286 0.027 0.027 0.17 0.165t0.192 0.192 0.134 0.17 0.116 0.228 0.031 0.246q0 0.357-0.25 0.607t-0.607 0.25q-0.134 0-0.246-0.031t-0.228-0.116-0.17-0.134-0.192-0.192-0.165-0.17q-0.295 0.277-0.295 0.652 0 0.357 0.25 0.607l1.839 1.848q0.241 0.241 0.607 0.241 0.357 0 0.607-0.232l1.313-1.304q0.25-0.25 0.25-0.598zM7.224 5.134q0-0.357-0.25-0.607l-1.839-1.848q-0.25-0.25-0.607-0.25-0.348 0-0.607 0.241l-1.313 1.304q-0.25 0.25-0.25 0.598 0 0.357 0.25 0.607l1.857 1.857q0.241 0.241 0.607 0.241 0.375 0 0.643-0.277-0.027-0.027-0.17-0.165t-0.192-0.192-0.134-0.17-0.116-0.228-0.031-0.246q0-0.357 0.25-0.607t0.607-0.25q0.134 0 0.246 0.031t0.228 0.116 0.17 0.134 0.192 0.192 0.165 0.17q0.295-0.277 0.295-0.652zM15.215 11.429q0 1.071-0.759 1.813l-1.313 1.304q-0.741 0.741-1.813 0.741-1.080 0-1.821-0.759l-1.839-1.848q-0.741-0.741-0.741-1.813 0-1.098 0.786-1.866l-0.786-0.786q-0.768 0.786-1.857 0.786-1.071 0-1.821-0.75l-1.857-1.857q-0.75-0.75-0.75-1.821t0.759-1.813l1.313-1.304q0.741-0.741 1.813-0.741 1.080 0 1.821 0.759l1.839 1.848q0.741 0.741 0.741 1.813 0 1.098-0.786 1.866l0.786 0.786q0.768-0.786 1.857-0.786 1.071 0 1.821 0.75l1.857 1.857q0.75 0.75 0.75 1.821z"
            />
          </svg>
        </a>
      </li>

      <li class="pull-right">
        <span class="note">{{key}}</span>
      </li>
    </ul>

    <div class="coding-rules-detail-description rule-desc markdown">{{{htmlDesc}}}</div>

    {{#if htmlNote}}
      <div id="coding-rules-detail-description-extra">
        <div class="rule-desc markdown">{{{htmlNote}}}</div>
      </div>
    {{/if}}

  {{else}}

  {{! does not exist}}
    <div class="alert alert-warning">{{t 'workspace.no_rule'}}</div>

  {{/if}}

</div>
