{{> "_issues-facet-header"}}

<div class="search-navigator-facet-list">
  {{#each values}}
    {{#eq val ""}}
    {{! unassigned }}
      <a class="facet search-navigator-facet js-facet" data-unassigned title="{{t "unassigned"}}">
        <span class="facet-name">{{t "unassigned"}}</span>
        <span class="facet-stat">
          {{formatFacetValue count ../../state.facetMode}}
        </span>
      </a>
    {{else}}
      <a class="facet search-navigator-facet js-facet" data-value="{{val}}" title="{{label}}">
        <span class="facet-name">{{label}}</span>
        <span class="facet-stat">
          {{formatFacetValue count ../../state.facetMode}}
        </span>
      </a>
    {{/eq}}
  {{/each}}

  <div class="search-navigator-facet-custom-value">
    <input type="hidden" class="js-custom-value">
  </div>
</div>
