{{> "_issues-facet-header"}}

<div class="search-navigator-facet-list">
  {{#each values}}
    {{#eq val ""}}
    {{! unresolved }}
      <a class="facet search-navigator-facet search-navigator-facet-half js-facet" data-unresolved
         title="{{t "issue.unresolved.description"}}" data-toggle="tooltip" data-placement="right">
        <span class="facet-name">{{t "unresolved"}}</span>
        <span class="facet-stat">
          {{#eq ../../state.facetMode 'count'}}{{numberShort count}}{{else}}{{formatMeasure count 'SHORT_WORK_DUR'}}{{/eq}}
        </span>
      </a>
    {{else}}
      <a class="facet search-navigator-facet search-navigator-facet-half js-facet" data-value="{{val}}"
         title="{{t "issue.resolution" val "description"}}" data-toggle="tooltip" data-placement="right">
        <span class="facet-name">{{t "issue.resolution" val}}</span>
        <span class="facet-stat">
          {{#eq ../../state.facetMode 'count'}}{{numberShort count}}{{else}}{{formatMeasure count 'SHORT_WORK_DUR'}}{{/eq}}
        </span>
      </a>
    {{/eq}}
  {{/each}}
</div>
