{{> "_issues-facet-header"}}

<div class="search-navigator-facet-list">
  {{#each values}}
    {{#eq val ""}}
      {{! unplanned }}
      <a class="facet search-navigator-facet js-facet" data-unplanned title="{{t "issue.unplanned"}}">
        <span class="facet-name">{{t "issue.unplanned"}}</span>
        <span class="facet-stat">
          {{formatFacetValue count ../../state.facetMode}}
        </span>
      </a>
    {{else}}
      <a class="facet search-navigator-facet js-facet" data-value="{{val}}" title="{{label}}">
        <span class="facet-name">{{label}}</span>
        <span class="facet-stat">
          {{formatFacetValue count ../../state.facetMode}}
        </span>
      </a>
    {{/eq}}
  {{/each}}
</div>
