{{> "_issues-facet-header"}}

<div class="search-navigator-facet-list">
  {{#each values}}
    <a class="facet search-navigator-facet js-facet" data-value="{{val}}" title="{{#if extra}}({{extra}}) {{/if}}{{default label val}}">
      <span class="facet-name">{{#if organization}}{{organization.name}}<span class="slash-separator"></span>{{/if}}{{default label val}}</span>
      <span class="facet-stat">
        {{#eq ../state.facetMode 'count'}}{{numberShort count}}{{else}}{{formatMeasure count 'SHORT_WORK_DUR'}}{{/eq}}
      </span>
    </a>
  {{/each}}

  <div class="search-navigator-facet-custom-value">
    <input type="hidden" class="js-custom-value">
  </div>
</div>
