{{> "_issues-facet-header"}}

<div class="search-navigator-facet-list search-navigator-facet-list-align-right">
  {{#each values}}
    <a class="facet search-navigator-facet js-facet" data-value="{{val}}" title="{{default label val}}">
      <span class="facet-name">{{default label val}}</span>
      <span class="facet-stat">
        {{#eq ../state.facetMode 'count'}}{{numberShort count}}{{else}}{{formatMeasure count 'SHORT_WORK_DUR'}}{{/eq}}
      </span>
    </a>
  {{/each}}
</div>
