{{> "_issues-facet-header"}}

<div class="search-navigator-facet-list">
  {{#each values}}
    <a class="facet search-navigator-facet js-facet"
       data-value="{{val}}">
      <span class="facet-name">{{issueTypeIcon val}} {{t 'issue.type' val}}</span>
      <span class="facet-stat">
        {{#eq ../state.facetMode 'count'}}{{numberShort count}}{{else}}{{formatMeasure count 'SHORT_WORK_DUR'}}{{/eq}}
      </span>
    </a>
  {{/each}}
</div>
