<%= form_tag({:action => 'update', :id => alert.id, :profile_id => @profile.id}, :id => "edit_alert_#{alert.id}") %>
<table>
<tr>
  <td nowrap>
    <%= h alert.name %>
  </td>
  <td width="10%" nowrap>
    <select id="alert_period_<%= alert.id %>" name="alert[period]">
      <%= period_select_options(alert) -%>
    </select>
  </td>
  <td width="10%" nowrap>
    <select id="alert_operator_<%= alert.id %>" name="alert[operator]">
      <% operators_for_select(alert).each do |key| %>
        <option value="<%= key -%>" <%= 'selected' if alert.operator==key -%>><%= message("alerts.operator.#{key}") -%></option>
      <% end %>
    </select>
  </td>
  <td width="15%" align="left">
    <%= image_tag 'levels/warn.png', :alt => message('alerts.warning_tooltip') %>
    <%= value_field(alert, alert.value_warning, 'alert[value_warning]') %> <%= alert.metric.suffix if alert.metric %>
  </td>
  <td width="15%" align="left">
    <%= image_tag 'levels/error.png', :alt => message('alerts.error_tooltip') %>
    <%= value_field(alert, alert.value_error, 'alert[value_error]') %> <%= alert.metric.suffix if alert.metric %>
  </td>
  <td width="120px" nowrap>
    <input id="alert_submit" type="submit" value="<%= message('update_verb') -%>"/>
    <%= link_to message('delete'), {:action => 'delete', :id => alert.id, :profile_id =>@profile.id}, :confirm => message('are_you_sure'), :method => :post, :class => 'action', :id => "delete_#{u alert.name}" %>
  </td>
</tr>
</table>
<div id="alert_error_<%= alert.id -%>" class="error hidden" style="margin: 5px;"/>
</form>

<script type="text/javascript">
  $j(document).ready(function () {
    ajaxForm("edit_alert_<%= alert.id -%>", "alert_error_<%= alert.id -%>");
  });

  $j('#alert_period_<%= alert.id %>').select2({
    allowClear: false,
    minimumResultsForSearch: 10,
    width: '200px'
  });

  $j('#alert_operator_<%= alert.id %>').select2({
    allowClear: false,
    minimumResultsForSearch: 10,
    width: '150px'
  });
</script>