<% remote_form_for([@profile, alert]) do |f| %>
<table>
<tr>
  <td nowrap>
    <%= h alert.name %>
  </td>
  <td width="10%" nowrap>
    <%= f.select 'operator', operators_for_select(alert) %>
  </td>
  <td width="20%" align="left">
    <%= image_tag 'levels/warn.png', :alt => 'Warning threshold' %>
    <%= value_field(f, alert, 'value_warning') %> <%= alert.metric.suffix if alert.metric %>
  </td>
  <td width="20%" align="left">
    <%= image_tag 'levels/error.png', :alt => 'Error threshold' %>
    <%= value_field(f, alert, 'value_error') %> <%= alert.metric.suffix if alert.metric %>
  </td>
  <td width="120px" nowrap>
    <%= f.submit "Update" %>
    <%= link_to 'Delete', [@profile, alert], :confirm => 'Are you sure?', :method => :delete, :class => 'action', :id => "delete_#{u alert.name}" %>
  </td>
</tr>
</table>
<% unless alert.errors.empty? %>
<div class="error" style="margin: 5px;">
   <ul>
     <% alert.errors.full_messages.each do |message| %>
     <li><%= h message %></li>
     <% end %>
   </ul>
</div>
<% end %>
<% end %>