<%= form_remote_tag :url => {:action => 'update', :id => alert.id, :profile_id => @profile.id}, :html => {:id => "edit_alert_#{alert.id}"} %>
<table>
<tr>
  <td nowrap>
    <%= h alert.name %>
  </td>
  <td width="10%" nowrap>
    <select id="alert_operator" name="alert[operator]">
      <% operators_for_select(alert).each_pair do |name, key| %>
        <option value="<%= key -%>" <%= 'selected' if alert.operator==key -%>><%= name -%></option>
      <% end %>
    </select>
  </td>
  <td width="20%" align="left">
    <%= image_tag 'levels/warn.png', :alt => 'Warning threshold' %>
    <%= value_field(alert, alert.value_warning, 'alert[value_warning]') %> <%= alert.metric.suffix if alert.metric %>
  </td>
  <td width="20%" align="left">
    <%= image_tag 'levels/error.png', :alt => 'Error threshold' %>
    <%= value_field(alert, alert.value_error, 'alert[value_error]') %> <%= alert.metric.suffix if alert.metric %>
  </td>
  <td width="120px" nowrap>
    <input id="alert_submit" type="submit" value="Update"></input>
    <%= link_to 'Delete', {:action => 'delete', :id => alert.id, :profile_id =>@profile.id}, :confirm => 'Are you sure?', :method => :post, :class => 'action', :id => "delete_#{u alert.name}" %>
  </td>
</tr>
</table>
<% unless alert.errors.empty? %>
<div class="error" style="margin: 5px;">
   <ul>
     <% alert.errors.full_messages.each do |message| %>
     <li><%= h message %></li>
     <% end %>
   </ul>
</div>
<% end %>
</form>