<h3><%= message('alerts.create_alert') -%></h3>
<%= form_tag({:action => 'create', :profile_id => @profile.id}, :id => 'new_alert_form') -%>
<table class="spaced">
<tr>
  <td valign="top">
    <select id="alert_metric_id" name="alert[metric_id]">
      <option value="" <%= 'selected' if @alert.metric.nil? %>></option>
      <% Metric.domains.each do |domain| %>
      <optgroup label="<%= h domain -%>">
        <% Metric.by_domain(domain).select{ |m| m.alertable? }.each do |metric| %>
          <option value="<%= metric.id -%>" <%= 'selected' if @alert.metric_id==metric.id -%>><%= metric.short_name %></option>
        <% end %>
      </optgroup>
      <% end %>
    </select>
  </td>

  <td width="10%" valign="top" class="alert_fields">
    <select id="alert_period" name="alert[period]">
      <%= period_select_options(@alert) -%>
    </select>
  </td>

  <td width="10%"  valign="top" class="alert_fields">
    <select id="alert_operator" name="alert[operator]">
      <%
         default_op=default_operator(@alert)
         operators_for_select(@alert).each do |key| %>
        <option value="<%= key -%>" <%= 'selected' if default_op==key -%>><%= message("alerts.operator.#{key}") -%></option>
      <% end %>
    </select>
  </td>

  <td width="15%" valign="top" class="alert_fields">
    <%= image_tag 'levels/warn.png', :alt => message('alerts.warning_tooltip') %>
    <%= value_field(@alert, '', 'alert[value_warning]') %>
    <%= @alert.metric.suffix if @alert.metric %><br/>
    <span class="note"><%= message('alerts.warning_threshold') -%></span>
  </td>

  <td width="15%" valign="top" class="alert_fields">
    <%= image_tag 'levels/error.png', :alt => message('alerts.error_tooltip') %>
    <%= value_field(@alert, '', 'alert[value_error]') %>
    <%= @alert.metric.suffix if @alert.metric %><br/>
    <span class="note"><%= message('alerts.error_threshold') -%></span>
  </td>

  <td width="120px" nowrap valign="top" class="alert_fields">
    <input type="submit" value="<%= message('create') -%>" id="submit_create"/>
  </td>
</tr>
</table>
<div id="alert_error" class="error hidden" style="margin: 5px;"/>
</form>

<script type="text/javascript">

  $j(document).ready(function () {
    ajaxForm("new_alert_form", "alert_error");
  });

  <% if @alert.metric.nil? -%>
  $j('.alert_fields').hide();
  <% else -%>
  $j('.alert_fields').show();
  <% end %>

  $j('#alert_metric_id').select2({
    allowClear: false,
    width: '250px',
    placeholder: '<%= message('alerts.select_metric') -%>'
  });

  $j('#alert_metric_id').change(function (event) {
    metricId = $('alert_metric_id').value;
    $j.ajax({
      type: 'POST',
      url: "<%= ApplicationController.root_context -%>/alerts/new?profile_id=<%= @profile.id -%>&alert[metric_id]="+ metricId,
      success: function (data) {
        $j("#new_alert_content").html(data);
      }
    });
    return false;
  });

  $j('#alert_period').select2({
    allowClear: false,
    minimumResultsForSearch: 10,
    width: '200px'
  });

  $j('#alert_operator').select2({
    allowClear: false,
    minimumResultsForSearch: 10,
    width: '150px'
  });

</script>


