<table class="spaced">
<tr>
  <td>
    <%= h alert.name %>
  </td>
  <td width="10%">
    <%= period_label(alert) -%>
  </td>
  <td width="10%">
    <%= message("alerts.operator.#{alert.operator}") -%>
  </td>
  <td width="20%">
    <% if alert.metric && !alert.value_warning.blank? %>
      <%= image_tag 'levels/warn.png', :alt => message('alerts.warning_tooltip') %>
      <%= alert.value_warning %> <%= alert.metric.suffix if alert.metric %>
    <% end %>
  </td>
  <td width="20%">
    <% if alert.metric && !alert.value_error.blank? %>
      <%= image_tag 'levels/error.png', :alt => message('alerts.error_tooltip') %>
      <%= alert.value_error %> <%= alert.metric.suffix %>
    <% end %>
  </td>
  <td width="120px" nowrap>
    
  </td>
</tr>
</table>
