<h1><%= message('alerts.editing_alert') -%></h1>

<% form_for([@profile, @alert]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :profile_id %><br />
    <%= f.text_field :profile_id %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit message('update_verb') %>
  </p>
<% end %>

<%= link_to message('show_verb'), [@profile, @alert] %> |
<%= link_to message('back'), profile_alerts_path(@profile) %>
