<%= render :partial => 'profiles/tabs', :locals => {:selected_tab=>'Alerts'} %>

<% if profiles_administrator? %>
  <div class="tabs-panel marginbottom10 admin">
    <div id="new_alert_content">
      <%= render :partial => 'new' -%>
    </div>
  </div>
<% else %>
  <div class="break10"> </div>
<% end %>

<% if @alerts.empty? %>
<p id="alerts"><%= message('alerts.no_alerts') -%></p>
<% else %>

  <table class="data width100 marginbottom10 spaced" id="alerts">
    <thead><tr><th></th></tr></thead>
    <tbody>
      <% for alert in @alerts %>
          <tr class="<%= cycle('even','odd') -%>">
            <td id="row_alert_<%= alert.id -%>">
              <% if profiles_administrator?  %>
                <%= render :partial => 'edit', :locals => {:alert => alert} %>
              <% else %>
                <%= render :partial => 'show', :locals => {:alert => alert} %>
              <% end %>
            </td>
          </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<br/>
<div class="help">
<h3>Notes</h3>
<%= message('alerts.notes.description') -%>
<table class="data">
<thead>
<tr><th colspan="3"></th></tr>
</thead>
<tbody>
<tr class="even"><td><%= image_tag 'levels/ok.png' %></td><td> <%= message('alerts.notes.ok') -%></td></tr>
<tr class="odd"><td><%= image_tag 'levels/warn.png' %></td><td> <%= message('alerts.notes.warn') -%></td></tr>
<tr class="even"><td><%= image_tag 'levels/error.png' %></td><td> <%= message('alerts.notes.error') -%></td></tr>
</tbody>
</table>
</div>

<script type="text/javascript">
  function ajaxForm(formId, errorId){
    var obj = $j("#"+ formId);
    obj.submit(function (event) {
      $j.ajax({
        type: 'POST',
        url: obj.attr('action'),
        data: obj.serialize(),
        success: function (data) {
          window.location.reload();
        },
        error: function (xhr, textStatus, errorThrown) {
          $j("#"+ errorId).removeClass("hidden");
          $j("#"+ errorId).html(xhr.responseText);
        }
      });
      return false;
    });
  }

</script>
