<p>
  <b><%= message('profile') -%>:</b>
  <%=h @alert.profile_id %>
</p>

<p>
  <b><%= message('name') -%>:</b>
  <%=h @alert.name %>
</p>


<%= link_to message('edit'), edit_profile_alert_path(@profile, @alert) %> |
<%= link_to message('back'), profile_alerts_path(@profile) %>
