<div class="line line-small">
  {{#if qualityProfile}}
    <i class="icon-quality-profile"></i>&nbsp;{{qualityProfileName}}&nbsp;
    {{severityIcon severity}}{{t "severity" severity}}&nbsp;
  {{/if}}
  <span class="coding-rules-detail-status">{{language}}</span>

  <div class="line-right">{{#notEq status 'READY'}}{{status}}{{/notEq}}</div>
</div>
<div class="line line-nowrap" title="{{name}}">{{name}}</div>