<table class="width100">
  <tbody>
  <tr>
    <td class="coding-rules-detail-quality-profile-name">
      {{name}}
      {{#if parent}}
        <div class="coding-rules-detail-quality-profile-inheritance">
          <i class="icon-inheritance"></i> {{parent.name}}
        </div>
      {{/if}}
    </td>

    <td class="coding-rules-detail-quality-profile-severity">
      {{severityIcon severity}} {{t "severity" severity}}
      {{#if parent}}{{#notEq severity parent.severity}}
        <div class="coding-rules-detail-quality-profile-inheritance">
          {{t 'coding_rules.original'}} {{severityIcon parent.severity}}{{t 'severity' parent.severity}}
        </div>
      {{/notEq}}{{/if}}
    </td>

    <td class="coding-rules-detail-quality-profile-parameters">
      {{#each parameters}}
        {{key}}: {{value}}
        {{#if ../parent}}{{#notEq value original}}
          <div class="coding-rules-detail-quality-profile-inheritance">
            {{t 'coding_rules.original'}} {{original}}
          </div>
        {{/notEq}}{{/if}}
      {{/each}}
    </td>

    <td class="coding-rules-detail-quality-profile-actions">
      <div class="button-group">
        <button class="coding-rules-detail-quality-profile-update">{{t 'change'}}</button>
        {{#if parent}}
          <button class="coding-rules-detail-quality-profile-revert button-red">
            {{t 'coding_rules.revert_to_parent_definition'}}
          </button>
        {{/if}}
        <button class="coding-rules-detail-quality-profile-deactivate button-red">
          {{t 'coding_rules.deactivate'}}
        </button>
      </div>
    </td>
  </tr>

  {{#if note}}
    <tr>
      <td colspan="4" class="coding-rules-detail-quality-profile-note">{{{note.html}}}</td>
    </tr>
  {{/if}}
  </tbody>
</table>