<a class="coding-rules-bulk-change-dropdown-link" data-action="activate"
   {{#if inactiveQualityProfile}}data-param="{{inactiveQualityProfile}}"{{/if}}>
  {{t 'coding_rules.activate_in'}}
  {{#if inactiveQualityProfile}}<strong>{{inactiveQualityProfileName}}</strong>{{/if}}
</a>

<a class="coding-rules-bulk-change-dropdown-link" data-action="deactivate"
   {{#if activeQualityProfile}}data-param="{{activeQualityProfile}}"{{/if}}>
  {{t 'coding_rules.deactivate_in'}}
  {{#if activeQualityProfile}}<strong>{{activeQualityProfileName}}</strong>{{/if}}
</a>

{{#if activeQualityProfile}}
  <a class="coding-rules-bulk-change-dropdown-link" data-action="change-severity">
    {{t 'coding_rules.change_severity_in'}} <strong>{{activeQualityProfileName}}</strong>
  </a>
{{/if}}