<div class="page admin_page">
  <ul style="float: right" class="horizontal">
    <li class="marginleft10">
      <i class="icon-plus"></i>
      <%= link_to message('create'), {:action => :create_form, :resource => (@resource.id if @resource)}, :id => "create-link-dashboard", :class => 'open-modal link-action' %>
    </li>
  </ul>

  <h1><%= message(@global ? 'dashboard.my_global_dashboards' : 'dashboard.my_project_dashboards') -%></h1>
  <%= render_partial :partial => 'my_dashboards', :locals => { :is_admin => is_admin? } %>

  <h1><%= message('dashboard.available_dashboards') -%></h1>
  <%= render_partial :partial => 'available_dashboards', :locals => { :is_admin => is_admin? } %>
</div>

<% if params[:highlight] %>
<script type="text/javascript">
  new Effect.Highlight('dashboard-<%= h params[:highlight] -%>', {duration: 2, startcolor: '#cae3f2'});
</script>
<% end %>
