<%= render :partial => 'profiles/tabs', :locals => {:selected_tab=>'changelog'} %>

<div class="tabs-panel marginbottom10">
  <% if @select_versions.nil? %>
    <%= message('quality_profiles.no_changes_done_on_this_profile') -%>
  <% else %>

  <% form_tag({:action => 'changelog'}, {:method => 'post', :class => 'marginbottom10'}) do %>
    <%= hidden_field_tag "id", @profile.id %>
    <%= message('quality_profiles.changelog_from') -%>
    <%= select_tag "since", options_for_select(@select_versions, @since_version) %>
    <%= message('to').downcase -%>
    <%= select_tag "to", options_for_select(@select_versions, @to_version) %>
    <%= submit_tag message('load_verb'), :id => 'submit'%>
  <% end %>

  <table id="profile-changelog" class="data width100">
    <thead>
      <tr>
        <th><%= message('quality_profiles.profile_version') -%></th>
        <th><%= message('date') -%></th>
        <th><%= message('user') -%></th>
        <th><%= message('action') -%></th>
        <th><%= message('rule') -%></th>
        <th><%= message('parameters') -%></th>
      </tr>
    </thead>
    <%
      @changes.each do |change|
    %>
    <tr class="<%= cycle('even', 'odd') -%>">
      <td valign="top" width="1%" nowrap><%= change.profile_version - 1 %> -> <%= change.profile_version %></td>
      <td valign="top" width="1%" nowrap><%= l(change.change_date) -%></td>
      <td valign="top" width="1%" nowrap><%= change.username ? change.username : 'System' %></td>
      <td valign="top" width="1%" nowrap><%= change.action_text %></td>
      <td valign="top"><%= change.rule.name %></td>
      <td valign="top">
        <% if change.old_severity
             if change.new_severity %>
            <%= message('quality_profiles.severity_changed_from_x_to', :params => [image_tag("priority/#{change.old_severity_text}.png"), change.old_severity_text]) -%>
          <% else %>
            <%= message('quality_profiles.severity_was_x', :params => [image_tag("priority/#{change.old_severity_text}.png"), change.old_severity_text]) -%>
          <% end
           end %>
        <% if change.new_severity
             if change.old_severity %>
           <%= image_tag "priority/#{change.new_severity_text}.png" %><b><%= change.new_severity_text %></b>
          <% else %>
           <%= message('quality_profiles.severity_set_to_x', :params => [image_tag("priority/#{change.new_severity_text}.png"), change.new_severity_text]) -%>
          <% end
           end %>
        <% if (change.old_severity or change.new_severity) and change.parameters.size > 0 %>
          <br/>
        <% end %>
        <% change.parameters.each do |param_change| %>
          <% if not param_change.old_value %>
             <%= message('quality_profiles.parameter_set_to_x', :params => [param_change.name, param_change.new_value]) -%>
          <% elsif not param_change.new_value
               if change.enabled == false %>
                 <%= message('quality_profiles.parameter_was_x', :params => [param_change.name, param_change.old_value]) -%>
            <% else %>
                 <%= message('quality_profiles.parameter_reset_to_default_value_x', :params => [param_change.name, param_change.old_value]) -%>
            <% end
             else %>
             <%= message('quality_profiles.parameter_changed_from_x_to_x', :params => [param_change.name, param_change.old_value, param_change.new_value]) -%>
          <% end %>
          <%= "<br/>" unless param_change == change.parameters.last %>
        <% end%>
      </td>
    </tr>
    <% end %>
  </table>

  <% end %>
</div>
