<h1 class="marginbottom10"><%= link_to 'Quality profiles', :controller => 'profiles', :action => 'index' -%> / <%= h @profile.language -%> / <%= h @profile.name %></h1>
<%= render :partial => 'profiles/tabs', :locals => {:selected_tab=>'changelog'} %>

<div class="tabs-panel marginbottom10">
  <% if @select_versions.nil? %>
    No changes has been done on this quality profile.
  <% else %>

  <% form_tag({:action => 'changelog'}, {:method => 'post', :class => 'marginbottom10'}) do %>
    <%= hidden_field_tag "id", @profile.id %>
    Changelog from
    <%= select_tag "since", options_for_select(@select_versions, @since_version) %>
    to
    <%= select_tag "to", options_for_select(@select_versions, @to_version) %>
    <%= submit_tag "Load", :id => 'submit'%>
  <% end %>

  <table  class="data width100">
    <thead>
      <tr>
        <th>Profile version</th>
        <th>Date</th>
        <th>User</th>
        <th>Action</th>
        <th>Rule</th>
        <th>Parameters</th>
      </tr>
    </thead>
    <%
      @changes.each do |change|
    %>
    <tr class="<%= cycle('even', 'odd') -%>">
      <td valign="top" width="1%" nowrap><%= change.profile_version - 1 %> -> <%= change.profile_version %></td>
      <td valign="top" width="1%" nowrap><%= l(change.change_date) -%></td>
      <td valign="top" width="1%" nowrap><%= change.user_name %></td>
      <td valign="top" width="1%" nowrap><%= change.action_text %></td>
      <td valign="top"><%= change.rule.name %></td>
      <td valign="top">
        <% if change.old_severity
             if change.new_severity %>
            Severity changed from <%= image_tag "priority/#{change.old_severity_text}.png" %><b><%= change.old_severity_text %></b> to
          <% else %>
            Severity was <%= image_tag "priority/#{change.old_severity_text}.png" %><b><%= change.old_severity_text %></b>
          <% end
           end %>
        <% if change.new_severity
             if change.old_severity %>
           <%= image_tag "priority/#{change.new_severity_text}.png" %><b><%= change.new_severity_text %></b>
          <% else %>
           Severity set to <%= image_tag "priority/#{change.new_severity_text}.png" %><b><%= change.new_severity_text %></b>
          <% end
           end %>
        <% if (change.old_severity or change.new_severity) and change.parameters.size > 0 %>
          <br/>
        <% end %>
        <% change.parameters.each do |param_change| %>
          Parameter <b><%=param_change.name %></b>
          <% if not param_change.old_value %>
             set to <b><%= param_change.new_value %></b>
          <% elsif not param_change.new_value
               if change.enabled == false %>
                 was <b><%= param_change.old_value %></b>
            <% else %>
                 reset to default value (was <b><%= param_change.old_value %></b>)
            <% end
             else %>
             changed from <b><%= param_change.old_value %></b> to <b><%= param_change.new_value %></b>
          <% end %>
          <%= "<br/>" unless param_change == change.parameters.last %>
        <% end%>
      </td>
    </tr>
    <% end %>
  </table>

  <% end %>
</div>
