<h1 class="marginbottom10"><%= link_to 'Quality profiles', :controller => 'profiles', :action => 'index' -%> / <%= h @profile.language -%> / <%= h @profile.name %></h1>
<%= render :partial => 'profiles/tabs', :locals => {:selected_tab=>'Hierarchy'} %>

<div class="tabs-panel marginbottom10">

  <table width="100%">
    <tr>
      <td align="center"  valign="top">
        <div>
            <% @profile.ancestors.reverse.each do |parent| %>
              <a href="<%= url_for :action => 'hierarchy', :id => parent.id -%>"><%= parent.name -%></a> <span class="note">(<%= parent.active_rules.size -%> rules)</span><br/>
              <%= image_tag 'blue-up.png' -%><br/>
            <% end %>

            <b><%= @profile.name -%></b> <span class="note">(<%= @profile.active_rules.size -%> rules)</span><br/>

            <% if @profile.children.size>0 %>
              <%= image_tag 'blue-up.png' -%><br/>
              <% @profile.children.each_with_index do |child,index| %>
                <%= ', ' if index>0 -%>
                <a href="<%= url_for :action => 'hierarchy', :id => child.id -%>"><%= child.name -%></a> <span class="note">(<%= child.active_rules.size -%> rules)</span>
              <% end %>
              <br/><%= image_tag 'blue-up.png' -%><br/>
              ...
            <% end %>
          </div>
      </td>
     <% if is_admin? %>
       <td valign="top" width="300">
         <div class="admin">
         <% if @profile.provided? %>
           <p>This profile can not be changed.</p>

         <% else %>
           <h3>Set parent:</h3>
           <p>Inherit rules configuration from the profile:</p>
           <% form_tag({:action => 'change_parent'}, {:method => 'post'}) do %>
             <%= hidden_field_tag "id", @profile.id %>
             <%= select_tag "parent_name", options_for_select(@select_parent, @profile.parent_name) %>
             <%= submit_tag "Change", :id => 'submit_parent'%>
           <% end %>
         <% end %>
         </div>
       </td>
     <% end %>
    </tr>
  </table>

</div>
