<div class="line-block marginbottom10">
  <ul style="float: right" class="operations">
    <li>
      <%= image_tag 'compare.png' -%>
      <a href="profiles/compare" id="compare-link"><%= message('quality_profiles.compare_profiles') -%></a>
    </li>
    <% if profiles_administrator? %>
      <li class="last">
        <%= image_tag 'restore.gif' -%>
        <a href="profiles/restore_form" class="open-modal" id="restore-link"><%= message('quality_profiles.restore_profile') -%></a>
      </li>
    <% end %>
  </ul>
</div>

<%
   Api::Utils.insensitive_sort(languages){|l| l.getName()}.each do |language|
%>
  <div class="line-block">
    <% if profiles_administrator? %>
      <ul style="float: right" class="horizontal">
        <li class="marginleft10 add">
          <a id="create-link-<%= language.getKey() -%>" href="profiles/create_form?language=<%= language.getKey() -%>" class="open-modal link-action"><%= message('create') -%></a>
        </li>
      </ul>
    <% end %>
    <h2><%= message('quality_profiles.x_language_profiles', :params => language.getName()) -%></h2>
  </div>

  <table class="data width100" id="profiles_<%= language.getKey() -%>">
    <thead>
    <tr>
      <th class="left"><%= message('name') -%></th>
      <th class="right"><%= message('rules') -%></th>
      <th class="right"><%= message('alerts') -%></th>
      <th class="right"><%= message('projects') -%></th>
      <th class="right"><%= message('default') -%></th>
      <% if profiles_administrator? %>
        <th width="1%" class="right" colspan="4"><%= message('operations') -%></th>
      <% end %>
    </tr>
    </thead>
    <tbody>
    <% @profiles.select { |p| p.language==language.getKey() }.each do |profile| %>
      <tr class="<%= cycle 'even', 'odd', :name => language.getKey() -%>" id="<%= u profile.key %>">
        <td  width="40%">
          <a href="<%= url_for :controller => 'rules_configuration', :action => 'index', :id => profile.id -%>" id="rules-<%= language.getKey() -%>-<%= u(profile.name) -%>"><%= h profile.name %></a>
        </td>

        <td align="right" width="10%">
          <span id="activated_rules_<%= u profile.key -%>"><%= profile.count_active_rules -%></span>
        </td>

        <td align="right" width="10%"><span id="alerts_<%= u profile.key -%>"><%= profile.alerts.size -%></span></td>

        <td align="right" width="10%" nowrap>
          <% unless profile.default_profile? %>
            <span id="projects_<%= u profile.key -%>"><%= profile.projects.size -%></span>
          <% end %>
        </td>

        <td align="right" width="10%" nowrap>
          <% if !profile.default_profile? && profiles_administrator? %>
            <%= link_to_action message('set_as_default'), "#{ApplicationController.root_context}/profiles/set_as_default?id=#{profile.id}",
                               :id => "activate_#{profile.key.parameterize}",
                               :class => 'link-action',
                               :confirm_title => message('set_as_default'),
                               :confirm_msg => message('quality_profiles.are_you_sure_want_x_profile_as_default', :params => [profile.name]),
                               :confirm_button => message('set_as_default')
            -%>
          <% end %>
          <% if profile.default_profile? %>
            <%= image_tag 'tick.png', :id => "is_active_#{u profile.key}" %>
          <% end %>
        </td>


        <% if profiles_administrator? %>

          <td align="right">
            <form method="post" action="<%= ApplicationController.root_context -%>/profiles/backup/<%= profile.id -%>" id="backup-<%= profile.key.parameterize -%>-form">
              <a href="#" class="link-action" name="button_backup" id="backup_<%= u profile.key %>" onclick="$j('#backup-<%= profile.key.parameterize -%>-form').submit();return false;"><%= message('backup_verb') -%></a>
            </form>
          </td>

          <td align="right">
            <a id="rename-<%= profile.key.parameterize -%>" href="<%= ApplicationController.root_context -%>/profiles/rename_form/<%= profile.id -%>" class="link-action open-modal"><%= message('rename') -%></a>
          </td>

          <td align="right">
            <a id="copy-<%= profile.key.parameterize -%>" href="<%= ApplicationController.root_context -%>/profiles/copy_form/<%= profile.id -%>" class="link-action open-modal"><%= message('copy') -%></a>
          </td>

          <td>
            <% if profile.deletable? %>
              <%= link_to_action message('delete'), "#{ApplicationController.root_context}/profiles/delete/#{profile.id}",
                                 :class => 'link-action link-red',
                                 :id => "delete_#{profile.key.parameterize}",
                                 :confirm_button => message('delete'),
                                 :confirm_title => 'quality_profiles.delete_confirm_title',
                                 :confirm_msg => 'quality_profiles.are_you_sure_want_delete_profile_x',
                                 :confirm_msg_params => [profile.name]
              -%>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
  <br/><br/>
<% end %>
