<%
   if has_role?(:user, @project)
     limit = widget_properties["numberOfLines"]

     search_options = {}
     search_options['projects'] = @project.key
     search_options['statuses'] = "#{Review::STATUS_OPEN},#{Review::STATUS_REOPENED}"
     
     if @dashboard_configuration.selected_period?
       search_options['from'] = @dashboard_configuration.from_datetime
       search_options['to'] = DateTime.now
     end
     
     title = message('widget.planned_reviews.name')
     
     open_action_plans = ActionPlan.find(:all, :conditions => ['status= ? AND project_id=?', ActionPlan::STATUS_OPEN, @project.id], 
                                         :include => 'reviews', :order => 'dead_line ASC')
     
     if open_action_plans.empty? 
%>
  
<h3><%= title -%></h3>
<span class="empty_widget"><%= message('widget.planned_reviews.no_action_plan') -%></span>

<% 
     else
       first_action_plan = open_action_plans[0]
       url_options = search_options.merge({:controller => 'project_reviews', :action => 'widget_reviews_list', :snapshot_id => @snapshot.id,
                                           :limit => limit, :widget_id => widget.id, :period => params[:period] })
%>

<script type="text/javascript">
  function showActionPlanOpenReviews(actionPlanId) {
    new Ajax.Updater('reviews-widget-<%= widget.id -%>',
                     '<%= url_for url_options -%>&action_plan_id=' + actionPlanId,                      
                     {asynchronous:true, evalScripts:true});
   $('planned-review-more-link_<%= widget.id -%>').href = '<%= url_for url_options.merge({:action => 'index'}) -%>&action_plan_id=' + actionPlanId;
  }
</script>

<div class="line-block">
  <div style="float:right">
    <a href="<%= url_for url_options.merge({:action => 'index'}) -%>&action_plan_id=<%= first_action_plan.id -%>" id="planned-review-more-link_<%= widget.id -%>">
      <%= message('widgets.more') -%>
    </a>
  </div>
  
  <h3>
    <%= title -%>
    <select class="small" style="margin-left: 20px" onchange="showActionPlanOpenReviews(this.value);" id="select-action-plan_<%= widget.id -%>">
      <% open_action_plans.each do |plan| %>
        <option value="<%= plan.id -%>"><%= h(plan.name) -%></option>
      <% end %>
    </select>
  </h3>
</div>


<div id="reviews-widget-<%= widget.id -%>">
  <% search_options['action_plan_id'] = first_action_plan.id %>
  <%= render :partial => 'project/widgets/reviews/reviews_list',
             :locals => {:search_options => search_options,
                         :limit => limit,
                         :widget_id => widget.id.to_s} %>
</div>

<% 
     end
   end 
%>
