<%
  active_reviews = measure('active_reviews')
  unassigned_reviews = measure('unassigned_reviews')
  unplanned_reviews = measure('unplanned_reviews')
  false_positive_reviews = measure('false_positive_reviews')
  unreviewed_violations = measure('unreviewed_violations')
  new_unreviewed_violations = measure('new_unreviewed_violations')
%>
<table width="100%">
  <tr>
    <td valign="top" width="48%" nowrap>
      <div class="dashbox">
        <h3><%= message('widget.reviews_metrics.active_reviews') -%></h3>
        <% if active_reviews %>
        <p>
          <span class="big"><%= format_measure(active_reviews, :suffix => '', :url => url_for_drilldown(active_reviews)) -%></span>
          <%= dashboard_configuration.selected_period? ? format_variation(active_reviews) : trend_icon(active_reviews) -%>
        </p>
        <p>
          <%= format_measure(unassigned_reviews, :suffix => message('widget.reviews_metrics.unassigned.suffix'), :url => url_for_drilldown(unassigned_reviews)) -%>
          <%= dashboard_configuration.selected_period? ? format_variation(unassigned_reviews) : trend_icon(unassigned_reviews) -%>
        </p>
        <p>
          <%= format_measure(unplanned_reviews, :suffix => message('widget.reviews_metrics.unplanned.suffix'), :url => url_for_drilldown(unplanned_reviews)) -%>
          <%= dashboard_configuration.selected_period? ? format_variation(unplanned_reviews) : trend_icon(unplanned_reviews) -%>
        </p>
        <% else %>
          <span class="empty_widget"><%= message('widget.reviews_metrics.no_data') -%></span>
        <% end %>
      </div>
    </td>
    <td width="10"> </td>
    <td valign="top">
      <div class="dashbox">
        <h3><%= message('widget.reviews_metrics.unreviewed_violations') -%></h3>
        <% if unreviewed_violations %>
        <p>
          <span class="big"><%= format_measure(unreviewed_violations, :suffix => '', :url => url_for_drilldown(unreviewed_violations)) -%></span>
          <%= dashboard_configuration.selected_period? ? format_variation(unreviewed_violations) : trend_icon(unreviewed_violations) -%>
          <% 
             if new_unreviewed_violations && @dashboard_configuration.selected_period? 
          %>
            <br/>
            <span style="font-weight: bold">
              <%= message('widget.reviews_metrics.on_new_code') -%>
              <a href="<%= url_for_drilldown('new_unreviewed_violations', :period => dashboard_configuration.period_index) -%>"><%= format_variation(new_unreviewed_violations, :style => 'none', :default => '-') -%></a>
            </span>
          <% end %>
        </p>
        <% else %>
          <span class="empty_widget"><%= message('widget.reviews_metrics.no_data') -%></span>
        <% end %>
        <br/>
        <h3><%= message('widget.reviews_metrics.false_positives') -%></h3>
        <% if false_positive_reviews %>
        <p>
          <span class="big"><%= format_measure(false_positive_reviews, :suffix => '', :url => url_for_drilldown(false_positive_reviews)) -%></span>
          <%= dashboard_configuration.selected_period? ? format_variation(false_positive_reviews) : trend_icon(false_positive_reviews) -%>
        </p>
        <% else %>
          <span class="empty_widget"><%= message('widget.reviews_metrics.no_data') -%></span>
        <% end %>
      </div>
    </td>
  </tr>
</table>