<form id="bulk-change-form" method="post" action="<%= ApplicationController.root_context -%>/issues/bulk_change">
  <input type="hidden" name="issues" value="<%= @issues.join(',') -%>">
  <input type="hidden" name="criteria_params" value="<%= @criteria_params.to_query -%>">
  <input type="hidden" name="actions[]" id="bulk-change-transition-action" value="">
  <fieldset>
    <div class="modal-head">
      <h2><%= message('issue_filter.bulk_change.form.title', {:params => @issues.size.to_s}) -%></h2>
    </div>
    <div class="modal-body">
      <div class="bulk-change errors" style="display:none;"/>
      <div class="modal-field">
        <label for="assignee">
          <%= message('issue.assign.formlink') -%>
        </label>
        <input id="assign-action" name="actions[]" type="checkbox" value="assign"/>
        <%= user_select_tag('assign.assignee', :html_id => 'assignee', :open => false,
                            :include_choices => {'' => escape_javascript(message('unassigned')), current_user.login => escape_javascript(message('assigned_to_me'))}) -%>
      </div>
      <%
         if @project && !@project.blank?
           plans = Internal.issues.findOpenActionPlans(@project)
           plan_options = ""
           unless plans.empty?
             first_plan = plans[0]
             options = plans.map { |plan|
               if plan.deadLine
                 label = "#{h plan.name} (#{format_date(plan.deadLine)})"
               else
                 label = h plan.name
               end
               [label, plan.key]
             }
             options.unshift([escape_javascript(message('issue.unplan.submit')), ''])
             plan_options = options_for_select(options, first_plan.key)
           end
      %>
        <div class="modal-field">
          <label for="plan">
            <%= message('issue.do_plan') -%>
          </label>
          <input id="plan-action" name="actions[]" type="checkbox" value="plan"/>
          <%= dropdown_tag('plan.plan', plan_options, {:show_search_box => false}, {:id => 'plan'}) -%>
        </div>
      <% end %>
      <div class="modal-field">
        <label for="severity">
          <%= message('issue.set_severity') -%>
        </label>
        <input id="set-severity-action" name="actions[]" type="checkbox" value="set_severity"/>
        <%= severity_dropdown_tag('set_severity.severity', severitiy_select_option_tags, {:show_search_box => false},
                         {:id => 'severity'}) -%>
      </div>
      <div class="modal-field">
        <label>
          <%= message('issue.transition') -%>
        </label>
        <% @transitions_by_issues.keys.each do |transition| %>
          <input type="radio" name="transition.transition" value="<%= transition -%>" onClick="addTransitionAction();">&nbsp;<%= message("issue.transition.#{transition}") -%>
          (<%= @transitions_by_issues[transition].to_s %>) <br>
        <% end %>
      </div>
    </div>
    <div class="modal-field">
      <textarea rows="4" name="comment" style="width: 80%" autofocus="autofocus"></textarea>
    </div>
    <div class="modal-foot">
      <input type="submit" value="<%= message('apply') -%>" id="bulk-change-submit" class="bulk-change"/>
      <a href="#" onclick="return closeModalWindow()" id="bulk-change-cancel"><%= message('cancel') -%></a>
    </div>
  </fieldset>
</form>
<script>
  $j("#bulk-change-form").modalForm({
    success: function (data) {
      window.location = baseUrl + '/issues/search?' + data;
    },
    error: function (xhr, textStatus, errorThrown) {
      var htmlClass = 'bulk-change';
      $j('input[type=submit].' + htmlClass).removeAttr('disabled');
      $j('.' + htmlClass + '.errors').show();
      $j('.' + htmlClass + '.errors').html(xhr.responseText);
    }
  });

  function addTransitionAction() {
    $j('#bulk-change-transition-action').val("transition");
  }
</script>
