<%
   project = params[:project] || @project
   issues = params[:issues].split(',') if params[:issues]
   issues = @issues unless issues
%>
<form id="bulk-change-form" method="post" action="<%= ApplicationController.root_context -%>/issues/bulk_change">
  <input type="hidden" name="issues" value="<%= params[:issues] || @issues.join(',') -%>">
  <input type="hidden" name="criteria_params" value="<%= params[:criteria_params] || @criteria_params.to_query -%>">
  <input type="hidden" name="project" value="<%= project -%>">
  <fieldset>
    <div class="modal-head">
      <h2><%= message('issue_filter.bulk_change.form.title', {:params => issues.size.to_s}) -%></h2>
    </div>
    <div class="modal-body">
      <%= render :partial => 'display_errors' %>
      <div class="modal-field">
        <label for="assignee">
          <input id="assign-action" name="actions[]" type="checkbox" value="assign"/>
          <%= message('issue.assign.formlink') -%>
        </label>
        <%= user_select_tag('assign.assignee', :html_id => 'assignee', :open => false,
          :include_choices => {'' => escape_javascript(message('unassign')), current_user.login => escape_javascript(message('assign_to_me'))}) -%>
      </div>
      <%
         if project && !project.blank?
           plans = Internal.issues.findOpenActionPlans(project)
           first_plan = plans[0]
           plan_options = ""
           unless plans.empty?
             plan_options = options_for_select(plans.map { |plan|
               if plan.deadLine
                 label = "#{h plan.name} (#{format_date(plan.deadLine)})"
               else
                 label = h plan.name
               end
               [label, plan.key]
             }, first_plan.key)
           end
      %>
        <div class="modal-field">
          <label for="plan">
            <input id="plan-action" name="actions[]" type="checkbox" value="plan"/>
            <%= message('issue.do_plan') -%>
          </label>
          <%= dropdown_tag('plan.plan', plan_options, {:show_search_box => false}, {:id => 'plan'}) -%>
        </div>
      <% end %>
      <div class="modal-field">
        <label for="severity">
          <input id="set-severity-action" name="actions[]" type="checkbox" value="set_severity"/>
          <%= message('issue.set_severity') -%>
        </label>
        <select name="set_severity.severity" class="withIcons" id="severity">
          <% Severity::KEYS.each do |severity| %>
            <option class="sev_<%= severity -%>" value="<%= severity -%>" <%= 'selected' if severity==Severity::MAJOR -%>><%= message("severity.#{severity}") -%></option>
          <% end %>
        </select>
      </div>
    </div>
    <div class="modal-foot">
      <input type="submit" value="<%= message('submit') -%>" id="bulk-change-submit"/>
      <a href="#" onclick="return closeModalWindow()" id="bulk-change-cancel"><%= message('cancel') -%></a>
    </div>
  </fieldset>
</form>
<script>
  $j("#bulk-change-form").modalForm({success: function (data) {
    window.location = baseUrl + '/issues/search?' + data;
  }});
</script>