<% content_for :script do %>
  <script>
    var filterCriteria = <%= @filter.criteria.to_json -%>;

    function refreshList(sort, asc, page) {
      $j('#issue-filter-foot_pages').hide();
      $j('#issue-filter-foot_loading').show();

      filterCriteria['sort']=sort;
      filterCriteria['asc']=asc;
      filterCriteria['pageIndex']=page;
      var url=baseUrl + '/issues/search?' + $j.param(filterCriteria);

      window.location = url;
      return false;
    }
  </script>
<% end %>

<%
   if @filter.issues && !@filter.issues.empty?
    colspan = 9
%>
  <div>
    <table class="data width100">
      <thead>
        <tr>
          <th width="1%" nowrap>
            <%= column_html(@filter, message('severity_abbreviated'), message('severity'), 'SEVERITY') %>
          </th>
          <th width="1%" nowrap>
            <%= column_html(@filter, message('status'), message('status'), 'STATUS') %>
          </th>
          <th>
            <%= message('description') -%>
          </th>
          <th nowrap>
            <%= message('project') -%>
          </th>
          <th nowrap>
            <%= message('component') -%>
          </th>
          <th>
            <%= column_html(@filter, message('issue_filter.header.assignee'), message('issue_filter.header.assignee'), 'ASSIGNEE') %>
          </th>
          <th>
            <%= message('issue_filter.header.action_plan') -%>
          </th>
          <th>
            <%= column_html(@filter, message('issue_filter.header.creation_date'), message('issue_filter.header.creation_date'), 'CREATION_DATE') %>
          </th>
          <th>
            <%= column_html(@filter, message('issue_filter.header.update_date'), message('issue_filter.header.update_date'), 'UPDATE_DATE') %>
          </th>
        </tr>
      </thead>
      <tbody>
      <%
         @filter.issues.each do |issue|
      %>
        <tr class="<%= cycle('even', 'odd') -%>">
          <td>
            <img src="<%= ApplicationController.root_context -%>/images/priority/<%= issue.severity -%>.png" title="<%= message(issue.severity.downcase).capitalize -%>"/>
          </td>
          <td>
            <%= message(issue.status.downcase).capitalize -%>
          </td>
          <td>
            <%= link_to h(truncate(issue.message, :length => 200)), :controller => 'issue', :action => 'view', :id => issue.key -%>
          </td>
          <td>
            <%= h (truncate(@filter.issues_result.project(issue).name, :length => 100)) -%>
          </td>
          <td>
            <%= h @filter.issues_result.component(issue).name -%>
          </td>
          <td>
            <%= h @filter.issues_result.user(issue.assignee).name if issue.assignee -%>
          </td>
          <td>
            <%= h @filter.issues_result.actionPlan(issue).name if issue.actionPlanKey() -%>
          </td>
          <td>
            <%= human_short_date(Api::Utils.java_to_ruby_datetime(issue.creationDate())) -%>
          </td>
          <td>
            <%= human_short_date(Api::Utils.java_to_ruby_datetime(issue.updateDate())) -%>
          </td>
        </tr>
      <%
         end
      %>
      <% if @filter.issues.empty? %>
        <tr class="even">
          <td colspan="<%= colspan -%>"><%= message 'no_data' -%></td>
        </tr>
      <% end %>
      </tbody>

      <%= paginate_java(@filter.paging, :colspan => colspan, :id => 'issue-filter-foot', :include_loading_icon => true) { |label, page_id|
        link_to(label, @filter.criteria.merge({:pageIndex => page_id}))
      } -%>

    </table>
  </div>
<%
   elsif @filter.issues
%>
  <p><%= message('no_results') -%></p>
<%
   end
%>
