<% content_for :script do %>
  <script>
    var filterCriteria = <%= @criteria_params.to_json -%>;

    function refreshList(sort, asc, page) {
      $j('#issue-filter-foot_pages').hide();
      $j('#issue-filter-foot_loading').show();

      filterCriteria['sort']=sort;
      filterCriteria['asc']=asc;
      filterCriteria['pageIndex']=page;
      var url=baseUrl + '/issues/search?' + $j.param(filterCriteria);

      window.location = url;
      return false;
    }
  </script>
<% end %>

<%
   if @issues_result.issues && !@issues_result.issues.empty?
    colspan = 9
%>
  <div id="issues-list">
    <table class="data width100">
      <thead>
        <tr>
          <th width="1%" nowrap class="column-severity">
            <%= column_html(@issue_query, @issues_result, message('severity_abbreviated'), message('severity'), 'SEVERITY') %>
          </th>
          <th width="1%" nowrap class="column-status">
            <%= column_html(@issue_query, @issues_result, message('status'), message('status'), 'STATUS') %>
          </th>
          <th width="1%" nowrap>
            <%= message('issue_filter.header.resolution') -%>
          </th>
          <th>
            <%= message('description') -%>
          </th>
          <th nowrap>
            <%= message('project') -%>
          </th>
          <th nowrap>
            <%= message('component') -%>
          </th>
          <th class="column-assignee">
            <%= column_html(@issue_query, @issues_result, message('issue_filter.header.assignee'), message('issue_filter.header.assignee'), 'ASSIGNEE') %>
          </th>
          <th width="1%" nowrap>
            <%= message('issue_filter.header.action_plan') -%>
          </th>
          <th width="1%" nowrap class="column-creation-date">
            <%= column_html(@issue_query, @issues_result, message('issue_filter.header.creation_date'), message('issue_filter.header.creation_date'), 'CREATION_DATE') %>
          </th>
          <th width="1%" nowrap class="column-update-date">
            <%= column_html(@issue_query, @issues_result, message('issue_filter.header.update_date'), message('issue_filter.header.update_date'), 'UPDATE_DATE') %>
          </th>
        </tr>
      </thead>
      <tbody>
      <%
         @issues_result.issues.each do |issue|
      %>
        <tr class="<%= cycle('even', 'odd') -%>">
          <td width="1%" nowrap>
            <img src="<%= ApplicationController.root_context -%>/images/priority/<%= issue.severity -%>.png" title="<%= message(issue.severity.downcase).capitalize -%>"/>
          </td>
          <td width="1%" nowrap>
            <%= message("issue.status.#{issue.status}") -%>
          </td>
          <td width="1%" nowrap>
            <%= message("issue.resolution.#{issue.resolution}") if issue.resolution -%>
          </td>
          <td>
            <a class='open-modal rule-modal issue-detail-link' modal-width='900' href='<%= url_for :controller => 'issue', :action => 'show', :id => issue.key, :modal => true -%>'>
              <%= h truncate(issue.message, :length => 100) -%></a>
          </td>
          <td>
            <%= h (truncate(@issues_result.project(issue).name, :length => 100)) -%>
          </td>
          <td>
            <% component = @issues_result.component(issue) %>
            <% if component %>
              <%= h component.longName() -%>
            <% else %>
              <del><%= h issue.componentKey() %></del>
            <% end %>
          </td>
          <td>
            <%= h @issues_result.user(issue.assignee).name if issue.assignee -%>
          </td>
          <td>
            <%= h @issues_result.actionPlan(issue).name if issue.actionPlanKey() -%>
          </td>
          <td width="1%" nowrap>
            <%= human_short_date(Api::Utils.java_to_ruby_datetime(issue.creationDate())) -%>
          </td>
          <td width="1%" nowrap>
            <%= human_short_date(Api::Utils.java_to_ruby_datetime(issue.updateDate())) -%>
          </td>
        </tr>
      <%
         end
      %>
      <% if @issues_result.issues.empty? %>
        <tr class="even">
          <td colspan="<%= colspan -%>"><%= message 'no_data' -%></td>
        </tr>
      <% end %>
      </tbody>

      <%= paginate_java(@issues_result.paging, :colspan => colspan, :id => 'issue-filter-foot', :include_loading_icon => true) { |label, page_id|
        link_to(label, params.merge({:pageIndex => page_id}))
      } -%>

    </table>
  </div>
<%
   elsif @issues
%>
  <p><%= message('issue_filter.no_result') -%></p>
<%
   end
%>
