<ol class="navigator-results-list">

  <% @issues_result.issues.each do |issue| %>

  <li data-key="<%= h issue.key -%>">

    <div class="line line-small">
      <i class="icon-severity-<%= issue.severity.downcase -%>" title="<%= message(issue.severity.downcase).capitalize -%>"></i><%= message(issue.severity.downcase).capitalize -%>
      &nbsp;
      <i class="icon-status-<%= issue.status.downcase -%>" title="<%= message(issue.status.downcase).capitalize -%>"></i><%= message(issue.status.downcase).capitalize -%>
      <% if issue.resolution %>
        &nbsp;
        <i class="icon-resolution-<%= issue.resolution.downcase -%>" title="<%= message(issue.resolution.downcase).capitalize -%>"></i><%= message(issue.resolution.downcase).capitalize -%>
      <% end %>

      <div class="line-right">
        <%= human_short_date(Api::Utils.java_to_ruby_datetime(issue.updateDate())) -%>
      </div>
    </div>

    <div class="line line-nowrap">
      <%= h issue.message -%>
    </div>

    <div class="line">
      <% project = @issues_result.project(issue)
         component = @issues_result.component(issue) -%>
      <div class="subtitle"><%= h (truncate(project.name, :length => 100)) -%></div>
      <% if component %>
        <% if component.key != project.key %>
          <%= h component.longName -%>
        <% end %>
      <% else %>
        <del><%= h issue.componentKey %></del>
      <% end %>
    </div>

  </li>

  <% end %>
</ol>
