<%
   if @issues && !@issues.empty?
%>
  <table id="issues-list" class="data width100">
    <thead>
    <tr>
      <th width="1%" nowrap>
        <%= message('status_abbreviated') -%>
      </th>
      <th width="1%" nowrap>
        <%= message('severity_abbreviated') -%>
      </th>
      <th>
        Message
      </th>
      <th width="1%" nowrap>
        Component name
      </th>
      <th>
        <%= message('assignee') -%>
      </th>
      <th>
        Creation date
      </th>
    </tr>
    </thead>
    <tfoot>
    <tr>
      <td colspan="6">
        <%= paginate_java(@paging) -%>
      </td>
    </tr>
    </tfoot>
    <tbody>
    <%
       @issues.each do |issue|
    %>
      <tr class="<%= cycle('even', 'odd') -%>">
        <td>
          <img src="<%= ApplicationController.root_context -%>/images/status/<%= issue.status -%>.png" title="<%= message(issue.status.downcase).capitalize -%>"/>
        </td>
        <td>
          <% if issue.severity %>
            <img src="<%= ApplicationController.root_context -%>/images/priority/<%= issue.severity -%>.png" title="<%= message(issue.severity.downcase).capitalize -%>"/>
          <% end %>
        </td>
        <td>
          <%= link_to h(issue.description), :controller => "issue", :action => "view", :id => issue.key -%>
        </td>
        <td>
          <%= h(@issue_results.component(issue).name) -%>
        </td>
        <td>
          <%= @issue_results.user(issue.assignee).name if issue.assignee -%>
        </td>
        <td>
          <%= human_short_date(Api::Utils.java_to_ruby_datetime(issue.creationDate())) -%>
        </td>
      </tr>
    <%
       end
    %>
    </tbody>
  </table>
<%
   elsif @issues
%>
  <p><%= message('no_results') -%></p>
<%
   end
%>
