<div class="navigator">

  <div class="navigator-filters"></div>


  <div class="navigator-results">
    <%= render :partial => 'search' -%>
  </div>
</div>

<script type="text/javascript">
  function onBulkIssues(issues_query_params){
    // SONAR-4723 pagination parameters should be removed after applying bulk change
    delete issues_query_params.pageIndex;
    window.location = baseUrl + '/issues/search?' + jQuery.param(issues_query_params);
  }
</script>

<script id="filterBarTemplate" type="text/template">
  <form method="get" action="<%= ApplicationController.root_context -%>/issues/search">
    <% if @filter && @filter.id %>
      <input type="hidden" name="id" value="<%= h @filter.id.to_s -%>">
    <% end %>
    <input type="hidden" name="sort" value="<%= h @issues_query.sort -%>"/>
    <input type="hidden" name="asc" value="<%= h @issues_query.asc -%>"/>

    <div class="navigator-filters-list"></div>
    <button class="navigator-filter-submit"><%= message('search_verb') -%></button>
    <a class="navigator-filter-new-search link-action" href="<%= ApplicationController.root_context -%>/issues/search"><%= message 'issue_filter.new_search' -%></a>
  </form>
</script>

<%= render :partial => '/navigator/filter_templates' -%>

<%
   component_labels = Project.by_keys(@issues_query.componentRoots).map{|c| c ? c.name : nil}
   assignee_keys = @issues_query.assignees
   assignee_labels = user_labels(@issues_query.assignees)
   if @issues_query.assigned==false
     assignee_keys = ['<unassigned>'] + assignee_keys
     assignee_labels = [message('unassigned')] + assignee_labels
   end
   reporter_labels = user_labels(@issues_query.reporters)
%>

<script>
  _.templateSettings = {
    interpolate: /\{\{(.+?)\}\}/g,
    evaluate: /\{\[(.+?)\]\}/g
  };

  _.extend(window.SS, {
    severities: <%= RulesConfigurationController::RULE_PRIORITIES.to_json.html_safe -%>,
    statuses: <%= @options_for_statuses.to_json.html_safe -%>,
    resolutions: <%= @options_for_resolutions.to_json.html_safe -%>,
    favorites: <%= render :partial => 'issues/filter_favourites2' -%>,

    phrases: {
      'any':           '<%= escape_javascript message('any') -%>',
      'anytime':       '<%= escape_javascript message('anytime') -%>',
      'all':           '<%= escape_javascript message('all') -%>',
      'manage':        '<%= escape_javascript message('manage') -%>',
      'to':            '<%= escape_javascript message('to') -%>',
      'project':       '<%= escape_javascript message('issue_filter.criteria.project') -%>',
      'severity':      '<%= escape_javascript message('issue_filter.criteria.severity') -%>',
      'severities': {
        blocker:       '<%= escape_javascript message('severity.BLOCKER') -%>',
        critical:      '<%= escape_javascript message('severity.CRITICAL') -%>',
        major:         '<%= escape_javascript message('severity.MAJOR') -%>',
        minor:         '<%= escape_javascript message('severity.MINOR') -%>',
        info:          '<%= escape_javascript message('severity.INFO') -%>'
      },
      'status':        '<%= escape_javascript message('issue_filter.criteria.status') -%>',
      'statuses': {
        open:          '<%= escape_javascript message('issue.status.OPEN') -%>',
        confirmed:     '<%= escape_javascript message('issue.status.CONFIRMED') -%>',
        reopened:      '<%= escape_javascript message('issue.status.REOPENED') -%>',
        resolved:      '<%= escape_javascript message('issue.status.RESOLVED') -%>',
        closed:        '<%= escape_javascript message('issue.status.CLOSED') -%>'
      },
      assignee:        '<%= escape_javascript message('issue_filter.criteria.assignee') -%>',
      resolution:      '<%= escape_javascript message('issue_filter.criteria.resolution') -%>',
      resolutions: {
        falsePositive: '<%= escape_javascript message('issue.resolution.FALSE-POSITIVE') -%>',
        fixed:         '<%= escape_javascript message('issue.resolution.FIXED') -%>',
        removed:       '<%= escape_javascript message('issue.resolution.REMOVED') -%>'
      },
      reporter:        '<%= escape_javascript message('issue_filter.criteria.reporter') -%>',
      created:         '<%= escape_javascript message('issue_filter.criteria.created') -%>',

      moreCriteria:    '<%= escape_javascript message('issue_filter.more_criteria') -%>',
      unassigned:      '<%= escape_javascript message('unassigned') -%>',
      filtersList:     '<%= escape_javascript message('issue_filter.filter_list') -%>'
    }
  });

  var queryParams = [
    { key: 'componentRoots', value: <%= @issues_query.componentRoots.to_json -%>, text: <%= component_labels.to_json -%> },
    { key: 'severities[]', value: <%= @issues_query.severities.to_json -%> },
    { key: 'statuses[]', value: <%= @issues_query.statuses.to_json -%> },
    { key: 'resolutions[]', value: <%= @issues_query.resolutions.to_json -%> },
    { key: 'assignees', value: <%= assignee_keys.to_json -%>, text: <%= assignee_labels.to_json -%> },
    { key: 'reporters', value: <%= @issues_query.reporters.to_json -%>, text: <%= reporter_labels.to_json -%> },
    { key: 'createdAfter', value: '<%= Api::Utils.format_date(@issues_query.createdAfter) -%>' },
    { key: 'createdBefore', value: '<%= Api::Utils.format_date(@issues_query.createdBefore) -%>' }
  ];

  window.SS.IssuesNavigatorApp.start();
  window.SS.IssuesNavigatorApp.filterBarView.restoreFromQuery(queryParams);
</script>
