<div class="navigator">
  <div class="navigator-header"></div>
  <div class="navigator-notes">
    <%= message('issue_filter.max_results_reached', :params => 10000) -%>
  </div>
  <div class="navigator-filters"></div>
  <div class="navigator-results"></div>
  <div class="navigator-details"></div>
  <div class="navigator-actions"></div>
</div>

<script id="filterBarTemplate" type="text/template">
  <div class="navigator-filters-list"></div>
  <button class="navigator-filter-submit"><%= message('search_verb') -%></button>
</script>

<%= render :partial => '/navigator/filter_templates' -%>
<%= render :partial => '/issues/templates/header.hbs' -%>
<%= render :partial => '/issues/templates/issue.hbs' -%>
<%= render :partial => '/issues/templates/issues_actions.hbs' -%>
<%= render :partial => '/issues/templates/no_issues.hbs' -%>
<%= render :partial => '/issues/templates/issues_details_favorite_filter.hbs' -%>
<%= render :partial => '/issues/templates/issue_detail.hbs' -%>
<%= render :partial => '/issues/templates/issue_detail_inner.hbs' -%>
<%= render :partial => '/issues/templates/issue_detail_comment_form.hbs' -%>
<%= render :partial => '/issues/templates/issue_detail_rule.hbs' -%>
<%= render :partial => '/issues/templates/issue_detail_set_severity_form.hbs' -%>
<%= render :partial => '/issues/templates/issue_detail_assign_form.hbs' -%>
<%= render :partial => '/issues/templates/issue_detail_plan_form.hbs' -%>

<script>
  _.templateSettings = {
    interpolate: /\{\{(.+?)\}\}/g,
    evaluate: /\{\[(.+?)\]\}/g,
    escape: /\{\{\{(.+?)\}\}\}/g
  };

  _.extend(window.SS, {
    currentUser: '<%= current_user.login if current_user -%>',
    severities: <%= RulesConfigurationController::RULE_PRIORITIES.to_json.html_safe -%>,
    statuses: <%= @options_for_statuses.to_json.html_safe -%>,
    resolutions: <%= @options_for_resolutions.to_json.html_safe -%>,
    favorites: <%= render :partial => 'issues/filter_favourites' -%>,

    phrases: {
      'any':           '<%= escape_javascript message('any') -%>',
      'anytime':       '<%= escape_javascript message('anytime') -%>',
      'all':           '<%= escape_javascript message('all') -%>',
      'edit':          '<%= escape_javascript message('edit') -%>',
      'delete':        '<%= escape_javascript message('delete') -%>',
      'to':            '<%= escape_javascript message('to') -%>',
      'project':       '<%= escape_javascript message('issue_filter.criteria.project') -%>',
      'severity':      '<%= escape_javascript message('issue_filter.criteria.severity') -%>',
      'severities': {
        blocker:       '<%= escape_javascript message('severity.BLOCKER') -%>',
        critical:      '<%= escape_javascript message('severity.CRITICAL') -%>',
        major:         '<%= escape_javascript message('severity.MAJOR') -%>',
        minor:         '<%= escape_javascript message('severity.MINOR') -%>',
        info:          '<%= escape_javascript message('severity.INFO') -%>'
      },
      'status':        '<%= escape_javascript message('issue_filter.criteria.status') -%>',
      'statuses': {
        OPEN:          '<%= escape_javascript message('issue.status.OPEN') -%>',
        CONFIRMED:     '<%= escape_javascript message('issue.status.CONFIRMED') -%>',
        REOPENED:      '<%= escape_javascript message('issue.status.REOPENED') -%>',
        RESOLVED:      '<%= escape_javascript message('issue.status.RESOLVED') -%>',
        CLOSED:        '<%= escape_javascript message('issue.status.CLOSED') -%>'
      },
      'actions': {
        comment:        '<%= escape_javascript message('issue.comment.formlink') -%>',
        assign:         '<%= escape_javascript message('issue.assign.formlink') -%>',
        assign_to_me:   '<%= escape_javascript message('issue.assign.to_me') -%>',
        assigned_to:    '<%= escape_javascript message('assigned_to') -%>',
        plan:           '<%= escape_javascript message('issue.do_plan') -%>',
        planned_for:    '<%= escape_javascript message('issue.planned_for') -%>',
        set_severity:   '<%= escape_javascript message('issue.set_severity') -%>',
        <%  Internal.issues.listPluginActions().each do |action| -%>
          '<%= escape_javascript action -%>': '<%= escape_javascript message("issue.action.#{action}.formlink") -%>',
        <% end -%>
      },
      'transitions': {
        confirm:        '<%= escape_javascript message('issue.transition.confirm') -%>',
        unconfirm:      '<%= escape_javascript message('issue.transition.unconfirm') -%>',
        resolve:        '<%= escape_javascript message('issue.transition.resolve') -%>',
        falsepositive:  '<%= escape_javascript message('issue.transition.falsepositive') -%>',
        reopen:         '<%= escape_javascript message('issue.transition.reopen') -%>',
        close:          '<%= escape_javascript message('issue.transition.close') -%>'
      },
      assignee:        '<%= escape_javascript message('issue_filter.criteria.assignee') -%>',
      resolution:      '<%= escape_javascript message('issue_filter.criteria.resolution') -%>',
      resolutions: {
        'FALSE-POSITIVE': '<%= escape_javascript message('issue.resolution.FALSE-POSITIVE') -%>',
        'FIXED':       '<%= escape_javascript message('issue.resolution.FIXED') -%>',
        'REMOVED':     '<%= escape_javascript message('issue.resolution.REMOVED') -%>'
      },
      reporter:        '<%= escape_javascript message('issue_filter.criteria.reporter') -%>',
      created:         '<%= escape_javascript message('issue_filter.criteria.created') -%>',

      moreCriteria:    '<%= escape_javascript message('issue_filter.more_criteria') -%>',
      unassigned:      '<%= escape_javascript message('unassigned') -%>',
      assignedToMe:    '<%= escape_javascript message('assigned_to_me') -%>',
      filtersList:     '<%= escape_javascript message('issue_filter.filter_list') -%>',
      commentConfirmDelete:  '<%= escape_javascript message('issue.comment.delete_confirm_message') -%>',
      requirementRemoved:    '<%= escape_javascript message('issue.technical_debt_deleted') -%>',

      select2: {
        noMatches: '<%= escape_javascript message('select2.noMatches') -%>',
        searching: '<%= escape_javascript message('select2.searching') -%>',
        tooShort: '<%= escape_javascript message('select2.tooShort', :params => [2]) -%>'
      }
    }
  });

  jQuery(function() {
    window.SS.IssuesNavigatorApp.start();
  });
</script>
