<div xmlns="http://www.w3.org/1999/html">
  <div id="issue-filter-sidebar" class="page-split-left">
    <%= render :partial => 'issues/sidebar' -%>
  </div>

  <div class="page-split-right">
    <div id="content">
      <%= render :partial => 'display_errors' %>

      <div class="line-block marginbottom10">
        <%= render :partial => 'action_links' -%>
      </div>

      <% if @issues_result && @issues_result.maxResultsReached() %>
        <p class="notes"><%= message('issue_filter.max_results_reached', :params => @issues_result.paging.total()) -%></p>
      <% end %>
      <%= render :partial => 'list' -%>
    </div>
  </div>
</div>