<form id="copy-filter-form" method="post" action="<%= ApplicationController.root_context -%>/issues/copy">
  <input type="hidden" name="id" value="<%= @filter.id -%>">
  <fieldset>
    <div class="modal-head">
      <h2><%= message('issue_filter.copy_filter') -%></h2>
    </div>
    <%= render :partial => 'filter_shared_form' %>
    <div class="modal-foot">
      <input type="submit" value="<%= message('copy') -%>" id="copy-submit" class="issue-filter"/>
      <a href="#" onclick="return closeModalWindow()" id="copy-cancel"><%= h message('cancel') -%></a>
    </div>
  </fieldset>
</form>
<script>
  $j("#copy-filter-form").modalForm({
    success: function (data) {
      return onCopy(data);
    }
  });
</script>
