<table width="100%">
  <tr>
    <td valign="top">
      <h1 class="marginbottom10"><%= message('manual_metrics.page') -%></h1>
      <table class="sortable data width100" id="metrics">
        <thead>
          <tr>
            <th class="left">Key</th>
            <th class="left sortfirstasc">Name</th>
            <th class="left">Description</th>
            <th class="left">Domain</th>
            <th class="left">Type</th>
            <th class="left nosort">Operations</th>
          </tr>
        </thead>
        <tbody>
      <% @metrics.each do |metric| %>
        <tr>
          <td class="left" nowrap id="metric_key_<%= metric.key -%>"><span class="note"><%= metric.key -%></span></td>
          <td class="left" nowrap id="metric_name_<%= metric.key -%>"><%= h metric.short_name -%></td>
          <td class="left" id="metric_desc_<%= metric.key -%>"><%= h metric.description -%></td>
          <td class="left" id="metric_domain_<%= metric.key -%>"><%= metric.domain -%></td>
          <td class="left" id="metric_type_name<%= metric.key -%>"><%= metric.value_type_name -%></td>
          <td class="right thin nowrap">
          <% if is_admin? %>
            <%= link_to 'Edit', {:action => 'index', :id => metric.id}, {:class => 'link-action', :id => "edit_#{h(metric.short_name)}", :method => 'get'} %>
            &nbsp;
            <%= link_to 'Delete', {:action => 'delete_from_web', :id => metric.id}, {:confirm => "Warning : all the measures will be deleted.", :class => 'link-action link-red', :id => "delete_#{h(metric.short_name)}"} %>
          <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <script>TableKit.Sortable.init('metrics');</script>
  </td>
<% if is_admin? %>
  <td class="sep"> </td>
  <td valign="top" align="right" width="210">
    <table class="admintable"  width="100%">
    <% if @reactivate_metric %>
      <% form_for :metric, @reactivate_metric, :url => { :action => 'reactivate', :id => @reactivate_metric.id } do |f| %>
      <tbody>
        <tr>
          <td>
            <p class="error">
              A metric named "<%= @reactivate_metric.short_name(false) -%>" already exists in the database but is deactivated.<br/>
              <br/>
              Do you really want to reactivate this metric?
            </p>
          </td>
        <tr>
        <tr>
          <td class="left" valign="top">
            <input type="hidden" name="reactivate" value="true"/>
            <%= submit_tag 'Reactivate metric' %>
            <%= link_to 'Cancel', { :controller => 'metrics', :action => 'index'}, { :class => 'action' } %><br/>
          </td>
        </tr>
      </tbody>
      <% end %>
    <% else %>
      <% form_for :metric, @metric, :url => { :action => 'save_from_web', :id => @metric.id } do |f| %>
      <tbody>
        <tr>
          <td class="left" valign="top">
            Name:<br/><%= f.text_field :short_name %><br/>
            <span class="desc">Ex. : Configuration management</span>
          </td>
        </tr>
        <tr>
          <td class="left" valign="top">
            Description:<br/>
            <%= f.text_area :description, :size => 40, :cols => 25, :rows => 2 %><br/>
            <span class="desc">Ex. : Respect level of the configuration management procedure (branch, label, ...), from 0% (worst) to 100% (best).</span>
          </td>
        </tr>
        <tr>
          <td class="left" valign="top">
            Domain:<br/>
            <%= f.select( :domain, @domains, :include_blank => true) %>
            <span class="desc">or</span> <input id="newdomain" name="newdomain" size="15" type="text">
          </td>
        </tr>
        <tr>
          <td class="left" valign="top">
            Type:<br/>
            <%= f.select( :val_type, Metric.value_type_names.invert) %>
          </td>
        </tr>
        <tr>
          <td class="left" valign="top">
            <%= submit_tag @metric.id.nil? ? 'Create' : 'Update' %>
          </td>
        </tr>
      </tbody>
      <% end %>
    <% end %>
    </table>
  </td>
<% end %>
  </tr>
</table>
