{{> '_coding-rules-facet-header'}}

<div class="search-navigator-facet-list">
  {{#each values}}
    <a class="facet search-navigator-facet search-navigator-facet-half js-facet" data-value="{{val}}" title="{{t 'severity' val}}">
      <span class="facet-name">{{severityIcon val}} {{t 'severity' val}}</span>
      <span class="facet-stat">{{formatMeasure count 'SHORT_INT'}}</span>
    </a>
  {{/each}}
</div>
