{{> '_coding-rules-facet-header'}}

<div class="search-navigator-facet-list">
  {{#each values}}
    <a class="facet search-navigator-facet js-facet" data-value="{{val}}" title="{{default label val}}">
      <span class="facet-name">{{default label val}}{{#if extra}} <span class="note">{{extra}}</span>{{/if}}{{#if isBuiltIn}} <span class="note">({{t 'quality_profiles.built_in'}})</span>{{/if}}</span>
      <span class="facet-stat">
        <span class="js-active facet-toggle facet-toggle-green {{#if ../toggled}}facet-toggle-active{{/if}}">active</span>
        <span class="js-inactive facet-toggle facet-toggle-red {{#unless ../toggled}}facet-toggle-active{{/unless}}">inactive</span>
      </span>
    </a>
  {{/each}}
</div>
