<table class="spaced">
  <tr>
    <td class="thin left top" nowrap><%= format_datetime(@issue.creationDate()) -%></td>
    <td class="thin left top"nowrap><%= Internal.users_api.findByLogin(@issue.reporter).name if @issue.reporter -%></td>
    <td class="left top"><%= message('created') -%></td>
  </tr>
  <%
     @changelog.changes.each do |change|
       user = @changelog.user(change)
  %>
    <tr>
      <td class="thin left top" nowrap><%= format_datetime(change.creationDate()) -%></td>
      <td class="thin left top" nowrap><%= h(user.name()) if user -%></td>
      <td class="left top">
        <%
           Internal.issues.formatChangelog(change).each_with_index do |message, index|
        %>
          <% if index>0 %><br/><% end %>
          <%= message -%>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>


