<div class="issue-detail">
  <div class="source_title">
    <%
      project = @project
      component = @component
    %>

    <% if @issue.componentUuid() != project.uuid() %>
    <div class="subtitle">
      <%= h project.longName() -%>
    </div>
    <% end %>
    <span class="h1">
      <% if component.isEnabled() %>
      <%= qualifier_icon(component) %>
      <a href="<%= ApplicationController.root_context -%>/component/index#component=<%= component.key() -%>&tab=issues" class="issue-component-link"
         onclick="window.open(this.href,'resource-<%= component.key().parameterize -%>','height=800,width=900,scrollbars=1,resizable=1');return false;"><%= h component.longName() -%></a>
      <% else %>
        <%= h component.key() %> [<del><%= message('issue.component_deleted') %></del>]
      <% end %>
    </span>
  </div>

  <div class="marginbottom10">
  <%= render :partial => 'issue/issue', :locals => {:issue => @issue} -%>
  </div>

  <!--
    SONAR-4438 Since we don't show source code, add blank lines in order for the "more action" link to be well displayed
  -->
  <div style="height: 60px;"></div>

</div>
