<%
  begin
    widget_body=render :inline => definition.getTarget().getTemplate(), :locals => {:widget_properties => widget.properties_as_hash}
  rescue => error
     logger.error("Can not render widget #{definition.getId()}: " + error)
     logger.error(error.backtrace.join("\n"))
     widget_body=""
  end
%>

<div class="handle" style="//overflow:hidden;//zoom:1;">
  <%= definition.getTitle() -%>
  <a class="block-remove"  onclick="portal.deleteWidget(this);return false;">Delete</a>
  <% if definition.isEditable() %>
    <a class="block-view-toggle" onclick="portal.editWidget(<%= widget.id -%>);return false;">Edit</a>
  <% end %>
</div>


<div class="widget_props" id="widget_props_<%= widget.id -%>" style="<%= 'display:none' if widget.configured -%>">
  <% form_remote_tag :url => {:action => 'save_widget', :wid => widget.id, :id => params[:id]}, :method => :post do -%>
    <table class="form">
      <tbody>
      <% definition.getProperties().each do |property_def|
          value=widget.property_value(property_def.key(), property_def.defaultValue())
      %>
          <tr>
            <td valign="top" nowrap><b><%= property_def.key() -%></b><%= "*" unless property_def.optional()==true -%>: </td>
            <td id="row_<%= property_def.key() -%>">
              <%= property_value_field(property_def, value) -%>
              <span class="note"><%= property_def.description() -%></span>
            </td>
          </tr>
      <% end %>
      <tr>
        <td colspan="2">
          <%= submit_tag 'Save' %>
          <% if widget.configured %>
            <a href="#" onClick="portal.cancelEditWidget(<%= widget.id -%>);return false;">Cancel</a>
          <% end %>
        </td>
      </tr>
      </tbody>
    </table>
    <%= hidden_field_tag "widgetid", "", :class => "widgetid" %>
<% end -%>
</div>


<div id="widget_<%= widget.id -%>" class="configure_widget <%= definition.getId() -%>" style="height:100%;<%= 'display:none;' if !widget.configured -%>">
  <!--[if lte IE 6]>
  <style type="text/css">
    #dashboard .block .content .transparent {
        display: none;
    }
  </style>
  <![endif]-->
<div class="transparent"></div>
  <% if widget_body.include? '<' %>
  <%= widget_body %>
  <% else %>
  <div class="widget"><p>No data</p></div>
  <% end %>
<div style="clear: both;"></div>
</div>

