<%
    widget_body=""

    if widget.configured
      switch_to_widget_resource(widget)
      begin
        widget_body=render :inline => widget.java_definition.getTarget().getTemplate(), :locals => {:widget_properties => widget.properties_as_hash, :widget => widget, :dashboard_configuration => @dashboard_configuration}
      rescue => error
        logger.error(message('dashboard.cannot_render_widget_x', :params => [widget.java_definition.getId(), error]))
        logger.error(error.backtrace.join('\n'))
      end
      restore_global_resource
    end
%>

<div class="widget-header">
  <div class="widget-actions">
    <% if widget.java_definition.isEditable() || (!widget.java_definition.global && @dashboard.global) %>
      <a class="link-action" onclick="portal.editWidget(<%= widget.id -%>);return false;"><%= message('edit') -%></a>
    <% end %>
    <a class="link-action" onclick="portal.deleteWidget(this);return false;"><%= message('delete') -%></a>
  </div>
  <div class="widget-handle">
    <%= h message('widget.' + widget.java_definition.getId() + '.name', :default => widget.java_definition.getTitle()) -%>
  </div>
</div>

<div class="widget_props" id="widget_props_<%= widget.id -%>" style="<%= 'display:none' if widget.configured -%>">
  <%= render :partial => 'widget_properties', :locals => {:widget => widget} -%>
</div>

<%= render :partial => 'widget_title', :locals => {:widget => widget} -%>
<div id="widget_<%= widget.id -%>" class="configure_widget <%= h widget.java_definition.getId() -%>" style="height:100%;<%= 'display:none;' if !widget.configured -%>">
  <!--[if lte IE 6]>
  <style type="text/css">
    #dashboard .block .content .transparent {
      display: none;
    }
  </style>
  <![endif]-->
  <div class="transparent"></div>
  <% if widget_body.include? '<' %>
    <%
       default_layout=(widget.layout=='DEFAULT')
       if default_layout
    %>
      <div class="widget">
    <% end %>
    <%= widget_body -%>
    <% if default_layout %>
      <div class="clear"></div>
      </div>
    <% end %>
  <% else %>
    <div class="widget"><p><%= message('no_data') -%></p></div>
  <% end %>
  <div style="clear: both;"></div>
</div>
