<%
   @backup_resource=@resource
   @backup_project=@project
   @backup_snapshot=@snapshot
   @backup_dashboard_configuration=@dashboard_configuration

   if widget.property_value('project')
     @project = @resource = Project.find(widget.property_value('project'))
     @snapshot=@resource.last_snapshot
     @dashboard_configuration=Api::DashboardConfiguration.new(@dashboard, :period_index => params[:period], :snapshot => @snapshot)
   end
%>

<%
   begin
     widget_body=render :inline => widget.java_definition.getTarget().getTemplate(), :locals => {:widget_properties => widget.properties_as_hash, :widget => widget, :dashboard_configuration => @dashboard_configuration}
   rescue => error
     logger.error(message('dashboard.cannot_render_widget_x', :params => [widget.java_definition.getId(), error]))
     logger.error(error.backtrace.join("\n"))
     widget_body=""
   end
%>

<div class="widget-header">
  <div class="widget-actions">
    <% if widget.java_definition.isEditable() %>
      <a class="link-action" onclick="portal.editWidget(<%= widget.id -%>);return false;"><%= message('edit') -%></a>
    <% end %>
    <a class="link-action" onclick="portal.deleteWidget(this);return false;"><%= message('delete') -%></a>
  </div>
  <div class="widget-handle">
    <%= h message('widget.' + widget.java_definition.getId() + '.name', :default => widget.java_definition.getTitle()) -%>
  </div>
</div>

<div class="widget_props" id="widget_props_<%= widget.id -%>" style="<%= 'display:none' if widget.configured -%>">
  <%= render :partial => 'widget_properties', :locals => {:widget => widget} -%>
</div>

<div id="widget_<%= widget.id -%>" class="configure_widget <%= h widget.java_definition.getId() -%>" style="height:100%;<%= 'display:none;' if !widget.configured -%>">
  <!--[if lte IE 6]>
  <style type="text/css">
    #dashboard .block .content .transparent {
      display: none;
    }
  </style>
  <![endif]-->
  <div class="transparent"></div>
  <% if widget_body.include? '<' %>
    <%
       default_layout=(widget.layout=='DEFAULT')
       if default_layout
    %>
      <div class="widget">
    <% end %>
    <%= widget_body -%>
    <% if default_layout %>
      <div class="clear"></div>
      </div>
    <% end %>
  <% else %>
    <div class="widget"><p><%= message('no_data') -%></p></div>
  <% end %>
  <div style="clear: both;"></div>
</div>

<%
   @resource=@backup_resource
   @project=@backup_project
   @snapshot=@backup_snapshot
   @dashboard_configuration=@backup_dashboard_configuration
%>


