 <%
   begin
     widget_body=render :inline => definition.getTarget().getTemplate(), :locals => {:widget_properties => widget.properties_as_hash, :widget => widget, :dashboard_configuration => @dashboard_configuration}
   rescue => error
      logger.error("Can not render widget #{definition.getId()}: " + error)
      logger.error(error.backtrace.join("\n"))
      widget_body=""
   end
 %>

 <div class="handle" style="//overflow:hidden;//zoom:1;">
   <a class="block-remove"  onclick="portal.deleteWidget(this);return false;">Delete</a>
   <% if definition.isEditable() %>
     <a class="block-view-toggle" onclick="portal.editWidget(<%= widget.id -%>);return false;">Edit</a>
   <% end %>
   <%= definition.getTitle() -%>
 </div>


 <div class="widget_props" id="widget_props_<%= widget.id -%>" style="<%= 'display:none' if widget.configured -%>">
   <%= render :partial => 'dashboard/widget_properties', :locals => {:widget => widget, :definition => definition} -%>
 </div>


 <div id="widget_<%= widget.id -%>" class="configure_widget <%= definition.getId() -%>" style="height:100%;<%= 'display:none;' if !widget.configured -%>">
   <!--[if lte IE 6]>
   <style type="text/css">
     #dashboard .block .content .transparent {
         display: none;
     }
   </style>
   <![endif]-->
 <div class="transparent"></div>
   <% if widget_body.include? '<' %>
     <%
       default_layout=(definition.getWidgetLayout().name()=='DEFAULT')
       if default_layout
     %>
       <div class="widget">
     <% end %>
     <%= widget_body -%>
     <% if default_layout %><div class="clear"> </div></div><% end %>
   <% else %>
   <div class="widget"><p>No data</p></div>
   <% end %>
 <div style="clear: both;"></div>
 </div>

