<div class="line-block">
<% if logged_in? %>
  <ul class="operations">
    <% if back %>
      <li class="last"><%= link_to 'Back to dashboard', {:action => 'index', :did => @dashboard.id, :id => @resource.id } -%></li>
    <% else %>
      <% if @dashboard.editable_by?(current_user) %>
      <li><%= link_to 'Configure widgets', {:action => 'configure', :did => @dashboard.id, :id => @resource.id } -%></li>
      <li><%= link_to 'Edit layout', {:action => 'edit_layout', :did => @dashboard.id, :id => @resource.id } -%></li>
      <% end %>
      <li class="last"><%= link_to 'Manage dashboards', {:controller => 'dashboards', :action => 'index', :resource => @resource.id } -%></li>
    <% end %>
  </ul>
<% end %>

  <% if @snapshot %>
  <div id="snapshot_title" class="page_title">
  <h4>
  <%= link_to_favourite(@project) -%> Version <%= @snapshot.version -%> - <%= l @snapshot.created_at %>
  <% if @snapshot.project_snapshot.periods? %>
    -
    <form method="GET" action="<%= url_for :only_path=>true, :overwrite_params => {:period => nil} -%>" style="display: inline">
    <select id="select-comparison" name="period" onchange="submit()" class="small">
      <option value="">Display trends</option>
      <%= period_select_options(@snapshot, 1) -%>
      <%= period_select_options(@snapshot, 2) -%>
      <%= period_select_options(@snapshot, 3) -%>
      <%= period_select_options(@snapshot, 4) -%>
      <%= period_select_options(@snapshot, 5) -%>
    </select>
      </form>
    <% end %>
  </h4>
  </div>
  <% end %>
</div>