<% if logged_in? || @snapshot %>
<div class="line-block">
  <% if logged_in? %>
    <ul class="operations noprint">
      <% if back %>
        <li><%= link_to message('dashboard.back_to_dashboard'), dashboard_action(:index) -%></li>
      <% else %>
        <% if @dashboard.editable_by?(current_user) %>
          <li><%= link_to message('dashboard.configure_widgets'), dashboard_action(:configure) -%></li>
        <% end %>
      <% end %>
      <li class="last"><%= link_to message('dashboard.manage_dashboards'), {:controller => :dashboards, :action => :index, :resource => (@resource.id if @resource) } -%></li>
    </ul>
  <% end %>

  <% if @snapshot %>
    <div id="snapshot_title" class="page_title">
      <h4>
        <%= "Version #{@snapshot.version} - " if @snapshot.version.present? -%><%= l @snapshot.created_at -%>
        <% if @snapshot.project_snapshot.periods? %>
          <form method="GET" action="<%= url_for :controller => :dashboard, :action => :index, :id => @resource.id -%>" style="display: inline" class="spacer-left">
            <input type="hidden" name="did" value="<%= @dashboard.id -%>"/>
            <%= dropdown_tag "period", period_select_option_tags(@snapshot, 'small'), {
                :width => '230px',
            }, {:id => 'select-comparison', :onchange => 'submit()'} -%>
          </form>
        <% end %>
      </h4>
    </div>
  <% end %>
</div>
<% end %>