<div class="line-block">
<% if logged_in? %>
  <ul class="operations">
    <% if back %>
      <li class="last"><%= link_to 'Back to dashboard', {:action => 'index', :did => @dashboard.id, :id => @resource.id } -%></li>
    <% else %>
      <% if @dashboard.editable_by?(current_user) %>
      <li><%= link_to 'Configure widgets', {:action => 'configure', :did => @dashboard.id, :id => @resource.id } -%></li>
      <li><%= link_to 'Edit layout', {:action => 'edit_layout', :did => @dashboard.id, :id => @resource.id } -%></li>
      <% end %>
      <li class="last"><%= link_to 'Manage dashboards', {:controller => 'dashboards', :action => 'index', :resource => @resource.id } -%></li>
    <% end %>
  </ul>
<% end %>

  <% if @snapshot %>
  <div id="snapshot_title" class="page_title">
  <h4>
  <%
     profile_measure=@snapshot.measure(Metric::PROFILE)
   %>
  <%= link_to_favourite(@project) -%> Version <%= @snapshot.version -%> - <%= l @snapshot.created_at %>
  <% if profile_measure %> - Profile <%= link_to profile_measure.data, :controller => '/rules_configuration', :action => 'index', :id => profile_measure.value.to_i %><% end %>
  - Compare to
  <form method="GET" action="<%= url_for :only_path=>true, :overwrite_params => {:var => nil} -%>" style="display: inline">
  <select id="select-comparison" name="var" onchange="submit()" class="small">
    <option value=""></option>
    <%= variation_select_option(@snapshot, 1) -%>
    <%= variation_select_option(@snapshot, 2) -%>
    <%= variation_select_option(@snapshot, 3) -%>
    <%= variation_select_option(@snapshot, 4) -%>
    <%= variation_select_option(@snapshot, 5) -%>
  </select>
    </form>
  </h4>
  </div>
  <% end %>
</div>



