<% if logged_in? || @snapshot %>
<div class="line-block">
  <% if logged_in? && @dashboard.editable_by?(current_user) %>
    <ul class="operations">
      <% if back %>
        <li class="last"><%= link_to message('dashboard.back_to_dashboard'), dashboard_action(:index) -%></li>
      <% else %>
        <li class="last"><%= link_to message('dashboard.configure_widgets'), dashboard_action(:configure) -%></li>
      <% end %>
    </ul>
  <% end %>

  <% if @snapshot %>
    <div id="snapshot_title" class="page_title">
      <h4>
        <%= link_to_favourite(@project) -%> <%= "Version #{@snapshot.version} - " if @snapshot.version.present? -%><%= l @snapshot.created_at -%>
        <% if @snapshot.project_snapshot.periods? %>
          <form method="GET" action="<%= url_for :controller => :dashboard, :action => :index, :id => @resource.id -%>" style="display: inline" class="spacer-left">
            <input type="hidden" name="did" value="<%= @dashboard.id -%>"/>
            <select id="select-comparison" name="period" onchange="submit()" class="small">
              <option value=""><%= message('time_changes') -%>...</option>
              <%= period_select_options(@snapshot, 1) -%>
              <%= period_select_options(@snapshot, 2) -%>
              <%= period_select_options(@snapshot, 3) -%>
              <%= period_select_options(@snapshot, 4) -%>
              <%= period_select_options(@snapshot, 5) -%>
            </select>
          </form>
        <% end %>
      </h4>
    </div>
  <% end %>
</div>
<% end %>