<% if widget.properties_as_hash['filter'] and @filter %>
  <div class="widget-title" id="widget_title_<%= widget.id -%>">
    <%= @filter.name -%>
    <% if @filter.period_index %>
      (<%= period_names[@filter.period_index-1] -%>)
    <% end %>
  </div>
<% elsif @dashboard.global and @resource and !widget.java_definition.global %>
  <div class="widget-title" id="widget_title_<%= widget.id -%>"><%= @resource.name -%></div>
<% end %>
