<td>
<div class="widget_def" id="def_<%= definition.getId().tr('_', '') -%>">
<p><b><%= h definition.getTitle() -%></b></p>
<p><%= h definition.getDescription() -%></p>
<%= form_tag :action => 'add_widget', :did => dashboard_id, :id => resource_id, :widget => definition.getId() %>
<input type="submit" value="<%= message('dashboard.add_widget') -%>" >
</form>
</div>
</td>
