<% widget_body=widget_body(widget) %>

<%= render :partial => 'widget_title', :locals => {:widget => widget} -%>

<div class="<%= h widget.key -%>" style="height:100%;">
  <% if widget.configured %>
    <% if widget_body.include?('<')
         default_layout=(widget.java_definition.getWidgetLayout().name()=='DEFAULT')
         if default_layout %>
        <div class="widget">
      <% end %>
      <%= widget_body -%>
      <% if default_layout %>
        <div class="clear"></div>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <div class="widget">
      <p>
        <a href="<%= url_for(dashboard_action(:configure)) -%>"><%= message('dashboard.please_configure_the_widget_x', :params => widget.java_definition.getTitle()) -%></a>
      </p>
    </div>
  <% end %>
  <div style="clear: both;"></div>
</div>

