<div id="dashboard">
  <%= render :partial => 'dashboard/header', :locals => {:back => true} %>

  <div id="edit-layout" class="admin">
      <p class="note">Click to choose the layout: </p><br/>
      <!--100%-->
      <div class="layout-example-wrapper" style="text-align:center;width: 20%;">
        <%= link_to image_tag('layout100.png'), {:action => 'set_layout', :id => @dashboard.id, :resource => @resource.id, :layout => "100"}, :method => "post" %>
      </div>
      <!--50%-50%-->
      <div class="layout-example-wrapper"  style="text-align:center;width: 20%;">
        <%= link_to image_tag('layout5050.png'), {:action => 'set_layout', :id => @dashboard.id, :resource => @resource.id, :layout => "50-50"}, :method => "post" %>
      </div>
      <!--30%-70%-->
      <div class="layout-example-wrapper"  style="text-align:center;width: 20%;">
        <%= link_to image_tag('layout3070.png'), {:action => 'set_layout', :id => @dashboard.id, :resource => @resource.id, :layout => "30-70"}, :method => "post" %>
      </div>
      <!--70%-30%-->
      <div class="layout-example-wrapper"  style="text-align:center;width: 20%;">
        <%= link_to image_tag('layout7030.png'), {:action => 'set_layout', :id => @dashboard.id, :resource => @resource.id, :layout => "70-30"}, :method => "post" %>
      </div>
      <!--33%-33%-33%-->
      <div class="layout-example-wrapper"  style="text-align:center;width: 19%;">
        <%= link_to image_tag('layout333333.png'), {:action => 'set_layout', :id => @dashboard.id, :resource => @resource.id, :layout => "33-33-33"}, :method => "post" %>
      </div>
      <div style="clear:both;"></div>
  </div>
</div>