<%= render :partial => 'script_configure' %>

<div id="dashboard">
  <%= render :partial => 'header', :locals => {:back => true} %>

  <div id="edit-layout" class="admin">
    <p class="note"><%= message('dashboard.click_to_choose_layout') -%>: </p><br/>

    <% {'100%', 'layout100.png',
        '50%-50%', 'layout5050.png',
        '30%-70%', 'layout3070.png',
        '70%-30%', 'layout7030.png',
        '33%-33%-33%', 'layout333333.png'
       }.each_pair do |layout, picto| %>
      <div class="select-layout <%= 'selected' if @dashboard.layout==layout -%>" style="text-align:center;width: 20%;">
        <%= link_to image_tag(picto), dashboard_action(:set_layout, :layout => layout), :method => :post %>
      </div>
    <% end %>

    <div style="clear:both;"></div>
  </div>

  <div id="widget_defs" style="display: none;"></div>

  <%
     columns=@dashboard.column_layout.split('-')
     for index in 1..columns.size()
  %>
    <div class="dashboard-column-wrapper" style="width: <%= columns[index-1] -%>;margin: 0 -1px 0 0;">
      <div class="dashboard-column" id="dashboard-column-<%= index -%>" style="margin: 0 <%= index<columns.size() ? "5px" : "0px" -%> 0 <%= index>1 ? "5px" : "0px" -%>;">
        <div class="column-handle" style="display: none"></div>

        <%
           @dashboard.widgets.select { |widget| widget.column_index==index && widget.java_definition }.sort_by { |widget| widget.row_index }.each do |widget|
        %>
          <div class="block" id="block_<%= widget.id -%>">
            <%= render :partial => 'configure_widget', :locals => {:widget => widget} %>
          </div>
        <%
           end
        %>
      </div>
    </div>
  <% end %>
  <div style="clear: both;"></div>
</div>
