<div class="bubble-popup-container">
  <div class="bubble-popup-title">{{t 'component_viewer.transition.duplication'}}</div>
  {{#each duplications}}
    <div class="bubble-popup-section">
      {{#notEq file.projectName ../component.projectName}}
        <span class="component-viewer-popup-label">{{file.projectName}}</span>
      {{/notEq}}
      {{#notEq file.key ../component.key}}
        <a class="link-action" data-key="{{file.key}}" title="{{file.name}}">
          {{file.name}}
        </a>
      {{/notEq}}

      <div class="component-viewer-popup-duplications">
        Lines:
        {{#joinEach blocks ','}}
          <a class="link-action" data-key="{{../file.key}}" data-line="{{from}}">
            {{from}} – {{sum from size}}
          </a>
        {{/joinEach}}
      </div>
    </div>
  {{else}}
    {{t 'duplications.block_was_duplicated_by_a_deleted_resource'}}
  {{/each}}
</div>

<div class="bubble-popup-arrow"></div>
