<a class="js-new-window">{{t 'component_viewer.new_window'}}</a>
<br>
<a class="js-full-source">{{t 'component_viewer.show_full_source'}}</a>
<br>
<a class="js-raw-source">{{t 'component_viewer.show_raw_source'}}</a>

{{#each state.extensions}}
  <br>
  <a class="js-extension" data-key="{{this.[0]}}">{{this.[1]}}</a>
{{/each}}
