{{#if state.sourceSecurity}}

  <p>{{t 'code_viewer.no_source_code_displayed_due_to_security'}}</p>

{{else}}

  {{#if linesLimitReached}}
    <p class="message-alert marginbottom10">{{tp 'component_viewer.lines_limit_reached' linesLimit}}</p>
  {{/if}}

  {{#if issuesLimitReached}}
    <p class="message-alert marginbottom10">{{tp 'component_viewer.issues_limit_reached' issuesLimit}}</p>
  {{/if}}

  {{#if state.duplicationsInDeletedFiles}}
    <p class="marginbottom10 js-duplications-in-deleted-files">{{t 'duplications.dups_found_on_deleted_resource'}}</p>
  {{/if}}

  <div class="source source-duplications-expanded">
    <table class="source-table">
      {{#if showZeroLine}}
        <tr class="source-line hidden" data-line-number="0" id="{{uid}}-0">
          <td class="source-meta source-line-number" title="{{t 'component_viewer.line_actions'}}"></td>

          {{#if settings.scm}}
            <td class="source-meta source-line-scm"></td>
          {{/if}}

          {{#if settings.coverage}}
            <td class="source-meta source-line-coverage">
              <div class="source-line-bar"></div>
            </td>
          {{/if}}

          {{#if settings.duplications}}
            {{#each baseDuplications}}
              <td class="source-meta source-line-duplications-extra">
                <div class="source-line-bar"></div>
              </td>
            {{/each}}
          {{/if}}

          <td class="source-line-code"></td>
        </tr>
      {{/if}}

      {{#each source}}
        {{#if show}}
          <tr class="source-line" data-line-number="{{lineNumber}}" id="{{../../uid}}-{{lineNumber}}">
            <td class="source-meta source-line-number js-line-actions" title="{{t 'component_viewer.line_actions'}}"
                {{#if lineNumber}}data-line-number="{{lineNumber}}"{{/if}}></td>

            {{#if ../../settings.scm}}
              <td class="source-meta {{#if scm}}source-line-scm{{/if}}">
                {{#if scm}}
                  {{#ifSCMChanged ../../../../source ../../../lineNumber}}
                    <div class="source-line-scm-inner" data-author="{{scm.author}}"></div>
                  {{/ifSCMChanged}}
                {{/if}}
              </td>
            {{/if}}

            {{#if ../../settings.coverage}}
              <td class="source-meta source-line-coverage {{#if coverage}}source-line-{{coverageStatus}}{{/if}}">
                <div class="source-line-bar"></div>
              </td>
            {{/if}}

            {{#if ../../settings.duplications}}
              {{#each duplications}}
                <td class="source-meta source-line-duplications-extra {{#if this}}source-line-duplicated{{/if}}"
                    data-index="{{this}}" data-line-number="{{line}}">
                  <div class="source-line-bar"></div>
                </td>
              {{/each}}
            {{/if}}

            <td class="source-line-code code"><pre>{{{code}}}</pre></td>
          </tr>
        {{/if}}
      {{/each}}
    </table>
  </div>

{{/if}}
