<div>
  <h1 class="rule-title"><%= h @rule.name %></h1>
  <% unless @rule.ready? %>
    <div class="rule-status">
      <% if @rule.beta? %>
        <span><%= message('rules.status.beta') %></span>
      <% elsif @rule.deprecated? %>
        <span><%= message('rules.status.deprecated') %></span>
      <% end %>
    </div>
  <% end %>
</div>

<div class="subtitle">
<%= h @rule.plugin_name -%> : <%= h @rule.plugin_rule_key -%>
</div>

<div class="rule-desc">
  <% if @rule.description.strip.start_with?('<p>') %>
    <%= Internal.text.interpretMacros(@rule.description) %>
  <% else %>
    <p><%= Internal.text.interpretMacros(@rule.description) %></p>
  <% end %>

  <% if @rule.note_data && !@rule.note_data.strip.blank? %>
    <p> <%= Api::Utils.markdown_to_html(@rule.note_data) -%></p>
  <% end %>

</div>
