<h1><%= message('email_configuration.page') -%></h1>
<div class="admin">
<% form_tag({:action => 'save'}) do -%>
  <table class="form">
    <tr>
      <td class="keyCell"><label for="smtp_host"><%= message('email_configuration.smtp_host') -%>:</label></td>
      <td align="left"><%= text_field_tag 'smtp_host', @smtp_host %></td>
    </tr>
    <tr>
      <td class="keyCell"><label for="smtp_port"><%= message('email_configuration.smtp_port') -%>:</label></td>
      <td align="left"><%= text_field_tag 'smtp_port', @smtp_port %></td>
    </tr>
    <tr>
      <td class="keyCell"><label for="smtp_port"><%= message('email_configuration.use_tls') -%>:</label></td>
      <td align="left"><%= check_box_tag 'smtp_use_tls', 'true', @smtp_use_tls %></td>
    </tr>
    <tr>
      <td class="keyCell"><label for="smtp_username"><%= message('email_configuration.smtp_username') -%>:</label></td>
      <td align="left"><%= text_field_tag 'smtp_username', @smtp_username %></td>
    </tr>
    <tr>
      <td class="keyCell"><label for="smtp_password"><%= message('email_configuration.smtp_password') -%>:</label></td>
      <td align="left"><%= password_field_tag 'smtp_password', @smtp_password %></td>
    </tr>
    <tr>
      <td class="keyCell"><label for="email_from"><%= message('email_configuration.from_address') -%>:</label></td>
      <td><%= text_field_tag 'email_from', @email_from %></td>
    </tr>
    <tr>
      <td class="keyCell"><label for="email_prefix"><%= message('email_configuration.email_prefix') -%>:</label></td>
      <td><%= text_field_tag 'email_prefix', @email_prefix %></td>
    </tr>
    <tr>
      <td></td>
      <td><%= submit_tag message('save') %></td>
    </tr>
  </table>
<% end -%>
</div>

<h1><%= message('email_configuration.test.title') -%></h1>
<div class="admin">
<% form_tag({:action => 'send_test_email'}) do -%>
  <table class="form">
    <tr>
      <td class="keyCell"><label for="to_address"><%= message('email_configuration.test.to_address') -%>:</label></td>
      <td><%= text_field_tag 'to_address', current_user.email %></td>
    </tr>
    <tr>
      <td class="keyCell"><label for="subject"><%= message('email_configuration.test.subject') -%>:</label></td>
      <td><%= text_field_tag 'subject', message('email_configuration.test.subject_text') %></td>
    </tr>
    <tr>
      <td class="keyCell"><label for="message"><%= message('email_configuration.test.message') -%>:</label></td>
      <td><%= text_area_tag 'message', message('email_configuration.test.message_text') %></td>
    </tr>
    <tr>
      <td></td>
      <td><%= submit_tag message('email_configuration.test.send') %></td>
    </tr>
  </table>
<% end -%>
</div>
