<form id="rename-profile-form">
  <div class="modal-head">
    <h2>{{tp 'quality_profiles.rename_x_title' name languageName}}</h2>
  </div>
  <div class="modal-body">
    <div class="js-modal-messages"></div>
    <div class="modal-field">
      <label for="rename-profile-name">{{t 'quality_profiles.new_name'}} <em class="mandatory">*</em></label>
      <input id="rename-profile-name" name="name" type="text" size="50" maxlength="100" value="{{name}}" required>
    </div>
  </div>
  <div class="modal-foot">
    <button id="rename-profile-submit">{{t 'rename'}}</button>
    <a href="#" class="js-modal-close" id="rename-profile-cancel">{{t 'cancel'}}</a>
  </div>
</form>
