<form id="create-profile-form" action="{{link '/api/qualityprofiles/create'}}" enctype="multipart/form-data"
      method="POST">
  <div class="modal-head">
    <h2>{{t 'quality_profiles.new_profile'}}</h2>
  </div>
  <div class="modal-body">
    <div class="js-modal-messages"></div>
    <div class="modal-field">
    <label for="create-profile-name">{{t 'name'}}<em class="mandatory">*</em></label>
    <input id="create-profile-name" name="name" type="text" size="50" maxlength="100" required>
  </div>
    <div class="modal-field spacer-bottom">
      <label for="create-profile-language">{{t 'language'}}<em class="mandatory">*</em></label>
      <select id="create-profile-language" name="language" required>
        {{#each languages}}
          <option value="{{key}}">{{name}}</option>
        {{/each}}
      </select>
    </div>
    {{#each importers}}
      <div class="modal-field spacer-bottom js-importer" data-key="{{key}}">
        <label for="create-profile-form-backup-{{key}}">{{name}}</label>
        <input id="create-profile-form-backup-{{key}}" name="backup_{{key}}" type="file">
        <p class="note">{{t 'quality_profiles.optional_configuration_file'}}</p>
      </div>
    {{/each}}
  </div>
  <div class="modal-foot">
    <button id="create-profile-submit">{{t 'create'}}</button>
    <a href="#" class="js-modal-close" id="create-profile-cancel">{{t 'cancel'}}</a>
  </div>
</form>
