<form id="delete-profile-form">
  <div class="modal-head">
    <h2>{{t 'quality_profiles.delete_confirm_title'}}</h2>
  </div>
  <div class="modal-body">
    <div class="js-modal-messages"></div>
    {{#notEmpty children}}
      <div class="alert alert-warning">{{t 'quality_profiles.this_profile_has_descendants'}}</div>
      <p>{{tp 'quality_profiles.are_you_sure_want_delete_profile_x_and_descendants' name languageName}}</p>
    {{else}}
      <p>{{tp 'quality_profiles.are_you_sure_want_delete_profile_x' name languageName}}</p>
    {{/notEmpty}}
  </div>
  <div class="modal-foot">
    <button id="delete-profile-submit">{{t 'delete'}}</button>
    <a href="#" class="js-modal-close" id="delete-profile-cancel">{{t 'cancel'}}</a>
  </div>
</form>
