<h2 class="search-navigator-header-component">
  {{name}}
  <span class="note">{{languageName}}</span>
</h2>

<div class="search-navigator-header-actions">
  <div class="button-group">
    <a class="button" href="{{link '/api/qualityprofiles/backup?profileKey=' encodedKey}}"
       id="quality-profile-backup">{{t 'backup_verb'}}</a>
    {{#if canWrite}}
      <button id="quality-profile-rename">{{t 'rename'}}</button>
      <button id="quality-profile-copy">{{t 'copy'}}</button>
      {{#unless isDefault}}
        <button id="quality-profile-set-as-default">{{t 'set_as_default'}}</button>
        <button id="quality-profile-delete" class="button-red">{{t 'delete'}}</button>
      {{/unless}}
    {{/if}}
  </div>
</div>
