<form id="restore-built-in-profiles-form">
  <div class="modal-head">
    <h2>{{t 'quality_profiles.restore_built_in_profiles'}}</h2>
  </div>
  <div class="modal-body">
    <div class="js-modal-messages"></div>
    <div id="restore-built-in-profiles-form-success" class="alert alert-success hidden"></div>
    <div class="modal-field">
      <label for="restore-built-in-profiles-language">{{t 'language'}}<em class="mandatory">*</em></label>
      <select id="restore-built-in-profiles-language" name="language">
        {{#each languages}}
          <option value="{{key}}">{{name}}</option>
        {{/each}}
      </select>
    </div>
  </div>
  <div class="modal-foot">
    <button id="restore-built-in-profiles-submit">{{t 'restore'}}</button>
    <a href="#" class="js-modal-close" id="restore-built-in-profiles-cancel">{{t 'cancel'}}</a>
  </div>
</form>
