<form id="change-profile-parent-form">
  <div class="modal-head">
    <h2>{{t 'quality_profiles.change_parent'}}</h2>
  </div>
  <div class="modal-body">
    <div class="js-modal-messages"></div>
    <div class="modal-field">
      <label for="change-profile-parent">Parent: <em class="mandatory">*</em></label>
      <select id="change-profile-parent" name="parentKey">
        <option value="#none">{{t 'none'}}</option>
        {{#each profiles}}
          <option value="{{key}}">{{name}}</option>
        {{/each}}
      </select>
    </div>
  </div>
  <div class="modal-foot">
    <button id="change-profile-parent-submit">{{t 'change_verb'}}</button>
    <a href="#" class="js-modal-close" id="change-profile-parent-cancel">{{t 'cancel'}}</a>
  </div>
</form>
