{{#each duplications}}
  <div class="component-viewer-popup-section">
    <a class="component-viewer-popup-test-file link-action" data-key="{{file.key}}" title="{{file.name}}">
      {{file.name}}
    </a>
    <ul class="component-viewer-popup-list">
      {{#each blocks}}
        <li>Lines: {{from}} – {{sum from size}}</li>
      {{/each}}
    </ul>
  </div>
{{/each}}

<div class="component-viewer-popup-arrow"></div>