<div class="component-viewer-header-bar">

  <div class="component-viewer-header-component">
    {{#if component.projectName}}
      <div class="component-viewer-header-component-project">
        {{qualifierIcon 'TRK'}} {{component.projectName}}
      </div>
    {{/if}}

    <div class="component-viewer-header-component-name">
      {{qualifierIcon component.q}} {{component.path}}
    </div>
  </div>

  <div class="component-viewer-header-links">
    <a><i class="icon-detach"></i></a>
    <a><i class="icon-link"></i></a>
  </div>

  <div class="component-viewer-header-measures">
    <div class="component-viewer-header-measures-scope">
      <span data-scope="coverage" class="js-toggle-coverage component-viewer-header-measures-toggle-scope inactive"></span>
      <a data-scope="basic" class="component-viewer-header-measures-expand">
        <div class="component-viewer-header-measure">
          <span class="component-viewer-header-measure-value">{{component.measures.fNcloc}}</span>
          <span class="component-viewer-header-measure-label">{{t 'metric.ncloc.name'}}</span>
        </div>
        <i class="icon-dropdown"></i>
      </a>
    </div>

    <div class="component-viewer-header-measures-scope">
      <a data-scope="issues" class="component-viewer-header-measures-expand">
          <div class="component-viewer-header-measure">
            <span class="component-viewer-header-measure-value">{{default component.measures.fDebt 0}}</span>
            <span class="component-viewer-header-measure-label">{{t 'component_viewer.header.debt'}}</span>
          </div>
        {{#if component.measures.fIssues}}
          <div class="component-viewer-header-measure">
            <span class="component-viewer-header-measure-value">{{component.measures.fIssues}}</span>
            <span class="component-viewer-header-measure-label">{{t 'metric.violations.name'}}</span>
          </div>
        {{/if}}
        {{#if component.measures.fIssues}}
          <div class="component-viewer-header-measure">
            <div class="component-viewer-header-measure-issues">
              <div class="component-viewer-header-measure-issue s-blocker"
                   style="width: {{percent component.measures.fBlockerIssues component.measures.maxIssues}};"></div>
              <div class="component-viewer-header-measure-issue s-critical"
                   style="width: {{percent component.measures.fCriticalIssues component.measures.maxIssues}};"></div>
              <div class="component-viewer-header-measure-issue s-major"
                   style="width: {{percent component.measures.fMajorIssues component.measures.maxIssues}};"></div>
              <div class="component-viewer-header-measure-issue s-minor"
                   style="width: {{percent component.measures.fMinorIssues component.measures.maxIssues}};"></div>
              <div class="component-viewer-header-measure-issue s-info"
                   style="width: {{percent component.measures.fInfoIssues component.measures.maxIssues}};"></div>
            </div>
          </div>
        {{/if}}
        <i class="icon-dropdown"></i>
      </a>
      <a data-scope="issues" title="{{t 'component_viewer.header.toggle_issues'}}"
         class="js-toggle-issues component-viewer-header-measures-toggle-scope {{#if settings.issues}}active{{/if}}"></a>
    </div>

    {{#if component.measures.fCoverage}}
      <div class="component-viewer-header-measures-scope">
        <a data-scope="coverage" class="component-viewer-header-measures-expand">
            <div class="component-viewer-header-measure">
              <span class="component-viewer-header-measure-value">{{component.measures.fCoverage}}</span>
              <span class="component-viewer-header-measure-label">{{t 'metric.coverage.name'}}</span>
            </div>
          <i class="icon-dropdown"></i>
        </a>
        <a data-scope="coverage" title="{{t 'component_viewer.header.toggle_coverage'}}"
           class="js-toggle-coverage component-viewer-header-measures-toggle-scope {{#if settings.coverage}}active{{/if}}"></a>
      </div>
    {{/if}}

    {{#if component.measures.fDuplicationDensity}}
      <div class="component-viewer-header-measures-scope">
        <a data-scope="duplications" class="component-viewer-header-measures-expand">
            <div class="component-viewer-header-measure">
              <span class="component-viewer-header-measure-value">{{component.measures.fDuplicationDensity}}</span>
              <span class="component-viewer-header-measure-label">{{t 'metric.duplicated_lines_density.name'}}</span>
            </div>
          <i class="icon-dropdown"></i>
        </a>
        <a data-scope="duplications" title="{{t 'component_viewer.header.toggle_duplications'}}"
           class="js-toggle-duplications component-viewer-header-measures-toggle-scope {{#if settings.duplications}}active{{/if}}"></a>
      </div>
    {{/if}}
  </div>
</div>



<div data-scope="basic" class="component-viewer-header-expanded-bar">
  {{> '_basic-header'}}
</div>

<div data-scope="issues" class="component-viewer-header-expanded-bar">
  {{> '_issues-header'}}
</div>

<div data-scope="coverage" class="component-viewer-header-expanded-bar">
  {{> '_coverage-header'}}
</div>

<div data-scope="duplications" class="component-viewer-header-expanded-bar">
  {{> '_duplications-header'}}
</div>



<div class="component-viewer-header-decoration" style="display: none;">
  <div class="button-group">
    <button class="js-toggle-issues {{#if settings.issues}}active{{/if}}">Issues</button>
    <button class="js-toggle-coverage {{#if settings.coverage}}active{{/if}}">Coverage</button>
    <button class="js-toggle-duplications {{#if settings.duplications}}active{{/if}}">Duplications</button>
    <button class="js-toggle-scm {{#if settings.scm}}active{{/if}}">SCM</button>
  </div>
</div>