<div class="component-viewer-header-bar">
  <div class="component-viewer-header-component">
    {{#if component.projectName}}
      <div class="component-viewer-header-component-project">
        {{qualifierIcon 'TRK'}}
        <a class="link-action" href="{{dashboardUrl component.project}}">{{component.projectName}}</a>
        {{#if component.subProjectName}}
          / <a class="link-action" href="{{dashboardUrl component.subProject}}">{{component.subProjectName}}</a>
        {{/if}}
      </div>
    {{/if}}

    <div class="component-viewer-header-component-name">
      {{qualifierIcon component.q}} {{component.path}}

      {{#if state.canMarkAsFavourite}}
        <a class="js-favorite component-viewer-header-favorite"
           title="{{#if component.fav}}{{t 'click_to_remove_from_favorites'}}{{else}}{{t 'click_to_add_to_favorites'}}{{/if}}">
          <i class="{{#if component.fav}}icon-favorite{{else}}icon-not-favorite{{/if}}"></i>
        </a>
      {{/if}}
    </div>
  </div>

  <div class="component-viewer-header-links">
    <a><i class="icon-link"></i></a>
    {{#ifNotEmpty state.extensions}}
      <a class="js-extensions">
        <i class="icon-extension"></i>
        <i class="icon-dropdown"></i>
      </a>
    {{/ifNotEmpty}}
  </div>

  <div class="component-viewer-header-measures">
    {{#if component.isUnitTest}}
      <div class="component-viewer-header-measures-scope">
        <a data-scope="tests" class="component-viewer-header-measures-expand">
          <div class="component-viewer-header-measure">
            <span class="component-viewer-header-measure-value">{{component.measures.fTests}}</span>
            <span class="component-viewer-header-measure-label">{{t 'metric.tests.name'}}</span>
          </div>
          <i class="icon-dropdown"></i>
        </a>
      </div>
    {{/if}}

    {{#unless component.isUnitTest}}
      <div class="component-viewer-header-measures-scope">
        <span data-scope="basic" class="js-toggle-coverage component-viewer-header-measures-toggle-scope inactive"></span>
        <a data-scope="basic" class="component-viewer-header-measures-expand">
          <div class="component-viewer-header-measure">
            <span class="component-viewer-header-measure-value">{{default component.measures.fNcloc '–'}}</span>
            <span class="component-viewer-header-measure-label">{{t 'metric.ncloc.name'}}</span>
          </div>
          <i class="icon-dropdown"></i>
        </a>
      </div>
    {{/unless}}

    <div class="component-viewer-header-measures-scope">
      <a data-scope="issues" class="component-viewer-header-measures-expand">
          <div class="component-viewer-header-measure">
            <span class="component-viewer-header-measure-value">{{default component.measures.fDebt '–'}}</span>
            <span class="component-viewer-header-measure-label">{{t 'component_viewer.header.debt'}}</span>
          </div>
        {{#if component.measures.fIssues}}
          <div class="component-viewer-header-measure">
            <span class="component-viewer-header-measure-value">{{component.measures.fIssues}}</span>
            <span class="component-viewer-header-measure-label">{{t 'metric.violations.name'}}</span>
          </div>
        {{/if}}
        {{#if component.measures.fIssues}}
          <div class="component-viewer-header-measure">
            <div class="component-viewer-header-measure-issues">
              <div class="component-viewer-header-measure-issue s-blocker"
                   style="width: {{percent component.measures.fBlockerIssues component.measures.maxIssues}};"></div>
              <div class="component-viewer-header-measure-issue s-critical"
                   style="width: {{percent component.measures.fCriticalIssues component.measures.maxIssues}};"></div>
              <div class="component-viewer-header-measure-issue s-major"
                   style="width: {{percent component.measures.fMajorIssues component.measures.maxIssues}};"></div>
              <div class="component-viewer-header-measure-issue s-minor"
                   style="width: {{percent component.measures.fMinorIssues component.measures.maxIssues}};"></div>
              <div class="component-viewer-header-measure-issue s-info"
                   style="width: {{percent component.measures.fInfoIssues component.measures.maxIssues}};"></div>
            </div>
          </div>
        {{/if}}
        <i class="icon-dropdown"></i>
      </a>
      <a data-scope="issues" title="{{t 'component_viewer.header.toggle_issues'}}"
         class="js-toggle-issues component-viewer-header-measures-toggle-scope {{#if settings.issues}}active{{/if}}"></a>
    </div>

    {{#inArray state.tabs 'coverage'}}
      <div class="component-viewer-header-measures-scope">
        <a data-scope="coverage" class="component-viewer-header-measures-expand">
            <div class="component-viewer-header-measure">
              <span class="component-viewer-header-measure-value">{{default component.measures.fCoverage '–'}}</span>
              <span class="component-viewer-header-measure-label">{{t 'metric.coverage.name'}}</span>
            </div>
          <i class="icon-dropdown"></i>
        </a>
        <a data-scope="coverage" title="{{t 'component_viewer.header.toggle_coverage'}}"
           class="js-toggle-coverage component-viewer-header-measures-toggle-scope {{#if settings.coverage}}active{{/if}}"></a>
      </div>
    {{/inArray}}

    {{#inArray state.tabs 'duplications'}}
      <div class="component-viewer-header-measures-scope">
        <a data-scope="duplications" class="component-viewer-header-measures-expand">
            <div class="component-viewer-header-measure">
              <span class="component-viewer-header-measure-value">{{default component.measures.fDuplicationDensity '–'}}</span>
              <span class="component-viewer-header-measure-label">{{t 'metric.duplicated_lines_density.name'}}</span>
            </div>
          <i class="icon-dropdown"></i>
        </a>
        <a data-scope="duplications" title="{{t 'component_viewer.header.toggle_duplications'}}"
           class="js-toggle-duplications component-viewer-header-measures-toggle-scope {{#if settings.duplications}}active{{/if}}"></a>
      </div>
    {{/inArray}}

    {{#inArray state.tabs 'scm'}}
      <div class="component-viewer-header-measures-scope">
        <a data-scope="scm" class="component-viewer-header-measures-expand">
          <div class="component-viewer-header-measure">
            <span class="component-viewer-header-measure-value"><i class="icon-calendar"></i></span>
            <span class="component-viewer-header-measure-label">SCM</span>
          </div>
          <i class="icon-dropdown"></i>
        </a>
        <a data-scope="scm" title="{{t 'component_viewer.header.toggle_scm'}}"
           class="js-toggle-scm component-viewer-header-measures-toggle-scope {{#if settings.scm}}active{{/if}}"></a>
      </div>
    {{/inArray}}
  </div>
</div>

<div class="component-viewer-header-expanded-bar"></div>