<table class="code" cellpadding="0" cellspacing="0">
  <thead>
  <tr>
    {{#if settings.coverage}}
      <th class="stat"></th>
      <th class="stat"></th>
    {{/if}}
    {{#if settings.duplications}}
      <th class="stat"></th>
    {{/if}}
    <th class="stat settings-toggle">
      <button class="button-clean js-toggle-settings">
        <i class="icon-settings"></i></i>
      </button>
    </th>
    <th class="stat settings">
      <ul class="component-viewer-source-settings {{#if showSettings}}open{{/if}}">
        <li>
          <input id="source-issues" type="checkbox" {{#if settings.issues}}checked{{/if}}>
          <label for="source-issues">Issues</label>
        </li>
        <li>
          <input id="source-coverage" type="checkbox" {{#if settings.coverage}}checked{{/if}}>
          <label for="source-coverage">Coverage</label>
        </li>
        <li>
          <input id="source-duplications" type="checkbox" {{#if settings.duplications}}checked{{/if}}>
          <label for="source-duplications">Duplications</label>
        </li>
        <li>
          <input id="source-scm" type="checkbox" {{#if settings.scm}}checked{{/if}}>
          <label for="source-scm">SCM</label>
        </li>
        <li>
          <input id="source-workspace" type="checkbox" {{#if settings.workspace}}checked{{/if}}>
          <label for="source-workspace">Workspace</label>
        </li>
      </ul>

      {{qualifierIcon component.qualifier}} <span class="component-viewer-title">{{component.lname}}</span>

      <a class="icon-not-favorite" href="#" onclick="toggleFav({{component.id}}, this); return false;"
         title="Click to add to favourites"></a>
    </th>
  </tr>
  <tr>
    {{#if settings.coverage}}
      <th class="stat"></th>
      <th class="stat"></th>
    {{/if}}
    {{#if settings.duplications}}
      <th class="stat"></th>
    {{/if}}
    <th class="stat settings-toggle">
      <button class="button-clean js-toggle-measures"><i class="icon-list"></i></button>
    </th>
    <th class="measures">
      <ul class="component-viewer-measures">
        <li class="component-viewer-measures-section brief">
          <dl>
            {{#each component.msr}}
              <dt>{{t 'metric' key 'name'}}</dt><dd>{{frmt_val}}</dd>
            {{/each}}
          </dl>
        </li>
        {{#if settings.issues}}
          <li class="component-viewer-measures-section brief">
            {{#if component.issuesMeasures}}
              {{#with component.issuesMeasures}}
                <dl>
                  <dt>Issues</dt>
                  <dd>
                    {{#if blocker_violations}}
                      <i class="icon-severity-blocker"></i>{{blocker_violations}}&nbsp;
                    {{/if}}
                    {{#if critical_violations}}
                      <i class="icon-severity-critical"></i>{{critical_violations}}&nbsp;
                    {{/if}}
                    {{#if major_violations}}
                      <i class="icon-severity-major"></i>{{major_violations}}&nbsp;
                    {{/if}}
                    {{#if minor_violations}}
                      <i class="icon-severity-minor"></i>{{minor_violations}}&nbsp;
                    {{/if}}
                    {{#if info_violations}}
                      <i class="icon-severity-info"></i>{{info_violations}}&nbsp;
                    {{/if}}
                  </dd>
                </dl>
              {{/with}}
            {{/if}}
          </li>
        {{/if}}
        {{#if settings.coverage}}
          <li class="component-viewer-measures-section brief">
            {{#if component.coverageMeasures}}
              <dl>
                {{#each component.coverageMeasures}}
                  <dt>{{t 'metric' key 'name'}}</dt><dd>{{frmt_val}}</dd>
                {{/each}}
              </dl>
            {{/if}}
          </li>
        {{/if}}
        {{#if settings.duplications}}
          <li class="component-viewer-measures-section brief">
            {{component.duplicationsMeasures}}
            {{#if component.duplicationsMeasures}}
              <dl>
                {{#each component.duplicationsMeasures}}
                  <dt>{{t 'metric' key 'name'}}</dt><dd>{{frmt_val}}</dd>
                {{/each}}
              </dl>
            {{/if}}
          </li>
        {{/if}}
      </ul>
    </th>
  </tr>
  </thead>
  <tbody>
    <tr class="row row-hidden" data-line-number="0">
      {{#if settings.coverage}}
        <td class="stat coverage-tests"></td>
        <td class="stat coverage-conditions"></td>
      {{/if}}
      {{#if settings.duplications}}
        <td class="stat"></td>
      {{/if}}
      <td class="stat lid"></td>
      <td class="line"></td>
    </tr>

    {{#each source}}
      {{#if show}}
        <tr class="row {{#if ../../settings.coverage}}{{#if coverageStatus}}coverage-{{coverageStatus}}{{/if}}{{/if}}"
            data-line-number="{{lineNumber}}">

          {{#if ../../settings.coverage}}
            <td class="stat coverage-tests">
              {{#if coverage}}
                <span title="Line is covered by {{coverage}} tests">{{coverage}}</span>
              {{/if}}
            </td>

            <td class="stat coverage-conditions">
                {{#if coverageConditions}}
                  {{#if conditions}}
                    <span title="{{coverageConditions}} branches are covered by tests">
                      {{coverageConditions}}/{{conditions}}
                    </span>
                  {{/if}}
                {{/if}}
            </td>
          {{/if}}

          {{#if ../../settings.duplications}}
            <td class="stat duplications">
              {{#each duplications}}
                <span class="duplication {{#if this}}duplication-exists{{/if}}"></span>
              {{/each}}
            </td>
          {{/if}}

          <td class="stat lid">{{lineNumber}}</td>

          <td class="line"><pre>{{{code}}}</pre></td>
        </tr>
      {{/if}}
    {{/each}}
  </tbody>
</table>