<table class="sources2 code" cellpadding="0" cellspacing="0">
  {{#each source}}
    <tr class="row">
      <td class="coverage {{#if coverage}}coverage-{{coverageStatus}}{{/if}}">
        {{#if coverage}}<a title="Line is covered by {{coverage}} tests">{{coverage}}</a>{{/if}}
      </td>
      <td class="coverage {{#if coverageConditions}}coverage-{{coverageConditionsStatus}}{{/if}}">
          {{#if coverageConditions}}
            {{#if conditions}}
              <span title="{{coverageConditions}} branches are covered by tests">
                {{coverageConditions}}/{{conditions}}
              </span>
            {{/if}}
          {{/if}}
      </td>
      <td class="lid">{{lineNumber}}</td>
      <td class="line"><pre>{{{code}}}</pre></td>
    </tr>
  {{/each}}
</table>