<table class="sources2 code" cellpadding="0" cellspacing="0">
  <thead>
  <tr>
    {{#if settings.coverage}}
      <th class="stat"></th>
      <th class="stat"></th>
    {{/if}}
    <th class="stat settings-toggle">
      <button class="button-clean">
        <i class="icon-settings"></i></i>
      </button>
    </th>
    <th class="stat settings">
      <ul class="component-viewer-source-settings {{#if showSettings}}open{{/if}}">
        <li>
          <input id="source-issues" type="checkbox" {{#if settings.issues}}checked{{/if}}>
          <label for="source-issues">Issues</label>
        </li>
        <li>
          <input id="source-coverage" type="checkbox" {{#if settings.coverage}}checked{{/if}}>
          <label for="source-coverage">Coverage</label>
        </li>
        <li>
          <input id="source-duplications" type="checkbox" {{#if settings.duplications}}checked{{/if}}>
          <label for="source-duplications">Duplications</label>
        </li>
        <li>
          <input id="source-scm" type="checkbox" {{#if settings.scm}}checked{{/if}}>
          <label for="source-scm">SCM</label>
        </li>
      </ul>
    </th>
  </tr>
  </thead>
  <tbody>
    {{#each source}}
      <tr class="row {{#if ../settings.coverage}}{{#if coverageStatus}}coverage-{{coverageStatus}}{{/if}}{{/if}}">

        {{#if ../settings.coverage}}
          <td class="stat coverage-tests">
            {{#if coverage}}
              <span title="Line is covered by {{coverage}} tests">{{coverage}}</span>
            {{/if}}
          </td>

          <td class="stat coverage-conditions">
              {{#if coverageConditions}}
                {{#if conditions}}
                  <span title="{{coverageConditions}} branches are covered by tests">
                    {{coverageConditions}}/{{conditions}}
                  </span>
                {{/if}}
              {{/if}}
          </td>
        {{/if}}

        <td class="stat lid">{{lineNumber}}</td>

        <td class="line"><pre>{{{code}}}</pre></td>
      </tr>
    {{/each}}
  </tbody>
</table>