<table class="code">
  <tr class="row row-hidden" data-line-number="0">
    {{#if settings.coverage}}
      <td class="stat coverage-tests"></td>
      <td class="stat coverage-conditions"></td>
    {{/if}}
    {{#if settings.duplications}}
      <td class="stat"></td>
    {{/if}}
    {{#if settings.scm}}
      <th class="stat"></th>
    {{/if}}
    <td class="stat lid"></td>
    <td class="line"></td>
  </tr>

  {{#each source}}
    {{#if show}}
      <tr class="row {{#if ../../settings.coverage}}{{#if coverageStatus}}coverage-{{coverageStatus}}{{/if}}{{/if}}"
          data-line-number="{{lineNumber}}">

        {{#if ../../settings.coverage}}
          <td class="stat coverage-tests">
            {{#if coverage}}
              <span title="Line is covered by {{coverage}} tests">{{coverage}}</span>
            {{/if}}
          </td>

          <td class="stat coverage-conditions">
              {{#if coverageConditions}}
                {{#if conditions}}
                  <span title="{{coverageConditions}} branches are covered by tests">
                    {{coverageConditions}}/{{conditions}}
                  </span>
                {{/if}}
              {{/if}}
          </td>
        {{/if}}

        {{#if ../../settings.duplications}}
          <td class="stat duplications">
            {{#each duplications}}
              <span class="duplication {{#if this}}duplication-exists{{/if}}"></span>
            {{/each}}
          </td>
        {{/if}}

        {{#if ../../settings.scm}}
          <td class="stat {{#if scm}}scm{{/if}}">
            {{#if scm}}
              <span class="scm-date">{{scm.date}}</span>
              <span class="scm-author" title="{{scm.author}}">{{scm.author}}</span>
            {{/if}}
          </td>
        {{/if}}

        <td class="stat lid">{{lineNumber}}</td>

        <td class="line"><pre>{{{code}}}</pre></td>
      </tr>
    {{/if}}
  {{/each}}
</table>