<div class="issue-message">{{message}}</div>

{{#if showComponent}}
  <div class="issue-meta-list">
    <div class="issue-meta">
      <a class="issue-action" href="{{dashboardUrl project}}">
        {{qualifierIcon 'TRK'}} {{default projectLongName projectName}}
      </a>
    </div>
    <div class="issue-meta">
      <a class="issue-action js-issue-line">
        {{qualifierIcon componentQualifier}} {{componentLongName}}{{#if line}} (L{{line}}){{/if}}
      </a>
    </div>
  </div>
{{/if}}

{{log this}}

<div class="issue-meta-list">
  <div class="issue-meta">
    {{#inArray actions "set_severity"}}
      <a class="issue-action issue-action-with-options js-issue-set-severity">
        <span class="issue-meta-label">{{severity severity}}</span>&nbsp;<i class="icon-dropdown"></i>
      </a>
    {{else}}
      {{severity severity}}
    {{/inArray}}
  </div>

  <div class="issue-meta">
    {{statusHelper status resolution}}
  </div>

  {{#notEmpty transitions}}
    <div class="issue-meta">
      {{#each transitions}}
        <a class="issue-action js-issue-transition" data-transition="{{this}}">
          <span class="issue-meta-label">{{t 'issue.transition' this}}</span>
        </a>
      {{/each}}
    </div>
  {{/notEmpty}}

  <div class="issue-meta">
    {{#inArray actions "assign"}}
      <a class="issue-action issue-action-with-options js-issue-assign">
        <span class="issue-meta-label">{{#if assignee}}{{default assigneeName assignee}}{{else}}{{t 'unassigned'}}{{/if}}</span>&nbsp;<i class="icon-dropdown"></i>
      </a>
    {{else}}
      <span class="issue-meta-label">{{#if assignee}}{{default assigneeName assignee}}{{else}}{{t 'unassigned'}}{{/if}}</span>
    {{/inArray}}
  </div>

  {{#inArray actions "assign_to_me"}}
    <a class="js-issue-assign-to-me"></a>
  {{/inArray}}

  <div class="issue-meta">
    {{#inArray actions "plan"}}
      <a class="issue-action issue-action-with-options js-issue-plan">
        <span class="issue-meta-label">{{#if actionPlan}}{{default actionPlanName actionPlan}}{{else}}{{t 'issue.unplanned'}}{{/if}}</span>&nbsp;<i class="icon-dropdown"></i>
      </a>
    {{else}}
      <span class="issue-meta-label">{{#if actionPlan}}{{default actionPlanName actionPlan}}{{else}}{{t 'issue.unplanned'}}{{/if}}</span>
    {{/inArray}}
  </div>

  {{#inArray actions "comment"}}
    <div class="issue-meta">
      <a class="issue-action js-issue-comment"><span class="issue-meta-label">{{t 'issue.comment.formlink' }}</span></a>
    </div>
  {{/inArray}}

  <div class="issue-meta">
    <a class="issue-action issue-action-with-options js-issue-more">
      <span class="issue-meta-label">{{t 'more'}}</span>&nbsp;<i class="icon-dropdown"></i>
    </a>
  </div>

  <div class="issue-meta issue-meta-on-right">
    <a class="issue-action issue-action-with-options js-issue-show-changelog" title="{{dt creationDate}}">
      <span class="issue-meta-label">{{fromNow creationDate}}</span>&nbsp;<i class="icon-dropdown"></i>
    </a>
  </div>

  {{#if debt}}
    <div class="issue-meta issue-meta-on-right">
      <i class="icon-debt"></i>
      <span class="issue-meta-label">{{debt}}</span>
    </div>
  {{/if}}

  <div class="issue-meta issue-meta-on-right">
    <a class="issue-action" href="{{rulePermalink}}">Rule</a>
  </div>
</div>

{{#notEmpty comments}}
  <div class="issue-comments">
    {{#each comments}}
      <div class="issue-comment" data-comment-key="{{key}}">
        <div class="issue-comment-author" title="{{userName}}"><i class="icon-comment"></i>&nbsp;{{userName}}</div>
        <div class="issue-comment-text markdown">{{{show html htmlText}}}</div>
        <div class="issue-comment-age">({{fromNow createdAt}})</div>
        <div class="issue-comment-actions">
          {{#if updatable}}
            <a class="js-issue-comment-edit">{{t 'edit'}}</a>&nbsp;
            <a class="link-red js-issue-comment-delete"
               data-confirm-msg="{{t 'issue.comment.delete_confirm_message'}}">{{t 'delete'}}</a>
          {{/if}}
        </div>
      </div>
    {{/each}}
  </div>
{{/notEmpty}}
