<h3 class="coding-rules-detail-header">
  {{name}}
  <a class="coding-rules-detail-permalink" target="_blank" href="{{permalink}}">
    <i class="icon-link"></i> {{t 'coding_rules.permalink'}}
  </a>
</h3>

<span class="subtitle">{{key}}</span>

<div class="coding-rules-detail-description rule-desc markdown">{{{htmlDesc}}}</div>

<div class="modal-foot">
  <a class="overlay-popup-close" title="{{t 'close'}}">{{t 'close'}}</a>
</div>
