<form action="" class="js-manual-issue-form code-issue-create-form">
  {{! no manual rules }}
  {{! <div class="warning" style="margin: 10px"> }}
  {{!   <% if is_admin %> }}
  {{!   <%= message('issue.manual.no_rules.admin') -%> }}
  {{!   &nbsp;<a href="<%= ApplicationController.root_context -%>/manual_rules/index"><%= message('manage') -%></a> }}
  {{!   <% else %> }}
  {{!   <%= message('issue.manual.no_rules.non_admin') -%> }}
  {{!   <% end %> }}
  {{!   &nbsp;<%= link_to_function message('cancel'), 'closeCreateIssueForm(this)' -%> }}
  {{! </div> }}

  <input type="hidden" name="line" value="{{line}}">
  <input type="hidden" name="component" value="{{component}}">

  <div class="code-issue-name">
    <select name="rule">
      {{#each rules}}
        <option value="{{key}}">{{name}}</option>
      {{/each}}
    </select>
  </div>

  <div class="code-issue-msg">
    <table class="width100">
      <tr>
        <td>
          <textarea rows="4" name="message" class="width100 marginbottom5"></textarea>
        </td>
      </tr>
      <tr>
        <td class="js-submit">
          <input type="submit" value="{{t 'create'}}">
          <a class="js-cancel" href="#">{{t 'cancel'}}</a>
        </td>
        <td class="js-spinner" style="display: none;">
          <i class="spinner"></i>
        </td>
      </tr>
    </table>
    <div class="code-issue-errors alert alert-danger hidden"></div>
  </div>

</form>
