<%
  containerId = 'pie-chart-widget' + widget.id.to_s
  chartHeight = widget_properties["chartHeight"]
  chartTitle = widget_properties["chartTitle"]
  filterId = widget_properties["filter"].to_i
  maxItems = widget_properties["maxItems"].to_i

  filter = MeasureFilter.find_by_id(filterId.to_i)
  if filter
    @widget_title = link_to h(filter.name), {:controller => 'measures', :action => 'filter', :id => filter.id, :display => 'list'}
%>

<div class="pie-chart-widget" id="<%= containerId %>">
  <!--[if lte IE 8 ]> <h3><%= message('widget.unsupported_browser_warning') -%></h3> <![endif]-->

  <!--[if (gte IE 9)|!(IE)]><!-->
  <% if chartTitle %>
  <h3><%= h(chartTitle) -%></h3>
  <% end %>
  <!--<![endif]-->
</div>

<!--[if (gte IE 9)|!(IE)]><!-->
<script>
  (function () {
    var metrics = [
          '<%= widget_properties["mainMetric"].name -%>',
          '<%= widget_properties["extraMetric1"].name -%>'
          <% if (widget_properties["extraMetric2"]) %>
          , '<%= widget_properties["extraMetric2"].name -%>'
          <% end %>
        ],
        query = [
          'filter=<%= filterId -%>',
          'metrics=' + metrics.join(','),
          'fields=name,qualifier',
          'pageSize=<%= maxItems -%>',
          'page=1',
          'sort=metric:' + metrics[0],
          'asc=false'
        ].join('&'),
        widget = new SonarWidgets.Widget();

    widget
      .type('PieChart')
      .source(baseUrl + '/measures/search_filter?' + query)
      .metricsPriority(metrics)
      .height(<%= chartHeight %>)
      .options({
        baseUrl: baseUrl + '/dashboard/index',
        noData: '<%= message('no_data') -%>',
        noMainMetric: '<%= message('widget.measure_filter.no_main_metric') -%>'
      })
      .render('#<%= containerId -%>');

    autoResize(500, function() {
      widget.update('#<%= containerId -%>');
    });
  })();
</script>
<!--<![endif]-->
<% else %>
  <p><%= image_tag 'warning.png' %> <%= message 'measure_filter.widget.unknown_filter_warning' -%></p>
<% end %>
