<%
  containerId = 'pie-chart-widget' + widget.id.to_s
  chartTitle = widget_properties['chartTitle']
  filterId = widget_properties['filter'].to_i
  maxItems = widget_properties['maxItems'].to_i
  reverseColor = widget_properties['reverseColor']

  filter = MeasureFilter.find_by_id(filterId.to_i)
  @widget_title = link_to h(filter.name), {:controller => 'measures', :action => 'filter', :id => filter.id, :display => 'list'}
%>

<div class="histogram-widget" id="<%= containerId %>">
  <!--[if lte IE 8 ]> <h3><%= message('widget.unsupported_browser_warning') -%></h3> <![endif]-->

  <!--[if (gte IE 9)|!(IE)]><!-->
  <% if chartTitle %>
  <h3><%= h(chartTitle) -%></h3>
  <% end %>
  <!--<![endif]-->
</div>

<!--[if (gte IE 9)|!(IE)]><!-->
<script>
  (function () {
    var metrics = [
          '<%= widget_properties['colorMetric'].name -%>',
          '<%= widget_properties['sizeMetric'].name -%>'
        ],
        query = [
          'filter=<%= filterId -%>',
          'metrics=' + metrics.join(','),
          'fields=name,qualifier',
          'pageSize=<%= maxItems -%>',
          'page=1',
          'sort=metric:' + metrics[0],
          'asc=false'
        ].join('&'),
        widget = new SonarWidgets.Widget();

    widget
      .type('WordCloud')
      .source(baseUrl + '/measures/search_filter?' + query)
      .metricsPriority(metrics)
      .options({
        reverseColor: <%= reverseColor -%>,
        baseUrl: baseUrl + '/dashboard/index/',
        noData: '<%= message('no_data') -%>'
      })
      .render('#<%= containerId -%>');

    autoResize(500, function() {
      widget.update('#<%= containerId -%>');
    });
  })();
</script>
<!--<![endif]-->




