<div class="line">
  <span class="analysis-reports-project">
    <i class="icon-qualifier-trk"></i>
    <a href="{{dashboardUrl projectKey}}">{{projectName}}</a>
  </span>

  <span class="analysis-reports-timestamp line-small">
    {{#if submittedAt}}Submitted: {{dt submittedAt}}<br>{{/if}}
    {{#if startedAt}}Started: {{dt startedAt}}<br>{{/if}}
    {{#if finishedAt}}Finished: {{dt finishedAt}}<br>{{/if}}
  </span>

  {{#if duration}}
    <span class="analysis-reports-timestamp line-small">
      Duration:
      {{#gt duration.hours 0}}{{duration.hours}}h{{/gt}}
      {{#gt duration.minutes 0}}{{duration.minutes}}m{{/gt}}
      {{duration.seconds}}s
    </span>
  {{/if}}

</div>

<div class="analysis-reports-report-id">{{key}} {{status}}</div>
