<%
lcom=measure('lcom4')
rfc=measure('rfc')
if lcom || rfc
  lcom_distribution=measure('lcom4_distribution')
  rfc_distribution=measure('rfc_distribution')
  suspect_lcom4_density=measure('suspect_lcom4_density')
  %>
<table width="100%">
  <tbody>
    <tr>
      <% if lcom %>
      <td width="50%" valign="top">
        <div class="dashbox">
          <h3><%= message('widget.ckjm.lcom4') -%></h3>
          <p>
            <span class="big"><%= format_measure(lcom, :suffix => '', :default => '-', :url => url_for_drilldown('lcom4')) -%></span><%= message('widget.ckjm.per_class.suffix') -%> <%= dashboard_configuration.selected_period? ? format_variation(lcom) : trend_icon(lcom, :big => true) -%>
          </p>
          <p>
            <%= format_measure(suspect_lcom4_density, :suffix => message('widget.ckjm.files_having_lcom_greater_than_one'), :url => url_for_drilldown('lcom4')) %> <%= dashboard_configuration.selected_period? ? format_variation(suspect_lcom4_density) : trend_icon(suspect_lcom4_density) -%>
          </p>
        </div>
      </td>
      <% end %>
      <% if rfc %>
      <td width="50%" valign="top">
        <div class="dashbox">
          <h3><%= message('widget.ckjm.rfc') -%></h3>
          <p><span class="big">
            <%= format_measure(rfc, :suffix => '', :default => '-', :url => url_for_drilldown('rfc')) -%></span><%= message('widget.ckjm.per_class.suffix') -%> <%= dashboard_configuration.selected_period? ? format_variation(rfc) : trend_icon(rfc, :big => true) -%>
          </p>
        </div>
      </td>
      <% end %>
    </tr>
    <tr>
      <td>
        <%
        if suspect_lcom4_density && suspect_lcom4_density.value>1.0 && lcom_distribution && !lcom_distribution.data.blank?
          query="ck=distbar&c=777777&w=180&h=100&fs=8&bgc=ffffff&v=" + u(lcom_distribution.data)
        %>
          <a href="<%= url_for_drilldown('lcom4') -%>"><%= chart(query, :id => 'lcom4_distribution', :alt => '') -%></a>
        <% end %>
      </td>
      <td>
         <%
         if rfc_distribution && !rfc_distribution.data.blank?
           query="ck=distbar&c=777777&w=180&h=100&fs=8&bgc=ffffff&v=" + u(rfc_distribution.data)
         %>
           <a href="<%= url_for_drilldown('rfc') -%>"><%= chart(query, :id => 'rfc_distribution', :alt => '') -%></a>
         <% end %>
      </td>
    </tr>
  </tbody>
</table>
<% end %>
