<%
  dsm_url = ApplicationController.root_context + '/design/index/' + @resource.key

  file_tangle_index=measure('file_tangle_index')
  if file_tangle_index
    file_cycles=measure('file_cycles')
    file_feedback_edges=measure('file_feedback_edges')
%>
<div class="widget-row">
  <div class="widget-span widget-span-5">
    <div class="widget-measure-container">
      <div class="widget-measure widget-measure-main">
        <span class="widget-label"><%= message('widget.file_design.file_tangle_index') -%></span>
        <span class="nowrap">
          <%= format_measure(file_tangle_index, :suffix => '', :default => '-', :url => dsm_url) -%>
          <%= dashboard_configuration.selected_period? ? format_variation(file_tangle_index) : trend_icon(file_tangle_index, :big => true) -%>
        </span>
      </div>

      <% if file_cycles %>
        <div class="widget-measure">
          <span class="widget-label"><%= message('widget.file_design.cycles.suffix') -%></span>
          <span class="nowrap">
            <span class="widget-medium">&gt;</span>
            <%= format_measure(file_cycles, :default => '-', :url => dsm_url) %>
            <%= dashboard_configuration.selected_period? ? format_variation(file_cycles) : trend_icon(file_cycles) -%>
          </span>
        </div>
      <% end %>
    </div>
  </div>

  <div class="widget-span widget-span-5">
    <% if file_feedback_edges %>
    <div class="widget-measure-container">
      <div class="widget-measure widget-measure-main">
        <span class="widget-label"><%= message('widget.file_design.suspect_file_dependencies') -%></span>
        <span class="nowrap">
          <%= format_measure(file_feedback_edges, :url => dsm_url) -%>
          <%= dashboard_configuration.selected_period? ? format_variation(file_feedback_edges) : trend_icon(file_feedback_edges, :big => true) -%>
        </span>
      </div>
    </div>
    <% end %>
  </div>
</div>
<%
  else
  package_tangle_index=measure('package_tangle_index')
  if package_tangle_index
    package_cycles=measure('package_cycles')
    package_feedback_edges=measure('package_feedback_edges')
    package_tangles=measure('package_tangles')
%>
<div class="widget-row">
  <div class="widget-span widget-span-5">
    <div class="widget-measure-container">
      <div class="widget-measure widget-measure-main">
        <span class="widget-label"><%= message('widget.package_design.package_tangle_index') -%></span>
        <span class="nowrap">
          <%= format_measure(package_tangle_index, :suffix => '', :default => '-', :url => dsm_url) %>
          <%= dashboard_configuration.selected_period? ? format_variation(package_tangle_index) : trend_icon(package_tangle_index) -%>
        </span>
      </div>

      <% if package_cycles %>
        <div class="widget-measure">
          <span class="widget-label"><%= message('widget.package_design.cycles.suffix') -%></span>
          <span class="nowrap">
            <span class="widget-medium">&gt;</span>
            <%= format_measure(package_cycles, :default => '-', :url => dsm_url) %>
            <%= dashboard_configuration.selected_period? ? format_variation(package_cycles) : trend_icon(package_cycles) -%>
          </span>
        </div>
      <% end %>
    </div>
  </div>

  <div class="widget-span widget-span-5">
    <div class="widget-measure-container">
      <div class="widget-measure widget-measure-main">
        <span class="widget-label"><%= message('widget.package_design.dependencies_to_cut') -%></span>
      </div>

      <% if package_feedback_edges %>
        <div class="widget-measure">
          <span class="widget-label"><%= message('widget.package_design.between_packages.suffix') -%></span>
          <span class="nowrap">
            <%= format_measure(package_feedback_edges, :default => '-', :url => dsm_url) %>
            <%= dashboard_configuration.selected_period? ? format_variation(package_feedback_edges) : trend_icon(package_feedback_edges) -%>
          </span>
        </div>
      <% end %>

      <% if package_tangles %>
        <div class="widget-measure">
          <span class="widget-label"><%= message('widget.package_design.between_files.suffix') -%></span>
          <span class="nowrap">
            <%= format_measure(package_tangles, :default => '-', :url => dsm_url) %>
            <%= dashboard_configuration.selected_period? ? format_variation(package_tangles) : trend_icon(package_tangles) -%>
          </span>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%
    end
  end
%>
