<%
  file_tangle_index=measure('file_tangle_index')
  if file_tangle_index
    file_cycles=measure('file_cycles')
    file_feedback_edges=measure('file_feedback_edges')
%>
<table width="100%">
  <tbody>
    <tr>
      <td valign="top" width="50%">
        <div class="dashbox">
          <p class="title"><%= message('widget.file_design.file_tangle_index') -%></p>
          <p>
            <span class="big"><%= format_measure(file_tangle_index, :suffix => '', :default => '-', :url => url_for_drilldown('file_tangle_index')) -%></span> <%= dashboard_configuration.selected_period? ? format_variation(file_tangle_index) : trend_icon(file_tangle_index, :big => true) -%>
          </p>
          <% if file_cycles %>
          <p>
            > <%= format_measure(file_cycles, :suffix => message('widget.file_design.cycles.suffix'), :url => url_for_drilldown('file_cycles')) %> <%= dashboard_configuration.selected_period? ? format_variation(file_cycles) : trend_icon(file_cycles) -%>
          </p>
          <% end %>
        </div>
      </td>
      <td valign="top" width="50%">
        <% if file_feedback_edges %>
        <div class="dashbox">
          <p class="title"><%= message('widget.file_design.suspect_file_dependencies') -%></p>
          <p>
            <span class="big"><%= format_measure(file_feedback_edges, :url => url_for_drilldown('file_feedback_edges')) -%></span> <%= dashboard_configuration.selected_period? ? format_variation(file_feedback_edges) : trend_icon(file_feedback_edges, :big => true) -%>
          </p>
        </div>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
<%
  end
%>