<%
  lcom=measure('lcom4')
  if lcom
    lcom_distribution=measure('lcom4_distribution')
    suspect_lcom4_density=measure('suspect_lcom4_density')
    
    display_chart = suspect_lcom4_density && suspect_lcom4_density.value>1.0 && lcom_distribution && !lcom_distribution.data.blank?
%>
<table width="100%">
  <tbody>
    <tr>
      <td valign="top" width="<%= display_chart ? '50' : '100' -%>%">
        <div class="dashbox">
          <h3><%= message('widget.lcom4.title') -%></h3>
          <p>
            <span class="big"><%= format_measure(lcom, :suffix => '', :default => '-', :url => url_for_drilldown('lcom4')) -%></span><%= message('widget.lcom4.per_class.suffix') -%> <%= dashboard_configuration.selected_period? ? format_variation(lcom) : trend_icon(lcom, :big => true) -%>
          </p>
          <p>
            <%= format_measure(suspect_lcom4_density, :suffix => message('widget.lcom4.files_having_lcom_greater_than_one'), :url => url_for_drilldown('lcom4')) %> <%= dashboard_configuration.selected_period? ? format_variation(suspect_lcom4_density) : trend_icon(suspect_lcom4_density) -%>
          </p>
        </div>
      </td>

      <%
        if display_chart
          query="ck=distbar&c=777777&w=180&h=100&fs=8&bgc=ffffff&v=" + u(lcom_distribution.data)
      %>
      <td valign="top" width="50px">
        <a href="<%= url_for_drilldown('lcom4') -%>"><%= chart(query, :id => 'lcom4_distribution', :alt => '') -%></a>
      </td>
      <% end %>

    </tr>
  </tbody>
</table>
<% end %>
