<table class="data zebra">
  {{> '_widget-issue-filter-total'}}
  {{#each items}}
    <tr>
      <td>
        {{#eq val ''}}
          <a href="{{issueFilterItemLink ../../parsedQuery 'planned' 'false' ../../displayMode}}">{{t 'issue.unplanned'}}</a>
        {{else}}
          <a href="{{issueFilterItemLink ../../parsedQuery 'actionPlans' val ../../displayMode}}">{{default label val}}</a>
        {{/eq}}
      </td>
      <td class="text-right nowrap">
        {{#notNull ../periodDate}}+{{/notNull}}{{issueFilterValue count ../displayMode}}
      </td>
      <td class="barchart">
        <div class="barchart" style="width: 100%;">
          <div style="width: {{percent count ../total}};"></div>
        </div>
      </td>
    </tr>
  {{/each}}
</table>

{{#if maxResultsReached}}
  {{> '_widget-issue-filter-limit'}}
{{/if}}
