<table class="data zebra">
  {{> '_widget-issue-filter-total'}}
  {{#each items}}
    <tr>
      <td>
        {{statusIcon val}}
        <a href="{{issueFilterItemLink ../parsedQuery ../property val ../displayMode}}">{{t 'issue.status' val}}</a>
      </td>
      <td class="text-right nowrap">
        {{#notNull ../periodDate}}+{{/notNull}}{{issueFilterValue count ../displayMode}}
      </td>
      <td class="barchart">
        <div class="barchart" style="width: 100%;">
          <div style="width: {{percent count ../total}};"></div>
        </div>
      </td>
    </tr>
  {{/each}}
</table>

{{#if maxResultsReached}}
  {{> '_widget-issue-filter-limit'}}
{{/if}}
