<form method="POST">
  <input type="hidden" name="id" value="<%= @review.id -%>"/>
  <input type="hidden" name="command" value="<%= @screen.getCommandKey() -%>"/>

  <textarea id="actionText" rows="4" name="text" style="width: 100%"></textarea>
  <%= submit_to_remote "submit_btn",
                       @screen.getCommandKey(),
                       :url => {:action => 'execute'},
                       :html => {:id => "submit_btn"},
                       :before => "$('loading').show();",
                       :update => 'review' -%>
  &nbsp;
  <%= link_to_remote message('cancel'), :url => {:action => 'show', :id => @review.id}, :update => 'review' -%>
    &nbsp;
    <span id="loading" style="display: none;"><%= image_tag 'loading.gif' -%></span>
</form>
