<h3 class="big">
	{{#if post}}POST{{else}}GET{{/if}}
	{{path}}
</h3>
<span class="subtitle">
	{{#if since}}Since {{since}}{{#if internal}} -{{/if}}{{/if}}
	{{#if internal}}For internal use only{{/if}}
</span>
<p>{{description}}</p>
{{#if params}}
<h3>Parameters</h3>
<table>
  {{#each params}}
  <tr>
  	<td style="width:10em">
  		<code>{{key}}</code>
  		<div class="subtitle">{{#if required}}required{{else}}optional{{/if}}</div>
  	</td<>
  	<td>
  		<p>{{description}}</p>
  		{{#if exampleValue}}
  		<em>Example value:</em> <code>{{exampleValue}}</code>
  		{{/if}}
  	</td>
  </tr>
  {{/each}}
</table>
{{/if}}
{{#if hasResponseExample}}
<p><a href="#">Example response</a></p>
{{/if}}