<code>
	{{#if post}}POST{{else}}GET{{/if}}
	/{{key}}{{#if params}}?{{#each params}}{{#if required}}{{key}}={{exampleValue}}&amp;{{/if}}{{/each}}{{/if}}
</code>
<span class="subtitle">Since {{since}}</span>
<p>{{description}}</p>
{{#if internal}}<p class="subtitle">For internal use only</p>{{/if}}
{{#if params}}
<table class="data">
  <thead>
    <tr>
      <th>Key</th>
      <th>Description</th>
    </tr>
  </thead>
  {{#each params}}
  <tr>
  	<td style="width:10em">
  		<code>{{key}}</code>
  		<div class="subtitle">{{#if required}}required{{else}}optional{{/if}}</div>
  	</td<>
  	<td>{{description}}</td>
  </tr>
  {{/each}}
</table>
{{/if}}
{{#if hasResponseExample}}
<p><a href="#">Example response</a></p>
{{/if}}