<h3 class="coding-rules-detail-title">{{t 'coding_rules.parameters'}}</h3>
<table class="coding-rules-detail-parameters">
  {{#each params}}
    <tr class="coding-rules-detail-parameter">
      <td class="coding-rules-detail-parameter-name">{{key}}</td>
      <td class="coding-rules-detail-parameter-description" data-key="{{key}}">
        <p>{{{htmlDesc}}}</p>
        {{#if ../../templateKey}}
          <div class="note spacer-top">
            {{#if defaultValue }}
              <span class="coding-rules-detail-parameter-value">{{defaultValue}}</span>
            {{else}}
              {{t 'coding_rules.parameter.empty'}}
            {{/if}}
          </div>
        {{else}}
          {{#if defaultValue}}
            <div class="note spacer-top">
              {{t 'coding_rules.parameters.default_value'}}<br>
              <span class="coding-rules-detail-parameter-value">{{defaultValue}}</span>
            </div>
          {{/if}}
        {{/if}}
      </td>
    </tr>
  {{/each}}
</table>
