<h3 class="coding-rules-detail-header">
  {{name}}
  <a class="coding-rules-detail-permalink icon-link" target="_blank" href="{{permalink}}"></a>
</h3>

<span class="subtitle">{{key}}</span>

<ul class="coding-rules-detail-properties">
  {{#unless isManual}}
    <li class="coding-rules-detail-property">{{severityIcon severity}}&nbsp;{{t "severity" severity}}</li>
  {{/unless}}

  {{#notEq status 'READY'}}
    <li class="coding-rules-detail-property">{{status}}</li>
  {{/notEq}}

  <li class="coding-rules-detail-property coding-rules-detail-tag-list {{#if canWrite}}coding-rules-detail-tags-change{{/if}}">
    <i class="icon-tags"></i>
    <span>{{#if allTags}}{{join allTags ', '}}{{else}}{{t 'coding_rules.no_tags'}}{{/if}}</span>
  </li>

  {{#if canWrite}}
    <li class="coding-rules-detail-property coding-rules-detail-tag-edit hidden">
      {{#if sysTags}}<i class="icon-tags"></i>
        <span>{{join sysTags ', '}}</span>{{/if}}
      <input class="coding-rules-detail-tag-input" type="text" value="{{#if tags}}{{join tags ','}}{{/if}}">

      <div class="button-group">
        <button class="coding-rules-detail-tag-edit-done">{{t 'Done'}}</button>
      </div>
      <a class="coding-rules-details-tag-edit-cancel">{{t 'cancel'}}</a>
    </li>
  {{/if}}



  <li class="coding-rules-detail-property">{{t 'coding_rules.available_since'}} {{d createdAt}}</li>

  <li class="coding-rules-detail-property">{{default repo.name repo}}{{#unless isManual}} ({{langName}}){{/unless}}</li>

  {{#if isTemplate}}
    <li class="coding-rules-detail-property"
        title="{{t 'coding_rules.rule_template.title'}}">{{t 'coding_rules.rule_template'}}</li>
  {{/if}}

  {{#if templateKey}}
    <li class="coding-rules-detail-property"
        title="{{t 'coding_rules.custom_rule.title'}}">{{t 'coding_rules.custom_rule'}}
      (<a href="#rule_key={{templateKey}}">{{t 'coding_rules.show_template'}}</a>)
    </li>
  {{/if}}
</ul>

{{#if subCharacteristic}}
  <ul class="coding-rules-detail-properties">
    <li class="coding-rules-detail-property">{{subCharacteristic}}</li>

    {{#if debtRemFnType}}
      <li class="coding-rules-detail-property">
        <span title="{{t 'coding_rules.remediation_function'}}">
          {{t 'coding_rules.remediation_function' debtRemFnType}}
        </span>
      </li>
    {{/if}}

    {{#if debtRemFnCoeff}}
      <li class="coding-rules-detail-property">
        <span title="{{t 'coding_rules.remediation_function.coeff'}}">
          {{debtRemFnCoeff}}
        </span>
      </li>
    {{/if}}

    {{#if debtRemFnOffset}}
      <li class="coding-rules-detail-property">
        <span title="{{#eq debtRemFnType 'CONSTANT_ISSUE'}}{{t 'coding_rules.remediation_function.constant'}}{{else}}{{t 'coding_rules.remediation_function.offset'}}{{/eq}}">
          {{debtRemFnOffset}}
        </span>
      </li>
    {{/if}}
  </ul>
{{/if}}
